Repository cmss13-devs/cmss13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Fira, @stanalbatross, @Agameofscones, @Monkeysfist101, @nauticall, @Nanu308

material casters
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/gear_presets/yautja.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

various optimizations for area/sound/weather
  code/controllers/subsystem/weather.dm
  code/datums/effects/weather.dm
  code/datums/soundOutput.dm
  code/datums/weather/weather_map_holder.dm
  code/game/area/areas.dm
  code/game/area/space_station_13_areas.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/living_defense.dm
Owners: @Fira

pred capes
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/yautja.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Owners: @Agameofscones, @Monkeysfist101, @nauticall, @Nanu308

quickfix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Owners: @Agameofscones, @nauticall, @Nanu308

various sprite fixes
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

quickfix for late join landmarks (#191)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Owners: @Agameofscones, @nauticall, @Nanu308

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

Mop Gameplay Overhaul
  code/__DEFINES/skills.dm
  code/_globalvars/global_lists.dm
  code/datums/datumvars.dm
  code/datums/skills.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/tools/cleaning_tools.dm
  code/game/objects/structures/stool_bed_chair_nest/janicart.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  icons/effects/attacks.dmi
  icons/obj/janitor.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

current belt mode now viewable on examine
  code/game/objects/items/storage/belt.dm
Owners: none

hardpoint_check (#181)
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/holder/holder.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

Xeno QoL tweaks
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

tweak
  code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

adds cat meowing (#156)
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  sound/voice/cat_meow_1.ogg
  sound/voice/cat_meow_2.ogg
  sound/voice/cat_meow_3.ogg
  sound/voice/cat_meow_4.ogg
  sound/voice/cat_meow_5.ogg
  sound/voice/cat_meow_6.ogg
Owners: @Fira

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

Yautja Falcon Drone (#123)
  ColonialMarinesALPHA.dme
  code/__DEFINES/equipment.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/objs.dm
  code/modules/cm_preds/falcon.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  icons/mob/hud/hud.dmi
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

sprites
  code/game/objects/items/tools/synth_bracer/abilities/integrated_phone.dm
  code/game/objects/items/tools/synth_bracer/abilities/reflex_overclock.dm
  code/game/objects/items/tools/synth_bracer/abilities/repair_form.dm
  code/game/objects/items/tools/synth_bracer/abilities/rescue_hook.dm
  code/game/objects/items/tools/synth_bracer/synth_bracer.dm
  icons/mob/humans/onmob/synth/bracer.dmi
  icons/obj/items/synth/bracer.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

b
  code/modules/defenses/defenses.dm
  code/modules/defenses/sentry.dm
Owners: none

Shotgun Fire Delay Groups
  code/__DEFINES/conflict.dm
  code/__DEFINES/guns.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/shotguns.dm
Owners: none

re-add sprites
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

Xeno Acid Damage Buff
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Owners: none

return the 1.5 second delay to the MOU series
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/shotguns.dm
Owners: none

Breaching Damage Nerf
  code/datums/elements/bullet_trait/damage_boost.dm
Owners: none

tweaks hunter weapons
  code/modules/cm_preds/yaut_weapons.dm
Owners: none

Queen Hiveweed Building
  code/__DEFINES/xeno.dm
  code/_globalvars/global_lists.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  icons/mob/hud/actions.dmi
Owners: @Agameofscones, @Monkeysfist101, @nauticall

i hate indentation
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Owners: none

typo
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Owners: none

Heavy Armor Acid Buff
  code/modules/clothing/suits/marine_armor.dm
Owners: none

fixes typos in the req vendors and other places (#182)
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/cm_marines/equipment/grenade_packets.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

Fixes GBP a bit
  .github/gbp.toml
Owners: none

Properly takes into account MOB_SIZE_XENO_SMALL.
  code/modules/projectiles/ammo_datums.dm
Owners: none

offhanders
  code/modules/projectiles/gun_attachables.dm
Owners: none

Fix to macros
  code/modules/projectiles/gun_helpers.dm
Owners: none

fixes missing apcs (#184)
  code/game/area/LV624.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Owners: @Agameofscones, @nauticall, @Nanu308

Automatic changelog compile [ci skip]
  html/changelogs/archive/2022-05.yml
Owners: none

changes
  code/modules/economy/ATM.dm
Owners: none

cat
  code/modules/economy/ATM.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Fira

/.dockerignore @Fira
/code/controllers/subsystem/atoms.dm @Fira
/code/controllers/subsystem/mapping.dm @Fira
/code/controllers/subsystem/sound.dm @Fira
/code/controllers/subsystem/predships.dm @Fira
/code/controllers/subsystem/quadtrees.dm @Fira
/code/datums/quadtree.dm @Fira
/code/datums/soundOutput.dm @Fira
/code/game/cas_manager/ @Fira
/code/game/machinery/computer/dropship_weapons.dm @Fira
/code/game/sound.dm @Fira
/code/game/world.dm @Fira
/code/modules/mapping/reader.dm @Fira
/code/modules/mapping/map_template.dm @Fira
/code/modules/nightmare/ @Fira
/tools/docker/ @Fira
/Dockerfile @Fira

# Stan_Albatross

/code/modules/projectiles/guns/lever_action.dm @stanalbatross
/code/game/objects/items/backpack_sprayers.dm @stanalbatross
/code/game/objects/items/tools/experimental_tools.dm @stanalbatross

# MULTIPLE OWNERS
/icons/ @Agameofscones @Monkeysfist101 @nauticall
/maps/ @Agameofscones @nauticall @Nanu308
