Repository cmss13-devs/cmss13, pull requests merged in 2022-11, with the labels that each got.

#1068 Floor Fixes
  code/game/turfs/floor_types.dm
Labels: Fix, Grammar and Formatting, Stale

#1238 Staff Permission Changes
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  code/game/verbs/who.dm
  code/global.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
Labels: Fix, Admin

#1360 Makes Liaison spawn in the correct place
  code/game/jobs/job/civilians/other/liaison.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Fix

#1388 Fixes space areas on Shivas elevator nightmare
  maps/map_files/Ice_Colony_v3/sprinkles/30.labs-elevator_alternate.dmm
Labels: Fix, Mapping

#1357 Removes ceramic plates from new contractors
  code/modules/gear_presets/contractor.dm
Labels: Balance, Architect Approved

#1391 Fixes M2C users being stunned by crushers for an absurd amount of time
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#1324 Kutjevo light and APC fix
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping Approved

#1217 TGUI Clothing Vendors
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/asset_cache/asset_list_items.dm
  tgui/packages/tgui/interfaces/VendingSorted.tsx
  tgui/packages/tgui/styles/interfaces/VendingSorted.scss
Labels: UI, Testmerge Candidate

#1374 Xenonid Hugger Fix
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#1289 Weather Refactor
  ColonialMarinesALPHA.dme
  code/__DEFINES/layers.dm
  code/__DEFINES/weather.dm
  code/_globalvars/misc.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/controllers/_DynamicAreaLighting_TG.dm
  code/controllers/subsystem/weather.dm
  code/datums/effects/weather.dm
  code/datums/effects/weather/sorokyne.dm
  code/datums/weather/weather_event.dm
  code/datums/weather/weather_events/big_red.dm
  code/datums/weather/weather_events/faction_clash.dm
  code/datums/weather/weather_events/lv624.dm
  code/datums/weather/weather_events/sorokyne.dm
  code/datums/weather/weather_map_holder.dm
  code/datums/weather/weather_map_holders/big_red.dm
  code/datums/weather/weather_map_holders/faction_clash.dm
  code/datums/weather/weather_map_holders/lv624.dm
  code/datums/weather/weather_map_holders/sorokyne.dm
  code/game/area/BigRed.dm
  code/game/area/DesertDam.dm
  code/game/area/LV624.dm
  code/game/area/admin_level.dm
  code/game/area/areas.dm
  code/game/area/kutjevo.dm
  code/game/area/shiva.dm
  code/game/area/space_station_13_areas.dm
  code/game/area/techtree.dm
  code/game/atoms.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/game/supplyshuttle.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob.dm
  icons/effects/weather.dmi
  maps/bigredv2.json
  maps/lv624.json
Labels: Feature, Refactor, Testmerge Candidate

#1397 Origin System Framework
  ColonialMarinesALPHA.dme
  code/__DEFINES/human.dm
  code/__DEFINES/origins.dm
  code/_globalvars/global_lists.dm
  code/datums/datacore.dm
  code/datums/origin/civilian.dm
  code/datums/origin/origin.dm
  code/datums/origin/upp.dm
  code/datums/origin/uscm.dm
  code/defines/procs/records.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_factions.dm
  code/modules/client/preferences_gear.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/names.dm
  config/names/last.txt
Labels: Feature

#1379 Spell checks "huggers" to "facehugger", makes playable hugger join message clearer.
  code/datums/medal_awards.dm
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
Labels: Grammar and Formatting

#1392 Putting bursted bodies in morphers also disrupts grabs
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Labels: Fix

#1399 Fixed Bicaridine Pill Packet spelling error on icon
  code/game/objects/items/storage/firstaid.dm
  icons/obj/items/chemistry.dmi
Labels: Grammar and Formatting, Sprites Approved

#1354 Wiki Guide Integration
  code/__DEFINES/urls.dm
  code/game/jobs/job/civilians/other/liaison.dm
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/job/civilians/support/cmo.dm
  code/game/jobs/job/civilians/support/doctor.dm
  code/game/jobs/job/civilians/support/nurse.dm
  code/game/jobs/job/civilians/support/researcher.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/jobs/job/command/auxiliary/crew_chief.dm
  code/game/jobs/job/command/auxiliary/intel.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/command/auxiliary/tankcrew.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/command/cic/executive.dm
  code/game/jobs/job/command/cic/staffofficer.dm
  code/game/jobs/job/command/police/cadet_police.dm
  code/game/jobs/job/command/police/chief_police.dm
  code/game/jobs/job/command/police/police.dm
  code/game/jobs/job/command/police/warden.dm
  code/game/jobs/job/logistics/cargo/cargo_tech.dm
  code/game/jobs/job/logistics/cargo/chief_req.dm
  code/game/jobs/job/logistics/engi/chief_engineer.dm
  code/game/jobs/job/logistics/engi/maint_tech.dm
  code/game/jobs/job/logistics/engi/ordnance_tech.dm
  code/game/jobs/job/marine/squad/engineer.dm
  code/game/jobs/job/marine/squad/leader.dm
  code/game/jobs/job/marine/squad/medic.dm
  code/game/jobs/job/marine/squad/rto.dm
  code/game/jobs/job/marine/squad/smartgunner.dm
  code/game/jobs/job/marine/squad/specialist.dm
  code/game/jobs/job/marine/squad/standard.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Quality of Life, Code Improvement

#1400 Creates a new tile for the predator ship
  code/game/turfs/open.dm
  maps/predship/huntership.dmm
Labels: Fix, Mapping Approved

#1186 Marine HUD Updates
  code/__DEFINES/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/provost.dm
  code/modules/mob/mob.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/hud_yautja.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
Labels: Sprites, Removal, Sprites Approved

#1403 Mapping: Fixes inconsistant tiles under Almayer airlocks. Adds more "Boots!" magazine issues based on #lorebits and adds two Books with unique item desc to the Almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#1346 Sorokyne crashed ship double APC fix
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Stale, Mapping

#1384 Marine Raiders, MARSOC Lore-Compliancy.
  code/__DEFINES/job.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/job/special/uscm.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/say.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/rifles.dm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Grammar and Formatting, Mapping, Mapping Approved

#1382 Adds janitorial closet to northwest maintenance
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#1394 Re-opens an MR fixing mini flamer dealing damage to Ravagers/Queens as well as their ammo type.
  code/__DEFINES/conflict.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#1413 Fixed View Objective null bug
  code/modules/objectives/data_retrieval.dm
Labels: Fix

#1436 Added access to the back door of Requisitions
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#1423 implements soft pings from tg
  ColonialMarinesALPHA.dme
  code/controllers/subsystem/ping.dm
  code/modules/client/client_procs.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
  tgui/packages/tgui-panel/game/constants.js
  tgui/packages/tgui-panel/game/middleware.js
  tgui/packages/tgui-panel/ping/actions.js
  tgui/packages/tgui-panel/ping/constants.js
  tgui/packages/tgui-panel/ping/middleware.js
  tgui/packages/tgui/backend.ts
Labels: Fix, UI

#1430 Dropship matrices
  ColonialMarinesALPHA.dme
  code/__DEFINES/chemistry.dm
  code/__DEFINES/misc.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/frames/matrix.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  icons/obj/items/devices.dmi
Labels: Feature, Sprites

#1395 Ports Flamer Fire Particles
  code/modules/projectiles/guns/flamer/flamer.dm
  icons/effects/particles/fire.dmi
Labels: Feature, Sprites

#1368 three way item pickup animation pref
  code/__DEFINES/mode.dm
  code/game/objects/items.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/living_defines.dm
Labels: Quality of Life

#1303 Slight Survivor Loot Nerf
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV624/LV624.dmm
Labels: Balance, Mapping Approved

#1433 Claymore bug fix
  code/game/objects/items/explosives/mine.dm
Labels: Fix

#1422 More objectives delete themselves properly, deleted redundant file
  code/game/objects/structures/safe.dm
  code/modules/objectives/basic_objectives.dm
  code/modules/objectives/data_retrieval.dm
  code/modules/objectives/documents.dm
  code/modules/objectives/experimental_devices.dm
  code/modules/objectives/retrieve_items.dm
  code/modules/objectives/safe_cracking.dm
Labels: Code Improvement, Removal

#1416 Makes the medevac system message in shuttle console more obvious
  code/modules/cm_marines/dropship_equipment.dm
Labels: Quality of Life

#1443 Fun Facts: Extended
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/random_facts/damage_fact.dm
  code/datums/statistics/random_facts/kills_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature

#1299 Prosthetic Limbs for Commissioned Officers
  ColonialMarinesALPHA.dme
  code/modules/character_traits/character_trait.dm
  code/modules/character_traits/robotic_limbs.dm
  code/modules/client/preferences.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Feature, Stale

#1441 Object narration permissions.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Labels: Admin

#1439 Fix phone cords being off when using offset placement
  code/datums/beam.dm
Labels: Fix

#1442 Fix for eye surgery.
  code/game/machinery/autodoc.dm
  code/modules/surgery/eye.dm
Labels: Fix

#1366 Underground Zombie Landmarks
  code/_globalvars/lists/mapping_globals.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/mob.dmi
Labels: Sprites, Admin

#1454 fixes tgui constantly autoclosing
  tgui/packages/tgui/backend.ts
Labels: Fix, UI

#1431 Fixes Statpanel Loading (not really, but mostly prevent error)
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
  code/modules/tgui_panel/tgui_panel.dm
  html/statbrowser.html
Labels: Fix

#1348 Weyland-Yutani Corporate Security Goons
  ColonialMarinesALPHA.dme
  code/__DEFINES/equipment.dm
  code/__DEFINES/job.dm
  code/datums/emergency_calls/goons.dm
  code/datums/paygrades/factions/wy/goons.dm
  code/datums/skills.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/objs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/under.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/projectiles/guns/rifles.dm
  icons/mob/humans/onmob/contained/wy_goons.dmi
  maps/corsat.json
  maps/lv624.json
Labels: Feature, Sprites, Sprites Approved

#1458 Mapping: Fixes some corner connector turfs adds a little fence to filt, bigred
  maps/map_files/BigRed/BigRed.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#1470 deletes duplicated skill definitions
  code/datums/skills.dm
Labels: Fix

#1467 Fixes firepatting on snow
  code/game/turfs/auto_turf.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#1465 Grammar fixes and stuff
  code/__DEFINES/chemistry.dm
  code/game/objects/items/frames/matrix.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: GBP: No Update

#1425 Gets rid of item_list / object_list + unused SDQL files
  ColonialMarinesALPHA.dme
  code/_globalvars/lists/object_lists.dm
  code/controllers/subsystem/item_cleanup.dm
  code/datums/datumvars.dm
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/admin/topic/topic_teleports.dm
  code/modules/admin/verbs/SDQL.dm
  code/modules/admin/verbs/SDQL_2.dm
  code/modules/admin/verbs/SDQL_2_parser.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/mob/living/silicon/ai/death.dm
Labels: Code Improvement

#1417 Fix regressions with drinking
  code/game/objects/items/reagent_containers/food/drinks.dm
Labels: Fix, Stale

#1486 Adds BYOND-Tracy support
  .gitignore
  code/_compile_options.dm
  code/game/world.dm
Labels: Code Improvement

#1480 Datumizes `/obj/effect/datacore`
  code/datums/datacore.dm
Labels: Refactor

#1452 Mapping: Fixes firealarm that was on window
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#1488 Spawn Pool fix
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Labels: Fix, Quality of Life

#1409 Perms Fix
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Fix

#1390 Adds a new hairstyle called "Scully 2"
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Sprites

#1500 Breaching charge can now be planted to cargo containers
  code/game/objects/items/explosives/plastic.dm
Labels: Fix

#860 Hair Gradients
  ColonialMarinesALPHA.dme
  code/__DEFINES/human.dm
  code/_globalvars/global_lists.dm
  code/modules/character_traits/character_trait.dm
  code/modules/character_traits/hair_dye.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories/hair_gradients.dm
  icons/mob/humans/hair_gradients.dmi
Labels: Feature, Fix, Sprites, Sprites Approved

#1471 Added some small items to Requisitions, fixed Full Electronics Pouch
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/storage/pouch.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#1498 No more pushups while you shouldnt
  code/modules/mob/living/carbon/human/exercise.dm
Labels: Fix

#1518 Fixes battlefield executions
  code/__DEFINES/conflict.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Removal

#1512 Whiskey Outpost typo
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Grammar and Formatting

#1535 Unused Var
  code/modules/projectiles/projectile.dm
Labels: Fix, GBP: No Update

#1339 Contractor ERT fixes and minor additions
  code/__DEFINES/mode.dm
  code/datums/emergency_calls/contractor.dm
  code/datums/factions/contractor.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/game/objects/items/devices/motion_detector.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/contractor.dm
Labels: Feature, Fix, Grammar and Formatting, Stale

#1515 Fixes a lack of shoes on a corpse preset.
  code/modules/gear_presets/corpses.dm
Labels: Fix

#1497 Fixes Tripod Lamps and candelabras
  code/game/objects/items/devices/flashlight.dm
Labels: Fix, Architect Approved

#1495 Tail stab fixes
  code/__DEFINES/xeno.dm
  code/game/objects/effects/effect_system/foam.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Fix

#1514 Fixes Weeds on Windows
  code/modules/cm_aliens/weeds.dm
  icons/mob/hostiles/weeds.dmi
  icons/turf/walls/windows.dmi
Labels: Fix, Sprites, Sprites Approved

#1474 ASRS Pizza
  code/datums/supply_packs/misc.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Feature

#1472 Bandaid for ASRS animation
  code/game/turfs/floor_types.dm
  code/modules/shuttles/shuttle_supply.dm
  icons/effects/160x160.dmi
  maps/map_files/generic/Admin_level.dmm
Labels: Fix, Sprites, Mapping, Sprites Approved, Mapping Approved

#1468 Fireman Skill Refactor
  code/__DEFINES/skills.dm
  code/_onclick/human.dm
  code/datums/skills.dm
Labels: Fix, Refactor, Code Improvement

#1466 Allows Queen to expand hive weeds into normal weeds
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Balance, Architect Approved

#1463 Added a small visual offset to ammo, mortar shells and grenades on the ground
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/warhead.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/projectiles/ammunition.dm
Labels: Feature

#1540 Fix for paygrades.
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/paygrades/paygrade.dm
  code/modules/gear_presets/contractor.dm
Labels: Fix

#1478 thick nest balance changes and fixes
  code/datums/construction/xenomorph/construction_template_xenomorph.dm
  code/modules/cm_aliens/structures/special/pred_nest.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
Labels: Fix, Balance, Architect Approved

#1534 Typo fixes
  code/datums/emergency_calls/goons.dm
  code/datums/emergency_calls/pmc.dm
  code/modules/cm_tech/techs/marine/tier2/orbital_ammo.dm
Labels: Grammar and Formatting

#1547 put the game panels verb under the panels menu
  code/modules/admin/admin_verbs.dm
Labels: Admin

#1402 Added beaker and bottle UI buttons for Setting Transfer Amount, added more Bluespace Beaker transfer options
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
Labels: Quality of Life, Good First PR

#1438 Infiltrator Synthetic and new Admin Faction feature
  code/__DEFINES/human.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/typecheck/humanoids.dm
  code/datums/mob_hud.dm
  code/datums/skills.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/surgery/headreattach.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: Feature, Fix, Stale, UI, Admin

#1527 Ghost Hijack Timer
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Quality of Life

#1530 Fixing ugly plating around dropship - visual bug
  code/game/turfs/closed.dm
  code/modules/cm_marines/shuttle_backend.dm
  icons/turf/dropship.dmi
  icons/turf/dropship2.dmi
Labels: Fix, Sprites

#1533 Small fixes around Requisitions, Crates and Ammo
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/magazines/shotguns.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Labels: Fix, Quality of Life, Refactor, Grammar and Formatting

#1522 Supply drops now use Drop Pods
  ColonialMarinesALPHA.dme
  code/game/jobs/job/marine/squads.dm
  code/game/supplyshuttle.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/droppod/supply.dm
  tgui/packages/tgui/interfaces/SupplyDropConsole.js
Labels: Feature, Quality of Life, Refactor

#1378 Synthetic Durability and Strength
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/unarmed_attacks.dm
  sound/weapons/synthpunch1.ogg
Labels: Balance, Whitelist Changes, Architect Approved

#1555 Paygrade Display Fix
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
Labels: Feature

#1572 Fix for life status effects updates.
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix, Priority: CRITICAL

#1576 fix facehugger stun not applying + fire and acid resist stun not applying
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#797 Map | LV:522 "Chances Claim" [MDB ignore]
  ColonialMarinesALPHA.dme
  code/__DEFINES/__game.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/sounds.dm
  code/datums/map_config.dm
  code/datums/skills.dm
  code/datums/weather/weather_events/lv522_chances_claim.dm
  code/datums/weather/weather_map_holders/lv522_chances_claim.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/items/tools/shovel_tools.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/closed.dm
  code/game/turfs/shale.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/under.dm
  code/modules/cm_marines/equipment/maps.dm
  code/modules/decorators/weapon_map_decorator.dm
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  code/modules/projectiles/guns/pistols.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/monkey_icos.dmi
  icons/obj/items/clothing/uniforms.dmi
  icons/obj/structures/props/drill.dmi
  icons/obj/structures/props/overhead_ducting.dmi
  icons/obj/structures/props/semiotic_standard.dmi
  icons/turf/dropship3.dmi
  icons/turf/floors/auto_shale.dmi
  map_config/maps.txt
  maps/LV522_Chances_Claim.json
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  sound/soundscape/lv522/indoors/indoor_wind.ogg
  sound/soundscape/lv522/indoors/indoor_wind2.ogg
  sound/soundscape/lv522/outdoors/wind1.ogg
  sound/soundscape/lv522/outdoors/wind2.ogg
  sound/soundscape/lv522/outdoors/wind3.ogg
Labels: Feature, Balance, Sound, Sprites, Stale Exempt, Testmerge Candidate, Mapping, Sprites Approved

#1581 fixes more stuns (tail swipe, plasma immobilizer, vehicle ramming)
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Fix

#1554 Fixes a grammatical mistake in the Big Red roundstart announcement.
  maps/bigredv2.json
Labels: Grammar and Formatting

#1457 Adds the M4A3, M44 Custom to loadout. Makes them cosmetic only removes them from everywhere else (With Nanu's permission)
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/modules/client/preferences_gear.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Feature, Balance, Mapping, Architect Approved, Removal, Mapping Approved

#1300 Adds rocket blast that requires new ear protection to resist.
  code/__DEFINES/traits.dm
  code/game/objects/items/explosives/grenades/flashbang.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/gear_presets/clf.dm
  code/modules/mob/living/carbon/carbon_helpers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/guns/specialist.dm
  icons/mob/humans/onmob/head_1.dmi
Labels: Feature, Sprites, Sprites Approved

#1539 Pointing now points at atoms and not turfs
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/mob.dm
Labels: Quality of Life

#1588 Fix for setting status effects to zero.
  code/modules/mob/living/damage_procs.dm
Labels: Fix

#1558 exception for the statbrowser from topic limit
  code/modules/client/client_procs.dm
Labels: Fix

#1567 Fix marine raider sof ERT not spawning with correct armor.
  code/modules/gear_presets/uscm.dm
Labels: Fix

#1557 Fix pressing Middle/Right click in Statpanel atoms list
  code/game/atoms.dm
Labels: Fix

#1569 Hyper Experimental Ghost Appearance Changes
  code/game/atoms.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/xenomorph/xeno_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/limbs.dm
Labels: Feature, Refactor, Testmerge Candidate

#1585 Fixes typo in metal and plasteel barricades
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Labels: Grammar and Formatting

#1589 Mortar camera console fix
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/machinery.dm
Labels: Fix

#1574 Proper slow application for abduct/dislocate fix
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#1509 Fixes no sound when hitting metal foam
  code/game/objects/effects/effect_system/foam.dm
Labels: Fix

#1531 Sorokyne clothes fix, survivor engi vendor access
  code/game/machinery/vending/vendor_types/engineering.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/corpses.dm
Labels: Fix, Balance, Architect Approved

#1584 crew console now displays ground/ship colours again
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Fix, UI

#1307 Acid tower now hits enemies / xenos on top of it.
  code/modules/cm_aliens/XenoStructures.dm
Labels: Fix, Stale

#1484 New and Improved rocket pod and mini-rocket pod sounds!
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  sound/effects/IncomingRocket.ogg
  sound/effects/rocketpod_fire.ogg
Labels: Sound, Stale

#1370 Squad Identification Fluff and Helmet Garb Buff
  code/__DEFINES/objects.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/storage/internal.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/masks.dmi
Labels: Feature, Sprites, Stale

#1461 Tweaks to Vehicle Ammo in Requisitions
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/hardpoint_modules.dm
Labels: Feature, Fix, Grammar and Formatting

#1538 Create new food category for ASRS.
  ColonialMarinesALPHA.dme
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/food.dm
  code/datums/supply_packs/misc.dm
  code/datums/supply_packs/operations.dm
Labels: Feature

#1602 Fulton Objectives now delete themselves on a gibbed body
  code/controllers/subsystem/objectives.dm
  code/modules/objectives/objective.dm
  code/modules/objectives/retrieve_items.dm
Labels: Fix, Hard Deletes

#1622 fixes for girder deconstruction
  code/game/objects/structures/girders.dm
Labels: Fix

#1432 Small radio refactor
  code/__DEFINES/radio.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
Labels: Code Improvement, Testmerge Candidate, Removal

#1615 fun fact fix
  code/datums/statistics/entities/death_stats.dm
Labels: Fix

#1624 Fixes sandbag duplication bug
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#1611 Fixes all the M4A3 belts being empty
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/gear_presets/other.dm
Labels: Fix

#1475 Resin mark rework
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
  tgui/packages/tgui/interfaces/MarkMenu.js
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/hive_status.scss
Labels: Refactor, UI, Testmerge Candidate

#1473 updates the changelog scripts
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/generate_documentation.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Task.md
  .gitlab/merge_request_templates/Changelog.md
  tools/pull_request_hooks/autoChangelog.js
  tools/pull_request_hooks/changelogConfig.js
  tools/pull_request_hooks/changelogParser.js
  tools/pull_request_hooks/package.json
  tools/pull_request_hooks/removeGuideComments.js
  tools/tgs4_scripts/PreSynchronize.sh
Labels: UI, Github

#1635 changes the repo secret in the compile changelogs workflow
  .github/workflows/compile_changelogs.yml
Labels: Github

#1637 quick fix for changelog workflow
  .github/workflows/compile_changelogs.yml
  .github/workflows/generate_documentation.yml
Labels: Github

#1638 updates the eventscripts for the new changelog system
  .github/workflows/compile_changelogs.yml
  tools/tgs4_scripts/PreCompile.sh
Labels: Github

#1411 Machine Gun Bug Fix
  code/__DEFINES/dcs/signals.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Labels: Fix, Quality of Life, Code Improvement, Testmerge Candidate

#1565 Xeno blood is now finite
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Feature, Fix, Architect Approved

#1556 Assortment of Deletion Fixes
  code/_onclick/hud/radial.dm
  code/datums/skills.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/assembly/signaller.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_tech/hologram.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/handheld.dm
  code/modules/defenses/planted_flag.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/limbs.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/recycling/disposal.dm
  code/modules/vehicles/interior/interior.dm
Labels: Hard Deletes, Code Improvement, Testmerge Candidate

#1528 Allows building resin contructions in doors again
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Balance, Architect Approved

#1625 Fix issues with clothing_traits (SADAR ear protection)
  code/modules/clothing/clothing.dm
Labels: Fix

#1559 dchat + hive notification for player facehuggers hugging
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Feature, GBP: No Update

#1643 Fixes the CMP beret desc
  code/modules/clothing/head/head.dm
Labels: Fix

#1479 standardize numbers of slices you could make for snack items to six and refactor the code.
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Refactor

#1598 Weather Control
  code/controllers/subsystem/weather.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Fix, Admin

#1645 Sorokyne runtime errors fix
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Mapping, Mapping Approved

#1543 CL Breifcase Bugfix
  code/__DEFINES/vendors.dm
Labels: Fix

#1560 Small chem refactor
  ColonialMarinesALPHA.dme
  code/modules/cm_tech/implements/stims.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reactions.dm
  code/modules/reagents/chemical_research/generated_reagents.dm
  code/modules/reagents/chemistry_reactions/food_drink.dm
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/stims.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Refactor, Code Improvement

#1656 fixes mystical the appearing
  code/game/objects/objs.dm
Labels: Fix

#1610 Fixes SEA, RO and Quartermaster's revolvers not spawning in their belt
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
Labels: Fix

#1636 Marines can now shake eachother up from non-weaken stuns.
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#1561 internal mortar camera console fix v2 + VV option for toggling needing APC power for machinery
  code/datums/datumvars.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/machinery.dm
  code/modules/power/lighting.dm
  code/modules/power/power.dm
Labels: Fix

#1658 Fixes LV-522 gamemodes
  maps/LV522_Chances_Claim.json
Labels: Fix

#1646 Small fixes and tweaks
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_macros.dm
Labels: Fix, Quality of Life, Grammar and Formatting

#1599 Fix the missing icon for the really black suit
  icons/obj/items/clothing/uniforms.dmi
Labels: Fix, Sprites, Sprites Approved

#1664 Fixes Xenonid Facehuggers being invisible
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix, Testmerge Candidate

#1652 corrects egg + stair planing
  code/game/objects/structures/misc.dm
  code/modules/cm_aliens/structures/egg.dm
Labels: Fix, Testmerge Candidate

#1619 Strain icon format change
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Labels: Refactor, Testmerge Candidate

#1606 Sets up point blank signal and refactors battlefield executions to use it
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun.dm
Labels: Refactor

#1456 Squad info tgui
  code/_onclick/hud/screen_objects.dm
  code/game/jobs/job/marine/squad_info.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cm_marines/overwatch.dm
  nano/images/squadEngIcon.png
  nano/images/squadFRespIcon.png
  nano/images/squadMedIcon.png
  nano/images/squadRTOIcon.png
  nano/images/squadSGIcon.png
  nano/images/squadSLIcon.png
  nano/images/squadSpcIcon.png
  nano/images/squadTechIcon.png
  nano/templates/squad_info.tmpl
  tgui/packages/tgui/interfaces/SquadInfo.tsx
  tgui/packages/tgui/styles/interfaces/SquadInfo.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, Stale, UI, Testmerge Candidate

#1657 Fixes suppressors not lining up properly (and L42 rails/underbarrels)
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  icons/obj/items/weapons/guns/attachments.dmi
Labels: Fix, Sprites, Sprites Approved

#1639 Facehugger Resprite
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  icons/mob/xenos/facehugger.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#1592 Resprites cats and kitten sprite [corgis and crabs no longer replaced]
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  icons/mob/animal.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/objects.dmi
Labels: Sprites, Code Improvement

#1529 Added unique animations for tail stab, sharp and blunt.
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  icons/effects/attacks.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#1675 Fix Queen Hive Color
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#1655 Fix SSchat initialization
  code/controllers/subsystem/chat.dm
Labels: Fix, Testmerge Candidate, GBP: No Update

#1653 Fixes machinery access
  code/game/machinery/machinery.dm
  code/modules/shuttles/shuttle_console.dm
Labels: Fix, Testmerge Candidate

#1627 Fixed armor SFX and cartridge bayonet VFX not working. Tweaked both.
  code/game/objects/items/storage/misc.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#1681 Changes languages to German and Spanish.
  code/__DEFINES/language.dm
  code/game/objects/items/devices/taperecorder.dm
  code/modules/character_traits/languages.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Grammar and Formatting
