Repository cmss13-devs/cmss13, pull requests merged in 2022-10, with the labels that each got.

#1150 surgical line fix
  code/game/objects/items/tools/surgery_tools.dm
Labels: Fix

#1147 Fix for buckling/stuffing while inside of something
  code/game/objects/objs.dm
  code/game/objects/structures/morgue.dm
Labels: Fix

#1033 Inspection ERTs, also makes Provost ranks USCM ones, take 2
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/provost.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uaac.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_event.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Sprites, Stale, Architect Approved, Sprites Approved

#548 Research Warcrimes
  ColonialMarinesALPHA.dme
  code/__DEFINES/chemistry.dm
  code/__DEFINES/dcs/signals.dm
  code/_globalvars/global_lists.dm
  code/datums/components/healing_reduction.dm
  code/datums/components/speed_modifier.dm
  code/datums/emergency_calls/pmc.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/extended/extended.dm
  code/game/machinery/computer/research.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/items/reagent_containers/spray.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  nano/templates/research_data.tmpl
Labels: Feature, Fix, Stale, Testmerge Candidate, Architect Approved

#1140 USCM Ponchos
  code/__DEFINES/equipment.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/clothing/ties_overlay.dmi
Labels: Feature, Sprites, Sprites Approved

#1157 Better harm intent pill fix
  code/_onclick/click.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/surgery_tools.dm
Labels: Fix, GBP: No Update

#1070 Coats, the Drippening
  ColonialMarinesALPHA.dme
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Labels: Feature, Sprites, Code Improvement, Sprites Approved

#1135 Fix for explosive ammunition.
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#1167 resolved vendor ui readability issues
  tgui/packages/tgui/interfaces/VendingSorted.tsx
  tgui/packages/tgui/styles/interfaces/VendingSorted.scss
Labels: UI

#1162 fixes matrix transforms
  code/datums/matrix_editor.dm
Labels: Admin

#1079 Allows xenos with more than 300 hours to have a double letter postfix
  code/modules/client/preferences.dm
Labels: Feature, Architect Approved

#1161 adds 1 hour human roles timelock to nurse
  code/game/jobs/job/civilians/support/nurse.dm
Labels: Quality of Life

#1060 HPR Buff
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/guns/rifles.dm
  sound/weapons/gun_hpr.ogg
Labels: Balance, Sound, Stale, Testmerge Candidate, Architect Approved

#1175 Poncho access removal
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Removal

#1174 Makes you unable to pounce yourself
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#1145 Re-use Health Scanner UI
  code/game/machinery/adv_med.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_healthscan.dm
Labels: Quality of Life, Code Improvement

#1062 General tail stab
  code/__DEFINES/keybinding.dm
  code/__DEFINES/xeno.dm
  code/datums/keybinding/xenomorph.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_ability_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/power/lighting.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Feature, Balance, Architect Approved

#1171 Removes identical variables from marine armor subtypes
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
Labels: Fix, Refactor

#1152 Big Red easter egg room fix
  maps/map_files/BigRed/BigRed.dmm
Labels: Fix, Mapping

#1179 adds terminals to SMES - Kutjevo
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping, Mapping Approved

#1192 PR template update
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

#1193 Partial Revert of Coats
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
Labels: Removal

#1196 fixes some runtimes
  code/datums/elements/bloody_feet.dm
  code/modules/tgui/tgui.dm
Labels: Fix

#1164 OT demolitions simulator console upgrade
  ColonialMarinesALPHA.dme
  code/game/machinery/computer/demo_sim.dm
  code/modules/tgui/states/not_incapacitated_and_adjacent_strict.dm
  tgui/packages/tgui/interfaces/DemoSim.js
Labels: Feature, Quality of Life, UI

#1191 Research machines tgui part 1 - centrifuge
  code/game/machinery/fax_machine.dm
  code/modules/reagents/chemistry_machinery/centrifuge.dm
  nano/templates/centrifuge.tmpl
  tgui/packages/tgui/interfaces/Centrifuge.js
Labels: UI

#1194 STUI TGUI revive
  code/__HELPERS/logging.dm
  code/modules/admin/STUI.dm
  code/modules/admin/tabs/admin_tab.dm
  nano/templates/STUI.tmpl
  tgui/packages/tgui/interfaces/STUI.js
Labels: UI, Admin

#1125 Science Annex LZ1 Fix
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
Labels: Fix, Stale, Mapping

#1185 Removes clan sword parry
  code/modules/cm_preds/yaut_weapons.dm
Labels: Feature, Balance, Whitelist Changes, Architect Approved, Removal

#1225 Removes the +FUN admin permission, gives smod more event verbs
  code/__HELPERS/type2type.dm
  code/datums/datumvars.dm
  code/global.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/actions/antag.dm
  code/modules/admin/player_panel/actions/fun.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/mob_verbs.dm
  config/example/admin_ranks.txt
Labels: Admin

#1211 Cat meat fix
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Fix

#1210 Fix labeling of living mobs
  code/game/objects/items/tools/misc_tools.dm
Labels: Fix

#1144 Department Suit Storage Options
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Feature, Balance, Stale, Architect Approved

#1228 Fix for trapper's cause_data.
  code/modules/cm_aliens/structures/xeno_structures_boilertrap.dm
Labels: Fix

#1176 escape pod tgui
  code/game/machinery/machinery.dm
  code/modules/shuttles/escape_pods.dm
  nano/templates/escape_pod_console.tmpl
  tgui/packages/tgui/interfaces/EscapePodConsole.js
Labels: UI

#1189 Muted Armor Stripes
  code/modules/clothing/suits/marine_armor.dm
Labels: Feature, Sprites, Sprites Approved

#1226 Cryosleep announcements include job title
  code/defines/procs/announcement.dm
  code/game/machinery/cryopod.dm
Labels: Quality of Life

#1235 Adds empty sound to UGL misfires
  code/modules/projectiles/gun_attachables.dm
Labels: Quality of Life

#1206 Window and Stool fix- Kutjevo
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping, Mapping Approved

#1240 Observers now can see evac timer
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#245 Carrier Hugger Sprites
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
  icons/mob/hostiles/carrier.dmi
Labels: Sprites, Stale, Sprites Approved

#1198 Resin marker for needing weeds
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  icons/mob/hud/actions_xeno.dmi
  icons/mob/hud/xeno_markers.dmi
Labels: Feature, Sprites, Sprites Approved

#1061 Cryomarine Stuff
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_tech/techs/abstract/transitory.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/gear_presets/uscm.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Fix, Balance, Stale, UI, Testmerge Candidate, Architect Approved

#1009 Charger Crusher Balance/Fixes
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
Labels: Fix, Balance, Stale, Architect Approved

#1180 CL rubber bullet color change
  code/modules/projectiles/magazines/pistols.dm
  icons/obj/items/weapons/guns/ammo.dmi
Labels: Feature, Sprites, Sprites Approved

#1248 adds a check to powerloader grabbing
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/multitile/multitile_hardpoints.dm
  code/modules/vehicles/powerloader.dm
Labels: Fix

#1205 XM88 buff
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Balance, Architect Approved

#1246 Squad transfer consistency in the Squad Transfer computer
  code/game/jobs/role_authority.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
Labels: Code Improvement

#1110 greenfire tweaks without bad rebase
  code/__DEFINES/conflict.dm
  code/game/atoms.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Balance, Refactor, Stale

#1094 Tablet beacon and CIC additions
  code/game/jobs/job/command/cic/staffofficer.dm
  code/game/objects/items/devices/cictablet.dm
  code/modules/gear_presets/uscm_ship.dm
  tgui/packages/tgui/interfaces/CommandTablet.js
Labels: Balance, UI, Architect Approved

#1243 Fixed the issue with plastic explosives cause_data and added door type
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/explosives/plastic.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Feature, Fix

#1249 ambient occlusion preference
  code/__DEFINES/layers.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mode.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/game/area/areas.dm
  code/game/machinery/igniter.dm
  code/game/objects/effects/decals/cleanable/cleanable.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/pipes/pipes.dm
  code/game/turfs/open.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/recycling/disposal.dm
Labels: Feature

#1245 Updates CI due to NodeJS12 deprecation
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/labeler.yml
  .github/workflows/update_changelog.yml
Labels: Github

#1275 Typo fix for chargers.
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
Labels: Grammar and Formatting

#1277 A bunch of minor legacy resprites
  icons/obj/items/card.dmi
  icons/obj/items/chemistry.dmi
  icons/obj/items/disk.dmi
  icons/obj/items/drinks.dmi
  icons/obj/items/items.dmi
  icons/obj/items/kitchen_tools.dmi
  icons/obj/items/lighting.dmi
Labels: Sprites

#1239 Adds cans of Wey-Yu beer and IPA to gear loadouts
  code/modules/client/preferences_gear.dm
Labels: Feature

#1270 Fix for tailstab verbs.
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_ability_macros.dm
Labels: Fix

#1220 Adds Xeno QOL improvement by allowing for snow layers to be autocleared
  code/game/turfs/auto_turf.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Quality of Life

#1264 object narration
  code/datums/langchat/langchat.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/mob_verbs.dm
Labels: Admin

#1280 Added Ferret Heavy Industries Power Loaders and Ferret Branded Hat
  code/modules/clothing/head/soft_caps.dm
  code/modules/vehicles/powerloader.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/vehicles/powerloader.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#1219 Lifeboats Simple Edition
  code/__DEFINES/mode.dm
  code/_globalvars/lists/object_lists.dm
  code/controllers/subsystem/shuttles.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/vending/vendor_types/supplies.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/lifeboats.dm
  code/modules/shuttle/shuttle.dm
  icons/obj/structures/machinery/lifeboat.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Sprites, Testmerge Candidate, Mapping, GBP: No Update, Architect Approved, Sprites Approved, Mapping Approved

#999 Pressurized pouch change and addition
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/storage/pouch.dm
Labels: Balance

#1296 Fix for weed plane.
  code/modules/cm_aliens/weeds.dm
Labels: Fix, Priority: High

#1234 Removes Warrior Shield, Implements Lifesteal and Cooldown on Slash Reductions (wit no bad rebase)
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Balance, Testmerge Candidate

#1269 More ballistic goggles
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/glasses.dmi
Labels: Sprites, Sprites Approved

#1281 Fixes Bug with Carrier's hugger icons
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Fix

#1221 STUI Perm changes
  code/modules/admin/STUI.dm
Labels: Stale, Admin

#1295 adds DMAPI v6.0.5 for tgs support, adds a verb to check current server revision
  ColonialMarinesALPHA.dme
  code/__DEFINES/_protect.dm
  code/__DEFINES/tgs.config.dm
  code/__DEFINES/tgs.dm
  code/_globalvars/misc.dm
  code/controllers/mc/master.dm
  code/datums/helper_datums/getrev.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
Labels: Server

#1298 Fixes TOUCH effect of Toxic trait doing nothing
  code/modules/reagents/chemistry_properties/prop_negative.dm
Labels: Fix

#1233 Fixing Hedgehog abilities hurting dead, and related
  code/__DEFINES/conflict.dm
  code/game/objects/shrapnel.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#1309 event scripts for tgs
  tools/tgs4_scripts/PreCompile.sh
  tools/tgs4_scripts/WatchdogLaunch.sh
Labels: Server

#487 Playable Huggers
  ColonialMarinesALPHA.dme
  code/__DEFINES/icon_source_map.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/stats.dm
  code/__DEFINES/typecheck/xenos.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/text.dm
  code/_onclick/xeno.dm
  code/controllers/configuration/entries/icon_source_config.dm
  code/datums/entities/player.dm
  code/datums/entities/player_stat.dm
  code/datums/medal_awards.dm
  code/datums/mob_hud.dm
  code/datums/statistics/entities/death_stats.dm
  code/game/gamemodes/cm_process.dm
  code/game/jobs/role_authority.dm
  code/modules/admin/player_panel/actions/transform.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_helpers.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/emote.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/mob_defines.dm
  icons/mob/hostiles/facehugger.dmi
  icons/mob/xenonids/facehugger.dmi
Labels: Feature, Sprites, Testmerge Candidate, Architect Approved, Sprites Approved

#1294 Queen eye can now move up to 3 tiles away from weeds.
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Balance, Architect Approved

#1263 adds 3 new inview verbs for different narration styles
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic_inview.dm
Labels: Admin

#1212 Fix snack labeling
  code/datums/recipe.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/objs.dm
Labels: Fix, Stale

#1215 Config Example Files Updates
  config/example/admin_ranks.txt
  config/example/admins.txt
  config/example/alienwhitelist.txt
  config/example/motd.txt
  config/example/role_whitelist.txt
Labels: Stale

#1013 Berserk tweaks/buffs.
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Labels: Balance, Testmerge Candidate

#1188 fixes uniform vendor shutters being breakable
  code/game/machinery/doors/shutters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#1312 Xenos Build Animations
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  icons/mob/hostiles/Effects.dmi
  icons/mob/xenonids/Effects.dmi
Labels: Feature, Sprites, Sprites Approved

#1316 Fixes displaced APC in Sorokyne.
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Mapping, Mapping Approved

#1317 Fixes bad anti aliasing on resin structures
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/special_structure.dm
  code/modules/cm_aliens/weeds.dm
Labels: Fix

#1067 Allows Xenos to pat ground fire
  code/_onclick/xeno.dm
Labels: Balance, Testmerge Candidate, Architect Approved

#786 Adds Contractor ERT
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/contractor.dm
  code/datums/emergency_calls/pmc.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/skills.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/contractor.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/pistols.dm
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/radio.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/gun.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/constants.js
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Balance, Sprites, UI, Architect Approved, Sprites Approved

#1322 APC Muzzle Flashes
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/primary/dual_cannon.dm
  code/modules/vehicles/hardpoints/secondary/frontal_cannon.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  code/modules/vehicles/hardpoints/support/flare.dm
  icons/obj/items/weapons/projectiles.dmi
Labels: Sprites, Sprites Approved

#1311 Fixes Carrier Hugger Icons Again [GBP NO UPDATE]
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Fix, GBP: No Update

#1262 ported tg improved buildmode
  ColonialMarinesALPHA.dme
  code/__DEFINES/_click.dm
  code/__DEFINES/misc.dm
  code/_onclick/click.dm
  code/datums/buildmode/buildmode_datum.dm
  code/datums/buildmode/buildmode_objects.dm
  code/modules/buildmode/README.md
  code/modules/buildmode/bm-mode.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/delete.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/outfit.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/client/client_defines.dm
  code/modules/mob/mob_defines.dm
  icons/misc/buildmode.dmi
  icons/turf/overlays.dmi
Labels: Sprites, Admin, Sprites Approved

#1320 Minor changes to the entry messages of the CMO, VC, and CE to be more accurate to what they do
  code/game/jobs/job/civilians/support/cmo.dm
  code/game/jobs/job/command/auxiliary/tankcrew.dm
  code/game/jobs/job/logistics/engi/chief_engineer.dm
Labels: Fix

#1230 Tailstab Hotfix
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#1305 Fixes client/pref checks
  code/__HELPERS/unsorted.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/structures/barricade/metal.dm
  code/modules/client/preferences.dm
  code/modules/projectiles/full_auto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#1291 All fueltank dispensers are wrenchable
  code/game/objects/structures/reagent_dispensers.dm
Labels: Fix

#1059 Player Panel human name reset and ban
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: UI, Admin

#1328 moves cable to the correct plane
  code/modules/power/cable.dm
Labels: Fix

#1313 Fixes an unintended bug with the M2C that let you shoot a gun and a weapon at the same time.
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#1340 Fixes defender crest defense not blocking rest
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#1247 Moves grenade antigrief to config.
  code/__DEFINES/admin.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/structures/ladders.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Stale, Config

#1223 Make Morgues, Crematoriums, and Hydro Trays Slashable/Acidable
  code/game/objects/structures/morgue.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Balance, Mapping, Architect Approved, Mapping Approved

#1335 fixes coffins making metal out of wood
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
Labels: Fix

#1331 Fixes Carrier Hugger Icons again again [NO GBP]
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  icons/mob/hostiles/overlay_effects64x64.dmi
Labels: Sprites, GBP: No Update

#1337 Fixing resin object's shading round 2
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/cm_aliens/structures/tunnel.dm
Labels: Fix

#1329 build mode retains previous behaviour of copying variables, fill mode less annoying
  code/modules/buildmode/bm-mode.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/fill.dm
Labels: Admin

#1288 Fixing medical advise
  code/modules/mob/living/living_healthscan.dm
Labels: Fix

#1344 adds new round alert to tgs, removes some legacy from the old box
  ColonialMarinesALPHA.dme
  code/__HELPERS/chat.dm
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
Labels: Fix, Server

#1318 fixed m56d zoom bug
  code/game/objects/items.dm
Labels: Fix

#1292 Fixed resin spikes deleting on evolution
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
Labels: Fix

#1341 Scissorcut bugfix
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
Labels: Fix

#1326 Stops the ability to grab or grab-throw simple animals with C4 on them.
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#1321 Repairing property fix
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix

#1325 fixes building shit on doors
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Fix

#1358 Fix for ordering ammo.
  code/datums/ASRS.dm
  code/game/supplyshuttle.dm
Labels: Fix, Priority: High

#1356 Xeno death alert area name fix
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Fix

#1323 Rebalancing for berserkers buffs. [NO GPB UPDATE]
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
Labels: Balance, GBP: No Update, Architect Approved

#1287 Pred bug fix no.2
  code/game/objects/structures/tables_racks.dm
  code/modules/cm_preds/yaut_procs.dm
Labels: Fix

#1259 Aghost via Ghost Verb
  code/modules/mob/dead/observer/observer.dm
Labels: Stale, Admin

#1362 Pooling bodies now disrupts grab
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Labels: Fix

#1338 Zombie Death Refactor and Tweaks
  code/__DEFINES/mobs.dm
  code/datums/diseases/black_goo.dm
  code/game/objects/items/devices/defibrillator.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Labels: Fix, Balance, Quality of Life, Grammar and Formatting

#1372 prevents soft restarts and forces tgs to kill the process (if available) to restore us to pre-tgs behaviour
  code/game/world.dm
Labels: Server

#1359 update dmapi to v6.0.6 (provides support for 515 even though nothing else does)
  code/__DEFINES/tgs.dm
  code/modules/tgs/v3210/api.dm
Labels: Server

#1363 Removes some useless code from welding helmet
  code/modules/clothing/head/misc_special.dm
Labels: Code Improvement

#1361 Adds suit slot sprites for mateba belts
  icons/mob/humans/onmob/suit_slot.dmi
Labels: Feature, Sprites, Sprites Approved
