Repository cmss13-devs/cmss13, pull requests merged in 2022-04, with the labels that each got.

#27 GItHub/Juke/Docker integration for live game
  .dockerignore
  Dockerfile
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tools/docker/apt-node-prefs
  tools/docker/juke-build.sh
  tools/docker/nodesource.gpg
  tools/docker/nodesource.list
  tools/docker/runner-entrypoint.sh
Labels: UI, Config

#7 Admin midi bugfix
  code/modules/admin/verbs/playsound.dm
Labels: Fix, Good First PR

#10 SG darkness fix
  code/modules/clothing/glasses/night.dm
Labels: Fix

#13 Annex leftover object removal
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Mapping

#36 Fixes the light performance bug
  code/controllers/_DynamicAreaLighting_TG.dm
Labels: Performance, GBP: No Update

#19 Predator Big SD Laugh (MOVIELIKE AF) + big SD fix
  code/modules/cm_preds/yaut_bracers.dm
  sound/voice/pred_deathlaugh.ogg
Labels: Sound, Whitelist Changes, Expansion, Good First PR

#23 Reagent scanner HUD goggles
  code/__DEFINES/traits.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/reagent_containers/blood_pack.dm
  code/game/objects/items/reagent_containers/dropper.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  code/game/objects/items/reagent_containers/pill.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
  code/game/objects/items/reagent_containers/spray.dm
  code/game/objects/items/reagent_containers/syringes.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/mob/mob_helpers.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/obj/items/clothing/glasses.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping

#34 HvH Cleanup Code
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Code Improvement

#43 Midi fix
  code/modules/admin/verbs/playsound.dm
Labels: Fix

#37 New hud styles
  code/_globalvars/global_lists.dm
  code/datums/custom_hud.dm
  code/modules/client/preferences.dm
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_red.dmi
Labels: Sprites, UI

#25 Cade buffs, queen eye slight nerf
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  icons/obj/structures/barricades.dmi
Labels: Balance, Sprites, Balance Approved

#49 log_say Unknown Tweak
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/say.dm
Labels: Logging

#9 Xeno strain purchase and evolving changes
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Feature

#66 xeno huds hotfix
  code/modules/client/preferences.dm
Labels: Fix, Priority: High

#50 XvX Boxer Nerf
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Labels: Balance, Balance Approved

#58 Added pred flavor text and more customization of armor materials.
  ColonialMarinesALPHA.dme
  code/__DEFINES/pred.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/yautja.dm
Labels: Feature

#56 Cigarettes in MREs
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/tools/flame_tools.dm
  icons/obj/items/cigarettes.dmi
Labels: Sprites, Expansion

#41 Set Squad Admin Tool
  code/modules/admin/player_panel/actions/physical.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: UI, Admin

#40 Playtime & IC Medal Icon Disambiguation
  code/modules/clothing/under/ties.dm
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/ties.dmi
  icons/rebase_icons.dmi
Labels: Sprites

#69 SciAnnex Minor Fixes - not broken this time
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Mapping

#47 Synth Storage Access and Fluff
  code/__DEFINES/access.dm
  code/game/area/almayer.dm
  code/game/jobs/access.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Expansion

#46 fixes revolvers failing to load
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/magazines/revolvers.dm
Labels: Fix

#12 Ghost ERT message formatting
  code/datums/emergency_calls/emergency_call.dm
Labels: Fix

#57 fixes force launching the small shuttle
  code/modules/admin/tabs/event_tab.dm
Labels: Fix

#29 port gitlab issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Config

#79 Minor M39 Buff / Tweak
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/smgs.dm
Labels: Balance, GBP: No Update, Balance Approved, Good First PR

#53 Breaching Hammer Girder Hit Fix
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/walls.dm
Labels: Fix

#78 Survivor Snow Suit Bugfix
  code/modules/clothing/suits/labcoat.dm
Labels: Fix, Good First PR

#70 getting noted now sends you a message telling you what the note is
  code/datums/entities/player.dm
  code/modules/admin/player_notes.dm
Labels: Admin

#91 fixes ooc colours
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Fix, UI

#94 predship tweaks
  maps/predship/huntership.dmm
Labels: Mapping

#96 Updates Human Mob and Flayed State
  icons/mob/humans/dam_human.dmi
  icons/mob/humans/species/r_human.dmi
Labels: Sprites

#89 Machete Pouch on Pouch Section
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Fix

#74 Include Youtube-DL In Game Container
  Dockerfile
Labels: Server

#45 Role Bloat Removal
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/marine/squad/engineer.dm
  code/game/jobs/job/marine/squad/leader.dm
  code/game/jobs/job/marine/squad/medic.dm
  code/game/jobs/job/marine/squad/smartgunner.dm
  code/game/jobs/job/marine/squad/specialist.dm
  code/game/jobs/job/marine/squad/standard.dm
  code/game/objects/effects/landmarks/landmarks.dm
Labels: Fix, Code Improvement

#81 Adds codeowners to the repository and ports precommit hooks from tgstation
  .github/CODEOWNERS
  .github/gbp.toml
  tools/hooks/Install.bat
  tools/hooks/README.md
  tools/hooks/Uninstall.bat
  tools/hooks/dmi.merge
  tools/hooks/dmm.merge
  tools/hooks/install.py
  tools/hooks/install.sh
  tools/hooks/merge_frontend.py
  tools/hooks/pre-commit.hook
  tools/hooks/python.sh
Labels: Github

#39 Character Creation Whitelist Display
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Quality of Life

#65 Minor ERT changes
  code/__DEFINES/conflict.dm
  code/datums/emergency_calls/pizza.dm
  code/datums/skills.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm_event.dm
Labels: Balance

#55 Pred Emote Addition
  code/modules/mob/living/carbon/human/emote.dm
Labels: Expansion

#42 Skinned gun resprites
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist.dm
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
Labels: Sprites

#84 Removes disposal pipe dispensers from the USS Almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Good First PR, Removal

#83 The Executive Officer can now get a sword
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Balance

#99 MK1 Underbarrel high toss removed
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#76 Pred Translator Fix
  code/modules/mob/typing_indicator.dm
Labels: Fix

#102 fixes pred sd detonation loc + adds SD message
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#112 drop pouch minor buff
  code/modules/clothing/under/ties.dm
Labels: Balance, Balance Approved

#116 Lowers money Req is given
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Balance, Balance Approved

#95 Readds missing headshot effects, limb gore now coloured to match victim's blood.
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/limbs.dm
  icons/mob/humans/dam_human.dmi
Labels: Fix, Sprites, Expansion

#93 Only PO's can set on FlyBy
  code/modules/shuttles/shuttle_console.dm
Labels: Fix

#108 Character Setup Aesthetic Overhaul
  code/__HELPERS/text.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: UI

#114 Shoulder Holster Quick Fix
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#119 Bugfix: Oxycodone bottle
  code/game/objects/items/reagent_containers/glass/bottle.dm
Labels: Fix

#72 SurvSynth / WJ Nightvision
  code/__DEFINES/human.dm
  code/_globalvars/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life/life_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/surgery/headreattach.dm
Labels: Feature, Whitelist Changes

#111 tweaks req and jtac dark mode comms
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
Labels: Quality of Life, UI

#117 CO & Synthetic vendor expansion
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Balance, Whitelist Changes

#62 CLF overhaul
  code/datums/emergency_calls/mercs.dm
  code/datums/skills.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
Labels: Balance, Balance Approved

#73 Stan's HUD Stuff But Better
  ColonialMarinesALPHA.dme
  code/__DEFINES/hud.dm
  code/_globalvars/global_lists.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/yautja.dm
  code/modules/client/preferences.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/silicon/robot/life.dm
Labels: Refactor

#35 Synth Headset Tracking
  code/__DEFINES/mob_hud.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/tracking.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/game/jobs/role_authority.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/login.dm
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_midnight.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
  icons/obj/items/radio.dmi
Labels: Feature, Sprites

#121 fixes setting up m2cs while inside a tarp
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#124 Yautja Anti-Vehicle HPCs
  code/modules/projectiles/ammo_datums.dm
Labels: Expansion

#130 fixes an inaccuracy in the note message
  code/__DEFINES/urls.dm
  code/datums/entities/player.dm
Labels: Grammar and Formatting

#128 Extra indentation bugfix
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#63 hijack ladders + mess sarge to officers mess ladder
  code/_globalvars/lists/object_lists.dm
  code/game/objects/structures/ladders.dm
  code/modules/shuttles/marine_ferry.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Stale, Mapping, Expansion

#44 Xeno IFF Tags
  ColonialMarinesALPHA.dme
  code/datums/elements/bullet_trait/iff.dm
  code/datums/supply_packs/operations.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  code/modules/cm_tech/techs/marine/tier3/xeno_handler.dm
  code/modules/gear_presets/pmc.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/carbon/xenomorph/items/iff_tag.dm
  icons/obj/items/xeno_tag.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature

#131 ERT Station Phone Fix
  maps/map_files/generic/Admin_level.dmm
Labels: Fix, Mapping

#82 fixes some misaligned cade sprites
  icons/obj/structures/barricades.dmi
Labels: Fix, Sprites

#136 fixes huds not going away
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/meson.dm
Labels: Fix

#142 imrpove round-end notifs and gpanel integration
  ColonialMarinesALPHA.dme
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/stats_collector.dm
  code/game/world.dm
Labels: Server

#141 Fixes an Typo on Survivor Types
  maps/desert_dam.json
Labels: Fix

#140 Fix the inhand sprite for packaged burger
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Fix

#134 QOL: Strip menu buttons rearrangement
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#120 QoL/soundifx: obnoxious SFX nerf
  code/defines/procs/announcement.dm
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/command/cic/captain.dm
  sound/items/defib_charge.ogg
  sound/items/defib_release.ogg
  sound/machines/telephone/telephone_ring.ogg
  sound/misc/sound_misc_boatswain.ogg
  sound/weapons/gun_DE50.ogg
Labels: Fix, Sound

#127 Prevent Wardens from healing other Wardens
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance

#152 Fix Barricade Hit Sounds
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/misc.dm
  code/game/objects/structures/barricade/plasteel.dm
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#150 removes github tos breaching content
  code/modules/mob/living/simple_animal/head.dm
  code/modules/mob/new_player/sprite_accessories.dm
  config/names/ai.txt
  config/names/death_commando.txt
Labels: Removal

#149 Holster + unload fix
  code/modules/clothing/under/ties.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#147 removes elite freelancer armour from merc crates
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Balance

#163 Fix Layer on Cigarrete Vending at Hangar
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#145 buffs spike launcher and plasma pistol
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Balance, Whitelist Changes

#158 Makes the CE HUD wrench golden
  icons/mob/hud/hud.dmi
Labels: Quality of Life, Sprites

#51 XvX Slash Damage Nerf
  code/__DEFINES/xeno.dm
Labels: Balance

#161 Updates/replaces Hotkeys-Help
  interface/interface.dm
  interface/skin.dmf
Labels: Quality of Life

#171 Drops FPW APC gun to 20 secs from 90
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
Labels: Balance

#168 Adds Mop to Autolathe
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/tools/cleaning_tools.dm
Labels: Expansion

#172 Fix Pill Bottle Skill
  code/game/objects/items/storage/firstaid.dm
Labels: Fix

#174 "Fix" compression suit
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Fix

#165 Fix shoes with no sprites for CL and Stowaway
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Fix
