Repository cmss13-devs/cmss13, pull requests merged in 2022-05, with the labels that each got.

#24 Secondary PO and VC gear rooms
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#191 fixes no latejoin landmarks
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Priority: CRITICAL, Mapping

#181 Hardpoint examine skillcheck change
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/holder/holder.dm
Labels: Fix

#180 Xeno QoL tweaks
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Labels: Quality of Life

#156 adds cat meowing
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  sound/voice/cat_meow_1.ogg
  sound/voice/cat_meow_2.ogg
  sound/voice/cat_meow_3.ogg
  sound/voice/cat_meow_4.ogg
  sound/voice/cat_meow_5.ogg
  sound/voice/cat_meow_6.ogg
Labels: Quality of Life, Sound, Expansion

#123 Yautja Falcon Drone
  ColonialMarinesALPHA.dme
  code/__DEFINES/equipment.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/objs.dm
  code/modules/cm_preds/falcon.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  icons/mob/hud/hud.dmi
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Expansion, Sprites Approved

#182 fixes typos in the req vendors and other places
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/cm_marines/equipment/grenade_packets.dm
Labels: Grammar and Formatting

#184 fixes missing apcs
  code/game/area/LV624.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#126 New ATM ability
  code/game/sound.dm
  code/modules/economy/ATM.dm
  sound/voice/cat_meow_7.ogg
Labels: Sound, Expansion

#187 mentorhelp improvements
  code/modules/admin/verbs/adminhelp.dm
  code/modules/mentor/mentorhelp.dm
Labels: Fix, Quality of Life

#166 Fixes omni-sentries being un-activatable after being repaired
  code/modules/defenses/defenses.dm
  code/modules/defenses/sentry.dm
Labels: Fix

#153 Added Cameras to Rec-vend
  code/game/machinery/vending/vending_types.dm
Labels: Expansion

#195 QoL: Medical belt mode now viewable on examining the belt.
  code/game/objects/items/storage/belt.dm
Labels: Quality of Life

#173 ghost vision prefs qol
  code/__DEFINES/misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
Labels: Quality of Life

#205 fixes clf survs having marine iff
  code/modules/gear_presets/survivors.dm
Labels: Fix

#188 Github label now automatically gets applied. Features now cost only 5 GBP. Removes expansion tag
  .github/PULL_REQUEST_TEMPLATE.md
  .github/add_labels.py
  .github/gbp.toml
Labels: Github

#176 Tweaks VC Radio Size
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
Labels: Removal

#213 Ballcap/RO Cap Tweaks
  icons/mob/humans/onmob/head_1.dmi
Labels: Sprites

#178 Hairstyle Improvement
  ColonialMarinesALPHA.dme
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/test/sprites/test_hair_sprites.dm
  code/modules/test/sprites/test_set_sprites.dm
  icons/mob/humans/human_hair.dmi
Labels: Sprites, Sprites Approved

#77 Sorokyne's Easter Miracle (re-adds Soro)
  code/__DEFINES/__game.dm
  code/game/area/strata.dm
  code/game/objects/structures/props.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/walls/wall_types.dm
  icons/turf/floors/auto_strata_grass.dmi
  icons/turf/floors/snow2.dmi
  icons/turf/walls/strata_ice.dmi
  icons/turf/walls/strata_outpost.dmi
  map_config/maps.txt
  maps/Nightmare/maps/Sorokyne_Strate/mapgen.json
  maps/Nightmare/maps/Sorokyne_Strate/mapgen_variations.json
  maps/Nightmare/maps/Sorokyne_Strate/scenario.json
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#200 Hunter Weapon Tweaks
  code/modules/cm_preds/yaut_weapons.dm
Labels: Balance, Balance Approved

#186 USCM Service (and other marine) Jacket Rebalance
  code/modules/clothing/suits/marine_coat.dm
Labels: Balance, Balance Approved

#219 Fixes flare guns not being able to put in various things
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#215 Benefits of leadership.
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/mob.dm
Labels: Fix

#216 Thrown items and cause_data.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#211 Forest/falcontweaks
  ColonialMarinesALPHA.dme
  code/modules/cm_preds/_yaut_defines.dm
  code/modules/cm_preds/falcon.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_procs.dm
Labels: Feature, Code Improvement

#218 Fixes a bug with warrior lunge
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Fix

#157 Changes MedHUD Icon to match the Sprite state
  icons/mob/humans/onmob/eyes.dmi
  icons/obj/items/clothing/glasses.dmi
Labels: Fix, Sprites, Sprites Approved

#228 QoL: viewing helmetless marines now gives a special status message in Overwatch console
  code/modules/cm_marines/overwatch.dm
Labels: Quality of Life

#225 Recalling pred throwables.
  code/modules/cm_preds/smartdisc.dm
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix, Whitelist Changes

#231 Fix MRE Matchbook and Cigarrete
  code/game/objects/items/storage/fancy.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/helmet_garb.dmi
Labels: Fix, Sprites, Sprites Approved

#222 Adds missing vehicle blockers in shivas
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Feature, Mapping, Mapping Approved

#223 cm bugbash spellcheck edition
  code/modules/projectiles/guns/shotguns.dm
Labels: Grammar and Formatting

#229 more medilathe items
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Balance

#236 fixes hud glasses onmobs not going away when taken off
  code/modules/clothing/glasses/glasses.dm
Labels: Fix

#237 cleans up the floors of a weird nightmare insert
  maps/map_files/BigRed/standalone/lambda-cave_extratunnel.dmm
Labels: Fix, Mapping, Mapping Approved

#239 better unnest notifications
  code/__DEFINES/__game.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Quality of Life

#240 Destroys Yautja Queen Stomp
  code/modules/mob/living/carbon/human/emote.dm
Labels: Removal

#242 LV mapping fixes
  maps/map_files/LV624/LV624.dmm
Labels: Fix, Mapping, Mapping Approved

#234 Admin PM Fix
  code/__HELPERS/unsorted.dm
  code/datums/autocells/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/topic/topic_ahelps.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_procs.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Admin

#247 Eggsac carrier typo fix
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Labels: Grammar and Formatting

#251 fixes autodoc typo
  code/game/machinery/autodoc.dm
Labels: Grammar and Formatting

#246 HRP Fire Screaming
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Feature

#233 Uno Buff
  code/__DEFINES/equipment.dm
  code/game/objects/items/toys/cards.dm
  code/game/objects/structures/surface.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/playing_cards.dmi
Labels: Refactor, Sprites

#192 Yautja Customization Overhaul and Sprite Fixes
  code/__DEFINES/clans.dm
  code/__DEFINES/pred.dm
  code/_globalvars/global_lists.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/yaut_hair.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#8 Loose Pressure tank (Gitlab Port)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/tools/maintenance_tools.dm
  icons/obj/items/items.dmi
  icons/obj/items/reagentfillings.dmi
  icons/obj/items/tank.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#258 Fixes DD leader blinding themselves with their own EMP grenades
  code/modules/clothing/glasses/thermal.dm
  code/modules/gear_presets/fun.dm
Labels: Balance, Balance Approved

#255 xeno nv level will now set on chestburst
  code/modules/cm_aliens/structures/special/spawn_pool.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Fix

#214 Balance: CO rifle meltable, CO tablet unmeltable
  code/game/objects/items/devices/cictablet.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Balance, Stale, Balance Approved

#230 Bipod Buff and Move and Look System Refactor
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/event_system.dm
  code/__DEFINES/xeno.dm
  code/_onclick/click.dm
  code/_onclick/xeno.dm
  code/datums/event_system/args.dm
  code/datums/event_system/event.dm
  code/datums/event_system/handler.dm
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_abilities.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Balance, Refactor, Balance Approved

#241 fixes some offsets that were seriously upsetting me
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#268 Lifeboat Shuttle See-Through Obj/tiles
  code/game/objects/structures/props.dm
  icons/turf/lifeboat.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#272 Fixes shoulder holster not being able to hold tasers
  code/modules/clothing/under/ties.dm
Labels: Fix

#160 Fix reboot noises to work under docker setup
  Dockerfile
  code/game/world.dm
  icons/dyn/.keep
  sound/dyn/.keep
  sound/dyn/roundend/CIAPencils.ogg
  sound/dyn/roundend/Game_Over_Man.ogg
  sound/dyn/roundend/NotBadForAHuman.ogg
  sound/dyn/roundend/apcdestroyed.ogg
  sound/dyn/roundend/hysterical.ogg
  sound/dyn/roundend/its_only_game.ogg
  sound/dyn/roundend/lets_get_outta_here.ogg
  sound/dyn/roundend/surrounded_by_assholes.ogg
Labels: Fix, Sound

#260 Synth Synthskin Limbs
  ColonialMarinesALPHA.dme
  code/__DEFINES/_math.dm
  code/__DEFINES/human.dm
  code/datums/elements/suturing.dm
  code/game/blood.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/autodoc.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/robotic_organs_internal.dm
  code/modules/surgery/surgery_procedure.dm
Labels: Feature

#253 Japanese language OVERHAUL
  ColonialMarinesALPHA.dme
  code/modules/flufftext/Japanese.dm
  code/modules/gear_presets/clf.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/languages.dm
Labels: Feature

#197 Xeno Acid Damage Buff
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Balance, Balance Approved

#254 Xeno examine vehicle fix
  code/modules/vehicles/interior/interior.dm
Labels: Fix

#201 Heavy Armor Acid Buff
  code/modules/clothing/suits/marine_armor.dm
Labels: Balance, Stale, Balance Approved

#259 Nesting bug fix
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
Labels: Fix, Logging

#250 Ghost Follow Syntax Tweak
  code/modules/mob/say.dm
Labels: Grammar and Formatting

#199 Queen Hiveweed Building
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/_globalvars/global_lists.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  icons/mob/hud/actions.dmi
Labels: Balance, Sprites, Balance Approved

#275 Lifeboat Survival Cabinet
  ColonialMarinesALPHA.dme
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Feature, Mapping, Mapping Approved

#224 kills and damage taken now carries over between evos
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#281 Fixes spike launcher to actually do extra damage against structures
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#278 Remove resource files separation introduced with docker build
  Dockerfile
Labels: Server

#179 dir locking now slows you down
  code/__DEFINES/pain.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
Labels: Balance, Do Not Merge, Testmerge Candidate

#291 Robolimbs and order of operations.
  code/datums/elements/suturing.dm
  code/game/machinery/autodoc.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/mob.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix, Priority: High

#284 Fix Area Names with no Caps Big Red
  code/game/area/BigRed.dm
Labels: Fix

#289 Fixes Whiskey Outpost Smartgunner goggles
  code/modules/gear_presets/dust_raider.dm
Labels: Fix

#285 Gives admins the ability to modify requisitions points
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
Labels: Feature, Admin

#243 Mouth Item HRP Buff
  ColonialMarinesALPHA.dme
  code/datums/elements/mouth_drop_item.dm
  code/game/objects/effects/effect_system/particle_effects.dm
  code/game/objects/items.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/tools/extinguisher.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/objs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature, Fix

#290 uncomments short hair 3 on a whim
  code/modules/mob/new_player/sprite_accessories.dm
Labels: Feature

#274 CAS deployed sentry description update
  code/modules/defenses/sentry.dm
Labels: Feature

#295 Adds the ability to engrave your zippo with a bayonet
  code/game/objects/items/tools/flame_tools.dm
Labels: Feature

#299 Flamer Crate bugfix
  code/datums/supply_packs/weapons.dm
Labels: Fix, Balance Approved

#297 Allow same xeno to trigger the bell
  code/modules/defenses/bell_tower.dm
Labels: Fix

#296 Generic solution for uniform_restriction
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/equipment.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob.dm
Labels: Fix, Refactor, Good First PR

#303 Fixes description logic for constructable frames (portable comms)
  code/game/machinery/constructable_frame.dm
Labels: Fix

#298 Brings WO CO gear up to par with their Distress Signal equivalent
  code/modules/gear_presets/wo.dm
Labels: Feature, Balance Approved

#238 Yautja Tracking Refactor
  ColonialMarinesALPHA.dme
  code/__HELPERS/game.dm
  code/_globalvars/global_lists.dm
  code/datums/elements/yautja_tracked_item.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Refactor

#306 Dutch's Dozen Jobfix
  code/__DEFINES/job.dm
  code/modules/gear_presets/fun.dm
Labels: Fix

#232 Fixes another bug with warrior pulling
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Fix

#292 New Colored Jumpsuit Sprites
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Sprites, Sprites Approved

#262 Synth Med HUD
  code/datums/mob_hud.dm
  icons/mob/hud/hud.dmi
Labels: Feature, Sprites

#312 Removes powercreep surgical webbings from doc and cmo
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Balance, Balance Approved

#304 M92 Bugfix
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
Labels: Fix, Sprites, Sprites Approved

#321 Arguments for visible_message().
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#280 Ghosts can look at a paper bundle's current page
  code/modules/paperwork/paper_bundle.dm
Labels: Quality of Life

#235 Performant Mob Verbs
  code/game/atoms.dm
  code/game/machinery/bots/mulebot.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/internal.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/verbs/atom_verbs.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/mob_helpers.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/vehicle.dm
Labels: Refactor

#314 removes references to bluespace
  code/game/machinery/teleporter.dm
  code/game/objects/items/reagent_containers/glass.dm
  nano/templates/ert_shuttle_control_console.tmpl
  nano/templates/shuttle_control_console.tmpl
Labels: Removal

#310 New static atmospheric sprites
  icons/obj/structures/machinery/atmos.dmi
Labels: Sprites, Sprites Approved

#332 Canister Pouch Pressurized Tank Bugfix
  code/game/objects/items/reagent_containers/glass.dm
Labels: Fix

#309 Properly removes signal from bipod removal
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#323 Fixes unsanitized text sent to admins
  code/modules/cm_marines/anti_air.dm
Labels: Fix

#322 Fixes an exploit that allowed things to be spawned in null space & Slightly changes previous pull
  code/game/machinery/vending/vendor_types/dress.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Labels: Fix

#318 Fixes unintended behavior with lunge stun fix
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Fix

#334 New Shoulder Holster sprite
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
Labels: Sprites, Sprites Approved

#302 fixes photocopier paper not being written on when copied
  code/modules/paperwork/photocopier.dm
Labels: Fix, Stale

#349 Contributor Style Guide Typo Fix
  .github/guides/STYLES.md
Labels: Good First Issue, Grammar and Formatting, Github

#327 big red virology tweaks
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
Labels: Balance, Mapping, Balance Approved

#196 Shotgun Fire Delay Groups
  code/__DEFINES/conflict.dm
  code/__DEFINES/guns.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/shotguns.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#384 Fixes an exploit with CL briefcase
  code/game/objects/items/devices/portable_vendor.dm
Labels: Fix

#308 More fixes for m56 goggles not showing up for Smartgun using roles on Whiskey Outpost
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/wo.dm
Labels: Fix, Stale

#333 fixes date on autopsy scanner
  code/game/objects/items/devices/autopsy_scanner.dm
Labels: Fix

#315 action buttons for word of the queen and xeno tacmaps
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hud/actions.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#343 New goggle sprites
  code/modules/clothing/glasses/night.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/obj/items/clothing/glasses.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#387 Minor Almayer changes at nanus request
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Removal, Mapping Approved

#388 Flag ooc pref fix
  code/__DEFINES/mode.dm
Labels: Fix

#390 Tunnel state fix
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#193 Mop Gameplay Overhaul
  code/__DEFINES/skills.dm
  code/_globalvars/global_lists.dm
  code/datums/datumvars.dm
  code/datums/skills.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/tools/cleaning_tools.dm
  code/game/objects/structures/stool_bed_chair_nest/janicart.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  icons/effects/attacks.dmi
  icons/obj/janitor.dmi
Labels: Feature, Sprites, Stale

#248 Match Lighting
  code/game/objects/items/tools/flame_tools.dm
  icons/obj/items/cigarettes.dmi
Labels: Feature, Sprites, Stale

#342 Collapsible stocks refactor
  code/modules/projectiles/gun_attachables.dm
Labels: Refactor, Stale

#377 Replace Food sprites with newer ones
  icons/obj/items/food.dmi
Labels: Sprites

#373 New Powerloader Clamp Sprites
  icons/obj/vehicles/vehicles.dmi
Labels: Sprites, Stale

#269 Sandbag Autofill
  code/game/objects/items/tools/shovel_tools.dm
Labels: Fix, Testmerge Candidate

#338 Sanitizes text sent to admins
  code/modules/client/client_procs.dm
Labels: Fix, Stale

#305 New Spray Sprites
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/spray.dmi
Labels: Sprites
