Repository cmss13-devs/cmss13, pull requests merged in 2022-07, with the labels that each got.

#582 Xeno Deathcheck
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Code Improvement

#576 Command Pouch quickdraw
  code/game/objects/items/storage/pouch.dm
Labels: Fix

#561 Smartgun verbs -> action buttons
  ColonialMarinesALPHA.dme
  code/modules/clothing/glasses/night.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/specialist.dm
  icons/mob/hud/actions.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#596 [Bugfix] Fix core cooldown on hijack launch
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#588 Vehicle and hardpoints repair changes
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Feature, Quality of Life, Architect Approved

#612 Hotfix
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix, Priority: High

#485 ERT Timelocks and Tweaks
  code/__DEFINES/mode.dm
  code/_globalvars/global_lists.dm
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/deus_vult.dm
  code/datums/emergency_calls/dutch.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/emergency_calls/pirates.dm
  code/datums/emergency_calls/pmc.dm
  code/datums/emergency_calls/provost.dm
  code/datums/emergency_calls/riot.dm
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/upp_commando.dm
  code/datums/emergency_calls/whiskey_outpost.dm
  code/modules/client/client_procs.dm
  code/modules/gear_presets/upp.dm
Labels: Feature, Fix, Architect Approved, Admin

#589 Clamping tweaks
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Feature, Architect Approved

#601 Buffed compact defib from 7 to 10 charges
  code/game/objects/items/devices/defibrillator.dm
Labels: Balance, Architect Approved

#592 Misc vehicle fixes
  code/__DEFINES/vehicle.dm
  code/game/objects/items/devices/motion_detector.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
  code/modules/vehicles/interior/interior.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Feature, Fix, Code Improvement, Architect Approved

#600 Balance: synthskin arms no longer malf below a 10 combined damage threshold
  code/modules/organs/limbs.dm
Labels: Balance, Architect Approved

#607 Adds a way to change GL firing levels
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/specialist.dm
  icons/mob/hud/actions.dmi
Labels: Feature, Balance, Sprites, Architect Approved, Sprites Approved

#579 fixes not unwielding when putting items on people
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/projectiles/gun.dm
Labels: Fix

#615 Disables observing peoples' inventories as a ghost.
  code/modules/mob/mob_verbs.dm
  tgui/packages/tgui/interfaces/Orbit.tsx
Labels: UI, Removal

#610 Fixes USCM uniform and CO armor not being mutually wearable
  code/modules/clothing/suits/marine_armor.dm
Labels: Fix

#190 Sweeping perf changes to Area/Sound/Weather, targeted for Sorokyne
  code/controllers/subsystem/weather.dm
  code/datums/effects/weather.dm
  code/datums/soundOutput.dm
  code/datums/weather/weather_map_holder.dm
  code/game/area/areas.dm
  code/game/area/space_station_13_areas.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/living_defense.dm
Labels: Refactor, Testmerge Candidate

#92 Taskboard Request: "Greenfire" Unification and Rework
  code/__DEFINES/weapon_stats.dm
  code/_onclick/item_attack.dm
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/tools/extinguisher.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/flamer/flameshape.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature, Testmerge Candidate, GBP: No Update, Architect Approved

#339 Lore Accurate Blowtorches
  code/game/objects/items/tools/maintenance_tools.dm
Labels: Balance, Architect Approved

#606 Underwear Expansion
  ColonialMarinesALPHA.dme
  code/_globalvars/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories/facial_hair.dm
  code/modules/mob/new_player/sprite_accessories/hair.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories/tattoo.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  code/modules/mob/new_player/sprite_accessories/yautja_hair.dm
  icons/mob/humans/human.dmi
  icons/mob/humans/undershirt.dmi
  icons/mob/humans/underwear.dmi
Labels: Feature, Sprites, Sprites Approved

#623 Revert "Sticky Key Fix (#571)"
  html/statbrowser.html
Labels: Removal

#587 Fixes NE side of briefing platform
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#621 Pickup macro fix
  code/modules/mob/mob_helpers.dm
Labels: Fix

#617 Check for Simple mob
  code/game/objects/items/reagent_containers/hypospray.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#629 fixes teslas firing through closed doors
  code/modules/defenses/tesla_coil.dm
Labels: Fix

#630 fixes UI alpha and colour prefs
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#627 largecrate attack_alien fix
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#598 [Code] Human status check after health updates
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
Labels: Code Improvement

#593 c4 and lockers
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
Labels: Fix

#632 Removes some* Ledges on Soro
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping, Removal

#568 Nearsighted characters now CONFIRMED to always keep their glasses
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/wo.dm
Labels: Feature, Fix, Grammar and Formatting, Architect Approved

#500 Re-add Small RTO Packs
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Balance, Stale

#595 [Bugfix] Flamer's damage should be approriate for objects that handle it
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix, Balance, Architect Approved

#642 More Cultist Tweaks
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Fix

#650 General Officer tweaks
  code/__DEFINES/job.dm
  code/__DEFINES/skills.dm
  code/datums/factions/uscm.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/skills.dm
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/game/jobs/job/special/uscm.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/rank_pins.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/projectiles/guns/revolvers.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/screen1.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/card.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
  maps/templates/Chinook.dmm
Labels: Feature, Fix, Admin

#325 soloCup
  code/game/objects/items/misc.dm
  code/game/objects/items/reagent_containers/food/drinks.dm
  icons/obj/items/cup.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#655 (Mapping) Minor Almayer Edits
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Removal, Mapping Approved

#633 Various changes to the Whiskey Outpost map
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Feature, Balance, Removal, Mapping Approved

#651 CO minimum age change
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Whitelist Changes

#664 Fixes not being able to make flour from wheat and soymilk from soy
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
Labels: Fix

#640 Adds Scottish and Welsh flag support to the OOC country flag system
  code/modules/client/country_flags.dm
  icons/flags.dmi
Labels: Feature, Sprites, Architect Approved

#622 Xeno Crit Grace Period + Fix
  code/__DEFINES/sounds.dm
  code/datums/soundOutput.dm
  code/game/area/BigRed.dm
  code/game/area/DesertDam.dm
  code/game/area/IceColony.dm
  code/game/area/LV624.dm
  code/game/area/almayer.dm
  code/game/area/areas.dm
  code/game/area/areas_event.dm
  code/game/area/chinook.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/mob_defines.dm
Labels: Feature, Testmerge Candidate, Architect Approved

#637 Vehicle misc fixes
  code/modules/vehicles/apc/interior.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/interior/interior.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Fix

#652 More ERT Stuff
  code/__DEFINES/__game.dm
  code/__DEFINES/flags.dm
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/deus_vult.dm
  code/datums/emergency_calls/dutch.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/emergency_calls/pirates.dm
  code/datums/emergency_calls/pmc.dm
  code/datums/emergency_calls/provost.dm
  code/datums/emergency_calls/riot.dm
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/upp_commando.dm
  code/datums/emergency_calls/whiskey_outpost.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Feature, Fix

#605 fixes fixing vendors
  code/game/machinery/vending/cm_vending.dm
Labels: Fix

#638 "add all to buffer/beaker/disposal" button
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Quality of Life

#674 Fixes the British flag in ooc
  code/modules/client/country_flags.dm
Labels: Fix

#670 Mapping: Fixes the stuff I broke in the VC room
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, GBP: No Update, Mapping Approved

#677 Galoshes Slowdown Removal
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Removal

#659 Minor consistency changes to preferences
  code/__DEFINES/human.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_factions.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#563 Fixes restocking defibs/power cells cheese
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vending.dm
  code/global.dm
Labels: Fix, Balance, Stale, Architect Approved

#611 Cloaked bell nerf part 2
  code/modules/defenses/bell_tower.dm
Labels: Balance, Architect Approved

#653 makes the chinese messages utf compliant
  code/modules/mob/language/languages.dm
Labels: Code Improvement

#686 Fix for fixing hardpoints.
  code/modules/vehicles/hardpoints/hardpoint.dm
Labels: Fix

#671 Object-Bound Langchat
  code/datums/langchat/langchat.dm
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/movement/movement.dm
Labels: Feature

#679 Minor surgery fix in interior and shuttles
  code/__DEFINES/surgery.dm
  code/modules/surgery/surgery_initiator.dm
  code/modules/surgery/surgery_steps.dm
Labels: Fix

#658 Autoturf Fix
  code/game/turfs/open.dm
Labels: Fix

#687 Fix for special roles' nightvision.
  code/datums/diseases/black_goo.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/night.dm
  code/modules/gear_presets/pmc.dm
Labels: Fix

#688 Floor tile ids.
  ColonialMarinesALPHA.dme
  code/game/objects/items/stacks/catwalk.dm
  code/game/objects/items/stacks/tiles/light.dm
  code/game/objects/items/stacks/tiles/plasteel.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/floor_types.dm
Labels: Fix

#641 removes the mixed metal plas crate
  code/datums/supply_packs/engineering.dm
Labels: Balance, Architect Approved

#644 m2c far vision nerf (standing still like a zombie nerfs part 1)
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Balance, Architect Approved

#683 TGUI radios
  ColonialMarinesALPHA.dme
  code/controllers/subsystem/communications.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/tgui/states/not_incapacitated.dm
  code/modules/tgui/states/not_incapacitated_and_adjacent.dm
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/Radio.js
  tgui/public/tgui-panel.bundle.css
Labels: Feature, UI

#698 Laser z checks.
  code/game/objects/items/devices/binoculars.dm
Labels: Fix

#701 Keybinds for specialist actions.
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
Labels: Quality of Life

#680 CL QOL Changes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Good First PR, Removal, Mapping Approved

#689 fixes for activating pred cloak while dead
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#703 Fix: desert flora can now be cut down
  code/game/objects/structures/flora.dm
Labels: Fix

#693 Fix for reflective walls.
  code/game/turfs/walls/wall_types.dm
Labels: Fix

#713 Fixes for Who.
  code/game/verbs/who.dm
Labels: Admin

#669 Adds Ceramic Plates to the CL Briefcase
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/trash.dm
  icons/obj/items/trash.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#691 refactors high impact ammo
  code/__DEFINES/conflict.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Refactor

#719 Smoking fixes/QOLs.
  code/__DEFINES/dcs/signals.dm
  code/game/objects/items/ashtray.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/tools/extinguisher.dm
  code/game/objects/items/tools/flame_tools.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix, Quality of Life

#722 chestburst logging
  code/modules/cm_aliens/structures/special/spawn_pool.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Admin

#720 Fix for generals' armour.
  icons/mob/humans/onmob/suit_1.dmi
Labels: Fix, Sprites

#716 fixes a weird corpse spawner on lv
  maps/map_files/LV624/gym/30.alternate.dmm
Labels: Fix, Mapping

#714 SEA Skill Tweaks
  code/datums/skills.dm
Labels: Balance, Architect Approved

#648 Gardener Buffs Again
  ColonialMarinesALPHA.dme
  code/__DEFINES/xeno.dm
  code/datums/effects/plasma_over_time.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/floors/desert.dm
  code/game/turfs/open.dm
  code/game/turfs/strata.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  icons/mob/hostiles/fruits.dmi
  icons/mob/hud/actions.dmi
Labels: Feature, Balance, Sprites, Stale, Testmerge Candidate, Architect Approved

#654 HoT Healer
  code/__HELPERS/icons.dm
  code/datums/effects/heal_over_time.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/mob_defines.dm
Labels: Fix, Balance, Testmerge Candidate, Architect Approved

#625 APC balance tweaks
  code/__DEFINES/xeno.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
  code/modules/vehicles/hardpoints/wheels/treads.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Balance, Code Improvement, Architect Approved

#721 improvements to the tunnel creation message
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
Labels: Quality of Life

#695 [Bugfix] Accounts for darkness when checking if source can see target
  code/__HELPERS/unsorted.dm
Labels: Fix

#723 clf spec skill consistency
  code/datums/skills.dm
Labels: Fix

#724 Fix for freeing spec kits.
  code/game/machinery/cryopod.dm
Labels: Fix

#692 left side of shiva's snowball nightmare inserts
  maps/Nightmare/maps/Ice_Colony_v3/mapgen.json
  maps/Nightmare/maps/Ice_Colony_v3/mapgen_variations.json
  maps/Nightmare/maps/Ice_Colony_v3/scenario.json
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/lz2-south-caves/20.destroyed_lz2-south-caves.dmm
  maps/map_files/Ice_Colony_v3/lz2-south-caves/30.builtup_lz2-south-caves.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/east-gate/blocked.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/east-gate/closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/east/full-closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/east/half-closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/eastsouth/full-closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/eastsouth/half-open.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/north/full-closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/north/full-open.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/south-gate/blocked.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/south-gate/closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/cleared.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast/full-closed.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast/half-open.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southwest/full-open.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southwest/half-open.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/20.labs-larder.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/30.labs-elevator_alternate.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/33.labs-entrance.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/35.south-spidercave_cleared.dmm
Labels: Feature, Mapping, Mapping Approved

#631 [Balance] Ignited carbon humans take variable damage based on fire reagent now
  code/__DEFINES/weapon_stats.dm
  code/modules/mob/living/carbon/human/life/handle_fire.dm
Labels: Balance, Architect Approved

#715 New Lobbyart Config Update
  config/example/config.txt
Labels: GBP: No Update

#678 energy gun + flash fixes
  code/game/objects/items/circuitboards/robot_modules.dm
  code/game/objects/items/devices/flash.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/items/devices.dmi
  icons/obj/items/weapons/guns/gun.dmi
Labels: Feature, Fix, Sprites, Architect Approved, Sprites Approved

#531 new synthtool: autocompressor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/tools/experimental_tools.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/experimental_tools.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#737 Logging sprays.
  code/game/objects/effects/decals/misc.dm
Labels: Admin

#717 Full-Auto Smartguns
  code/__DEFINES/conflict.dm
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Balance, Architect Approved

#707 QOL: Makes bell tower ringing quieter
  sound/misc/bell.ogg
  sound/misc/bell.wav
Labels: Quality of Life, Sound

#735 adds back langchat FUCK!!!!!!! + langchat emotes
  code/datums/langchat/langchat.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/hellhound/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/xenomorph/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  interface/skin.dmf
Labels: Feature, Removal

#742 removes queen ow fruit
  code/modules/cm_aliens/structures/fruit.dm
Labels: Balance, Architect Approved

#744 Mortar interactions tweaks
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Code Improvement

#747 fixes dancer triple impale
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#746 CO SG fixes
  code/modules/projectiles/guns/smartgun.dm
Labels: Fix

#732 [MDB IGNORE] Survivor Stuff
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/extended/infection.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/jobs/role_authority.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/25.chapel_cult.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Mapping Approved

#730 Fix for logging custom warheads.
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Admin

#748 Changelog Patch
  html/changelogs/archive/2022-07.yml
Labels: Fix, Merge Conflict

#756 Changelog Patch
  html/changelogs/archive/2022-07.yml
Labels: Fix

#676 Powerloader QoL
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/multitile/multitile_hardpoints.dm
  code/modules/vehicles/powerloader.dm
  icons/obj/vehicles/powerloader_clamp.dmi
  icons/obj/vehicles/vehicles.dmi
Labels: Feature, Quality of Life, Sprites, Sprites Approved

#745 Pred bug fixes
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#634 mk1 nerf
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/ammo.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Balance, Sprites, Mapping, Architect Approved, Sprites Approved, Mapping Approved

#761 Fixes not deleting empty DS ammo bug
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/vehicles/powerloader.dm
Labels: Fix

#711 fixes bell going through walls
  code/modules/defenses/bell_tower.dm
Labels: Fix, Stale

#763 JAS update for Marine Law Changes
  code/modules/law/laws/capital_crime.dm
  code/modules/law/laws/major_crime.dm
  code/modules/law/laws/minor_crime.dm
Labels: Fix

#766 SG Balance adjustments
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Fix, Balance, Architect Approved

#685 Supply vendors tweaks and fixes
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/items/stacks/sandbags.dm
  code/modules/projectiles/ammunition.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Labels: Feature, Fix

#731 Falling Falcons Poster
  code/game/objects/effects/decals/posters.dm
  code/game/objects/effects/decals/posters/poster_list.dm
  icons/obj/structures/props/posters.dmi
Labels: Feature, Sprites Approved

#767 Tracker hot fix
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix
