Repository cmss13-devs/cmss13, pull requests merged in 2022-12, with the labels that each got.

#1749 Fancy props
  ColonialMarinesALPHA.dme
  code/game/objects/prop.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/tables_racks.dm
  icons/obj/items/items.dmi
  icons/obj/structures/tables.dmi
Labels: Feature, Sprites, Code Improvement

#1776 Fixes the double hypersleep chamber typo
  code/game/machinery/cryopod.dm
Labels: Grammar and Formatting

#1772 Split ammo boxes into smaller files
  ColonialMarinesALPHA.dme
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/box_structures.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
Labels: Refactor

#1786 boosts the number of operations stalebot can do
  .github/workflows/stale.yml
Labels: Github

#1782 Bumping paperwork field cap to 50
  code/modules/paperwork/paper.dm
Labels: Feature, Good First PR

#1692 fixes power load values
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/computer.dm
  code/modules/power/lighting.dm
  code/modules/power/power.dm
  code/modules/shuttles/shuttle_console.dm
Labels: Fix

#1566 Fire scorches grass :O)
  code/game/turfs/open.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  icons/turf/ground_map.dmi
Labels: Feature, Sprites, Stale, Testmerge Candidate, Sprites Approved

#1794 removes redundant proc overrides for walls
  code/game/turfs/walls/wall_types.dm
Labels: Code Improvement

#1771 Gives the Headbands and Squad Berets clickable OBJ sprites.
  icons/obj/items/clothing/cm_hats.dmi
Labels: Sprites, Sprites Approved

#1684 Feral tuning, burrower tremor can stun enemy xenos.
  code/__DEFINES/xeno.dm
  code/datums/emergency_calls/feral_xenos.dm
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Fix

#1698 Changes the PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Server, Github

#1793 add processing sugar and chocolate and fix meatball
  code/game/machinery/kitchen/processor.dm
Labels: Feature, Code Improvement

#1796 QoL for shovels.
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Quality of Life, Good First PR

#1800 Fixes Adjust-Job-Slots not working
  code/game/jobs/job/job.dm
Labels: Fix, Admin

#1797 Made all the ammo boxes \improper
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammo_boxes/box_structures.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
Labels: Grammar and Formatting

#1803 Fixes light tiles
  code/game/objects/items/stacks/tiles/light.dm
  code/game/turfs/light.dm
Labels: Fix

#1810 Fix vendor malfunctioning runtime
  code/game/machinery/vending/vending.dm
Labels: Fix

#1805 Refilling a Pressurized Reagent Canister Pouch refills its autoinjector
  code/game/objects/items/storage/pouch.dm
Labels: Quality of Life, Code Improvement

#1597 Simple Walking Implementation
  code/__DEFINES/keybinding.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/keybinding/living.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Feature, Stale

#1798 Warrior Nerf {no gpb update}
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Balance, GBP: No Update, Architect Approved

#1814 Some mapping fixes
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#1819 White Podlock
  code/game/machinery/doors/poddoor.dm
  icons/obj/structures/doors/blastdoors_shutters.dmi
Labels: Feature, Sprites, Sprites Approved

#1822 Allow decimals in VV once again
  tgui/packages/tgui/components/RestrictedInput.js
Labels: Fix, UI, Admin

#1824 Gives GL gloves an unique sprite
  code/modules/clothing/gloves/marine_gloves.dm
  icons/mob/humans/onmob/hands.dmi
  icons/obj/items/clothing/gloves.dmi
Labels: Sprites, Sprites Approved

#1828 Fixed runtime error around gibbing a mob with autopsy data
  code/__HELPERS/qdel.dm
  code/_macros.dm
  code/modules/organs/limbs.dm
Labels: Fix, Code Improvement

#1823 Fixes New Varadero Tables
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Mapping, Mapping Approved

#1829 Fixes bad deletion of structure spawners due to stack bleed
  code/game/gamemodes/game_mode.dm
Labels: Code Improvement

#1830 Crusher shield duration fix
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
Labels: Fix, Code Improvement

#1835 SEA alert adds target played time
  code/controllers/subsystem/ticker.dm
  code/modules/mob/new_player/new_player.dm
Labels: Feature

#1769 Change and increase consistency of recipes
  code/datums/recipe.dm
Labels: Quality of Life, Code Improvement

#1254 Removes Commie Costume and PMC Corpse for thematic clothing and corpse on Soro
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Fix, Quality of Life, Stale, Mapping, Mapping Approved

#1802 Added various flasks to loadouts and canteen vendors.
  code/game/machinery/vending/vendor_types/food.dm
  code/game/objects/items/reagent_containers/food/drinks.dm
  code/modules/client/preferences_gear.dm
  code/modules/decorators/christmas.dm
  icons/obj/items/drinks.dmi
Labels: Feature, Sprites, Sprites Approved

#1792 fix point markers, aimed shot and spot target reticles not being centered
  code/game/objects/effects/overlays.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#1838 Fixed carrier runtime and dupe var
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Fix, Code Improvement

#1670 Fixed resin fruit disappearing magically from bloodstream
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Labels: Fix, Stale

#1816 Crushin Canz 💯
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/storage/misc.dm
  icons/obj/items/drinkcans.dmi
  icons/obj/items/drinks.dmi
  sound/items/can_crush.ogg
Labels: Feature, Sound, Sprites, Sprites Approved

#1768 Cloaked belltower alpha increased from 10 (scout) to 35.
  code/modules/defenses/bell_tower.dm
Labels: Balance, Architect Approved

#1847 Observers now get a notification where the crash will land and can jump there to see the fireworks
  code/modules/shuttles/marine_ferry.dm
Labels: Feature

#1827 Fixing batteries and chargers a little
  code/game/machinery/bots/mulebot.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/floodlight.dm
  code/game/machinery/recharger.dm
  code/game/machinery/spaceheater.dm
  code/game/objects/items/devices/drone_devices.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Quality of Life, Code Improvement, Grammar and Formatting, Mapping, Mapping Approved

#1723 Reagent Canister and Pouch overlays
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/storage/pouch.dm
Labels: Quality of Life

#1815 ERT loadout adjustments
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
Labels: Balance, Architect Approved

#1541 Spitter Rework
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/datums/balloon_alerts/balloon_alerts.dm
  code/datums/effects/acid.dm
  code/datums/effects/weak_spray_stack.dm
  code/game/atoms.dm
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/projectiles/ammo_datums.dm
  icons/effects/status_effects.dmi
  icons/mob/hud/actions_xeno.dmi
  icons/mob/xenos/overlay_effects64x64.dmi
Labels: Feature, Balance, Sprites, Sprites Approved

#1852 Visual+ Staffwho
  code/game/verbs/who.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: Feature

#1848 Observer Pointing
  code/_onclick/observer.dm
  code/game/objects/effects/overlays.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#1731 Updating Contributing.md
  .github/CONTRIBUTING.md
Labels: Github

#1820 Minor Xeno Backend Tweaks
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Code Improvement

#1844 Stealth Typing
  code/modules/mob/typing_indicator.dm
Labels: Balance, Architect Approved

#1849 Fix not being able to cook bun
  code/datums/recipe.dm
Labels: Fix

#1831 Money Rework
  code/datums/paygrades/factions/civillian/civilian.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/paygrades/factions/other/dutch_dozen.dm
  code/datums/paygrades/factions/other/freelancer.dm
  code/datums/paygrades/factions/other/misc.dm
  code/datums/paygrades/factions/ress/ress.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/paygrades/factions/uscm/navy.dm
  code/datums/paygrades/factions/uscm/provost.dm
  code/datums/paygrades/factions/wy/goons.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/paygrades/helper.dm
  code/datums/paygrades/paygrade.dm
  code/game/jobs/job/job.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/reagent_containers/food/drinks.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/cash.dm
  code/modules/gear_presets/_select_equipment.dm
Labels: Feature, Fix, Balance, Grammar and Formatting, Architect Approved, Removal

#1860 RIP one letter vars
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
Labels: Code Improvement

#1745 More minor Almayer fixes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#1732 Buffed, resprited, enhanced Oppressor.
  code/game/objects/effects/aliens.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
  icons/effects/beam.dmi
  icons/effects/status_effects.dmi
  icons/mob/hud/actions_xeno.dmi
  icons/mob/xenonids/Effects.dmi
  icons/mob/xenonids/boiler.dmi
  icons/mob/xenos/effects.dmi
  icons/mob/xenos/praetorian.dmi
  sound/effects/oppressor_tail.ogg
Labels: Feature, Fix, Balance, Sound, Refactor, Sprites, Architect Approved

#1757 PDT/L Buff
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/modules/power/cell.dm
  code/span_macros.dm
  icons/obj/items/devices.dmi
Labels: Feature, Fix, Quality of Life, Refactor, Sprites, Architect Approved

#1858 Added directional armor to Defender fortify. Fixed crit bug.
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
Labels: Feature, Fix, Balance, Architect Approved

#1839 Carrier QoL improvements - grab multiple eggs, grab huggers from morpher, restock morpher with eggs
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Feature, Balance, Quality of Life, Architect Approved

#1864 You can now join in as a buried larva without a pool at roundstart
  code/__DEFINES/xeno.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Architect Approved

#1869 Recharge stations now properly update their icons
  code/game/machinery/rechargestation.dm
Labels: Fix

#1785 Chances Changes: “I say we take off and nuke the entire site from orbit. It’s the only way to be sure.”
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Fix, Mapping, Mapping Approved

#1817 Almayer and Wall fixes.
  code/game/objects/structures/window.dm
  code/game/turfs/walls/wall_types.dm
  icons/turf/walls/almayer_white.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
Labels: Feature, Fix, Sprites, Mapping, Sprites Approved, Mapping Approved

#1763 fixes some backend validation for the bioprinter
  code/game/machinery/bioprinter.dm
Labels: Fix

#1876 fixes ares/qm "last enemy alive" spam
  code/__DEFINES/mode.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Fix

#1868 Carriers once again drop huggers when killed
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Feature, Architect Approved

#1464 Gave SLs other kits to start with
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Feature, Balance, Architect Approved

#1711 Gave SOs access to basic Medical areas
  code/modules/gear_presets/uscm_ship.dm
Labels: Balance, Architect Approved

#1746 Making free ASRS crates more useful
  code/datums/ASRS.dm
Labels: Balance, Architect Approved

#1878 Oppressor sprite fix
  icons/mob/xenos/praetorian.dmi
Labels: Sprites, Sprites Approved

#1879 Cross-ciphering fix
  code/modules/reagents/chemistry_properties/prop_special.dm
Labels: Fix

#1874 Infiltrator Synthetic opportunities
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Feature

#1881 Re adds the monocle to the COs safe
  ColonialMarinesALPHA.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#1779 Remove wrong max_w_class comment
  code/game/objects/items/storage/storage.dm
Labels: Grammar and Formatting

#1880 Revamp light floor tiles
  code/game/objects/items/stacks/tiles/light.dm
  code/game/turfs/floor.dm
  code/game/turfs/light.dm
Labels: Feature, Fix, Refactor, Code Improvement

#1873 Fixed synths having no paygrade
  code/datums/paygrades/factions/other/misc.dm
  code/modules/gear_presets/synths.dm
Labels: Fix, Whitelist Changes

#1840 Resin Whisperer sprites (and tiny fixes for reg. Hivelord)
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  icons/mob/xenos/hivelord.dmi
  icons/mob/xenos/wounds.dmi
Labels: Sprites, Sprites Approved

#1892 Research chem fire fix
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Labels: Fix

#1891 Fix for accuracy falloff.
  code/modules/projectiles/projectile.dm
Labels: Fix

#1890 Minor Admin QOL
  code/game/machinery/fax_machine.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/uscm_event.dm
Labels: Feature, Fix

#1889 Fixing Reqs Computer w/ Grammar & Capitalisation
  ColonialMarinesALPHA.dme
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/restricted_equipment.dm
Labels: Fix

#1865 Post-Merge Spitter tweaks
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
Labels: Balance, Architect Approved

#1687 Whiskey Outpost fixes and rank changes
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/modules/gear_presets/wo.dm
Labels: Fix, Grammar and Formatting

#1519 Added some more recharge stations to Fiora, Kutjevo, Solaris Ridge
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Feature, Balance, Mapping, Architect Approved, Mapping Approved

#1863 Research Nerfs
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Architect Approved, Removal, Mapping Approved

#1623 Smartfridge tgui
  code/game/machinery/kitchen/smartfridge.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  nano/templates/smartfridge.tmpl
  tgui/packages/tgui/interfaces/SmartFridge.tsx
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
  tgui/packages/tgui/styles/interfaces/SmartFridge.scss
  tgui/packages/tgui/styles/interfaces/common/ElectricalPanel.scss
  tgui/packages/tgui/styles/main.scss
Labels: Fix, Refactor, UI

#1760 CO's Deagle and Mateba Rebalance
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  icons/obj/items/weapons/guns/ammo.dmi
Labels: Feature, Balance, Sprites, Whitelist Changes, Testmerge Candidate, Architect Approved, Sprites Approved

#1901 Queen eye shuffles weed sprites when passing over them.
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Feature, Fix

#1766 Adds a preference for vendors vending directly into your hand.
  code/__DEFINES/mode.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Quality of Life, Stale

#1917 Change ingame Discord links
  interface/interface.dm
  tgui/packages/tgui/interfaces/Changelog.js
Labels: UI, Config

#1923 Fixed a runtime caused by xenos getting gibbed by fire
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix

#1898 Fixed a Crusher Charger runtime
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
Labels: Fix

#1927 Working Joe head reattachment fix
  code/modules/surgery/headreattach.dm
Labels: Fix

#1919 Hides Containment Cameras
  code/game/machinery/camera/presets.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix

#1929 fixes a runtime with comms tower on WO
  code/game/machinery/telecomms/presets.dm
Labels: Fix

#1928 alert() sanity checks
  code/_onclick/observer.dm
  code/datums/matrix_editor.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/computer/sentencing.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brig_system.dm
  code/game/objects/structures/crates_lockers/largecrate_supplies.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/tabs/debug_tab.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/topic/topic_chems.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/admin/verbs/construct_env.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/power/profiling.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/test/test_verbs.dm
  code/modules/vehicles/multitile/multitile_verbs.dm
Labels: Fix

#1722 Fixes to Pressurized Canister behaviour and letting you remove the Canister from its pouch
  code/game/atoms.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/reagent_dispensers.dm
Labels: Fix, Quality of Life

#1911 Fixes deadchat logging
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/emote.dm
  code/modules/mob/say.dm
Labels: Fix, Logging

#1937 Synthetic survivor surgery fix
  code/__DEFINES/human.dm
  code/modules/surgery/headreattach.dm
Labels: Fix

#1633 Changes HG 37 shotguns to have dual internal tube magazines
  code/_onclick/hud/screen_objects.dm
  code/datums/factions/clf.dm
  code/datums/keybinding/human_combat.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/shotguns.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/crashedship/10.digsite.dmm
  maps/map_files/LV624/crashedship/10.swapped.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Mapping, Mapping Approved

#1915 Staff Officer Vendors + Gormanization
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping Approved

#1939 MIDIs are now either 'Meme' or 'Atmospheric', players can toggle each option
  code/__DEFINES/__game.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Refactor, Admin

#1834 Smooths singed grass sprites
  code/__HELPERS/type2type.dm
  code/_globalvars/global_lists.dm
  code/game/turfs/open.dm
  icons/turf/ground_map.dmi
Labels: Sprites, Sprites Approved

#1942 Patches
  code/modules/clothing/under/ties.dm
Labels: Feature

#1958 Fixed toggling admin sound types' confirmation message using the non-updated value.
  code/modules/client/preferences_toggles.dm
Labels: Admin

#1608 Projectile Subsystem and misc adjustments
  ColonialMarinesALPHA.dme
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/subsystem.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/projectiles.dm
  code/datums/autocells/explosion.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/shrapnel.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/full_auto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/homing_projectile_component.dm
  code/modules/projectiles/magazines/specialist.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/multitile/multitile_movement.dm
Labels: Feature, Fix, Testmerge Candidate

#1952 Some minor fixes
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/objectives/data_retrieval.dm
Labels: Fix

#1926 Fixed spitter/boiler special stab not working. Slightly buffed Oppressor Tail Seize
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Fix, Balance, Architect Approved

#1778 Adds HEAP ammo(awesome)
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/smgs.dm
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/ammo_box.dmi
Labels: Feature, Balance, Sprites, Architect Approved, Sprites Approved

#1912 Scarves
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/masks.dmi
Labels: Feature, Sprites, Code Improvement

#1944 Fixed the name name runtime
  code/game/jobs/job/marine/squad_info.dm
Labels: Fix

#1962 Fixes SO vendors
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Labels: Fix

#1877 Flares visual rework
  code/game/objects/items/devices/flashlight.dm
  code/modules/animations/animation_library.dm
  icons/obj/items/lighting.dmi
Labels: Feature, Sprites Approved

#1959 Fixes a spot being inaccesible in a nightmare insert
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
Labels: Fix, Mapping, Mapping Approved

#1963 Fixes scarves
  code/modules/clothing/masks/breath.dm
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/masks.dmi
Labels: Fix, Sprites, Sprites Approved

#1916 Xenos can now tailstab airlocks
  code/__DEFINES/xeno.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Feature, Balance, Architect Approved

#1948 Reduces the volume of M44 and MOU53's firing sounds.
  sound/weapons/gun_44mag_v3.ogg
  sound/weapons/gun_mou53.ogg
Labels: Fix, Sound

#1956 Corporate Presets + Radios
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#1274 Xeno Backpacks
  code/__DEFINES/mobs.dm
  code/_onclick/adjacent.dm
  code/_onclick/human.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/smartpack.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_marines/Donor_Items.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  icons/mob/xenos/onmob/defender.dmi
  icons/mob/xenos/onmob/drone.dmi
  icons/mob/xenos/onmob/praetorian.dmi
  icons/mob/xenos/onmob/runner.dmi
  icons/mob/xenos/onmob/sentinel.dmi
  icons/mob/xenos/onmob/spitter.dmi
  icons/mob/xenos/onmob/warrior.dmi
Labels: Feature, Balance, Sprites, Code Improvement, Testmerge Candidate, Architect Approved, Sprites Approved

#1648 Added a super snowflake vendor for devs and admins to play with
  code/game/machinery/vending/vendor_types/dress.dm
  code/modules/admin/admin_verbs.dm
Labels: Feature, Admin

#1960 Refactored weed crossing to utilize signals and list data.
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/xeno.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Refactor, Code Improvement

#1961 LV522: Minor changes to the reactor
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Balance, Mapping, Architect Approved, Mapping Approved

#1950 Crusher nerf
  code/datums/xeno_shields/shield_types/crusher_shield.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Labels: Balance, Architect Approved

#1969 removes extra nanoui code that resulted in double pop up menus with the evac pods
  code/game/machinery/embedded_controller/simple_docking_controller.dm
Labels: Fix

#1965 fixes reagent canisters being constantly bashed up by people
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/reagent_dispensers.dm
Labels: Fix

#1964 Fixes Burrower crit Burrow
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix

#1974 Fixed DME file order
  ColonialMarinesALPHA.dme
Labels: Fix

#1954 Fixes blood and footprints blocking weed clearing.
  code/game/turfs/floor.dm
Labels: Fix

#1938 Fix Prisoner will now be able to witraw money at brig.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#1758 [MDB IGNORE] Removal of groundside nanomed refilling splints and skilless injectors. Nerfs non-med APC nanomeds.
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Balance, Mapping, Architect Approved, Mapping Approved

#1970 spitter/boiler tailstab nerf
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
Labels: Balance, Architect Approved

#955 vamp lurker strain
  ColonialMarinesALPHA.dme
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/lurker/vampire.dm
  icons/mob/xenonids/lurker.dmi
  icons/mob/xenos/lurker.dmi
Labels: Feature, Balance, Sprites, Testmerge Candidate, Sprites Approved

#1951 sniper sentries rebalance
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
Labels: Balance, Architect Approved

#1987 Fixes a runtime in specialist.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#1977 Makes SMESes actually fixable
  code/modules/power/smes.dm
Labels: Fix

#1935 charger crushers, upon charging welding fuel tanks, will now cause them to explode
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
Labels: Feature

#1980 Removed deprecated typecheck on human updatehealth()
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Code Improvement

#1993 MP Cadet Removal
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/urls.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/command/police/cadet_police.dm
  code/game/jobs/job/command/police/police.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Removal

#1983 filter editor
  ColonialMarinesALPHA.dme
  code/__DEFINES/colours.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/filters.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/datums/datumvars.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/varedit/filteriffic.dm
  code/modules/admin/verbs/varedit/varedit.dm
  code/modules/client/client_procs.dm
  tgui/packages/tgui/interfaces/Filteriffic.js
Labels: UI, Admin

#1975 redid eye blurriness
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/brain/life.dm
  code/modules/mob/living/carbon/human/life/handle_disabilities.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_status_procs.dm
  code/modules/organs/organ_internal.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
Labels: Feature, Code Improvement

#1991 Now you won't try transferring plasma to someone who doesn't use it
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
Labels: Quality of Life

#1989 Acid Runner and Hedgehog now get an overlay for their acid / shards
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
Labels: Quality of Life

#2038 hotfix sleeves rolling bug
  code/modules/clothing/under/under.dm
Labels: Fix, Priority: High, GBP: No Update

#2012 removes unused nanoui templates
  nano/templates/canister.tmpl
  nano/templates/communications_console.tmpl
  nano/templates/engines_control.tmpl
  nano/templates/isolation_centrifuge.tmpl
  nano/templates/pathogenic_isolator.tmpl
  nano/templates/shuttle_control_console_exploration.tmpl
  nano/templates/simple_docking_console.tmpl
  nano/templates/simple_docking_console_pod.tmpl
  nano/templates/tree_node.tmpl
  nano/templates/uplink.tmpl
Labels: Removal

#1998 converts a ton of 4 spaces to tabs
  code/controllers/subsystem/communications.dm
  code/datums/agents/tools.dm
  code/datums/agents/tools/access_tuner.dm
  code/datums/agents/tools/chloroform.dm
  code/datums/agents/tools/conceal_gloves.dm
  code/datums/agents/tools/decoy.dm
  code/datums/agents/tools/stimulants.dm
  code/datums/agents/tools/stunbaton.dm
  code/datums/agents/tools/toolbox.dm
  code/datums/agents/tools/tranq_gun.dm
  code/datums/construction/construction_template.dm
  code/datums/effects/stamina/stamina_human.dm
  code/datums/entities/clans.dm
  code/datums/entities/logs/player_times_log.dm
  code/datums/entities/player_sticky_ban.dm
  code/datums/stamina/_stamina.dm
  code/datums/xeno_shields/shield_types/hedgehog_shield.dm
  code/datums/xeno_shields/xeno_shield.dm
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/items/tools/shovel_tools.dm
  code/game/objects/structures/lawnmower.dm
  code/game/objects/structures/surface.dm
  code/modules/admin/server_verbs.dm
  code/modules/admin/stickyban.dm
  code/modules/clans/clan.dm
  code/modules/clans/rank.dm
  code/modules/clothing/head/head.dm
  code/modules/cm_marines/specialist.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/xeno_tackle_counter.dm
  code/modules/mob/say.dm
  code/modules/organs/wound.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/smgs.dm
Labels: Code Improvement

#2013 BUGFIX: Makes the incendiary shells on New Varadero meltable.
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Mapping Approved

#1997 Teleporter tgui and minor refactor
  code/controllers/subsystem/teleporter.dm
  code/game/machinery/teleporter.dm
  code/modules/teleporters/teleporter.dm
  code/modules/teleporters/teleporter_console.dm
  icons/obj/structures/machinery/computer.dmi
  maps/map_files/CORSAT/Corsat.dmm
  nano/templates/teleporter_control_console.tmpl
  tgui/packages/tgui/interfaces/TeleporterConsole.js
Labels: Fix, Sprites, Code Improvement, UI, Mapping

#2022 Fixes sqaud transfer typo
  tgui/packages/tgui/interfaces/SquadMod.js
Labels: Grammar and Formatting, UI

#2019 removes sticky ban panel
  code/modules/admin/stickyban.dm
  nano/templates/stickyban_panel.tmpl
Labels: Removal

#2021 Fixes RP by adding the operation name to marines status tab
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#2018 removes unused weird docking port things
  ColonialMarinesALPHA.dme
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_docking_controller_multi.dm
  code/game/machinery/embedded_controller/docking_program_multi.dm
  nano/templates/advanced_airlock_console.tmpl
  nano/templates/simple_airlock_console.tmpl
Labels: Removal

#2017 dummies out TTVs
  code/game/objects/items/devices/transfer_valve.dm
  nano/templates/transfer_valve.tmpl
Labels: Removal

#2040 Fix for folding metal barricades.
  icons/obj/structures/barricades_christmas.dmi
Labels: Fix, Sprites

#2033 Fixed the super snowflake vendor verb thing
  code/datums/datumvars.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/modules/admin/admin_verbs.dm
Labels: Fix
