Repository cmss13-devs/cmss13, pull requests merged in 2022-06, with the labels that each got.

#376 Cmo Uniform & armor bugfix
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/uscm_medical.dm
Labels: Fix, Stale

#385 Adds a check to prevent pooling infected mobs which haven't burst yet
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Labels: Fix

#405 Omni-Sentry Buff
  code/modules/defenses/sentry.dm
Labels: Balance, Balance Approved

#412 Fix for cinematic plane.
  code/_onclick/hud/rendering/plane_master.dm
Labels: Fix

#411 Fix for CLF names.
  code/modules/gear_presets/clf.dm
Labels: Fix

#378 No more xenos in bodyscanners
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryo.dm
Labels: Fix

#413 Faction/narrate messages for mods
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/mob_verbs.dm
Labels: Fix, Admin

#410 Say() optimizations
  code/game/objects/items.dm
  code/modules/mob/living/say.dm
Labels: Code Improvement

#409 Fix for mark path check.
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Labels: Fix

#401 CM Bugbash 2
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/eyes.dmi
Labels: Fix, Sprites

#394 Fix throw speeds of various items
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sandbags.dm
  code/game/objects/items/stacks/sheets/light.dm
Labels: Fix

#341 (QoL)Bring back the old engi prep tool vendors
  code/game/machinery/vending/vendor_types/engineering.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#317 storage powercreep undoing
  code/datums/supply_packs/clothing.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Stale, Mapping, Balance Approved, Mapping Approved

#347 LV Nightmare + Corpsespawner Returnal
  code/controllers/subsystem/objectives_controller.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/game_mode.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/mine.dm
  maps/Nightmare/maps/LV624/mapgen_variations.json
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
Labels: Feature, Mapping

#379 Make MS-11s fit in medical storage rigs
  code/game/objects/items/storage/belt.dm
Labels: Feature, Stale, Balance Approved

#346 Radial Menu Labels
  code/__DEFINES/defenses.dm
  code/__HELPERS/text.dm
  code/_onclick/hud/radial.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_tech/implements/engi_czsp.dm
  code/modules/defenses/handheld.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Feature, Stale

#445 Removes an access to space on the almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#407 Pick-Say Macro
  code/modules/mob/say.dm
Labels: Feature

#104 Synth eating
  code/game/objects/items/reagent_containers/food/drinks.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Feature

#437 Welding Goggles Fix
  icons/mob/humans/onmob/eyes.dmi
Labels: Sprites, Sprites Approved

#458 Anti-Hug Fix
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#431 Fixes a runtime error with storages
  code/game/objects/items.dm
Labels: Fix

#380 Working Joe Merge
  ColonialMarinesALPHA.dme
  code/__DEFINES/human.dm
  code/__DEFINES/mode.dm
  code/datums/skills.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories.dm
  html/browser/common.css
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Feature, Fix, Code Improvement, Mapping, Mapping Approved

#430 Refactored Antag Vendors
  code/__DEFINES/job.dm
  code/datums/factions/clf.dm
  code/datums/factions/faction.dm
  code/datums/factions/upp.dm
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Feature, Refactor, Stale

#447 New Yautja cloak sounds
  sound/effects/pred_cloakoff.ogg
  sound/effects/pred_cloakon.ogg
Labels: Sound

#473 Fixes tooltips crashing the admin supply pod interface
  tgui/packages/tgui/interfaces/PodLauncher.js
Labels: Fix, UI

#438 New Grab sprites
  icons/mob/hud/screen1.dmi
Labels: Sprites, Stale

#455 CM bugbash 3
  code/datums/xeno_shields/xeno_shield.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Balance Approved

#456 Faction Announcement Improvement
  code/modules/admin/tabs/event_tab.dm
Labels: Admin

#470 Fixes security terminals eating IDs for no reason and with minimal feedback
  code/game/machinery/computer/security.dm
Labels: Fix

#469 Replaces a donor hat icon on the sheriff
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Fix, Mapping, Mapping Approved

#395 Improved banish
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Balance Approved

#424 Xeno Rail Light Slashing
  code/modules/projectiles/gun.dm
Labels: Feature, Stale, Balance Approved

#426 Xeno Crit Health Indicator
  code/datums/mob_hud.dm
  icons/mob/hud/hud.dmi
Labels: Feature, Stale, Sprites Approved

#133 Night Vision Goggles / squashed :)
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/supply_packs/operations.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/uscm.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/helmet_garb.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  strings/xenotips.txt
Labels: Feature, Sprites, Stale, Testmerge Candidate, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#434 Floor Refactor
  ColonialMarinesALPHA.dme
  code/__DEFINES/turf_flags.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/stacks/catwalk.dm
  code/game/objects/items/stacks/tiles/light.dm
  code/game/objects/items/stacks/tiles/plasteel.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/floor.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/kutjevo.dm
  code/game/turfs/light.dm
  code/modules/recycling/disposal.dm
  code/modules/test/sprites/test_plating_sprites.dm
  icons/obj/structures/props/mech.dmi
  icons/turf/floors/catwalks.dmi
  icons/turf/floors/coagulation.dmi
  icons/turf/floors/filtration.dmi
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/templates/Chinook.dmm
Labels: Refactor, Sprites, Testmerge Candidate, Mapping, Mapping Approved

#440 APCs balance tweaks
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  maps/interiors/apc.dmm
  maps/interiors/apc_command.dmm
  maps/interiors/apc_med.dmm
  maps/interiors/apc_no_fpw.dmm
Labels: Feature, Fix, Balance, Mapping, Balance Approved, Mapping Approved

#286 adds two more hud styles
  code/__DEFINES/hud.dm
  code/_globalvars/global_lists.dm
  code/datums/custom_hud.dm
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_red.dmi
Labels: Feature, Sprites Approved

#461 Crewman welding helmet
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Feature, Sprites Approved

#210 QoL EZ Autoinjectors (Sprites)
  code/game/objects/items/reagent_containers/autoinjectors.dm
  icons/obj/items/syringe.dmi
Labels: Quality of Life, Sprites

#472 Rebalances M46c, adds new cosmetic SG variant
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/legacy/marine-weapons.dmi
Labels: Feature, Balance, Sprites, Balance Approved, Sprites Approved

#396 Changes briefing room chairs to squad themed, stationary ones.
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/objects.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Stale, Mapping, Sprites Approved, Mapping Approved

#203 Offhand Attachment Activation
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Quality of Life, Stale, Balance Approved

#433 Crusher Dirlock Tweak + Dashs Fix
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Feature, Fix, Stale

#337 New hard hat sprites
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/head/hardhat.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
Labels: Sprites

#483 Body Count Boost
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Feature, GBP: Reset

#484 Synth Blood Dodge
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
Labels: Balance, Balance Approved

#439 Surgery in interiors tweak
  code/game/turfs/floors/desert.dm
  code/game/turfs/open.dm
  code/game/turfs/space.dm
  code/modules/surgery/surgery_initiator.dm
  code/modules/surgery/surgery_steps.dm
Labels: Balance, Balance Approved

#336 Yautja Code Modernization
  code/datums/elements/yautja_tracked_item.dm
  code/modules/cm_preds/_yaut_defines.dm
  code/modules/cm_preds/huntdata.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Feature, Fix, Refactor, Testmerge Candidate

#31 Squads Overhaul Part 1
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/factions/pmc.dm
  code/datums/factions/uscm.dm
  code/datums/mob_hud.dm
  code/datums/paygrades/factions/other/misc.dm
  code/datums/skills.dm
  code/game/jobs/job/marine/squads.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/supplyshuttle.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/stylesheet.dm
  icons/mob/hud/hud.dmi
  icons/mob/hud/marine_hud.dmi
  icons/obj/items/radio.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Sprites, UI, Sprites Approved

#313 improved notifications upon being spawned as a pooled larva
  code/__DEFINES/__game.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Labels: Quality of Life, Stale

#33 Breaching charge
  code/datums/supply_packs/weapons.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/objects/items/explosives/plastic.dm
  code/modules/projectiles/ammo_datums.dm
  icons/obj/items/assemblies.dmi
Labels: Feature, Balance, Sprites, Testmerge Candidate, Balance Approved, Sprites Approved

#491 Picking from main squads only.
  code/game/jobs/role_authority.dm
Labels: Fix, Priority: High

#468 Adds MP themed service jackets and MP Armor + Jacket combos
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Labels: Feature, Sprites, Sprites Approved

#499 Bugfix: fixes synth headset missing squad channel access.
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Fix, Priority: High

#408 Big red SW caves (gitlab port)
  code/game/area/BigRed.dm
  code/modules/paperwork/paper.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
Labels: Feature, Mapping, Mapping Approved

#476 Multi-Broadcast Cooldown
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Balance, Balance Approved, Removal

#493 Preset Auto-Squad Tweak
  code/modules/gear_presets/uscm.dm
Labels: Code Improvement

#501 Fixes MP jackets getting icon errors on "snow" maps.
  code/modules/clothing/suits/marine_coat.dm
Labels: Fix

#423 Boots! PDT/L Battle Buddy Kit
  ColonialMarinesALPHA.dme
  code/game/atoms.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/modules/client/preferences_gear.dm
  code/modules/power/cell.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/devices.dmi
  icons/obj/items/storage.dmi
  icons/obj/structures/machinery/power.dmi
Labels: Feature, Sprites

#453 New Shotgun Sprites and Minor Lore-Based Change
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Feature, Sprites, Sprites Approved

#514 fixes missing CE golden wrench
  icons/mob/hud/marine_hud.dmi
Labels: Fix, Sprites, Sprites Approved

#524 Offhand Attachment activation hotfix(speedmerge)
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#530 Fixes M60/minigun pointblank
  code/modules/projectiles/guns/misc.dm
Labels: Fix

#534 Fixes two instances of double chairs in the briefing room
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#508 makes sentries keep their name labels
  code/modules/defenses/defenses.dm
  code/modules/defenses/handheld.dm
Labels: Fix

#510 fixes some issues with xenos, mice, and closets
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
Labels: Fix

#541 Survivor synths now spawn with colony radio
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/synths.dm
Labels: Fix

#545 Stops xenos placing structures under vehicles.
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Fix

#486 Hive core timer
  code/__DEFINES/xeno.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Balance, Quality of Life, Balance Approved

#492 fixes being able to lase through walls
  code/game/jobs/job/job.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/fulton.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix, Balance, Balance Approved

#549 PMC sniper fix and loadout buff
  code/game/objects/items/storage/large_holster.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/pmc.dm
Labels: Fix, Balance, Balance Approved

#533 APC M56 FPW QoL
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/interior.dm
  code/modules/vehicles/interior/interactable/seats.dm
  icons/obj/vehicles/apc.dmi
  icons/obj/vehicles/interiors/apc.dmi
  maps/interiors/apc.dmm
Labels: Feature, Quality of Life, Sprites, Mapping, Sprites Approved, Mapping Approved

#513 fixes telepathically removing accessories
  code/game/jobs/job/marine/squads.dm
  code/modules/clothing/clothing_accessories.dm
Labels: Fix

#489 minor welding fixes
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/frames/camera.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/walls.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Feature, Fix

#509 bodybag boxes can now hold only bodybags
  code/game/objects/items/bodybag.dm
  code/game/turfs/floor.dm
Labels: Balance, Balance Approved

#553 M5RPG text fix
  code/__DEFINES/conflict.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#536 Fixes double evolution readiness notification and sound
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix

#547 Adds an alternative surgical webbing vest colour
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/clothing/ties_overlay.dmi
Labels: Sprites, Sprites Approved

#528 makes the input box for writing medal citations much bigger
  code/datums/medal_awards.dm
Labels: Quality of Life

#540 Fixes more MP jackets errors
  code/modules/clothing/suits/marine_coat.dm
Labels: Fix

#529 fixes survivors not going in the survivors part of the orbit list
  code/__DEFINES/typecheck/humanoids.dm
Labels: Fix

#554 Smartgun top cover
  code/game/objects/items/devices/binoculars.dm
  code/modules/projectiles/guns/specialist.dm
  icons/obj/items/weapons/guns/gun.dmi
  sound/handling/smartgun_close.ogg
  sound/handling/smartgun_open.ogg
Labels: Feature, Fix, Sound, Sprites, Sprites Approved

#572 bodybag hotfix
  code/game/objects/items/bodybag.dm
Labels: Fix, Priority: High

#512 fixes moving while putting on armour just equipping it
  code/game/objects/items/storage/internal.dm
  code/modules/mob/mob.dm
Labels: Fix

#539 ravs no longer get empower stacks off the queen eye
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
Labels: Fix

#560 fixes being able to place resin markers in places you cannot see
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#571 Sticky Key Fix
  html/statbrowser.html
Labels: Fix

#564 Type 23 nerf
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Architect Approved

#565 allows construction in the brig
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#546 LV gym nightmare inserts
  maps/Nightmare/maps/LV624/mapgen_variations.json
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
Labels: Feature, Mapping, Architect Approved

#507 Spelling: Fixed spelling inconsistencies in WO story announcements.
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Grammar and Formatting, Stale

#570 Craft Beers
  code/game/machinery/vending/vendor_types/food.dm
  code/game/objects/items/reagent_containers/food/drinks/bottle.dm
  icons/obj/items/drinks.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#578 Removes the ability to crowbar grass
  code/game/turfs/floor_types.dm
Labels: Fix

#566 Cultist Stuff
  code/modules/admin/topic/topic.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
Labels: Fix, Balance, Architect Approved

#573 Cultist XOOC
  code/modules/admin/verbs/xooc.dm
Labels: Admin
