Repository cmss13-devs/cmss13, pull requests merged in 2022-09, with the labels that each got.

#972 Healthy Sorokyne Strata
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Mapping, Mapping Approved

#971 pred bracers and decloaking
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/shuttles/shuttle_console.dm
Labels: Fix

#969 Fix hivestatus breaking when transforming a queen
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix, Refactor

#918 OB console tgui
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/OrbitalCannonConsole.js
Labels: Stale, UI

#968 tgui sleepers
  code/__HELPERS/mobs.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/mob/living/living_defines.dm
  tgui/packages/tgui/interfaces/Sleeper.js
Labels: Feature, UI

#980 Fourth unholster keybind and unholstering refactor
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Quality of Life, Refactor

#864 Buffs buckshot.
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Architect Approved

#982 HPR IFF reversion.
  code/modules/projectiles/guns/rifles.dm
Labels: Balance, Architect Approved

#935 Sentry gun un-nerf
  code/modules/defenses/sentry.dm
Labels: Balance, Stale, Architect Approved

#694 Warden minor rework
  code/__DEFINES/keybinding.dm
  code/__DEFINES/xeno.dm
  code/datums/keybinding/xenomorph.dm
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  icons/mob/hostiles/Effects.dmi
  icons/mob/hud/actions_xeno.dmi
Labels: Feature, Balance, Sprites, Testmerge Candidate, Architect Approved, Removal

#920 Readjust AGM-F
  code/game/objects/items/explosives/grenades/marines.dm
Labels: Balance, Testmerge Candidate, Architect Approved, Good First PR

#985 Adds shoulder holster to armaments vendor
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Feature

#986 Flare guns can be unloaded now
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#943 Fix area names having their first letter sometimes truncated during sanitization
  code/__HELPERS/text.dm
  code/datums/statistics/entities/panel_stats.dm
  code/datums/statistics/entities/round_stats.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/tools/experimental_tools.dm
  code/modules/cm_aliens/structures/resource_collector.dm
  code/modules/cm_aliens/structures/special_structure.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
Labels: Fix

#519 (Soul) Underwear Holdout (Soul)
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/shuttles/marine_ferry.dm
  icons/obj/items/storage.dmi
Labels: Feature, Stale

#851 Sniper Tweaks and Additions
  code/__DEFINES/traits.dm
  code/datums/action.dm
  code/datums/factions/uscm.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/pamphlets.dm
  code/modules/character_traits/skills.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/guns/specialist.dm
  icons/effects/Targeted.dmi
  icons/mob/hud/actions.dmi
  icons/mob/hud/marine_hud.dmi
  icons/obj/items/pamphlets.dmi
  icons/obj/items/storage.dmi
Labels: Balance, Sprites, Testmerge Candidate, Architect Approved

#855 CL Trackers and Tracking Tweaks
  code/__DEFINES/mob_hud.dm
  code/game/area/almayer.dm
  code/game/jobs/job/civilians/other/liaison.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_midnight.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
Labels: Feature, Balance, Sprites, Architect Approved

#940 robot hands fixes
  code/game/machinery/bioprinter.dm
  code/game/machinery/bots/cleanbot.dm
  code/game/machinery/bots/floorbot.dm
  code/game/machinery/bots/medbot.dm
  code/game/machinery/robot_fabricator.dm
  code/game/objects/items/frames/bot_assembly.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/organs/limbs.dm
  icons/mob/robotic.dmi
  icons/obj/items/robot_parts.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Sprites, Mapping, Sprites Approved, Mapping Approved

#989 dual wielding nerf
  code/modules/projectiles/gun.dm
Labels: Balance, Architect Approved

#993 Some resprites
  icons/obj/structures/machinery/hydroponics.dmi
  icons/obj/structures/machinery/power.dmi
  icons/obj/structures/props/stationobjs.dmi
Labels: Sprites, Sprites Approved

#978 Mechanical Medal Lock Option 3
  code/datums/medal_awards.dm
Labels: Fix

#998 Damaged turret fix
  code/modules/defenses/defenses.dm
Labels: Fix

#1001 YATGUIINF: Yet another TGUI input number fix
  code/modules/tgui/tgui_number_input.dm
Labels: Fix

#1003 S8 max rifle bullet range fix
  code/modules/projectiles/ammo_datums.dm
Labels: Fix

#997 Fix HVH rockets attachables
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#987 Shotgun Shell Pouches
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
Labels: Feature

#975 Staff Officer timelock change
  code/game/jobs/job/command/cic/staffofficer.dm
Labels: Removal

#1005 Remove Jacket slight name change
  code/modules/clothing/under/under.dm
Labels: Grammar and Formatting

#1008 Screwdrivers don't open airlocks again
  code/game/machinery/doors/airlock.dm
Labels: Fix

#1000 fixes do_after spam on structures
  code/game/objects/structures.dm
Labels: Fix

#1006 anti-runtime sanity
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
Labels: Fix

#1004 sensortowers can now be broken by xenos
  code/modules/desert_dam/motion_sensor/sensortower.dm
Labels: Feature, Code Improvement

#967 Fixes repeating area soundscapes
  code/game/area/areas.dm
Labels: Fix

#887 Blowtorch Unnesting
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
Labels: Balance, Stale, Architect Approved

#1018 pushups bugfix
  code/modules/mob/living/carbon/human/exercise.dm
Labels: Fix

#1028 Possible crashfix
  code/modules/client/client_procs.dm
Labels: Fix, Priority: High, Priority: CRITICAL, Testmerge Candidate, OH GOD OH FUCK

#1030 World/Error Hotfix
  code/game/objects/effects/spawners/random.dm
Labels: Fix, Priority: High

#1016 orbit menu fixes
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.tsx
Labels: Fix, UI

#1023 Commodore? Where?
  code/game/jobs/job/command/cic/captain.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/head/head.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  maps/templates/Chinook.dmm
Labels: Fix, Mapping, Mapping Approved

#813 Unbuckle action for vehicles
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/vehicles/hardpoints/support/artillery.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/interior/interactable/viewports.dm
  code/modules/vehicles/multitile/multitile.dm
  icons/mob/hud/actions.dmi
Labels: Feature, Fix, Sprites, Stale, Sprites Approved

#1024 Adds 70+ fortunes to fortune cookies
  strings/fortunes.txt
Labels: Feature

#1007 Airlock Shock fixes and consistency
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/power/power.dm
Labels: Fix

#827 Lobby Hive Leader Viewing
  code/_globalvars/tgui.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/new_player/new_player.dm
  tgui/packages/tgui/interfaces/HiveLeaders.js
Labels: Feature, Stale, Architect Approved

#1038 FIX: Teleportation Fix Chapel
  code/game/area/almayer.dm
Labels: Fix

#857 tgui chem dispenser
  code/datums/supply_packs/misc.dm
  code/game/machinery/vending/vendor_types/food.dm
  code/game/objects/items/explosives/grenades/chem_grenade.dm
  code/game/objects/items/reagent_containers/food/drinks/bottle.dm
  code/game/objects/items/reagent_containers/food/drinks/drinkingglass.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  code/modules/reagents/chemistry_reactions/food_drink.dm
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
  icons/obj/items/drinks.dmi
  icons/obj/structures/machinery/science_machines.dmi
  nano/templates/chem_dispenser.tmpl
  tgui/packages/tgui/interfaces/ChemDispenser.js
Labels: Feature, Sprites, UI, Sprites Approved

#1002 upgrades font-awesome to 6.1.2 [TG PORT]
  code/modules/asset_cache/asset_list_items.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
  tgui/packages/tgui-panel/chat/renderer.js
Labels: UI

#1025 Fax machine TGUI
  code/game/machinery/fax_machine.dm
  code/game/sound.dm
  sound/machines/pda_button1.ogg
  sound/machines/pda_button2.ogg
  sound/machines/terminal_alert.ogg
  sound/machines/terminal_button01.ogg
  sound/machines/terminal_button02.ogg
  sound/machines/terminal_button03.ogg
  sound/machines/terminal_button04.ogg
  sound/machines/terminal_button05.ogg
  sound/machines/terminal_button06.ogg
  sound/machines/terminal_button07.ogg
  sound/machines/terminal_button08.ogg
  sound/machines/terminal_eject.ogg
  sound/machines/terminal_error.ogg
  sound/machines/terminal_insert_disc.ogg
  sound/machines/terminal_off.ogg
  sound/machines/terminal_on.ogg
  sound/machines/terminal_processing.ogg
  sound/machines/terminal_prompt.ogg
  sound/machines/terminal_prompt_confirm.ogg
  sound/machines/terminal_prompt_deny.ogg
  sound/machines/terminal_select.ogg
  sound/machines/terminal_success.ogg
  tgui/docs/component-reference.md
  tgui/packages/tgui/assets/bg-weyland.png
  tgui/packages/tgui/assets/titlebar-weyland.png
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/FaxMachine.js
  tgui/packages/tgui/styles/themes/weyland.scss
Labels: Sound, UI

#893 fixes incredibly strong phone line
  code/datums/effects/tether.dm
Labels: Fix, Stale

#1040 adds the broken build to blacklisted builds
  code/modules/client/client_procs.dm
Labels: Server

#1042 Potential fix for grabbable non-bursted spawned corpses
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#1046 Ahelp test log removal
  code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#1020 Fixed Boiler Dump Acid Exploit (Gas Gas Gas)
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
Labels: Fix

#1015 Adds large shotgun shell pouch to buyable pouches for medics
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Fix

#1041 Fixes 0 stack sandbags
  code/game/objects/items/tools/shovel_tools.dm
Labels: Fix

#995 Passable lz floodlight
  code/game/machinery/floodlight.dm
  icons/obj/structures/machinery/floodlight.dmi
Labels: Feature, Sprites, Sprites Approved

#996 Xeno Ability Cleanup and Fixes
  code/__DEFINES/keybinding.dm
  code/__DEFINES/xeno.dm
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/shaman.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
Labels: Feature, Fix, Quality of Life

#775 XM-VESG-1 Flamer Nozzle or: How I Learned to Stop Worrying and Love the Burning Naphtha
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/projectiles.dmi
Labels: Feature, Balance, Sprites, Stale, Testmerge Candidate, Architect Approved, Sprites Approved

#904 Water Tank QoL
  code/game/objects/structures/reagent_dispensers.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Quality of Life, Mapping, Mapping Approved

#948 The comp (Medicomp)
  ColonialMarinesALPHA.dme
  code/__DEFINES/keybinding.dm
  code/__DEFINES/surgery.dm
  code/datums/keybinding/yautja.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/surgery/mcomp_tendwounds.dm
  code/modules/surgery/surgery_steps.dm
  icons/obj/items/storage.dmi
  icons/obj/items/surgery_tools.dmi
  maps/predship/huntership.dmm
  sound/misc/heal_gun.ogg
  sound/misc/wound_stabilize.ogg
  sound/voice/pred_roar4.ogg
  sound/voice/pred_roar5.ogg
Labels: Feature, Fix, Balance, Quality of Life, Sound, Sprites, Whitelist Changes, Mapping, Architect Approved, Removal, Mapping Approved

#718 Vehicle misc tweaks
  code/datums/soundOutput.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/interior/areas.dm
  code/modules/vehicles/interior/interactable/viewports.dm
  code/modules/vehicles/interior/interior_landmarks.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  code/modules/vehicles/multitile/multitile_hardpoints.dm
  code/modules/vehicles/powerloader.dm
  icons/obj/vehicles/interiors/apc.dmi
  icons/obj/vehicles/interiors/van.dmi
  icons/turf/areas_interiors.dmi
  maps/interiors/apc.dmm
  maps/interiors/apc_command.dmm
  maps/interiors/apc_med.dmm
  maps/interiors/apc_no_fpw.dmm
  maps/interiors/van.dmm
Labels: Feature, Fix, Sprites, Code Improvement, Stale, Mapping, Sprites Approved, Mapping Approved

#726 xm88 heavy rifle (marine r4t)
  code/datums/ASRS.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/weapons.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/magazines/lever_action.dm
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/ammo_box.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/handful.dmi
  sound/weapons/gun_boomslang_fire.ogg
  sound/weapons/handling/gun_boomslang_hitsound.ogg
  sound/weapons/handling/gun_boomslang_lever.ogg
  sound/weapons/handling/gun_boomslang_reload.ogg
Labels: Feature, Fix, Sound, Sprites, Testmerge Candidate, Architect Approved, Sprites Approved

#1077 Medicomp tweak
  code/modules/surgery/mcomp_tendwounds.dm
Labels: Fix, GBP: No Update

#1037 More legacy sprite replacements
  code/game/objects/structures/morgue.dm
  icons/obj/items/books.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/items.dmi
  icons/obj/items/new_assemblies.dmi
  icons/obj/items/stock_parts.dmi
  icons/obj/items/weapons/projectiles.dmi
  icons/obj/items/weapons/weapons.dmi
  icons/obj/structures/props/stationobjs.dmi
  icons/obj/structures/structures.dmi
  icons/rebase_icons.dmi
Labels: Sprites, Sprites Approved

#1075 Vending tgui
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/modules/projectiles/ammo_boxes.dm
  nano/templates/cm_vending_sorted.tmpl
  tgui/packages/tgui/assets/titlebar-uscm.png
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/VendingSorted.tsx
  tgui/packages/tgui/styles/interfaces/VendingSorted.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/uscm.scss
Labels: Feature, Quality of Life, UI, Good First PR

#1021 fix non-intel items not being destroyed by spawn pool / eggmorpher
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/special/spawn_pool.dm
Labels: Fix

#1092 Broken byond version blacklisted.
  code/modules/client/client_procs.dm
Labels: Server

#988 ABR-40 Ceremonial Rifle
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/ammo_box.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/handful.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#1096 Decor accessory slots for CO Armor
  code/modules/clothing/suits/marine_armor.dm
Labels: Feature

#1095 Kills Vendor Stat
  ColonialMarinesALPHA.dme
  code/datums/entities/vending_stat.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Server

#1099 Fixes Kutjevo Shutters
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping, Mapping Approved

#1103 Fixes our rendering for 514.1587
  code/_onclick/hud/rendering/plane_master.dm
  code/modules/client/client_procs.dm
Labels: Fix, Server

#1087 fixes time_to_equip exploits
  code/modules/mob/mob.dm
Labels: Fix

#1113 Revert "ABR-40 Ceremonial Rifle"
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/ammo_box.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/handful.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping

#110 Static comms again
  code/_globalvars/lists/mapping_globals.dm
  code/datums/supply_packs/operations.dm
  code/game/area/BigRed.dm
  code/game/area/DesertDam.dm
  code/game/area/LV624.dm
  code/game/area/kutjevo.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/shiva.dm
  code/game/area/strata.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/antag/xeno/xenomorph.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/mapview/generation.dm
  code/modules/power/apc.dm
  icons/obj/structures/machinery/comm_tower3.dmi
  icons/obj/structures/machinery/monitors.dmi
  icons/obj/structures/machinery/power.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Testmerge Candidate, Mapping, Architect Approved, Removal, Sprites Approved, Mapping Approved

#1047 Cause Data Checks and Gibbing Runtime Fixes
  code/datums/autocells/explosion.dm
  code/datums/statistics/entities/death_stats.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/explosion_recursive.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/game/turfs/walls/walls.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/cm_tech/droppod/droppod.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttles/shuttle.dm
Labels: Fix, Code Improvement, Stale Exempt

#1014 Firing flares into the air and signal flare QoL
  code/game/objects/items/devices/flashlight.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Feature, Quality of Life

#1111 queen eye fixes
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#1116 kutjevo static comms map hotfix
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping

#1102 Anti pred slime
  code/__DEFINES/pred.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/surgery/mcomp_tendwounds.dm
Labels: Fix, Whitelist Changes, Architect Approved

#1081 tgui number input now works with non integers
  code/modules/tgui/tgui_number_input.dm
  tgui/packages/tgui/components/RestrictedInput.js
Labels: Fix, Stale, UI

#1043 Predalien larva sprite fix
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Fix

#957 limb printer update
  code/game/machinery/autodoc.dm
  code/game/machinery/bioprinter.dm
  icons/obj/structures/machinery/surgery.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/BioSyntheticPrinter.js
  tgui/packages/tgui/interfaces/Signaller.js
Labels: Feature, Balance, Sprites, UI, Mapping, Architect Approved, Sprites Approved, Mapping Approved

#979 TGUI health analyser and body scanner
  ColonialMarinesALPHA.dme
  code/__DEFINES/flags.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/tgui.dm
  code/datums/mob_hud.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/autodoc.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/organ_alien.dm
  code/modules/organs/organ_internal.dm
  code/modules/paperwork/filingcabinet.dm
  tgui/packages/tgui/interfaces/HealthScan.js
Labels: Code Improvement, UI

#1131 Healthscan fix
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/living_healthscan.dm
Labels: Fix

#1126 Fix for doubling APCs.
  code/game/supplyshuttle.dm
Labels: Fix

#1134 Runtime fix for limbprinter.
  code/game/machinery/bioprinter.dm
Labels: Fix

#1133 Fix for lobby spam.
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/storage.dm
  code/modules/clothing/clothing.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob.dm
Labels: Fix

#1120 Operation Name Tidying
  config/names/operation_postfix.txt
  config/names/operation_prefix.txt
  config/names/operation_title.txt
Labels: Feature, Config, Good First PR, Removal

#1109 Vendor asset fix
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/modules/asset_cache/asset_list_items.dm
  tgui/packages/tgui/interfaces/VendingSorted.tsx
  tgui/packages/tgui/styles/interfaces/VendingSorted.scss
Labels: Feature, Fix, Quality of Life, UI

#1138 Update health scanner UI
  tgui/packages/tgui/interfaces/HealthScan.js
Labels: UI, Good First PR

#1143 Fixes dropship attachment point layering
  code/modules/dropships/attach_points/attach_point.dm
Labels: Fix

#1128 Strip html from admin PMs
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#1136 Unloading with underbarrels.
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Quality of Life

#1066 You can now use ; or :[key] for default frequencies
  code/game/objects/items/devices/radio/headset.dm
Labels: Quality of Life

#1146 Chair-Stacking Message Typo Fix
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Grammar and Formatting

#1129 Harm pref + pills fix
  code/game/objects/items.dm
Labels: Fix
