Repository cmss13-devs/cmss13, pull requests merged in 2022-08, with the labels that each got.

#771 Applying acid code tweak
  code/game/objects/effects/effect.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/multitile/multitile.dm
Labels: Balance, Code Improvement, Architect Approved

#202 Aimed Shot size modifier fix.
  code/modules/projectiles/ammo_datums.dm
Labels: Fix

#429 GAU Minor rework
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/projectiles/ammo_datums.dm
  sound/effects/cannon30.ogg
  sound/effects/gau.ogg
  sound/effects/gau_incockpit.ogg
  sound/effects/gauimpact.ogg
Labels: Balance, Testmerge Candidate, Architect Approved

#702 new hazard vest colours
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/suits.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#665 surv loot spawners
  code/datums/factions/clf.dm
  code/game/objects/effects/decals/posters/poster_list.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/reagent_containers/pill.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/cm_marines/equipment/grenade_packets.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/shotguns.dm
  code/modules/projectiles/magazines/smgs.dm
  icons/landmarks.dmi
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/chemistry.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/legacy/old_cmguns.dmi
  icons/obj/items/weapons/projectiles.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/sprinkles/30.nexuscenter_barricaded.dmm
  maps/map_files/LV624/storage-crashed-ship/10.armorystorage.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/weapons/Laser4.ogg
  sound/weapons/gun_ar10.ogg
  sound/weapons/gun_mac15.ogg
  sound/weapons/gun_uzi.ogg
  sound/weapons/handling/gun_ar10_cocked.ogg
  sound/weapons/handling/gun_ar10_unload.ogg
Labels: Feature, Balance, Mapping, Architect Approved, Sprites Approved, Mapping Approved

#772 Shiva fixes and vehicle blocker tweaks
  code/game/area/shiva.dm
  code/game/objects/structures/blocker.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.tcomms_open.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/20.lz1north_mining.dmm
  maps/map_files/BigRed/sprinkles/25.lz1cave_flank.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/20.labs-larder.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/33.labs-entrance.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/35.south-spidercave_cleared.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/centralcaves/10.T.dmm
  maps/map_files/LV624/centralcaves/10.qc.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#770 Orbiters will now follow xenos if they evolve or de-evolve
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Fix

#739 refactors defib sprites
  code/game/objects/items/devices/defibrillator.dm
  icons/obj/items/devices.dmi
  icons/obj/items/experimental_tools.dmi
Labels: Sprites, Code Improvement, Stale, Sprites Approved

#324 Prevention of dummy abuse.
  code/game/objects/items/devices/dummy_tablet.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Fix, Architect Approved

#793 Acid runner aciding tweak
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
Labels: Code Improvement

#727 Makes the RTO phone accessible via button rather than clicking the bag
  ColonialMarinesALPHA.dme
  code/game/objects/items/storage/backpack.dm
  code/modules/gear_presets/uscm.dm
Labels: Fix

#788 even more SG hud button fixes
  code/game/objects/items/devices/motion_detector.dm
  code/modules/clothing/glasses/night.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Fix

#781 OB crate addition
  code/datums/supply_packs/operations.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  icons/obj/structures/crates.dmi
Labels: Feature, Sprites, Sprites Approved

#801 Fixes Charlie Cafeteria Chair Orientation
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping Approved

#800 Radiator sprite bugfix
  code/game/machinery/spaceheater.dm
Labels: Fix

#779 Dropship Additional Crew Weapon Point
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Architect Approved, Mapping Approved

#803 Adds vehicles to follow options
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/object_lists.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/vehicles/multitile/multitile.dm
  tgui/packages/tgui/interfaces/Orbit.tsx
Labels: Feature, UI

#684 Xeno-based Hellhound
  ColonialMarinesALPHA.dme
  code/__DEFINES/language.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/typecheck/mobs_generic.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/global_lists.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/other_mobs.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/game/jobs/role_authority.dm
  code/game/objects/effects/temporary_visuals.dm
  code/game/sound.dm
  code/modules/admin/player_panel/actions/transform.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/hellhound/death.dm
  code/modules/mob/living/carbon/hellhound/emote.dm
  code/modules/mob/living/carbon/hellhound/hellhound.dm
  code/modules/mob/living/carbon/hellhound/life.dm
  code/modules/mob/living/carbon/hellhound/update_icons.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile.dm
  icons/mob/hellhound.dmi
  icons/mob/hostiles/hellhound.dmi
Labels: Refactor, Sprites, Testmerge Candidate, Sprites Approved

#672 language tweaks
  code/_globalvars/global_lists.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Removal

#806 E key now works for the machete pouch
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/pouch.dm
Labels: Balance, Architect Approved

#810 Tunnel Trap Deletion
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#780 adds back the first responder pouch
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
Labels: Feature

#740 Big Red UnCASable Caves
  code/game/area/BigRed.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.tcomms_open.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
  maps/map_files/BigRed/sprinkles/20.lz1north_mining.dmm
  maps/map_files/BigRed/sprinkles/25.lz1cave_flank.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
Labels: Balance, Mapping Approved

#814 Adds wield sound for machete pouch
  code/game/objects/items/storage/pouch.dm
Labels: Feature

#789 APC supply vendor QoL
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Labels: Quality of Life

#754 Balloon alerts port
  ColonialMarinesALPHA.dme
  code/__DEFINES/combat.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/text.dm
  code/__HELPERS/game.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/datums/balloon_alerts/balloon_alerts.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/mob_helpers.dm
Labels: Feature, Stale

#815 fixes non-uscm faction huds + mutiny faction huds
  code/datums/factions/clf.dm
  code/datums/factions/pmc.dm
  code/datums/factions/upp.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Labels: Fix

#811 Fixes bravos briefing chairs
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping Approved

#733 big red map minor tweaks
  code/game/objects/structures/window.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
Labels: Mapping Approved

#657 anti CL powergame
  code/__DEFINES/vendors.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/tools/misc_tools.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/paper.dm
  icons/obj/items/paper.dmi
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Feature, Balance, Sprites, Code Improvement, Architect Approved, Sprites Approved, Mapping Approved

#817 High-Capacity Laser Battery Point Increase
  code/modules/cm_marines/dropship_ammo.dm
Labels: Balance, Architect Approved

#816 date and time paper macros
  code/modules/paperwork/paper.dm
Labels: Quality of Life

#697 telebaton stun redux
  code/game/objects/items/weapons/swords_axes_etc.dm
  sound/weapons/baton.ogg
Labels: Feature, Sound, Architect Approved

#823 Quickfix for item icons.
  code/datums/action.dm
Labels: Fix, Priority: High

#812 Resin building on dead log
  code/modules/mob/living/carbon/xenomorph/Powers.dm
Labels: Admin

#643 folding stocks
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/legacy/marine-weapons.dmi
Labels: Feature, Balance, Sprites, Architect Approved, Sprites Approved

#753 TG beam backend
  ColonialMarinesALPHA.dme
  code/datums/beam.dm
  code/datums/effects/tether.dm
  code/game/atoms.dm
  code/game/objects/effects/overlays.dm
  code/modules/defenses/tesla_coil.dm
  icons/effects/beam.dmi
  icons/mob/humans/onmob/back.dmi
Labels: Fix, Refactor, Sprites, Sprites Approved

#792 AGM-Smoke grenades
  code/datums/supply_packs/weapons.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/cm_marines/equipment/grenade_packets.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  icons/obj/items/weapons/grenade.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#818 Ports glassbash.ogg from tgstation13
  code/game/objects/structures/window.dm
  sound/effects/glassbash.ogg
Labels: Sound

#826 Puts M41A folding stock in req and squad prep vendors.
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#808 Adds the ability for IOs to clear the Data Tab to resolve the BSOD
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/debug_tab.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life, Admin

#819 a few minor fixes
  code/game/machinery/bio-dome_floodlights.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/groundmap_geothermal.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/gear_presets/corpses.dm
  code/modules/projectiles/guns/shotguns.dm
Labels: Fix

#799 360 sentry deployment system (sentries mounted onto the DS)
  code/modules/defenses/sentry.dm
Labels: Balance, Architect Approved

#21 Portable dialysis machine
  code/game/machinery/recharger.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/tools/experimental_tools.dm
  code/modules/reagents/Chemistry-Holder.dm
  icons/obj/items/experimental_tools.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Sprites Approved, Mapping Approved

#774 Overwatch order screen alerts
  ColonialMarinesALPHA.dme
  code/modules/client/client_defines.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Quality of Life, Code Improvement

#782 mechanical anti-larva rush
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Balance, Stale, Architect Approved

#599 Readds old Almayer/Sulaco ambience
  code/__DEFINES/sounds.dm
  sound/ambience/almayerambience.ogg
Labels: Sound, Stale

#831 Savefile bugfix
  code/modules/client/preferences_savefile.dm
Labels: Fix

#757 fixes abuse with hmgs and windows
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/window.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/defenses/sentry.dm
  code/modules/projectiles/ammunition.dm
Labels: Fix, Quality of Life, Stale

#785 pred mask fixes and refactor
  code/modules/clothing/glasses/meson.dm
  code/modules/clothing/glasses/night.dm
  code/modules/cm_preds/yaut_mask.dm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
Labels: Fix, Refactor, Stale, Mapping, Mapping Approved

#734 Ammo box changes
  ColonialMarinesALPHA.dme
  code/modules/projectiles/ammo_boxes.dm
  code/modules/projectiles/ammunition.dm
  icons/obj/items/weapons/guns/ammo_box.dmi
Labels: Balance, Quality of Life, Sprites, Code Improvement, Architect Approved

#837 Surplus uniform vendor typo fix
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Fix

#836 should fix some nanoui related runtimes
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/transports/asset_transport.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
Labels: Fix

#840 more minor fixes
  code/datums/emergency_calls/clf.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/cryopod.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/economy/EFTPOS.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_machinery/reagent_analyzer.dm
Labels: Fix

#830 tgui cryopods
  code/game/machinery/cryo.dm
  code/game/machinery/machinery.dm
  icons/obj/structures/machinery/cryogenics2.dmi
  maps/predship/huntership.dmm
  nano/templates/cryo.tmpl
  tgui/packages/tgui/interfaces/Cryo.js
  tgui/packages/tgui/interfaces/common/BeakerContents.js
Labels: Feature, Sprites, UI, Mapping, Mapping Approved

#843 Pred hud fix
  code/modules/cm_preds/yaut_mask.dm
Labels: Fix

#839 Removes Boxer Strain
  ColonialMarinesALPHA.dme
  code/__DEFINES/mobs.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/warrior/boxer.dm
Labels: Balance, Architect Approved, Removal

#828 TGUI command tablet
  code/__DEFINES/misc.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  tgui/packages/tgui/interfaces/CommandTablet.js
Labels: UI

#820 APC and SMES TGUI
  code/__HELPERS/#maths.dm
  code/game/gamemodes/events/power_failure.dm
  code/modules/objectives/power_objectives.dm
  code/modules/power/apc.dm
  code/modules/power/batteryrack.dm
  code/modules/power/smes.dm
  code/modules/power/smes_construction.dm
  maps/templates/baseone.dmm
  nano/templates/apc.tmpl
  nano/templates/smes.tmpl
  tgui/packages/tgui/interfaces/Apc.js
  tgui/packages/tgui/interfaces/PartFabricator.js
  tgui/packages/tgui/interfaces/Smes.js
  tgui/packages/tgui/interfaces/common/InterfaceLockNoticeBox.js
  tools/ci/check_grep.sh
Labels: UI, Mapping, Mapping Approved

#833 minor TGUIs
  code/game/machinery/door_display/door_display.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/cm_marines/anti_air.dm
  code/modules/desert_dam/filtration/consoles.dm
  tgui/packages/tgui/interfaces/AntiAirConsole.js
  tgui/packages/tgui/interfaces/Binoculars.js
  tgui/packages/tgui/interfaces/FiltrationControl.js
  tgui/packages/tgui/interfaces/ResearchDoorDisplay.js
Labels: UI

#849 ability icon fixes
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hud/actions.dmi
Labels: Fix, Sprites

#847 GAU Standard ammo fix (Stan Approved)
  code/modules/cm_marines/dropship_ammo.dm
Labels: Balance, Architect Approved

#841 Pred pain sounds and a bug fix
  code/game/sound.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/pred_pain2.ogg
  sound/voice/pred_pain3.ogg
  sound/voice/pred_pain4.ogg
  sound/voice/pred_pain5.ogg
  sound/voice/pred_pain_rare1.ogg
Labels: Fix, Sound

#834 VP78 Buffs (Stan said I could)
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
Labels: Balance, Architect Approved

#822 Surgery table no longer removes huggers
  code/game/machinery/OpTable.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#821 bodyscanner no longer sends you to the nighmare dimension
  code/game/machinery/adv_med.dm
Labels: Fix

#809 shooting glasses and bottles will now break them
  code/game/objects/items/reagent_containers/food/drinks/bottle.dm
  code/game/objects/items/reagent_containers/food/drinks/drinkingglass.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/tools/kitchen_tools.dm
  code/game/objects/items/weapons/misc.dm
  icons/obj/items/drinks.dmi
Labels: Feature, Sprites

#861 Minor fix for MDB
  code/game/objects/structures/signs.dm
  icons/obj/structures/closet.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Sprites, Mapping

#853 BEing fixes
  code/modules/projectiles/ammo_datums.dm
Labels: Fix

#842 Jeser/spec gear box fix
  code/_globalvars/global_lists.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  icons/obj/items/storage.dmi
Labels: Feature, Fix, Quality of Life, Sprites

#758 [MDB ignore] The Corpse update
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/gear_presets/corpses.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/lockdown_highsec.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Fix, Quality of Life, Mapping, Removal, Mapping Approved

#675 Crawling
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
Labels: Feature, Testmerge Candidate

#854 Xeno Name and Lighting Robustness
  code/modules/admin/player_panel/actions/transform.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/cm_aliens/structures/special/spawn_pool.dm
  code/modules/mob/living/carbon/xenomorph/login.dm
Labels: Fix

#874 corpse spawner hot fixes
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/corpses.dm
Labels: Fix, Priority: High

#875 Fixes Spec ID titles
  code/game/machinery/vending/cm_vending.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix, Priority: High

#878 fix missing space
  code/game/objects/effects/landmarks/corpsespawner.dm
Labels: Fix, Priority: High

#881 Fix for spawning corpse presets.
  code/modules/objectives/mob_objectives.dm
Labels: Refactor

#879 Fix for HG spec kits.
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix, Architect Approved

#870 Fix for req cryo console.
  code/game/machinery/cryopod.dm
Labels: Fix

#863 fixes dead xenomorph being eternal light source
  code/modules/mob/living/living_defense.dm
Labels: Fix, Good First PR

#869 soulification of the TGUI error message
  tgui/public/tgui.html
Labels: UI

#848 Hardy weeds nerf
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Balance, Architect Approved

#871 Fixes welded locker
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix, Architect Approved

#885 fixes xenos being able to damage dead people with acid
  code/game/objects/effects/aliens.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Architect Approved

#884 Balance: fixes wrongful surgical webbing availability creep
  code/datums/supply_packs/clothing.dm
Labels: Architect Approved, Removal

#880 The Sandbag Buff No One Asked For
  code/game/objects/items/stacks/sandbags.dm
Labels: Balance, Architect Approved

#889 Fingerprints for built walls
  code/game/objects/structures/girders.dm
Labels: Admin

#862 Improvements for the OOC Country Flags system.
  code/modules/client/country_flags.dm
Labels: Fix

#882 Fix for disappearing targets of objectives.
  code/modules/objectives/data_retrieval.dm
  code/modules/objectives/experimental_devices.dm
Labels: Fix

#886 Fix: service and some other uniforms sleeves and trousers fix
  icons/mob/humans/onmob/uniform_0.dmi
Labels: Fix, Sprites, Sprites Approved

#866 Nerfs the AGMF
  code/game/objects/items/explosives/grenades/marines.dm
Labels: Balance, Architect Approved

#776 Embedding Demo
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/shards.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
Labels: Feature, Stale, Architect Approved

#894 Fix unbreakable power APCs after basic repairs
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/power/apc.dm
Labels: Fix, Code Improvement

#900 Trijent Dam Survivor Hotfix
  code/modules/gear_presets/survivors.dm
Labels: Fix

#902 No more stored suicide bomb mice
  code/modules/mob/holder.dm
Labels: Fix

#888 Minor Hairstyle Edit
  icons/mob/humans/human_hair.dmi
Labels: Sprites, Sprites Approved

#899 Removes PMC Mask from PMC Corpse and Black Market Clothing Crate and minor corpse tweak
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/gear_presets/corpses.dm
Labels: Feature

#912 Xeno Generate Name Fix
  code/modules/mob/living/carbon/xenomorph/login.dm
Labels: Fix

#835 Vehicle environmental damage
  code/game/objects/effects/aliens.dm
  code/modules/desert_dam/filtration/filtration.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/van/van.dm
Labels: Fix, Balance, Code Improvement, Architect Approved

#919 fixes type 71 AP mag overlays
  code/modules/projectiles/guns/rifles.dm
Labels: Fix

#924 Giving and handcheck logic.
  code/modules/mob/living/carbon/give.dm
Labels: Fix

#892 Droppable Sentries show on dropship cams
  code/game/machinery/computer/camera_console.dm
  code/modules/defenses/sentry.dm
Labels: Feature, Fix

#926 looc keybind
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/communication.dm
  code/modules/client/client_procs.dm
Labels: Quality of Life

#910 cluster ob buff
  code/modules/cm_marines/orbital_cannon.dm
Labels: Balance, Architect Approved

#927 Fix for ghost pills.
  code/game/objects/items/reagent_containers/pill.dm
Labels: Fix

#915 some tgui fixes
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/station_alert.dm
  code/game/machinery/cryo.dm
  code/game/machinery/machinery.dm
  code/modules/power/apc.dm
Labels: Fix

#824 supply drop console tgui
  code/game/jobs/job/marine/squads.dm
  code/game/objects/structures/barricade/plasteel.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/pipes/pipes.dm
  code/game/objects/structures/watercloset.dm
  code/game/supplyshuttle.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/destilery/main.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/power/breaker_box.dm
  code/modules/security_levels/keycard_authentication.dm
  tgui/packages/tgui/interfaces/Mortar.js
  tgui/packages/tgui/interfaces/SupplyDropConsole.js
Labels: Fix, Stale, UI

#856 nuke tgui
  code/game/jobs/access.dm
  code/game/machinery/nuclearbomb.dm
  nano/templates/nuclear_bomb.tmpl
  tgui/packages/tgui/interfaces/NuclearBomb.js
Labels: Stale, UI

#929 AIRLOCKS!!!
  code/game/objects/structures/airlock_assembly.dm
  icons/obj/structures/doors/airlock_assembly.dmi
Labels: Quality of Life, Refactor, Sprites, Sprites Approved

#923 Consistent planes.
  code/game/objects/items/storage/storage.dm
Labels: Fix

#825 Queen Awards for Xenos
  ColonialMarinesALPHA.dme
  code/datums/medal_awards.dm
  code/datums/statistics/entities/medal_stats.dm
  code/datums/statistics/entities/panel_stats.dm
  code/datums/statistics/entities/xeno_stats.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/whiskey_output_waves.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/medal_panel/medals_panel.dm
  code/modules/admin/medal_panel/medals_panel_tgui.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoMutatorSets.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
  code/modules/tgui/tgui_input_list.dm
  icons/mob/hud/actions_xeno.dmi
  nano/templates/cm_stat_panel.tmpl
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/interfaces/MedalsPanel.js
Labels: Feature, Sprites, Code Improvement, Architect Approved, Good First PR

#938 bugfix: move delay after stopping to pull a mob
  code/modules/mob/mob_verbs.dm
Labels: Fix

#941 fixes not being able to remove notes
  code/game/verbs/records.dm
  code/modules/admin/admin.dm
Labels: Admin

#944 M56D infinite ammo fix
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#898 Refactor channel to use defines
  code/__DEFINES/radio.dm
  code/controllers/subsystem/communications.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Refactor

#868 yautja verb keybinds
  ColonialMarinesALPHA.dme
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/_defines.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/yaut_bracers.dm
Labels: Quality of Life, Stale

#867 ballistic goggles and HUD glasses changes
  code/game/objects/items/props/helmetgarb.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/glasses.dmi
Labels: Feature, Fix, Sprites Approved

#942 fixes the British flag again
  code/modules/client/country_flags.dm
Labels: Fix

#937 airlock assembling code cleanup
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/structures/airlock_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
Labels: Fix

#931 pump action UGLs + you can now unload the UGL
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  icons/obj/items/weapons/guns/attachments.dmi
  sound/weapons/grenade_insert.wav
  sound/weapons/handling/ugl_close.ogg
  sound/weapons/handling/ugl_open.ogg
Labels: Balance, Sound, Sprites, Sprites Approved

#877 reverts blowtorches no longer causing eye damage ever
  code/__DEFINES/traits.dm
  code/game/machinery/bio-dome_floodlights.dm
  code/game/machinery/bots/bots.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/fusion_engine.dm
  code/game/machinery/groundmap_geothermal.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/frames/camera.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/structures/airlock_assembly.dm
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/pipes/vents/vents.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/walls.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/defenses/defenses.dm
  code/modules/desert_dam/motion_sensor/sensortower.dm
  code/modules/hydroponics/vines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/power/apc.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
  code/modules/vehicles/van/van.dm
  code/modules/vehicles/vehicle.dm
Labels: Architect Approved, Removal

#876 pushups
  ColonialMarinesALPHA.dme
  code/modules/mob/living/carbon/human/exercise.dm
  code/modules/mob/mob_movement.dm
Labels: Feature, Fix

#865 tgui number input
  ColonialMarinesALPHA.dme
  code/__DEFINES/mode.dm
  code/__HELPERS/#maths.dm
  code/datums/datumvars.dm
  code/datums/global_variables.dm
  code/datums/matrix_editor.dm
  code/datums/soundOutput.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/vending/vending.dm
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/items/devices/pinpointer.dm
  code/game/objects/items/devices/walkman.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/toys/cards.dm
  code/game/sound.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/tabs/debug_tab.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/topic/topic_chems.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/admin/topic/topic_teleports.dm
  code/modules/admin/verbs/autoreplace.dm
  code/modules/admin/verbs/construct_env.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/varedit.dm
  code/modules/assembly/holder.dm
  code/modules/clans/client.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/cash.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/reagents/chemistry_machinery/acid_harness.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/tgui/tgui_number_input.dm
  interface/interface.dm
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/interfaces/common/Loader.tsx
Labels: UI

#951 Revert warrior change
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Labels: Fix

#963 Hotfix for negative numerical inputs.
  code/datums/datumvars.dm
  code/datums/global_variables.dm
  code/game/machinery/air_alarm.dm
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/items/devices/pinpointer.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/admin/topic/topic_teleports.dm
  code/modules/admin/verbs/autoreplace.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/varedit.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/tgui/tgui_number_input.dm
  tgui/packages/tgui/components/RestrictedInput.js
Labels: Fix, Priority: High, UI

#964 Fix for wrenching vehicles.
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Fix

#903 Chief Engineer Vendor Update
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/cm_marines/equipment/guncases.dm
Labels: Feature

#939 M2C Ammo type fix
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix, Good First PR

#970 more broken href fixes
  code/game/objects/items/stacks/stack.dm
  code/modules/admin/admin.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/topic/topic.dm
Labels: Admin

#962 goggles down fix
  icons/mob/humans/onmob/eyes.dmi
  icons/mob/humans/onmob/mask.dmi
Labels: Fix, Sprites

#661 Charger Crusher Return
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/unsorted.dm
  code/datums/effects/xeno_strains/xeno_speed.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/open.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/tesla_coil.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/mutators/behavior_delegate.dm
  code/modules/mob/living/carbon/xenomorph/mutators/mutator.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/movement/launching/launching.dm
  code/modules/movement/movement.dm
  icons/mob/hostiles/crusher.dmi
  icons/mob/hud/actions_xeno.dmi
  icons/mob/xenonids/crusher.dmi
Labels: Feature, Sprites, Testmerge Candidate, Architect Approved, Sprites Approved
