Repository cmss13-devs/cmss13, pull requests merged in 2023-02, with the labels that each got.

#2513 Sentry Post Nerf(Remake)
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_tech/droppod/droppod.dm
  code/modules/defenses/sentry.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/magazines/sentries.dm
Labels: Feature, Balance, Architect Approved

#2456 Revives Geeves' PR for Uncloaked Action GUI elements.
  code/__HELPERS/unsorted.dm
Labels: Balance, Architect Approved

#2541 Fix for do_after() and alpha check.
  code/__HELPERS/unsorted.dm
Labels: Fix, Priority: CRITICAL

#2471 Explosion caps
  code/__DEFINES/misc.dm
  code/datums/autocells/explosion.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Code Improvement

#2529 makes the keybind menu easier to use
  tgui/packages/tgui/interfaces/KeyBinds.js
Labels: UI

#2537 (hopefully) webedits a grammatical correction into headbite's kill message
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Grammar and Formatting

#2540 fixes taking huggers from eggs shipside before hijack
  code/modules/cm_aliens/structures/egg.dm
Labels: Fix

#2527 fixes synths being able to attack via throwing when in smartpack protection mode
  code/game/objects/items/storage/smartpack.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Fix

#2478 modernizes poor eyesight to use eyeblur
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
Labels: Code Improvement

#2517 sanity check in clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
Labels: Fix

#2547 Tweaked some Vampire stats
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Balance, Code Improvement, Architect Approved

#2484 Matrix fixes
  code/game/machinery/computer/dropship_weapons.dm
Labels: Fix, Stale

#2542 Changes layer of the Big Tree on LV-624
  code/game/objects/structures/flora.dm
Labels: Fix

#2545 fixes extended
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/extended/infection.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/client/preferences.dm
Labels: Fix

#2553 The ASRS will no longer steal your limbs
  code/game/supplyshuttle.dm
Labels: Fix

#2554 Makes the Crew Monitor deconstructible
  code/modules/cm_marines/marines_consoles.dm
Labels: Fix

#2549 Splits TGUI logs from main
  code/__HELPERS/logging.dm
  code/game/world.dm
  code/global.dm
Labels: Server

#2555 Disables attack chat by default
  code/__DEFINES/__game.dm
Labels: Admin

#2250 lets you keybind emotes, refactors emotes into datums
  ColonialMarinesALPHA.dme
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/keybinding.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/pronouns.dm
  code/__HELPERS/text.dm
  code/_globalvars/global_lists.dm
  code/_globalvars/lists/client.dm
  code/_globalvars/lists/keybindings.dm
  code/datums/datum.dm
  code/datums/emotes.dm
  code/datums/keybinding/_defines.dm
  code/datums/keybinding/admin.dm
  code/datums/keybinding/carbon.dm
  code/datums/keybinding/client.dm
  code/datums/keybinding/communication.dm
  code/datums/keybinding/emote.dm
  code/datums/keybinding/human.dm
  code/datums/keybinding/human_combat.dm
  code/datums/keybinding/living.dm
  code/datums/keybinding/mob.dm
  code/datums/keybinding/xenomorph.dm
  code/datums/keybinding/yautja.dm
  code/game/world.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/tgui_macro.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/carbon_helpers.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/emote-monkey.dm
  code/modules/mob/living/carbon/human/species/emote-synthetic.dm
  code/modules/mob/living/carbon/human/species/emote-yautja.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/emote.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/say.dm
  tgui/packages/tgui/interfaces/KeyBinds.js
Labels: Quality of Life, Refactor, Testmerge Candidate

#2526 Removes skull balaclava and skull facepaint from loadout, places them hidden on the Almayer.
  code/game/objects/effects/spawners/random.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Removal

#2533 Ultrazine and stims survivor nerf
  code/game/objects/effects/spawners/random.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Balance, Mapping, Architect Approved

#2567 Increases max ban time
  code/modules/admin/NewBan.dm
  code/modules/admin/topic/topic.dm
Labels: Server, Admin

#2164 Colony Door Standardization Update
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/modules/gear_presets/survivors.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/20.etatunnel_open.dmm
  maps/map_files/BigRed/sprinkles/20.lz1north_mining.dmm
  maps/map_files/BigRed/sprinkles/25.vault_v2.dmm
  maps/map_files/BigRed/sprinkles/30.cargo_containers.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
  maps/map_files/BigRed/sprinkles/5.eta_carp.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/medbay-passage.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/33.labs-entrance.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/sprinkles/30.nexuscenter_barricaded.dmm
  maps/map_files/LV624/storage-crashed-ship/10.armorystorage.dmm
  maps/map_files/LV624/storage-crashed-ship/10.valuables.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Code Improvement, Stale, Mapping, Architect Approved, Mapping Approved

#2561 fixes a tail sweep typo
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
Labels: Grammar and Formatting

#2558 De-adminned SEAs still get newbie messages
  code/modules/admin/admin.dm
Labels: Admin

#2341 Removes slight randomness in armor and critical armor pierce chance
  code/datums/combat_personalized.dm
Labels: Balance, Architect Approved

#2566 fixes being able to use the pickup keybind while incapacitated
  code/modules/mob/inventory.dm
Labels: Fix

#2575 Cuts down clothing/under Init overtime
  code/__HELPERS/icons.dm
  code/modules/clothing/under/under.dm
Labels: Fix, Testmerge Candidate

#2580 fixed a few random runtimes
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/tgui/tgui.dm
Labels: Fix

#2581 gib refactor + runtimefix
  code/datums/statistics/entities/death_stats.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/cm_tech/droppod/droppod.dm
  code/modules/mob/death.dm
  code/modules/mob/living/brain/death.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/shuttles/shuttle.dm
Labels: Fix, Refactor

#2583 Fixes Lakehouse Nightmare Insert Spawner
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Fix

#2576 ensures that special keybinds are unbound & removes the kb validator
  code/datums/emotes.dm
  code/datums/keybinding/admin.dm
  code/datums/keybinding/carbon.dm
  code/datums/keybinding/client.dm
  code/datums/keybinding/communication.dm
  code/datums/keybinding/emote.dm
  code/datums/keybinding/human.dm
  code/datums/keybinding/human_combat.dm
  code/datums/keybinding/living.dm
  code/datums/keybinding/mob.dm
  code/datums/keybinding/xenomorph.dm
  code/datums/keybinding/yautja.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/tgui_macro.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/xenomorph/emote.dm
Labels: Fix

#2573 Fixes the morgue having no exit stun.
  code/game/objects/structures/morgue.dm
Labels: Fix

#1966 PMC and Whiteout stuff
  code/datums/factions/pmc.dm
  code/datums/skills.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/cm_tech/implements/xeno_handler.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/specialist.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature, Fix, Balance, Grammar and Formatting, Architect Approved

#2589 removes debug world.log << in playtime
  code/modules/mob/mob_verbs.dm
Labels: Fix

#2602 The end of spanvangelion
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/techtree.dm
  code/controllers/subsystem/ticker.dm
  code/datums/browser.dm
  code/datums/emotes.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/reagent_containers/food/snacks/grown.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/admin/server_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/client_procs.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/limbs.dm
  code/modules/paperwork/silicon_photography.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttles/marine_ferry.dm
  code/span_macros.dm
Labels: Code Improvement

#2598 Fixes a typo in the description of the damaged lunge mine
  code/game/objects/items/weapons/twohanded.dm
Labels: Grammar and Formatting

#2595 fixes up the IO backpack's code
  code/__DEFINES/equipment.dm
  code/game/objects/items/storage/backpack.dm
Labels: Code Improvement

#2594 Refactors some mobs.dm, mob_defines code.
  code/__DEFINES/mobs.dm
Labels: Code Improvement

#2605 Readded the beloved whimper emote for humans.
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix

#2592 Fixes the spearhead pistol pouch honk texture
  icons/obj/items/clothing/belts.dmi
Labels: Fix, Sprites, Sprites Approved

#2516 changes the text bar + statusbar
  code/_onclick/click.dm
  code/game/verbs/ooc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/statusbar/statusbar.dm
  interface/skin.dmf
Labels: UI

#2559 makes vendors a little more responsive
  code/game/machinery/vending/cm_vending.dm
Labels: Fix

#2607 Removes Autodocs from the Almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Mapping, Architect Approved

#2570 allows mods to access the view combat logs button
  code/modules/admin/view_variables/topic.dm
Labels: Admin

#2334 Colony Guns Part 3: Longarms Rework
  code/datums/factions/clf.dm
  code/datums/supply_packs/black_market.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/contractor.dm
  code/modules/mob/living/living_helpers.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/gun.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/lz2-south-caves/30.builtup_lz2-south-caves.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/east-gate/blocked.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/south-gate/blocked.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southwest/full-open.dmm
  maps/map_files/Kutjevo/sprinkles/25.plinkingspot_northlz.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/templates/Chinook.dmm
Labels: Feature, Balance, Sprites, Mapping, Architect Approved, Removal, Sprites Approved, Mapping Approved

#2315 zombie powder fix
  code/__HELPERS/unsorted.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life/handle_pulse.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Fix, Stale

#2612 Queen Mother Psychic Whisper Subtle Message
  code/modules/admin/verbs/mob_verbs.dm
Labels: Admin

#2634 changes the RO sign to say aCO instead of aXO
  code/game/objects/structures/signs.dm
Labels: Grammar and Formatting

#2616 Unique 7-stage larva HUD update
  icons/mob/hud/hud.dmi
Labels: Fix, Sprites, Sprites Approved

#2579 Colony door fix
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/33.labs-entrance.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping, Mapping Approved

#2593 removes a goofylooking default SS13 door on big red
  maps/map_files/BigRed/BigRed.dmm
Labels: Mapping, Mapping Approved

#2601 fixes the funny shivas engineer door
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Mapping, Mapping Approved

#2304 Fix nigthmare lv 624 one apc floating and names on buttons being wrong.
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
Labels: Mapping, Mapping Approved

#2609 Turns all instances of 'colour' into 'color'
  code/__DEFINES/colours.dm
  code/__HELPERS/matrices.dm
  code/__HELPERS/mobs.dm
  code/datums/diseases/black_goo.dm
  code/game/machinery/bots/mulebot.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/items/toys/crayons.dm
  code/game/objects/items/toys/toys.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/discord/discord_embed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/login.dm
  code/modules/organs/organ_objects.dm
Labels: Grammar and Formatting

#2492 Sentry Code Refactor
  code/game/objects/items.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/defenses/sentry_computer.dm
Labels: Refactor

#2632 Gives emote wait time exemption to WJs and yautja
  code/__DEFINES/traits.dm
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
Labels: Quality of Life

#2560 Alerts admins whenever humans try to gib another human.
  code/game/machinery/kitchen/gibber.dm
Labels: Code Improvement, Stale, Admin

#2648 Fixes meat giving you zero cutlet once cutting it
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
Labels: Fix

#2638 death to the blocker cooler
  code/game/objects/structures/reagent_dispensers.dm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping, Mapping Approved

#2546 Access Updates
  code/__DEFINES/access.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/jobs/access.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/computer/sentencing.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/nuclearbomb.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cm_marines/anti_air.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/trees/marine.dm
  code/modules/economy/EFTPOS.dm
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/vehicles/multitile/multitile.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Architect Approved, Mapping Approved

#2651 fixes the healthscanner advice and reagents not showing colours
  tgui/packages/tgui/interfaces/HealthScan.js
Labels: Fix, UI

#2633 Adds 64x64 'super top hat' as a toy item.
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/XMAS.dm
  code/game/objects/items/toys/toys.dm
  code/modules/clothing/head/collectable.dm
  icons/mob/humans/onmob/head_64.dmi
  icons/obj/items/clothing/hats.dmi
  maps/map_files/BigRed/BigRed.dmm
Labels: Sprites, Mapping, Sprites Approved

#2538 Changes tables / racks to be deconstructed on all intents but help
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#2644 Fixes character trait points not being reset when loading a different character
  code/modules/client/preferences_savefile.dm
Labels: Fix

#2643 A small assortment of more fortunes
  strings/fortunes.txt
Labels: Feature, Code Improvement

#2665 Fixes random brig doors in CIC hallway
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#2660 IOs no longer spawn with the tanker jacket.
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/modules/gear_presets/uscm.dm
Labels: Feature, Removal

#2600 prevents running emote bubbles when unconscious or on cooldown
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix, Stale

#2608 adds a keybinding for showing held item
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
Labels: Quality of Life

#2482 Taser Mode Refactor
  code/__DEFINES/guns.dm
  code/modules/projectiles/guns/energy.dm
  icons/obj/items/weapons/guns/gun.dmi
Labels: Refactor, Sprites, Sprites Approved

#2671 Someone broke shit
  code/game/machinery/kitchen/gibber.dm
Labels: Fix, Priority: High

#2662 maploot storage powercreep rollback
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors.dm
Labels: Fix, Architect Approved, Removal

#2655 CHUNK boxes are no longer lethal
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Fix

#2551 Cat sprite revert, attempt 3
  code/modules/economy/ATM.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  icons/mob/animal.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/objects.dmi
Labels: Sprites, Removal, Sprites Approved

#2666 Fixes no falcon drone sprite for observers
  code/modules/cm_preds/falcon.dm
Labels: Fix

#2613 Gives Researchers Intel 1
  code/datums/skills.dm
Labels: Balance, Stale

#2624 Fixes PMC crashed ship spawn Big Red
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Labels: Fix, Mapping, Mapping Approved

#2640 Opens up 2 spots in Trijent's sand temple area.
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Mapping, Mapping Approved

#2653 Minor changes to Cargo Containers
  code/game/objects/structures/cargo_container.dm
  icons/obj/structures/props/contain.dmi
  icons/obj/structures/props/containHorizont.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/20.lz1entrance_v2.dmm
  maps/map_files/BigRed/sprinkles/25.containerroom_xenos.dmm
  maps/map_files/BigRed/sprinkles/25.lz1containers_scramble.dmm
  maps/map_files/BigRed/sprinkles/30.cargo_containers.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/templates/Chinook.dmm
Labels: Fix, Sprites, Mapping, Mapping Approved

#2557 Adds Economy Inflation random event
  ColonialMarinesALPHA.dme
  code/__DEFINES/__game.dm
  code/__DEFINES/vendors.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vending_types.dm
  code/modules/cm_tech/droppod/gear_access_point.dm
  code/modules/events/_events.dm
  code/modules/events/inflation.dm
  code/modules/events/nothing_happens.dm
  code/modules/vehicles/apc/apc_command.dm
Labels: Feature, Code Improvement

#2680 restores the larva/facehugger ree
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Fix

#2679 prevents runtimes accessing non-existent assets
  code/modules/projectiles/gun.dm
Labels: Fix

#2678 fixes some winset errors
  tgui/packages/tgui-panel/themes.js
Labels: Fix, UI

#2628 Adds lisping character trait
  code/__DEFINES/regex.dm
  code/__DEFINES/traits.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_helpers.dm
Labels: Feature

#2669 rotate chair keybind
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Quality of Life

#2682 Fixes invincible base crusher
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
Labels: Fix, Balance

#2548 mentors/admins can now appear to players as a ghostly SEA
  ColonialMarinesALPHA.dme
  code/__HELPERS/icons.dm
  code/__HELPERS/unsorted.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  code/modules/mob/mob_movement.dm
  icons/mob/hud/actions.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#2623 Gardener Health Regeneration fix
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
Labels: Fix, Code Improvement, Stale

#2615 Xeno strain description disclosures and update
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/lurker/vampire.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
Labels: Fix, Code Improvement

#2684 Fix for WO.
  code/__DEFINES/__game.dm
Labels: Fix

#2659 Cleaned up table code and bugfix
  code/__DEFINES/objects.dm
  code/__DEFINES/traits.dm
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#2445 Increased amount of prey cats can leap upon, including larva and facehuggers.
  code/modules/mob/living/living_helpers.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Feature, Stale

#2657 Fixes a polio cause
  code/modules/mob/living/carbon/human/species/species.dm
Labels: Fix, Testmerge Candidate

#2687 Water Mashed Potatoes are now Watery Mashed Potatoes
  code/modules/cm_marines/equipment/gear.dm
Labels: Grammar and Formatting

#2461 flaky tests
  .github/workflows/rerun_flaky_tests.yml
  tools/pull_request_hooks/rerunFlakyTests.js
Labels: Github

#2685 restores vv functionality of hurting living mobs
  code/modules/admin/view_variables/topic.dm
  code/modules/mob/mob.dm
Labels: Admin

#2636 Adds unused predator/predalien sounds.
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  sound/voice/alien_death_unused.ogg
  sound/voice/alien_roar_unused.ogg
Labels: Sound, Code Improvement, Stale

#2587 Refactored binocular overlays and camos into being variable-dependent.
  code/game/objects/items/devices/binoculars.dm
Labels: Refactor, Stale

#2698 Fixes crates being anchored when they land.
  code/modules/cm_tech/droppod/supply.dm
Labels: Fix

#2693 Makes braziers and torches craftable by Yautja
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/props.dm
  code/game/turfs/walls/walls.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/obj/structures/structures.dmi
Labels: Feature, Sprites, Sprites Approved

#2696 Preds can self destruct dead humans with bracers on, loud roar fix, adds one emote
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/human/species/emote-yautja.dm
  sound/voice/pred_come_on_out.ogg
  sound/voice/pred_ugly_freak.ogg
Labels: Feature, Fix, Sound

#2667 Fixes provost beanbags
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
Labels: Fix

#2681 Seegson Cargo Container Recolor
  icons/obj/structures/props/contain.dmi
Labels: Sprites, Sprites Approved

#2611 weapon name HRP
  code/datums/supply_packs/black_market.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/gear_presets/uscm.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/rifles.dm
Labels: Grammar and Formatting

#2700 Fixes grammar errors in strain descriptions
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
Labels: Fix, Grammar and Formatting

#2626 Added missing rolled-up sleeve states
  icons/mob/humans/onmob/uniform_0.dmi
Labels: Fix, Sprites, Sprites Approved

#2519 Groundside Tweaks PR Atomized Xenomorph Changes
  code/__DEFINES/mode.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Balance, Testmerge Candidate, Architect Approved

#2543 escape menu
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals/signals_admin.dm
  code/__DEFINES/dcs/signals/signals_client.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/text.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/_onclick/hud/screen_object_holder.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/input.dm
  code/datums/map_config.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/reset_held_keys.dm
  code/modules/escape_menu/admin_buttons.dm
  code/modules/escape_menu/details.dm
  code/modules/escape_menu/dimmer.dm
  code/modules/escape_menu/escape_menu.dm
  code/modules/escape_menu/home_page.dm
  code/modules/escape_menu/leave_body.dm
  code/modules/escape_menu/subsystem.dm
  code/modules/escape_menu/title.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
  icons/mob/hud/escape_menu_leave_body.dmi
  icons/mob/hud/screen1.dmi
  interface/VCR_OSD_Mono.ttf
  interface/fonts.dm
  interface/license.txt
  interface/skin.dmf
  maps/almayer.json
  maps/bigredv2.json
  maps/desert_dam.json
  maps/fiorina_sciannex.json
  maps/kutjevo.json
  maps/lv522_chances_claim.json
  maps/lv624.json
  maps/new_varadero.json
  maps/shivas_snowball.json
  maps/sorokyne_strata.json
  maps/whiskey_outpost_v2.json
Labels: Stale, UI

#2686 sanity check against non-cliented ert spawns
  code/datums/emergency_calls/emergency_call.dm
Labels: Fix

#2704 Hardhat Fixes/Changes
  code/modules/clothing/head/hardhat.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Feature, Fix, Code Improvement

#2625 Humans wear sterile masks properly
  icons/mob/humans/onmob/mask.dmi
Labels: Fix, Sprites, Sprites Approved

#2620 Headbite's animation is more anatomically accurate
  icons/effects/attacks.dmi
  icons/mob/hud/actions_xeno.dmi
Labels: Sprites, Sprites Approved

#2617 New Reinforced Structure ability icons, resized structure ability icons
  icons/mob/hud/actions_xeno.dmi
Labels: Fix, Sprites, Sprites Approved

#2618 Ability Icon Border Fixes
  icons/mob/hud/actions_xeno.dmi
Labels: Fix, Sprites, Sprites Approved

#2715 Lv 624 junglification
  maps/map_files/LV624/LV624.dmm
Labels: Mapping

#2695 LV522: Chances Changes
  code/game/objects/prop.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/forcon_survivors.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#2705 Fixes braziers and plasma pistols
  code/__DEFINES/equipment.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/tools/mining_tools.dm
  code/game/objects/structures/props.dm
  code/modules/assembly/igniter.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix, Code Improvement, GBP: No Update

#2627 Fixes some debug errors
  code/game/jobs/role_authority.dm
Labels: Fix, Stale

#2697 Added a barricade plushie
  code/game/objects/items/toys/toys.dm
  code/game/sound.dm
  icons/mob/humans/onmob/__inhand_template.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/toy.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/items/plush1.ogg
  sound/items/plush2.ogg
  sound/items/plush3.ogg
Labels: Feature, Sound, Sprites, Code Improvement, Mapping, Sprites Approved

#2658 M276 Combat Toolbelt Rig
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/objects/items/storage/belt.dm
  icons/mob/humans/onmob/belt.dmi
  icons/obj/items/clothing/belts.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#2724 Marine Raiders aren't starving anymore.
  code/modules/gear_presets/uscm.dm
Labels: Fix

#2713 Ghosts will no longer be called Unknown.
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#2709 whispering while speaking another language by default now works
  code/modules/mob/living/carbon/human/whisper.dm
Labels: Fix

#2711 hotkey dlc [probably not broken]
  code/_globalvars/lists/keybindings.dm
  code/datums/keybinding/admin.dm
  code/datums/keybinding/human.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/tgui_macro.dm
  tgui/packages/tgui/interfaces/KeyBinds.js
Labels: Priority: High, GBP: No Update

#2716 Removes Working Joes Custom Loadouts
  code/modules/gear_presets/synths.dm
Labels: Fix

#2728 Fix for IGNITING_ITEM.
  code/_globalvars/bitfields.dm
  code/game/objects/items/storage/storage.dm
Labels: Fix

#2449 the xm88 cursor now applies when it should, and has a preference
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/objects/items.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Fix

#2699 Fixes berserker buffed slashes slowing for over a minute
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Labels: Fix, Architect Approved

#2203 [WIP] Round Results (Internal use stuff)
  code/controllers/configuration/entries/general.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Server, Stale Exempt

#2740 Fixes barrel and ammo box sprites for M4RA
  icons/obj/items/weapons/guns/ammo_box.dmi
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
Labels: Fix, Sprites, Sprites Approved
