Repository cmss13-devs/cmss13, pull requests merged in 2023-07, with the labels that each got.

#3601 InfluxDB Metrics Backend
  code/__DEFINES/subsystems.dm
  code/__HELPERS/text.dm
  code/_globalvars/global_lists.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/influxdriver.dm
  code/controllers/subsystem/influxmcstats.dm
  code/controllers/subsystem/influxstats.dm
  code/datums/statistics/entities/panel_stats.dm
  code/datums/statistics/entities/round_stats.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  colonialmarines.dme
  nano/templates/cm_stat_panel.tmpl
Labels: Feature, Stale

#3773 Fixes ranged Vampire Lurker headbiting
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Fix

#3622 Makes the MP Beret clickable.
  icons/obj/items/clothing/cm_hats.dmi
Labels: Sprites, Sprites Approved

#3658 added camera shake to ob
  code/__DEFINES/conflict.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_marines/orbital_cannon.dm
Labels: Feature, Testmerge Candidate

#3762 EB Velocity Bugfix
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/gun.dm
Labels: Fix

#3732 Dropship Missile Refactor
  code/modules/cm_marines/dropship_ammo.dm
Labels: Refactor

#3781 Fix time of death persistence for larva queue
  code/__HELPERS/cmp.dm
  code/__HELPERS/game.dm
  code/modules/client/client_defines.dm
  code/modules/client/player_details.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/organs/limb_objects.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix, GBP: No Update

#3780 restores the paper assets working on webroot assets
  code/modules/paperwork/paper.dm
Labels: Fix

#3684 Changes pod crash land probability to 33% from 50%.
  code/modules/shuttle/shuttles/escape_shuttle.dm
Labels: Balance, Stale

#3771 Queen makes movement noise even while resting
  code/datums/components/footstep.dm
Labels: Feature

#3787 Colonial Marshals gets bandages & RP Comms
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/survivors.dm
Labels: Feature

#3727 Fountain pen
  code/game/objects/items/tools/misc_tools.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/paper.dmi
Labels: Feature, Sprites, Sprites Approved

#3690 gives all xenos access to the (xeno) tacmap while the queen is on ovi
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature

#3741 Metalfoam speed improvement
  code/game/objects/effects/effect_system/foam.dm
Labels: Balance, Stale

#3765 Fix Weed Nodes in Walls
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Balance, Refactor

#3709 Hardy Weeds Upgrade Weeds
  code/__DEFINES/xeno.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
Labels: Balance

#3790 Changes evac pod crash chance from a define to a var
  code/modules/shuttle/shuttles/escape_shuttle.dm
Labels: Code Improvement

#3793 Fix even more paper logos
  code/game/machinery/computer/medical.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_machinery/reagent_analyzer.dm
Labels: Fix

#3755 Bioscan Logging & Efficiency Upgrades
  code/game/bioscans.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Testmerge Candidate, Admin

#3685 Xeno structures/weeds become forsaken after hijack
  code/__DEFINES/dcs/signals/signals_global.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature, Testmerge Candidate, Needs Testing

#3670 Burnt matches no longer permanently give you a light source if they naturally burn out
  code/game/objects/items/tools/flame_tools.dm
Labels: Fix

#3800 Removes fountain pens from gear sets
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Removal

#3750 Defender and Crusher tail smash has a 1% chance of doing a BONK! sound instead.
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  sound/effects/comical_bonk.ogg
Labels: Feature, Sound, Stale

#3815 Fixes dead queen footsteps.
  code/datums/components/footstep.dm
Labels: Fix

#3799 New Varadero CO Survivor
  code/modules/gear_presets/survivors.dm
  maps/new_varadero.json
Labels: Feature

#3805 Fix Larva and Ovi Queen Ghost Icons
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#3806 Removes nesting the dead
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Removal

#3821 Colony Synthetics have less resistance but are faster.
  code/datums/skills.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Balance

#3808 Gives the M4A3 service pistol the correct lore accurate magazine size
  code/modules/projectiles/magazines/pistols.dm
Labels: Balance, Balance Approved

#3813 Fixes some tool checks
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/floor.dm
  code/modules/power/port_gen.dm
Labels: Fix

#3812 Create humans tweaks
  code/modules/admin/tabs/event_tab.dm
  html/create_humans.html
Labels: Quality of Life

#3644 The weeds are hungry: Bodies for the weeds
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/datums/components/weed_food.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/gear_presets/corpses.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  colonialmarines.dme
  icons/mob/xenos/weeds.dmi
Labels: Feature, Sprites, Sprites Approved

#3807 Fixes extraneous messages in regards to wall nests
  code/game/turfs/walls/walls.dm
  code/modules/cm_aliens/weeds.dm
Labels: Fix

#3826 Fix launch_towards ordering for facehuggers
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#3827 Working Joes no longer can have a gradient on their rare hair.
  code/modules/gear_presets/synths.dm
Labels: Fix

#3828 Working Joes can no longer eat
  code/__DEFINES/traits.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Code Improvement, Removal

#3774 Adds/Changes various machine descriptions
  code/game/machinery/cryo.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Grammar and Formatting

#3645 adds a visible line when using iv drips / bloodpacks
  code/game/machinery/iv_drip.dm
  code/game/objects/items/reagent_containers/blood_pack.dm
  icons/effects/beam.dmi
Labels: Feature, Sprites, Sprites Approved

#3792 Emote panel for WJs
  code/__DEFINES/tgui.dm
  code/__DEFINES/wj_emotes.dm
  code/modules/mob/living/carbon/human/species/emote-synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_emote.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/working_joe/farewell.dm
  code/modules/mob/living/carbon/human/species/working_joe/greeting.dm
  code/modules/mob/living/carbon/human/species/working_joe/notice.dm
  code/modules/mob/living/carbon/human/species/working_joe/question.dm
  code/modules/mob/living/carbon/human/species/working_joe/quip.dm
  code/modules/mob/living/carbon/human/species/working_joe/restricted_area.dm
  code/modules/mob/living/carbon/human/species/working_joe/task_update.dm
  code/modules/mob/living/carbon/human/species/working_joe/warning.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/wj_emotes.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  tgui/packages/tgui/interfaces/JoeEmotes.tsx
Labels: Feature, UI, Whitelist Changes, Testmerge Candidate

#3829 Turns Foxtrot's radio channel on by default
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Quality of Life

#3803 Larva Queue Late Joiner Nerf
  code/__HELPERS/game.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/client/player_details.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix, GBP: No Update, Removal

#3838 Renames Underbarrel Grenade Launcher to its canonical name: U1 Grenade Launcher
  code/modules/projectiles/gun_attachables.dm
Labels: Grammar and Formatting

#3772 Acid runner cannot get acid stacks from nested humans
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
Labels: Feature, Stale

#3837 Resin fruit now properly check if they can be consumed
  code/modules/cm_aliens/structures/fruit.dm
Labels: Fix

#3842 Fixes the Working Joe mistake I caused
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
Labels: Fix

#3804 Synth Armour Speed Increase
  code/modules/clothing/suits/marine_armor.dm
Labels: Balance

#3834 Changes engineering on LV522 to make the comms relay further away from LZ1
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping

#3809 Reduces the M1911 Magazine size to it's lore accurate amount
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/magazines/pistols.dm
Labels: Balance

#3811 Telebaton stun rebalance
  code/game/objects/items/weapons/swords_axes_etc.dm
Labels: Balance

#3801 Foxtrot total number nerf
  code/datums/emergency_calls/cryo_marines.dm
Labels: Balance

#3810 Stops xenos from bypassing dead moving via roller beds
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix

#3824 Thwomper's Synthetic Uniforms(THWOMP SHRAMALERT) & Synth Vendor QOL
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#3818 Burrower burrow changes and fixes
  code/__DEFINES/traits.dm
  code/game/objects/items/explosives/mine.dm
  code/modules/defenses/sentry.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/living_verbs.dm
  sound/effects/burrowing_b.ogg
  sound/effects/burrowoff.ogg
Labels: Fix, Sound, Stale

#3802 Fix marines not getting first dibs if they ghost
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Fix, Stale

#3874 VV Jump To Fix
  code/game/atoms.dm
Labels: Admin

#3878 Fixes Yautja notification sound toggle
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#3871 Airburst Packet Typo Fix
  code/controllers/subsystem/x_evolution.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
Labels: Grammar and Formatting

#3870 fixes the 'alien blade' on LV
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
Labels: Fix, Mapping, Mapping Approved

#3866 Fix: Infinite Carbon Copies
  code/modules/paperwork/carbonpaper.dm
Labels: Fix

#3857 Invisible lurker pushing
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/behavior_delegate.dm
Labels: Balance, Balance Approved

#3881 Renames Pred Ship
  code/modules/cm_preds/yaut_items.dm
Labels: UI

#3864 Fixes the damage caused by the HE OB
  code/modules/cm_marines/orbital_cannon.dm
Labels: Fix

#3851 Removes MSay
  code/__DEFINES/speech_channels.dm
  code/datums/keybinding/communication.dm
  code/datums/redis/callbacks/msay.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/client/client_procs.dm
  code/modules/tgui/tgui-say/modal.dm
  code/modules/tgui/tgui-say/speech.dm
  colonialmarines.dme
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-say/helpers/index.tsx
  tgui/packages/tgui-say/styles/colors.scss
Labels: UI, Admin

#3841 Restore mouse_opacity for morpher ejected items
  code/game/objects/items/storage/storage.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Labels: Fix

#3849 PMC Synth Survivor preset
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/synths.dm
Labels: Feature

#3847 Sneaks an extra tile into Almayer squad preps by using fancy density and offsetting magic
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3831 CIC Reception Telephone and Medical Lower Telephone Adjustment
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3816 Stops welding wood containers.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, Stale

#3830 Changes chem dispenser code
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  maps/interiors/fancylocker.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/templates/Chinook.dmm
  maps/templates/clf_ert_station.dmm
  maps/templates/weyland_ert_station.dmm
Labels: Code Improvement, Mapping

#3882 Revive tableflip fixes
  code/game/objects/structures/tables_racks.dm
Labels: Fix, Priority: High

#3886 AFK Facehuggers Convert to Normal Huggers
  code/__DEFINES/xeno.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Feature, Code Improvement

#3883 Hard delete fixes for predator landmarks and van if their area changes
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/vehicles/interior/interior.dm
Labels: Fix, Hard Deletes

#3840 Adding Coats to the Staff Officer vendor
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Labels: Feature

#3895 Removes dozens of duplicate and empty icon states from over 50 dmi files
  icons/effects/genetics.dmi
  icons/mob/hud/alien_standard.dmi
  icons/mob/hud/hud.dmi
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/screen1.dmi
  icons/mob/hud/screen1_robot.dmi
  icons/mob/hud/talk.dmi
  icons/mob/humans/green_armors.dmi
  icons/mob/humans/human.dmi
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/species/monkeys/onmob/suit_monkey_0.dmi
  icons/mob/humans/species/monkeys/onmob/uniform_monkey_0.dmi
  icons/mob/xenonids/lurker.dmi
  icons/obj/bodybag.dmi
  icons/obj/items/black_goo_stuff.dmi
  icons/obj/items/clothing/halloween_clothes.dmi
  icons/obj/items/food.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  icons/obj/items/weapons/guns/attachments/rail.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
  icons/obj/items/weapons/guns/legacy/old_bayguns.dmi
  icons/obj/items/weapons/guns/legacy/old_cmguns.dmi
  icons/obj/structures/doors/mineral_doors.dmi
  icons/obj/structures/doors/prison_FOP/prison_hatches.dmi
  icons/obj/structures/machinery/computer3.dmi
  icons/obj/structures/machinery/cryogenics.dmi
  icons/obj/structures/machinery/shuttle-parts.dmi
  icons/obj/structures/machinery/vending.dmi
  icons/obj/structures/props/dam.dmi
  icons/obj/structures/props/fence.dmi
  icons/obj/structures/stairs/perspective_stairs_ice.dmi
  icons/obj/structures/stairs/perspective_stairs_kutjevo.dmi
  icons/old_stuff/Seasonal/xmas.dmi
  icons/rebase_icons.dmi
  icons/turf/almayer.dmi
  icons/turf/area_strata.dmi
  icons/turf/floors/asphalt.dmi
  icons/turf/floors/concrete.dmi
  icons/turf/floors/floors.dmi
  icons/turf/walls/bunker.dmi
  icons/turf/walls/dev/dev.dmi
  icons/turf/walls/floodgate.dmi
  icons/turf/walls/kutjevo/kutjevo.dmi
  icons/turf/walls/solaris/solaris.dmi
  icons/turf/walls/solaris/solaris_old.dmi
  icons/turf/walls/strata_outpost.dmi
  icons/turf/walls/windows.dmi
Labels: Fix, Sprites, Removal, Sprites Approved

#3784 Project ARES - APOLLO Console Distribution
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3896 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
Labels: Tools

#3898 Adds bayonet pouch to req
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Feature

#3798 Working Joe Death Sound and Death Message (It is so Joever)
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  sound/voice/joe/death_dream.ogg
  sound/voice/joe/death_normal.ogg
  sound/voice/joe/death_silence.ogg
  sound/voice/joe/death_tomorrow.ogg
Labels: Feature, Sound, Stale

#3904 Added preference to disallow de-activation of your current ability
  code/__DEFINES/client_prefs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
Labels: Quality of Life

#3900 Balance: Reduces raw damage from Tranq rounds
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Balance Approved

#3901 Changes Corporate Protection Synth preset to use hvh radio
  code/modules/gear_presets/synths.dm
Labels: Fix

#3583 Adds a CL-exclusive pistol, the ES-4.
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/wy.dmi
  icons/obj/items/weapons/guns/guns_by_faction/wy.dmi
  icons/obj/items/weapons/projectiles.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/weapons/gun_es4.ogg
Labels: Feature, Sound, Sprites, Mapping, Sprites Approved, Mapping Approved

#3749 Re-balances acid damage
  code/__DEFINES/conflict.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
Labels: Balance, Testmerge Candidate, Needs Testing

#3729 Ravager and Hedgehog changes
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/hedgehog.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Testmerge Candidate

#3817 Buffs trashbags
  code/game/objects/items/storage/bags.dm
Labels: Balance

#3676 New Varadero revamp
  code/__DEFINES/sounds.dm
  code/__DEFINES/weather.dm
  code/datums/weather/weather_events/new_varadero.dm
  code/datums/weather/weather_map_holders/new_varadero.dm
  code/game/area/varadero.dm
  code/game/machinery/storm_siren.dm
  code/game/turfs/turf.dm
  code/modules/cm_marines/equipment/maps.dm
  code/modules/gear_presets/survivors.dm
  colonialmarines.dme
  map_config/maps.txt
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/new_varadero.json
  sound/ambience/ambienceNV.ogg
  sound/ambience/varadero_storm.ogg
  sound/effects/weather_warning_varadero.ogg
Labels: Feature, Balance, Sound, Code Improvement, Grammar and Formatting, Testmerge Candidate, Mapping, Config, Needs Testing

#3777 Big Red PMC Crash Changes (feat. Surv Goon M41 Fix)
  code/datums/skills.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors.dm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Labels: Feature, Fix, Stale, Mapping

#3822 Tones down some ERT skills
  code/datums/skills.dm
Labels: Balance, Stale

#3833 Increases default window sizes for paper and desc_lore windows
  code/game/atoms.dm
  code/modules/admin/verbs/custom_paper.dm
  code/modules/paperwork/paper.dm
Labels: Quality of Life, Stale

#3905 Map fix adding missing apc to all the areas that didn't have one
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#3890 Trijent Weed Tile Addition
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Mapping, Mapping Approved

#3924 Starshell Typo Fix
  code/game/objects/items/devices/flashlight.dm
Labels: Grammar and Formatting

#3921 Lurkers don't lose invisibility when bumping into invisible mobs
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Labels: Balance

#3889 Gives Sprite To Predator Toolbelt
  code/game/objects/items/storage/belt.dm
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#3915 [Fix] Xenos scuttle + Allied Xenos Using Doors
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix, Code Improvement

#3844 Makes the speed for an embryo to burst a config + embryo buff
  code/controllers/configuration/entries/game_options.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  config/example/config.txt
Labels: Balance, Testmerge Candidate, Config

#3853 Removes Rejuvinate and adds restricted proc logs
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/__HELPERS/verb_helpers.dm
  code/_globalvars/bitfields.dm
  code/controllers/configuration/configuration.dm
  code/game/verbs/who.dm
  code/global.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/callproc.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/client/client_procs.dm
  config/example/admin_ranks.txt
Labels: Admin

#3914 Adds a new Gin Bottle design, visually different than that of the Vodka.
  icons/obj/items/drinks.dmi
Labels: Sprites, Good First PR, Sprites Approved

#3884 Notify when a NPC Facehugger facehugs someone
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Quality of Life

#3929 Fix the M56D ignoring collision when dismounting the user
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix, Good First PR

#3946 Disable testing override maps in CI
  .github/workflows/ci_suite.yml
Labels: Code Improvement, GBP: No Update, Github

#3938 Fixes PMC Survivor Synth AGAIN
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Fix

#3850 Donator Kits
  code/modules/clothing/head/collectable.dm
  code/modules/cm_marines/Donator_Items.dm
  code/modules/cm_marines/Donator_Kits.dm
  code/modules/customitems/item_spawning.dm
  colonialmarines.dme
  icons/obj/items/storage.dmi
Labels: Feature, Sprites, Code Improvement

#3940 Facehuggers now bypass time of death checks when joining as Larva
  code/__HELPERS/game.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature, Code Improvement

#3935 [Experimental] Modifies INTERRUPT_NO_NEEDHAND flag
  code/__HELPERS/unsorted.dm
  code/modules/organs/limbs.dm
Labels: Balance

#3941 Yautja armor nerf-fix
  code/modules/cm_preds/yaut_items.dm
Labels: Fix, Whitelist Changes

#3927 Survivor CMB Synthetic limited comms
  code/modules/gear_presets/synths.dm
Labels: Fix

#3934 Pouch availability nerfs
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance

#3911 Yautja surgery target zone change
  code/modules/cm_preds/yaut_mask.dm
  code/modules/surgery/mcomp_tendwounds.dm
Labels: Code Improvement, Whitelist Changes

#3932 prevents bad vars being touched
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
Labels: Admin

#3899 Knife webbing fixes and consistency
  code/__DEFINES/combat.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/under/ties.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Feature, Code Improvement

#3893 Colonial Marshal ERT now uses their own faction
  code/__DEFINES/mode.dm
  code/modules/gear_presets/cmb.dm
Labels: Fix

#3953 Adds var to tents to make them deployable on the Almayer/Tdome
  code/modules/tents/folded_tents.dm
Labels: Code Improvement

#3950 Decreases blood bag IV insertion time
  code/game/objects/items/reagent_containers/blood_pack.dm
Labels: Balance, Balance Approved

#3947 Ghosts now notified when larva are about to chestburst out of un-nested
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Quality of Life

#3943 Fix the first prompt to ghost when nested
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#3944 AI Core APC power storage increase
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3832 New CAS Weapon: BLU-200 Dragons Breath, thermobaric bomb
  code/modules/cm_marines/dropship_ammo.dm
Labels: Feature, Testmerge Candidate

#3957 Fix Xeno Tacmap Persistence
  code/controllers/subsystem/minimap.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#3961 New blood bags
  code/game/objects/items/reagent_containers/blood_pack.dm
  icons/obj/items/bloodpack.dmi
  icons/obj/items/reagentfillings.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#3954 Vendor icon_state fix
  code/game/machinery/vending/cm_vending.dm
Labels: Fix

#3959 fixes welder tool using up fuel on clicks that produce no action
  code/game/objects/items/tools/maintenance_tools.dm
Labels: Fix, Code Improvement

#3928 Fixes surgery trays to hold surgical graft
  code/game/objects/items/storage/surgical_tray.dm
  code/modules/clothing/under/ties.dm
Labels: Fix

#3956 Adds a Researcher headset with med/intel
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_medical.dm
Labels: Feature

#3788 Made Research nightmare insert blast doors no longer be invulnerable
  maps/map_files/LV624/science/40.fullylocked.dmm
Labels: Mapping

#3968 Fixes wood window numbering
  icons/turf/walls/windows.dmi
Labels: Fix

#3939 Lesser Drones
  code/__DEFINES/keybinding.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/typecheck/humanoids.dm
  code/__DEFINES/typecheck/xenos.dm
  code/__DEFINES/xeno.dm
  code/_globalvars/global_lists.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/role_authority.dm
  code/modules/admin/player_panel/actions/transform.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  icons/mob/xenonids/lesser_drone.dmi
  icons/mob/xenos/lesser_drone.dmi
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites

#3868 QOL Eggsac Carrier Changes - Sprites, Messages and Sounds
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  icons/mob/xenos/carrier.dmi
Labels: Feature, Sprites, Stale, Testmerge Candidate, Sprites Approved

#3964 Fix bodybags requiring ToD even if unreviveable
  code/game/objects/items/bodybag.dm
Labels: Fix

#3975 Fix Some Preferences Not Saving
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/tgui/tgui_number_input.dm
Labels: Fix

#3949 Stops multiple facehuggers spawning from one client
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#3764 General Pouches Tweaks & Fixes
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/storage/pouch.dm
Labels: Feature

#3757 Yautja cloak changes
  code/__DEFINES/combat.dm
  code/game/turfs/open.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Labels: Feature

#3455 Yautja Gear Recovery Changes
  code/__DEFINES/equipment.dm
  code/game/objects/items/explosives/plastic.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_machines.dm
  code/modules/cm_preds/yaut_shield.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/ammo_datums.dm
  icons/obj/items/assemblies.dmi
Labels: Feature, Sprites

#3456 Yautja Bracer Charging Rework
  code/__DEFINES/misc.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/power/apc.dm
Labels: Feature

#3783 Project ARES - Apollo Controller
  code/__DEFINES/ARES.dm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/typecheck/mobs_generic.dm
  code/defines/procs/announcement.dm
  code/game/bioscans.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/structures/pipes/vents/vents.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_tech/droppod/lz_effect.dm
  code/modules/mob/language/languages.dm
  code/span_macros.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/AresInterface.js
  tgui/packages/tgui/interfaces/WorkingJoe.js
  tgui/packages/tgui/styles/themes/crt/crt-red.scss
Labels: Feature, UI, Testmerge Candidate

#3902 You now lose hiding when melee attacking
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
Labels: Balance, Testmerge Candidate

#3909 Ports TGMC autofire
  code/__DEFINES/autofire.dm
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/guns.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/bitfields.dm
  code/_onclick/click_hold.dm
  code/controllers/subsystem/autofire.dm
  code/datums/agents/tools/tranq_gun.dm
  code/datums/components/autofire/_automated_fire.dm
  code/datums/components/autofire/autofire.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/cm_tech/implements/adv_weapon.dm
  code/modules/cm_tech/implements/medical_czsp.dm
  code/modules/gear_presets/fun.dm
  code/modules/projectiles/full_auto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/souto.dm
  code/modules/projectiles/guns/specialist.dm
  colonialmarines.dme
Labels: Fix, Balance, Testmerge Candidate

#3907 Yautja Bracer lock toggle & SD message
  code/modules/cm_preds/yaut_bracers.dm
Labels: Feature, Whitelist Changes

#3877 Yautja Armory and Ship access changes
  code/__DEFINES/access.dm
  code/__DEFINES/clans.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/game/jobs/access.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/shutters.dm
  code/modules/clans/client.dm
  code/modules/clans/rank.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  maps/predship/huntership.dmm
Labels: Feature, Code Improvement, Mapping, Mapping Approved

#3936 Fixes doubling of gadget points for second+ synth
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Fix

#3974 Interrupt flag fix
  code/__DEFINES/misc.dm
Labels: Fix, Testmerge Candidate, Needs Testing

#3918 Tent Tweaks & Fixes!
  code/modules/tents/blockers.dm
  code/modules/tents/deployed_tents.dm
  code/modules/tents/folded_tents.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/tents/tent_big.dmm
  maps/tents/tent_cmd.dmm
  maps/tents/tent_med.dmm
  maps/tents/tent_reqs.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#3930 PMC Synthetic minor qol
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/synths.dm
Labels: Feature, Fix, Quality of Life

#3867 Additional dmi testing for duplicates and quantity
  code/game/objects/items/reagent_containers/food.dm
  code/game/objects/items/storage/belt.dm
  code/modules/unit_tests/missing_icons.dm
  icons/mob/hud/human_old.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/structures/props/rocks.dmi
  icons/rebase_icons.dmi
  icons/turf/floors/desert_dirt.dmi
  icons/turf/floors/desert_rock.dmi
  tools/dmi/test.py
Labels: Sprites, Code Improvement, Github

#3970 Changes to disarm / CQC code
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Feature, Fix

#3972 Runtime Mapper
  code/controllers/subsystem/mapping.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mapping/space_management/space_level.dm
  tools/MapTileImageTool/MapTileImageTool.py
Labels: Feature

#3880 Legalize Nuclear Bombs (Nuke fixes and QOL)
  code/datums/supply_packs/operations.dm
  code/game/machinery/nuclearbomb.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  tgui/packages/tgui/interfaces/NuclearBomb.js
Labels: Fix, Grammar and Formatting, UI, Admin

#3969 Replace Robotics Dome Operating Table with Bioprinter (LVL-624)
  maps/map_files/LV624/LV624.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#3910 Synthflesh and Predalien Butchering of Synthetics Revamp
  code/datums/recipe.dm
  code/game/objects/items/reagent_containers/food/fish_snacks.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/reagents/chemistry_reactions/food_drink.dm
  icons/obj/items/food.dmi
Labels: Fix
