Repository cmss13-devs/cmss13, pull requests merged in 2023-11, with the labels that each got.

#4799 Predators are no longer immune to molecular acid
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Fix, Balance, Balance Approved

#4722 adds click drag from storage into your hands
  code/__DEFINES/dcs/signals/atom/signals_atom.dm
  code/_onclick/click_hold.dm
  code/_onclick/hud/screen_objects.dm
Labels: Quality of Life, Stale

#4574 Refactor gun cabinet code adding subtype for all the secure guncabinet/safes
  code/game/objects/items/devices/coins.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/level_blue.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/level_red.dm
  code/game/objects/structures/safe.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Refactor, Stale, Mapping, Mapping Approved

#4647 makes LZ detector work while landed round 2
  code/modules/cm_marines/dropship_equipment.dm
Labels: Balance, Balance Approved

#4754 turns options button into a "tab"
  html/statbrowser.js
Labels: Stale, UI

#4809 Sword Repaths and Sizing
  code/__DEFINES/surgery.dm
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/items/XMAS.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/items/weapons/blades.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/wo.dm
  code/modules/surgery/generic.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/predship/huntership.dmm
  maps/predship/regular.dmm
Labels: Balance, Code Improvement, Mapping, Balance Approved

#4781 Foxtrot and intel squad berets and headband
  code/modules/clothing/head/head.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Feature, Sprites, Sprites Approved

#4817 Fixes 2 gun runtime sources
  code/datums/components/autofire/autofire.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Fix

#4813 shrinks UPP SMG mag sprite size
  icons/obj/items/weapons/guns/ammo_by_faction/upp.dmi
Labels: Sprites, Sprites Approved

#4803 Whiskey Outpost Reqs Tweaks
  code/game/area/WhiskeyOutpost.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/modules/recycling/recycler.dm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Feature, Fix, Balance, Mapping, Balance Approved

#4841 Pill packets fit in helmets now
  code/modules/clothing/head/helmet.dm
Labels: Balance, Balance Approved

#4834 Adding toners to rec vendors
  code/game/machinery/vending/vending_types.dm
Labels: Feature

#4833 Fixes GC deletion issues around reagents
  code/game/objects/items/reagent_containers/reagent_container.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Fix, Hard Deletes

#4825 Fixes being able to load a flamer tank with no flamer unit
  code/game/objects/items/storage/large_holster.dm
Labels: Fix

#4830 Better OB cannon logging
  code/__HELPERS/unsorted.dm
  code/_globalvars/misc.dm
  code/game/world.dm
  code/global.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Admin

#4823 Fix job entry message wiki links
  code/__DEFINES/urls.dm
  code/controllers/configuration/configuration.dm
  code/game/jobs/job/civilians/other/liaison.dm
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/job/civilians/support/cmo.dm
  code/game/jobs/job/civilians/support/nurse.dm
  code/game/jobs/job/civilians/support/researcher.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/jobs/job/command/auxiliary/auxiliary_support_officer.dm
  code/game/jobs/job/command/auxiliary/crew_chief.dm
  code/game/jobs/job/command/auxiliary/intel.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/command/cic/staffofficer.dm
  code/game/jobs/job/command/police/chief_police.dm
  code/game/jobs/job/command/police/police.dm
  code/game/jobs/job/command/police/warden.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/logistics/cargo/cargo_tech.dm
  code/game/jobs/job/logistics/cargo/chief_req.dm
  code/game/jobs/job/logistics/engi/chief_engineer.dm
  code/game/jobs/job/logistics/engi/maint_tech.dm
  code/game/jobs/job/logistics/engi/ordnance_tech.dm
  code/game/jobs/job/marine/squad/engineer.dm
  code/game/jobs/job/marine/squad/leader.dm
  code/game/jobs/job/marine/squad/medic.dm
  code/game/jobs/job/marine/squad/smartgunner.dm
  code/game/jobs/job/marine/squad/specialist.dm
  code/game/jobs/job/marine/squad/standard.dm
  code/game/jobs/job/marine/squad/tl.dm
  config/example/config.txt
Labels: Fix

#4832 Replaces Nanotrasen cashcard icon with a W-Y cashcard icon.
  icons/obj/items/items.dmi
Labels: Sprites, Sprites Approved

#4826 Adds Corpsman Sterile Gloves
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/modules/clothing/gloves/marine_gloves.dm
Labels: Feature

#4572 [NI] - Kutjevo Communications | Re-Addition of Kutjevo Blackbox
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Kutjevo/sprinkles/35.communications.dmm
Labels: Feature, Stale, Mapping

#4819 New Varadero Survivor Outfit Changes
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
Labels: Feature

#4850 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/datum.dm
Labels: Tools

#4835 Removes Unused Stuff
  code/__DEFINES/subsystems.dm
  code/_globalvars/global_lists.dm
  code/_globalvars/lists/object_lists.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/admin.dm
  code/controllers/subsystem/disease.dm
  code/controllers/subsystem/fail_to_topic.dm
  code/controllers/subsystem/fast_machinery.dm
  code/controllers/subsystem/htmlui.dm
  code/controllers/subsystem/midi.dm
  code/controllers/subsystem/processing/defprocess.dm
  code/controllers/subsystem/smoke_system.dm
  code/controllers/subsystem/stamina.dm
  code/controllers/subsystem/stats_collector.dm
  code/controllers/subsystem/teleporter.dm
  code/controllers/subsystem/xenocon.dm
  code/datums/disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/stamina/_stamina.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/machinery/buttons.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/door_control.dm
  code/game/machinery/machinery.dm
  code/game/machinery/magnet.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/circuitboards/computer.dm
  code/game/world.dm
  code/modules/admin/verbs/debug.dm
  code/modules/client/client_procs.dm
  code/modules/defenses/defenses.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/reagents/chemistry_machinery/pandemic.dm
  code/modules/teleporters/teleporter_admin_verbs.dm
  code/modules/teleporters/teleporter_console.dm
  code/modules/teleporters/teleporter_landmarks.dm
  colonialmarines.dme
Labels: Testmerge Candidate, Removal

#4796 Tent code changes
  code/controllers/subsystem/mapping.dm
  code/modules/tents/folded_tents.dm
  icons/obj/structures/tents_folded.dmi
Labels: Sprites, Code Improvement, Admin

#4838 Big Red Changes Part 1: Admin
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/standalone/medbay-passage.dmm
Labels: Mapping, Mapping Approved

#4811 fixes typo in ro sign
  code/game/objects/structures/signs.dm
Labels: Grammar and Formatting

#4628 Nightmare Survivor Hostility Indicator
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Feature, Stale

#4623 Reimplements halloween pumpkin helmets event
  code/controllers/subsystem/game_decorator.dm
  code/game/turfs/open.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/decorators/halloween.dm
  code/modules/holidays/halloween/decorators.dm
  code/modules/holidays/halloween/pumpkins/patches.dm
  code/modules/holidays/halloween/pumpkins/wearable.dm
  colonialmarines.dme
  icons/misc/events/pumpkins.dmi
Labels: Feature, Sprites, Testmerge Candidate

#4699 Hijack Objectives & Self Destruct
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/hijack.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/hijack.dm
  code/game/area/almayer.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/extended/infection.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/fusion_engine.dm
  code/game/machinery/nuclearbomb.dm
  code/game/machinery/sentry_holder.dm
  code/game/machinery/status_display.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/world.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/defenses/sentry.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttle/shuttles/crashable/escape_shuttle.dm
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
  code/modules/shuttles/marine_ferry.dm
  colonialmarines.dme
  icons/obj/structures/machinery/fusion_eng.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/shuttles/escape_shuttle_e_cl.dmm
  sound/effects/creak1.ogg
  sound/effects/creak2.ogg
  sound/effects/creak3.ogg
  tgui/packages/tgui/interfaces/EscapePodConsole.tsx
Labels: Feature, Balance, Sprites, UI, Testmerge Candidate, Mapping, Balance Approved

#4845 Hotfixes being able to put anything in your boots
  code/modules/clothing/clothing.dm
Labels: Fix, Testmerge Candidate

#4831 Xeno Tunnel and Shuttle Building/Anchoring Changes
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
Labels: Fix, Removal

#4815 Vehicles hear exterior audio
  code/controllers/subsystem/interior.dm
  code/controllers/subsystem/sound.dm
  code/modules/vehicles/interior/interior.dm
Labels: Fix, Testmerge Candidate

#4794 Shotgun tube toggle hotkey
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human_combat.dm
Labels: Feature, Stale

#4851 Cigars now fit in helmets
  code/modules/clothing/head/helmet.dm
Labels: Feature

#4760 Adds a Colony Synthetic variant, with bug fixes
  code/datums/map_config.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/synths.dm
Labels: Feature, Fix, Stale

#4848 fixes typo
  strings/metatips.txt
Labels: Grammar and Formatting

#4820 Adds icon for hive core and cluster to Xeno tacmap
  code/modules/cm_aliens/structures/special/hive_cluster.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites

#4854 Fixes a Cabinet in the SW Solaris Mines.
  maps/map_files/BigRed/BigRed.dmm
Labels: Fix, Mapping, Mapping Approved

#4750 Code maintenace of Stats Entities
  code/datums/mind.dm
  code/datums/statistics/entities/caste_stats.dm
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/entities/human_stats.dm
  code/datums/statistics/entities/job_stats.dm
  code/datums/statistics/entities/panel_stats.dm
  code/datums/statistics/entities/player_entity.dm
  code/datums/statistics/entities/player_stats.dm
  code/datums/statistics/entities/round_stats.dm
  code/datums/statistics/entities/weapon_stats.dm
  code/datums/statistics/entities/xeno_stats.dm
Labels: Code Improvement, Testmerge Candidate

#4756 Minor Code Maintenance Bundle (deletes, standards, runtimes)
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/flora.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/projectiles/gun.dm
Labels: Fix, Testmerge Candidate

#4337 Adds CBRN ERT
  code/__DEFINES/job.dm
  code/controllers/subsystem/communications.dm
  code/datums/datacore.dm
  code/datums/diseases/black_goo.dm
  code/datums/emergency_calls/cbrn.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/marine/squads.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/prop.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/cbrn.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  colonialmarines.dme
  icons/mob/humans/onmob/feet.dmi
  icons/mob/humans/onmob/hands.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/mob/humans/onmob/uniform_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/masks.dmi
  icons/obj/items/clothing/shoes.dmi
  icons/obj/items/clothing/uniforms.dmi
  icons/obj/items/devices.dmi
Labels: Feature, Balance, Sprites, Grammar and Formatting, Testmerge Candidate, Balance Approved

#4859 Fix first use of USCM equipment presets
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/uscm.dm
Labels: Fix

#4856 Fix req ammo vendor not dispensing to the table
  code/game/machinery/vending/cm_vending.dm
Labels: Fix

#4860 Fixes colliding keybinds for asay/mentorsay
  code/__DEFINES/keybinding.dm
  code/__DEFINES/speech_channels.dm
  code/datums/keybinding/communication.dm
  code/modules/client/client_procs.dm
Labels: Fix

#4869 /tg/ Status Effects Prelude A - Updated Trait Backend
  code/__DEFINES/assert.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/job.dm
  code/__HELPERS/traits.dm
  code/datums/datum.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/admin/admin.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/mob.dm
  colonialmarines.dme
Labels: Code Improvement

#4871 /tg/ Status Effects Prelude C - Mob Density Refactor
  code/__DEFINES/traits.dm
  code/datums/agents/tools/chloroform.dm
  code/datums/components/weed_food.dm
  code/game/atoms.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/vehicles/interior/interactable/seats.dm
  colonialmarines.dme
Labels: Fix, Code Improvement

#4868 Adds possibility to customize crates
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/datums/components/crate_tag.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/droppod/supply.dm
  code/modules/recycling/sortingmachinery.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#4872 Fix fax template images for CDN
  code/modules/admin/fax_templates.dm
Labels: Fix

#4863 Fix imaginary friend ears and icons
  code/modules/mob/camera/imaginary_friend.dm
Labels: Fix, Testmerge Candidate

#4849 Minor fixes for Loadout Items
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/jobs/role_authority.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/items/toys/toys.dm
Labels: Fix

#4837 Makes rear dropship doors solid again and refactors multi door filler turf logic
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/runed_sandstone.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Fix, Code Improvement

#4864 Le Almayer changes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4867 M4 Synthetic PMC 'armor' changes p1
  code/__DEFINES/conflict.dm
  code/modules/clothing/suits/marine_armor.dm
  maps/map_files/LV624/hydro/30.destroyed.dmm
Labels: Feature, Balance, Grammar and Formatting, Mapping, Balance Approved

#4888 Almayer: Turns (mostly) empty maint room into Armourer workshop with old L42As
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4906 FIXES BIG RED HALLSIDEWALK
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Labels: Mapping, Mapping Approved

#4893 Kills var/burrow replaces with trait
  code/_onclick/hud/screen_objects.dm
  code/_onclick/xeno.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/living_verbs.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Feature

#4897 Boiler: replace single letter vars and removes unused code, also fixes 5th hotkey.
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
Labels: Fix, Code Improvement

#4884 Colonial Space Grunts
  code/game/machinery/vending/vending_types.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/paperwork/paper.dm
  html/images/ColonialSpaceGruntsEZ.png
Labels: Feature

#4882 Fixes guns occasionally ceasing to work
  code/datums/components/autofire/autofire.dm
Labels: Fix

#4879 Hotfix for missing Traitbound Elements Handlers
  code/__DEFINES/traits.dm
  code/modules/character_traits/biology_traits.dm
Labels: Fix, Testmerge Candidate

#4910 Changes a confusing healthscanner reading
  code/modules/mob/living/living_healthscan.dm
Labels: Quality of Life

#4899 Refactors a few vars on /mob/living/carbon/xenomorph
  code/game/objects/items/storage/backpack.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Code Improvement

#4891 Adds observer UI button for toggling HUDs
  code/_onclick/hud/ghost.dm
  icons/mob/screen_ghost.dmi
Labels: Feature, Sprites

#4885 /tg/ Status Effects Prelude E - Living Status Effects Refactor
  code/_onclick/human.dm
  code/datums/ammo/xeno.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_status_procs.dm
  code/modules/mob/mob_verbs.dm
  code/modules/projectiles/gun.dm
  code/modules/recycling/disposal.dm
Labels: Code Improvement

#4874 Functional bedrolls
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  icons/obj/items/bedrolls.dmi
Labels: Feature

#4873 Fixes minor mapping errors
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#4889 Echo pad droppod fix
  code/game/supplyshuttle.dm
Labels: Fix

#4466 Less Overpowered Commando ERTs (Marsoc, WY Whiteout, UPP Commandos)
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/upp_commando.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Feature, Admin

#4898 Runner: replace single letter vars
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
Labels: Code Improvement

#4878 /tg/ Status Effects Prelude D - Mob Freeze Refactor
  code/__DEFINES/traits.dm
  code/datums/agents/tools/chloroform.dm
  code/datums/effects/xeno_strains/boiler_trap.dm
  code/datums/mob_hud.dm
  code/game/objects/items/storage/smartpack.dm
  code/game/objects/structures/vulture_spotter.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/oppressor.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Fix

#4932 Hivelord: single letter var
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
Labels: Code Improvement

#4930 Fixes propaganda posters in CL office
  code/game/objects/effects/decals/posters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#4933 Fix ability to fulton revivable bodies
  code/game/objects/items/fulton.dm
Labels: Fix

#4929 Bigred Changes Part 2: Engineering And Reactor small touches
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
Labels: Mapping, Mapping Approved

#4843 LV-624 Cave Aesthetic Change
  code/game/objects/effects/decals/warning_stripes.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/centralcaves/10.T.dmm
  maps/map_files/LV624/centralcaves/10.qc.dmm
Labels: Mapping, Mapping Approved

#4919 Hotfixes #4890 bug adds mising newline
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#4936 Fixes some Almayer Walls randomly changing icons when hit
  code/game/turfs/walls/wall_types.dm
Labels: Fix

#4925 Moves sent faxes from highcom machines.
  code/game/machinery/fax_machine.dm
Labels: Feature

#4922 Lurker: bug fix, var disambiguation and redundant type checks
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Labels: Fix, Code Improvement

#4920 Biosuit Toe Fix
  icons/mob/humans/onmob/suit_0.dmi
Labels: Sprites

#4904 Vehicles can be followed by ghosts
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#4907 Adds Reflection to VV Modify Transform
  code/game/atoms.dm
Labels: Admin

#4928 Ravager: replaces single letter vars
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
Labels: Code Improvement

#4918 Refactors vendor global scope procs
  code/game/machinery/vending/cm_vending.dm
Labels: Code Improvement

#4937 Cloaked lurker devouring now shows a message to target again
  code/modules/mob/mob_grab.dm
Labels: Feature

#4938 Add inactivity protection for mods
  code/controllers/subsystem/inactivity.dm
Labels: Admin

#4912 Admin Vehicles Fixes
  code/__DEFINES/vehicle.dm
  code/_globalvars/bitfields.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/objects/structures/blocker.dm
  code/game/supplyshuttle.dm
  code/modules/cm_tech/implements/tank.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/tank/tank.dm
Labels: Fix, Admin

#4475 Adds drawing to tacmaps
  code/__DEFINES/hud.dm
  code/__DEFINES/minimap.dm
  code/__HELPERS/icons.dm
  code/_globalvars/global_lists.dm
  code/_globalvars/misc.dm
  code/controllers/subsystem/minimap.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tacmap_panel/tacmap_admin_panel.dm
  code/modules/admin/tacmap_panel/tacmap_admin_panel_tgui.dm
  code/modules/almayer/machinery.dm
  code/modules/client/client_procs.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_preds/yaut_machines.dm
  code/modules/desert_dam/motion_sensor/sensortower.dm
  code/modules/escape_menu/admin_buttons.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/vehicles/apc/apc_command.dm
  colonialmarines.dme
  html/statbrowser.js
  tgui/packages/tgui/interfaces/CanvasLayer.js
  tgui/packages/tgui/interfaces/DrawnMap.js
  tgui/packages/tgui/interfaces/OverwatchConsole.js
  tgui/packages/tgui/interfaces/TacmapAdminPanel.js
  tgui/packages/tgui/interfaces/TacticalMap.tsx
  tgui/packages/tgui/styles/interfaces/TacticalMap.scss
Labels: Feature, UI, Testmerge Candidate

#4954 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#4946 Fix jump-to-area runtime
  code/modules/admin/verbs/adminjump.dm
Labels: Fix

#4947 Fix c4 deletion runtime
  code/game/objects/items/explosives/plastic.dm
Labels: Fix

#4948 Fix issue with null hud_used in stop_tracking_resin_mark
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#4949 Fix null parent crash in radial slice clicked()
  code/_onclick/hud/radial.dm
Labels: Fix

#4950 Experimental sniper runtime fix
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Fix

#4951 Fix med_hud_set_health runtime for xenomorphs
  code/datums/mob_hud.dm
Labels: Fix

#4857 Added Ability for Looping Sounds to be heard from further away.
  code/datums/looping_sounds/_looping_sound.dm
Labels: Code Improvement

#4858 Added Ability to turn on and turn off a dropship alarm. (Requires pro…
  code/datums/looping_sounds/misc_sounds.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttle.dm
  colonialmarines.dme
  sound/vehicles/Dropships/single_alarm_brr_dropship_1.ogg
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: Feature, Sound, UI

#4983 Mess tech scaling
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/slot_scaling.dm
Labels: Feature

#4793 ports the tg profiler subsystem
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/profiler.dm
  colonialmarines.dme
Labels: Server, Stale, Testmerge Candidate

#4969 Nullchecks client in tooltips
  code/modules/tooltip/tooltip.dm
Labels: Fix

#4968 Fix crate unpacking runtime
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Fix

#4967 Fix handswap runtime
  code/_onclick/other_mobs.dm
Labels: Fix

#4965 Fix stack split & flamer fire runtime
  code/game/objects/items/stacks/stack.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix

#4970 Fix plushie/fountain pen/family photo pickup runtime
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/items/toys/toys.dm
Labels: Fix

#4971 Greps for missing arg in to_chat & fixes several cases
  code/game/objects/items/reagent_containers/food/fortunecookie.dm
  code/game/objects/structures/props.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/droppod/droppod_ui.dm
  tools/ci/check_grep.sh
Labels: Fix

#4972 Fix macro_set index out of range bug
  code/modules/keybindings/setup.dm
Labels: Fix

#4955 Removes a couple of istype(src) & unused proc
  code/__HELPERS/job.dm
  code/game/objects/items/cards_ids.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
Labels: Code Improvement

#4953 Hivecores perform multiple spawns at once
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#4827 Bureau du commandant - CO office
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4944 Break Up Secure Storage LV-624: V2
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#4994 Makes Thunderdome Floor Explosion-Proof
  code/game/turfs/floor_types.dm
  maps/map_files/generic/Admin_level.dmm
Labels: Fix, Mapping, Mapping Approved

#4989 Clarity on hijack announcements
  code/controllers/subsystem/hijack.dm
Labels: Grammar and Formatting, Consistency Issue

#4990 Fix resin doors not closing on mob/living if they are merged with weeds
  code/__DEFINES/traits.dm
  code/datums/components/weed_food.dm
  code/modules/cm_aliens/XenoStructures.dm
Labels: Fix

#4981 Oppressor XvX nerf
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance, Balance Approved

#4980 Location name standardization
  code/game/area/almayer.dm
Labels: Quality of Life

#4978 Lesser drones now die upon ghosting
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Labels: Removal

#4984 Adds explosion handling to experimental sensor tower
  code/modules/desert_dam/motion_sensor/sensortower.dm
Labels: Feature, Fix

#4985 Differentiates pylons in same area when spawning as lesser drone
  code/game/gamemodes/cm_initialize.dm
Labels: Fix

#4934 Allow playing uploaded sounds through the music player w/ Webroot
  code/__DEFINES/__game.dm
  code/__DEFINES/sounds.dm
  code/datums/soundOutput.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/tgui_panel/audio.dm
  code/modules/tgui_panel/tgui_panel.dm
  tgui/packages/tgui-panel/settings/reducer.js
Labels: Balance, UI, Testmerge Candidate, Balance Approved, Admin

#4559 Synthetic internal powercell
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species/human.dm
Labels: Feature, Fix, Balance, Balance Approved

#5010 More readable colour for the 'Maintainer' section in staffwho
  code/game/verbs/who.dm
Labels: Accessibility, UI

#5009 Fixes runtime with fire extinguisher cabinets on lifeboats
  code/game/objects/structures/extinguisher.dm
Labels: Fix

#5015 Lockdown actually closes doors on DS
  code/game/machinery/door_control.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: Feature, UI

#5012 Fixes Burst Corporate Supervisor landmark
  code/game/objects/effects/landmarks/corpsespawner.dm
Labels: Fix

#5008 Phone QOL - Last Caller ID
  code/modules/cm_phone/phone.dm
  tgui/packages/tgui/interfaces/PhoneMenu.js
Labels: Feature, UI

#5004 Fixes fortified defender headbutt
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
Labels: Fix

#4995 Dropship sidedoors
  code/game/machinery/doors/multi_tile.dm
  icons/obj/structures/doors/dropship1_side2.dmi
  icons/obj/structures/doors/dropship2_side2.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Sprites, Mapping, Mapping Approved

#4961 More accurate directions for trackers and messages
  code/datums/agents/tools/tracker.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/game/objects/items/devices/pinpointer.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/yautja/yautja_sound.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/shuttle/shuttles/crashable/crashable.dm
Labels: Quality of Life

#4998 Adds Pizza to Requisitions
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Removal, Mapping Approved

#5001 Kutjevo Mapping Fix
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping, Removal, Mapping Approved

#5005 Fixes Trijent Mapping Error(?)
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Fix, Mapping, Mapping Approved

#4974 Fixes the XM43E1 and the M42C
  code/datums/supply_packs/black_market.dm
  code/datums/supply_packs/spec_ammo.dm
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences_gear.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
Labels: Fix, Sprites, Sprites Approved

#5023 Removal of Pizza Cutter from Req
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Removal

#4921 Warrior: replace single letter vars & remove redundant code
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Feature, Stale

#5000 qol add a new section to role squad vendors called binoculars except specialist.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Quality of Life

#4979 Moves Warrior Limb rip procs and adds check for host
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Fix, Code Improvement

#5040 Automatic TGS DMAPI Update
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
Labels: Tools

#5025 Fixes Hijack Dropship launch announcement alarm not turning off - Bwoop is Kil
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix, Sound, UI

#5036 Fix post-SD detonation timer
  code/controllers/subsystem/hijack.dm
Labels: Fix

#5021 Makes the squad attachments vendor vend to hand
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Quality of Life

#5020 Sorokyne Tunnels Upgrade
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Balance, Mapping, Balance Approved, Removal, Mapping Approved

#5042 Readds skull facemask and facepaint
  code/modules/client/preferences_gear.dm
Labels: Feature

#4716 Eggsac carrier revival
  code/modules/cm_aliens/structures/egg.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Labels: Feature, Balance, Balance Approved

#5035 Whiskey Outpost can no longer roll pred rounds.
  code/game/jobs/role_authority.dm
Labels: Removal

#4964 Fix nullspaced closet runtime
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#5039 Kutjevo - South Caves Spring
  code/game/area/kutjevo.dm
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping, Mapping Approved

#5050 Fixes Kutjevo space tiles
  maps/map_files/Kutjevo/sprinkles/35.communications.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Fix, Mapping, Mapping Approved

#4991 Refactors Xenomorph initialize
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Code Improvement, Testmerge Candidate

#5032 fixes orbit menu for 0 health and admins refreshing
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Fix, UI

#5056 Resin holes can no longer be made below stairs
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#5055 Removes flame particles
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Sprites, Removal
