Repository cmss13-devs/cmss13, pull requests merged in 2023-10, with the labels that each got.

#4154 Rebalances Yautja bracer power
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Whitelist Changes

#4523 TGUI: Microwave
  code/game/machinery/kitchen/microwave.dm
  tgui/packages/tgui/interfaces/Microwave.tsx
Labels: UI

#4555 Eggs No Longer Have Melee Resistance
  code/modules/cm_aliens/structures/egg.dm
Labels: Balance, Balance Approved

#4554 Tool Pouch Allowed Items Change
  code/game/objects/items/storage/pouch.dm
Labels: Balance, Balance Approved

#4552 Fixes fake incomplete surgery
  code/modules/surgery/surgery_initiator.dm
Labels: Fix

#4544 Working Joe Voiceline FIx
  code/modules/mob/living/carbon/human/species/working_joe/task_update.dm
Labels: Fix

#4533 Fixes distress signal manual calls and a WO distress signal announcement
  code/datums/emergency_calls/whiskey_outpost.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Fix

#4481 Surgical Drop Pouch Revival
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/clothing/ties_overlay.dmi
Labels: Feature, Sprites, Sprites Approved

#4425 Resin Fruits now contain enough fruit resin to be scanned. Alacrit now contains catecholamine plasma
  code/modules/cm_aliens/structures/fruit.dm
Labels: Balance

#4563 Egg runtime fix
  code/modules/cm_aliens/structures/egg.dm
Labels: Fix

#4562 Allows Xeno Hive To Ally With CMB
  code/__DEFINES/mode.dm
Labels: Feature

#4534 "Fixes" missing window frame icon states
  code/game/smoothwall.dm
Labels: Fix

#4506 Add cached larva queue message to observer status panel
  code/__HELPERS/game.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#4565 remove welding google from squad comtech vendor to avoid him to waste point.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
Labels: Quality of Life

#4567 Underbarrel extinguisher no longer requires wield
  code/modules/projectiles/gun_attachables.dm
Labels: Balance

#4578 Inventory Manipulation Keybinds
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/datums/keybinding/human_combat.dm
  code/datums/keybinding/human_inventory.dm
  colonialmarines.dme
Labels: Feature

#4576 UPP surv redo and removing ambiguous text
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
Labels: Fix, Grammar and Formatting

#4568 Fixes storage depth for internal storages
  code/_onclick/adjacent.dm
Labels: Fix

#4569 Candle box nerf 😭
  code/game/objects/items/storage/fancy.dm
Labels: Fix

#4570 Operation time logging
  code/game/gamemodes/game_mode.dm
Labels: Admin

#4571 Pylon tweaks
  code/__DEFINES/xeno.dm
  code/game/machinery/telecomms/presets.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix, Balance

#4549 Helmet Optics Update
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/datums/supply_packs/gear.dm
  code/game/machinery/recharger.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/modules/clothing/head/helmet.dm
  code/modules/gear_presets/uscm.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/clothing/helmet_visors.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Feature, Fix, Refactor, Sprites, Mapping, Removal, Sprites Approved

#4514 Restore stat panel options to change font size
  code/controllers/subsystem/statpanel.dm
  html/statbrowser.js
Labels: Feature, UI

#4545 Minor QOL Buff To Handheld Crew Monitor
  code/modules/cm_marines/radar.dm
  tgui/packages/tgui/interfaces/Radar.tsx
Labels: UI

#4582 Fixes req door accesses
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#4505 Get Flat Icon Fixes
  code/__HELPERS/icons.dm
Labels: Fix, Testmerge Candidate

#4535 Floodlight rework
  code/game/machinery/floodlight.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Refactor, Mapping

#4585 Dead Spider Sprite Fix
  icons/mob/animal.dmi
Labels: Fix, Sprites, Sprites Approved

#4579 Updates dropship ammo names to be more "accurate"
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
Labels: Grammar and Formatting

#4556 Fixes incorrect floating objects/incorrect tiles/incorrect area/HEFA cult symbol on USS Almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4524 Disease protection
  code/datums/disease.dm
  code/datums/diseases/mob_procs.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/suits/bio.dm
Labels: Feature

#4589 Hydroponics minor fixes
  code/modules/hydroponics/hydro_tray.dm
Labels: Feature, Code Improvement

#4427 Phone Do not Disturb
  code/__DEFINES/equipment.dm
  code/modules/cm_phone/phone.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/clf_ert_station.dmm
  maps/templates/upp_ert_station.dmm
  maps/templates/weyland_ert_station.dmm
  tgui/packages/tgui/interfaces/PhoneMenu.js
Labels: Feature, UI, Mapping

#4553 Further Synth Cosmetic Additions + Roll Sleeves + Marine Beret Addit
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Feature, Sprites, Sprites Approved

#4592 tgui research desktop fix
  tgui/packages/tgui/interfaces/ResearchTerminal.tsx
Labels: Fix, UI

#4557 New goggle sprite
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/glasses.dmi
Labels: Feature, Sprites, Sprites Approved

#4444 Resprites Tactical shotgun stock + stock now comes standard on all tactical shotguns (yes you can remove it)
  code/modules/projectiles/guns/shotguns.dm
  icons/obj/items/weapons/guns/attachments/stock.dmi
Labels: Feature, Sprites, Sprites Approved

#4598 Removes sword from XO weapon choice.
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Removal

#4601 Prop gun fix
  code/game/objects/effects/spawners/prop_gun_spawner.dm
Labels: Code Improvement

#4610 Slightly optimizes client performance
  code/game/area/areas.dm
Labels: Code Improvement

#4471 Project ARES: Hijack logging
  code/defines/procs/announcement.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Feature, Code Improvement

#4613 Fixes previous goggle pr helmet sprites
  code/modules/clothing/glasses/glasses.dm
  icons/mob/humans/onmob/eyes.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/mask.dmi
Labels: Fix, Sprites, Sprites Approved

#4599 Small changes to light floors
  code/game/turfs/light.dm
Labels: Feature, Code Improvement

#4616 Adds the ability to pick up paper bins and stops fires consuming more wood when they're full
  code/game/objects/structures/props.dm
  code/modules/paperwork/paperbin.dm
Labels: Fix

#4620 Removes clan menu honor count
  nano/templates/clan_menu.tmpl
Labels: Removal

#4600 changed flyby tgui
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/computers/dropship_computer.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: UI, Consistency Issue

#4635 added faction weapon spawns for uscm upp clf and pmc
  code/game/objects/effects/spawners/faction_spawners.dm
  colonialmarines.dme
Labels: Feature

#4622 Solaris Ridge PMC Nightmare small changes
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/synths.dm
Labels: Feature, Fix, Balance, Balance Approved

#4646 fixes upp medic/sapper survivor paygrade
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
Labels: Fix

#4655 M39 arm brace stock disables when dropped
  code/modules/projectiles/gun.dm
Labels: Fix

#4670 Gives ERTs a variant of the regular medkit that isn't locked to skills in packs.
  code/game/objects/items/storage/firstaid.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/wo.dm
Labels: Fix, Balance, Balance Approved

#4643 adds a new haircut
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites, Sprites Approved

#4662 Fixes Turing Machine UI breaking down if its Smartfridge is exploded
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  tgui/packages/tgui/interfaces/Autodispenser.js
Labels: Fix, UI

#4681 Fix join as xeno observer alert text url
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#4679 Fixes a minor recurring runtime in origin selection
  code/modules/client/preferences.dm
Labels: Fix

#4680 Fixes minor runtime with null skills pushups
  code/modules/mob/living/carbon/human/exercise.dm
Labels: Fix

#4684 Fixes Xeno Cultists always belonging to the Normal hive
  code/modules/admin/player_panel/actions/antag.dm
  code/modules/admin/topic/topic.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Labels: Fix

#4672 Fixed default value in cash splitting being out of bounds for tgui_input_number
  code/modules/economy/cash.dm
Labels: Fix

#4673 Fixes dummy preview for yautja bracers causing runtimes
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#4678 Fixes crash in Join as Freed Mob if some had been deleted
  code/game/machinery/cryopod.dm
  code/modules/admin/verbs/freeforghosts.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, Testmerge Candidate

#4668 Fixes disconnected ahelpers runtime
  code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#4644 Makes subtle messages more noticeable (Attempt no. 2)
  code/modules/admin/verbs/mob_verbs.dm
Labels: Admin

#4674 Nerfs the black market
  code/__DEFINES/traits.dm
  code/datums/supply_packs/black_market.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/circuitboards/computer.dm
  code/game/objects/items/devices/scanners.dm
  icons/obj/items/devices.dmi
Labels: Balance, Sprites, Balance Approved

#4687 Makes the Queen's psychic messages bigger
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
Labels: Quality of Life

#4539 Squad Briefings 2: The Briefening
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Testmerge Candidate, Mapping

#4437 Project ARES: Datacore
  code/defines/procs/announcement.dm
  code/game/bioscans.dm
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/machinery/biohazard_lockdown.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/supplyshuttle.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_marines/anti_air.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/shuttle_console.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/WorkingJoe.js
Labels: Feature, Code Improvement

#4653 more robust fix for flyby timer issue
  code/modules/shuttle/computers/dropship_computer.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Labels: Refactor, Code Improvement, UI

#4682 Refactor ammo_datums file.
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/bullet.dm
  code/datums/ammo/bullet/lever_action.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/revolver.dm
  code/datums/ammo/bullet/rifle.dm
  code/datums/ammo/bullet/shotgun.dm
  code/datums/ammo/bullet/smg.dm
  code/datums/ammo/bullet/sniper.dm
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/ammo/bullet/tank.dm
  code/datums/ammo/energy.dm
  code/datums/ammo/misc.dm
  code/datums/ammo/rocket.dm
  code/datums/ammo/shrapnel.dm
  code/datums/ammo/xeno.dm
  code/modules/projectiles/ammo_datums.dm
  colonialmarines.dme
Labels: Refactor

#4704 Allows MT, CT, and Nurse to take the "Bad Leg" trait.
  code/modules/character_traits/biology_traits.dm
Labels: Feature

#4676 Handheld Beacon Refactor
  code/game/objects/items/handheld_distress_beacon.dm
  code/modules/admin/topic/topic.dm
  code/modules/gear_presets/cmb.dm
Labels: Refactor

#4710 Combines standard apparel into one button for every squad prep vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Quality of Life

#4705 Fixes minor runtime in CAS Guidance system
  code/game/cas_manager/datums/cas_fire_envelope.dm
Labels: Fix

#4671 Equipped squad presets start with full stomachs
  code/modules/gear_presets/uscm.dm
Labels: Fix

#4701 Almayer Maintenance, Fixes for the USS Almayers recent change(s)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4621 Medbelts pull from pillbottles as default
  code/game/objects/items/storage/belt.dm
Labels: Quality of Life, Stale

#4700 Bandaid the null clients in GLOB.clients
  code/controllers/subsystem/inactivity.dm
  code/controllers/subsystem/statpanel.dm
Labels: Fix

#4712 Removes Stunprod from LV522
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping

#4720 Fix a source of bad icon operations
  code/__HELPERS/icons.dm
  code/controllers/subsystem/statpanel.dm
Labels: Fix

#4718 Remove SSearlyruntimes
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/init/earlyruntimes.dm
  code/game/runtimes.dm
  colonialmarines.dme
Labels: Removal

#4717 Fixes deleted mobs not unbuckling
  code/game/objects/objs.dm
Labels: Fix

#4715 TL Removal
  code/game/jobs/job/marine/squads.dm
Labels: Fix

#4690 Allows deconstruction of wide airlocks and cleans up the airlock code a bit
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/structures/airlock_assembly.dm
  icons/obj/structures/doors/2x1generic_solid.dmi
  icons/obj/structures/doors/airlock_assembly2x1.dmi
Labels: Fix, Sprites, Grammar and Formatting

#4677 Makes dartboards functional
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/misc.dm
  code/game/objects/structures/signs.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping

#4703 Renames UPP survivor synth from combat to support synth
  code/__DEFINES/job.dm
  code/datums/factions/upp.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
Labels: Fix

#4725 Fixes Langchat X offsets for Megaphone/Xenos
  code/datums/langchat/langchat.dm
Labels: Fix

#4724 Adds splints to the survival pouch & updates its description
  code/game/objects/items/storage/pouch.dm
Labels: Feature, Grammar and Formatting

#4721 Almayer fixes 19/10/2023
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4657 Crawling buffs
  code/modules/mob/mob_movement.dm
Labels: Balance

#4713 Add Non-Hostile UPP ERT
  code/datums/emergency_calls/upp.dm
Labels: Feature

#4693 Fixes bugs with designator usage
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix, Testmerge Candidate

#4730 Fix Imaginary Friends Initialization
  code/modules/mob/camera/imaginary_friend.dm
Labels: Fix

#4731 Fix ghost alerts that are offset because of mapping/temporary changes
  code/modules/mob/mob_helpers.dm
Labels: UI

#4652 reduces timer on joining ert after death to 30 seconds
  code/datums/emergency_calls/emergency_call.dm
Labels: Balance, Balance Approved

#4733 JAS Precautionary Charges
  code/controllers/subsystem/init/law.dm
  code/game/machinery/computer/sentencing.dm
  code/modules/law/law.dm
  code/modules/law/laws/capital_crime.dm
  code/modules/law/laws/precautionary_charge.dm
  colonialmarines.dme
Labels: Feature

#4590 DFB property changes.
  code/modules/reagents/chemistry_properties/prop_positive.dm
  sound/effects/heart_beat_short.ogg
Labels: Feature, Balance, Balance Approved

#4741 Hotfixes Megaphone X Offset
  code/datums/langchat/langchat.dm
Labels: Fix

#4749 Unbinds ahelp due to it being doubled up
  code/datums/keybinding/client.dm
Labels: Fix

#4748 Add a noise to paper stamping
  code/modules/paperwork/paper.dm
Labels: Feature

#4747 Mentors can now unmark mhelps
  code/modules/mentor/mentorhelp.dm
Labels: Feature

#4740 Fixes OB Warheads deletions
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_marines/orbital_cannon.dm
Labels: Fix

#4744 small 'typo' fix
  code/modules/clothing/glasses/night.dm
Labels: Grammar and Formatting

#4745 fix reqs vendors sprites
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/turfs/walls/wall_types.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#4739 prevents a href token error when changing gamemode
  code/modules/admin/topic/topic.dm
Labels: Admin

#4737 adds a round id box to the issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Github

#4736 removes hard coded discord links
  code/modules/mentor/mentorhelp.dm
  interface/interface.dm
Labels: Fix

#4735 backports mariadb compatibility
  code/datums/_ndatabase/code/brsql_adapter.dm
Labels: Server

#4732 Disables code in icon2html that causes bad icon operations
  code/__HELPERS/icons.dm
Labels: Fix, Testmerge Candidate

#4645 od linter
  .github/workflows/ci_suite.yml
  .gitignore
  code/__DEFINES/bullet_traits.dm
  code/__HELPERS/type2type.dm
  code/__odlint.dm
  code/__pragmas.dm
  code/_byond_version_compat.dm
  code/_compile_options.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/vote.dm
  code/datums/_ndatabase/code/brsql_adapter.dm
  code/datums/_ndatabase/code/native_adapter.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/bots/mulebot.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/deployable.dm
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/machinery/vending/vending.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/explosion_recursive.dm
  code/game/objects/items.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/bookcase.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/modules/admin/topic/topic.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/client/preferences.dm
  code/modules/clothing/suits/armor.dm
  code/modules/desert_dam/filtration/consoles.dm
  code/modules/flufftext/Chinese.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  colonialmarines.dme
  dependencies.sh
  tools/ci/download_od.sh
  tools/ci/run_od.sh
  tools/ci/setup_od.sh
  tools/ci/validate_dme.py
Labels: Fix, Github

#4738 fixes missing href token in admin noting
  code/game/verbs/records.dm
Labels: Admin

#4746 Fix cluster and incend OB not respecting ceiling protections
  code/__DEFINES/__game.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix

#4706 Revolver Heavy Ammo Effect Change
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/revolver.dm
Labels: Balance, Balance Approved

#4753 removes hardcoded server name from latejoiners
  code/controllers/subsystem/mapping.dm
  interface/skin.dmf
Labels: Server

#4752 Nerfs Colony Synthetic Pouch
  code/game/objects/items/storage/pouch.dm
Labels: Balance, Balance Approved

#4627 M39 being able to use vertical grip again [BUFF]
  code/modules/projectiles/guns/smgs.dm
Labels: Balance, Balance Approved

#4707 SO CIC vendor quality of life tweaks
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer_armory.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Balance, Mapping, Balance Approved

#4770 Fix for slicing food.
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Fix, Testmerge Candidate

#4773 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#4775 Fixes Observer Death Messages being delayed
  code/datums/statistics/entities/death_stats.dm
Labels: Fix

#4776 Fixes pounces targeting unliving on the landing turf
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#4771 Fixed Lagnchat Xeno offsets again, final edition i swear
  code/datums/langchat/langchat.dm
Labels: Fix

#4751 CO Vendor Tweaks
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Balance, Balance Approved, Removal

#4728 4 New Haircuts
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites, Sprites Approved

#4779 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
Labels: Tools

#4696 Fixes Smartfridge deletions + Turing/Smartfridge networking issue
  code/game/machinery/kitchen/smartfridge.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
Labels: Fix, Stale, Testmerge Candidate

#4763 fixes reqs emergency doors
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#4762 Add Item & Footprints offsets
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/coins.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/warhead.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/pill.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/surface.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/hydroponics/botany_disks.dm
  code/modules/objectives/data_retrieval.dm
  code/modules/objectives/documents.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/ammunition.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Feature, Fix

#4755 reset CAS direct camera on change to avoid duplicated signal handlers
  code/game/machinery/computer/dropship_weapons.dm
Labels: Fix

#4784 Re-removes bridge coats
  code/modules/gear_presets/uscm_ship.dm
Labels: Sprites, Removal, Sprites Approved

#4772 Adds ~50 tips
  strings/marinetips.txt
  strings/memetips.txt
  strings/metatips.txt
  strings/xenotips.txt
Labels: Feature

#4759 Rewrite Xeno Acid processing
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
Labels: Code Improvement

#4783 Fixes custom ERT calling
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/datums/emergency_calls/emergency_call.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/supplyshuttle.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Labels: Feature, Fix, Code Improvement

#4641 Vanguard Prae Pierce Refactor + Bugfix
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix, Refactor

#4702 Sprites changes for old donator kit
  code/modules/cm_marines/Donator_Items.dm
  code/modules/cm_marines/Donator_Kits.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Labels: Feature, Sprites

#4409 Provost sprites and code cleanup
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_event.dm
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Balance, Sprites, Code Improvement, Grammar and Formatting, Stale, Balance Approved

#4791 Fix for incendiary OB spread.
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix

#4788 Remove Direct Hit Limb Penalty against Xenos
  code/__DEFINES/mobs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Balance, Balance Approved

#4804 Fix runtimes in toxic water targeting unliving
  code/modules/desert_dam/filtration/filtration.dm
Labels: Fix

#4639 trijent shuttle now generic
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/shuttle/computers/trijent_elevator_control.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles.md
  code/modules/shuttle/shuttles/trijent_elevator.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Refactor, Testmerge Candidate, Mapping

#4805 Tentative Fix/Consistency for Dummy Limb Runtimes
  code/modules/mob/living/carbon/human/species/species.dm
Labels: Fix, Hard Deletes

#4761 CC's Room Buff
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Stale, Mapping, Mapping Approved
