Repository cmss13-devs/cmss13, pull requests merged in 2023-03, with the labels that each got.

#2735 Fix for varediting bitflags.
  code/datums/browser.dm
Labels: Admin

#2748 Fix for rotating chairs.
  code/datums/keybinding/human.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/vehicles/interior/interactable/seats.dm
Labels: Fix

#2706 Much too creative changes to alcohol
  code/__DEFINES/chemistry.dm
  code/game/objects/items/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
Labels: Feature, Fix

#2702 Clears up gun and mob related hard dels
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/organs/organ_objects.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Hard Deletes

#2743 Fixes poddoors not using the proper layer variables.
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#2621 Corrected overlaying HUD icon states
  icons/mob/hud/hud.dmi
Labels: Fix, Sprites, Sprites Approved

#2619 Ability Icon Updates & added missing changes from #2618
  icons/mob/hud/actions_xeno.dmi
Labels: Fix, Sprites, Sprites Approved

#2747 M4RA handling sound stolen from l42A
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Feature, Grammar and Formatting

#2741 escape menu fix
  code/datums/map_config.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/modules/escape_menu/details.dm
  code/modules/escape_menu/title.dm
  maps/lv522_chances_claim.json
Labels: UI

#2614 Renamed Warden's 'Protect' Ability and created a new icon for it
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#2733 Misc shuttle fixes
  ColonialMarinesALPHA.dme
  code/datums/emergency_calls/emergency_call.dm
  code/game/area/shuttles.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttle/shuttles/escape_shuttle.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/shuttles_multi.dm
Labels: Fix, Testmerge Candidate

#2758 Fixes incorrect Aid Xenomorph ability's icon state name
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Fix, Sprites, Grammar and Formatting

#2754 notifications when castes are available to evo into
  code/_globalvars/global_lists.dm
  code/_macros.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Quality of Life

#2732 Added more missing uniform icon states, differentiated a duplicate uniform
  code/modules/clothing/suits/marine_coat.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
Labels: Fix, Sprites, Removal

#2762 Return of Autoreplies
  ColonialMarinesALPHA.dme
  code/modules/admin/autoreply.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Feature

#2768 Xeno-candles
  code/datums/medal_awards.dm
Labels: Quality of Life

#2739 Reorder's Crew Monitor list
  code/__DEFINES/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_event.dm
  icons/mob/hud/sec_hud.dmi
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Feature

#2764 you can now see emotes while deaf
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob.dm
Labels: Fix

#2772 fixes grammatical errors with xeno descriptions
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Code Improvement, Grammar and Formatting

#2773 Black Market and Predator Fixes
  code/datums/supply_packs/black_market.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix, Testmerge Candidate

#2770 Corrects "smart-disk" to "smart-disc" in the code
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_procs.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Sprites, Grammar and Formatting

#2726 Adds 'bad leg' character trait and expands upon canes too much
  ColonialMarinesALPHA.dme
  code/__DEFINES/conflict.dm
  code/__DEFINES/job.dm
  code/__DEFINES/traits.dm
  code/datums/components/bad_leg.dm
  code/game/objects/effects/landmarks/itemspawner.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/sound.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/mob/hud/actions.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/weapons/weapons.dmi
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/items/cane_step_1.ogg
  sound/items/cane_step_2.ogg
  sound/items/cane_step_3.ogg
  sound/items/cane_step_4.ogg
  sound/items/cane_step_5.ogg
Labels: Feature, Sound, Sprites, Code Improvement, Grammar and Formatting, Admin, Sprites Approved

#2641 /vending tgui remake
  ColonialMarinesALPHA.dme
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vending_types.dm
  code/modules/asset_cache/assets/vending.dm
  nano/templates/vending_machine.tmpl
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/common/ElectricalPanel.tsx
  tgui/packages/tgui/styles/interfaces/Vending.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI

#965 Boiler rework Part 1: Globber base boiler
  ColonialMarinesALPHA.dme
  code/__DEFINES/conflict.dm
  code/__DEFINES/xeno.dm
  code/datums/effects/_effects.dm
  code/datums/effects/neurotoxin.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/projectiles/ammo_datums.dm
  icons/mob/hud/actions_xeno.dmi
  icons/obj/items/weapons/projectiles.dmi
Labels: Feature, Balance, Refactor, Sprites, Testmerge Candidate, Removal, Sprites Approved

#2782 Morgue Name Updates
  code/game/objects/structures/morgue.dm
Labels: Feature

#2769 Adds two new sounds for the clan sword
  code/game/sound.dm
  code/modules/cm_preds/yaut_weapons.dm
  sound/weapons/clan_sword_hit_1.ogg
  sound/weapons/clan_sword_hit_2.ogg
Labels: Sound, Grammar and Formatting

#2736 Fixes cats robusting larva
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Fix

#2719 Shuttle capacity tweaks
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Mapping, Mapping Approved

#2787 Fixes grape soda
  icons/obj/items/drinks.dmi
Labels: Fix, Sprites, Sprites Approved

#2785 Fixes power issues for shuttle consoles
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#2788 Increased maximum amount of text in predator flavor text
  code/modules/client/preferences.dm
Labels: Fix

#2784 Makes stammering be logged
  code/modules/mob/living/carbon/human/say.dm
Labels: Admin

#2757 Fixes missing donator sprites, fixes missing icon states
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/toys/toy_weapons.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/cm_marines/Donor_Items.dm
  code/modules/desert_dam/filtration/filtration.dm
  code/modules/projectiles/guns/misc.dm
  icons/mob/humans/onmob/hands.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/shoes.dmi
Labels: Fix, Sprites, Code Improvement, Removal, Sprites Approved

#2789 Refractors stupid instanced dead facehuggers
  code/game/objects/prop.dm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Refactor, Mapping, Mapping Approved

#2744 Replaces the two chairs in perma with bolted ones
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#2750 Plasma pistols and Spike launchers can be wielded, Removed Wrist Scimitar power reduction.
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Balance, Stale, Whitelist Changes

#2790 Fixes shuttle console accesses
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#2792 Checks if you can fire guns before attempting to execute
  code/modules/projectiles/gun.dm
Labels: Quality of Life

#2751 Removes legacy unathi and tajaran clothing.
  ColonialMarinesALPHA.dme
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/suits/alien.dm
Labels: Fix, Stale

#2809 Forum link updates
  code/__DEFINES/urls.dm
  config/example/config.txt
Labels: Config, GBP: No Update

#2802 Removes DD gear and a combat drone from Black Market
  code/datums/supply_packs/black_market.dm
Labels: Architect Approved, Removal

#2804 Adds Chinese to UPP and UPP commandos
  code/modules/gear_presets/upp.dm
Labels: Feature

#2812 Adds the breach charge to the RTO vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_rto.dm
Labels: Feature

#2818 Possible fix to the 10 trillion runtimes a round we currently have
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#2781 Engineering Re-bunking
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2819 Xenos can now slash and fully destroy vehicle chairs
  code/modules/vehicles/interior/interactable/seats.dm
Labels: Feature, Architect Approved

#2820 Hivemind available first 5 minutes of round
  code/modules/mob/living/carbon/xenomorph/say.dm
Labels: Quality of Life, Architect Approved

#2725 The Standardization: End of Evangelion
  code/__DEFINES/layers.dm
  code/game/objects/structures/props.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/recycling/disposal.dm
  code/modules/shuttle/computer.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/Chinook.dmm
  tools/UpdatePaths/Scripts/2725-standardization-end-of-evangelion.txt
  tools/ci/check_grep.sh
Labels: Refactor, Mapping, Mapping Approved

#2811 You can now use a UI button to pull a mask up and down.
  code/modules/clothing/masks/breath.dm
Labels: Quality of Life

#2826 Fixes Req Points button
  code/modules/admin/tabs/event_tab.dm
Labels: Fix

#2827 Adds a confirmation button to view global variables.
  code/datums/global_variables.dm
Labels: Admin

#2828 Fixed zombie powder perma killing you
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Fix

#2777 New *warcry sound variations
  code/game/sound.dm
  sound/voice/warcry/warcry_female_10.ogg
  sound/voice/warcry/warcry_female_11.ogg
  sound/voice/warcry/warcry_female_12.ogg
  sound/voice/warcry/warcry_female_13.ogg
  sound/voice/warcry/warcry_female_14.ogg
  sound/voice/warcry/warcry_female_15.ogg
  sound/voice/warcry/warcry_female_16.ogg
  sound/voice/warcry/warcry_female_17.ogg
  sound/voice/warcry/warcry_female_18.ogg
  sound/voice/warcry/warcry_female_19.ogg
  sound/voice/warcry/warcry_female_20.ogg
  sound/voice/warcry/warcry_female_7.ogg
  sound/voice/warcry/warcry_female_8.ogg
  sound/voice/warcry/warcry_female_9.ogg
  sound/voice/warcry/warcry_male_13.ogg
  sound/voice/warcry/warcry_male_14.ogg
  sound/voice/warcry/warcry_male_15.ogg
  sound/voice/warcry/warcry_male_16.ogg
  sound/voice/warcry/warcry_male_17.ogg
  sound/voice/warcry/warcry_male_18.ogg
  sound/voice/warcry/warcry_male_19.ogg
  sound/voice/warcry/warcry_male_20.ogg
  sound/voice/warcry/warcry_male_21.ogg
  sound/voice/warcry/warcry_male_22.ogg
  sound/voice/warcry/warcry_male_23.ogg
  sound/voice/warcry/warcry_male_24.ogg
  sound/voice/warcry/warcry_male_25.ogg
  sound/voice/warcry/warcry_male_26.ogg
  sound/voice/warcry/warcry_male_27.ogg
  sound/voice/warcry/warcry_male_28.ogg
  sound/voice/warcry/warcry_male_29.ogg
  sound/voice/warcry/warcry_male_30.ogg
  sound/voice/warcry/warcry_male_31.ogg
  sound/voice/warcry/warcry_male_32.ogg
  sound/voice/warcry/warcry_male_33.ogg
  sound/voice/warcry/warcry_male_34.ogg
  sound/voice/warcry/warcry_male_35.ogg
Labels: Sound

#2776 ticket system buff
  code/__DEFINES/admin.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#2823 Removes random flight terminal on big red
  maps/map_files/BigRed/BigRed.dmm
Labels: Fix, Mapping, Mapping Approved

#2841 Testing MDB fix
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#2756 cinematic hijack resuscitation (thanks geeves)
  code/__DEFINES/cooldowns.dm
  code/_globalvars/global_lists.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/structures/pipes/pipes.dm
  code/modules/cm_tech/droppod/lz_effect.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttles/marine_ferry.dm
  sound/effects/double_klaxon.ogg
  sound/effects/pipe_hissing.ogg
Labels: Feature

#2837 Fix for AA cannon.
  code/modules/shuttle/dropship_hijack.dm
Labels: Fix, Priority: High

#2738 Consolidates some XSS under hivecore
  ColonialMarinesALPHA.dme
  code/__DEFINES/mode.dm
  code/controllers/subsystem/x_evolution.dm
  code/datums/construction/xenomorph/construction_template_xenomorph.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/objects/effects/landmarks/structure_spawners/xvx_hive.dm
  code/modules/client/preferences_toggles.dm
  code/modules/cm_aliens/structures/special/evo_pod.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/special/spawn_pool.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/shuttles/shuttle_console.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  tgui/packages/tgui/interfaces/HiveStatus.js
Labels: Feature, UI, Removal, Mapping Approved

#2835 Fixes Chance's Claim duplicate LZ
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Fix, Mapping, Mapping Approved

#2753 kills the old maploader, refactors usage in interiors and removes deprecated admin verb
  ColonialMarinesALPHA.dme
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/interior.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/sound.dm
  code/datums/soundOutput.dm
  code/datums/vehicles.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/sound.dm
  code/game/turfs/open.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/construct_env.dm
  code/modules/admin/verbs/load_event_level.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/defenses/handheld.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/maps/dmm_suite.dm
  code/modules/maps/reader.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/apc/interior.dm
  code/modules/vehicles/interior/interior.dm
  code/modules/vehicles/interior/interior_manager.dm
  code/modules/vehicles/tank/tank.dm
  code/modules/vehicles/van/van.dm
Labels: Refactor

#2783 Nerfs to the Scout Custom M4RA.
  code/modules/projectiles/guns/specialist.dm
Labels: Balance, Stale, Architect Approved

#2833 Sandbags are no longer invisible when when in the same tile as a north/south plasteel cade while facing east/west.
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#2817 Torn Scarfs no longer cover your face details.
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/breath.dm
Labels: Fix

#2774 predator flavour text fix
  code/modules/client/preferences.dm
Labels: Fix

#2847 Fixes-Duplicate-DCC-Closet
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2830 nukes the last default ss13 door on big red
  maps/map_files/BigRed/BigRed.dmm
Labels: Mapping, Removal, Mapping Approved

#2824 Vehicle Elevator
  code/modules/shuttle/vehicle_elevator.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature

#2848 Randomizes the order of map, shipmap, and gamemode votes
  code/controllers/subsystem/vote.dm
Labels: Feature, Admin

#2851 Nerfs cinematic hijack
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Balance, Architect Approved

#2849 Increases the chat's maximum font size
  tgui/packages/tgui-panel/settings/SettingsPanel.js
Labels: Quality of Life, Accessibility, UI

#2850 Possible fix to evacuated personnel not ending the round
  code/game/gamemodes/cm_self_destruct.dm
Labels: Fix

#2544 some extra keybinds
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/keybinding.dm
  code/datums/action.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/keybinding/living.dm
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  icons/mob/hud/actions.dmi
  icons/mob/hud/actions_xeno.dmi
Labels: Quality of Life, Sprites, Code Improvement, Sprites Approved

#2521 Groundside Tweak Survivor Update Atomized
  code/__DEFINES/job.dm
  code/__DEFINES/skills.dm
  code/datums/skills.dm
  code/defines/procs/announcement.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/defenses/sentry.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/gear_presets/survivors.dm
  code/modules/projectiles/ammo_datums.dm
  maps/bigredv2.json
  maps/corsat.json
  maps/desert_dam.json
  maps/fiorina_sciannex.json
  maps/ice_colony_v2.json
  maps/kutjevo.json
  maps/lv624.json
  maps/prison_station_fop.json
  maps/shivas_snowball.json
Labels: Feature, Fix, Balance, Architect Approved

#2866 [fix] Prevent keybinds from registering a null signal
  code/datums/action.dm
Labels: Fix

#2865 Reverted changed M4RA Custom melee damage
  code/modules/projectiles/guns/specialist.dm
Labels: Balance, Architect Approved

#2859 Adds Role Landmarkers for Mappers
  code/game/jobs/job/civilians/other/liaison.dm
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/job/civilians/support/cmo.dm
  code/game/jobs/job/civilians/support/doctor.dm
  code/game/jobs/job/civilians/support/nurse.dm
  code/game/jobs/job/civilians/support/researcher.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/job/command/auxiliary/crew_chief.dm
  code/game/jobs/job/command/auxiliary/intel.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/command/cic/executive.dm
  code/game/jobs/job/command/cic/staffofficer.dm
  code/game/jobs/job/command/police/chief_police.dm
  code/game/jobs/job/command/police/police.dm
  code/game/jobs/job/command/police/warden.dm
  code/game/jobs/job/logistics/cargo/cargo_tech.dm
  code/game/jobs/job/logistics/cargo/chief_req.dm
  code/game/jobs/job/logistics/engi/chief_engineer.dm
  code/game/jobs/job/logistics/engi/maint_tech.dm
  code/game/jobs/job/logistics/engi/ordnance_tech.dm
  icons/landmarks.dmi
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Quality of Life, Sprites, Mapping, Sprites Approved, Mapping Approved

#2855 Fix misplaced flooring in the hall between brig and the conference room
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#2832 Init Runtime Errors Catcher V2
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/init/earlyruntimes.dm
  code/game/runtimes.dm
  code/game/world.dm
  code/modules/admin/STUI.dm
Labels: Fix, Testmerge Candidate

#2861 Fixes Ordnance Technician not spawning at landmark
  code/game/jobs/job/logistics/engi/ordnance_tech.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Fix, Mapping

#2869 Removes survsynth marine IFF
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/gear_presets/synths.dm
Labels: Fix

#2760 Altitude Control: Console, Skills, TGUI, Shuttle, OB, And Hijack changes.
  ColonialMarinesALPHA.dme
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/skills.dm
  code/datums/skills.dm
  code/modules/cm_marines/altitude_control_console.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship_hijack.dm
  tgui/packages/tgui/interfaces/AltitudeControlConsole.js
Labels: Feature, Balance, UI, Architect Approved

#2870 Fixes stairs "wallhacks"
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2815 Disables sniper rifles' ability to scope in HvH
  code/modules/projectiles/guns/specialist.dm
Labels: Balance, Stale

#2871 Torn scarfs are no longer normal size
  code/modules/clothing/masks/breath.dm
Labels: Fix

#2872 removes an LRP clown corpse from solaris ridge
  maps/map_files/BigRed/standalone/lambda-graveyard.dmm
Labels: Mapping, Architect Approved, Mapping Approved

#2868 Randomizes Local Operation Time
  code/__HELPERS/_time.dm
  code/_globalvars/misc.dm
Labels: Code Improvement, Architect Approved

#2873 Makes muting somebody actually work
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/paperwork/paper.dm
Labels: Admin

#2875 Shuttle fixes 2
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/modules/shuttle/computers/dropship_computer.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: Fix, UI

#2856 Admin Yautja cloak var
  code/modules/cm_preds/yaut_bracers.dm
Labels: Feature

#2886 [GitHub] Alter GBP balances for Roadmap projects, Features + Mapping
  .github/gbp.toml
Labels: Github

#2889 [chore] Use the new teams for codeowners
  .github/CODEOWNERS
Labels: Github

#2779 Refactors how magazine ammo color is handled into overlays
  code/__DEFINES/guns.dm
  code/modules/cm_tech/implements/ammo_kits.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/misc.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/shotguns.dm
  code/modules/projectiles/magazines/smgs.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/obj/items/weapons/guns/ammo_by_faction/colony.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/wy.dmi
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Sound, Refactor, Sprites, Code Improvement, Grammar and Formatting, UI, Mapping, Github

#2883 Upper aft out of bounds partial hijack fix
  code/game/area/almayer.dm
  code/modules/shuttle/dropship_hijack.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#2884 Adds some more super snowflake vendors
  code/game/machinery/vending/vendor_types/dress.dm
Labels: Admin

#2816 You can now remove shrapnel from yourself/others and fix robolimbs on the DS.
  code/modules/surgery/surgery_initiator.dm
Labels: Fix

#2888 Fix for shuttle flight duration.
  code/datums/skills.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#2895 Updates recipe.dm for Waffles, Cookies, Muffins
  code/datums/recipe.dm
Labels: Quality of Life

#2907 Codeowner changes
  .github/CODEOWNERS
Labels: Github

#2900 Wakeup CO text fix
  code/game/jobs/job/command/cic/captain.dm
Labels: Grammar and Formatting

#2879 Non-standard marine gloves no longer use squad color overlay.
  code/modules/clothing/gloves/marine_gloves.dm
Labels: Fix

#2898 [chore] sets up the merge queue a little better + lets the bot account handle changelogs
  .github/workflows/auto_changelog.yml
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
Labels: Github

#2901 COs no longer have emote cooldown
  code/__DEFINES/traits.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature

#2904 hellhound path fix
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
Labels: Fix

#2899 Removes CL dropship control access, adds timelock for CL
  code/game/jobs/job/civilians/other/liaison.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/shuttle_console.dm
Labels: Feature, Removal

#2821 Restores ALL missing icon states in obj/item/weapon/gun path
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/guns/energy.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
Labels: Fix, Sprites, Code Improvement, Removal, Sprites Approved

#2880 Restores missing icon states to miscellaneous items
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/devices/RSP.dm
  code/game/objects/items/devices/coins.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/reagent_containers/food/fish_snacks.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/tools/mining_tools.dm
  code/game/objects/items/tools/misc_tools.dm
  code/modules/defenses/handheld.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/power/lighting.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/books.dmi
  icons/obj/items/devices.dmi
  icons/obj/items/harvest.dmi
  icons/obj/items/items.dmi
  icons/obj/items/lighting.dmi
  icons/obj/items/organs.dmi
  icons/obj/items/shards.dmi
  icons/obj/vehicles/hardpoints/tank.dmi
Labels: Fix, Sprites, Code Improvement, Sprites Approved

#2813 Restores ALL missing icon states in /obj/item/clothing/
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/cm_tech/implements/armor.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Fix, Sprites, Code Improvement, Sprites Approved

#2916 removes tests running on pushes against master
  .github/workflows/ci_suite.yml
Labels: Github

#2710 id locks can now be removed
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/_onclick/item_attack.dm
  code/datums/elements/id_lock.dm
  code/game/objects/items.dm
  colonialmarines.dme
Labels: Quality of Life

#2878 Add UPP warcries
  code/game/sound.dm
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/upp_warcry/warcry_female_1.ogg
  sound/voice/upp_warcry/warcry_female_2.ogg
  sound/voice/upp_warcry/warcry_male_1.ogg
  sound/voice/upp_warcry/warcry_male_2.ogg
Labels: Feature, Sound, Code Improvement

#2864 The Shakeship
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/shakeshipverb.dm
  code/modules/almayer/shakeship.dm
  colonialmarines.dme
Labels: Admin

#2917 speeds up the merge conflict bot
  .github/workflows/conflicts.yml
Labels: Github

#2918 Fixes a to_chat for the canes
  code/game/objects/items/misc.dm
Labels: Grammar and Formatting

#2911 Lessens the frequency of Almayer ambient sounds
  code/__DEFINES/sounds.dm
  code/game/area/almayer.dm
  sound/soundscape/cicamb1.ogg
Labels: Sound, Code Improvement

#2920 adds landmarks for thunderdome & xeno_spawn
  code/game/objects/effects/landmarks/landmarks.dm
  icons/landmarks.dmi
Labels: Sprites, Sprites Approved

#2928 Fixes icons for sleepers and body scanners
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  icons/obj/structures/machinery/cryogenics.dmi
Labels: Fix, Sprites Approved

#2858 Fixes bad leg and ATM money laundering glitch
  code/datums/components/bad_leg.dm
  code/game/objects/items/misc.dm
  code/modules/economy/ATM.dm
  code/modules/economy/cash.dm
Labels: Fix

#2927 deletes unconnected piping in research
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Removal

#2882 Drag up ledges
  code/game/objects/structures.dm
  code/modules/mob/living/living.dm
Labels: Feature, Roadmap

#2932 fixes the lattices on chance's and other maps
  code/game/objects/structures/props.dm
Labels: Fix

#2936 Flayed ghosts can no longer have offsets
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#2935 Add more Working Joe voice lines
  code/modules/mob/living/carbon/human/species/emote-synthetic.dm
  sound/voice/joe_breach.ogg
  sound/voice/joe_report.ogg
  sound/voice/joe_species.ogg
Labels: Feature, Sound

#2844 Return to Monke
  code/names.dm
Labels: Stale, Removal

#2723 ERT Station Hangar Locks
  maps/map_files/generic/Admin_level.dmm
Labels: Feature, Mapping

#2949 Sink sprite tweak
  icons/obj/structures/props/watercloset.dmi
Labels: Sprites, Sprites Approved

#2943 Fixes PMC survivors spawning with ID locked NSG-23
  code/modules/gear_presets/_select_equipment.dm
Labels: Fix

#2766 Firearms skills rework
  code/__DEFINES/misc.dm
  code/__DEFINES/skills.dm
  code/datums/skills.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/skills.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/cm_tech/implements/xeno_handler.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/magazines/specialist.dm
Labels: Balance, Architect Approved

#2909 Reverts Tail Jab and speed changes on Vampire
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Balance, Architect Approved

#2948 Fixes various structures not breaking properly
  code/game/machinery/machinery.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/vehicles/interior/interactable/seats.dm
Labels: Fix

#2939 Removes most spare CT and command headsets
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
Labels: Balance, Architect Approved, Roadmap

#2930 FIX: Megaphone chat is now sent to observers
  code/game/objects/items/devices/megaphone.dm
Labels: Fix, Code Improvement

#2937 Metal cades are no longer invisible when when in the same tile as a north/south plasteel cade while facing east/west.
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#2955 Fix for attack chain, again.
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
Labels: Fix, Priority: High

#2934 More Surv Tweaks
  code/game/objects/items/storage/belt.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors.dm
Labels: Fix, Balance

#2922 Fixes all missing icon states for toys and props
  code/game/objects/items/devices/coins.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/toys/toys.dm
  code/game/objects/prop.dm
  code/game/objects/structures/props.dm
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/equipment/gear.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/paperwork/paper.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/items.dmi
  icons/obj/items/paper.dmi
  icons/obj/items/toy.dmi
  icons/obj/vehicles/hardpoints/tank.dmi
Labels: Fix, Sprites, Code Improvement, Sprites Approved

#2941 Pop off helmets
  code/__DEFINES/equipment.dm
  code/_globalvars/bitfields.dm
  code/modules/clothing/head/helmet.dm
  code/modules/movement/launching/launching.dm
  code/modules/organs/limbs.dm
  sound/effects/helmet_noise.ogg
Labels: Balance, Hard Deletes

#2745 Ceremonial sword: the respritening
  icons/mob/humans/onmob/belt.dmi
  icons/obj/items/storage.dmi
  icons/obj/items/weapons/weapons.dmi
Labels: Fix, Sprites, Sprites Approved

#2951 bioscan optimisation babyyyy
  code/game/bioscans.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  colonialmarines.dme
Labels: Code Improvement

#2972 Fixes a runtime involving null skills
  code/modules/mob/living/carbon/human/powers/check_skills.dm
Labels: Fix

#2956 Introduces a new way to rename items, and cassette pouches now take regulation tapes.
  code/__DEFINES/traits.dm
  code/datums/components/rename.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/storage/pouch.dm
Labels: Feature

#2318 Introducing the Colonial Marshal ERT w/ Anchorpoint Marines
  code/__DEFINES/job.dm
  code/__DEFINES/radio.dm
  code/_globalvars/global_lists.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/emergency_calls/pizza.dm
  code/datums/factions/cmb.dm
  code/datums/factions/uscm.dm
  code/datums/map_config.dm
  code/datums/paygrades/factions/other/cmb.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/skills.dm
  code/game/jobs/job/special/cmb.dm
  code/game/machinery/fax_machine.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/belt.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm.dm
  code/modules/projectiles/guns/rifles.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/card.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/radio.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Quality of Life, Sprites, UI, Removal, Sprites Approved

#2974 Corrosive tail stabs now properly credit their users for kills.
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Fix

#2981 Fixes bugs with the Bad Leg trait.
  code/__DEFINES/job.dm
  code/datums/components/bad_leg.dm
  code/modules/character_traits/biology_traits.dm
Labels: Fix

#2978 Combat Synthetic helmet decap protection
  code/modules/organs/limbs.dm
Labels: Balance, Whitelist Changes, Architect Approved

#2976 Fixes issues with presets and ID locked equipment
  code/modules/gear_presets/_select_equipment.dm
Labels: Fix

#2877 Adds in hoods + OWLF placeholder items
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/traits.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/ties.dm
  code/modules/clothing/under/under.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/mask.dmi
  icons/mob/humans/onmob/ties.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/masks.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/clothing/ties_overlay.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Code Improvement, Sprites Approved, Roadmap

#2969 Map fix for the standolone on LV 624 at lake house.
  maps/map_files/LV624/standalone/laststand.dmm
Labels: Mapping
