Repository cmss13-devs/cmss13, pull requests merged in 2023-06, with the labels that each got.

#3418 Second attempt to fix timers runtimes for overhead text system
  code/modules/client/client_procs.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/mob/camera/imaginary_friend.dm
Labels: Fix

#3488 Resin walls kill nodes under them
  code/game/turfs/walls/wall_types.dm
Labels: Balance

#3487 Fixes xeno trackers on some maps
  code/game/area/IceColony.dm
  code/game/area/strata.dm
Labels: Fix

#3481 Trackable Tunnels
  code/__DEFINES/mob_hud.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Feature

#3476 FTP instead of run for admin log downloading
  code/modules/admin/verbs/getlogs.dm
Labels: Admin

#3494 Enables the use of arrival message announcements.
  code/datums/emergency_calls/big_game_hunter.dm
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/colonist.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/deus_vult.dm
  code/datums/emergency_calls/dutch.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/hefa_knight.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/pirates.dm
  code/datums/emergency_calls/pizza.dm
  code/datums/emergency_calls/souto.dm
  code/datums/emergency_calls/xeno_cultists.dm
Labels: Fix

#3495 Fixes armor prefs
  code/modules/clothing/suits/marine_armor.dm
Labels: Fix

#3499 fix xenos being able to build over tunnels
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#3424 Warrior Nerf
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Balance

#3478 Update metatips.txt
  strings/metatips.txt
Labels: Grammar and Formatting

#3506 Remove field kit
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/effects/spawners/spawner.dm
Labels: Removal

#3465 fix remove items anchored and on the LZ's on fiorina
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Mapping

#3453 Fix Signal Flares Admin Log/JMP
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#3507 Kills the change stone
  code/__DEFINES/human.dm
  code/game/objects/items/artifacts.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  colonialmarines.dme
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/25.chapel_cult.dmm
Labels: Mapping, Removal

#3526 Remove old armor crit tip
  strings/metatips.txt
Labels: GBP: No Update

#3515 Fix ASRS Depths spam
  code/game/supplyshuttle.dm
Labels: Fix

#3511 UFOs can be photographed again
  code/game/turfs/closed.dm
Labels: Fix

#3512 fixes construction nodes being placed inside of blocked spaces
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#3510 fixes largecrates being invulnerable to projectiles
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Fix

#3500 fixes sandbags being fully built with just one bag
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#3516 Fix Xenos targeting their UI with abilities
  code/_onclick/click.dm
  code/_onclick/xeno.dm
Labels: Fix, Testmerge Candidate

#3428 Vending Refactors - Vending Categories and Multi Vending
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/essential_sets.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/item_to_box_mapping.dm
Labels: Refactor, Testmerge Candidate

#3514 Fix Force Dropship Admin Verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Admin

#3513 Increases amount of survivor spawns on shivas to required level
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Fix, Mapping, Mapping Approved

#3508 Automatic forsaken spawns groundside during hijack
  code/__DEFINES/cooldowns.dm
  code/datums/emergency_calls/forsaken_xenos.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/objects/effects/landmarks/landmarks.dm
  colonialmarines.dme
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/sprinkles/30.nexuscenter_barricaded.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Feature, Mapping

#3477 Overwatch Signals for QDEL: Less client disconnection?
  code/game/machinery/computer/groundside_operations.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/mob.dm
Labels: Fix

#3343 Fixes the Solaris PMC nightmare's issue with locked rifles.
  code/modules/gear_presets/_select_equipment.dm
  code/modules/projectiles/guns/rifles.dm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Labels: Fix, Code Improvement, Grammar and Formatting, Stale, Mapping

#3496 Nerfs lurker pounce movement and adds a cooldown for headbite.
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Balance

#3521 LV624 adds glass ceilings to SW sand temple, West Shack, Inflat, Filt, mine storage (north containers)
  code/game/area/LV624.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/storage-crashed-ship/10.armorystorage.dmm
  maps/map_files/LV624/storage-crashed-ship/10.valuables.dmm
Labels: Mapping, Mapping Approved

#3520 Adds more sidewalks to bigred, places warning stripe tiles under all doors on bigred, give LZ1 glass ceiling so weather doesn't get in there
  code/game/area/BigRed.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/lambda-graveyard.dmm
  maps/map_files/BigRed/standalone/medbay-passage.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
Labels: Mapping, Mapping Approved

#3522 Staff/IC Interactions chat setting.
  code/__DEFINES/chat.dm
  code/game/machinery/fax_machine.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/admin/verbs/pray.dm
  code/span_macros.dm
  code/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, UI

#3519 balance : increase minimum pay for everyone.
  code/datums/paygrades/factions/uscm/marine.dm
Labels: Quality of Life

#3534 HPR is cast into the void
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance, Balance Approved

#3549 Fix for queen eye runtime.
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
Labels: Fix

#3531 add extra info to reagent tanks description
  code/game/objects/structures/reagent_dispensers.dm
Labels: Quality of Life

#3544 Offers PO's and DCC's the M3-VL and M70
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
Labels: Feature

#3545 Hand and feet now cannot get IB
  code/modules/mob/living/carbon/human/life/handle_organs.dm
  code/modules/organs/limbs.dm
Labels: Balance

#3096 Maintenance Jack Tweaks
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/objects.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/surgery/bones.dm
  icons/mob/humans/onmob/suit_slot.dmi
Labels: Balance, Sprites, Sprites Approved

#3539 ASRS Screams fix #2
  code/game/supplyshuttle.dm
Labels: Fix, GBP: No Update

#3543 Fix Map Landing Lights
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping

#3532 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#3550 Admin Global Blurb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Feature

#3551 fixes telepathically forcing people to grab chairs
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix

#3548 Legacy resprites - June 5
  code/game/machinery/bio-dome_floodlights.dm
  code/game/machinery/groundmap_geothermal.dm
  icons/obj/structures/machinery/big_floodlight.dmi
  icons/obj/structures/machinery/power.dmi
  icons/obj/structures/machinery/terminals.dmi
  icons/turf/ground_map.dmi
Labels: Feature, Sprites, Sprites Approved

#3528 Updates chemistry grammar
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Fix, Grammar and Formatting

#3537 Xeno ability standardization
  code/_onclick/observer.dm
  code/_onclick/other_mobs.dm
  code/_onclick/xeno.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
Labels: Fix, UI, Testmerge Candidate

#3553 Tweak to garbage subsystem to use define constant
  code/controllers/subsystem/garbage.dm
Labels: Code Improvement, GBP: No Update

#3556 Reduces SG Full Auto Scatter
  code/modules/projectiles/guns/smartgun.dm
Labels: Balance, Quality of Life, Balance Approved

#3566 Removes fourth awkward LZ2 Soro communication relay
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping, Removal, Mapping Approved

#3396 Refactor many object to remove code from DMM to DM code.
  code/game/objects/structures/flora.dm
  code/game/turfs/open.dm
  code/game/turfs/strata.dm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/lockdown_thetaeast.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial1_mines.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/predship/huntership.dmm
Labels: Refactor, Mapping, Mapping Approved

#3560 Brings back the USCM blurb on first drop
  code/game/gamemodes/game_mode.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature

#3558 Reintroduces auto red alert when xenos are aboard a dropship
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature

#3559 Burrowers unable to burrow while inside a non-burrow area
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Balance

#3561 Find internal bleeding via Health Scanner
  code/modules/mob/living/living_healthscan.dm
  tgui/packages/tgui/interfaces/HealthScan.js
Labels: Feature, UI

#3562 Drop pouch buyable by riflemen
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
Labels: Feature

#3469 Adaptive clientside zoom for pixel perfect display
  code/_onclick/click.dm
  code/game/verbs/ooc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Feature, Stale

#3509 FOB Tents
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/__DEFINES/dcs/signals/atom/signals_turf.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/datums/map_config.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/turfs/turf.dm
  code/modules/decorators/weapon_map_decorator.dm
  code/modules/mapping/preloader.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/life/life_helpers.dm
  code/modules/surgery/surgery_steps.dm
  code/modules/tents/blockers.dm
  code/modules/tents/deployed_tents.dm
  code/modules/tents/equipment.dm
  code/modules/tents/folded_tents.dm
  code/modules/tents/templates.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  colonialmarines.dme
  icons/effects/effects.dmi
  icons/obj/structures/machinery/computer.dmi
  icons/obj/structures/tents_deployed_classic.dmi
  icons/obj/structures/tents_deployed_desert.dmi
  icons/obj/structures/tents_deployed_jungle.dmi
  icons/obj/structures/tents_deployed_snow.dmi
  icons/obj/structures/tents_deployed_urban.dmi
  icons/obj/structures/tents_equipment.dmi
  icons/obj/structures/tents_folded.dmi
  maps/bigredv2.json
  maps/corsat.json
  maps/desert_dam.json
  maps/fiorina_sciannex.json
  maps/ice_colony_v2.json
  maps/kutjevo.json
  maps/lv522_chances_claim.json
  maps/lv624.json
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/new_varadero.json
  maps/prison_station_fop.json
  maps/runtime.json
  maps/shivas_snowball.json
  maps/sorokyne_strata.json
  maps/tents/tent_big.dmm
  maps/tents/tent_cmd.dmm
  maps/tents/tent_med.dmm
  maps/tents/tent_reqs.dmm
  maps/whiskey_outpost_v2.json
Labels: Feature, Sprites, Mapping

#3578 Fixes medical holocards
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#3570 Forsaken ERT is now weighted by type
  code/datums/emergency_calls/forsaken_xenos.dm
Labels: Feature

#3580 fixes ridged armor not appearing properly: or, how i learned to regret my own actions
  code/modules/clothing/suits/marine_armor.dm
Labels: Fix

#3540 Escape pod crash land chance
  code/modules/shuttle/shuttles/escape_shuttle.dm
Labels: Feature, Fix

#3585 Poly_kevlon > Plastic
  code/game/objects/structures/props.dm
Labels: Grammar and Formatting

#3586 Removes some broken forsaken ERT code
  code/datums/emergency_calls/forsaken_xenos.dm
Labels: Fix

#3579 Less effective clamping bleeding in bad conditions
  code/modules/surgery/generic.dm
Labels: Balance

#3587 Removes ability to high toss over ultra reinforced windows
  code/game/objects/structures/window.dm
Labels: Removal

#3574 Cryopods now give a slight glow when occupied
  code/game/machinery/cryopod.dm
Labels: Feature

#3571 Acid pillars now target crit burning friendly xenos
  code/modules/cm_aliens/XenoStructures.dm
Labels: Fix

#3552 Jobs and character slots.
  code/__DEFINES/client_prefs.dm
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/job.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/new_player/new_player.dm
  colonialmarines.dme
Labels: Feature, Testmerge Candidate, Needs Testing

#3598 Fluff security record entry is now added as a comment to the security records.
  code/datums/datacore.dm
Labels: Fix

#3596 Hardy weeds now spread on CC shale rocks.
  code/game/turfs/auto_turf.dm
Labels: Fix

#3595 Data detector no longer goes off on empty vial boxes
  code/game/objects/items/devices/data_detector.dm
Labels: Fix

#3599 Sentries now work correctly on dropships
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
Labels: Fix

#3594 Limits view range of large crate destroy message.
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Fix

#3567 Admin Map Overrides
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/server_verbs.dm
  maps/override_ground.json
  maps/override_ship.json
  tools/ci/check_grep.sh
Labels: Feature

#3576 You can no longer use MMB to attack (probably)
  code/_onclick/click.dm
Labels: Fix, Testmerge Candidate, Needs Testing

#3606 Food Lore
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
Labels: Feature

#3603 Huggers no longer lose health over time on weeds
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Feature, Balance, Balance Approved

#3590 Fiorina Sciannex groundside xeno landmarks
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Mapping, Mapping Approved

#3569 Get_Access() overhaul
  code/__DEFINES/access.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/jobs/access.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  code/modules/admin/verbs/debug.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Code Improvement

#3597 You can now use the Ghost verb when nested and still return to your body when freed
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#3564 Makes nuke get those pesky closet/tunnel hiders
  code/game/gamemodes/cm_self_destruct.dm
Labels: Fix

#3607 Fix Restore some object back to original to keep them compatible with older map
  code/game/objects/structures/flora.dm
  code/game/turfs/open.dm
Labels: Fix

#3588 Smartgun battery
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/datums/supply_packs/ammo.dm
  code/game/machinery/recharger.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  icons/obj/structures/machinery/power.dmi
Labels: Feature, Sprites, Removal, Sprites Approved

#3608 Crippling Strike is now forced harm intent
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/mutators/behavior_delegate.dm
Labels: Balance

#3616 Fix runtime in proc is_in_shuttle_bounds
  code/modules/shuttle/shuttle.dm
Labels: Fix

#3527 Burrower burrow fixes
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix, Stale

#3357 Bugfix prevent fuel backpacks to be filled via reagent tank with improper chemical
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tools/maintenance_tools.dm
Labels: Fix

#3613 LV522 Fixes (Weedable tiles, Invis walls, weird windows)
  code/game/area/LV522_Chances_Claim.dm
  code/game/turfs/auto_turf.dm
  code/game/turfs/turf.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Fix, Mapping, Mapping Approved

#3614 Fixes BR nightmare tiles
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
Labels: Mapping, Mapping Approved

#3626 Replaces LV522 ceramic plates with MRE crate
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping

#3617 fix a runtime error with blackmarket scanner
  code/game/objects/items/devices/scanners.dm
Labels: Fix

#3610 Fixes misleading info on weapon stats
  tgui/packages/tgui/interfaces/WeaponStats.js
Labels: Grammar and Formatting, UI

#3609 Grass Nerf
  code/game/objects/structures/flora.dm
Labels: Balance

#3589 Fixes a runtime when observing before roundstart
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#3629 Adds M41A mk2 kit to SL vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Feature

#3619 Shipside role weight nerf
  code/game/jobs/role_authority.dm
Labels: Balance

#3638 Weed Addition To Trijent, Fix Larva Issue
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Fix, Mapping, Mapping Approved

#3641 Fixes some issues with ghosts
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#3627 Fix grab delay for xenos
  code/_onclick/xeno.dm
Labels: Fix, Testmerge Candidate, GBP: No Update, Needs Testing

#3628 XO message should include code of conduct & MAIN_SHIP_NAME define usage
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/provost.dm
  code/datums/emergency_calls/souto.dm
  code/game/jobs/job/civilians/other/reporter.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/command/cic/executive.dm
Labels: Grammar and Formatting, GBP: No Update

#3523 epic diamond legacy resprite [HUEMAXXING]
  icons/obj/items/items.dmi
Labels: Sprites, Stale

#3651 WY/PMC and UPP crew monitors.
  code/__DEFINES/job.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/wy.dm
Labels: Feature, Fix

#3654 fixes no paygrade runtime on prosthetic limbs
  code/modules/character_traits/robotic_limbs.dm
Labels: Fix

#3659 Double barrel shotgun acquisition removal
  code/datums/supply_packs/black_market.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial2_weapons.dmm
  maps/map_files/LV624/standalone/laststand.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#3656 Fixes some descriptions
  code/game/objects/items/devices/coins.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/paperwork/paper.dm
Labels: Fix

#3661 Chem retrieval goons now only display the USCSS Royce explanation blurp.
  code/datums/emergency_calls/emergency_call.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Labels: Removal

#3624 Folding Barricade Fixes
  code/game/objects/structures/barricade/deployable.dm
Labels: Fix, Quality of Life, Balance Approved

#3489 OT/Req delivery system repair
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Mapping, Mapping Approved

#3259 The Hazmat Joe
  code/__DEFINES/skills.dm
  code/__DEFINES/urls.dm
  code/datums/skills.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/slot_scaling.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  icons/mob/humans/onmob/hands.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/mob/humans/species/r_synthetic.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Sprites Approved

#3662 Generators can no longer be blown up
  code/game/machinery/groundmap_geothermal.dm
Labels: Balance, Balance Approved

#3664 Bonus evolution slowly deteriorates over time when all castes are unlocked
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Balance, Balance Approved

#3673 Fixes forsaken and foxtrot announcing their arrival.
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
Labels: Fix

#3677 Flare nerf (& Flare Acid Changes)
  code/game/objects/effects/aliens.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Feature, Balance, Balance Approved

#3470 The nuclear option
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/objects.dm
  code/datums/supply_packs/operations.dm
  code/game/machinery/nuclearbomb.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/cm_tech/tech.dm
  code/modules/cm_tech/techs/abstract/repeatable.dm
  code/modules/cm_tech/techs/abstract/transitory.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  colonialmarines.dme
  icons/effects/techtree/tech.dmi
  tgui/packages/tgui/interfaces/NuclearBomb.js
Labels: Feature, UI

#3681 Suppresses Blood Step Signal Handler errors
  code/datums/elements/bloody_feet.dm
Labels: Fix, GBP: No Update

#3682 Fix XM88 streak end notification
  code/modules/projectiles/guns/lever_action.dm
Labels: Fix

#3669 Flashlight gun attachments turn off when they should
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#3679 Adds magazines to loadouts
  code/modules/client/preferences_gear.dm
Labels: Feature

#3674 Fix Shuttle Crash Crash For Hijack
  code/modules/shuttle/dropship_hijack.dm
Labels: Fix

#3683 browser assets to be served via the cdn
  code/__HELPERS/files.dm
  code/controllers/subsystem/assets.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/transports/webroot_transport.dm
  colonialmarines.dme
  config/example/resources.txt
  tools/localhost-asset-webroot-server.py
Labels: Server

#3636 Xeno Candidate Queue
  code/__DEFINES/mobs.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/_time.dm
  code/__HELPERS/cmp.dm
  code/__HELPERS/game.dm
  code/_onclick/observer.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/client/client_defines.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttle.dm
Labels: Feature, Fix

#3692 Adds the Corpsman Helmet to Req
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Quality of Life

#3652 Logging Improvements
  code/modules/admin/verbs/deadsay.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Logging, Admin

#3696 Fixes gun light attachment issues
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#3623 Fix erronous flamer_tank is empty messages and add sfx to empty canister verb
  code/modules/projectiles/magazines/flamer.dm
Labels: Fix, Sound, Stale

#3668 Devour now turns off lights
  code/modules/mob/mob_grab.dm
Labels: Fix

#3687 Adds USCM Poncho To Synth Vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature, Whitelist Changes

#3699 Fix for dummy rotation in character setup.
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
Labels: Fix

#3700 Hive core and dead larvas.
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#3701 Email rewrites
  code/datums/fluff_emails.dm
Labels: Feature

#3705 Fix yank object verb for others
  code/modules/mob/mob.dm
Labels: Fix

#3707 String Changes for Tips
  strings/marinetips.txt
  strings/metatips.txt
  strings/xenotips.txt
Labels: Grammar and Formatting

#3708 Fix larva doubling when banished and returned to core
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#3706 Player huggers now get second dibs if they hug a player
  code/_globalvars/lists/mobs.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Feature

#3577 Revive Fixes for Boiler: IFF Gas and Cause Data
  code/datums/effects/neurotoxin.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Fix, Balance, Stale

#3722 Fixes a typo that made the game think there's not a CO onboard.
  code/controllers/subsystem/ticker.dm
Labels: Fix

#3688 Makes Predator ages fit with our lore
  code/modules/client/preferences.dm
Labels: Feature

#3592 Larva surge is limited by marines/xenos ratio
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix, Balance, Testmerge Candidate, Balance Approved, Needs Testing

#3584 Explosive barricade upgrade buff
  code/__DEFINES/defenses.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/metal.dm
Labels: Balance, Stale

#3720 Allow Mentors to Eavesdrop on Mhelps
  code/modules/mentor/mentorhelp.dm
Labels: Admin

#3600 Cluster OB now respects if a hive core is created while it is firing.
  code/modules/cm_marines/orbital_cannon.dm
Labels: Balance

#3620 Liaison drip
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/marine_uniform.dm
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#3731 Almayer Maintenence Light Adjustments
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3730 Fix Infinite Recursion in Hugger Custom Rebound
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#3718 Removes 2second queen building cooldown when building away from hive while boosted
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Balance

#3717 Fix Deterred Crashsite Offset
  code/modules/shuttle/dropship_hijack.dm
Labels: Fix

#3736 Removes toxin mags on shivas
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Mapping, Removal, Mapping Approved

#3723 Fixes communications intel objective being instantly completed
  code/game/machinery/telecomms/presets.dm
Labels: Fix

#3666 Xenos no longer can pull dead xenos
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Balance, Stale

#3742 LV522: Moves breaching charge again, buffs sec armoury as optional loot area for FORECON, adds missing warning stripes
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved
