Repository cmss13-devs/cmss13, pull requests merged in 2023-12, with the labels that each got.

#4911 Sanitizes burrower tunnel names to alphanumeric only
  code/__HELPERS/text.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix, Stale

#4996 Brown Gloves/Boots Surplus Vendors
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Feature

#4962 Fix vending_products register continue check
  code/modules/asset_cache/asset_list_items.dm
Labels: Code Improvement, Stale

#5045 Repurposed nightmare insert + Lambda Changes
  code/modules/paperwork/paper.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/25.vault_v2.dmm
Labels: Feature, Mapping, Mapping Approved

#5079 Consistent LZ names.
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Mapping, Mapping Approved

#5092 Redetails Almayer Squad Briefing Areas
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5091 fix skull facepaint, masks
  code/modules/client/preferences_gear.dm
Labels: Fix

#5062 Makes whiskey outpost rarer + adds pop lock
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Balance, Balance Approved, Removal

#5098 Fixes non normal hive nickname numbering
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix, Testmerge Candidate

#5096 Weeds are conserved under walls being upgraded and destroyed
  code/game/turfs/walls/walls.dm
Labels: Fix, Testmerge Candidate

#4942 Sorokyne Corporate Liaison
  code/modules/clothing/suits/labcoat.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  maps/sorokyne_strata.json
Labels: Feature, Grammar and Formatting, Stale

#5059 Eggsac carrier bugfix
  code/modules/cm_aliens/structures/egg.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Labels: Fix

#5066 asrs spec_kit fix & working marine tokens
  code/__DEFINES/skills.dm
  code/__DEFINES/vendors.dm
  code/datums/supply_packs/operations.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/devices/coins.dm
  code/modules/cm_marines/equipment/gear.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Feature, Fix, Code Improvement

#5095 Fixes ocassional observer minimap desync
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#5087 Fixes the the majority of "The the" in chat messages (Part 1)
  code/datums/ammo/misc.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/datums/emergency_calls/cryo_spec.dm
  code/datums/emergency_calls/tank_crew.dm
  code/datums/emergency_calls/whiskey_outpost.dm
  code/datums/helper_datums/teleport.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/machinery/computer/research.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/fusion_engine.dm
  code/game/machinery/iv_drip.dm
  code/game/machinery/kitchen/processor.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/spaceheater.dm
  code/game/machinery/vending/vending.dm
  code/game/objects/items/circuitboards/computer.dm
  code/game/objects/items/circuitboards/machine.dm
  code/game/objects/items/devices/cloaking.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/devices/teleportation.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/grenades/chem_grenade.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/frames/camera.dm
  code/game/objects/items/lightstick.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
  code/game/objects/items/reagent_containers/food/fortunecookie.dm
  code/game/objects/items/reagent_containers/food/sandwich.dm
Labels: Grammar and Formatting

#4999 qol standartize how IO vendor is organized to be more in line with how other marine vendor are organize.
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
Labels: Quality of Life, Stale

#5115 Runtime fix and code maintenance for vendors
  code/game/machinery/vending/cm_vending.dm
Labels: Fix, Code Improvement

#5051 Kutjevo Tunnels Upgrade
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Feature, Balance, Mapping, Balance Approved, Removal

#5114 Fixes a runtime in spiders.dm attackby()
  code/game/objects/effects/spiders.dm
Labels: Fix

#5112 Fixes a few lowercase chat messages
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
  code/game/objects/items/tools/shovel_tools.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/mob_transformation_simple.dm
Labels: Grammar and Formatting

#5101 New ammo boxes
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  code/modules/projectiles/ammo_boxes/round_boxes.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/handfuls.dmi
  icons/obj/items/weapons/guns/ammo_boxes/magazines.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
Labels: Feature, Sprites, Sprites Approved

#5083 Functional M5 Gasmask 2: Electric Boogaloo
  code/game/objects/items/props/helmetgarb.dm
Labels: Feature

#4976 More lifeboat launch options
  code/modules/shuttle/computer.dm
Labels: Feature

#5127 Forest Bugfix Bundle
  code/datums/emergency_calls/emergency_call.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#5119 Fix Nano Subsystem Init Error
  code/controllers/subsystem/nanoui.dm
Labels: Fix

#5099 Datacore Maintenance
  code/__HELPERS/unsorted.dm
  code/datums/datacore.dm
  code/defines/procs/records.dm
Labels: Code Improvement

#5117 Adds a scaling direct hit sound to the XM88
  code/modules/projectiles/guns/lever_action.dm
  sound/weapons/gun_xm88_directhit_high.ogg
  sound/weapons/gun_xm88_directhit_low.ogg
  sound/weapons/gun_xm88_directhit_medium.ogg
Labels: Sound

#5111 Fixes disarm chance calculation
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#5073 Ckey check verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Labels: Testmerge Candidate, Admin, Needs Testing

#5105 Added launch alarm for PR #4976
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
Labels: Feature

#4986 Projectile smooth movement
  code/modules/projectiles/projectile.dm
Labels: Code Improvement, Testmerge Candidate

#5149 refactor shutter and linked buttons in CL office.
  code/game/machinery/door_control.dm
  code/game/machinery/doors/shutters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Mapping, Mapping Approved

#5150 Weeds on destroyed non resin walls now delete as previously
  code/game/turfs/walls/walls.dm
Labels: Fix

#5152 Balloon Alerts for Gun Safety
  code/modules/projectiles/gun.dm
Labels: Quality of Life

#5146 xeno_defines.dm reorganisation
  code/modules/client/client_procs.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  colonialmarines.dme
Labels: Code Improvement

#5143 PO can remove queens override again, bit by bit edition
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Balance, Balance Approved

#5141 add document pouch and other item to ASO vendor
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Balance, Balance Approved

#5154 Oppressor cooldown changes
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance, Balance Approved

#5159 removes awful nanoui debug verb
  code/modules/admin/admin_verbs.dm
  code/modules/nano/nanomapgen.dm
  colonialmarines.dme
Labels: Removal

#5163 Removes the welder deconstruction hint from resin walls
  code/game/turfs/walls/walls.dm
Labels: Fix

#5162 Resting now cancels xenomorph Evolve again
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Fix

#5133 Locking lifeboats open the docks
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
Labels: Feature

#5054 Egg Changes
  code/modules/cm_aliens/structures/egg.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Balance, Balance Approved

#5158 fixes is_interior(), fixing xeno construction on dropships during transport
  code/controllers/subsystem/interior.dm
Labels: Fix

#5166 Fusion reactor explosion handling
  code/game/machinery/fusion_engine.dm
Labels: Fix

#5169 M44 Heavy to_chat bug fix
  code/datums/ammo/ammo.dm
Labels: Fix

#5172 Fixes LV Engi and Research not showning up correctly on the tacmap
  code/game/area/LV624.dm
Labels: Fix

#5176 Fixes a blank area turf on Almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#5186 Adds 50 pixels to the Shuttle Manipulator width
  code/controllers/subsystem/shuttles.dm
Labels: UI

#5157 adds a medal viewer
  code/datums/medal_awards.dm
  code/game/verbs/records.dm
  code/modules/asset_cache/assets/medals.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/MedalsViewer.tsx
  tgui/packages/tgui/styles/interfaces/MedalsViewer.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, UI, Testmerge Candidate

#5100 Almayer AntiTheft measures.
  code/__DEFINES/dcs/signals/signals_global.dm
  code/_globalvars/lists/object_lists.dm
  code/game/machinery/doors/shutters.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/window.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttles/marine_ferry.dm
  icons/turf/walls/almayer.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Mapping Approved

#5065 GAU Buff - Shooting twice the bullet per bullet
  code/modules/cm_marines/dropship_ammo.dm
Labels: Balance

#5196 renamed 'M56 Battery' to 'M56 DV9 Battery' in requisitions munition vendor
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Grammar and Formatting

#5191 New hairstyle, Gentle Braid!
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites

#5174 Vanguard tweaks
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance, Sound, Balance Approved

#5197 M56D can no longer be used by the dead.
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#5198 Compass Headgear now shows your direction when examined
  code/__DEFINES/maps.dm
  code/game/objects/items/props/helmetgarb.dm
  maps/corsat.json
  maps/fiorina_sciannex.json
  maps/prison_station_fop.json
Labels: Feature, Code Improvement

#5189 Fixed hard hat action item icon
  code/modules/clothing/head/hardhat.dm
Labels: Fix

#5175 Xeno Throwing Refactor, prevents canceling mob throws by moving
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/movement/launching/launching.dm
Labels: Fix, Testmerge Candidate

#5130 Armor Light Buff for Heavy/Medium/Leader armor
  code/datums/supply_packs/restricted_equipment.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/wo.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Balance, Code Improvement, Testmerge Candidate, Mapping, Balance Approved, Mapping Approved

#5200 Legacy Sprites Moar Revive
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/drinks.dmi
  icons/obj/items/items.dmi
  icons/obj/items/surgery_tools.dmi
  icons/obj/items/weapons/weapons.dmi
  icons/obj/janitor.dmi
  icons/obj/structures/closet.dmi
  icons/obj/structures/crates.dmi
  icons/rebase_icons.dmi
Labels: Feature, Fix, Sprites, Testmerge Candidate, Sprites Approved

#5027 new brig remap x3
  code/game/machinery/computer/security.dm
  code/game/machinery/doors/brig_system.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Mapping, Mapping Approved

#5180 Fix plane when dead nested mobs merge with weeds
  code/datums/components/weed_food.dm
Labels: Fix

#5069 Updates santa hats
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/cm_marines/Donator_Items.dm
  code/modules/decorators/christmas.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/obj/items/clothing/hats.dmi
Labels: Sprites, Stale, Sprites Approved

#5216 Fixed hard hat user inventory head icon
  code/modules/clothing/head/hardhat.dm
Labels: Fix

#5168 Fixes camera EMP sprites
  code/game/machinery/camera/camera.dm
Labels: Fix

#5207 Xeno telegraph effect can now be any rgb colour
  code/game/objects/effects/aliens.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  icons/mob/xenos/effects.dmi
Labels: Feature, Sprites, Sprites Approved

#5155 ports fixes to the regex chat filter that we sent upstream
  tgui/packages/tgui-panel/chat/renderer.js
Labels: Fix, Stale, UI

#5063 CL Briefcase Radio Keys
  code/game/objects/items/devices/portable_vendor.dm
Labels: Feature, Stale

#5209 Ds doorgun no longer hits cades
  code/datums/ammo/bullet/special_ammo.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Balance, Balance Approved

#5044 Refactor got handling infection stage and progess of the black goo disease
  code/datums/diseases/black_goo.dm
Labels: Feature, Balance, Balance Approved

#4956 Survivor Job Additions + Some Minor Fixes
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/survivors.dm
  maps/bigredv2.json
  maps/lv624.json
Labels: Feature, Fix, Balance, Quality of Life, Code Improvement, Grammar and Formatting, Balance Approved

#5188 Standartize the price of all three binculars type for SG,medic,comtech, IO
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
Labels: Balance, Balance Approved

#5217 Fixes for new brig
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5118 Xeno Corpse Weed Food
  code/datums/components/weed_food.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/living_defines.dm
  icons/mob/xenos/weeds.dmi
  icons/mob/xenos/weeds_48x48.dmi
  icons/mob/xenos/weeds_64x64.dmi
Labels: Feature, Fix, Sprites, Testmerge Candidate, Sprites Approved

#5171 sprite changes for marine snow uniforms and armors
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Sprites, Sprites Approved

#5195 fix bug with landing zone camera.
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Mapping, Mapping Approved

#5199 hair gradient free
  code/modules/character_traits/hair_dye.dm
Labels: Feature

#5190 Touches up nuke messages for xenomorphs
  code/game/machinery/nuclearbomb.dm
Labels: Grammar and Formatting

#5137 Surgery penalties for improvised or poor conditions compensated by skill
  code/__DEFINES/surgery.dm
  code/modules/surgery/surgery_steps.dm
Labels: Balance, Balance Approved

#4960 Escape-pod stasis fixes & ID checking proc
  code/datums/medal_awards.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
Labels: Feature, Fix

#5170 Adds a 'Ghost' button for dead xenomorphs
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  icons/mob/hud/actions.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#5201 Minor QOL things for xeno special structure construction
  code/__DEFINES/xeno.dm
  code/datums/construction/xenomorph/construction_template_xenomorph.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/special_structure.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Quality of Life

#5204 Requisitions elevator lighting fix
  code/game/supplyshuttle.dm
  code/modules/shuttles/shuttle.dm
Labels: Fix, Testmerge Candidate

#5239 fix a nightmare insert that had a wall and a door on same tile
  maps/map_files/Kutjevo/sprinkles/35.communications.dmm
Labels: Fix, Mapping, Mapping Approved

#5214 Changes base Warrior's sprite with unused Knight strain's sprite.
  icons/mob/xenos/warrior.dmi
Labels: Feature, Sprites, Sprites Approved

#5164 Projectile ref clears
  code/modules/projectiles/projectile.dm
Labels: Stale

#5243 Fixes matches doing brute instead of burn when accidently burning yourself
  code/game/objects/items/storage/fancy.dm
Labels: Fix

#5235 Adds closeother to USS Almayer doors.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5230 suspect sec records qol fix
  code/game/machinery/computer/security.dm
Labels: Quality of Life

#5249 Hive UI pylon crash fix
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix, Testmerge Candidate

#5240 You/We fixes
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
Labels: Grammar and Formatting

#5160 Fixes lurker tail stab over ledges and window frames
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Fix, Testmerge Candidate

#5250 Update weeded warrior sprites
  icons/mob/xenos/weeds_64x64.dmi
Labels: Sprites, Sprites Approved

#5259 Working Joes can no longer Drink
  code/game/objects/items/reagent_containers/food/drinks.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Removal

#5058 Separates Factions In Observe/Follow Tab
  code/__DEFINES/mode.dm
  code/modules/gear_presets/contractor.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, UI, Testmerge Candidate

#5241 Converts some xeno abilities to SECONDS
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
Labels: Code Improvement

#5255 Additional ui_act checks for tacmap
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Labels: UI

#5264 minor tacmap ui change
  code/controllers/subsystem/minimap.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Labels: UI

#5261 Hopefully fixes hijack bug
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/ticker.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Fix

#5219 Ghost listening device preference
  code/__DEFINES/__game.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
Labels: Feature

#5213 Fixes NE DS doorgun deployment bug
  code/modules/cm_marines/dropship_equipment.dm
Labels: Fix

#5253 Fixes fire resist spamming
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/living_verbs.dm
Labels: Fix

#5212 Refactors Get_Angle() and related procs
  code/__HELPERS/#maths.dm
  code/__HELPERS/unsorted.dm
  code/modules/cm_marines/radar.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
Labels: Fix, Refactor, Testmerge Candidate

#5227 Liason typo fix and Goon construction buff.
  code/datums/skills/civilian.dm
  code/game/area/almayer.dm
  code/game/machinery/doors/shutters.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
  code/modules/gear_presets/survivors/survivors.dm
  maps/corsat.json
  maps/desert_dam.json
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/new_varadero.json
Labels: Balance, Grammar and Formatting

#5267 nerfs window frames
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
Labels: Balance, Balance Approved

#5270 Fix Xmas barricade decorator not working
  code/game/objects/structures/barricade/barricade.dm
  code/modules/decorators/christmas.dm
Labels: Fix

#5210 Allows Xenomorphs to turn off the dropship's launch alarm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Feature

#5257 Fixes Flight Control Operator surv + gave him a windbreaker and one more access.
  code/modules/gear_presets/survivors/survivors.dm
Labels: Feature, Fix

#5271 Camera console green-ness fix
  code/game/machinery/computer/camera_console.dm
Labels: Fix

#5273 adds forced scream emote after warrior lunge
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  sound/voice/human_male_scream_6.ogg
Labels: Feature, Sound

#5266 Fix Crusher Pass Flags
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#5173 New Healer Drone Ability: Sacrifice, another go
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5211 DS doorgun no longer drops the gun when destroyed
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#5279 Makes `xenoboldnotice` actually bold
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Grammar and Formatting, UI

#5254 Areas almayer qol
  code/controllers/subsystem/hijack.dm
  code/game/area/almayer.dm
  code/modules/shuttle/dropship_hijack.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#5215 Further vanguard tweaks that drop the root from 2.5 to 1.8
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Labels: Balance, Balance Approved

#4812 Dropship weapons console TGUI
  code/__DEFINES/__game.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/game/camera_manager/camera_manager.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/client/client_procs.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/dropships/attach_points/attach_point.dm
  code/modules/dropships/cas/fire_mission_record.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
  colonialmarines.dme
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
  nano/templates/dropship_weapons_console.tmpl
  tgui/packages/tgui/interfaces/CasSim.js
  tgui/packages/tgui/interfaces/CasSim.tsx
  tgui/packages/tgui/interfaces/CrtPanel.tsx
  tgui/packages/tgui/interfaces/DropshipWeaponsConsole.tsx
  tgui/packages/tgui/interfaces/MfdPanels/CameraPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/EquipmentPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/FiremissionPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/FultonPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MGPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MapPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MedevacPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MultifunctionDisplay.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SentryPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SpotlightPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SupportPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/TargetAquisition.tsx
  tgui/packages/tgui/interfaces/MfdPanels/WeaponPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/stateManagers.ts
  tgui/packages/tgui/interfaces/MfdPanels/types.ts
  tgui/packages/tgui/interfaces/common/Dpad.tsx
  tgui/packages/tgui/styles/interfaces/CasSim.scss
  tgui/packages/tgui/styles/interfaces/CrtPanel.scss
  tgui/packages/tgui/styles/interfaces/DropshipWeapons.scss
  tgui/packages/tgui/styles/interfaces/SidePanel.scss
  tgui/packages/tgui/styles/interfaces/common/Dpad.scss
  tgui/packages/tgui/styles/layouts/SplitWindow.scss
  tgui/packages/tgui/styles/main.scss
Labels: Quality of Life, Refactor, UI, Testmerge Candidate, Mapping, Mapping Approved

#5179 Executive Officer's Weapons Vendor + More Belt Options
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#5288 Fix acid resisting
  code/modules/mob/living/living_verbs.dm
Labels: Fix

#5281 Fix queen death not readmitting banished xenos fully
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#5282 Fixes Yautja bracer lock
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#5218 SStechtree startup optimisation
  code/controllers/subsystem/techtree.dm
  code/modules/cm_tech/techtree.dm
Labels: Code Improvement, Stale

#5275 ARES Death and Consequences; The Prequel
  code/game/bioscans.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
Labels: Feature, Refactor, Code Improvement

#5287 Removes unused crystal code for xenos
  code/__DEFINES/misc.dm
  code/__DEFINES/xeno.dm
  code/datums/construction/construction_template.dm
  code/datums/construction/xenomorph/construction_template_xenomorph.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/cm_aliens/structures/construction_node.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Labels: Removal

#5276 More WE/YOU fixes
  code/datums/construction/construction_template.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
Labels: Grammar and Formatting

#5225 lowers DS sentrygun to 200 from 500
  code/modules/cm_marines/dropship_equipment.dm
Labels: Balance, Balance Approved

#5224 gets launchbay price in line with other equipment
  code/modules/cm_marines/dropship_equipment.dm
Labels: Balance, Balance Approved

#5286 Fixes carriers being unable to reduce their 'reserved facehuggers' number
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
Labels: Fix

#5185 Admin audio cue toggle.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/pray.dm
  code/span_macros.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Code Improvement, Stale, UI, Admin

#5299 Fixes the Queen Eye being stuck as immature
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__HELPERS/mobs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#5303 Fixes synths being unlungeable while in "critical state"
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#5312 Fixes a simple race condition in XRF Setup
  code/modules/reagents/chemistry_machinery/reagent_analyzer.dm
Labels: Fix

#5263 Shoe item storage refactor
  code/datums/supply_packs/black_market.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/projectiles/gun_attachables.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Refactor, Mapping, Mapping Approved

#5269 new sprites for predalien (abomination) and co.
  icons/mob/xenos/predalien.dmi
  icons/mob/xenos/predalien_larva.dmi
  icons/mob/xenos/weeds_64x64.dmi
  icons/mob/xenos/wounds.dmi
Labels: Sprites, Sprites Approved

#5308 north facing m56d shooting angle fix
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#5315 Makes the designation of a tunnel display in chat when entered
  code/modules/cm_aliens/structures/tunnel.dm
Labels: Quality of Life

#5319 Fixes a laser cannon bug which I added
  code/modules/cm_marines/dropship_ammo.dm
Labels: Fix

#5323 Moves around "Remove Splints" and "View playtime"
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob_verbs.dm
Labels: Quality of Life

#5317 Fixes immobilized mobs being able to buckle onto chairs
  code/game/objects/objs.dm
Labels: Fix

#5320 Fixes runtime in stripping
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#5321 Fixes the failure message when trying to switch pyro fuels
  code/game/objects/items/storage/large_holster.dm
Labels: Fix

#5316 Fixes the Hive Status error when the Queen dies
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  tgui/packages/tgui/interfaces/HiveStatus.jsx
  tgui/public/tgui-panel.bundle.css
Labels: Fix

#5231 gives trucker construction skills
  code/datums/skills/civilian.dm
Labels: Balance, Stale, Balance Approved

#5234 CL Headsets can utilize two more keys.
  code/game/objects/items/devices/radio/headset.dm
Labels: Feature, Stale

#5237 Refactors some other xeno throws to throw_carbon()
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Labels: Code Improvement

#5304 Adds a verb to hide action buttons
  code/datums/action.dm
  code/modules/client/client_procs.dm
Labels: Quality of Life

#5309 sentry laptop now uses camera manager
  code/modules/defenses/sentry_computer.dm
Labels: Refactor

#5322 Fixes a couple of runtimes with xenos dying
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#5328 Fixes runtime on death by decapitation
  code/modules/organs/limbs.dm
Labels: Fix
