Repository cmss13-devs/cmss13, pull requests merged in 2023-01, with the labels that each got.

#2166 Fix for HPR magazines and boxes of bullets.
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
Labels: Fix

#2169 Fixes xeno QDELing "currently transported" marines after missing hijack
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#2174 Fixed a xeno overwatch runtime
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
Labels: Fix

#2171 Sorry lads woman now spawn with bras on New Varadero (Camo conforming undershirt fix)
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
Labels: Fix, Architect Approved

#2168 Fixes oversight involving girders and praetorian strains
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#2048 contributing md and codeowners update
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
Labels: Stale, Github

#2153 TGUI disposals
  code/modules/recycling/disposal.dm
  tgui/packages/tgui/interfaces/Disposals.js
Labels: UI

#2176 Adds a variable to allow camera terminals to be used from the admin z level
  code/game/machinery/computer/camera_console.dm
Labels: Admin

#2177 Stops Janitoral Carts from eating buckets
  code/game/objects/structures/janicart.dm
Labels: Fix

#2178 Predator green skin missing hand fix
  icons/mob/humans/species/r_predator.dmi
Labels: Fix, Sprites, Sprites Approved

#2045 Working Joe updates & Predator Spawning
  code/__DEFINES/language.dm
  code/__DEFINES/mode.dm
  code/datums/skills.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/role_authority.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Feature, Code Improvement, Admin, Removal

#2179 deletes centcom account terminal
  ColonialMarinesALPHA.dme
  code/game/jobs/job/job.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/economy_misc.dm
  maps/map_files/generic/Admin_level.dmm
  nano/templates/accounts_terminal.tmpl
Labels: Removal

#2180 deletes unused airlock docking controllers
  ColonialMarinesALPHA.dme
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  maps/map_files/BigRed/BigRed.dmm
  nano/templates/docking_airlock_console.tmpl
  nano/templates/door_access_console.tmpl
  nano/templates/multi_docking_console.tmpl
Labels: Removal

#2162 reimplements multi-highlight
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/actions.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/model.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/settings/selectors.js
Labels: UI

#2185 Fixes text typos involving Colonial Marshals
  code/modules/gear_presets/survivors.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Grammar and Formatting, Mapping

#2184 Converts remaining RESS references to TWE
  ColonialMarinesALPHA.dme
  code/__DEFINES/job.dm
  code/__DEFINES/mob_hud.dm
  code/__DEFINES/mode.dm
  code/datums/mob_hud.dm
  code/datums/paygrades/factions/twe/twe.dm
  code/modules/client/preferences_toggles.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/gear_presets/agents.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Grammar and Formatting

#2055 Beserker rav nerf
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Labels: Balance, Stale, Architect Approved

#2127 Gardener and Healer Fixes
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  icons/mob/xenos/drone.dmi
  icons/mob/xenos/drone_strain_overlays.dmi
Labels: Feature, Fix, Balance, Sprites, Testmerge Candidate, Architect Approved, Sprites Approved

#2046 New sprites for Vanguard, Dancer and Warden strains
  icons/mob/xenos/praetorian.dmi
  icons/mob/xenos/wounds.dmi
Labels: Sprites, Stale, Sprites Approved

#1905 Aimed shot and spotting now have laser beams.
  code/__DEFINES/conflict.dm
  code/__DEFINES/traits.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/agents/tools/badass_kit.dm
  code/datums/beam.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/explosives/grenades/flashbang.dm
  code/game/objects/items/explosives/grenades/spawnergrenade.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/guns/specialist.dm
  icons/effects/Targeted.dmi
  icons/effects/beam.dmi
  icons/mob/hud/actions.dmi
  icons/obj/items/binoculars.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#2186 stack qol and vehicle entry speed fix
  code/game/objects/items/stacks/stack.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/interior/interactable/doors.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Fix, Quality of Life

#2187 Tweak: Boiler bombard cooldown
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#2192 fixes regression in acid harness code
  code/modules/reagents/chemistry_machinery/acid_harness.dm
Labels: Fix

#2190 fixes the logging for buildmode
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
Labels: Admin

#2194 Game year var type.
  code/global.dm
Labels: Fix

#1620 Adds SDQL2 and a backend VV refactor
  ColonialMarinesALPHA.dme
  code/__DEFINES/__game.dm
  code/__HELPERS/datums.dm
  code/__HELPERS/type2type.dm
  code/controllers/_DynamicAreaLighting_TG.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/datumvars.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/callproc.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/holder2.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/mob/mob.dm
Labels: Refactor, Stale Exempt, Testmerge Candidate, Admin

#1887 Mapping Add back the ability to open secure dome.
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
Labels: Feature, Balance, Code Improvement, Mapping, Architect Approved, Removal, Mapping Approved

#1924 Increased ChemMaster volume, added volume reading to reagent tank
  code/game/objects/structures/reagent_dispensers.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Balance, Quality of Life, Architect Approved

#1990 Added some rechargers / battery chargers to LV-522
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Feature, Mapping, Mapping Approved

#2200 Fix for splitting stacks.
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#1767 Ert shuttle tgport
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/shuttles.dm
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/shuttles.dm
  code/datums/shuttles.dm
  code/game/area/almayer.dm
  code/game/area/shuttles.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/lifeboats.dm
  code/modules/shuttle/shuttles.md
  code/modules/shuttle/shuttles/ert.dm
  code/modules/shuttle/vehicle_elevator.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/shuttles/ert_pmc_shuttle.dmm
  maps/shuttles/ert_response_shuttle.dmm
  maps/shuttles/ert_upp_shuttle.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
  tgui/packages/tgui/interfaces/ShuttleManipulator.tsx
  tgui/packages/tgui/styles/interfaces/NavigationShuttle.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/crt/crt-green.scss
Labels: Refactor, UI, Testmerge Candidate, Mapping, Removal, Mapping Approved

#2116 Colony Revolver Adjustments
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/magazines/revolvers.dm
Labels: Feature

#2054 Adds attacking animations to all Xeno abilities that lacked them.
  code/_onclick/click.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_verbs.dm
Labels: Feature, Balance, Code Improvement, Architect Approved

#2196 Fixes rats being white as holder items
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix

#2189 added an option to play midis/sounds to ghosts only
  code/modules/admin/verbs/playsound.dm
Labels: Admin

#2068 Festivizer Part 2
  ColonialMarinesALPHA.dme
  code/__DEFINES/traits.dm
  code/datums/statistics/random_facts/christmas_fact.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/toys/toys.dm
  code/modules/decorators/christmas.dm
  code/modules/gear_presets/fun.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/guns/revolvers.dm
  sound/items/jingle_long.wav
  sound/items/jingle_short.wav
  sound/voice/alien_queen_xmas_2.ogg
Labels: Feature, Merge Conflict, Quality of Life, Sound, Code Improvement, Stale

#2202 Fixed xenomorph acid traps dealing too much damage.
  code/__DEFINES/typecheck/xenos.dm
  code/game/objects/effects/aliens.dm
Labels: Fix, Code Improvement

#2201 Warriors no longer lifesteal while on fire.
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Balance, Architect Approved

#1955 Fixed fullauto items breaking with clickdrag override.
  code/__DEFINES/traits.dm
  code/_onclick/click_hold.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Fix, Testmerge Candidate

#2175 Fix: Dropship Intercomms
  code/game/objects/items/devices/radio/intercom.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2199 improved radio tgui
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/say.dm
  tgui/packages/tgui/interfaces/Radio.js
Labels: Code Improvement, UI

#2195 Say() and asterisks.
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, Quality of Life

#2209 gbp tweak
  .github/gbp.toml
Labels: Github

#2207 saves the eye blurriness preference
  code/__DEFINES/mode.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Fix

#2156 Underbarrel Flamethrower intense mode and fuel/range buff
  code/modules/projectiles/gun_attachables.dm
Labels: Feature, Fix, Balance, Code Improvement, Architect Approved

#2214 added matchword and matchcase back into chat highlight
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/model.js
Labels: UI

#2217 Fixed S&W speedloaders having a broken sprite.
  icons/obj/items/weapons/guns/ammo.dmi
Labels: Fix, Sprites

#2216 fixes some blockedpass/exit dirs runtimes
  code/modules/movement/movement.dm
Labels: Fix

#2098 Char loadout balaclava
  code/modules/client/preferences_gear.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/mob/humans/onmob/mask.dmi
  icons/obj/items/clothing/masks.dmi
Labels: Feature, Fix, Sprites, Stale, Sprites Approved

#2219 language menu tgui
  code/modules/mob/language/language_handling.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  tgui/packages/tgui/interfaces/LanguageMenu.js
Labels: UI

#1867 Added a flashlight and a battery box
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/ammo_boxes/box_structures.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  icons/obj/items/weapons/guns/ammo_box.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#2112 TGUI: Brig Timer
  code/game/machinery/doors/brig_system.dm
  code/modules/law/incident.dm
  tgui/packages/common/math.ts
  tgui/packages/tgui/interfaces/BrigCell.js
Labels: Fix, Refactor, UI

#2225 minor runtime fixes part 4
  code/__DEFINES/human.dm
  code/datums/keybinding/yautja.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/artifacts.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/tgui/tgui_number_input.dm
  code/modules/tgui_input/number.dm
Labels: Fix, Code Improvement

#2193 Un-instances RXFM5 EVA pistols from New Varadero
  code/modules/projectiles/gun_attachables.dm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Mapping

#2027 Wall Mappersprites
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/wall_types.dm
  icons/turf/walls/corsat.dmi
  icons/turf/walls/prison.dmi
  icons/turf/walls/solaris/solaris.dmi
Labels: Quality of Life, Sprites, Stale

#2145 Fixes all monkeys being unknown.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
Labels: Fix

#2232 Egg plasma now preserves hive number
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Fix

#2230 Fix: Riot Control HUD icon
  code/__DEFINES/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/gear_presets/uscm_police.dm
Labels: Fix

#2183 Adds soulful USCM SPF 50 sunscreen.
  code/game/objects/items/cosmetics.dm
  code/modules/client/preferences_gear.dm
  icons/mob/humans/onmob/human_face.dmi
  icons/obj/items/items.dmi
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#2210 modern say/me/ooc/looc input, comms hotkey (it has a preference)
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/keybinding.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/speech_channels.dm
  code/datums/keybinding/communication.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  code/modules/tgui/tgui-say/modal.dm
  code/modules/tgui/tgui-say/speech.dm
  code/modules/tgui/tgui-say/typing.dm
  icons/mob/effects/talk.dmi
  interface/skin.dmf
  tgui/packages/tgui-say/constants/index.tsx
  tgui/packages/tgui-say/helpers/index.tsx
  tgui/packages/tgui-say/interfaces/TguiSay.tsx
  tgui/packages/tgui-say/styles/button.scss
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui-say/styles/modal.scss
  tgui/packages/tgui-say/styles/textarea.scss
  tools/build/build.js
Labels: Sprites, UI, Testmerge Candidate, Sprites Approved

#2137 converted normal comments to DMdoc
  code/__DEFINES/MC.dm
  code/__DEFINES/__game.dm
  code/__DEFINES/_macros.dm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/chemistry.dm
  code/__DEFINES/clans.dm
  code/__DEFINES/conflict.dm
  code/__DEFINES/equipment.dm
  code/__DEFINES/human.dm
  code/__DEFINES/job.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/math_physics.dm
  code/__DEFINES/misc.dm
  code/_macros.dm
  code/global.dm
Labels: Documentation

#2255 Fixed dme again
  ColonialMarinesALPHA.dme
Labels: Fix

#2247 gender fixes
  code/datums/agents/tools.dm
  code/datums/diseases/black_goo.dm
  code/datums/paygrades/helper.dm
  code/game/machinery/door_control.dm
  code/game/objects/effects/decals/cleanable/blood/tracks.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/prints.dm
  code/game/objects/effects/decals/warning_stripes.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/frames/table_rack.dm
  code/game/objects/items/ore.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/props/helmetgarb.dm
  code/game/objects/items/props/souto_land.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/items/trash.dm
  code/game/objects/structures/misc.dm
  code/game/supplyshuttle.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/rank_pins.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
Labels: Fix, Code Improvement

#2251 fix corpse spawner on big red medbay nightmare insert
  maps/map_files/BigRed/standalone/medbay-v3.dmm
Labels: Fix, Mapping

#2254 Fixes Object Narrate admin verb not returning after hiding admin verbs
  code/modules/admin/tabs/admin_tab.dm
Labels: Admin

#2231 LV-624 CLF Nightmare Insert Sentry Direction Fix
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Fix, Mapping, Mapping Approved

#2221 Disables New Varadero from the map pool.
  map_config/maps.txt
Labels: Removal

#2266 Mapping adding a panic room with an armory and an MP office to hangar.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#2246 Crew monitor radar
  ColonialMarinesALPHA.dme
  code/__DEFINES/_math.dm
  code/__HELPERS/#maths.dm
  code/__HELPERS/game.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/game/objects/items/tools/experimental_tools.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cm_marines/radar.dm
  code/modules/projectiles/targeting.dm
  code/modules/tgui/states/hands.dm
  code/modules/tgui/states/not_incapacitated_and_inventory.dm
  icons/images/ui_images/grid_background.png
  icons/images/ui_images/ntosradar_background.png
  icons/images/ui_images/ntosradar_pointer.png
  icons/images/ui_images/ntosradar_pointer_S.png
  tgui/packages/tgui/interfaces/Radar.tsx
Labels: Feature, UI

#2223 Vehicle status TGUI
  code/controllers/subsystem/quadtrees.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/holder/holder.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  code/modules/vehicles/multitile/multitile_verbs.dm
  code/modules/vehicles/tank/tank.dm
  tgui/packages/tgui/interfaces/VehicleStatus.js
Labels: Fix, UI

#2218 skills menu tgui
  ColonialMarinesALPHA.dme
  code/datums/datumvars.dm
  code/datums/skills.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/powers/check_skills.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/human/powers/issue_order.dm
  tgui/packages/tgui/interfaces/SkillsMenu.js
Labels: UI, Admin

#2257 fixes the goofy out of LOS typing indicators
  code/modules/mob/living/say.dm
  code/modules/tgui/tgui-say/typing.dm
Labels: Fix

#2248 Adds chaplain helmet patches to the Almayer's chapel.
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/helmet_garb.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Mapping Approved

#2213 SL Timelock Fix
  code/game/jobs/job/marine/squad/leader.dm
Labels: Fix

#1859 D2 breaching hammer
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/walls.dm
  code/modules/gear_presets/contractor.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/experimental_tools.dmi
Labels: Sprites, Stale, Admin, Sprites Approved

#2229 tg shuttle port - Big and Mini ERT
  code/__DEFINES/shuttles.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/projectiles.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/effects/decals/warning_stripes.dm
  code/game/objects/structures/window.dm
  code/game/turfs/walls/walls.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles.md
  code/modules/shuttle/shuttles/ert.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/shuttles/ert_shuttle_big.dmm
  maps/shuttles/ert_small_shuttle_north.dmm
Labels: Refactor, Mapping, Admin

#2139 looping sound subsystem port + tape recorder looping sounds
  ColonialMarinesALPHA.dme
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/lists.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/sound_loops.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/item_sounds.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/sound.dm
Labels: Sound, Code Improvement, Stale

#2271 Adds access requirement to CO's uniform vendor
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#2256 removes antihug from ushankas and bear pelts
  code/modules/clothing/head/head.dm
Labels: Balance, Architect Approved

#2270 Removes armor and decap protection from all berets and subtypes
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/head/head.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
Labels: Balance, Architect Approved

#2269 Makes custom pill bottles require medic skill to open
  code/game/objects/items/storage/firstaid.dm
Labels: Balance, Architect Approved

#2036 Survivor Variant Picking + Survivor Priority (Reopened Edition)
  code/__DEFINES/job.dm
  code/_globalvars/lists/mapping_globals.dm
  code/datums/map_config.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Feature, Stale

#2041 Damage flicker overhaul
  code/game/objects/effects/temporary_visuals.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  code/modules/surgery/chestburster.dm
Labels: Feature, Fix, Quality of Life, Code Improvement, Testmerge Candidate, Architect Approved

#2206 Fixed laggy Gardener sac overlays, fixed ghost overlays on healer and gardener, fixed Resin Fruits not having cooldowns
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  icons/mob/xenos/drone_strain_overlays.dmi
Labels: Fix, Balance, Sprites, Architect Approved, Removal

#2211 increases queen timelock
  code/__DEFINES/job.dm
  code/game/jobs/job/antag/antag.dm
  code/game/jobs/job/antag/xeno/queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Balance, Architect Approved

#2276 fixed being unable to PB with baton slugs (oversight)
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#2278 Fix for broken limbs dropping items.
  code/modules/organs/limbs.dm
Labels: Fix

#2280 Fixes deploying a M2C backwards to jump through dense objects
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#2290 Fixes FORECON skills
  code/datums/skills.dm
Labels: Fix

#2285 QoL for snipers.
  code/modules/clothing/head/helmet.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix, Quality of Life

#2284 moved starboard external hangar port into correct position
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#2293 Fix for calculating T3 playtime.
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#2307 removes haunted house event map from main repo
  code/__DEFINES/__game.dm
  code/game/area/Sulaco.dm
  code/modules/decorators/weapon_map_decorator.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  map_config/maps.txt
  maps/Nightmare/maps/Haunted_House_V2/nightmare.json
  maps/Nightmare/maps/Haunted_House_V2/scenario.json
  maps/haunted_house_v2.json
  maps/map_files/Haunted_House_V2/Haunted_House_V2.dmm
  maps/map_files/Haunted_House_V2/sprinkles/.gitkeep
Labels: Removal

#2301 Player SimpleMobs in Orbit
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Fix, UI

#2289 Xenos will be properly stunned while on the Almayer when hijack lands
  code/modules/shuttles/marine_ferry.dm
Labels: Fix

#2300 Fix for exploit stacking traps.
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#2299 Fixes shivas wall name "black ice slabs"
  code/game/turfs/walls/wall_types.dm
Labels: Grammar and Formatting

#2314 fixes a typo involving vampire lurk
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
Labels: Grammar and Formatting

#2060 Colony Guns Part 2: SMG Rework
  code/__DEFINES/conflict.dm
  code/game/sound.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/magazines/smgs.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/weapons/guns/ammo.dmi
  sound/weapons/handling/gun_jam_click.ogg
  sound/weapons/handling/gun_jam_initial_click.ogg
  sound/weapons/handling/gun_jam_rack_1.ogg
  sound/weapons/handling/gun_jam_rack_2.ogg
  sound/weapons/handling/gun_jam_rack_3.ogg
  sound/weapons/handling/gun_jam_rack_success.ogg
Labels: Feature, Balance, Sound, Sprites, Architect Approved

#2265 Gives queen an ability to sacrifice larva for evolution points
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Balance, Sprites, Architect Approved

#2308 CL Banking issue fix
  code/__DEFINES/job.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/datums/paygrades/helper.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
Labels: Fix, Code Improvement, Admin

#2286 M79 Rail attachment sprite fix
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#1404 HIRR rework/buff
  code/game/objects/items/explosives/grenades/marines.dm
Labels: Balance, Testmerge Candidate

#2322 Reverts (most of) damage flicker
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/projectile.dm
  code/modules/surgery/chestburster.dm
Labels: Removal

#2261 Fixes Almayer chapel corner platforms
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2323 fixes omnisentry stacking glitch
  code/modules/cm_tech/droppod/droppod.dm
Labels: Fix

#2245 2 New Haircut
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#2328 Fixes queen sacrifice ability
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Fix

#2324 Fixes the description of the PMC Sniper Helmet.
  code/modules/clothing/head/helmet.dm
Labels: Grammar and Formatting

#2262 Drag things onto platforms
  code/game/objects/structures/platforms.dm
Labels: Feature, Stale

#2100 Sentry gun UI
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/radio.dm
  code/__DEFINES/sentry_laptop_configurations.dm
  code/controllers/subsystem/communications.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/structures/surface.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_computer.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/defenses/tesla_coil.dm
  code/stylesheet.dm
  icons/obj/structures/props/sentrycomp.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/SentryGunUI.tsx
  tgui/packages/tgui/interfaces/common/TimedCallback.tsx
  tgui/packages/tgui/styles/components/Input.scss
  tgui/packages/tgui/styles/interfaces/ResearchTerminal.scss
  tgui/packages/tgui/styles/interfaces/SentryUi.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/crt.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Balance, Refactor, Sprites, UI, Architect Approved, Sprites Approved

#2305 qol: more consistent orbiting of xenos with ctrl-click
  code/_onclick/observer.dm
Labels: Quality of Life

#2333 "Reset Human Name" now updates the crew manifest too
  code/datums/datacore.dm
  code/modules/admin/player_panel/actions/punish.dm
Labels: Admin

#2346 resolve sentry unlinking issue
  code/modules/defenses/defenses.dm
Labels: Fix

#2306 playtime tgui re-up
  code/datums/entities/player_times.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/mob_verbs.dm
  code/modules/mob/new_player/new_player.dm
  nano/templates/playtime.tmpl
  tgui/packages/tgui/interfaces/Playtime.tsx
  tgui/packages/tgui/styles/interfaces/Playtime.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI

#2282 Phone Networks (5G?)
  code/__DEFINES/equipment.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cm_phone/phone.dm
Labels: Feature

#2336 Removes the council and rank requirement on predator ponchos and most of the capes
  code/modules/cm_preds/yaut_items.dm
Labels: Code Improvement

#2311 PMC Survivor weapon lock fix
  code/modules/gear_presets/survivors.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#2343 Fixes rank board/pin runtime
  code/modules/clothing/under/rank_pins.dm
Labels: Fix

#2303 QOL: Warrior punch when limb is missing
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Labels: Quality of Life

#2325 fixes a 17-month old FPW bullet typo
  code/modules/projectiles/ammo_datums.dm
Labels: Grammar and Formatting

#2339 Whiskey Outpost Command staff now has proper radio callsigns
  code/modules/gear_presets/wo.dm
Labels: Fix

#2340 fixes snake's bandana name typo with permission from the donor
  code/modules/cm_marines/Donor_Items.dm
Labels: Grammar and Formatting

#2331 Makes pre-set emotes use langchat
  code/modules/mob/living/carbon/human/emote.dm
Labels: Code Improvement

#2281 converted normal comments to DMdoc part 2
  code/game/objects/explosion_recursive.dm
  code/game/objects/items.dm
  code/game/objects/items/XMAS.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/books/book.dm
  code/game/objects/items/books/manuals.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/fulton.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/stock_parts.dm
  code/game/objects/items/tools/extinguisher.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/items/tools/kitchen_tools.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/items/tools/mining_tools.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/items/tools/shovel_tools.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/objs.dm
Labels: Grammar and Formatting

#2205 cleaned up == "no" alerts
  code/game/machinery/doors/firedoor.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/shuttles/monorail_console.dm
  code/modules/shuttles/shuttle_console.dm
  interface/interface.dm
Labels: Code Improvement

#2342 Gives goon presets three zip cuffs
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#2268 weapon stats tgui
  code/datums/combat_personalized.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/nano/nanoui.dm
  code/modules/projectiles/gun.dm
  html/images/auto.png
  html/images/burst.png
  html/images/disabled_automatic.png
  html/images/disabled_burst.png
  html/images/disabled_single.png
  html/images/single.png
  icons/obj/items/weapons/guns/lineart.dmi
  nano/templates/weapon_stats.tmpl
  tgui/packages/tgui/interfaces/WeaponStats.js
Labels: UI

#2226 pickup keybind
  code/__DEFINES/human.dm
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Quality of Life, Testmerge Candidate

#2432 Fix for launching hijack.
  code/modules/shuttles/shuttle_console.dm
Labels: Fix, Priority: High

#2291 xm88 cursor
  code/modules/projectiles/guns/lever_action.dm
  icons/effects/mouse_pointer/xm88/xm88-0.dmi
  icons/effects/mouse_pointer/xm88/xm88-1.dmi
  icons/effects/mouse_pointer/xm88/xm88-2.dmi
  icons/effects/mouse_pointer/xm88/xm88-3.dmi
  icons/effects/mouse_pointer/xm88/xm88-4.dmi
  icons/effects/mouse_pointer/xm88/xm88-fired-0.dmi
  icons/effects/mouse_pointer/xm88/xm88-fired-1.dmi
  icons/effects/mouse_pointer/xm88/xm88-fired-2.dmi
  icons/effects/mouse_pointer/xm88/xm88-fired-3.dmi
  icons/effects/mouse_pointer/xm88/xm88-fired-4.dmi
Labels: UI, Sprites Approved

#2244 Dancer mini buff
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
Labels: Balance, Stale

#2102 Adds a outline filter to synthetic protective and immobile forms.
  code/game/objects/items/storage/smartpack.dm
Labels: Balance, Architect Approved

#2317 January 2023's Resprites
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/structures/morgue.dm
  icons/obj/items/drinks.dmi
  icons/obj/items/experimental_tools.dmi
  icons/obj/items/food.dmi
  icons/obj/structures/props/almayer_props.dmi
  icons/obj/structures/props/stationobjs.dmi
Labels: Feature, Sprites, Sprites Approved

#2344 Make the certificate actually spawn in on non-highpop rounds
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Balance, Architect Approved

#2439 Lower possible PMC snipers
  code/datums/emergency_calls/pmc.dm
Labels: Balance, Architect Approved

#2320 Vehicles are removed. (No longer spawnable unless via admin variable editing for events)
  ColonialMarinesALPHA.dme
  code/__DEFINES/mode.dm
  code/__DEFINES/urls.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/command/auxiliary/tankcrew.dm
  code/game/supplyshuttle.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Balance, Architect Approved, Removal

#2442 adds the framework for random events
  ColonialMarinesALPHA.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/events.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/game.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/events.dm
  code/modules/admin/topic/topic.dm
  code/modules/events/_events.dm
Labels: Code Improvement

#2441 unsanitized text in the bioprinter
  code/game/machinery/bioprinter.dm
Labels: Fix

#2260 Acid splash damage nerf
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
Labels: Balance, Code Improvement, Stale, Architect Approved

#2436 Adds a telephone to the hangar.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#2458 Removes unused variable
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
Labels: Code Improvement

#2447 Laptop pickup fix
  code/modules/defenses/sentry_computer.dm
Labels: Fix

#2296 Kill panel tgui
  code/datums/statistics/entities/panel_stats.dm
  code/datums/statistics/entities/round_stats.dm
  nano/templates/cm_kill_panel.tmpl
  tgui/packages/tgui/interfaces/KillPanel.js
Labels: Stale, UI

#2438 On_mob_life and drdelight.
  code/modules/reagents/chemistry_reagents/drink.dm
Labels: Fix, Refactor

#2455 Fixes the Narnia locker
  code/modules/vehicles/interior/objects/fancy_locker.dm
Labels: Fix

#2448 Adds bunny slippers to toy spawns
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/XMAS.dm
  code/game/objects/items/toys/toys.dm
Labels: Feature

#2457 Fixes CO office bathroom semiotic offset
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#2464 Overhead LOOC
  code/game/verbs/ooc.dm
Labels: Feature

#2460 Lazarus Landing Phones
  code/modules/cm_phone/phone.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/laststand.dmm
Labels: Feature, Mapping, Mapping Approved
