Repository cmss13-devs/cmss13, pull requests merged in 2023-05, with the labels that each got.

#3099 Fixes issues with bone onmobs
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_procs.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/skeleton.dmi
Labels: Fix, Sprites, Stale, GBP: No Update, Sprites Approved

#3159 Suppressors no longer change any stats but firing noise and muzzle flash.
  code/modules/projectiles/gun_attachables.dm
Labels: Quality of Life, Architect Approved

#3115 Fix huggers unable to hug unconscious people
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix, Stale, Testmerge Candidate

#3198 Fixes Mob Emote Runtimes
  code/modules/mob/emote.dm
Labels: Fix

#3197 Fix Evolve Ability when Resting
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Labels: Fix

#3196 Fix Distress Beacon Automatic Shuttle Handling
  code/datums/emergency_calls/emergency_call.dm
Labels: Fix

#3190 Adds some hand emotes.
  code/modules/mob/living/carbon/human/emote.dm
Labels: Feature

#3180 updates for landing zone sign sprites
  icons/obj/structures/props/landing_signs.dmi
Labels: Sprites, Sprites Approved

#3191 Fix Tracked Mark and Second Pounce Runtimes
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/mark_menu.dm
Labels: Fix

#3184 Minor fixes to the combi-stick
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#3182 Readds skill multipliers to several procs
  code/_onclick/human.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tools/experimental_tools.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/mob.dm
Labels: Fix

#3188 fixes missing surgery skill for ERT medics
  code/datums/skills.dm
Labels: Fix

#3204 Shakeship verb polishing
  code/modules/admin/verbs/shakeshipverb.dm
Labels: Fix

#3193 Pancakes!
  code/datums/recipe.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  icons/obj/items/food.dmi
Labels: Feature, Sprites, Sprites Approved

#3178 Package Wrapper added to requisition back room
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3187 adds medical turns tile for medbay use
  code/game/machinery/line_nexter.dm
  icons/obj/structures/barricades.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#3145 Fix hearing weather in space
  code/game/area/areas.dm
  code/game/area/space_station_13_areas.dm
Labels: Fix, Stale

#3201 Almayer Fixes And Touchups
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#3183 wo fix by harryob op
  code/datums/factions/uscm.dm
Labels: Fix

#3073 Squad Team Leader
  code/__DEFINES/access.dm
  code/__DEFINES/equipment.dm
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/urls.dm
  code/__HELPERS/job.dm
  code/datums/emergency_calls/cmb.dm
  code/datums/factions/uscm.dm
  code/datums/skills.dm
  code/datums/supply_packs/restricted_equipment.dm
  code/game/jobs/access.dm
  code/game/jobs/job/marine/squad/rto.dm
  code/game/jobs/job/marine/squad/tl.dm
  code/game/jobs/job/marine/squad_info.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/ui_icons/map_blips.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Feature, Fix, Sprites, Mapping, Mapping Approved

#3219 refactors faxes (refaxes)
  code/game/machinery/fax_machine.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/client_procs.dm
Labels: Priority: CRITICAL

#3212 Fixes M10 officer helmet sprites
  code/modules/clothing/head/helmet.dm
Labels: Fix

#3213 Armor blocks surgery
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/mob/living/carbon/carbon_helpers.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/surgery_steps.dm
Labels: Balance, Architect Approved

#3137 Allow all xenos to clear hatched eggs regardless of their hivenumber
  code/modules/cm_aliens/structures/egg.dm
Labels: Feature

#3150 Playable facehugger uses facehugger death sound
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Feature, Stale

#3123 Added simulator for cas firemissions
  code/__DEFINES/__game.dm
  code/__DEFINES/machinery.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/machinery/computer/demo_sim.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/sim_manager/datums/simulator.dm
  code/game/turfs/turf.dm
  code/modules/cm_marines/dropship_equipment.dm
  colonialmarines.dme
  nano/templates/dropship_weapons_console.tmpl
  tgui/packages/tgui/interfaces/CasSim.js
Labels: Feature, UI

#3095 adds those russian blue-white striped tank tops to upp
  icons/mob/humans/onmob/uniform_0.dmi
Labels: Feature, Sprites, Sprites Approved

#3087 Adds black and long undershirts
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  icons/mob/humans/undershirt.dmi
Labels: Feature, Sprites, Sprites Approved

#3224 Expand HREF Logging
  code/modules/client/client_procs.dm
Labels: Server

#3233 hotfix for cas
  code/game/machinery/computer/dropship_weapons.dm
Labels: Fix

#3238 Fixes Hjack Exploit
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix, Priority: High

#3242 Allows for surgery in yautja armour
  code/modules/cm_preds/yaut_items.dm
Labels: Balance

#3218 keybind runtime
  code/modules/client/preferences_savefile.dm
Labels: Fix

#3237 Alamo and Normandy now have a Reinforced Metal Ceiling
  code/game/area/Sulaco.dm
Labels: Balance, Architect Approved

#3239 nukes low orbit
  maps/_basemap.dm
  maps/map_files/generic/Low_Orbit.dmm
Labels: Mapping, Mapping Approved

#3241 fixes for apc and delivery chute
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#3214 fixes a bug with yautja roaring
  code/modules/mob/living/carbon/human/species/emote-yautja.dm
Labels: Fix

#3221 added functionality for faxing photos, bundles.
  code/game/machinery/fax_machine.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
Labels: Feature, Fix

#3234 ci should create errors when there's warnings on the codebase
  .github/workflows/ci_suite.yml
  code/game/world.dm
  tgui/package.json
  tgui/packages/tgui/interfaces/AntiAirConsole.js
  tgui/packages/tgui/interfaces/Apc.js
  tgui/packages/tgui/interfaces/BioSyntheticPrinter.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/DemoSim.js
  tgui/packages/tgui/interfaces/FaxMachine.js
  tgui/packages/tgui/interfaces/MarkMenu.tsx
  tgui/packages/tgui/interfaces/OrbitalCannonConsole.js
  tgui/packages/tgui/interfaces/PlayerPanel.js
  tgui/packages/tgui/interfaces/PodLauncher.js
  tgui/packages/tgui/interfaces/Proximity.js
  tgui/packages/tgui/interfaces/PublishedDocsHud.tsx
  tgui/packages/tgui/interfaces/Radar.tsx
  tgui/packages/tgui/interfaces/ResearchMemories.js
  tgui/packages/tgui/interfaces/ResearchTerminal.tsx
  tgui/packages/tgui/interfaces/STUI.js
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/packages/tgui/interfaces/StatbrowserOptions.js
  tgui/packages/tgui/interfaces/SupplyDropConsole.js
  tgui/packages/tgui/interfaces/TechMemories.js
  tgui/packages/tgui/interfaces/TechNode.js
  tgui/packages/tgui/styles/interfaces/MarkMenu.scss
  tgui/packages/tgui/styles/themes/crt/crt-blue.scss
  tgui/packages/tgui/styles/themes/crt/crt-yellow.scss
  tgui/yarn.lock
  tools/build/build.js
  tools/build/lib/byond.js
Labels: UI

#3231 helmet flair stray pixel removal
  icons/mob/humans/onmob/helmet_garb.dmi
Labels: Sprites

#3257 removes hardcoded zlevels in tacmaps
  code/controllers/subsystem/minimap.dm
Labels: Fix

#3256 Fixes some janky statements such as 'A LARGE BIRD FLIES TO YOUR TO YOUR NORTHWEST'
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Grammar and Formatting

#3251 Fix burrower being able to tail stab when burrowed
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix

#3244 Medics now get to buy the EZ Autoinjectors if they want
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Feature

#3265 Remove Crap Code
  code/game/objects/structures/watercloset.dm
Labels: Removal

#3260 fixes fultons using reservations
  code/game/objects/items/fulton.dm
Labels: Fix

#3267 Fixes UI icon for hiding not resetting after a pounce
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: UI

#3268 Fix for ChemERT objectives.
  code/datums/emergency_calls/goons.dm
Labels: Fix

#3263 Extra larva per burst config option
  code/controllers/configuration/entries/game_options.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Config

#3264 PFC rack sprite change
  icons/obj/structures/machinery/vending.dmi
Labels: Sprites, Sprites Approved

#3243 Brings back the old hidden riot suit
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#3281 Boots can now hold a scalpel
  code/modules/clothing/shoes/marine_shoes.dm
Labels: Feature

#3277 Fixes a runtime with tape recorder
  code/game/objects/items/storage/storage.dm
  code/modules/clothing/suits/storage.dm
Labels: Fix

#3270 Bioscan larva issue
  code/game/bioscans.dm
Labels: Fix

#3280 Fix tackling infected resetting tackles
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#3252 Fix re-zooming when observing a mark or xeno
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Labels: Fix

#3235 Rework of the IO Computer Lab Area.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#3247 Add Cash & Access Support to Vending Machines & Fix ATM Security Levels
  code/game/machinery/vending/vending.dm
  code/game/machinery/vending/vending_types.dm
  code/modules/economy/ATM.dm
  sound/machines/vending.ogg
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Feature, Fix, Sound

#3272 Fixes a runtime with vehicles
  code/modules/vehicles/hardpoints/hardpoint.dm
Labels: Fix

#3192 discord certification
  code/__DEFINES/db_defs.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/logging.dm
  code/_globalvars/global_lists.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/fail_to_topic.dm
  code/controllers/topic.dm
  code/datums/_ndatabase/code/interfaces/filter.dm
  code/datums/entities/discord_identifier.dm
  code/datums/entities/discord_link.dm
  code/datums/entities/login_triplets.dm
  code/datums/entities/player.dm
  code/datums/entities/player_note.dm
  code/datums/entities/player_times.dm
  code/datums/world_topic.dm
  code/game/jobs/whitelist.dm
  code/game/verbs/discord.dm
  code/game/world.dm
  code/modules/admin/NewBan.dm
  colonialmarines.dme
Labels: Server

#3294 Larva Mark Tracking and Various Xeno and Health Runtime Fixes
  code/__DEFINES/maps.dm
  code/_onclick/hud/alien.dm
  code/datums/components/bad_leg.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/cm_tech/hologram.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/surgery/surgery_initiator.dm
  code/modules/surgery/surgery_steps.dm
Labels: Fix, UI

#3287 USS Almayer: Fixes basketball court I broke :3
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#3225 Point blanks with bonus projectile ammo types are no longer forced to aim at chest
  code/modules/projectiles/gun.dm
Labels: Fix, Testmerge Candidate, Architect Approved

#3292 Fixes missing walking icons for Xenonids
  icons/mob/xenonids/boiler.dmi
  icons/mob/xenonids/burrower.dmi
  icons/mob/xenonids/carrier.dmi
  icons/mob/xenonids/defender.dmi
  icons/mob/xenonids/drone.dmi
  icons/mob/xenonids/facehugger.dmi
  icons/mob/xenonids/hivelord.dmi
  icons/mob/xenonids/lurker.dmi
  icons/mob/xenonids/praetorian.dmi
  icons/mob/xenonids/queen.dmi
  icons/mob/xenonids/ravager.dmi
  icons/mob/xenonids/runner.dmi
  icons/mob/xenonids/spitter.dmi
  icons/mob/xenonids/warrior.dmi
Labels: Fix, Sprites, Sprites Approved

#3290 Extra larva per burst non-integer fix
  code/controllers/configuration/entries/game_options.dm
Labels: Fix

#3269 Apc slash and doorcontrol button fix
  code/game/machinery/door_control.dm
  code/modules/power/apc.dm
Labels: Fix

#3273 Field blood bags
  code/__DEFINES/chemistry.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/reagent_containers/blood_pack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Feature, Fix, Balance

#3301 Fix runtime preventing thrown weapon attack logs that gib the target
  code/modules/mob/living/living_defense.dm
Labels: Fix

#3276 Fixes the ERT med pouch
  code/game/objects/items/storage/pouch.dm
Labels: Fix

#3284 Throw Delay
  code/__DEFINES/conflict.dm
  code/_onclick/click.dm
  code/modules/mob/mob_defines.dm
Labels: Balance

#3304 defer ahelps to mentors
  code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#3232 Removed the "missile noise" from sound/weapons/dropship_sonic_boom
  sound/weapons/dropship_sonic_boom.ogg
Labels: Sound

#3300 Remove Dead Code for Lurker Rush
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Code Improvement

#3309 "Hardcore" Trait
  code/__DEFINES/traits.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/mob/living/carbon/human/death.dm
Labels: Feature, Architect Approved

#3293 ID Console Fixes
  code/modules/cm_marines/marines_consoles.dm
  code/modules/economy/Accounts.dm
  tgui/packages/tgui/interfaces/CardMod.js
Labels: Fix, UI

#3289 Fix And Tweak Admin Log Verbs
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Admin

#3130 Fix predaliens being unable to attack enemy xenomorphs
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
Labels: Fix, Stale

#3297 Dono Sprites and cleaned up code for real
  code/modules/cm_marines/Donor_Items.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Labels: Feature, Sprites, Sprites Approved

#3322 remove gameplay architects from contributing.md
  .github/CONTRIBUTING.md
Labels: Github

#3282 Cinematic Crit | Revival of #1841
  code/__HELPERS/type2type.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_status_procs.dm
Labels: Feature, Testmerge Candidate

#3323 Standardized Admin HREFs and Fix Fax/Pray Marking
  code/__DEFINES/admin.dm
  code/controllers/subsystem/ticker.dm
  code/datums/autocells/explosion.dm
  code/datums/effects/neurotoxin.dm
  code/datums/statistics/entities/death_stats.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/cryo.dm
  code/game/machinery/doors/brig_system.dm
  code/game/machinery/fax_machine.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/nuclearbomb.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/effects/spawners/wo_spawners/players.dm
  code/game/objects/explosion_recursive.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/handheld_distress_beacon.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/pray.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/mob_verbs.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/paper.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/tgchat/to_chat.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Fix, Code Improvement, Admin

#3319 adds more observer action buttons
  code/__DEFINES/keybinding.dm
  code/_onclick/hud/ghost.dm
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/hud/actions.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#3179 Dancer buff + Bug Fixes
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance, Stale, Testmerge Candidate, Balance Approved

#3126 Sniper / Spotter Cooldowns are handled in check_can_use
  code/game/objects/items/devices/binoculars.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Fix, Testmerge Candidate

#3318 Fix huggers dying while attached to a host before they can impregnate it
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#3332 Staff Sergeant Warden
  code/game/jobs/job/command/police/warden.dm
  code/modules/gear_presets/uscm_police.dm
Labels: Feature

#3329 fix Trijent elevator will now need to have power to work.
  code/game/area/shuttles.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Fix, Code Improvement, Mapping

#3336 makes the join pred ghost button only appear during pred rounds
  code/__DEFINES/dcs/signals/signals_global.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Quality of Life

#3333 ensures people always have at least a set of keybinds
  code/modules/client/preferences_savefile.dm
Labels: Fix

#3337 prevents people spacewalking
  code/game/turfs/transit.dm
Labels: Fix

#3344 Fix Paper Maps wrecking hotkeys
  code/modules/cm_marines/equipment/maps.dm
Labels: Fix

#3338 Renames Solaris Ridge walls
  code/game/turfs/walls/wall_types.dm
Labels: Grammar and Formatting

#3350 Bugfix: Overwatch Message included in Radio chat filter
  code/game/jobs/job/marine/squads.dm
Labels: Fix

#3349 Bugfix: Announcements are included in Radio Chat Filter
  code/defines/procs/announcement.dm
Labels: Fix

#3351 Move the DATAbase to data
  code/controllers/configuration/entries/dbconfig.dm
Labels: Server

#3328 Event toggle for Permadeath
  code/__DEFINES/mode.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/living_health_procs.dm
Labels: Admin

#3230 Regroup all the code of the vendors that are in squads prep into the same file squad_prep
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Code Improvement, Stale

#3354 Job options and save files.
  code/__DEFINES/job.dm
  code/datums/paygrades/helper.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/game/jobs/job/civilians/other/reporter.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/game/jobs/job/civilians/support/doctor.dm
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/job.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Fix, Quality of Life

#3353 Adds a warning to cryomarines about ghosting
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/tank_crew.dm
Labels: Feature

#3311 Adds a tracker for how many hugs a player facehugger has
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Quality of Life

#3373 Makes a few special structures unslashable/unacidable
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_machinery/chem_storage.dm
Labels: Balance

#3384 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v3210/api.dm
Labels: Tools

#3381 Fix bug that didn't remove luminosity after the object that emit them was destroy.
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/props.dm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Feature, Mapping

#3380 removes redundant "advanced" from burn kit and trauma kit names
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/cm_tech/implements/medical_czsp.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/reagents/chemistry_machinery/reagent_analyzer.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Labels: Grammar and Formatting

#3376 Fix huggers never passively dying if they fail to attach to a target
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#3360 Zombies now have their own language and don't understand english
  code/datums/diseases/black_goo.dm
Labels: Balance

#3361 1 Hour Zombie Revive fix
  code/modules/mob/living/carbon/human/species/zombie.dm
Labels: Fix

#3372 Adds the basis for CO (and other) factions
  code/__DEFINES/mode.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Feature

#3370 Removal of instanced content from the USS Almayer and added to props.dm
  code/game/objects/prop.dm
  code/modules/almayer/machinery.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#3388 M276 Combat Toolbelt for SEAs
  code/game/machinery/vending/vendor_types/crew/sea.dm
Labels: Feature

#3374 Acid blood buff (ping pong edition)
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Balance

#3390 Fixes for boiler.
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
Labels: Fix

#3389 Fire Shutters
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#3391 Langchat popup for Show Held Item.
  code/game/objects/items.dm
Labels: Feature

#3347 Updates Tickets and Autoreplies
  code/modules/admin/autoreply.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#3155 Late join surge hive flag
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/mob/new_player/new_player.dm
Labels: Balance, Balance Approved, Admin

#3386 Xeno directional attack no longer friendly fires their own resin walls and doors
  code/_onclick/xeno.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Fix

#3398 Aim mode removal
  code/_onclick/click.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/full_auto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/targeting.dm
  colonialmarines.dme
Labels: Removal

#3288 Science Annex Nightmare Inserts
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/10.podholder.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/10.scavshipholder.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.nogear.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.wardenofficedecorated.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.gamertime.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.medicalhold.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.poolparty.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/25.researchprestine.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.engineeroffice.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.pizzatime.dmm
Labels: Mapping

#3410 removes project lead from contributing.md
  .github/CONTRIBUTING.md
Labels: Github

#3414 Kepler Flamehot™ makes its way to the outer colonies
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/trash.dm
  icons/obj/items/food.dmi
  icons/obj/items/trash.dmi
Labels: Feature, Sprites, Sprites Approved

#2755 checks for missing icon states assigned to objects
  code/modules/admin/verbs/freeforghosts.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/missing_icons.dm
  code/modules/unit_tests/spawn_humans.dm
  icons/landmarks.dmi
Labels: Fix, Stale Exempt

#3416 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
Labels: Tools

#3133 converts portable vendor to tgui
  code/datums/agents/tools.dm
  code/game/objects/items/devices/portable_vendor.dm
  nano/templates/ert_shuttle_control_console.tmpl
  nano/templates/portable_vendor.tmpl
  tgui/packages/tgui/interfaces/PortableVendor.tsx
Labels: Stale, UI

#3417 Fix Shuttle Landing Lights and Looming Shadow
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/ripple.dm
  code/modules/shuttle/shuttle.dm
  icons/effects/effects.dmi
Labels: Fix, Sprites, Sprites Approved

#3129 Blood Defines and custom blood
  code/__DEFINES/blood.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/effects/temporary_visuals.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/yautja.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/surgery/chestburster.dm
Labels: Feature, Code Improvement

#3317 Better Strip Systems
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/admin/topic/topic_inview.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/colonist.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/forcon_survivors.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/gear_presets/yautja.dm
  html/create_humans.html
Labels: Feature, Quality of Life, UI, Admin

#3411 Broken bones can now cause IB
  code/game/objects/items/reagent_containers/blood_pack.dm
  code/modules/mob/living/carbon/human/life/handle_organs.dm
Labels: Balance, Balance Approved

#3422 Fixes helmets stopping all of your limbs from being delimbed
  code/modules/organs/limbs.dm
Labels: Fix

#3402 Synthetic Acid Blood Dodge
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Feature, Whitelist Changes

#3395 hardcore outpost
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Balance

#3236 Adds interactions with potted plants and fire alarms.
  code/game/machinery/fire_alarm.dm
  code/game/objects/structures/flora.dm
Labels: Feature

#3425 Fix Rare Emergency Locker Hard Delete
  code/_onclick/hud/map_popups.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Fix, Hard Deletes

#3407 Adds a dartboard, pouch, and darts, sprited by Thwomper.
  code/game/objects/items/weapons/misc.dm
  code/game/objects/structures/signs.dm
  icons/obj/items/clothing/pouches.dmi
  icons/obj/items/items.dmi
  icons/obj/structures/props/props.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved

#3421 prevents splints being applied when you put them away
  code/modules/organs/limbs.dm
Labels: Fix

#3227 Fix flaying making head regrow on decap bodies
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/game/objects/items/stacks/predator.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Feature, Fix, Refactor

#3419 increases the synthetic piloting skill
  code/datums/skills.dm
Labels: Balance

#1513 Medevac Buffs
  code/__DEFINES/dropships.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/cm_marines/dropship_equipment.dm
Labels: Feature, Balance, Quality of Life, Stale, Testmerge Candidate

#3431 Introduces Sleen Reagent
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature

#3432 Hive core requirements for stored larva from latejoin and bursts
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/new_player/new_player.dm
Labels: Balance

#3435 fix synth names being incorrect
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
Labels: Fix

#3248 Fix Inconsistencies with text when toggling lights while being inside a closet for example.
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/suits/marine_armor.dm
Labels: Feature

#3415 Armor preferences???
  code/_globalvars/global_lists.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/objs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/suits/marine_armor.dm
Labels: Feature

#3448 Marine Major, Ares Announcement
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Feature

#3430 Revive fun fact
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/random_facts/damage_fact.dm
  code/datums/statistics/random_facts/kills_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
  code/datums/statistics/random_facts/revives_fact.dm
  code/game/objects/items/devices/defibrillator.dm
  code/modules/mob/mob_defines.dm
  colonialmarines.dme
Labels: Feature

#3441 SL gets Signal Flare
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
Labels: Feature, Removal

#3452 Gets rid of Nuclear music on Admin Ending Round
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
Labels: Fix

#3433 less medic vendors on WO
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Fix, Mapping

#3451 Fix xenos not ending overwatch when target dies
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
Labels: Fix

#3429 Fix Radio Signaling Frequencies breaking down
  code/controllers/subsystem/communications.dm
Labels: Fix
