Repository cmss13-devs/cmss13, pull requests merged in 2023-04, with the labels that each got.

#2746 Adds the Maintenance Jack
  code/__DEFINES/surgery.dm
  code/datums/skills.dm
  code/datums/supply_packs/black_market.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/gear_presets/synths.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/headreattach.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#3001 Fix for jamming smartguns.
  code/modules/projectiles/guns/smartgun.dm
Labels: Fix

#3002 Corrects a typo in RTOs entry message
  code/game/jobs/job/marine/squad/rto.dm
Labels: Grammar and Formatting

#2952 fixes item attacking normally
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/_onclick/item_attack.dm
  code/datums/components/id_lock.dm
  code/game/objects/items.dm
  colonialmarines.dme
Labels: Fix, Stale

#2966 Choosable SEA ranks take two
  code/game/jobs/job/command/auxiliary/senior.dm
  code/game/jobs/job/job.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature

#2983 Makes egg morpher not be hidden behind tallgrass
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Labels: Balance, Architect Approved

#2905 Updates XO vendor to modern (drip) standards
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Feature

#2963 Let (whitelisted) ghosts join in as Working Joes
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature, Whitelist Changes

#3005 Fixes xeno ghosts having funky offsets.
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#3007 Fixes headbite being able to be started while dead
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Fix

#2862 Deletes Legacy LV-624 Nexus Lockdown Button
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Removal, Mapping Approved

#2822 Allows Predators to pick between weapon variations.
  code/modules/cm_preds/_yaut_defines.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Sprites Approved

#2752 New Steel Crest Ability: Soak
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Feature, Sprites, Architect Approved, Sprites Approved

#3023 Pickup keybind can't pick up anchored objects anymore.
  code/modules/mob/inventory.dm
Labels: Fix

#3019 Adds two new hairstyle options
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Sprites, Sprites Approved

#3016 Fixes some VV perms and QM
  code/game/atoms.dm
  code/game/bioscans.dm
Labels: Fix

#3022 Wheelchairs now help people with a bad leg move around.
  code/__DEFINES/traits.dm
  code/datums/components/bad_leg.dm
  code/game/objects/objs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
Labels: Feature

#3025 Ointment Buff
  code/game/objects/items/stacks/medical.dm
Labels: Balance, Architect Approved

#3021 Sets up "short" fog blockers
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Code Improvement

#3011 Goonify chemical retrieval (round two)
  code/__DEFINES/job.dm
  code/datums/emergency_calls/goons.dm
  code/datums/emergency_calls/pmc.dm
  code/game/objects/items/handheld_distress_beacon.dm
  code/modules/admin/topic/topic.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  colonialmarines.dme
  icons/obj/items/handheld_distress_beacon.dmi
Labels: Feature, Sprites, Sprites Approved

#3035 Fixes empty medical belts and adds RTO bag for Staff Officers
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Labels: Feature, Fix

#3010 Adding option doctor job to become a surgeon just for RP.
  code/__DEFINES/job.dm
  code/game/jobs/job/civilians/support/doctor.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/modules/gear_presets/uscm_medical.dm
Labels: Feature

#3038 Fixes ASRS attempting to buy non-existant L42A ammo crates, bugging it out
  code/datums/ASRS.dm
Labels: Fix

#2786 DD updates
  code/datums/emergency_calls/dutch.dm
  code/datums/skills.dm
  code/datums/supply_packs/black_market.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/fun.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/misc.dm
  colonialmarines.dme
  icons/obj/items/weapons/grenade.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Feature, Balance, Sprites, Code Improvement, Mapping, Architect Approved, Removal, Sprites Approved, Mapping Approved

#3045 replace all the variable called backItem by back_item
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
Labels: Code Improvement

#3044 Fixes surgeons on crew monitor
  code/modules/cm_marines/marines_consoles.dm
Labels: Fix

#3046 Fixes doctors without set job options spawning incorrectly
  code/game/jobs/job/civilians/support/doctor.dm
Labels: Fix

#3041 LV522 Changes: Edits to LZ1 adding short fog along with removal of redundent area and addition of W-Y Vault
  code/modules/gear_presets/forcon_survivors.dm
  maps/lv522_chances_claim.json
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Architect Approved, Mapping Approved

#3031 Removes bica OD IB fix and replaces with medic level surgery
  code/datums/effects/bleeding.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/internal_bleeding.dm
  icons/obj/items/storage.dmi
Labels: Feature, Balance, Sprites, Architect Approved

#2991 Smartgun Variables for Harness, Powerpack, & Power
  code/modules/projectiles/guns/smartgun.dm
Labels: Admin

#2967 Fixes Missing Structure Icon States part 1
  code/game/gamemodes/cm_self_destruct.dm
  code/game/machinery/computer/area_air_control.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/machinery/hologram.dm
  code/game/machinery/medical_pod/medical_pod.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  icons/obj/items/lighting.dmi
  icons/obj/structures/machinery/computer.dmi
  icons/obj/structures/machinery/cryogenics.dmi
Labels: Fix, Sprites, Code Improvement, Removal, Sprites Approved

#3048 Fixes staff officer vendor
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Labels: Fix

#2998 Separate the code for the rifleman vendor in is own file like the other squad role
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  colonialmarines.dme
Labels: Stale

#3050 Prisoner of War charge
  code/modules/law/laws/capital_crime.dm
Labels: Feature

#3036 Mirrors are now much more interactive.
  code/game/objects/structures/mirror.dm
Labels: Feature

#3062 fixes l42 mag in rifleman vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
Labels: Fix

#3072 Revert "Fixes the contents showing under crates/barrels when you disassemble them"
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Fix

#2846 Wall Nesting >:0
  code/__DEFINES/layers.dm
  code/_globalvars/global_lists.dm
  code/datums/construction/construction_template.dm
  code/datums/construction/xenomorph/construction_template_xenomorph.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/antag/xeno/xenomorph.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
  code/modules/cm_aliens/structures/construction_node.dm
  code/modules/cm_aliens/structures/special/pred_nest.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  code/modules/mob/mob.dm
  code/modules/objectives/mob_objectives.dm
  code/modules/vehicles/interior/interactable/doors.dm
  code/modules/vehicles/interior/interior_hull.dm
  icons/mob/xenos/effects.dmi
Labels: Balance, Sprites, Architect Approved, Sprites Approved

#3081 Mapped damaged barricades have correct sprites
  code/game/objects/structures/barricade/barricade.dm
Labels: Fix

#3078 Fixes an overlay issue with wall nesting
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix

#3077 Replaced Solaris Ridge M39B/2's
  code/modules/projectiles/guns/smgs.dm
  maps/map_files/BigRed/BigRed.dmm
Labels: Fix, Mapping, Mapping Approved

#3082 Stops ARES making fleshy noises when slashes
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
Labels: Fix

#3085 Gives CLF Hostile Survivors Colony IFF
  code/modules/gear_presets/survivors.dm
Labels: Fix

#3074 Fixes Extended | Revival of #2545
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/extended/extended_nospawn.dm
  code/game/gamemodes/extended/infection.dm
  code/modules/admin/tabs/round_tab.dm
  code/modules/client/preferences.dm
Labels: Fix

#3084 Renames most instances of "Captain" to "Commanding Officer" in the COs clothing
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/objects/items/explosives/grenades/flashbang.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
Labels: Grammar and Formatting

#2964 Trijent shuttle fix
  code/__DEFINES/shuttles.dm
  code/game/area/shuttles.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_signal.dm
  code/game/machinery/air_alarm.dm
  code/game/machinery/bots/medbot.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/embedded_controller/embedded_program_base.dm
  code/game/machinery/embedded_controller/simple_docking_controller.dm
  code/game/machinery/nuclearbomb.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/items/circuitboards/robot_modules.dm
  code/game/objects/items/devices/RCD.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/supplyshuttle.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/shuttle/computers/trijent_elevator_control.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/trijent_elevator.dm
  code/modules/unit_tests/create_and_destroy.dm
  colonialmarines.dme
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/shuttles/trijentshuttle2.dmm
  tgui/packages/tgui/interfaces/ElevatorControl.tsx
  tgui/packages/tgui/styles/interfaces/ElevatorControl.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, UI, Testmerge Candidate, Mapping, Mapping Approved

#2958 Fixes all missing ammo_magazine, ammo_casing, and ammo_box icon states
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/magazines/lever_action.dm
  code/modules/projectiles/magazines/shotguns.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/minigun_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/tow_ammo.dm
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
Labels: Sprites, Code Improvement, Stale

#2867 Allows Predators to make and wear bones
  code/game/machinery/autolathe.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_machines.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/organs/limb_objects.dm
  icons/mob/humans/onmob/ties.dmi
  icons/mob/humans/species/r_skeleton.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/skeleton.dmi
  icons/obj/structures/machinery/predautolathe.dmi
  icons/obj/structures/machinery/yautja_machines.dmi
  icons/turf/walls/hunter.dmi
  maps/predship/huntership.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#3089 Resin Whisperers can now interact with resin doors with Coerce Resin
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
Labels: Feature

#3066 Fixes AA & OB consoles being acidable.
  code/modules/cm_marines/anti_air.dm
  code/modules/cm_marines/orbital_cannon.dm
Labels: Fix

#3064 Corrects the C02 to CO2 for the CO2 knife
  code/datums/supply_packs/black_market.dm
  code/game/objects/items/storage/misc.dm
  code/modules/client/preferences_gear.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist.dm
  icons/obj/items/storage.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Grammar and Formatting

#3075 Fixes the contents showing under crates/barrels when you disassemble them V2
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: Fix

#3076 No more proximity sensor spam.
  code/modules/assembly/proximity.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix

#3020 Adds 49 Working Joe lines to the game.
  code/modules/mob/living/carbon/human/species/emote-synthetic.dm
  sound/voice/joe/alwaysknow.ogg
  sound/voice/joe/alwaysknow_damaged.ogg
  sound/voice/joe/apollo_behalf.ogg
  sound/voice/joe/awful.ogg
  sound/voice/joe/back_to_work.ogg
  sound/voice/joe/beyond_repair.ogg
  sound/voice/joe/breach.ogg
  sound/voice/joe/come_out_vent.ogg
  sound/voice/joe/could_require_attention.ogg
  sound/voice/joe/damage.ogg
  sound/voice/joe/dangerous_items.ogg
  sound/voice/joe/day_never_done.ogg
  sound/voice/joe/detailed_report.ogg
  sound/voice/joe/fire.ogg
  sound/voice/joe/fire_drill.ogg
  sound/voice/joe/firearm.ogg
  sound/voice/joe/follow_me.ogg
  sound/voice/joe/further_assistance.ogg
  sound/voice/joe/good_day.ogg
  sound/voice/joe/health_risks.ogg
  sound/voice/joe/hello.ogg
  sound/voice/joe/how_can_i_help.ogg
  sound/voice/joe/hysterical.ogg
  sound/voice/joe/inexpensive.ogg
  sound/voice/joe/irresponsible.ogg
  sound/voice/joe/join_us.ogg
  sound/voice/joe/little_details.ogg
  sound/voice/joe/lost.ogg
  sound/voice/joe/misbehaving.ogg
  sound/voice/joe/more_pressing_matters.ogg
  sound/voice/joe/not_allowed_there.ogg
  sound/voice/joe/not_liking.ogg
  sound/voice/joe/not_what_i_think.ogg
  sound/voice/joe/other_concerns.ogg
  sound/voice/joe/patience.ogg
  sound/voice/joe/presence_logged.ogg
  sound/voice/joe/report.ogg
  sound/voice/joe/required_by_apollo.ogg
  sound/voice/joe/returning_to_tasks.ogg
  sound/voice/joe/running_accidents.ogg
  sound/voice/joe/safety.ogg
  sound/voice/joe/safety_breach.ogg
  sound/voice/joe/seegson_behind.ogg
  sound/voice/joe/seegson_quality.ogg
  sound/voice/joe/seegson_standards.ogg
  sound/voice/joe/shouldnt_be_here.ogg
  sound/voice/joe/species.ogg
  sound/voice/joe/take_a_seat.ogg
  sound/voice/joe/talk_to_seegson.ogg
  sound/voice/joe/temperatures.ogg
  sound/voice/joe/that_stings.ogg
  sound/voice/joe/this_is_futile.ogg
  sound/voice/joe/trespassing.ogg
  sound/voice/joe/unprotected_flames.ogg
  sound/voice/joe/weapon_permit.ogg
  sound/voice/joe/what_happened_to_you.ogg
  sound/voice/joe/what_is_this.ogg
  sound/voice/joe/with_you_shortly.ogg
Labels: Sound

#3061 Altering the "Binded" icon
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_midnight.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
Labels: Fix, Sprites, Sprites Approved

#3055 Gives FORECON Synths red shoes the ability to hold boot knifes
  code/modules/clothing/shoes/colour.dm
  code/modules/gear_presets/forcon_survivors.dm
Labels: Feature, Sprites

#3071 Berserker tweaks
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Labels: Feature, Balance, Testmerge Candidate, Architect Approved

#3091 Fixes PMC (and others) backup SMG from being put back in the holster once drawn
  code/modules/projectiles/guns/smgs.dm
Labels: Fix

#3034 allows vendor subtypes to be on free-vend, restores vendor hacking functionality
  code/game/machinery/vending/vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Fix, Code Improvement, Stale, UI

#3092 Cockpits have windows to passenger area now
  icons/turf/dropship.dmi
  icons/turf/dropship2.dmi
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#3100 Re-added removed donor clothing and jumpsuit icon states
  icons/obj/items/clothing/uniforms.dmi
Labels: Fix, Sprites, Sprites Approved

#3098 Fixes a double name var in a surgery file
  code/modules/surgery/eye.dm
Labels: Grammar and Formatting

#3105 Revert synth blood dodge due to revert of acid blood changes
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Balance, Architect Approved

#3110 Lets you use more symbols in var edits
  code/modules/admin/view_variables/get_variables.dm
Labels: Admin

#3094 Resin whisperer rework
  code/_globalvars/global_lists.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Feature, Sprites, Testmerge Candidate, Architect Approved, Sprites Approved

#3107 Burrowed factor should affect t3 slots ( since it affects t2 slots )
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Balance, Architect Approved

#3052 Balance - Max mobsize for grab change
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/mob_grab.dm
Labels: Balance, Code Improvement, Architect Approved

#3104 Fixes the wrong fire being applied after hit by plasma sentry
  code/game/objects/effects/effect_system/smoke.dm
Labels: Fix

#3102 queen locking the ds doors should disable the dropship being ob'd
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#3039 Globber balance overhaul
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Architect Approved

#3060 [ROADMAP] tightens communications
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Fix, Balance, Architect Approved, Roadmap

#3122 Dropship seats are once again destroyable via slashing
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/vehicles/interior/interactable/seats.dm
Labels: Fix

#3114 Fix organs showing up as broken at low damages
  code/modules/mob/living/living_healthscan.dm
Labels: Fix

#3117 Sensor tower power fix
  code/modules/desert_dam/motion_sensor/sensortower.dm
Labels: Fix

#3026 Rare slam sound
  code/game/sound.dm
  sound/effects/slam_rare_1.ogg
Labels: Sound

#3120 dmapi updater workflow
  .github/workflows/update_tgs_dmapi.yml
Labels: Github

#3121 bumps dmapi
  code/__DEFINES/tgs.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/chunking.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Server

#2896 Healer Balance Changes
  code/__DEFINES/xeno.dm
  code/datums/xeno_shields/shield_types/vanguard_shield.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/ravager/berserker.dm
Labels: Balance, Architect Approved

#3131 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
Labels: Tools

#3111 Fixes Survivor radio access and Yautja emotes.
  code/datums/supply_packs/black_market.dm
  code/game/objects/effects/spawners/random.dm
  code/modules/gear_presets/survivors.dm
  code/modules/mob/living/carbon/human/species/emote-yautja.dm
Labels: Fix

#3108 Additional needhelp lines
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/corpsman.ogg
  sound/voice/corpsman_over_here.ogg
  sound/voice/corpsman_up.ogg
  sound/voice/get_doc_up_here_im_hit.ogg
  sound/voice/i_cant_feel_my_legs_corpsman.ogg
  sound/voice/i_need_a_corpsman_1.ogg
  sound/voice/i_need_a_corpsman_2.ogg
  sound/voice/im_hit_get_doc_up_here.ogg
Labels: Sound, Grammar and Formatting

#3141 Vampire lurker tail stab can no longer hit dead humans
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Fix, Priority: High

#3153 Fixes abusing old code to make mortars into grenades
  code/modules/assembly/holder.dm
Labels: Fix, Priority: High

#2926 messes with hotkey validating, again
  code/modules/client/preferences_savefile.dm
Labels: Fix, Stale Exempt

#3140 FORECON Tech survivor now has spawn priority
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Feature

#3143 Vendor hacking typo
  code/game/machinery/vending/cm_vending.dm
Labels: Grammar and Formatting

#3139 Fruits no longer get destroyed by stronger weeds
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/weeds.dm
Labels: Feature

#3158 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#3163 Req maint door has proper access requirements
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#3161 Typo when adding material to girder
  code/game/objects/structures/girders.dm
Labels: Grammar and Formatting

#3162 Strong corrosive acid fix
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_ability_macros.dm
Labels: Fix, Grammar and Formatting

#3116 Cades no longer say they're opened when they're closed.
  code/game/objects/structures/barricade/plasteel.dm
  icons/obj/structures/barricades.dmi
  icons/obj/structures/barricades_christmas.dmi
Labels: Sprites, Grammar and Formatting

#3090 Fix a start now error and add the ability of queuing the start of the game
  code/modules/admin/tabs/round_tab.dm
Labels: Feature, Fix, Stale

#3149 Solaris Map Bugfixes
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/30.cargo_containers.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
Labels: Fix, Mapping, Mapping Approved

#3144 better commit descriptions
  .github/workflows/remove_guide_comments.yml
Labels: Github

#3172 Revert "Cades no longer say they're opened when they're closed."
  code/game/objects/structures/barricade/plasteel.dm
  icons/obj/structures/barricades.dmi
  icons/obj/structures/barricades_christmas.dmi
Labels: Sprites

#3118 Marine Major announcement delay
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Feature

#3168 Fixes queen stat bug
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#3154 Kutjevo Map Bugfixes
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping

#3151 Adds a Spec to the Foxtrot Cryo Squad.
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/gear_presets/uscm.dm
Labels: Balance, Architect Approved

#3174 Changes MP Clothing
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Sprites, Sprites Approved

#3177 Fix debugging with aux tools
  code/__DEFINES/__spacemandmm.dm
Labels: Fix

#3170 Fixes xenos being able to be cocooned
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Fix

#3069 overhauls logging
  code/__DEFINES/_tick.dm
  code/__DEFINES/redis.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/guid.dm
  code/__HELPERS/logging.dm
  code/__HELPERS/type2type.dm
  code/controllers/configuration/entries/dbconfig.dm
  code/controllers/subsystem/perf_logging.dm
  code/controllers/subsystem/redis.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/time_track.dm
  code/datums/_ndatabase/code/brsql_connection_settings.dm
  code/datums/_ndatabase/code/interfaces/connection_settings.dm
  code/datums/_ndatabase/code/native_connection_settings.dm
  code/datums/_ndatabase/subsystems/database_query_manager.dm
  code/datums/_ndatabase/subsystems/entity_manager.dm
  code/datums/helper_datums/getrev.dm
  code/datums/statistics/entities/round_stats.dm
  code/datums/tgs_event_handler.dm
  code/game/runtimes.dm
  code/game/world.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/client_procs.dm
  code/modules/escape_menu/details.dm
  code/modules/logging/global_logs.dm
  code/modules/logging/log_category.dm
  code/modules/logging/log_holder.dm
  colonialmarines.dme
Labels: Server

#3164 Radio backpack tweaks and fixes
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_phone/phone.dm
Labels: Feature, Fix

#3173 fix the medbay door release button to exit treatment center.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#3156 Fixes dropship doors appearing as big red Xs
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  icons/obj/structures/doors/Door1.dmi
  icons/obj/structures/doors/doorint.dmi
  icons/obj/structures/doors/dropship1_side.dmi
  icons/obj/structures/doors/dropship2_side.dmi
Labels: Fix, Sprites, Code Improvement, Removal, Sprites Approved

#3186 fixes CL window being hull
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#3148 Restores the remaining missing icon states in the object/structure and obj/effect paths
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/machinery/computer/ai_core.dm
  code/game/objects/effects/decals/cleanable/blood/blood.dm
  code/game/objects/effects/decals/strata_decals.dm
  code/game/objects/effects/decals/warning_stripes.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/effects/effect_system/particle_effects.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/effects/misc.dm
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/structures/airlock_assembly.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/ice_caves.dm
  code/game/objects/structures/pipes/standard/standard_misc.dm
  code/game/objects/structures/platforms.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/closed.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_aliens/structures/special_structure.dm
  code/modules/desert_dam/filtration/structures.dm
  code/modules/hydroponics/vines.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/healer.dm
  code/modules/shuttle/ripple.dm
  icons/effects/strata_decals.dmi
  icons/landmarks.dmi
  icons/obj/items/binoculars.dmi
  icons/obj/structures/alien/structures64x64.dmi
  icons/obj/structures/closet.dmi
  icons/obj/structures/machinery/computer.dmi
  icons/obj/structures/marine_closet.dmi
  icons/obj/structures/props/96x96.dmi
  icons/obj/structures/props/drill.dmi
  icons/obj/structures/props/mech.dmi
  icons/obj/structures/props/platforms.dmi
  icons/obj/structures/props/rocks.dmi
  icons/obj/structures/props/snowflora.dmi
  icons/obj/structures/props/stationobjs.dmi
  icons/turf/walls/windows.dmi
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Sprites, Grammar and Formatting, Mapping, Removal, Sprites Approved, Mapping Approved

#3189 Fix inconsistent permissions requirements for STUI
  code/modules/admin/STUI.dm
Labels: Admin
