Repository cmss13-devs/cmss13, pull requests merged in 2023-08, with the labels that each got.

#4069 fixing care package for SG on WO spawning the old batteries.
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Fix

#4061 Fixes brain surgery so it actually fixes your brain
  code/modules/organs/organ_internal.dm
  code/modules/surgery/brainrepair.dm
Labels: Fix, Quality of Life

#4044 Standardize hugger attack windup and attack windup duration
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Balance

#4071 fix having inapropriate ammo in CL lockbox.
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/storage/lockbox.dm
Labels: Fix, Balance

#4045 Lesser Drone now Has 3 Guarantied Slots
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Balance

#4029 Adds a welder chestrig!
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/clothing/backpacks.dmi
Labels: Feature, Sprites, Sprites Approved

#4042 J.O.E.Y. [Hyperstyled Edition]
  code/game/objects/structures/props.dm
  icons/obj/structures/props/props.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping

#4082 BUG FIX: 3rd Party Music Filename References
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Fix

#3860 B5 Hammer slowdown
  code/game/objects/items/weapons/twohanded.dm
Labels: Feature, Stale

#4090 Yautja bracer shock fix
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix, Whitelist Changes

#4084 Makes the predator computers not a moneybag subtype
  code/game/objects/structures/props.dm
  maps/predship/huntership.dmm
Labels: Fix, Mapping

#4083 Clean up predator emote panel
  code/modules/mob/living/carbon/human/species/yautja/fake_sounds.dm
  code/modules/mob/living/carbon/human/species/yautja/fake_voice.dm
Labels: Quality of Life

#4068 Makes WJs spawn in the ARES core
  code/_globalvars/lists/mapping_globals.dm
  code/game/jobs/job/job.dm
  code/game/jobs/role_authority.dm
  code/game/objects/effects/landmarks/landmarks.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#4075 Fix for runner-lesserdrone collision.
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
Labels: Fix

#4074 Anchors the yautja carpnade
  maps/predship/huntership.dmm
Labels: Mapping, Removal

#4024 Log Updates
  code/__HELPERS/logging.dm
  code/datums/statistics/entities/death_stats.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/cm_phone/phone.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Testmerge Candidate, Admin

#4093 Workin Joey Talks
  code/game/objects/structures/props.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Feature

#4057 Falcon Drone appears on marine MD
  code/game/objects/items/devices/motion_detector.dm
  code/modules/cm_preds/falcon.dm
  code/modules/cm_tech/hologram.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Feature

#4079 Fixes predator crew monitor console
  code/modules/cm_marines/marines_consoles.dm
  maps/predship/huntership.dmm
Labels: Fix, Mapping

#4059 Add security camera console to ARES Chamber
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4080 Preds now show up on the predship tacmap
  code/__DEFINES/minimap.dm
  code/modules/cm_preds/yaut_bracers.dm
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites, Sprites Approved

#4076 Assigned job slots and cryorines.
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/client/preferences.dm
Labels: Feature

#4066 Almayer control console tgui
  code/game/machinery/computer/almayer_control.dm
  code/game/objects/items/devices/cictablet.dm
  code/modules/admin/tabs/event_tab.dm
  tgui/packages/tgui/interfaces/AlmayerControl.js
  tgui/packages/tgui/interfaces/CommandTablet.js
Labels: Fix, UI, Testmerge Candidate

#4100 Tent Quickfix
  code/modules/tents/deployed_tents.dm
Labels: Fix

#4097 You can no longer bypass skill checks on pill bottles
  code/game/objects/items/storage/firstaid.dm
Labels: Fix

#4102 Fixes underbarrel extinguishers
  code/modules/projectiles/gun.dm
Labels: Fix

#4091 Adds campfires
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/props.dm
  code/game/turfs/walls/walls.dm
  icons/obj/structures/structures.dmi
  maps/templates/clf_ert_station.dmm
  sound/machines/firepit_ambience.ogg
Labels: Feature, Sound, Sprites, Code Improvement, Sprites Approved

#4009 Adds a False Testemony charge to Marine Law
  code/modules/law/laws/minor_crime.dm
Labels: Feature

#3814 Admin Flag for Disposal mobs
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/recycling/disposal.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#3845 Nightmare Insert: Trijent Dam - Crashed UPP Survivors
  code/__DEFINES/language.dm
  code/datums/skills.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/paperwork/paper.dm
  html/images/upplogo.png
  icons/obj/items/clothing/ties.dmi
  icons/turf/ert_shuttle.dmi
  maps/Nightmare/maps/DesertDam/nightmare.json
  maps/Nightmare/maps/DesertDam/scenario.json
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-bar.dmm
Labels: Feature, Mapping, Mapping Approved

#4037 Acid Runner Respawn
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature

#4087 Increases the availability and minimum burn time for Star Shells
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Balance

#4105 Prompt Confirmation before Random Fact
  code/modules/admin/admin_verbs.dm
Labels: Admin

#4043 Adds White-Green Armband Sprite
  icons/mob/humans/onmob/ties.dmi
Labels: Fix, Sprites, Sprites Approved

#4088 fix: snowing inside walls on Sorokyne Strata map.
  code/game/area/strata.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping, Mapping Approved

#4115 Fix for synths' default language.
  code/modules/gear_presets/synths.dm
Labels: Fix

#4118 CL Storage Room Change
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4081 Auxiliary Support Officer
  code/__DEFINES/access.dm
  code/__DEFINES/job.dm
  code/__DEFINES/minimap.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/urls.dm
  code/datums/factions/uscm.dm
  code/datums/skills.dm
  code/datums/supply_packs/clothing.dm
  code/game/area/almayer.dm
  code/game/jobs/access.dm
  code/game/jobs/job/civilians/other/mess_seargent.dm
  code/game/jobs/job/command/auxiliary/auxiliary_support_officer.dm
  code/game/jobs/job/command/auxiliary/crew_chief.dm
  code/game/jobs/job/command/auxiliary/intel.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/jobs/job/logistics/cargo/chief_req.dm
  code/game/jobs/job/logistics/logistics.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
  html/browser/common.css
  html/browser/legacy.css
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved

#4130 Changes person cap on pod from hardcoded to var
  code/modules/shuttle/shuttles/escape_shuttle.dm
Labels: Code Improvement

#4122 Attachment nerfs and removals
  code/datums/supply_packs/attachments.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/projectiles/gun_attachables.dm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#4121 Adds basic IB surgery instructions to surgical case
  code/game/objects/items/storage/firstaid.dm
Labels: Feature

#4125 Xeno PVTs
  code/__DEFINES/job.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/xenomorph/XenoUpgrade.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  icons/mob/hud/hud.dmi
Labels: Feature

#4124 Scan health only when non-revivable
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#3985 Xeno endgame content part 1: pylons and larva
  code/__DEFINES/xeno.dm
  code/game/machinery/telecomms/presets.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_aliens/structures/special_structure.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
  icons/obj/structures/machinery/comm_tower3.dmi
Labels: Feature, Sprites

#4133 Fix drop ships having inconsistent ceiling setting to prevent OBs
  code/game/area/Sulaco.dm
Labels: Fix

#4099 New Icon: Red Skull for players dead from Hardcore trait/mode
  code/datums/mob_hud.dm
  icons/mob/hud/hud.dmi
Labels: Sprites, UI, Sprites Approved

#3942 Updates Yautja Plasma Rifle
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/ammo_datums.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
Labels: Balance, Sprites, Stale, Whitelist Changes, Testmerge Candidate

#4135 Cmo research qol
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Feature

#4120 Across the board firerate nerfs
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist.dm
Labels: Balance, Balance Approved

#4139 Etool size buff
  code/game/objects/items/tools/shovel_tools.dm
Labels: Balance

#4070 Fix remove iv needing power to operate.
  code/game/machinery/iv_drip.dm
Labels: Feature, Fix

#4134 Fix Unnesting Mob Density
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
Labels: Fix

#4140 Adds vehicles skill to the Commanding Officer & Auxiliary Support Officer
  code/datums/skills.dm
Labels: Feature

#4104 Combistick now uses a chain
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Feature, Balance, Whitelist Changes

#3825 SMG Gun+Mag Holster
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/marine_armor.dm
  icons/obj/items/clothing/belts.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#4007 updating MP and warden vendors. adding handgun case.
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/cm_marines/equipment/guncases.dm
Labels: Feature

#4146 Combistick can now be yanked if dropped
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#4144 Fix runtime with hijack burrowed PR
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#4145 Fix beams for IV drip machines when adding/removing a blood bag
  code/game/machinery/iv_drip.dm
Labels: Fix, Code Improvement

#4113 Fixes a lot of guns having burst that shouldn't
  code/modules/projectiles/gun.dm
Labels: Fix

#4147 Fixes Breaching Hammer Mob Sprite
  icons/mob/humans/onmob/back.dmi
Labels: Fix, Sprites

#4065 update clothing vendor in squad prep to hold all clothing items and use scaling.
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Code Improvement

#4073 fix typo mistake from matchs to matches.
  code/game/objects/items/storage/fancy.dm
Labels: Grammar and Formatting, Stale

#4166 Smurfing Queens
  code/game/gamemodes/cm_process.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Feature

#4162 Stops new specs using all gear
  code/__DEFINES/skills.dm
  code/datums/skills.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix

#4046 Yautja Vision Changes
  code/__DEFINES/lighting.dm
  code/modules/clothing/glasses/meson.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
Labels: Feature, Fix, Whitelist Changes, Testmerge Candidate, Removal

#4107 autowiki port and gun autowiki
  .github/workflows/autowiki.yml
  code/game/world.dm
  code/modules/autowiki/autowiki.dm
  code/modules/autowiki/pages/_page.dm
  code/modules/autowiki/pages/guns.dm
  code/modules/projectiles/gun.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/autowiki.dm
  colonialmarines.dme
  tools/autowiki/autowiki.js
  tools/autowiki/package-lock.json
  tools/autowiki/package.json
Labels: Feature, Stale, Github, Tools

#4053 More Xeno Alliances Tweaks
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_faction.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Fix, Quality of Life, Stale

#4151 Alters ASay chat color back to the old MSay color
  code/datums/redis/callbacks/asay.dm
  code/modules/admin/tabs/admin_tab.dm
  code/span_macros.dm
  tgui/packages/tgui-say/styles/colors.scss
Labels: UI, Admin

#4168 fixes out of bound areas in play are of LV522
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#4172 Rounds oxyloss from bloodloss
  code/modules/mob/living/blood.dm
Labels: Feature

#4177 Remove ckey from queen jellies
  code/datums/medal_awards.dm
  code/modules/admin/medal_panel/medals_panel_tgui.dm
Labels: Feature

#4173 Fix bug plant keep growing
  code/modules/hydroponics/hydro_tray.dm
Labels: Fix

#4153 Item Strip changes
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
Labels: Feature

#4179 No NPC Fun Facts
  code/datums/statistics/random_facts/random_fact.dm
Labels: Fix

#4161 Fix backpack sprayers
  code/game/objects/items/backpack_sprayers.dm
Labels: Fix

#2536 OOC prefix proc
  code/__DEFINES/mode.dm
  code/game/verbs/ooc.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mentor/mentorhelp.dm
  icons/ooc.dmi
Labels: Feature, Sprites

#4132 Foxtrot cryomarines spawn as freed mobs if not taken
  code/datums/emergency_calls/cryo_marines.dm
  code/game/machinery/cryopod.dm
Labels: Feature, Testmerge Candidate

#4060 Zombie Rework
  code/datums/diseases/black_goo.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
Labels: Fix, Balance, Stale, Balance Approved

#4175 Admin Proc for Distress Signal TGUI and Fix
  code/modules/admin/tabs/event_tab.dm
Labels: Fix, UI

#4136 Changes *some* of the cave walls in the LV624 cave system to be jungle walls instead
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#4197 Combat Information Center pens from blue to black
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4180 Adds bin to SE Research room, moves item that was hiding pillbox
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4186 LV522 Maint Tunnel now useable by xenos as tunnels
  code/game/objects/structures/props.dm
  code/modules/cm_aliens/structures/tunnel.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Feature, Mapping, Mapping Approved

#4196 Fix Hotkeys TGUI lag and ctrl + r mapping
  code/modules/client/tgui_macro.dm
  tgui/packages/tgui/events.js
  tgui/packages/tgui/hotkeys.ts
  tgui/packages/tgui/interfaces/KeyBinds.js
Labels: UI

#4192 Fix solaris ridge map link and refactor current_map
  code/__DEFINES/__game.dm
  code/modules/cm_marines/equipment/maps.dm
  config/example/config.txt
Labels: Fix, Refactor

#4110 fix prevent belt flare being filled by dump in action leaving no space for flare gun.
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/storage.dm
Labels: Fix

#4202 fixes m4ra custom barrel offset
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#4035 Faction Access & Almayer Security Overhaul
  code/__DEFINES/access.dm
  code/datums/agents/tools/stimulants.dm
  code/game/jobs/access.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  code/modules/admin/verbs/debug.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/predship/huntership.dmm
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Feature, Code Improvement, Testmerge Candidate, Mapping, Removal, Mapping Approved

#4226 Fixes UPP Soldier preset
  code/modules/gear_presets/survivors.dm
Labels: Fix

#4174 Fix you will no longer be able to feed without any limit with the fork.
  code/__DEFINES/chemistry.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/tools/kitchen_tools.dm
Labels: Fix

#4204 Fix cade attack speed exploit
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#4215 fix Whiskey Outpost Chem master will now be connected to the smartfridge.
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Fix, Mapping, Mapping Approved

#4003 Brings automatic weaponry to the marine and surv arsenal
  code/__DEFINES/conflict.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/_globalvars/bitfields.dm
  code/datums/components/autofire/autofire.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/black_market.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/souto.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/projectile.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#4230 ASO/QM Database access
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Removal

#4233 M4RA damage buff
  code/modules/projectiles/guns/rifles.dm
Labels: Balance

#4067 Research Biohazard Lockdown
  code/__DEFINES/dcs/signals/signals_global.dm
  code/game/machinery/biohazard_lockdown.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminpanelgq.dm
  colonialmarines.dme
  icons/obj/structures/doors/blastdoors_shutters.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/effects/biohazard.ogg
Labels: Feature, Sound, Mapping, Mapping Approved

#4209 Fix add a check when trying to regain control of locked DS to avoid waste of time.
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#4254 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
Labels: Tools

#3865 New UPP guns
  code/datums/agents/tools/tranq_gun.dm
  code/datums/emergency_calls/upp.dm
  code/datums/factions/clf.dm
  code/datums/factions/upp.dm
  code/datums/skills.dm
  code/datums/supply_packs/black_market.dm
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/projectiles/ammo_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist.dm
  code/modules/projectiles/magazines/misc.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/smgs.dm
  code/modules/projectiles/magazines/specialist.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/minigun_ammo.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/colony.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/event.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/upp.dmi
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  icons/obj/items/weapons/guns/guns_by_faction/event.dmi
  icons/obj/items/weapons/guns/guns_by_faction/upp.dmi
  icons/obj/items/weapons/guns/legacy/old_cmguns.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  sound/weapons/gun_mg.ogg
  sound/weapons/gun_tt.ogg
Labels: Feature, Fix, Balance, Sound, Sprites, Grammar and Formatting, Mapping, Removal, Sprites Approved, Mapping Approved

#4131 Telephones Networking
  code/game/objects/items/storage/backpack.dm
  code/modules/cm_phone/phone.dm
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Feature, Mapping, Mapping Approved

#4247 Invisible Wall collide tweak
  code/game/objects/structures/blocker.dm
Labels: Code Improvement

#4231 Changes nutrition with blood loss
  code/modules/mob/living/blood.dm
Labels: Balance

#4217 attachment obliteration
  code/__DEFINES/conflict.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix, Balance

#4240 NV fixes
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Mapping, Mapping Approved

#4256 Ghost scan health nerf round 2
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#4127 gives UPP SL normal bag with some basic loudout
  code/modules/gear_presets/upp.dm
Labels: Feature

#4212 eyecheck fix
  code/__DEFINES/conflict.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/glasses/thermal.dm
Labels: Fix, Refactor

#4257 whispering should use the correct new icon
  code/modules/mob/living/carbon/human/whisper.dm
Labels: Fix

#4265 actually fixes m4ra custom barrel offset
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#4264 Fixes medbay door buttons
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#4261 Fixes pointblanks
  code/modules/projectiles/gun.dm
Labels: Fix

#4259 Fixes the wire cutter bug on the plants
  code/modules/hydroponics/hydro_tray.dm
Labels: Fix

#4267 ERT Request QOL
  code/datums/emergency_calls/emergency_call.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/cictablet.dm
Labels: Code Improvement, Admin

#4263 IO/FTL Can Buy Welding Visor + M12 Helm Holds 2 Visors
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/modules/clothing/head/helmet.dm
Labels: Feature, Balance, Balance Approved

#4268 3291 - Fixes the ability to manipulate a dummy from a distance using the tablet
  code/game/objects/items/devices/dummy_tablet.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#4275 Antag Accesses Fix
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/power/apc.dm
Labels: Feature, Fix, Removal

#4210 Fixes resin areas around LZs
  code/game/area/BigRed.dm
  code/game/area/IceColony.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/strata.dm
Labels: Fix

#4278 Fixed funny invisible vines
  code/game/objects/structures/flora.dm
Labels: Fix

#4272 Added 3 to hypospray transfer amount option
  code/game/objects/items/reagent_containers/hypospray.dm
Labels: Feature

#4227 General Quarters via ARES no longer cares if Red alert or not
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  tgui/packages/tgui/interfaces/AresInterface.js
Labels: Quality of Life, UI

#4178 Overwatch Console TGUI Refactor
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/OverwatchConsole.js
Labels: Refactor, UI, Testmerge Candidate

#4283 Dropship hijack offset change
  code/modules/shuttle/dropship_hijack.dm
Labels: Fix

#4234 PMC Survivors can now use WY channel
  code/game/objects/items/devices/radio/headset.dm
Labels: Fix

#4282 Fix for CL's lockbox.
  code/game/objects/items/storage/lockbox.dm
Labels: Fix

#4123 Crashed UPP Survivors Insert Tweaks
  code/datums/skills.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
  maps/Nightmare/maps/DesertDam/nightmare.json
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-alt1.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-bar.dmm
Labels: Balance, Stale, Mapping

#4241 notify ghosts
  code/__DEFINES/hud.dm
  code/__DEFINES/sounds.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/datums/effects/neurotoxin.dm
  code/modules/admin/verbs/freeforghosts.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship_hijack.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Sprites

#4281 fixes some vehicle stuff, and some random code that ended up commented
  code/controllers/subsystem/interior.dm
  code/game/machinery/doors/alarmlock.dm
  code/modules/vehicles/multitile/multitile.dm
Labels: Fix

#4169 fix and small balance change to the utility vendor.
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Feature, Fix, Balance

#4280 Lesser drone changes
  code/game/gamemodes/cm_initialize.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Feature, Balance

#4211 Researchers now spawn with reagent scanner goggles instead of medhuds
  code/modules/clothing/glasses/glasses.dm
  code/modules/gear_presets/uscm_medical.dm
Labels: Quality of Life

#4269 LV-624 Move Position of Hidden Floor Safe
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#4293 Infinite Flare bugfix!
  code/modules/projectiles/guns/specialist.dm
Labels: Fix

#4294 Fixes pylon lesser drone numbers
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#4232 refactor : clean dmi file extract spritten hiden inside other sprites direction. removing sprite change from dmm files.
  code/game/objects/structures/flora.dm
  code/game/objects/structures/misc.dm
  code/game/turfs/floor_types.dm
  icons/turf/floors/prison.dmi
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Refactor, Sprites, Mapping

#4277 Machete in-hand activation
  code/game/objects/items/weapons/blades.dm
Labels: Quality of Life
