Repository cmss13-devs/cmss13, pull requests merged in 2023-09, with the labels that each got.

#4296 Fix UPP Survivor Armour Spawn
  code/modules/gear_presets/_select_equipment.dm
Labels: Fix

#4160 Adds Provost radio & radio channel
  code/__DEFINES/radio.dm
  code/controllers/subsystem/communications.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/mob/living/say.dm
  code/stylesheet.dm
  icons/obj/items/radio.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Feature, Sprites, Stale, UI, Removal

#4295 Un-hardcodes camouflage
  code/game/objects/items.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Code Improvement

#4300 Adds synthetic night vision
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Balance

#4033 Yautja Legacy restoration & Yautja Sprite Fixes
  code/__DEFINES/pred.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/gear_presets/yautja.dm
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Fix, Sprites, Stale, Whitelist Changes, Sprites Approved

#4312 Unbreaks camo
  code/game/objects/items.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#4316 Brain damage tweaks
  code/modules/organs/organ_internal.dm
Labels: Fix

#4308 Donut Spelling Error Fix
  code/datums/supply_packs/food.dm
Labels: Grammar and Formatting

#4319 Working Joes no longer get a cryo emergency kit
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/job/job.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#4322 Fixes perma helmet HUDs
  code/modules/clothing/head/helmet.dm
Labels: Fix

#4305 Removes debuffs from the folded M39 stock
  code/modules/projectiles/gun_attachables.dm
Labels: Balance

#4310 Working Joe restriction bypass toggle
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Labels: Admin

#4334 Fix hugger/lesser drone time of death bypass
  code/__HELPERS/game.dm
Labels: Fix

#4246 Move xeno grab cooldown change to just ctrl+click logic
  code/_onclick/click.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#4298 Fix carrier mutation sprite update
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Labels: Fix

#4329 For the Hive! ghost notification
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
Labels: Feature

#4335 moves full auto guns to be full auto by default
  code/modules/projectiles/gun_helpers.dm
Labels: Feature

#4340 Null reference fix for full auto
  code/modules/projectiles/gun.dm
Labels: Fix

#4313 Fix UPP Hostile ERT Not Spawning With Gun
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/upp.dm
Labels: Fix

#4332 Revert "refactor : clean dmi file extract spritten hiden inside other sprites direction. removing sprite change from dmm files."
  code/game/objects/structures/flora.dm
  code/game/objects/structures/misc.dm
  code/game/turfs/floor_types.dm
  icons/turf/floors/prison.dmi
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Sprites, Mapping

#4314 Crashable lifeboats and early launch
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/vending/vendor_types/supplies.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/shuttles/crashable/crashable.dm
  code/modules/shuttle/shuttles/crashable/escape_shuttle.dm
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
  colonialmarines.dme
  maps/shuttles/escape_shuttle_e.dmm
  maps/shuttles/escape_shuttle_e_cl.dmm
  maps/shuttles/escape_shuttle_n.dmm
  maps/shuttles/escape_shuttle_s.dmm
  maps/shuttles/escape_shuttle_w.dmm
  maps/shuttles/lifeboat-port-archive.dmm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard-archive.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Feature, Mapping, Removal

#4347 Fixes APS
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix

#4331 Clusters turning into pylons expand properly
  code/game/machinery/telecomms/presets.dm
Labels: Fix

#4349 Fixes WY Colony Surv Comms
  code/modules/gear_presets/survivors.dm
Labels: Fix

#4307 Fix Research Disposal Pipe
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4301 On-screen messages sounds
  code/game/jobs/job/marine/squads.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Feature

#4245 Biolock & Tristan Donor Gear
  code/modules/cm_marines/Donator_Items.dm
  code/modules/cm_marines/Donator_Kits.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/donor/HEAD.dmi
  icons/obj/items/clothing/donor/SUITS.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Labels: Sprites, Sprites Approved

#4363 fixes the (JMP) links in chat
  code/modules/mob/mob_helpers.dm
Labels: Fix

#4318 Overwatch Skill + All USCM Officers Can Now Overwatch
  code/__DEFINES/skills.dm
  code/datums/skills.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/skills.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/implements/xeno_handler.dm
Labels: Feature

#4167 Changes to EZ Autoinjectors
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/cmb.dm
  code/modules/vehicles/interior/interactable/vendors.dm
Labels: Balance, Code Improvement, Removal

#4287 icon2html optimizations
  code/__DEFINES/equipment.dm
  code/__HELPERS/icons.dm
  code/game/turfs/walls/wall_icon.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/transports/asset_transport.dm
Labels: Fix, Refactor

#4328 CAS Fire Mission ghost notification
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
Labels: Feature

#4366 Fix to whatever happens after lifeboats crash
  code/modules/shuttle/on_move.dm
Labels: Fix

#4365 [Balance] Small xenos ( larva, huggers ) has a smaller chance of being hit
  code/modules/projectiles/projectile.dm
Labels: Balance, Code Improvement

#4364 heavy mg ammo accuracy to 75%
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Balance Approved

#4373 Working Joe Announcement Removal
  code/game/jobs/job/civilians/support/working_joe.dm
Labels: Removal

#4372 Recalibrate limbs tweak
  code/modules/surgery/robolimb_repair.dm
Labels: Quality of Life

#4371 Powerloader wreckage now can be attacked by xenos
  code/modules/vehicles/powerloader.dm
Labels: Feature

#4360 Firing flares into the air now produces light again
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/specialist.dm
  colonialmarines.dme
Labels: Fix

#4358 Removes annoying and inaccurate to_chat from join response team menu
  code/datums/emergency_calls/emergency_call.dm
Labels: Fix

#4356 Fixes repeatable techs not having correct overlays
  code/modules/cm_tech/techs/abstract/repeatable.dm
Labels: Fix

#4353 End game timing changes
  code/__DEFINES/xeno.dm
  code/controllers/subsystem/ticker.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
Labels: Balance

#4374 Stops queen prying open lifeboat hatches
  code/game/machinery/doors/multi_tile.dm
Labels: Fix

#4350 Project ARES: Release Gas Update
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/vv.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/structures/pipes/vents/vents.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Admin

#4352 Cryorine changes
  code/datums/emergency_calls/cryo_marines.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
Labels: Balance

#4111 Project ARES: Functional Access Tickets
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/WorkingJoe.js
Labels: Feature, UI

#4208 Project ARES: Adds more APOLLO consoles
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#4354 Cryo spec one time tech purchase
  code/datums/emergency_calls/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  colonialmarines.dme
Labels: Feature

#4225 Project ARES: Logging tweaks & updates
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/supplyshuttle.dm
  code/modules/cm_marines/anti_air.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/shuttles/shuttle_console.dm
  tgui/packages/tgui/interfaces/AresInterface.js
Labels: Feature, Fix, UI

#4384 Makes subtle messages more noticeable
  code/modules/admin/tabs/admin_tab.dm
Labels: Admin

#4336 Gives the M56D full auto
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  colonialmarines.dme
Labels: Balance, Refactor

#4388 Removes some mapped clown gear
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/gear_presets/corpses.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping, Removal

#4392 Fixes lifepods still working after evac canceled
  code/modules/shuttle/computers/escape_pod_computer.dm
  tgui/packages/tgui/interfaces/EscapePodConsole.tsx
Labels: Fix, UI

#4403 Ghost notification for yautja self destruct
  code/modules/cm_preds/yaut_bracers.dm
Labels: Feature

#4393 Codebook Optimisation
  code/modules/cm_marines/codebook.dm
Labels: Feature

#4395 Working Joe Apollo Announcement
  code/game/jobs/job/civilians/support/working_joe.dm
Labels: Feature

#4405 Revives CMB Black Market Investigation
  code/__DEFINES/traits.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/skills.dm
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/black_market.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/circuitboards/computer.dm
  code/game/objects/items/devices/scanners.dm
  code/game/supplyshuttle.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/gear_presets/cmb.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  html/images/cmblogo.png
  icons/obj/items/devices.dmi
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Feature, Sprites, Testmerge Candidate, Sprites Approved

#4400 Fix fluff type check for map overrides
  code/__DEFINES/equipment.dm
  code/game/objects/items.dm
  code/modules/cm_marines/Donator_Items.dm
Labels: Fix

#4383 Fixes not having TWE faction announcements
  code/__DEFINES/mode.dm
Labels: Admin

#4415 Fixes nerve gas grenades
  code/game/objects/items/explosives/grenades/marines.dm
Labels: Fix

#4414 Fixes a minor error in acid runner's description
  code/modules/mob/living/carbon/xenomorph/mutators/strains/runner/acid.dm
Labels: Grammar and Formatting

#4206 Rework xeno guaranteed slots logic and Fix thunderdome evolution slot bug
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/xeno_defines.dm
Labels: Fix

#4421 Disables Shivas Snowball
  map_config/maps.txt
Labels: Removal

#4378 LV Intel Update
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/cargospecial/cargospecial3_gear.dmm
  maps/map_files/LV624/centralcaves/10.T.dmm
  maps/map_files/LV624/centralcaves/10.qc.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Balance, Mapping

#4423 Fixes the tradeband scanner.
  code/game/objects/items/devices/scanners.dm
Labels: Fix

#3726 New facehugger strain: Watcher
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  icons/mob/xenos/facehugger.dmi
Labels: Feature, Sprites, Balance Approved

#4375 IOs get their own squads
  code/__DEFINES/job.dm
  code/__DEFINES/minimap.dm
  code/game/jobs/job/command/auxiliary/intel.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  tgui/packages/tgui/interfaces/OverwatchConsole.js
Labels: Feature, UI

#4386 LV522: Changes to map decortation, loot tables and renaming of colony airlocks
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping

#4303 balance and fix to reduce the potentiel of requisiton players to get Carpal tunnel syndrome
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Fix, Balance

#4420 Removes some PMC gear
  code/modules/gear_presets/_select_equipment.dm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/cargospecial/cargospecial3_gear.dmm
  maps/map_files/LV624/crashedship/10.digsite.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Balance, Mapping

#4345 Uncommented "Observe" verb
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/mob_verbs.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Feature, Needs Testing

#4432 fixes overwrite mark prompt
  code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#4443 Storage rebalance
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/internal.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/toolkit.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/specialist.dm
  colonialmarines.dme
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/Chinook.dmm
  maps/templates/upp_ert_station.dmm
  maps/templates/weyland_ert_station.dmm
Labels: Balance, Mapping, Balance Approved

#4324 Qol reorganize and update all the squads vendors.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance, Quality of Life

#4441 Mateba Special
  code/__DEFINES/guns.dm
  code/game/objects/items/storage/belt.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/projectiles/guns/revolvers.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
Labels: Feature, Sprites, Sprites Approved

#4459 Removes eggs off hive weeds
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/carrier/eggsac.dm
Labels: Balance

#4431 Gives survivors a bank account.
  code/game/jobs/job/civilians/other/survivors.dm
Labels: Feature

#4457 Fixes intel squad "Unauthorized access detected"
  code/game/jobs/job/marine/squads.dm
Labels: Fix

#4454 Splits spec ammo & utility points
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
Labels: Balance

#4455 Adds a confirmation to disabling round end delay
  code/modules/admin/tabs/round_tab.dm
Labels: Admin

#4450 Prop gun effect
  code/game/objects/effects/spawners/prop_gun_spawner.dm
  code/modules/clothing/suits/marine_armor.dm
  colonialmarines.dme
  icons/landmarks.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved

#4474 IOs Default To Using Intel Channel
  code/game/jobs/job/marine/squads.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
Labels: Feature

#4470 Adds the ability to put Folding Sheilds in the IMP ammo rack
  code/game/objects/items/storage/backpack.dm
Labels: Feature

#4468 Drag-n-drop hotfix
  code/game/objects/items/storage/storage.dm
Labels: Fix

#4467 Adds Synthetic Biohazard Suits To Vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/suits/bio.dm
Labels: Feature

#4469 LV Comms Update
  maps/map_files/LV624/LV624.dmm
Labels: Balance, Mapping

#4410 Cloaked mobs don't give off visible messages (+cloak logic refactor)
  code/__DEFINES/traits.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/mob.dm
Labels: Balance, Balance Approved, Needs Testing

#4509 Fixes no-delay on m56d burst fire mode
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#4487 Fix afk hugger conversion
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix

#4503 Fixes akimbo bug
  code/modules/projectiles/gun.dm
Labels: Fix, Priority: High

#4489 Fixes manifest when transferring into and out of intel squad
  code/__DEFINES/mode.dm
Labels: Fix, UI

#4222 Yautja Rifle buff
  code/modules/projectiles/ammo_datums.dm
Labels: Balance, Whitelist Changes

#4411 [Balance] Use skill tier duration multipliers for non-master engineers
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance

#4418 HEFA Knights spawn with their armor + small buff
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/fun.dm
Labels: Fix, Balance

#4458 Natural Trijent Dam Tunnels
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Mapping

#4508 Removes alpha egg on LV522
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Removal

#4488 Makes Dropship Pilot Two Dropship Crew Chief hours, instead of Five Marine squad hours.
  code/__DEFINES/job.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/jobs/job/command/command.dm
Labels: Balance

#4491 Bugfix: Reagent Canister Nullspace
  code/game/objects/items/storage/pouch.dm
Labels: Fix

#4320 New CIC uniform
  code/datums/supply_packs/clothing.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  icons/mob/humans/onmob/feet.dmi
  icons/mob/humans/onmob/hands.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/shoes.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Fix, Sprites, Testmerge Candidate

#4463 Auto observer fixes, preferences, and QoL
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/dcs/signals/signals_client.dm
  code/_onclick/click.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_object_holder.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/controllers/subsystem/minimap.dm
  code/datums/action.dm
  code/datums/keybinding/mob.dm
  code/datums/mind.dm
  code/game/gamemodes/cm_self_destruct.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/storage/storage.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/buildmode/buildmode.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/recycling/sortingmachinery.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Fix, Code Improvement

#4456 Vulture tweaks
  code/game/objects/items/devices/vulture_spotter.dm
  code/game/objects/structures/vulture_spotter.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
Labels: Balance, Admin

#4461 UPP Survivors Use Player Names + Radio Change
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/synths.dm
Labels: Feature

#4380 UPP rank
  code/__DEFINES/job.dm
  code/datums/factions/upp.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/skills.dm
  code/modules/gear_presets/upp.dm
  icons/mob/hud/marine_hud.dmi
Labels: Feature, Code Improvement

#4520 Adds Sensor Towers To All Maps (V2)
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping

#4518 Makes Pylon Alert Message Better Stress Its Danger To Marines
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Feature

#4517 Disallows taking control of crit xenos
  code/game/gamemodes/cm_initialize.dm
Labels: Quality of Life

#4493 Bugfix: Flashlights now correct their icon when disabled by a xeno slash.
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#4495 Bugfix: Unorderable Black Market Crate
  code/datums/supply_packs/black_market.dm
Labels: Fix

#4510 USS Almayer, CL & CC Hypersleep bay, fixes symmetry issue in CIC hallway (that I broke), adds some warning stripes around for detailing, re-gigs the PO bunk area to get rid of horrible 1x3 hallway
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#4482 External webbing can hold firearms
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Feature, Fix, Removal

#4492 no more anchorpoint pvt
  code/datums/emergency_calls/cmb.dm
  code/modules/gear_presets/cmb.dm
Labels: Fix, Grammar and Formatting, Removal

#4512 Bugfix: Camera sprites
  code/game/machinery/camera/camera.dm
Labels: Fix

#4515 Minor Item Additions To Synth Vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor.dm
Labels: Feature

#4529 Yautja can no longer mark xenoes as honorable
  code/modules/cm_preds/yaut_hudprocs.dm
Labels: Fix

#4527 Fixes yautja relay beacon not uncloaking correctly
  code/__DEFINES/traits.dm
  code/game/turfs/open.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Labels: Fix

#4526 Fixes combistick folding
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Feature

#4501 Additional Working Joe Voicelines
  code/__DEFINES/emote_panels.dm
  code/game/objects/structures/props.dm
  code/modules/mob/living/carbon/human/species/working_joe/damage.dm
  code/modules/mob/living/carbon/human/species/working_joe/farewell.dm
  code/modules/mob/living/carbon/human/species/working_joe/fire.dm
  code/modules/mob/living/carbon/human/species/working_joe/greeting.dm
  code/modules/mob/living/carbon/human/species/working_joe/notice.dm
  code/modules/mob/living/carbon/human/species/working_joe/quip.dm
  code/modules/mob/living/carbon/human/species/working_joe/restricted_area.dm
  code/modules/mob/living/carbon/human/species/working_joe/task_update.dm
  code/modules/mob/living/carbon/human/species/working_joe/warning.dm
  colonialmarines.dme
  sound/voice/joe/be_careful_with_that.ogg
  sound/voice/joe/been_looking_for_you.ogg
  sound/voice/joe/calm_down.ogg
  sound/voice/joe/come_with_me.ogg
  sound/voice/joe/dont_run.ogg
  sound/voice/joe/dontdothat.ogg
  sound/voice/joe/enough.ogg
  sound/voice/joe/existing_tasks.ogg
  sound/voice/joe/expensive_mistake.ogg
  sound/voice/joe/follow_me_please.ogg
  sound/voice/joe/glad_we_resolved.ogg
  sound/voice/joe/had_the_pleasure.ogg
  sound/voice/joe/have_a_problem.ogg
  sound/voice/joe/hold_still.ogg
  sound/voice/joe/how_are_you.ogg
  sound/voice/joe/how_inconsiderate.ogg
  sound/voice/joe/hurt_yourself.ogg
  sound/voice/joe/interloper.ogg
  sound/voice/joe/investigate_weapon.ogg
  sound/voice/joe/is_anybody_there.ogg
  sound/voice/joe/let_me_help.ogg
  sound/voice/joe/most_concerning.ogg
  sound/voice/joe/no_need.ogg
  sound/voice/joe/not_be_tolerated.ogg
  sound/voice/joe/pity.ogg
  sound/voice/joe/protected_area_compromised.ogg
  sound/voice/joe/really.ogg
  sound/voice/joe/really_shouldnt_be_here.ogg
  sound/voice/joe/someone_hurt.ogg
  sound/voice/joe/still_here.ogg
  sound/voice/joe/stop_that.ogg
  sound/voice/joe/support_ticket_removed.ogg
  sound/voice/joe/this_isnt_the_answer.ogg
  sound/voice/joe/tut_tut.ogg
  sound/voice/joe/unwarranted.ogg
  sound/voice/joe/weapon_permit.ogg
  sound/voice/joe/what_do_you_need.ogg
Labels: Sound, Testmerge Candidate

#4504 "Do nothing" dual wield preference
  code/__DEFINES/client_prefs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/projectiles/gun.dm
Labels: Quality of Life

#4525 Whiskey Outpost vote fix
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  config/example/config.txt
Labels: Fix

#4522 refactor : divide survivor preset base on maps.
  code/modules/gear_presets/survivors.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
  code/modules/gear_presets/survivors/shivas_snowball/preset_shivas_snowball.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  code/modules/gear_presets/synths.dm
  colonialmarines.dme
Labels: Refactor

#4536 Fixes taking control of crit xenos
  code/game/gamemodes/cm_initialize.dm
Labels: Fix, Priority: High

#4532 Removes more clown gear
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Mapping, Removal

#4502 Disable join as xeno buried spawns when there is a queue
  code/__HELPERS/game.dm
  code/_globalvars/misc.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#4541 Allows M46C to take rubber munitions
  code/modules/projectiles/guns/rifles.dm
Labels: Fix
