Repository cmss13-devs/cmss13, pull requests merged in 2024-09, with the labels that each got.

#6977 Mapping: LV522 Changes to overall map, including the size, poplimit, chokepoints and other such things
  code/__DEFINES/__game.dm
  map_config/maps.txt
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping

#6602 [Solaris Ridge] Aesthetic Update V2
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/20.lz1entrance_v2.dmm
  maps/map_files/BigRed/sprinkles/25.lz1containers_scramble.dmm
  maps/map_files/BigRed/sprinkles/35.filtration_restored.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/sprinkles/40.viro_open.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  tools/UpdatePaths/6656-no-more-open-turf-edits.txt
Labels: Mapping

#7060 Deletes-empty-pill-packets-on-empty-drop
  code/game/objects/items/storage/firstaid.dm
Labels: Quality of Life

#7062 Adds a staff button to check for whitelisted players.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Feature

#7080 Fixes stacking explosions in overloaded escape pods
  code/modules/shuttle/shuttles/crashable/escape_shuttle.dm
Labels: Fix

#7075 Fix reverse_direction() macro
  code/__HELPERS/unsorted.dm
Labels: Missing Changelog

#7100 Reverts the new revive notification sound
  code/game/objects/items/devices/defibrillator.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  sound/effects/revive_notify.ogg
Labels: Sound

#7058 Increase XO Hour Requirements
  code/game/jobs/job/command/cic/executive.dm
Labels: Config

#7117 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools, Missing Changelog

#7064 Join as freed mob no longer runtimes
  code/modules/mob/dead/observer/observer.dm
Labels: Code Improvement

#6962 UPP Floor Symbol
  code/game/objects/effects/decals/floor_symbol.dm
  colonialmarines.dme
  icons/turf/upp_floor.dmi
Labels: Sprites, Sprites Approved

#6820 Updates close backpack icon
  code/_onclick/hud/screen_objects.dm
  icons/mob/hud/screen1.dmi
Labels: Sprites

#7103 LZ2 Monkey spawn fix
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Fix, Mapping

#7109 Predship minor changes and stuff
  maps/predship/huntership.dmm
Labels: Mapping, Mapping Approved

#7091 Widens a platform next to a chokepoint on trijent
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Mapping, Mapping Approved

#7083 Remove Double Shotgun From Solaris
  maps/map_files/BigRed/BigRed.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#7114 Throwing Knives now surgery capable
  code/__DEFINES/surgery.dm
  code/modules/surgery/chestburster.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/xeno.dm
Labels: Quality of Life

#7124 Provost and Survivor CL rank fixes
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/uscm_event.dm
Labels: Feature, Fix

#7123 Adds the preference to trigger xeno/human abilities with right click instead of middle click or shift click
  code/__DEFINES/client_prefs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/human.dm
  code/_onclick/xeno.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/hoverpack.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/login.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  interface/skin.dmf
Labels: Quality of Life

#7139 Adds a webhook for sending the top 10 overtiming procs to discord
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/profiler.dm
  code/modules/admin/verbs/adminhelp.dm
Labels: Feature, Performance

#7059 fix: toggling drop pouch storage draw method now works correctly
  code/modules/clothing/under/ties.dm
Labels: Fix

#7065 SG falloff rebalance and far sight removal
  code/datums/ammo/bullet/special_ammo.dm
  code/modules/clothing/glasses/night.dm
Labels: Balance, Testmerge Candidate, Needs Testing

#7144 Bumps MW Fireman in line with rest of MPs
  code/datums/skills/uscm.dm
Labels: Balance

#7152 Fixes shiva panic room insert presets
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Fix

#7145 Fixes Uniform Vendor shutters
  code/game/machinery/doors/poddoor/shutters/shutters.dm
Labels: Fix

#7118 Adds flare packs to FTL vendors
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Feature

#7056 HM and CT vendor stuff
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Balance, Quality of Life

#7111 Adds MREs to the ColMarTech Food Vendor
  code/game/machinery/vending/vendor_types/food.dm
Labels: Feature

#7119 Project ARES: Fix gas duration
  code/game/objects/structures/pipes/vents/vents.dm
Labels: Fix

#7180 ravager scissor cut will now cut fences
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
Labels: Balance, Balance Approved

#7182 Xenos with USCM Iff tags no longer trigger code red
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Feature

#7191 Clear armor lamp overlays
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
Labels: Missing Changelog

#7185 Revert "fixes undroppable wrist blades"
  code/modules/cm_preds/yaut_weapons.dm
Labels: Code Improvement

#7192 More Fortunes for Fortune Cookies
  strings/fortunes.txt
Labels: Feature

#7173 Injector and Coagulator plates now function
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/datums/effects/bleeding.dm
  code/modules/cm_tech/implements/armor.dm
Labels: Fix

#7162 MPs now latejoin in the Brig
  code/game/objects/effects/landmarks/landmarks.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Mapping

#7200 fixes bracer power (looks at stalkerino)
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#7195 predator buffs
  code/modules/cm_preds/yaut_items.dm
Labels: Balance, Balance Approved

#7205 Remove `sensor_faction` from uniforms
  code/modules/clothing/under/marine_uniform.dm
  code/modules/clothing/under/under.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/colonist.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Missing Changelog

#7190 Adds a preference to show your tag as Queen
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Quality of Life

#7215 BLU-200 spellcheck
  code/modules/cm_marines/dropship_ammo.dm
Labels: Grammar and Formatting

#7214 Delete unnamed sound
  sound/effects/.wav
Labels: Sound, Missing Changelog

#7201 Increases pred round chance whenever it isn't a pred round
  code/datums/entities/predround_chance.dm
  code/game/jobs/role_authority.dm
  colonialmarines.dme
  maps/Nightmare/scenario.json
Labels: Balance

#7222 Medical vendor Create&Destroy fix
  code/game/machinery/vending/vendor_types/medical.dm
Labels: Missing Changelog

#7208 Commanding Officer Team Spirit(patches)
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
Labels: Feature

#7176 Adds a Bomb Suit/EOD Locker to the MP Armory
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#6071 [V] Sorokyne Strata: Expanded Small corridors, removed 3000 unused tiles, Xenos can now weed everything except LZ's and surrounding of LZ's, allow LAZ for CAS inside structures with light blue Areas on Tacmap (glass ceiling hallways)
  code/__DEFINES/minimap.dm
  code/game/area/strata.dm
  code/game/turfs/strata.dm
  code/modules/power/lighting.dm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Balance, Code Improvement, Testmerge Candidate, Mapping, Mapping Approved, Needs Testing

#7129 Expands Squad Lead tracking list
  code/game/objects/items/devices/radio/headset.dm
Labels: Feature

#6943 Tail Stab Daze balance tweak and three other small tweaks
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Feature, Balance, Grammar and Formatting, Balance Approved
