Repository cmss13-devs/cmss13, pull requests merged in 2024-08, with the labels that each got.

#6775 Another NERF to heavy revolver ammo
  code/datums/ammo/ammo.dm
Labels: Balance, Balance Approved

#6789 Phone sounds update
  code/datums/looping_sounds/misc_sounds.dm
  code/game/sound.dm
  code/modules/cm_phone/phone.dm
  sound/machines/telephone/dial.ogg
  sound/machines/telephone/phone_busy.ogg
  sound/machines/telephone/remote_hangup.ogg
  sound/machines/telephone/remote_pickup.ogg
  sound/machines/telephone/ring_outgoing.ogg
  sound/machines/telephone/talk_phone1.ogg
  sound/machines/telephone/talk_phone2.ogg
  sound/machines/telephone/talk_phone3.ogg
  sound/machines/telephone/talk_phone4.ogg
  sound/machines/telephone/talk_phone5.ogg
  sound/machines/telephone/talk_phone6.ogg
  sound/machines/telephone/talk_phone7.ogg
  sound/voice/callstation_unavailable.ogg
Labels: Sound

#6830 Fixes the lockdown button working after dropship being locked by Queen
  code/game/machinery/door_control.dm
Labels: Fix

#6764 cannot join as certain ERTs if you dont have enough relavent playtime.
  code/datums/emergency_calls/cryo_spec.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/inspection.dm
Labels: Feature

#6831 Replaces armor break with effective range in weapon stats
  code/modules/projectiles/gun.dm
  tgui/packages/tgui/interfaces/WeaponStats.jsx
Labels: Feature, UI

#6828 Tweaks/pull throw animation and sound
  code/game/sound.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  sound/effects/throwing/swoosh1.ogg
  sound/effects/throwing/swoosh2.ogg
  sound/effects/throwing/swoosh3.ogg
  sound/effects/throwing/swoosh4.ogg
Labels: Feature, Sound

#6827 Containers can be dumped into seed extractor
  code/game/machinery/seed_extractor.dm
Labels: Quality of Life

#6825 autowiki 2: generates individual pages for guns
  code/__HELPERS/cmp.dm
  code/modules/autowiki/autowiki.dm
  code/modules/autowiki/pages/_page.dm
  code/modules/autowiki/pages/guns.dm
Labels: Missing Changelog

#6752 Nanotrasen to weyland_yutani
  code/game/objects/items/tools/cleaning_tools.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  tgui/packages/tgui/layouts/Layout.tsx
  tgui/packages/tgui/styles/themes/ntos.scss
  tgui/packages/tgui/styles/themes/ntos_darkmode.scss
  tgui/packages/tgui/styles/themes/ntos_lightmode.scss
Labels: Code Improvement, UI, Mapping, Mapping Approved

#6833 Medical scans will now show heartbroken status
  code/datums/mob_hud.dm
  code/game/objects/items/devices/defibrillator.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_healthscan.dm
  tgui/packages/tgui/interfaces/HealthScan.jsx
Labels: Fix, UI

#6699 Fix tank secondary flamer abnormal stoppage
  code/__HELPERS/unsorted.dm
  code/modules/projectiles/guns/flamer/flameshape.dm
Labels: Fix, Balance, Stale Exempt, Balance Approved

#6818 adds distinct color to CLF and UPP special channels
  code/controllers/subsystem/communications.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/constants.ts
Labels: Feature, UI

#6835 Stops the queen from resting while on an ovipositor
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#6837 Stops structures from being built on dense objects
  code/game/objects/items/frames/table_rack.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/airlock_assembly.dm
  code/game/objects/structures/girders.dm
Labels: Fix

#6841 cigarettes cigars lighters fit in helmet cosmetic
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/tools/flame_tools.dm
  code/modules/clothing/head/helmet.dm
Labels: Quality of Life

#6727 Buffs cades against projectiles
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/projectiles/projectile.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#6838 Buffs MP and Officer Armor's Bullet Armour
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
Labels: Balance, Balance Approved

#6301 CIC Vendor Expansion (Part 2)
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer_armory.dm
  code/modules/gear_presets/uscm_ship.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Balance, Refactor, Mapping, Balance Approved, Mapping Approved

#6845 Sacrifice ability buff — now guarantees to get the target out of crit on top of the heal
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
Labels: Balance, Balance Approved

#6846 Removes an unneeded var in mob_hud.dm
  code/datums/mob_hud.dm
Labels: Code Improvement

#6735 VP78 Improve Fire Range
  code/datums/ammo/bullet/pistol.dm
Labels: Balance, Balance Approved

#6847 Fixes Healer drone Overheal exploit
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
Labels: Balance, Balance Approved

#6856 Stop phones from going in lockers/crates
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Fix

#6857 Limits deafness to 1 minute
  code/modules/mob/living/living_health_procs.dm
Labels: Quality of Life

#6858 Makes the Combat Correspondent camera unmeltable and indestructible.
  code/modules/paperwork/photography.dm
Labels: Balance, Balance Approved

#6868 Fixes Lance Corporal rifleman cap
  code/modules/gear_presets/_select_equipment.dm
Labels: Fix

#5876 remote dropship computers are no longer hard coded to dropship id
  code/modules/shuttle/computers/dropship_computer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Labels: Balance, Refactor, Stale Exempt, UI, Testmerge Candidate, Mapping, Balance Approved, Mapping Approved, Needs Testing

#6852 autowiki improvements (again)
  code/__DEFINES/autowiki.dm
  code/datums/agents/tools/decoy.dm
  code/datums/datum.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/world.dm
  code/modules/autowiki/pages/_page.dm
  code/modules/autowiki/pages/guns.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/magazines/misc.dm
  colonialmarines.dme
Labels: Missing Changelog

#6864 Fixes and Readjusts Larva Surgery
  code/modules/surgery/chestburster.dm
Labels: Feature, Fix

#6809 More attack logs for choking and fence/window slamming
  code/game/objects/structures/fence.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/carbon/human/life/handle_grabbed.dm
  code/modules/mob/mob_grab.dm
Labels: Logging, Missing Changelog

#6714 Revive research card swiping rework
  code/game/machinery/computer/research.dm
  code/game/objects/items/cards_ids.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  tgui/packages/tgui/interfaces/ResearchTerminal.tsx
Labels: Balance, Stale Exempt, UI, Balance Approved, Removal

#6877 pressure tank layer fix
  code/game/objects/structures/pipes/standard/standard_misc.dm
Labels: Fix

#6871 Prevents tunnels from being dug under the LZ Sentry holders.
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
Labels: Fix

#6586 Hardcode Rework
  code/__DEFINES/sounds.dm
  code/_globalvars/global_lists.dm
  code/datums/soundOutput.dm
  code/game/sound.dm
  code/modules/admin/verbs/adminpanelweapons.dm
  code/modules/almayer/weaponhits.dm
Labels: Feature, Refactor

#6728 Gravity removal ;) unused var that was 1 on ALL tiles
  code/game/area/areas.dm
  code/game/area/space_station_13_areas.dm
  code/game/objects/items/tools/extinguisher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob_movement.dm
Labels: Removal

#6853 Fixes research chute not being connected to req chute
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping

#6832 Fixes butcher's knife inhands
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
Labels: Fix, Sprites

#6691 Stethoscopes and penlights - An attempt on usefulness (Also, flashlight flashing fixed)
  code/__DEFINES/mobs.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/under/ties.dm
  code/modules/organs/organ_internal.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/mob/humans/onmob/ties.dmi
Labels: Feature, Fix, Sprites, Code Improvement, Grammar and Formatting, Sprites Approved

#6884 Revert "Buffs cades against projectiles"
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/projectiles/projectile.dm
Labels: Missing Changelog

#6880 Replaces Machete Scabbard in Smartgunner Vendor with new SG scabbard
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/objects/items/storage/large_holster.dm
  code/modules/clothing/suits/marine_armor/smartgunner.dm
  code/modules/mob/living/carbon/human/inventory.dm
  icons/mob/humans/onmob/back.dmi
  icons/obj/items/storage.dmi
Labels: Feature, Balance, Sprites, Balance Approved, Sprites Approved

#6870 Imports TG Pills - Matches pill bottle aesthetic
  code/__DEFINES/chemistry.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  icons/obj/items/chemistry.dmi
Labels: Feature, Sprites, Sprites Approved

#6692 Use RANGE_TURFS
  code/__DEFINES/turfs.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/game/machinery/door_display/door_display.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/devices/teleportation.dm
  code/game/objects/items/reagent_containers/food/snacks/grown.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
Labels: Stale Exempt, Testmerge Candidate, Needs Testing, Missing Changelog

#6712 Use DVIEW
  code/__HELPERS/unsorted.dm
  code/datums/ammo/energy.dm
  code/datums/beam.dm
  code/datums/disease.dm
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_spec.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/devices/pinpointer.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/turf.dm
  code/modules/cm_tech/droppod/droppod.dm
  code/modules/defenses/tesla_coil.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/nano/nanoui.dm
Labels: Stale Exempt, Testmerge Candidate, Needs Testing, Missing Changelog

#6786 Hold my Beer (Fix of hi intellligent data lookup in TGUI Who/Staff Who
  code/controllers/subsystem/who.dm
  tgui/packages/tgui/interfaces/StaffWho.jsx
  tgui/packages/tgui/interfaces/Who.jsx
Labels: Fix, UI

#6886 Fixes explosive implants
  code/game/objects/items/implants/implant.dm
Labels: Fix

#6686 Re: Add Directional APC's sprites, reduces lines of code by adding and using Updatepaths.txt file.
  code/modules/power/apc.dm
  icons/obj/structures/machinery/apc.dmi
  icons/obj/structures/machinery/power.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/25.chapel_cult.dmm
  maps/map_files/BigRed/sprinkles/25.containerroom_xenos.dmm
  maps/map_files/BigRed/sprinkles/25.lz1containers_scramble.dmm
  maps/map_files/BigRed/sprinkles/30.cargo_containers.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
  maps/map_files/BigRed/sprinkles/70.se-checkpoint.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/CORSAT/standalone/sigma_ice.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-bar.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/10.scavshipholder.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.nogear.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.wardenofficedecorated.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.poolparty.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.engineeroffice.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/riot_in_progress.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/cleared.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/closed.dmm
  maps/map_files/Ice_Colony_v3/standalone/panic_room_hold.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Kutjevo/sprinkles/35.communications.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV624/standalone/corporatedome.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/map_files/generic/Admin_level.dmm
  maps/predship/huntership.dmm
  maps/shuttles/ert_shuttle_big.dmm
  maps/shuttles/trijentshuttle2.dmm
  tools/UpdatePaths/Scripts/6686-apc-replacement.txt
Labels: Fix, Balance, Sprites, Testmerge Candidate, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#6821 Shrapnel smooth movement [WIP]
  code/datums/ammo/shrapnel.dm
  code/datums/autocells/explosion.dm
  code/game/objects/explosion_recursive.dm
  code/modules/projectiles/projectile.dm
Labels: Code Improvement, Testmerge Candidate, Needs Testing

#6751 Gravity generator removal
  code/_onclick/human.dm
  code/modules/power/gravitygenerator.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/predship/huntership.dmm
Labels: Mapping, Removal, Mapping Approved

#6893 Standardises unmeltable SG & Specialist Gear, and removes the (now-legacy) SG kit from req.
  code/datums/supply_packs/weapons.dm
  code/modules/clothing/suits/marine_armor/ghillie.dm
  code/modules/clothing/suits/marine_armor/smartgunner.dm
Labels: Balance, Balance Approved, Removal

#6898 Accurately depicts the mine amount in claymore boxes on vendor labels.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Fix

#6899 Reorders the Essential SG Kit
  code/modules/cm_marines/equipment/weapons.dm
Labels: Quality of Life

#6863 IB fixed fun fact
  code/datums/statistics/entities/death_stats.dm
  code/datums/statistics/random_facts/ib_fact.dm
  code/modules/mob/mob_defines.dm
  code/modules/surgery/internal_bleeding.dm
  colonialmarines.dme
Labels: Feature

#6897 Fixes being able to put items back in the specialist case
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix

#6888 Makes explosions always deal full damage on the source tile
  code/datums/ammo/rocket.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
Labels: Fix, Balance

#6876 Reduces the Cost of the AGM-184 'Harpoon II' from 300 to 200
  code/modules/cm_marines/dropship_ammo.dm
Labels: Balance

#6910 ERT no longer show up in the orbit escape section
  code/__DEFINES/mode.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#6908 "Start Round" can start delayed round
  code/controllers/subsystem/ticker.dm
Labels: Admin

#6909 FIX Kutjevo Botany APC that can't be fixed
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping

#6917 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
Labels: Tools, Missing Changelog

#6855 Non folding plasteel barricade
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/barricade/folding.dm
  code/game/objects/structures/barricade/non_folding.dm
  colonialmarines.dme
  icons/obj/structures/barricades.dmi
  icons/obj/structures/barricades_christmas.dmi
Labels: Feature, Balance, Sprites, Testmerge Candidate, Balance Approved

#6927 Plantable UPP Flag
  code/game/objects/items/stacks/flags.dm
  icons/mob/humans/onmob/items_lefthand_64.dmi
  icons/mob/humans/onmob/items_righthand_64.dmi
  icons/obj/structures/plantable_flag.dmi
  sound/effects/flag_upp_warcry.ogg
  sound/effects/flag_upp_warcry_extra.ogg
Labels: Feature, Sound, Sprites, Sprites Approved

#6913 UPP Command Tablet
  code/game/objects/items/devices/cictablet.dm
  code/modules/gear_presets/upp.dm
Labels: Feature

#6851 "Dark" HUD indicators adjust with view size
  code/datums/custom_hud.dm
Labels: UI

#6954 Adds muzzle flash light colors
  code/__DEFINES/colours.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/pistols.dm
Labels: Feature

#6903 Keycard authentication device now reqires two users to activate events
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix

#6388 gayons
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/toys/crayons.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/helmet_garb.dmi
  icons/obj/items/crayons.dmi
Labels: Feature, Sprites, Stale

#6933 Datumizes Specialist Sets
  code/__DEFINES/traits.dm
  code/_globalvars/global_lists.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/marine/squad/specialist.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/admin/player_panel/actions/physical.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/specialist.dm
Labels: Fix, Code Improvement

#6797 Blespace beacon removal
  code/game/machinery/Beacon.dm
  colonialmarines.dme
Labels: Removal

#6936 Corporate Liaison's Wardrobe
  code/game/machinery/vending/vendor_types/crew/corporate_liaison.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  colonialmarines.dme
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/uniforms.dmi
  icons/obj/structures/machinery/vending.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Refactor, Sprites, Mapping, Sprites Approved

#6960 Fixes resist while bucklecuffed to bed
  code/__DEFINES/misc.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#6894 Playing cards are vanity accessories for helmets
  code/game/objects/items/toys/cards.dm
Labels: Quality of Life

#6990 Suit storages qdel pockets on Destroy()
  code/modules/clothing/suits/storage.dm
Labels: Missing Changelog

#6697 New Pizza Cutters
  code/game/objects/items/tools/kitchen_tools.dm
  code/game/objects/items/weapons/blades.dm
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/kitchen_tools.dmi
  icons/obj/items/weapons/weapons.dmi
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.pizzatime.dmm
  maps/templates/lazy_templates/pizza_ert_station.dmm
Labels: Feature, Sprites, Stale, Mapping, Sprites Approved, Mapping Approved

#6739 Forecon ERT Adjustments
  code/__DEFINES/job.dm
  code/datums/emergency_calls/forecon.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uscm.dm
  code/game/objects/items/storage/belt.dm
  code/modules/gear_presets/uscm_forecon.dm
  icons/mob/hud/marine_hud.dmi
Labels: Feature, Balance, Sprites, Balance Approved, Sprites Approved

#6866 Adds handheld Enforcer squad distress beacons for Provost Inspectors+
  code/game/objects/items/handheld_distress_beacon.dm
  code/modules/gear_presets/uscm_event.dm
Labels: Feature

#6887 Changes old donator kit sprites.
  code/modules/cm_marines/Donator_Items.dm
  code/modules/cm_marines/Donator_Kits.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_1.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/clothing/donor/HEAD.dmi
  icons/obj/items/clothing/donor/SUITS.dmi
  icons/obj/items/clothing/donor/Sanctum Uniforms.dmi
  icons/obj/items/clothing/donor/UNIFORM.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#6984 m44 import from downstream
  code/modules/projectiles/guns/revolvers.dm
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
Labels: Sprites, Sprites Approved

#6985 Imports TWE sprites from downstream
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/onmob/feet.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Sprites, Sprites Approved

#6901 Chat Filter
  code/controllers/configuration/configuration.dm
  code/game/verbs/ooc.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/say.dm
  config/example/config.txt
  config/example/word_filter.txt
Labels: Config

#6964 Splits storage.dmi into multiple files
  code/game/objects/effects/spawners/wo_spawners/supplies.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/bible.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/misc.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/storage/surgical_tray.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/toolkit.dm
  code/game/objects/items/storage/wallets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/inflatable.dm
  code/modules/cm_marines/Donator_Kits.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/equipment/weapons.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_tech/implements/ammo_kits.dm
  code/modules/cm_tech/implements/engi_czsp.dm
  code/modules/cm_tech/implements/implants.dm
  code/modules/cm_tech/implements/medical_czsp.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/items/books.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/storage.dmi
  icons/obj/items/storage/bag.dmi
  icons/obj/items/storage/bags.dmi
  icons/obj/items/storage/box.dmi
  icons/obj/items/storage/boxes.dmi
  icons/obj/items/storage/briefcases.dmi
  icons/obj/items/storage/holster.dmi
  icons/obj/items/storage/holsters.dmi
  icons/obj/items/storage/kits.dmi
  icons/obj/items/storage/medical.dmi
  icons/obj/items/storage/mre.dmi
  icons/obj/items/storage/packets.dmi
  icons/obj/items/storage/toolbox.dmi
  icons/obj/items/weapons/grenade.dmi
  icons/obj/structures/crates.dmi
  icons/obj/structures/structures.dmi
Labels: Refactor, Sprites

#6989 Makes fingerprint scanner description newbie-friendly
  code/game/objects/items/devices/clue_scanner.dm
Labels: Quality of Life

#6994 Fixes retrieve fulton objective
  code/modules/objectives/retrieve_items.dm
Labels: Fix

#6987 Changes 'view objectives' verb to 'view intel objectives' verb, in line with 'view research objectives'
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#6969 Adds AMR ammo to WO
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
Labels: Feature

#6920 UPP Logistics Worker and Political Commissar Addition
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/upp.dm
  code/datums/factions/upp.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/skills/upp.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/upp.dm
  icons/mob/hud/marine_hud.dmi
Labels: Feature, Sprites, Sprites Approved

#6975 Makes survivor doctors use doctor paygrade
  code/modules/gear_presets/colonist.dm
  code/modules/gear_presets/survivors/survivors.dm
Labels: Feature

#6928 fixes duplicate brown shoes in code
  code/modules/clothing/shoes/colour.dm
Labels: Missing Changelog

#6961 researchvivors can access research database
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#6925 UPP Wall Flag
  code/game/objects/structures/signs.dm
  icons/obj/structures/props/flags.dmi
Labels: Feature, Sprites, Sprites Approved

#6905 Adds all missing lineart images in gun examine
  code/modules/asset_cache/asset_list_items.dm
  icons/obj/items/weapons/guns/lineart.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#6974 Adds marine law charges for unlawful usage of listening devices.
  code/modules/law/laws/major_crime.dm
  code/modules/law/laws/minor_crime.dm
Labels: Feature

#6983 Re-orders the SEA vendor
  code/game/machinery/vending/vendor_types/crew/sea.dm
Labels: Feature

#6939 Dropship 3 'Saipan'
  code/__DEFINES/camera.dm
  code/__DEFINES/radio.dm
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/communications.dm
  code/game/area/Sulaco.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/turfs/closed.dm
  code/game/turfs/transit.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/dropships/attach_points/templates.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/shuttle/dropship.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/shuttle_console.dm
  icons/obj/structures/doors/dropship3_cargo.dmi
  icons/obj/structures/doors/dropship3_pilot.dmi
  icons/obj/structures/doors/dropship3_side.dmi
  icons/obj/structures/doors/dropship3_side2.dmi
  icons/turf/dropship3.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/shuttles/dropship_resolute.dmm
  strings/operation_prefix.txt
Labels: Feature, Sprites, Mapping, Sprites Approved

#6900 Fixes teslas in fiorina
  code/modules/defenses/tesla_coil.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Fix, Mapping

#6694 Requisitons additions
  code/datums/ASRS.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/explosives.dm
  code/datums/supply_packs/mortar.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/signs.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/cm_marines/equipment/gear.dm
  code/modules/gear_presets/synths.dm
  code/modules/projectiles/ammo_boxes/box_structures.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  code/modules/projectiles/ammo_boxes/misc_boxes.dm
  code/modules/projectiles/magazines/lever_action.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/lighting.dmi
  icons/obj/items/storage/packets.dmi
  icons/obj/items/weapons/grenade.dmi
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/structures/machinery/vending.dmi
  icons/obj/structures/props/decals.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/items/megaphone.ogg
  sound/machines/vending_drop.ogg
Labels: Feature, Fix, Balance, Quality of Life, Sound, Refactor, Sprites, Mapping, Balance Approved, Sprites Approved

#6997 A few paradrop-related tips.
  strings/marinetips.txt
  strings/memetips.txt
Labels: Feature

#7000 Emissive APCs
  code/__DEFINES/colours.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/apc.dm
  code/modules/vehicles/vehicle.dm
Labels: Quality of Life, Code Improvement

#6885 improvements to research datum
  code/datums/research_upgrade_datum.dm
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
  tgui/packages/tgui/interfaces/XenomorphExtractor.jsx
Labels: Code Improvement, UI

#6999 Remove fancy locker
  code/datums/vehicles.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/vehicles/interior/areas.dm
  code/modules/vehicles/interior/objects/fancy_locker.dm
  colonialmarines.dme
  maps/interiors/fancylocker.dmm
Labels: Mapping, Removal

#6934 Smartgun battery name sanity
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Grammar and Formatting

#6973 Stompers
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/gear_presets/survivors/misc.dm
  icons/mob/humans/onmob/feet.dmi
  icons/obj/items/clothing/shoes.dmi
  icons/obj/items/storage/boxes.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#7001 Changes the M44 heavy speed loader to be more clear
  code/modules/projectiles/magazines/revolvers.dm
Labels: Quality of Life

#6993 Predalien feral smash tweaks
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
Labels: Balance

#6819 small vai tweak
  code/modules/gear_presets/contractor.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/magazines/rifles.dm
Labels: Feature, Balance, Grammar and Formatting

#6918 New sound for revive notification
  code/game/objects/items/devices/defibrillator.dm
  code/modules/mob/living/carbon/human/species/zombie.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  sound/effects/revive_notify.ogg
Labels: Sound

#7007 Intelligence Officers latejoin QoL
  code/game/objects/effects/landmarks/landmarks.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Mapping, Mapping Approved

#6891 Small updates to reagent containers
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  code/game/objects/items/reagent_containers/reagent_container.dm
  code/game/objects/items/reagent_containers/spray.dm
  code/modules/mob/mob_helpers.dm
Labels: Code Improvement, Removal

#6647 CO armor resprite
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_suits.dmi
Labels: Sprites, Sprites Approved

#6941 Mortar camo variants
  code/modules/cm_marines/equipment/mortar/mortars.dm
  icons/obj/structures/mortar.dmi
Labels: Feature, Sprites, Sprites Approved

#6804 Resprite of old guns
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/smgs.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/colony.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/upp.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  icons/obj/items/weapons/guns/attachments/rail.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  icons/obj/items/weapons/guns/guns_by_faction/upp.dmi
Labels: Fix, Sprites, Sprites Approved

#6688 Tank IFF, Minigun tweaks, code cleanup & new hitsound
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/ammo/bullet/tank.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/minigun_ammo.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/sting_boom_small1.ogg
Labels: Balance, Sound, Sprites, Code Improvement, Stale Exempt, Sprites Approved

#6972 Varadero, Strata, Kutjevo, Shiva energy fix
  code/game/area/kutjevo.dm
  code/game/area/shiva.dm
  code/game/area/strata.dm
  code/game/area/varadero.dm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Feature, Fix, Mapping

#6811 Solar Devils ERT [PvE Marines]
  code/__DEFINES/job.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/solar_devils.dm
  code/datums/factions/uscm.dm
  code/datums/skills/uscm.dm
  code/game/jobs/job/marine/squads.dm
  code/game/objects/items/storage/toolkit.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/uscm.dm
  colonialmarines.dme
  icons/obj/items/clothing/ties.dmi
Labels: Feature, Sprites, Sprites Approved

#6982 Provost Rankpansion
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/provost.dm
  code/datums/factions/uscm.dm
  code/datums/paygrades/factions/uscm/provost.dm
  code/game/jobs/job/special/provost.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_event.dm
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Sprites Approved

#6850 Fullscreen improvements
  code/__DEFINES/client_prefs.dm
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/client.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences_toggles.dm
Labels: Feature, Fix, Quality of Life

#7018 Renegade Hive is now a different color
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Code Improvement

#6882 Adds giant lizards to LV-624
  code/datums/pain/_pain.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/reagent_containers/food.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  colonialmarines.dme
  icons/landmarks.dmi
  icons/mob/hud/hud.dmi
  icons/mob/mob_64.dmi
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  sound/ATTRIBUTION.txt
  sound/effects/giant_lizard_death.ogg
  sound/effects/giant_lizard_growl1.ogg
  sound/effects/giant_lizard_growl2.ogg
  sound/effects/giant_lizard_hiss1.ogg
  sound/effects/giant_lizard_hiss2.ogg
Labels: Feature, Sound, Sprites, Code Improvement, Mapping, Sprites Approved

#7016 Fixes character selection screen preview
  code/game/atoms_movable.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: Fix

#7010 Fix Boarding Shuttle
  code/modules/shuttle/shuttles/ert.dm
Labels: Fix, Mapping

#6978 Bursting+facehugger stats no longer count NPCs
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Fix

#6995 Revert #6903
  code/modules/security_levels/keycard_authentication.dm
Labels: Fix, Balance

#7020 Using a multitool to find an APC now highlights the APC
  code/game/objects/items/devices/multitool.dm
Labels: Feature

#7019 Autowiki data for xenomorph caste stats
  code/modules/autowiki/pages/xeno_stats.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  colonialmarines.dme
Labels: Missing Changelog

#7022 Updates CMO headset to be on par with other heads of staff
  code/game/objects/items/devices/radio/encryptionkey.dm
Labels: Balance

#6998 Psychic Whisper/Radiance flavour.
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/span_macros.dm
  code/stylesheet.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, UI

#7030 Fix typo
  code/modules/autowiki/pages/xeno_stats.dm
Labels: Missing Changelog

#7024 Fixes specialist set refunding
  code/modules/cm_marines/specialist.dm
Labels: Fix

#7027 Changes default verbs for staff
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/verbs/shuttlepanel.dm
Labels: Code Improvement, Admin

#7036 Req Vendors Typo/Clarity/Remove RO mentions
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Grammar and Formatting

#7044 Xenos no more killing crit allies by dragging/devouring them
  code/datums/pain/_pain.dm
Labels: Feature

#7042 Reorders Groundside Operations console sorting
  code/game/machinery/computer/groundside_operations.dm
Labels: Feature

#7035 Changed misleading Reinforced Treads description
  code/modules/vehicles/hardpoints/wheels/treads.dm
Labels: Quality of Life

#7034 Fix skipped queen wiki template
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Missing Changelog

#7055 fixes plasteel braicade disasembly mats
  code/game/objects/structures/barricade/non_folding.dm
Labels: Fix

#7041 Less confusion regarding CL intro text
  code/game/jobs/job/civilians/other/liaison.dm
Labels: Fix

#7009 Fix for broken nightmare inserts
  code/modules/nightmare/nmnodes/mapload.dm
  maps/map_files/FOP_v3_Sciannex/sprinkles/unused/20.medicalhold.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/unused/20.labs-larder.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/unused/33.labs-entrance.dmm
Labels: Fix, Mapping

#7057 Create_member no longer gets called twice
  code/datums/emergency_calls/emergency_call.dm
Labels: Fix

#6937 Buff Marine Armour During HvH
  code/__DEFINES/mode.dm
  code/datums/decorators/gamemode_decorator.dm
Labels: Balance

#7028 Fixes crates being pitch black on ASRS animation
  code/modules/shuttles/shuttle_supply.dm
Labels: Fix
