Repository cmss13-devs/cmss13, pull requests merged in 2024-03, with the labels that each got.

#5687 fixes custom chemicals not working on the flamer nozzle
  code/datums/ammo/ammo.dm
  code/datums/ammo/misc.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#5852 Fixes the pulling of trading cards out of a pack message being visible to other people
  code/game/objects/items/storage/fancy.dm
Labels: Fix

#5820 Fixes traps triggering when shuttlecrushed
  code/modules/cm_aliens/structures/trap.dm
Labels: Fix

#5850 Changes overwatch consoles to useSharedState to prevent losing state information upon closing the UI
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Refactor, UI

#5855 Fixes black tiles on lifeboats
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Fix, Mapping, Mapping Approved

#5858 Makes larvae do the attack animation when nudging
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Feature

#5862 Adds a visual indicator to the Transfer Plasma ability
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
Labels: Feature, Quality of Life

#5859 ahelp touchups
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/mob_defines.dm
Labels: Admin

#5854 Fix UPP & CLF Synth Skills
  code/__DEFINES/human.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
Labels: Fix, Grammar and Formatting

#5813 Adds CLF TL to the crashed ship & updates some intro-texts for crashed ship & PMC spawns
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Grammar and Formatting, Mapping, Mapping Approved

#5864 Fixes the X17 Riot Breaching Charge
  code/game/objects/items/explosives/plastic.dm
Labels: Fix, Code Improvement

#5851 Vehicle bay elevator stuff
  code/game/machinery/door_control.dm
  code/game/objects/effects/elevator.dm
  code/game/supplyshuttle.dm
  code/game/turfs/floor_types.dm
  code/modules/shuttle/vehicle_elevator.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_supply.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#5870 Adds a verb to see medals you've given out
  code/game/verbs/records.dm
Labels: Feature

#5871 Makes sensor tower a bit more robust
  code/modules/desert_dam/motion_sensor/sensortower.dm
Labels: Fix

#5866 Adds Balloon Alerts to Smartgunners
  code/modules/projectiles/guns/smartgun.dm
Labels: Quality of Life

#5821 Project ARES: AI Core Makeover
  code/__DEFINES/__game.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/walls/wall_types.dm
  icons/obj/structures/doors/blastdoors_shutters.dmi
  icons/turf/floors/aicore.dmi
  icons/turf/walls/almayer_aicore.dmi
  icons/turf/walls/almayer_aicore_white.dmi
  icons/turf/walls/window_frames.dmi
  icons/turf/walls/windows.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#5872 Marked_admin and ckey.
  code/modules/admin/verbs/adminhelp.dm
Labels: Admin

#5802 ports lazy templates, uses them for ert stations. distress beacons now start in transit to the ship, and return to their very own ert home
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/shuttles.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/lazy_templates.dm
  code/controllers/subsystem/mapping.dm
  code/datums/emergency_calls/cbrn.dm
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/ert_stations.dm
  code/datums/emergency_calls/forsaken_xenos.dm
  code/datums/emergency_calls/goons.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/pizza.dm
  code/datums/emergency_calls/pmc.dm
  code/datums/emergency_calls/royal_marines.dm
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/upp_commando.dm
  code/datums/lazy_template.dm
  code/game/area/admin_level.dm
  code/game/area/areas.dm
  code/game/turfs/open.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/wall_icon.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/shuttles/ert.dm
  colonialmarines.dme
  maps/templates/freelancer_ert_station.dmm
  maps/templates/lazy_templates/clf_ert_station.dmm
  maps/templates/lazy_templates/freelancer_ert_station.dmm
  maps/templates/lazy_templates/twe_ert_station.dmm
  maps/templates/lazy_templates/upp_ert_station.dmm
  maps/templates/lazy_templates/weyland_ert_station.dmm
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Labels: Feature, UI, Mapping, Mapping Approved

#5849 New Chinook
  maps/templates/Chinook.dmm
Labels: Mapping, Mapping Approved

#5874 Adds Professor DUMMY to the CMO office, accessible by the CMO and the SEA
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#5877 Crashed/Hijacked Dropship Mode Fixes
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Fix

#5891 Powernet Fixes
  code/game/machinery/fusion_engine.dm
  code/modules/power/smes.dm
Labels: Fix

#5857 Fiorina Nightmare Insert
  code/game/objects/effects/landmarks/survivor_spawner.dm
  maps/Nightmare/maps/FOP_v3_Sciannex/nightmare.json
  maps/Nightmare/maps/FOP_v3_Sciannex/scenario.json
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/riot_in_progress.dmm
Labels: Mapping, Mapping Approved

#5883 slight change to warrior sprite
  icons/mob/xenos/warrior.dmi
  icons/mob/xenos/weeds_64x64.dmi
Labels: Sprites, Sprites Approved

#5892 Fix LateInitialize not occurring for poddoors for relativewall_neighbours
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#5890 buffs ravager empower
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
Labels: Balance, Balance Approved

#5897 Fix for answering marked tickets.
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#5911 Fix chestrig expecting map skins
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#5900 Spare medical/engineering radios.
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Feature

#5917 Dropship doors can now always be broken by queen
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: Fix

#5902 Drop Pouch Buff
  code/modules/clothing/under/ties.dm
Labels: Balance, Balance Approved

#5510 Project ARES: Ticket Notifications
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/objects/items/cards_ids.dm
  sound/machines/pda_ping.ogg
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Feature, Sound, Stale Exempt

#5922 New Vines (yoinked from TGMC)
  icons/effects/spacevines.dmi
Labels: Sprites, Sprites Approved

#5838 Resprites - 2/2024 Edition
  code/datums/diseases/black_goo.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/reagent_containers/glass/bottle/robot.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/tools/hydro_tools.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/modules/hydroponics/hydro_tools.dm
  code/modules/reagents/chemistry_machinery/pandemic.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  icons/mob/hud/hud.dmi
  icons/obj/items/chemistry.dmi
  icons/obj/items/items.dmi
  icons/obj/items/reagentfillings.dmi
  icons/obj/items/storage.dmi
  icons/obj/structures/closet.dmi
  icons/obj/structures/machinery/big_floodlight.dmi
  icons/obj/structures/mortar.dmi
  icons/obj/structures/tables.dmi
Labels: Fix, Sprites, Testmerge Candidate, Sprites Approved

#5921 Tutorial documentation and proc update
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/creating_a_tutorial.md
Labels: Documentation

#5908 Balance : adding M44 Marksman Speed Loader and SU-6 Smartpistol Magazine to marine squads vendors.
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance, Balance Approved

#5913 Changes to SG vendor add the ability to buy more sidearm ammo type and a smartgun battery.
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
Labels: Balance, Balance Approved

#5899 Middleclick buckling.
  code/_onclick/other_mobs.dm
Labels: Quality of Life

#5905 Light replacer speeds up colony light repair
  code/game/machinery/colony_floodlights.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
Labels: Fix, Balance, Grammar and Formatting, Balance Approved

#5932 Fixes pill bottlecaps not showing when closed
  icons/obj/items/chemistry.dmi
Labels: Fix, Sprites, Testmerge Candidate, Sprites Approved

#5948 Changes Insanity law description to match new wiki.
  code/modules/law/laws/precautionary_charge.dm
Labels: Grammar and Formatting

#5879 Refactor areas on Almayer in upper deck and tweak map a bit to reflect it.
  code/game/area/almayer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Refactor, Stale, Mapping, Mapping Approved

#5952 Removes unintended hullwalls on LV522, Removes some ledges on LV522
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#5949 Fix for ghosts and announcements.
  code/defines/procs/announcement.dm
Labels: Fix

#5951 Fixes for Professor Dummy.
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
Labels: Fix

#5950 Med Skill Rebalance Mk2 Demon Free Edition
  code/game/objects/items/devices/defibrillator.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5887 Pizza Station is back on the menu
  code/datums/emergency_calls/ert_stations.dm
  code/datums/emergency_calls/pizza.dm
  code/game/area/admin_level.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  maps/templates/lazy_templates/clf_ert_station.dmm
  maps/templates/lazy_templates/pizza_ert_station.dmm
  maps/templates/lazy_templates/twe_ert_station.dmm
  maps/templates/lazy_templates/weyland_ert_station.dmm
Labels: Mapping, Mapping Approved

#5906 Use OpenDream release for linter
  .github/workflows/ci_suite.yml
  tools/ci/download_od.sh
  tools/ci/run_od.sh
  tools/ci/setup_od.sh
Labels: Github

#5947 Adds and updates various logs
  code/__DEFINES/chat.dm
  code/datums/components/temporary_mute.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/modules/admin/admin.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/defenses/defenses.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_grab.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/span_macros.dm
  code/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: Fix, Logging, UI, Admin

#5928 Small `/client/MouseDrop()` params fix
  code/_onclick/click_hold.dm
Labels: Refactor

#5939 Removes HEAP from all UPP VENDOR gear presets
  code/modules/gear_presets/upp.dm
Labels: Removal

#5934 Makes 'Join as Xeno' disable admin larva protection
  code/__HELPERS/game.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Admin

#5958 Pilot Rework 2.0
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/jobs/job/command/auxiliary/cas_pilot.dm
  code/game/jobs/job/command/auxiliary/dropship_pilot.dm
  code/game/jobs/job/command/auxiliary/pilot.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
Labels: Feature, Balance, Mapping, Balance Approved, Mapping Approved

#5916 Fixes synthetics being in a weird limbo state when they have their head reattached.
  code/modules/mob/living/carbon/human/death.dm
Labels: Fix

#5965 fixes map ugliness and added some access restriction to some area.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5954 Synthetic Vendor Items Update
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature, Balance, Balance Approved

#5845 Dress Blues
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Stale, Removal

#5805 The Corpsening
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/gear_presets/corpses.dm
Labels: Feature

#5930 Adds Cardboard Boxes To Squad Rooms
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5886 refactor : poddoor file and shutters file.
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/poddoor/almayer.dm
  code/game/machinery/doors/poddoor/poddoor.dm
  code/game/machinery/doors/poddoor/shutters/shutters.dm
  code/game/machinery/doors/poddoor/two_tile.dm
  colonialmarines.dme
Labels: Refactor

#5975 Xeno eggs now take finger prints
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Admin

#5990 Tacmap makes no update noise for observers when hear/silence ghost announcement is toggled on
  code/modules/mob/mob_helpers.dm
Labels: Feature

#5976 Cleanup role selection for various game modes
  code/modules/client/preferences.dm
Labels: UI

#5956 Fix for Marsoc spawnpoint.
  code/datums/emergency_calls/deathsquad.dm
Labels: Admin

#5980 Fixes delayed launch launching lifeboat even if locked by queen
  code/modules/shuttle/shuttles/crashable/lifeboats.dm
Labels: Fix

#5994 Fortune Changes
  strings/fortunes.txt
Labels: Feature, Grammar and Formatting

#5973 Revives #5330: Desk Bells
  code/modules/paperwork/desk_bell.dm
  colonialmarines.dme
  icons/obj/objects.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/misc/desk_bell.ogg
Labels: Feature, Sound, Sprites, Mapping, Sprites Approved, Mapping Approved

#5991 [FIX,MAP] move semiotic in north evac pod so you can't see it when your behind in hull maintenance.
  maps/shuttles/escape_shuttle_n.dmm
Labels: Fix, Mapping, Mapping Approved

#5982 Allows wardens to heal eachother again at half the health and gives a bigger message
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Balance, Balance Approved

#5868 Adds USCM Patch to Uniforms
  code/game/machinery/vending/cm_vending.dm
Labels: Feature, Stale

#5943 Body zone targeting keybinds refactor and a fix
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix, Refactor, Stale

#5996 Fixes indefinite stasis bug
  code/modules/mob/living/living_verbs.dm
Labels: Fix

#6009 Working Joes now Respawn (The PR respawned again)
  code/__DEFINES/ARES.dm
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Labels: Feature, Balance, Balance Approved, Admin

#5968 Adds holocards to health scans, adds a new purple holocard
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living_healthscan.dm
  icons/effects/Targeted.dmi
  tgui/packages/tgui/interfaces/HealthScan.jsx
Labels: Feature, Sprites, UI, Sprites Approved

#6010 Minor additons to Synth vendor, renames a uniform used by colonists
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/synths.dm
Labels: Feature

#6013 Autocompressor Efficiency Increase mk2
  code/game/objects/items/tools/experimental_tools.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5987 Adds third level of observer zoom to Toggle Zoom
  code/modules/mob/dead/observer/observer.dm
Labels: Code Improvement, Stale

#5974 A more breakable Kutjevo
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping, Mapping Approved

#6006 Fixes chair/bed teleporting
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix

#5940 you can now use the mortar during hijack if you are not a coward + custom shell warning for ghosts
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Feature, Balance

#5979 Slightly expands weedible area to of west lZ2 T-comms area
  code/game/area/LV624.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
Labels: Mapping, Mapping Approved

#6008 LV522 Changes: Ledges, Sewer, Reactor Entry, East reactor
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#5992 Fix,update CLF ERT Station. fix space tile and missing platform.
  maps/templates/lazy_templates/clf_ert_station.dmm
Labels: Fix, Mapping, Mapping Approved

#6051 Opens up FORECON crashsite to regular play while maintaining the survivor democharge objective
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#6024 'movable_pre_move overridden' runtime fix
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#6025 Fixes a few runtimes from HUD cycling
  code/datums/keybinding/human.dm
Labels: Fix

#6038 Removes unused camera var
  code/game/machinery/camera/camera.dm
Labels: Code Improvement

#6029 Move holocards to the squad hud
  code/__DEFINES/mob_hud.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  icons/effects/Targeted.dmi
  icons/mob/hud/marine_hud.dmi
Labels: Feature, Sprites

#6028 Fixes Marine Minor (Hive collapse)
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Fix

#5763 Map: Bigred change south lambda padlock and turned it into a checkpoint.
  code/game/area/BigRed.dm
  maps/map_files/BigRed/BigRed.dmm
Labels: Refactor, Code Improvement, Mapping, Mapping Approved

#6054 Fix for firing mortar.
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Fix
