Repository cmss13-devs/cmss13, pull requests merged in 2024-07, with the labels that each got.

#6439 Larva aesthetic update
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  icons/mob/xenos/larva.dmi
  sound/voice/larva_talk1.ogg
  sound/voice/larva_talk2.ogg
  sound/voice/larva_talk3.ogg
  sound/voice/larva_talk4.ogg
Labels: Sound, Sprites, Sprites Approved

#6577 Clarity for facehugger/drone text
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Grammar and Formatting

#6591 In-view verbs work for varying view ranges
  code/modules/admin/callproc.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/verbs/freeforghosts.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_helpers.dm
Labels: Quality of Life, Admin

#6574 Replaces Synth Vendor Headset
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Balance

#6611 Automatic TGS DMAPI Update
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/v3210/api.dm
Labels: Tools, Missing Changelog

#6608 Make Non-Toxic Water Stop Glowing
  code/game/turfs/floors/desert.dm
Labels: Feature, Fix

#6528 fix med rig belt description
  code/game/objects/items/storage/belt.dm
Labels: Grammar and Formatting, Stale

#6524 Gives Screenshake an actual smoothing value versus just jumping over a single frame
  code/modules/mob/mob_helpers.dm
Labels: Feature, Quality of Life, Stale

#6512 iron teeth character trait
  code/__DEFINES/traits.dm
  code/datums/elements/mouth_drop_item.dm
  code/modules/character_traits/biology_traits.dm
Labels: Feature, Stale

#6523 Fix weird hardpoint and vehicle examines
  code/game/objects/items.dm
  code/modules/vehicles/hardpoints/armor/ballistic.dm
  code/modules/vehicles/hardpoints/armor/caustic.dm
  code/modules/vehicles/hardpoints/armor/concussive.dm
  code/modules/vehicles/hardpoints/armor/paladin.dm
  code/modules/vehicles/hardpoints/armor/snowplow.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/hardpoints/primary/autocannon.dm
  code/modules/vehicles/hardpoints/primary/dual_cannon.dm
  code/modules/vehicles/hardpoints/primary/flamer.dm
  code/modules/vehicles/hardpoints/primary/ltb.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
  code/modules/vehicles/hardpoints/secondary/flamer.dm
  code/modules/vehicles/hardpoints/secondary/frontal_cannon.dm
  code/modules/vehicles/hardpoints/secondary/grenade_launcher.dm
  code/modules/vehicles/hardpoints/secondary/tow.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  code/modules/vehicles/hardpoints/support/artillery.dm
  code/modules/vehicles/hardpoints/support/flare.dm
  code/modules/vehicles/hardpoints/support/iwsa.dm
  code/modules/vehicles/hardpoints/support/overdrive.dm
  code/modules/vehicles/hardpoints/wheels/apc_wheels.dm
  code/modules/vehicles/hardpoints/wheels/arc_wheels.dm
  code/modules/vehicles/hardpoints/wheels/locomotion.dm
  code/modules/vehicles/hardpoints/wheels/treads.dm
  code/modules/vehicles/multitile/multitile.dm
Labels: Grammar and Formatting, Stale

#6613 Fixes "Cannot Examine"
  code/modules/mob/mob_helpers.dm
Labels: Fix

#6620 Sound Environment update
  code/__DEFINES/sounds.dm
  code/datums/soundOutput.dm
  code/game/sound.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
Labels: Code Improvement

#6595 SEA tracking options
  code/__DEFINES/mob_hud.dm
  code/game/jobs/job/command/police/chief_police.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/hud/human_midnight.dmi
Labels: Feature, Sprites, Sprites Approved

#6593 White corpsman helmet
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Feature, Sprites, Sprites Approved

#6615 Changes OOC color settings so donators aren't defaulted to mentor colors
  code/game/verbs/ooc.dm
Labels: Code Improvement

#6598 stops mentors seeing debug messages
  code/__HELPERS/logging.dm
  code/controllers/mc/failsafe.dm
  code/controllers/mc/master.dm
  code/modules/tgchat/to_chat.dm
Labels: Admin

#6534 Swaps MOTD and TM load order in chatbox, nukes no admin event message
  code/datums/event_info_text.dm
  code/modules/mob/new_player/login.dm
Labels: UI, Admin

#6630 Re-adds a fax machine to the WY ERT station
  maps/templates/lazy_templates/weyland_ert_station.dmm
Labels: Feature, Mapping

#6634 Fix req tutorial landmark not being cleaned up
  code/datums/tutorial/marine/reqs_line.dm
Labels: Fix

#6398 adds two scrub colors: green and grey
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Grammar and Formatting, Sprites Approved

#6551 Adds map name to game mode logging at round start.
  code/game/gamemodes/game_mode.dm
Labels: Code Improvement

#6567 Adds chemical property encephalophrasive
  code/__DEFINES/chemistry.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Labels: Feature, Fix, Code Improvement, Removal

#6397 Improvements to box vending in Requisitions
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
  code/modules/projectiles/item_to_box_mapping.dm
Labels: Fix, Quality of Life, Code Improvement, Stale Exempt

#6637 Fixes flash bug
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/explosives/grenades/flashbang.dm
Labels: Fix

#6648 makes splint breaking message bigger
  code/modules/organs/limbs.dm
Labels: Quality of Life

#6623 Adds covert contractors (VAISO) to the ERT pool
  code/datums/emergency_calls/contractor.dm
Labels: Feature

#6368 USCM ERT Station | USS Kurtz
  code/datums/emergency_calls/cbrn.dm
  code/datums/emergency_calls/ert_stations.dm
  code/game/area/admin_level.dm
  icons/obj/structures/props/almayer_props64.dmi
  maps/templates/lazy_templates/uscm_ert_station.dmm
Labels: Sprites, Mapping, Mapping Approved

#6364 FORECON Gear Preset + Admin ERT Addition
  code/__DEFINES/job.dm
  code/controllers/subsystem/communications.dm
  code/datums/emergency_calls/forecon.dm
  code/game/jobs/job/marine/squads.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/gear_presets/uscm_forecon.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist/scout.dm
  colonialmarines.dme
Labels: Feature, Stale Exempt

#6496 Added Vendables to Staff Officer Closet
  code/game/machinery/vending/vendor_types/crew/staff_officer_armory.dm
Labels: Feature, Quality of Life, Stale

#6550 Burrower burrow transparency
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix, Stale

#6670 Gives VAISO Operatives Night Vision Optics
  code/modules/gear_presets/contractor.dm
Labels: Feature

#6543 Jtac, Intel kits for req and IO vendor
  code/datums/supply_packs/restricted_equipment.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Feature, Balance, Stale

#6570 Hivelord meson vision
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Feature, Balance

#6665 CMP Tracker icons fix
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
Labels: Sprites

#6655 Power Loader sound normalization
  sound/mecha/powerloader_attack.ogg
  sound/mecha/powerloader_step.ogg
  sound/mecha/powerloader_step2.ogg
  sound/mecha/powerloader_turn.ogg
  sound/mecha/powerloader_turn2.ogg
  sound/mecha/powerloader_unbuckle.ogg
Labels: Sound

#6653 Elevates InvalidIndexOperation pragma to an error.
  code/__pragmas.dm
  code/datums/components/_component.dm
  code/game/machinery/vending/cm_vending.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/paperwork/notepad.dm
  code/modules/paperwork/paper_bundle.dm
Labels: Code Improvement, Missing Changelog

#6549 Xeno intents
  icons/mob/hud/alien_standard.dmi
Labels: Sprites, Stale

#6544 demo scanner now properly works for incinerator tanks
  code/game/objects/items/devices/scanners.dm
  code/modules/projectiles/magazines/flamer.dm
Labels: Fix, Grammar and Formatting, Stale

#6568 Chemical simulator TGUI
  code/_globalvars/global_lists.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/chemical_research/Chemical-Research.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  nano/templates/chem_simulator.tmpl
  tgui/packages/tgui/interfaces/ChemSimulator.jsx
  tgui/packages/tgui/styles/themes/weyland.scss
Labels: UI

#6675 Request denied fix
  code/game/supplyshuttle.dm
Labels: Fix

#6674 roofs added
  code/game/objects/structures/roof.dm
  colonialmarines.dme
Labels: Feature

#6638 Cooked mortar shell explosion is now fixed
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
Labels: Removal

#6375 Buff XM88
  code/datums/ammo/bullet/lever_action.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Balance, Stale Exempt, Balance Approved

#6642 Adds Ties to Synth Snowflake Vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature, Stale

#6390 Fixes spec kit, AGAIN
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix

#6614 mp5 has 10% chance to spawn with m203 UGL attached
  code/modules/projectiles/guns/smgs.dm
Labels: Feature, Stale

#6681 Quadtrees shapes
  code/_macros.dm
  code/controllers/subsystem/sound.dm
  code/datums/quadtree.dm
  code/game/camera_manager/camera_manager.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/devices/motion_detector.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_computer.dm
  code/modules/defenses/sentry_flamer.dm
Labels: Missing Changelog

#6492 Adds a plantable UA flag in the CIC armoury
  code/game/objects/items/stacks/flags.dm
  code/game/objects/objs.dm
  icons/mob/humans/onmob/items_lefthand_64.dmi
  icons/mob/humans/onmob/items_righthand_64.dmi
  icons/obj/structures/plantable_flag.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/effects/.wav
  sound/effects/flag_lowering.ogg
  sound/effects/flag_raised.ogg
  sound/effects/flag_raising.ogg
  sound/effects/flag_warcry_ua.ogg
  sound/effects/flag_warcry_ua_extra.ogg
Labels: Feature, Sound, Sprites, Stale Exempt, Mapping

#6609 Some fixes to paradropping
  code/__DEFINES/dcs/signals/atom/signals_movable.dm
  code/__DEFINES/traits.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/transit.dm
  code/modules/movement/movement.dm
  code/modules/projectiles/projectile.dm
Labels: Balance, Stale, Balance Approved

#6677 unowns queen remote build
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Fix

#6726 Rsf, rsp and rcd removal
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/devices/RCD.dm
  code/game/objects/items/devices/RSF.dm
  code/game/objects/items/devices/RSP.dm
  code/game/objects/structures/crates_lockers/crates.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
Labels: Mapping, Removal

#6676 Splits the civ-only combat reporter gear into their own category.
  code/game/machinery/vending/vendor_types/crew/combat_correspondent.dm
Labels: Feature, Stale

#6729 Malf suits closet and jetpack removal
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  colonialmarines.dme
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Mapping, Removal, Mapping Approved

#6717 Fix light blue scrub cost in snowflake vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Fix

#6720 Wheelchair broken hand move delay standardazation
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: Fix

#6738 Holo-round runtime fix
  code/datums/components/bonus_damage_stack.dm
Labels: Fix

#6737 Planted flag bugfix and warcry removal
  code/game/objects/items/stacks/flags.dm
Labels: Feature, Fix, Removal

#6745 Sound range
  code/controllers/subsystem/sound.dm
Labels: Fix

#6713 SO Armory Vendor Hotfix
  code/game/machinery/vending/vendor_types/crew/staff_officer_armory.dm
Labels: Fix

#6667 G2 Electroshock Grenade "Sonic Electric Ball Breakers (SEBB)" [Revived Edition]
  code/datums/supply_packs/explosives.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/game/objects/items/explosives/mine.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/projectiles/ammo_boxes/grenade_packets.dm
  icons/effects/sebb.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/weapons/grenade.dmi
  sound/effects/sebb.ogg
  sound/effects/sebb_beep.ogg
  sound/effects/sebb_explode.ogg
Labels: Feature, Fix, Balance, Sound, Sprites, Stale, Balance Approved, Sprites Approved

#6579 Changes the tank's primary flamer to fire a 3-tile wide glob of high-combustion napalm
  code/datums/ammo/misc.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/primary_flamer_ammo.dm
  code/modules/vehicles/hardpoints/primary/flamer.dm
Labels: Balance, Stale, Balance Approved

#6679 Fixes utensils attacking when trying to feed while full
  code/game/objects/items/tools/kitchen_tools.dm
Labels: Fix, Stale

#6651 Removes facial disfigurement
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/limbs.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/surgery/face.dm
  colonialmarines.dme
Labels: Stale, Removal

#6683 More explosion causes logged
  code/datums/autocells/explosion.dm
  code/game/objects/explosion_recursive.dm
Labels: Logging, Admin

#6754 Fixes Abom tutorial softlock
  code/datums/tutorial/xenomorph/abomination.dm
Labels: Fix

#6756 Fixes item actions not working properly
  code/datums/action.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/devices/whistle.dm
  code/modules/clothing/gloves/boom_glove.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#6758 trade destination removal (more never used stuff)
  code/modules/economy/TradeDestinations.dm
  code/modules/economy/economy_misc.dm
  colonialmarines.dme
Labels: Removal

#6760 pick_weight over pickweight
  code/__HELPERS/_lists.dm
  code/__HELPERS/lists.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/supplyshuttle.dm
  code/modules/nightmare/nmnodes/flow.dm
Labels: Code Improvement

#6715 HPR Starts With Bipod Attached
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Feature

#6578 m56d ammo for m56 cupola
  code/modules/vehicles/hardpoints/hardpoint_ammo/cupola_ammo.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
Labels: Balance, Balance Approved

#6763 Fixes lifeboat launch console being slashable / acidable
  code/modules/shuttle/computer.dm
Labels: Fix

#6583 Port WHO to TGUI
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/who.dm
  code/game/verbs/who.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/StaffWho.jsx
  tgui/packages/tgui/interfaces/Who.jsx
Labels: Quality of Life, UI

#6585 Queen Maturity Timer
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#6693 Made big XM88 boxes behave like other handful boxes
  code/modules/projectiles/ammunition.dm
Labels: Refactor, Stale

#6721 water particle code cleanup
  code/game/objects/effects/effect_system/particle_effects.dm
Labels: Code Improvement

#6782 Fix quadtree AABB issue
  code/datums/quadtree.dm
Labels: Fix

#6722 /obj/item/device/suit_cooling_unit removal
  code/game/objects/items/devices/suit_cooling.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/mob/living/carbon/human/life/life_helpers.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
Labels: Code Improvement, Mapping, Removal, Mapping Approved

#6668 Fixes of gib animation, gib remains, adds new
  code/modules/mob/living/carbon/xenomorph/death.dm
  icons/mob/xenos/larva.dmi
  icons/mob/xenos/xenomorph_64x64.dmi
Labels: Fix, Sprites, Sprites Approved

#6776 Species default iron teeth trait
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
Labels: Feature

#6581 Shoes resprite
  icons/obj/items/clothing/shoes.dmi
Labels: Sprites, Sprites Approved

#6684 Loading Lobby Art
  code/controllers/subsystem/init/lobby_art.dm
  code/game/turfs/walls/wall_types.dm
  icons/lobby/title_loading.dmi
  maps/map_files/generic/Admin_level.dmm
Labels: Quality of Life, Sprites, Mapping, Sprites Approved

#6563 Adds Urban Sprite For Ghillie Suit
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
Labels: Sprites, Sprites Approved

#6716 Adds same hats available to Staff Officers to the ASO vendor
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Feature, Stale

#6787 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/v5/api.dm
Labels: Tools, Missing Changelog

#6695 Allows you to wear the warning cone
  code/game/objects/items/tools/cleaning_tools.dm
  icons/mob/humans/onmob/head_0.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#6661 lifeboat can now be unhacked by pilot
  code/modules/shuttle/computer.dm
Labels: Feature

#6810 stops attempted stripping when stunned etc.
  code/datums/elements/strippable.dm
Labels: Fix

#6762 Brig Detainment Cameras now have their own Console
  code/__DEFINES/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera_console.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#6761 Makes M44 revolver rig and SG holster fit any revolver
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/items/storage/belt.dm
  code/modules/gear_presets/pmc.dm
Labels: Balance, Balance Approved

#6759 Adds a grab and throw animation + sound
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob.dm
Labels: Feature

#6673 Unique observer submenus for non-standard marine squads
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Feature, Stale, UI

#6616 Make Clusters spread hive weeds on Semi-Weedable surfaces.
  code/modules/cm_aliens/weeds.dm
Labels: Balance, Stale Exempt, Balance Approved

#6803 Hydro lights removal UNUSED!
  code/game/machinery/bio-dome_floodlights.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  colonialmarines.dme
  maps/templates/baseone.dmm
  maps/templates/basetwo.dmm
Labels: Mapping, Removal, Mapping Approved

#6798 Holopad removal
  code/game/machinery/hologram.dm
  colonialmarines.dme
  maps/map_files/generic/Admin_level.dmm
Labels: Mapping, Removal, Mapping Approved

#6801 Mass driver removal
  code/game/machinery/mass_driver.dm
  colonialmarines.dme
Labels: Removal

#6802 autoGibber and miner removal UNUSED
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/mining.dm
Labels: Removal

#6796 Air senzor removal
  code/game/machinery/air_sensor.dm
  colonialmarines.dme
Labels: Removal

#6790 Xeno Special Stuctures now ignore Nests.
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Quality of Life

#6781 Increases XO Police skill by 1
  code/datums/skills/uscm.dm
Labels: Balance, Balance Approved

#6777 Smartgunners can carry folding cades on their backs
  code/game/objects/structures/barricade/deployable.dm
Labels: Balance, Balance Approved

#6807 stops people from buckling others when they shouldn't be able to
  code/game/objects/objs.dm
Labels: Fix

#6813 capitalize W in workshop for ordnance workshop area
  code/game/area/almayer.dm
Labels: Grammar and Formatting

#6814 changes circuit board name in vendor from auxiliar --> auxiliary power storage unit
  code/game/machinery/vending/vendor_types/engineering.dm
Labels: Grammar and Formatting

#6696 Disablers can no longer execute people
  code/__DEFINES/conflict.dm
  code/_globalvars/bitfields.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
Labels: Removal

#6295 Rank Change Experiment
  code/__DEFINES/job.dm
  code/datums/datacore.dm
  code/game/jobs/job/job.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/cbrn.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_forecon.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Feature, Code Improvement, Stale Exempt

#6817 Remove electric chair
  code/game/objects/structures/electricchair.dm
  colonialmarines.dme
Labels: Removal, Missing Changelog

#6724 Drone devices removal
  code/game/objects/items/devices/drone_devices.dm
  code/game/objects/prop.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Mapping, Removal, Mapping Approved
