Repository cmss13-devs/cmss13, pull requests merged in 2024-04, with the labels that each got.

#6055 fixes backpacks not showing up in hands on chance's claim
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
Labels: Sprites

#6003 Fixes carlarc's OP chocolate
  code/game/machinery/bots/bots.dm
  code/game/machinery/deployable.dm
  code/game/objects/items.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/misc.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/lamarr_cage.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/window.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/power/lighting.dm
  code/modules/vehicles/vehicle.dm
Labels: Fix

#5006 Project ARES: Added Tech Unlock logs
  code/__DEFINES/ARES.dm
  code/controllers/subsystem/objectives_controller.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_records.dm
  code/game/machinery/camera/presets.dm
  code/modules/cm_tech/tech.dm
  code/modules/cm_tech/techs/abstract/transitory.dm
  code/modules/cm_tech/techs/marine/tier1/points.dm
  code/modules/cm_tech/techs/marine/tier2/orbital_ammo.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/cm_tech/trees/marine.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/AresAdmin.js
  tgui/packages/tgui/interfaces/AresInterface.jsx
Labels: Feature, Stale Exempt, UI, Mapping, Mapping Approved

#6067 Changes CL and SEA office phones from Almayer category to Office
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#6050 Fix inconsistent number ranges for EFTPOS pin & access code
  code/modules/economy/EFTPOS.dm
Labels: Fix

#6053 Makes acid spray extinguish more consistent
  code/game/objects/effects/aliens.dm
Labels: Quality of Life

#6069 Fixes xenos ability to use corrosive acid after death
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
Labels: Fix

#5983 NVO no longer can be used with binoculars/optics
  code/game/objects/items/devices/helmet_visors.dm
  code/modules/clothing/head/helmet.dm
Labels: Balance, Balance Approved

#6077 Fixes queen not being able to spawn
  code/__DEFINES/xeno.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/jobs/job/antag/xeno/queen.dm
Labels: Fix

#6032 Metal rods take up less space (From 3 to 2)
  code/game/objects/items/stacks/rods.dm
Labels: Balance, Code Improvement

#6037 [Balance]add the ability to store fixOvein in the pouch medkit.
  code/game/objects/items/storage/pouch.dm
Labels: Balance, Stale

#5774 Updated XM43E1 for Sniper Spec
  code/__DEFINES/weapon_stats.dm
  code/_globalvars/global_lists.dm
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/sniper.dm
  code/datums/elements/bullet_trait/damage_boost.dm
  code/datums/elements/bullet_trait/penetrating/weak.dm
  code/datums/supply_packs/spec_ammo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/magazines/specialist.dm
  code/modules/projectiles/projectile.dm
  colonialmarines.dme
  icons/obj/items/weapons/guns/lineart.dmi
Labels: Feature, Balance, Testmerge Candidate, Balance Approved, Needs Testing

#6031 reduces impact area from 9x9 to 7x7, lowers DPS slightly
  code/modules/cm_marines/dropship_ammo.dm
Labels: Balance, Stale, Balance Approved

#6059 gives proper light armor slowdown to goon armor
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/under/marine_uniform.dm
Labels: Balance, Balance Approved

#6020 Super Strength Grab Changes (Never skip arm day)
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#6085 Fix runtimes when sending messages for ERT objectives
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/xeno_cultists.dm
Labels: Fix

#6083 No More Prep Raiding
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Balance, Balance Approved

#6084 Project ARES: Supply Drop logging.
  code/game/supplyshuttle.dm
  code/modules/cm_marines/overwatch.dm
Labels: Feature, Admin

#6002 Faster snow removal for bigger xenomorphs
  code/game/turfs/auto_turf.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Balance, Balance Approved

#6086 Tactical reload does not get canceled by movement
  code/modules/projectiles/gun_helpers.dm
Labels: Balance, Balance Approved

#6058 Cryo Tube Rework
  code/game/machinery/cryo.dm
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/life/handle_chemicals_in_body.dm
  tgui/packages/tgui/interfaces/Cryo.jsx
Labels: Fix, Balance, Refactor, UI, Balance Approved

#6043 Adds an APOLLO maintenance controller to the Warden's Office.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Stale, Mapping

#6061 Attack logs for xeno tackling
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Admin

#6068 Fixes two of the brig's cell shutters not being linked to the button
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#6004 Fixes armor light staying on after removal
  code/game/objects/items.dm
  code/game/objects/items/storage/internal.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#6034 Xenothumbs Minor Event Button Comeback
  code/__DEFINES/traits.dm
  code/controllers/subsystem/minimap.dm
  code/datums/action.dm
  code/game/machinery/machinery.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/items/explosives/grenades/grenade.dm
  code/game/objects/objs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/interior/interactable/seats.dm
  tgui/packages/tgui/interfaces/TacticalMap.tsx
Labels: Feature, UI

#5677 Requisition Centralization [Part 1.5] AKA medvendor infinite restock outside medbay cheese removal redux
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/medical.dm
  code/game/objects/structures.dm
  code/modules/cm_marines/overwatch.dm
  icons/effects/warning_stripes.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Sprites, Stale Exempt, Mapping, Balance Approved, Sprites Approved, Mapping Approved, Roadmap

#6064 New UPP/UA sprites and new satchels
  code/game/objects/items/storage/backpack.dm
  code/game/objects/prop.dm
  code/game/objects/structures/signs.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/upp.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/ties.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/items.dmi
  icons/obj/structures/props/banners.dmi
Labels: Feature, Sprites, Sprites Approved

#5761 Auto Delete Foodless MREs
  code/game/objects/items/storage/boxes.dm
Labels: Feature

#6070 'Search by key' button for the Keybind menu
  code/modules/client/tgui_macro.dm
  tgui/packages/tgui/interfaces/KeyBinds.jsx
Labels: UI

#6093 Buffs Dropship Crews, required one medical hour
  code/game/jobs/job/command/auxiliary/crew_chief.dm
  code/game/machinery/doors/multi_tile.dm
  strings/marinetips.txt
Labels: Feature, Balance, Balance Approved

#6001 flames remove snow !
  code/game/turfs/auto_turf.dm
  code/game/turfs/snow.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Balance, Balance Approved

#5970 changes pyro and GL armour to be the standard medium+ light range
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/marine_armor/spec_fire.dm
Labels: Balance, Balance Approved

#6078 Low effort broadcasting
  code/__DEFINES/camera.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/objects/items/circuitboards/computer.dm
  code/modules/paperwork/photography.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature

#6088 Fixes notifications emitting light
  code/modules/mob/mob_helpers.dm
Labels: Fix

#5997 Preferences for a darker crit overlay and a black flash overlay
  code/__DEFINES/mode.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/living.dm
Labels: Feature

#6101 Fixes the CMB breaching charge issue
  code/modules/gear_presets/cmb.dm
Labels: Fix

#6072 Small fix to Nightmare documentation example
  code/modules/nightmare/nmnodes/mapload.dm
Labels: Fix, Stale

#6125 Helmets no longer hide ears
  code/modules/clothing/head/helmet.dm
Labels: Removal

#6122 Fix additional cryo reagent duplication via TOUCH reaction
  code/__DEFINES/objects.dm
  code/game/machinery/cryo.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Fix

#6111 Adds new tips for Xenomorph.
  strings/xenotips.txt
Labels: Feature

#6040 Better throw logic
  code/modules/movement/launching/launching.dm
Labels: Feature, Testmerge Candidate, Needs Testing

#6015 Colony Synthetic variants with a refresh
  code/datums/map_config.dm
  code/game/objects/items/tools/kitchen_tools.dm
  code/game/objects/items/tools/mining_tools.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
Labels: Feature, Balance, Stale, Testmerge Candidate, Balance Approved

#6129 Fixes Acid Ball hurting friendly xenos (and self)
  code/datums/ammo/xeno.dm
Labels: Fix

#6095 minimum compile version bump to 515.1627
  .github/alternate_byond_versions.txt
  .tgs.yml
  code/__DEFINES/__spacemandmm.dm
  code/__DEFINES/_macros.dm
  code/__HELPERS/nameof.dm
  code/_byond_version_compat.dm
  code/_experiments.dm
  code/controllers/subsystem/garbage.dm
  code/datums/datum.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/devices/personal_data_transmitter.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/structures/pipes/pipes.dm
  code/game/world.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/cm_phone/phone.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/specialist/launcher/launcher.dm
  code/modules/reagents/chemistry_machinery/reagent_grinder.dm
  code/modules/vehicles/van/van.dm
  dependencies.sh
  tools/build/build.js
  tools/build/lib/byond.js
Labels: Code Improvement, Github

#6133 Adds the Quebec flag
  code/modules/client/country_flags.dm
  icons/flags.dmi
Labels: Sprites, Sprites Approved

#6131 Fix colony lights sometimes deleting after explosions
  code/game/machinery/colony_floodlights.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#6135 Disable un-resting someone when they are dizzy
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Feature

#6107 Adds medlinks to the marinemeds in medbay
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#6105 Fix unpacking vendors not performing area entry
  code/modules/movement/movement.dm
Labels: Fix

#6121 Working Joe Grammar Fix
  code/modules/mob/living/carbon/human/species/working_joe/warning.dm
Labels: Grammar and Formatting

#6045 Rebalances OT rockets to be more incendiary rather than explosive
  code/datums/ammo/rocket.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/warhead.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Balance, Testmerge Candidate, Balance Approved, Needs Testing

#6057 Adds 2 new flamer fuels for OT/Chemistry to make.
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature, Balance, Balance Approved

#6076 update to specialist vendor.
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
Labels: Balance, Stale, Balance Approved

#6063 Major Survivor Clothing Changes + two surv additions to Trijent and LV
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/new_varadero/preset_new_varadero.dm
  code/modules/gear_presets/survivors/shivas_snowball/preset_shivas_snowball.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  maps/desert_dam.json
  maps/lv624.json
Labels: Feature, Quality of Life, Stale

#6139 Fixes uncrowable floor APC in LZ1 for Chances Claim
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#6074 adding fuel pump sprites and machinery to the almayer.
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/hijack.dm
  code/game/machinery/machinery.dm
  code/game/objects/structures/blocker.dm
  icons/obj/structures/machinery/fuelpump.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#5914 Ports stripping menu from TG
  code/__DEFINES/equipment.dm
  code/__DEFINES/strippable.dm
  code/__HELPERS/_lists.dm
  code/_macros.dm
  code/_onclick/click_hold.dm
  code/_onclick/drag_drop.dm
  code/datums/elements/strippable.dm
  code/game/objects/items/misc.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/gun_attachables.dm
  colonialmarines.dme
  icons/ui_icons/inventory/back.png
  icons/ui_icons/inventory/belt.png
  icons/ui_icons/inventory/collar.png
  icons/ui_icons/inventory/ears.png
  icons/ui_icons/inventory/glasses.png
  icons/ui_icons/inventory/gloves.png
  icons/ui_icons/inventory/hand_l.png
  icons/ui_icons/inventory/hand_r.png
  icons/ui_icons/inventory/head.png
  icons/ui_icons/inventory/id.png
  icons/ui_icons/inventory/mask.png
  icons/ui_icons/inventory/neck.png
  icons/ui_icons/inventory/pocket.png
  icons/ui_icons/inventory/shoes.png
  icons/ui_icons/inventory/suit.png
  icons/ui_icons/inventory/suit_storage.png
  icons/ui_icons/inventory/uniform.png
  tgui/packages/tgui/interfaces/StripMenu.tsx
  tgui/packages/tgui/styles/interfaces/StripMenu.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, Sprites, UI, Testmerge Candidate

#6142 Verify Changelog Workflow
  .github/add_labels.py
  .github/workflows/labeler.yml
Labels: Github

#6149 no more buckling xenos into chairs
  code/game/objects/objs.dm
Labels: Fix

#6108 Increases berserker's rage lockout is back to 10 seconds
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
Labels: Balance, Balance Approved

#6117 Project ARES: Reception Remodel
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  icons/turf/walls/windows.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#6116 M3A1 Synthetic Utility Vest becomes light(er)weight
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
Labels: Balance, Stale, Balance Approved

#5643 Project ARES: Nerve Gas Control
  code/__DEFINES/ARES.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/structures/pipes/vents/pump_scrubber.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/AresAdmin.js
  tgui/packages/tgui/interfaces/AresInterface.jsx
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Feature, Stale Exempt, UI, Mapping, Mapping Approved

#6104 Hedgehog explosion immunity rebalance
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/hedgehog.dm
Labels: Balance, Balance Approved

#6098 Updates UPP Synthetic Loadout
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/upp.dm
Labels: Balance, Balance Approved

#6114 dehardcodes client version warnings
  code/controllers/configuration/entries/general.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Labels: Server

#6022 Fiorina Riot In Progress: Colonial Marshals & United Americas Police
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/synths.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  colonialmarines.dme
Labels: Feature

#6062 Stabilized metallic foam, a gimmick new flamer fuel
  code/game/objects/effects/effect_system/foam.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/reagents/chemistry_reactions/other.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature, Balance, Testmerge Candidate, Balance Approved, Needs Testing

#6147 brightens the burncolor of the high-combustion napalm fuel
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Balance, Balance Approved

#6123 Increase damage of standard revolver ammo from 55 to 72
  code/datums/ammo/bullet/revolver.dm
Labels: Balance, Balance Approved

#6162 Fixes mach 3 boilers
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Labels: Fix

#6136 Allow SOs to perform basic surgeries
  code/datums/skills/uscm.dm
Labels: Balance, Stale, Balance Approved

#6153 Command Tablets for Provost Marshals
  code/modules/gear_presets/uscm_event.dm
Labels: Feature

#6065 Toggle ghost now leaves the users mob visible
  code/__DEFINES/__game.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#6157 Project ARES: Orbital Cannon loading log
  code/game/machinery/ARES/ARES_procs.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/AresAdmin.js
  tgui/packages/tgui/interfaces/AresInterface.jsx
Labels: Feature, UI

#6137 white phosphorus smoke can no longer override stronger flames
  code/game/objects/effects/effect_system/smoke.dm
Labels: Removal

#6145 Synthetics X Gibber Fanfiction (Reworks how Synthetics and the meat gibber interact)
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/cm_tech/droppod/lz_effect.dm
  code/modules/mob/mob_helpers.dm
Labels: Feature, Admin

#6140 Lesser drone nerfs
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
Labels: Fix, Balance, Balance Approved

#6165 Reverts #6040
  code/modules/movement/launching/launching.dm
Labels: Testmerge Candidate, Removal

#6167 Unmarked admin tickets are automatically marked when responding to one
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#6168 unbreaks binding to space
  tgui/packages/tgui/interfaces/KeyBinds.jsx
Labels: Fix, UI

#6171 fixes high combustion napalm and sticky napalm working for OT assemblies
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Fix, Testmerge Candidate

#6166 Fixes delaying round start not showing on the timer.
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
Labels: Fix

#6124 Added ID Modification Log to the Access Report Print
  code/__HELPERS/logging.dm
  code/modules/cm_marines/marines_consoles.dm
Labels: Feature

#6126 Adds an upgraded photocopier for the CL and CC
  code/modules/paperwork/photocopier.dm
  icons/obj/structures/machinery/library.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#5938 Adds Shockwaves to Explosions and Xeno Screeches
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/autocells/explosion.dm
  code/game/objects/effects/temporary_visuals.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Labels: Feature, Testmerge Candidate

#6175 External Bleeding Sealing in Cryo Tubes
  code/datums/effects/bleeding.dm
Labels: Fix, Balance, Balance Approved

#6177 Fixes boilers slowing themselves
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
Labels: Fix

#6176 alt clicking a reagent tank will now toggle whether its dispensing or filling
  code/game/objects/structures/reagent_dispensers.dm
Labels: Quality of Life

#6183 UPP/CLF Combat Synth Presets
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
Labels: Feature

#6184 Fixes spotlight breaking every time
  code/modules/cm_marines/dropship_equipment.dm
Labels: Fix

#6186 Project ARES: Fixes deleting flight logs.
  code/game/machinery/ARES/ARES_interface.dm
  tgui/packages/tgui/interfaces/AresInterface.jsx
Labels: Fix

#6179 Hugger deletion checking in drone tutorial
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#6115 More features and tweaks for broadcasting
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/equipment.dm
  code/datums/emotes.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera_console.dm
  code/game/objects/objs.dm
  code/modules/paperwork/photography.dm
  code/modules/tgui/states.dm
  code/modules/tgui/states/in_view.dm
  colonialmarines.dme
Labels: Feature, Testmerge Candidate

#6190 Pill bottle coloring
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/tools/misc_tools.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Quality of Life

#6189 Fixes M4RA misspell in ASRS menu
  code/datums/supply_packs/ammo.dm
Labels: Grammar and Formatting

#6193 Makes spotter laser designators, scout laser designators, and scout cloak unmeltable + indestructible.
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/storage/backpack.dm
Labels: Balance, Balance Approved
