Repository cmss13-devs/cmss13, pull requests merged in 2024-12, with the labels that each got.

#7666 Adds ASO to Command Timelocks, and CO to MP timelocks.
  code/__DEFINES/job.dm
Labels: Feature

#7713 Helmet garb fix (lingering squad stripe)
  code/__DEFINES/human.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix, Removal

#7712 Fix dropship door stuck and door refactoring
  code/__DEFINES/machinery.dm
  code/datums/diseases/black_goo.dm
  code/game/machinery/door_display/door_display.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/poddoor/poddoor.dm
  code/game/machinery/doors/poddoor/shutters/shutters.dm
  code/game/machinery/doors/poddoor/two_tile.dm
  code/game/machinery/doors/railing.dm
  code/game/machinery/doors/runed_sandstone.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/mineral_doors.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttles/marine_ferry.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Feature, Fix, Refactor, Needs Testing

#7697 Fix edgecase with ghostize
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#7698 Hijack wording clarity.
  code/controllers/subsystem/hijack.dm
Labels: Quality of Life

#7644 UPP HvH fixes
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/paygrade_defs/upp.dm
  code/datums/factions/upp.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/upp.dm
  icons/mob/hud/marine_hud.dmi
Labels: Fix, Sprites, Code Improvement, Testmerge Candidate, Sprites Approved

#7657 big red insert hotfixes
  code/defines/procs/announcement.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
Labels: Fix

#7668 Synth K9 bino vision bug fix
  code/modules/mob/living/carbon/human/powers/human_powers.dm
Labels: Fix

#7639 Observer Submenus For UPP Squads
  code/game/jobs/job/marine/squads.dm
  icons/ui_icons/map_blips.dmi
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Feature, Sprites, UI, Sprites Approved

#7688 Allows ME3 blowtorch to do blowtorch things
  code/game/objects/items/tools/maintenance_tools.dm
Labels: Balance

#7596 Notifies when intel points are maxed for non-xeno non-yautja corpses.
  code/modules/objectives/mob_objectives.dm
Labels: Quality of Life

#7640 UPP shotgun shell boxes
  code/datums/supply_packs/black_market.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/handfuls.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
Labels: Feature, Sprites, Sprites Approved

#7717 Fix UPP CO Vendor Access
  code/game/machinery/vending/vendor_types/antag/antag_upp_commanding_officer.dm
Labels: Fix

#7715 Fixes Typo in Paygrade Prefix for Executive Supervisor
  code/datums/paygrades/factions/wy/wy.dm
Labels: Grammar and Formatting

#7727 Door Stuck! More door checks & fix edgecase with vehicle door pushing
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/modules/shuttle/helpers.dm
Labels: Feature, Fix, Balance, Balance Approved

#7728 Embryo 1s Spawn Protection
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/projectiles/projectile.dm
Labels: Feature, Balance, Balance Approved, Admin

#7671 Adds shove prefereance to the king
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
Labels: Quality of Life

#7724 Ridiculous Ties
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#7726 Allows Ordinance Techs to take the Bad Leg trait.
  code/modules/character_traits/biology_traits.dm
Labels: Feature, Code Improvement

#7742 replaces outdated tip with new one
  strings/xenotips.txt
Labels: Removal

#7749 Door Stuck Pt2: Fix doors thinking the doors are blocking the doors
  code/game/machinery/doors/door.dm
Labels: Fix

#7718 Add UPP Shotgun Boxes To UPP Vendors
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
Labels: Feature

#7732 Adds natural resin structures to Chances, moves stuff slightly.
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#7739 Adds a fax machine to requisitions
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping, Mapping Approved

#7771 Door Stuck Pt3: Shutter Handling
  code/game/machinery/doors/door.dm
Labels: Fix

#7757 Adds the CIA, Removes UAAC-TIS
  code/__DEFINES/access.dm
  code/__DEFINES/job.dm
  code/__DEFINES/radio.dm
  code/controllers/subsystem/communications.dm
  code/datums/agents/tools.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/factions/uscm.dm
  code/datums/skills/uscm.dm
  code/game/jobs/job/special/uaac.dm
  code/game/jobs/role_authority.dm
  code/game/objects/items/devices/coins.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/cia.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/mob/living/say.dm
  code/stylesheet.dm
  colonialmarines.dme
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, Sprites, UI, Removal

#7778 Changes Gamemode Flags
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/ticker.dm
  code/datums/elements/strippable.dm
  code/datums/mob_hud.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/round_modifiers.dm
  code/game/objects/effects/decals/cleanable/blood/blood.dm
  code/game/objects/effects/spawners/random.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/gamemode_modifiers_panel.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/defenses/handheld.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  code/modules/organs/limbs.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/recycling/disposal.dm
  code/modules/shuttle/computers/dropship_computer.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/ModifiersPanel.tsx
Labels: Code Improvement, UI, Admin

#7733 3WE Rank Rework
  code/__DEFINES/paygrade_defs/twe.dm
  code/datums/paygrades/factions/twe/twe.dm
Labels: Feature, Removal

#7736 Character Setup Displays UPP Role Image
  code/modules/mob/new_player/preferences_setup.dm
Labels: Feature

#7737 leveled riflemen slots are no longer used up by dummies
  code/modules/gear_presets/_select_equipment.dm
Labels: Fix

#7734 prevents harming dead when MODE_NO_ATTACK_DEAD
  code/modules/organs/limbs.dm
Labels: Fix

#7750 Makes tackle messaging less confusing
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Removal

#7792 Fix typo in king roar ability
  code/modules/mob/living/carbon/xenomorph/abilities/king/king_powers.dm
Labels: Grammar and Formatting

#7755 Removes IO Squad Prep Access
  code/modules/gear_presets/uscm.dm
Labels: Removal

#7773 Queen cannot forfeit in a tunnel
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Fix, Balance, Balance Approved

#7670 Fax Responders - late spawn faxes
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/fax_machine.dm
Labels: Feature

#7735 vaiso and chem retrieval erts can now use their shuttles
  code/datums/emergency_calls/contractor.dm
  code/datums/emergency_calls/pmc.dm
Labels: Fix

#7793 adds some missing save preference calls
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences_toggles.dm
Labels: Fix

#7811 Eggs now cleanup via linked lz weed killer
  code/modules/cm_aliens/structures/egg.dm
Labels: Balance, Balance Approved

#7810 Fix gamemode runtimes
  code/controllers/subsystem/item_cleanup.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/organ_internal.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Fix, Runtime

#7809 Fix lz weeding flag not actually doing anything
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/round_modifiers.dm
  code/modules/admin/gamemode_modifiers_panel.dm
Labels: Fix, Refactor, Testmerge Candidate

#7818 Limits colossal sandwich to 15 layers
  code/game/objects/items/reagent_containers/food/sandwich.dm
Labels: Removal

#7808 Remove armory APC from solaris prison breakout nigthmare insert
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
Labels: Fix, Mapping, Mapping Approved

#7805 Fix access on medbay windoors by removing req_access_txt
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#7392 Adds a custom HealthMate HUD to CMO vendor that combines a HealthMate and Reagent HUD
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/clothing/glasses/hud.dm
Labels: Feature, Quality of Life, Removal

#7641 removes OT and GP from HvH
  code/__DEFINES/mode.dm
Labels: Quality of Life

#7669 HvH: remote flight control respects factions
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature

#7372 NERFS scout's engineering skill to NOVICE
  code/modules/cm_marines/specialist.dm
Labels: Balance, Balance Approved

#7719 UPP Squad Attachment/Ammo/Equipment Vendors
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
  colonialmarines.dme
Labels: Feature

#7563 Synthetic Overwatch And Leadership
  code/controllers/subsystem/minimap.dm
  code/datums/skills/synthetic.dm
  code/modules/mob/mob.dm
Labels: Balance, Balance Approved

#7421 Adjusts tank weapons & updates them with modern mechanics
  code/datums/ammo/misc.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
  code/modules/vehicles/hardpoints/secondary/grenade_launcher.dm
Labels: Balance

#7061 Project ARES: Interface Data Proc
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_interface_data.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/machinery/ARES/apollo_pda.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/AresAdmin.jsx
  tgui/packages/tgui/interfaces/AresInterface.jsx
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Code Improvement, UI, Mapping, Mapping Approved

#7701 Type-19 and PPSH Gun Case + Addition To UPP Vendor
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/modules/cm_marines/equipment/guncases.dm
Labels: Feature

#7658 Fax Responder Names, Announcements and Huds
  code/datums/skills/civilian.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/fax_responders.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#7720 Players now get visual 'Balloon' Alert when Defender Crest is Lowered.
  code/datums/balloon_alerts/balloon_alerts.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
Labels: Feature, Quality of Life, Code Improvement

#7638 Fax Responder listening devices
  code/__DEFINES/radio.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/communications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/modules/mob/living/say.dm
Labels: Feature

#7826 ID card small fluff update
  code/__HELPERS/unsorted.dm
  code/game/jobs/job/marine/squads.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/cosmetics.dm
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  icons/obj/items/card.dmi
Labels: Feature, Sprites

#7789 UPP Pilot Job
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/datums/factions/upp.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/upp.dm
Labels: Feature

#7454 No more rotate visuals without bounds for multitile (Nuh Uh)
  code/modules/vehicles/multitile/multitile_movement.dm
Labels: Fix

#7486 The Hunting Grounds (Needs Testing) NOW WITH A MAP THAT WORKS HOPEFULLY
  code/__DEFINES/__game.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/mode.dm
  code/controllers/subsystem/who.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/datums/lazy_template.dm
  code/datums/soundOutput.dm
  code/game/area/hunting_preserve.dm
  code/game/machinery/doors/poddoor/shutters/shutters.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/structures/blocker.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/open.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/hunting_grounds.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_machines.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/dead/observer/orbit.dm
  colonialmarines.dme
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/standalone/leftsidepass.dmm
  maps/map_files/LV624/standalone/lv-bridge-east.dmm
  maps/map_files/LV624/standalone/lv-bridge-nofog.dmm
  maps/map_files/LV624/standalone/rightsidepass.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/map_files/LV624/standalone/sandtemple-se.dmm
  maps/predship/huntership.dmm
  maps/templates/lazy_templates/pred/jungle_moon.dmm
  sound/misc/fog_escape.ogg
  sound/misc/hunt_begin.ogg
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Fix, Sound, Sprites, UI, Testmerge Candidate, Mapping, Mapping Approved

#7301 Makes Resin Salve only go on CD after successful activations, not attempted ones
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
Labels: Quality of Life, Stale

#7459 anti c4 gamemode flag, anti drag flag fix
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/game/gamemodes/round_modifiers.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Feature, Fix

#5390 new dummy tablet sprite
  code/game/objects/items/devices/dummy_tablet.dm
  icons/obj/items/devices.dmi
Labels: Feature, Sprites, Stale Exempt, Sprites Approved

#7143 Adds a version of the CO armor without pauldrons
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/UA.dmi
  icons/obj/items/clothing/suits/suits_by_faction/UA.dmi
Labels: Feature, Sprites, Stale Exempt, Sprites Approved

#6915 UPP MMG
  code/datums/ammo/bullet/special_ammo.dm
  code/modules/cm_marines/m2c.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/magazines.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/UPP/machineguns.dmi
  icons/obj/items/weapons/guns/guns_by_faction/UPP/machineguns.dmi
Labels: Feature, Sprites, Sprites Approved, Sprites Frozen

#7829 Fix asset transport errors if space grunts is included in a map
  code/modules/paperwork/paper.dm
Labels: Fix

#7825 more solaris insert fixes and tweaks
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  maps/Nightmare/maps/BigRed/scenario.json
Labels: Fix, Balance

#7840 fix linters
  tools/requirements.txt
Labels: Github, Missing Changelog

#7832 Saving of the volume preferences
  code/__HELPERS/sanitize_values.dm
  code/datums/soundOutput.dm
  code/modules/client/client_defines.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Feature

#7843 Fix hooks too: Bump python
  dependencies.sh
Labels: Missing Changelog

#7837 UPP Pilot & Dzho Automaton Appear On Char Setup Display
  code/modules/mob/new_player/preferences_setup.dm
Labels: Feature

#7800 surv fixes and tweaks
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
Labels: Fix, Balance

#7844 Table digital clock
  code/game/objects/items/misc.dm
  code/game/objects/structures/signs.dm
  icons/obj/items/devices.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Feature, Sprites, Mapping

#7836 Actually fix Colonial Space Grunts runtimes when mapped in
  code/modules/paperwork/paper.dm
Labels: Fix

#7833 fixes duplicate req door
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tools/maplint/lints/multiple_doors.yml
Labels: Fix, Mapping

#7827 Overwatch can hear speech and see emotes
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/groundside_operations.dm
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/overwatch.dm
Labels: Feature, Testmerge Candidate

#7748 Early Game: Remote Queen Building Buff.
  code/game/objects/structures/mineral_doors.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Balance, Stale, Balance Approved

#7855 Suppress runtime for imaginary friend SEA
  code/modules/gear_presets/uscm_ship.dm
Labels: Fix

#7854 Suppress fit_viewport div by 0 error
  code/game/verbs/ooc.dm
Labels: Fix

#7853 Hunting grounds is now exempt from affecting larva queue
  code/__DEFINES/misc.dm
  code/__HELPERS/unsorted.dm
  code/game/area/hunting_preserve.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
Labels: Balance

#7236 American Spirit Cigarettes
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/clothing/helmet_garb/smoking.dmi
  icons/mob/humans/onmob/inhands/items/smoking_lefthand.dmi
  icons/mob/humans/onmob/inhands/items/smoking_righthand.dmi
  icons/obj/items/smoking/packets/spirits_cyan.dmi
  icons/obj/items/smoking/packets/spirits_yellow.dmi
Labels: Feature, Sprites, Sprites Approved

#7867 jolly grinchmas (sets the festiviser to just be on christmas day)
  code/modules/decorators/christmas.dm
Labels: Code Improvement

#7849 Synth reset key fits in tool webbing, engineer kit pouch and construction belt
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/pouch.dm
  code/modules/clothing/under/ties.dm
Labels: Feature

#7890 Shield onmob sprite pathing fix
  code/game/objects/items/weapons/shields.dm
Labels: Fix

#7884 Fix pushing and pulling anchored mobs
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_grab.dm
Labels: Fix

#7885 Fix Xenos Without Thumbs Using Cards & M56D Reload & Closets
  code/game/objects/items/toys/cards.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix, Removal

#7886 Fixed various decals not being anchored
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/floor_symbol.dm
  code/game/objects/effects/decals/hefa_cult_decals.dm
  code/game/objects/effects/decals/kutjevo_decals.dm
  code/game/objects/effects/decals/strata_decals.dm
  code/game/objects/effects/decals/warning_stripes.dm
Labels: Fix

#7896 Put players with no squad preference in random squads again
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
Labels: Fix

#7902 Yautja marks can be used appropriately
  code/modules/cm_preds/yaut_hudprocs.dm
Labels: Fix

#7835 Replace guest pass consoles with regular consoles
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/templates/baseone.dmm
Labels: Mapping

#7576 staff and longaxe now in the elite vendor
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
Labels: Feature, Sprites, Grammar and Formatting

#7910 Reboot Reason Ignore
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/world.dm
Labels: Missing Changelog

#7898 Fixes some issues with overwatch
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/overwatch.dm
Labels: Fix

#7904 Fix locking satchel overlay ordering
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#7536 Adds crosshairs to all ranged weapons
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/launcher.dm
  code/modules/projectiles/guns/specialist/scout.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  icons/effects/mouse_pointer/explosive_mouse.dmi
  icons/effects/mouse_pointer/flamer_mouse.dmi
  icons/effects/mouse_pointer/lmg_mouse.dmi
  icons/effects/mouse_pointer/pistol_mouse.dmi
  icons/effects/mouse_pointer/plasma_caster_mouse.dmi
  icons/effects/mouse_pointer/rifle_mouse.dmi
  icons/effects/mouse_pointer/shotgun_mouse.dmi
  icons/effects/mouse_pointer/smartgun_mouse.dmi
  icons/effects/mouse_pointer/sniper_mouse.dmi
Labels: Feature, Sprites, Testmerge Candidate, Sprites Approved

#7092 CPR Buddy 9000
  code/game/machinery/bots/cprbot.dm
  code/game/objects/items/cprbot_item.dm
  colonialmarines.dme
  icons/obj/structures/machinery/aibots.dmi
  sound/CPRbot/CPR.ogg
  sound/CPRbot/CPRbot_beep.ogg
  sound/CPRbot/CPRbot_poweroff.ogg
  sound/CPRbot/CPRbot_poweron.ogg
Labels: Feature, Sound, Sprites, Sprites Approved

#7838 Service jacket to CO vendor
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature

#7815 Fixes the NailGun Again
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Fix

#7891 Unnest fixes
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/walls/walls.dm
  code/modules/mob/mob.dm
Labels: Fix

#7224 Introduces new shrapnel types to OT
  code/__DEFINES/chemistry.dm
  code/datums/ammo/shrapnel.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Feature, Balance

#7864 FIxes Hunting Grounds Escape
  code/modules/cm_preds/yaut_items.dm
Labels: Fix

#7901 Adds a speed penalty to incomplete Yautja field surgery.
  code/modules/surgery/mcomp_tendwounds.dm
Labels: Feature

#7927 Trenchcoats to CL Vendor
  code/game/machinery/vending/vendor_types/crew/corporate_liaison.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#7907 Giant Lizard fixes
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
Labels: Fix

#7916 fix clf distress beacon typos
  code/datums/emergency_calls/clf.dm
Labels: Grammar and Formatting

#7899 Changes USASF CO to LACN CO.
  code/modules/gear_presets/survivors/misc.dm
Labels: Quality of Life

#7906 Handle weapon camos in vendors
  code/modules/asset_cache/asset_list_items.dm
Labels: Feature

#7913 Fixes santa hat inhands + makes it hide only top hair
  code/modules/decorators/christmas.dm
Labels: Fix

#7580 Yautja fluff content update + hugger tank update
  code/game/machinery/OpTable.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/kitchen/juicer.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/kitchen/processor.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/bodyscanner.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/misc.dm
  code/game/objects/structures/pipes/unary_misc.dm
  code/game/objects/structures/props.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/window.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/hunter/prey_skulls.dmi
  icons/obj/structures/machinery/yautja_machines.dmi
  icons/turf/walls/hunter.dmi
  icons/turf/walls/windows.dmi
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/predship/huntership.dmm
  maps/predship/regular.dmm
  maps/templates/lazy_templates/pred/jungle_moon.dmm
Labels: Feature, Fix, Sprites, Mapping, Removal, Sprites Approved, Mapping Approved

#7914 Fixed missing telephone inhand sprites
  code/modules/cm_phone/phone.dm
Labels: Fix

#7812 preview dummy wears your loadout gear
  code/modules/mob/new_player/preferences_setup.dm
Labels: Feature

#7851 Donator Item Update (For after sprite freeze)
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/Donator_Items.dm
  icons/mob/humans/onmob/clothing/back/donator.dmi
  icons/mob/humans/onmob/clothing/head/donator.dmi
  icons/mob/humans/onmob/clothing/masks/donator.dmi
  icons/mob/humans/onmob/clothing/suits/donator.dmi
  icons/mob/humans/onmob/clothing/uniforms/donator.dmi
  icons/obj/items/clothing/backpack/donator.dmi
  icons/obj/items/clothing/hats/donator.dmi
  icons/obj/items/clothing/masks/donator.dmi
  icons/obj/items/clothing/suits/donator.dmi
  icons/obj/items/clothing/uniforms/donator.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#7937 Various fixes and refactoring to custom weapon cursors
  code/modules/client/preferences_toggles.dm
  code/modules/cm_tech/hologram.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/lever_action.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/launcher/launcher.dm
  code/modules/projectiles/guns/specialist/scout.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Fix, Refactor

#7944 Fix juicer having yautja skin
  code/game/machinery/kitchen/juicer.dm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/predship/huntership.dmm
Labels: Fix, Mapping, Mapping Approved

#7940 Another overwatch bugfix
  code/modules/cm_marines/overwatch.dm
Labels: Fix

#7939 RPG Ammo Type Loading Fix
  code/modules/projectiles/magazines/specialist.dm
Labels: Feature, Fix

#7743 Ship Operations Synthetic
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
  html/browser/common.css
Labels: Feature, Balance, Code Improvement, Balance Approved, Removal

#7600 SG Frontline Mode & Friends - Yay!!!
  code/__DEFINES/dcs/signals/atom/signals_gun.dm
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/__DEFINES/keybinding.dm
  code/__DEFINES/weapon_stats.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/action.dm
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/components/iff_fire_prevention.dm
  code/datums/keybinding/human_combat.dm
  code/modules/clothing/suits/marine_armor/spec_fire.dm
  code/modules/cm_marines/specialist.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/smartgun_fail.ogg
Labels: Feature, Fix, Balance, Sound, Refactor, Sprites, Code Improvement, Testmerge Candidate, Balance Approved

#7936 Use revparse to determine head for DMM test
  tools/mapmerge2/dmm_test.py
Labels: Github, Missing Changelog

#7933 Change the color of the Squad Leader pointing arrow to the color of the squad
  code/game/objects/effects/overlays.dm
  code/modules/mob/mob.dm
Labels: Feature

#7887 Demo Specialist Loader Assistant Role
  code/game/objects/items/pamphlets.dm
  code/modules/character_traits/skills.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  icons/obj/items/pamphlets.dmi
  icons/obj/items/storage/kits.dmi
Labels: Feature, Sprites

#7912 Fix of starting overload on reactor message
  code/game/machinery/fusion_engine.dm
Labels: Fix

#7919 faction cryo consoles
  code/game/machinery/cryopod.dm
Labels: Feature, Fix

#7568 adds a tgui for the pred preferences menu
  code/__DEFINES/pred.dm
  code/modules/client/pred_picker.dm
  code/modules/client/preferences.dm
  colonialmarines.dme
  icons/obj/items/hunter/pred_gear.dmi
  tgui/packages/tgui/interfaces/HairPicker.tsx
  tgui/packages/tgui/interfaces/PredPicker.tsx
  tgui/packages/tgui/styles/interfaces/PredPicker.scss
  tgui/packages/tgui/styles/main.scss
Labels: Sprites, UI, Sprites Approved

#7758 Fax responder renovation
  code/game/area/admin_level.dm
  code/game/gamemodes/cm_process.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/turfs/open.dm
  code/game/turfs/shiva.dm
  maps/templates/lazy_templates/fax_responder_base.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#7569 M10 Auto Pistol
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/large_holster.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
  icons/obj/items/clothing/belts/belts.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/pistols.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  sound/weapons/gun_m10_auto_pistol.ogg
Labels: Feature, Fix, Sound, Sprites, Sprites Approved

#7874 AMR ammo economy nerf
  code/datums/supply_packs/spec_ammo.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Balance, Balance Approved
