Repository cmss13-devs/cmss13, pull requests merged in 2024-01, with the labels that each got.

#5345 Fix runtimes and multitool bricking if a sentry_computer is deleted
  code/modules/defenses/sentry_computer.dm
Labels: Fix

#5348 Fixes the voting message not being properly formatted
  code/controllers/subsystem/vote.dm
Labels: Fix

#5349 Fixes screen alert tooltips getting stuck open
  code/modules/maptext_alerts/screen_alerts.dm
Labels: Fix

#5351 Adds TWE to ERT rotation
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/royal_marines.dm
Labels: Feature, Balance, Balance Approved

#5246 Adds antispam check similar to what sentrygun has to m56d
  code/modules/cm_marines/smartgun_mount.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5355 Fixes xeno ERT distress beacon announcements
  code/modules/admin/topic/topic_events.dm
Labels: Fix

#5272 Intel Chestrig
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/items/storage/backpack.dm
  icons/mob/humans/onmob/back.dmi
  icons/obj/items/clothing/backpacks.dmi
Labels: Feature, Sprites, Sprites Approved

#5113 Modifies and Re-Enables Shivas Snowball
  map_config/maps.txt
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Testmerge Candidate, Mapping, Mapping Approved

#5336 A couple of M56D/M2C fixes
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix, Refactor, Testmerge Candidate

#5294 Yautja Actions Update (/QOL changes)
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/yautja.dm
  code/modules/cm_preds/falcon.dm
  code/modules/cm_preds/yaut_actions.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/cm_tech/hologram.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  colonialmarines.dme
  icons/mob/hud/actions.dmi
  icons/mob/hud/actions_yautja.dmi
Labels: Feature, Quality of Life, Sprites, Code Improvement, Sprites Approved

#5153 Status Effects - Part 3A (v2) - Daze Refactor
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/bitfields.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life/handle_disabilities.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
  code/modules/mob/living/carbon/human/life/life_helpers.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/chemistry_machinery/acid_harness.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix, Code Improvement, Testmerge Candidate, Removal

#5361 refactor part1 change define in coulours.dm from COULOUR to COLOR
  code/__DEFINES/_math.dm
  code/__DEFINES/colours.dm
  code/__HELPERS/filters.dm
  code/datums/tutorial/marine/basic_marine.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/game/objects/items/lightstick.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/lighting/lighting_atom.dm
Labels: Refactor

#5360 Splits hivemind messages into their own chat category
  code/__DEFINES/chat.dm
  tgui/packages/tgui-panel/chat/constants.js
Labels: UI

#5374 'Time Since Death' hour wrapping fix
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#5375 Fixes an exploit with Praetorian Oppressor hook
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#5377 removes double APC in trijent dam security and on engi east tunnel entrance
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Fix, Mapping, Mapping Approved

#5369 Update missing bitfields for VV
  code/__DEFINES/equipment.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
Labels: Code Improvement

#5122 Pylons now count only groundside marines, xenos get major boost to evo speed for 3 minutes after hijack
  code/__DEFINES/xeno.dm
  code/controllers/subsystem/x_evolution.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  code/modules/shuttle/computers/dropship_computer.dm
  tgui/packages/tgui/interfaces/HiveStatus.jsx
Labels: Feature, Balance, Testmerge Candidate, Balance Approved

#5359 Fix simulators demolition button
  tgui/packages/tgui/interfaces/CasSim.tsx
  tgui/packages/tgui/interfaces/DemoSim.tsx
Labels: Fix, UI

#5293 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#5379 Makes the `do_after()` icon render above everything else
  code/__HELPERS/unsorted.dm
Labels: Fix

#5383 Fixes monkey orbiting breaking the camera
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#5376 NVG tip of the round update
  strings/marinetips.txt
Labels: Grammar and Formatting

#5381 Fixes runtime in fruit.dm
  code/modules/cm_aliens/structures/fruit.dm
Labels: Fix

#5331 Port Overlay Lighting Fixes
  code/datums/components/overlay_lighting.dm
Labels: Fix, Refactor, Stale

#5386 Fixes the CLs office Posters and a Pinup Poster which was in the wrong category
  code/game/objects/effects/decals/posters.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Quality of Life, Mapping

#5363 Fixes trippy Carrot cake
  icons/obj/items/food.dmi
Labels: Fix, Sprites

#5298 Polish Dropship Weapons UI
  code/_onclick/hud/map_popups.dm
  code/game/camera_manager/camera_manager.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/modules/cm_marines/dropship_equipment.dm
  tgui/packages/tgui/interfaces/DropshipWeaponsConsole.tsx
  tgui/packages/tgui/interfaces/MfdPanels/CameraPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/EquipmentPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/FiremissionPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/FultonPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MGPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MedevacPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/MultifunctionDisplay.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SentryPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SpotlightPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SupportPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/TargetAquisition.tsx
  tgui/packages/tgui/interfaces/MfdPanels/WeaponPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/stateManagers.ts
  tgui/packages/tgui/interfaces/MfdPanels/types.ts
Labels: Fix, Refactor, UI, Testmerge Candidate

#5283 Noticeboard refactor port + approved stamp
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/structures/noticeboard.dm
  code/modules/paperwork/paper.dm
  icons/obj/items/paper.dmi
  icons/obj/structures/props/stationobjs.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/NoticeBoard.tsx
Labels: Feature, Fix, Refactor, Sprites, UI, Mapping, Sprites Approved, Mapping Approved

#5202 Adds a way for SLs/SOs/XOs to recommend medals that the CO can then approve/deny.
  code/datums/medal_awards.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/devices/radio/headset.dm
  tgui/packages/tgui/interfaces/IcMedalsPanel.js
Labels: Feature, Stale, UI, Testmerge Candidate

#5378 changes the runner pounce tip to be more accurate
  strings/xenotips.txt
Labels: Grammar and Formatting

#5278 Xenos now see marines on the tacmap during hijack if xenos outnumber marines for more than 25%
  code/__DEFINES/xeno.dm
  code/controllers/subsystem/minimap.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Balance, Testmerge Candidate, Balance Approved

#5391 Fixes a bug with Scimitars
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix

#5406 Fixes tunnels not showing on the minimap
  code/modules/cm_aliens/structures/tunnel.dm
Labels: Fix

#5409 Fixes stack of flags anchoring after placing one down
  code/game/objects/items/stacks/flags.dm
Labels: Fix

#5290 Adds Extra Adv Med Optics To Medical + Optic Addition To Prep Vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Stale, Mapping, Mapping Approved

#5252 Steelpoint Donor Armour Update
  code/modules/cm_marines/Donator_Items.dm
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/obj/items/clothing/donor/HEAD.dmi
  icons/obj/items/clothing/donor/SUITS.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/suits.dmi
Labels: Feature, Sprites, Sprites Approved

#5285 X17 Riot Breaching Charge
  code/game/machinery/vending/vending_types.dm
  code/game/objects/items/explosives/plastic.dm
  icons/obj/items/assemblies.dmi
Labels: Feature, Sprites, Sprites Approved

#5350 Uncluttering Queen UI P1
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Quality of Life

#5427 Florina Moment
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  maps/fiorina_sciannex.json
  maps/prison_station_fop.json
Labels: Fix

#5412 Adds three new zippo lighters in the code
  code/game/objects/items/tools/flame_tools.dm
  code/modules/client/preferences_gear.dm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Feature, Fix, Mapping, Mapping Approved

#5417 Allows for trailing or leading whitespace in VV edits
  code/modules/admin/view_variables/get_variables.dm
  code/modules/tgui_input/text.dm
Labels: Code Improvement

#5431 Allows larvae and huggers to crawl through acid holes
  code/game/objects/effects/acid_hole.dm
Labels: Feature

#5396 refactor files to change variable name using colour to color.
  code/game/objects/items/tools/misc_tools.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/paper.dm
Labels: Refactor

#5358 Character name max length increase by 2.
  code/__DEFINES/text.dm
Labels: Quality of Life, Stale

#5398 refactor change some color by using defines already there
  code/__DEFINES/colours.dm
  code/__DEFINES/minimap.dm
  code/game/objects/effects/decals/cleanable/blood/robots.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/items/paint.dm
  code/game/objects/items/reagent_containers/food.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/reagent_containers/food/snacks/grown.dm
  code/game/objects/items/stacks/cable_coil.dm
  code/game/objects/items/toys/crayons.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/animations/animation_library.dm
  code/modules/cm_tech/tech_tiers.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/food.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Refactor

#5436 Requisitions delivery outlet fix
  code/modules/recycling/disposal.dm
Labels: Fix

#5367 Adds the ability to put prescription lenses in role-related optics
  code/modules/clothing/glasses/glasses.dm
Labels: Feature, Stale

#5450 Alamayer Perma chair faces the right way
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5448 trijent double light removal, moves some lights
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Fix, Mapping, Mapping Approved

#5449 SG ammo no longer uses vendor points
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/modules/cm_marines/equipment/weapons.dm
Labels: Balance, Balance Approved

#5440 Fix all hands on deck message not targeting those in cryopods
  code/defines/procs/announcement.dm
Labels: Fix

#5443 Fixes overwatch consoles on WO
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Fix, UI

#5445 add the ability to build multi tile assembly from metal sheets.
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature

#5451 Fixes dead marines being able to use the M56D
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
Labels: Fix

#5301 m56d nerf - correct branch this time
  code/modules/cm_marines/smartgun_mount.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5467 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
Labels: Tools

#5455 Fixes larvae sometimes spawning in space
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Fix

#5444 Makes it possible to complete the power intel objective on Kutjevo.
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Fix, Mapping, Mapping Approved

#5473 Defender crest balloon alert (plus consistent centring)
  code/datums/balloon_alerts/balloon_alerts.dm
  code/datums/langchat/langchat.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
Labels: Feature, Code Improvement

#5470 Fix Detach and on_detach parameter oversights
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Code Improvement

#5464 Fixes mobs unable to move after being flung while buckled.
  code/modules/mob/living/living.dm
  code/modules/movement/launching/launching.dm
Labels: Fix

#5457 Fixes facehuggers ghosting upon unsuccessful attachment
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix

#5454 reduces volume of halucinations from neurotoxin from 100 to 65
  code/datums/effects/neurotoxin.dm
  code/game/sound.dm
Labels: Fix

#5459 Remove all the manuals that add nothing to do with CM lore and update research one.
  code/game/objects/items/books/manuals.dm
  code/game/objects/structures/bookcase.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/Chinook.dmm
Labels: Code Improvement, Mapping, Removal, Mapping Approved

#5471 Fixes Narnia again.
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
  code/modules/vehicles/interior/areas.dm
  code/modules/vehicles/interior/objects/fancy_locker.dm
  icons/turf/areas_interiors.dmi
  maps/interiors/apc.dmm
  maps/interiors/apc_command.dmm
  maps/interiors/apc_med.dmm
  maps/interiors/apc_no_fpw.dmm
  maps/interiors/fancylocker.dmm
  maps/interiors/tank.dmm
  maps/interiors/van.dmm
Labels: Fix, Sprites, Mapping, Mapping Approved

#5463 Bedrolls no longer give metal when wrenched
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix, Oversight

#5465 Makes xeno tunnel lists sort by distance to the player
  code/__HELPERS/lists.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/cm_aliens/structures/tunnel.dm
  strings/xenotips.txt
Labels: Feature

#5461 Floodlight icon fix
  code/game/machinery/floodlight.dm
  icons/obj/structures/machinery/floodlight.dmi
Labels: Fix, Sprites

#5460 deleting a var called "max_temperature" that as been created in Walls.dm.
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
Labels: Removal

#5475 Fixes the equipment attach point being on the wrong plane
  code/modules/dropships/attach_points/attach_point.dm
Labels: Fix

#5468 Being immune to bonebreaks now makes you immune to delimbs
  code/modules/organs/limbs.dm
Labels: Balance, Balance Approved

#5472 refactor to reduce the number variable using colour in them instead of color.
  code/game/jobs/job/marine/squads.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/toys/crayons.dm
  code/game/objects/items/toys/toys.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/hydroponics/hydro_tools.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/vines.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories/yautja_hair.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/organ_objects.dm
  code/modules/paperwork/notepad.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Refactor

#5430 Unique Fax Sounds
  code/game/machinery/fax_machine.dm
  sound/effects/incoming-fax.ogg
Labels: Sound

#5434 Groundside Operations console now sorts FTLs correctly + shows ASL
  code/game/machinery/computer/groundside_operations.dm
Labels: Feature, Fix

#5429 New minimap update sound
  code/controllers/subsystem/minimap.dm
  sound/effects/data-transmission.ogg
Labels: Sound

#5418 Resting interrupts things again
  code/__DEFINES/misc.dm
Labels: Code Improvement, Stale

#5424 refactor: turned machinery of distillery/main.dm into "props"
  code/game/machinery/machinery.dm
  code/modules/destilery/main.dm
  colonialmarines.dme
Labels: Refactor, Removal

#5388 Makes TGUI transfer over when changing bodies
  code/__DEFINES/dcs/signals/atom/mob/signals_mind.dm
  code/controllers/subsystem/minimap.dm
  code/datums/mind.dm
  code/modules/mob/dead/observer/observer.dm
  colonialmarines.dme
Labels: Quality of Life

#5446 Fixes missing sprite for mutated watcher facehugger.
  icons/mob/xenonids/facehugger.dmi
Labels: Fix, Sprites

#5486 praetorian acid ball fix
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#5487 Replaces the normal Zippo with Wey-Yu Zippo in the CLs briefcase
  code/game/objects/items/devices/portable_vendor.dm
Labels: Feature

#5488 Fix spicy weed_food fires
  code/datums/components/weed_food.dm
Labels: Fix

#5491 Fixes the `do_after()` icon rendering above everything else
  code/__DEFINES/layers.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/rendering/plane_master.dm
Labels: Fix

#5481 Fix m56d and m2c crushing, labeling, and damage retention
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/crusher/charger.dm
  code/modules/vehicles/multitile/multitile_bump.dm
Labels: Fix, Balance

#5496 Makes larvae and facehuggers able to use custom emotes
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Feature

#5495 Fixes wrong dropship attachment planes
  code/modules/dropships/attach_points/attach_point.dm
  code/modules/dropships/attach_points/templates.dm
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Fix, Mapping

#5441 add some board to the board vendor in engi on almayer
  code/game/machinery/vending/vendor_types/engineering.dm
Labels: Feature

#5469 Adds a semi-big whistle cooldown.
  code/game/objects/items/devices/whistle.dm
Labels: Quality of Life, Testmerge Candidate

#5492 Adds more prescription goggles to loadout point buy
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/head.dm
  code/modules/clothing/head/helmet.dm
Labels: Feature

#5183 Ap rocket stun and damage consistency and renames vars in rocket.dm
  code/datums/ammo/rocket.dm
Labels: Balance, Code Improvement, Stale, Balance Approved

#5402 Databasing whitelists
  code/__DEFINES/mode.dm
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/cmb.dm
  code/datums/emergency_calls/contractor.dm
  code/datums/emergency_calls/inspection.dm
  code/datums/emergency_calls/pmc.dm
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/xeno_cultists.dm
  code/datums/entities/player.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/extended/infection.dm
  code/game/jobs/job/antag/other/pred.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/jobs/job/civilians/support/working_joe.dm
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/job.dm
  code/game/jobs/role_authority.dm
  code/game/jobs/whitelist.dm
  code/game/verbs/records.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banjob.dm
  code/modules/admin/holder2.dm
  code/modules/admin/tabs/debug_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/clans/client.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
  tgui/packages/tgui/interfaces/WhitelistPanel.jsx
Labels: Feature, Refactor, UI

#5337 Fixes playing cards
  code/game/objects/items/toys/cards.dm
Labels: Fix, Stale Exempt

#5397 A slurry of Bigred changes
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/20.lz1entrance_v2.dmm
  maps/map_files/BigRed/sprinkles/25.lz1cave_flank.dmm
  maps/map_files/BigRed/sprinkles/30.cargo_containers.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
Labels: Mapping, Mapping Approved, Needs Testing

#5497 Workin Joey readded to Maint Bar
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5280 Changes to bone repairing
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/medical_pod/bone_gel_refill.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/generic.dm
  colonialmarines.dme
  icons/obj/structures/props/stationobjs.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Balance, Sprites, Grammar and Formatting, Stale Exempt, Testmerge Candidate, Mapping, Balance Approved, Removal, Sprites Approved, Mapping Approved

#5228 Reduces the burst multiplier on the M39
  code/modules/projectiles/guns/smgs.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#5499 Fixes being gibbed sometimes breaking observer movement
  code/datums/keybinding/mob.dm
Labels: Fix

#5407 Psychic Whisper Deadchat and Use
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
Labels: Feature, Fix

#5501 Removes an outdated xeno tip, adds a new one.
  strings/marinetips.txt
  strings/xenotips.txt
Labels: Feature, Removal

#5399 Xenomorph tutorial framework and basic tutorial
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/global_lists.dm
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/game/objects/structures/stool_bed_chair_nest/xeno_nest.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  colonialmarines.dme
  icons/misc/tutorial.dmi
Labels: Feature, Sprites

#5525 Fix Weird Inventories
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/toys/cards.dm
  code/modules/mob/inventory.dm
Labels: Fix

#5442 Hive collapse when less than 4 xenos is still a marine major.
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Feature, Stale

#5498 refactor creating it's own file for souto mobile code instead of it being in vehicle.dm.
  code/modules/vehicles/souto_mobile.dm
  code/modules/vehicles/vehicle.dm
  colonialmarines.dme
Labels: Refactor

#5527 Port TG Tooling Fix in MapMerge
  tools/UpdatePaths/__main__.py
  tools/mapmerge2/dmm.py
Labels: Tools

#5524 turns oxygentank into fueltank fixes issue #5512
  code/game/objects/structures/reagent_dispensers.dm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#5528 Raises the amount of magazines in the MP handgun cases to 6
  code/modules/cm_marines/equipment/guncases.dm
Labels: Feature

#5260 Finishes #5128 (Paygrade defines) & Fixes Syndie ID
  code/__DEFINES/paygrade_defs/civilian.dm
  code/__DEFINES/paygrade_defs/mercs.dm
  code/__DEFINES/paygrade_defs/paygrade.dm
  code/__DEFINES/paygrade_defs/twe.dm
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/medal_awards.dm
  code/datums/paygrades/factions/other/civilian.dm
  code/datums/paygrades/factions/other/cmb.dm
  code/datums/paygrades/factions/other/contractors.dm
  code/datums/paygrades/factions/other/dutch_dozen.dm
  code/datums/paygrades/factions/other/freelancer.dm
  code/datums/paygrades/factions/other/misc.dm
  code/datums/paygrades/factions/twe/twe.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/paygrades/factions/uscm/navy.dm
  code/datums/paygrades/factions/uscm/provost.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/datums/paygrades/paygrade.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/doors/brig_system.dm
  code/game/objects/items/cards_ids.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/whiteout.dm
  colonialmarines.dme
Labels: Feature, Code Improvement

#5373 fix and small refactor of Areas in lower deck on almayer part2
  code/game/area/almayer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#5537 Fix latejoin menu marine title
  code/modules/mob/new_player/new_player.dm
Labels: Grammar and Formatting

#5410 adds warning messages when CAS sonic boom happens and makes the boom fallof slower
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
Labels: Feature

#5490 Requisition Centralization [Part 1]
  code/datums/supply_packs/medical.dm
  code/game/machinery/vending/vendor_types/medical.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Balance, Testmerge Candidate, Mapping, Balance Approved, Mapping Approved

#5536 Fixes xeno tunnel tracking
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix

#5546 Deadchat no longer gets notified about tutorial facehuggers
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#5561 Makes observers see the marine version of CAS warnings
  code/modules/mob/dead/observer/observer.dm
Labels: Grammar and Formatting

#5562 Fixes edited `.jsx` files not triggering a TGUI recompile
  tools/build/build.js
Labels: UI

#5533 Civilian survs now spawn with snow gear
  code/modules/gear_presets/survivors/misc.dm
Labels: Fix

#5506 Tweak Game Mode Start Handling
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/extended/infection.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/tabs/round_tab.dm
Labels: Feature, Fix, Stale, Admin

#5452 get_line() refactor
  code/__HELPERS/#maths.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/adjacent.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/hoverpack.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/tesla_coil.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/movement/launching/launching.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/flamer/flameshape.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/guns/specialist/sniper.dm
  code/modules/projectiles/projectile.dm
Labels: Refactor, Code Improvement

#5520 CO Biometrics
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
Labels: Feature

#5438 Adds a Researcher and CMB variants on Trijent, also touched up RD Clothes and the Trijent Sec Guard.
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  maps/desert_dam.json
Labels: Feature

#5456 Camera Autoname change
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
Labels: Code Improvement

#5505 Queen give_evo changes
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Balance, Balance Approved

#5581 Resolve sticky messages in STUI
  tgui/packages/tgui/interfaces/STUI.tsx
Labels: Refactor, Code Improvement, UI

#5572 fix some stuff on almayer and refactor some upper deck areas.
  code/game/area/almayer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Refactor, Mapping

#5582 Fixes missing poncho sprites
  code/modules/clothing/under/ties.dm
Labels: Fix

#5500 Metal Foam rebalance.
  code/datums/supply_packs/explosives.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/effects/effect_system/foam.dm
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/reagents/chemistry_reactions/other.dm
Labels: Balance, Balance Approved

#5588 Normalizes dropship_crash to -6db
  sound/effects/dropship_crash.ogg
Labels: Sound

#5585 Dropship Fabricator UI Fix
  tgui/packages/tgui/interfaces/PartFabricator.jsx
Labels: Fix, UI

#5559 UPP ERT Backstory Change
  code/datums/emergency_calls/upp.dm
Labels: Feature

#5489 Minor Typo Fix and Sprite Refactor
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/cm_suits.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Fix, Refactor, Sprites, Grammar and Formatting, Stale, Mapping, Mapping Approved

#5591 Fixes Queen xenos not automatically climbing ledges
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#5590 Fixes a stray pixel in the warrior 'walking' sprite.
  icons/mob/xenos/warrior.dmi
Labels: Fix, Sprites, Sprites Approved

#5551 Adds procs for applying root (immobilise)
  code/__DEFINES/mobs.dm
  code/__HELPERS/#maths.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_health_procs.dm
Labels: Code Improvement

#5576 Chestbursting larva no longer get hive orders when there are no hive orders
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
Labels: Fix

#5580 Fixes facehuggers being able to flip tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#5526 Increase Double Throw Delay
  code/__DEFINES/conflict.dm
Labels: Balance, Balance Approved

#5553 refactor : turn some "# and use the proper define from colour.dm for 21 files.
  code/__HELPERS/icons.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/human.dm
  code/datums/_atmos_setup.dm
  code/datums/custom_hud.dm
  code/datums/entities/clans.dm
  code/datums/entities/player_times.dm
  code/datums/langchat/langchat.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/assets/vending.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/projectiles/magazines/shotguns.dm
Labels: Refactor

#5598 Modifies my CODEOWNER files
  .github/CODEOWNERS
Labels: Github

#5458 Réorganisation de l'équipe médicale - 1
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/gear_presets/uscm_medical.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Code Improvement, Mapping, Mapping Approved

#5566 Green Beret sprite fix
  code/modules/client/preferences_gear.dm
  code/modules/clothing/head/head.dm
  icons/mob/humans/onmob/head_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
Labels: Fix, Sprites, Sprites Approved

#5538 refactor multiple files concerning robot and mechs.
  code/game/objects/effects/decals/misc.dm
  code/game/objects/items/circuitboards/mecha.dm
  code/game/objects/items/circuitboards/robot_modules.dm
  code/game/objects/structures/prop_mech.dm
  code/game/objects/structures/props.dm
  colonialmarines.dme
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/LV624/LV624.dmm
Labels: Refactor, Mapping, Removal, Mapping Approved

#5592 Fixes Equipment Preset - Very unimportant fix indeed
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
Labels: Fix

#5612 Updates codeowners
  .github/CODEOWNERS
Labels: Github
