Repository cmss13-devs/cmss13, pull requests merged in 2024-06, with the labels that each got.

#6359 Adds CKey to ASRS order staff logs.
  code/game/supplyshuttle.dm
Labels: Admin

#6339 Adds & adjusts fireman skills for most roles.
  code/datums/skills/civilian.dm
  code/datums/skills/clf.dm
  code/datums/skills/commando.dm
  code/datums/skills/dutch.dm
  code/datums/skills/forecon.dm
  code/datums/skills/freelancer.dm
  code/datums/skills/gladiator.dm
  code/datums/skills/mercenary.dm
  code/datums/skills/misc.dm
  code/datums/skills/upp.dm
  code/datums/skills/uscm.dm
Labels: Feature, Balance, Balance Approved

#6283 Whiskey Outpost for burrower add the ability to make tunnel but remove the ability to burrow.
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
Labels: Balance, Balance Approved

#6343 Makes it possible for all Officers and all NCO's (E4+) to recommend people for medals.
  code/datums/medal_awards.dm
  code/game/objects/items/devices/radio/headset.dm
Labels: Feature

#6370 Fixes TGUI overwatch console & custom font entry ui runtimes
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Fix, UI

#6365 ALMAYER MAP delete and added emergency shutter so that it made more sense for people when used.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#6330 Adds a Visiting Officer (Observer) preset
  code/__DEFINES/job.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/gear_presets/uscm_ship.dm
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
Labels: Feature, Sprites, Stale

#6372 Weyland-Yutani ID Console
  code/__DEFINES/access.dm
  code/__DEFINES/job.dm
  code/__DEFINES/sentry_laptop_configurations.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/datums/paygrades/paygrade.dm
  code/game/jobs/access.dm
  code/game/jobs/job/special/weyland_yutani.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/defenses/bell_tower.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/defenses/tesla_coil.dm
  colonialmarines.dme
Labels: Feature, Fix, Code Improvement

#6333 Project ARES: Print ASRS Log
  code/game/machinery/ARES/ARES_interface.dm
  tgui/packages/tgui/interfaces/AresInterface.jsx
Labels: Feature, UI

#6373 Xeno Orbit Menu
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Code Improvement, UI

#6344 Project ARES: Working Joe uniform cameras.
  code/__DEFINES/objects.dm
  code/game/camera_manager/camera_manager.dm
  code/modules/clothing/under/marine_uniform.dm
Labels: Feature

#6324 Black market ammo shop category + new ammo boxes
  code/datums/supply_packs/black_market.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/supplyshuttle.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/magazines.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
Labels: Feature, Sprites, Sprites Approved

#6073 Resprites humans, gives humans a choice of 9 bodies, replaces ethnicity system
  code/__HELPERS/icons.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/sanitize_values.dm
  code/_globalvars/global_lists.dm
  code/datums/datacore.dm
  code/defines/procs/records.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_gear.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/under/ties.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/new_player/body.dm
  code/modules/mob/new_player/body_type.dm
  code/modules/mob/new_player/ethnicity.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/skin_color.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/limbs.dm
  colonialmarines.dme
  icons/mob/humans/onmob/ties.dmi
  icons/mob/humans/species/r_human.dmi
  icons/mob/humans/undershirt.dmi
  icons/mob/humans/underwear.dmi
  icons/mob/mob.dmi
  icons/obj/items/clothing/ties.dmi
Labels: Feature, Sprites, Sprites Approved

#6385 Fix Airlock Destroy
  code/game/machinery/doors/airlock.dm
Labels: Fix

#6378 Fix range usages
  code/game/turfs/turf.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/organs/limbs.dm
Labels: Fix, Testmerge Candidate, Needs Testing

#6384 Fix Round Time Offset
  code/game/world.dm
Labels: Fix, Testmerge Candidate

#6387 Fix emoting past the grave
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Fix

#6382 Fixes getting a prayer confirmation per affected admin, instead of just once
  code/modules/admin/verbs/pray.dm
Labels: Fix

#6377 Fixes the USCM observer icon
  code/datums/factions/uscm.dm
Labels: Fix

#6395 fixes yautja icon
  code/modules/mob/living/carbon/human/human_helpers.dm
  icons/mob/humans/species/r_predator.dmi
Labels: Fix, Sprites

#6360 Set Plasteel to 40. Gave APC Board. Balance & QOL
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
Labels: Balance, Balance Approved

#6403 Fixed a small typo
  code/modules/admin/admin.dm
Labels: Grammar and Formatting

#6188 Research xenomorph "dissections"
  code/__DEFINES/misc.dm
  code/datums/research_upgrade_datum.dm
  code/game/machinery/computer/research.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  code/game/objects/items/old_research.dm
  code/game/objects/items/research_upgrades.dm
  code/game/objects/items/tools/surgery_tools.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/cm_tech/implements/medical_czsp.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/organs/organ_objects.dm
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
  code/modules/surgery/surgery_initiator.dm
  code/modules/surgery/surgery_procedure.dm
  code/modules/surgery/xeno.dm
  colonialmarines.dme
  icons/mob/xenos/wounds.dmi
  icons/obj/items/items.dmi
  icons/obj/items/organs.dmi
  icons/obj/structures/machinery/science_machines_64x32.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/predship/huntership.dmm
  maps/predship/regular.dmm
  tgui/packages/tgui/interfaces/XenomorphExtractor.jsx
Labels: Feature, Balance, Sprites, UI, Testmerge Candidate, Mapping, Balance Approved, Removal, Sprites Approved, Mapping Approved, Needs Testing

#6379 Vulture Touchups & Fixes
  code/game/objects/items/pamphlets.dm
  code/game/objects/structures/vulture_spotter.dm
  code/modules/projectiles/guns/boltaction.dm
Labels: Fix, Balance

#5909 Requisitions Line Tutorial
  code/__DEFINES/vendors.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/prop.dm
  code/game/objects/structures/blocker.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/mob.dm
  colonialmarines.dme
  icons/misc/tutorial.dmi
  maps/tutorial/tutorial_reqs_line.dmm
Labels: Feature, Sprites, Mapping, Mapping Approved

#6406 Fixes being able to see Command helmet cams from the groundside operations console.
  code/game/machinery/computer/groundside_operations.dm
Labels: Fix

#6404 CLF Engis now spawn with insulated gloves
  code/modules/gear_presets/clf.dm
Labels: Fix

#6410 techpoint price change
  code/datums/supply_packs/operations.dm
  code/modules/cm_tech/techs/marine/tier1/points.dm
  code/modules/cm_tech/techs/marine/tier2/orbital_ammo.dm
Labels: Balance, Balance Approved

#6412 Fix ToD not getting updated if ghostized without a client
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#6434 Adds a warning to potentially-laggy uses of `drop-bomb`
  code/modules/admin/tabs/event_tab.dm
Labels: Admin

#6327 Adds WY & UPP Sentries
  code/datums/ammo/misc.dm
  code/game/machinery/sentry_holder.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/handheld.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/upp.dm
  code/modules/projectiles/magazines/sentries.dm
  icons/obj/items/weapons/guns/ammo_by_faction/upp.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/wy.dmi
  icons/obj/structures/machinery/defenses/upp_defenses.dmi
  icons/obj/structures/machinery/defenses/wy_defenses.dmi
  icons/obj/structures/machinery/defenses/wy_heavy.dmi
  icons/obj/structures/machinery/defenses/wy_static.dmi
Labels: Feature, Sprites, Sprites Approved

#6440 Resprite of Spearhead Revolver
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Labels: Sprites, Sprites Approved

#6383 Replaces the ARC interior & ARC tweaks
  code/datums/ammo/bullet/arc.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/objectives/objective_memory_storage.dm
  code/modules/shuttle/shuttle_rotate.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/arc/interior.dm
  code/modules/vehicles/interior/interior_landmarks.dm
  colonialmarines.dme
  icons/obj/vehicles/arc.dmi
  icons/obj/vehicles/interiors/arc.dmi
  icons/obj/vehicles/interiors/arc_chassis.dmi
  maps/interiors/arc.dmm
Labels: Feature, Fix, Balance, Sprites, Testmerge Candidate, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#6445 Fixes admins not being able to award queens
  code/datums/medal_awards.dm
Labels: Fix

#6437 Pyro spec kit now autolinks tank and flamer
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Fix

#6374 gives small pistol mag pouch a reason to exist
  code/game/objects/items/storage/pouch.dm
  icons/obj/items/clothing/pouches.dmi
Labels: Balance, Sprites, Balance Approved, Sprites Approved

#6396 preview sticks around after screen is cleared
  code/modules/mob/new_player/preferences_setup.dm
Labels: Fix

#6448 Adds some missing objectives to xeno tutorial basic
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
Labels: Quality of Life

#6446 Fax machine sfx preference
  code/__DEFINES/__game.dm
  code/game/machinery/fax_machine.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Labels: Feature, Do Not Тestmerge

#6451 Fixes medals being spawned on the square you start writing it on
  code/datums/medal_awards.dm
Labels: Fix

#6411 Fix lots of problems with wallets as ID
  code/datums/medal_awards.dm
  code/defines/procs/announcement.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/marine/squads.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/dress.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/devices/portable_vendor.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mob_verbs.dm
  code/modules/admin/verbs/select_equipment.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_marines/radar.dm
  code/modules/economy/ATM.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/shuttle/computer.dm
Labels: Fix, Needs Testing

#6465 Adds niche logs to revival attempts
  code/game/objects/items/devices/defibrillator.dm
Labels: Logging, Admin

#6458 fixes vampire executing nested marines
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Fix

#6423 Allows most synthetics to access the marine synthetic vendor, provided they're given access on their ID
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature

#6462 grow boxes can now be destroyed by xenos
  code/game/objects/structures/props.dm
Labels: Quality of Life

#6470 Fixes a bug that would jam guns entirely
  code/modules/projectiles/gun.dm
Labels: Fix

#6401 Personal Civilian Clothing Storage Unit For Marines
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Stale, Mapping

#6452 Normalises the HUD damage overlay so synths and predators HUD overlays trigger at the same %-wise damage as humans.
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
Labels: Fix

#6405 Fixes medical cryo tubes deleting occupants when destroyed.
  code/game/machinery/cryo.dm
Labels: Fix

#6459 Fixes cas targeting incorrect signals
  code/game/machinery/computer/dropship_weapons.dm
Labels: Fix

#6481 changes fire color on incen OB to be blueish instead of orange
  code/modules/cm_marines/orbital_cannon.dm
Labels: Fix

#6479 fix gloves and map being mutually exclusive in the corpsman vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Fix

#6485 Overwatch console now shows dead people by default
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Feature, UI

#6421 Fix global list lookups by name for 3 GLOBs
  code/_globalvars/global_lists.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
Labels: Fix, Stale Exempt

#6461 Dir assist now prioritises non-xenos
  code/_onclick/xeno.dm
Labels: Quality of Life, Testmerge Candidate, Needs Testing

#6356 Changes the firing sound of the M44 combat revolver
  code/modules/projectiles/guns/revolvers.dm
  sound/weapons/gun_44mag_v4.ogg
Labels: Sound, Stale

#6407 Makes Anti-parasitic slightly more powerful to match larva gestation increases
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Feature, Fix, Stale

#6414 Ups protective form cost from 50 to 150 for synths
  code/game/objects/items/storage/smartpack.dm
Labels: Balance, Stale, Balance Approved

#6426 Synthetic Vendor Mask Additions
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature, Stale

#6415 adds upgraded fuel tanks to the research biomass machine
  code/__DEFINES/misc.dm
  code/datums/research_upgrade_datum.dm
  code/modules/projectiles/magazines/flamer.dm
Labels: Feature, Balance, Balance Approved

#6392 Adds in-game bug reports without needing a GitHub account
  code/__DEFINES/admin.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/global_lists.dm
  code/controllers/configuration/entries/general.dm
  code/datums/bug_report.dm
  code/modules/admin/topic/topic.dm
  colonialmarines.dme
  config/example/config.txt
  interface/interface.dm
  tgui/packages/tgui/interfaces/BugReportForm.tsx
  tgui/packages/tgui/styles/interfaces/BugReportForm.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, UI, Testmerge Candidate

#6314 Adds a HUD icon for crit marines for vampire lurker
  code/__DEFINES/mob_hud.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Labels: Quality of Life

#6363 First Drop Protections: Gas and Static Turrets
  code/__DEFINES/defenses.dm
  code/__DEFINES/misc.dm
  code/game/area/BigRed.dm
  code/game/area/Corsat.dm
  code/game/area/DesertDam.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/area/Prison_Station_FOP.dm
  code/game/area/Sulaco.dm
  code/game/area/kutjevo.dm
  code/game/area/prison.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/shiva.dm
  code/game/area/varadero.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/machinery/sentry_holder.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/cm_tech/droppod/equipment.dm
  code/modules/defenses/defenses.dm
  code/modules/defenses/sentry.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Fix, Balance, Refactor, Grammar and Formatting, Stale Exempt, Testmerge Candidate, Mapping, Balance Approved

#6504 Revert "Pyro spec kit now autolinks tank and flamer"
  code/game/objects/items/storage/large_holster.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Removal

#6304 STEEL DIVISON (Re-introduces 200 pop locked tank) [CODE BOUNTY]
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/jobs/job/command/auxiliary/tank_crew.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/supplyshuttle.dm
  code/modules/character_traits/biology_traits.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_tech/implements/tank.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  code/modules/cm_tech/techtree.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/hardpoints/armor/snowplow.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/hardpoints/wheels/treads.dm
  code/modules/vehicles/interior/interactable/vehicle_locker.dm
  code/modules/vehicles/tank/tank.dm
  colonialmarines.dme
Labels: Balance, Stale Exempt, Testmerge Candidate, Balance Approved

#6386 Show facehugger limit when examining eggs/morphers
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Quality of Life

#6391 fixes observe menu bug
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
Labels: Fix

#6484 makes xenos take damage when patting fire on ground
  code/_onclick/xeno.dm
Labels: Balance, Balance Approved

#6471 fence nerf + fuel cell recycler + showcase is now destroyable
  code/game/machinery/fuelcell_recycler.dm
  code/game/objects/structures/misc.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Balance, Quality of Life, Balance Approved

#6457 Better Queen shove
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Balance, Balance Approved

#6508 Remove self-extinguishing with acid spray
  code/game/objects/effects/aliens.dm
Labels: Balance, Balance Approved

#6519 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Github, Missing Changelog

#6510 Fix humans seeing lesser drone information when examining the core
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Fix

#6376 Vampire tail jab changes (try 2)
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
Labels: Balance, Grammar and Formatting, Balance Approved

#6522 Simple animals don't block projectiles after death anymore
  code/__DEFINES/mobs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, Balance, Balance Approved

#6521 custom research chemicals with an intensityfire above or equal to 50 will now burn white
  code/modules/projectiles/gun_attachables.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Balance, Balance Approved

#6517 Fix hiding in the LZ walls
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Fix, Balance, Testmerge Candidate, Balance Approved

#6558 removes facehugger plasma
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Quality of Life

#6555 some grammar fixes on xeno bioscan announcement
  code/game/bioscans.dm
Labels: Grammar and Formatting

#6493 Trijent Mapping Fix
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Stale, Mapping, Mapping Approved

#6494 Fixes Mapping Error on Sorokyne
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Stale, Mapping, Mapping Approved

#6507 splits the two vars in research datums
  code/__DEFINES/misc.dm
  code/datums/research_upgrade_datum.dm
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
Labels: Code Improvement, Stale

#6566 Fix OD lint errors
  code/__pragmas.dm
  code/datums/global_variables.dm
Labels: Missing Changelog

#6565 Fix hotkeys menu crash + New/Fixed keybind support
  code/_globalvars/lists/client.dm
  tgui/packages/tgui/interfaces/KeyBinds.jsx
Labels: Fix, UI

#6569 Fixes drawing weapons when knocked down
  code/modules/projectiles/gun_helpers.dm
Labels: Fix, Balance, Balance Approved
