Repository cmss13-devs/cmss13, pull requests merged in 2024-02, with the labels that each got.

#5579 Allow surgery on crashed ships (and new tile variants allowing surgury & construction)
  code/game/turfs/open.dm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-alt1.dmm
  maps/map_files/DesertDam/standalone/crashlanding-upp-bar.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#5608 Fixes lesser drones not being able to flip tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#5597 Fix medbay vendor access
  code/game/machinery/vending/vendor_types/medical.dm
Labels: Fix, Balance, Balance Approved

#5514 Gardener QOL changes
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/drone/gardener.dm
Labels: Balance, Grammar and Formatting, Balance Approved

#5310 camera console now uses camera manager
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/camera_manager/camera_manager.dm
  code/game/machinery/computer/camera_console.dm
Labels: Refactor

#5611 MapTweaks: removed a bed sheet for soul and added warning stripes bellow doors that didn't have them for safety.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5544 Oppressor tailstab nerf
  code/datums/ammo/xeno.dm
Labels: Balance, Balance Approved

#5570 Removes burrower from feral ERT
  code/datums/emergency_calls/feral_xenos.dm
Labels: Balance, Balance Approved

#5607 fixes medal saving
  code/datums/statistics/entities/medal_stats.dm
Labels: Fix

#5086 Adds the XM51 Breaching Scattergun
  code/datums/ASRS.dm
  code/datums/ammo/bullet/shotgun.dm
  code/datums/elements/bullet_trait/damage_boost.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/weapons.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/belt.dmi
  icons/mob/humans/onmob/suit_slot.dmi
  icons/obj/items/clothing/belts.dmi
  icons/obj/items/weapons/guns/ammo_boxes/boxes_and_lids.dmi
  icons/obj/items/weapons/guns/ammo_boxes/handfuls.dmi
  icons/obj/items/weapons/guns/ammo_boxes/text.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/handful.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  nano/images/weapons/xm51.png
  sound/weapons/gun_shotgun_xm51.ogg
Labels: Feature, Balance, Sound, Sprites, Testmerge Candidate, Balance Approved

#5554 MP QoL : part 1
  code/datums/agents/tools/stunbaton.dm
  code/datums/ammo/energy.dm
  code/game/objects/items/weapons/stunbaton.dm
Labels: Feature, Quality of Life

#5613 Changes Soro Political Prisoners to State Contractors (Or any other ideas someone might have.)
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
Labels: Feature

#5601 Updates placeable flag turret to the UA flag, rather than a generic orange flag.
  icons/obj/structures/machinery/defenses/planted_flag.dmi
Labels: Fix, Sprites, Sprites Approved

#5474 Added a USCMC Recruiter Survivor on Solaris.
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/survivors.dm
  maps/bigredv2.json
Labels: Feature, Fix, Grammar and Formatting

#5633 [s] Fixes for new 515 features
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#5632 Bump alternative tests to 515.1630
  .github/alternate_byond_versions.txt
  code/controllers/mc/globals.dm
  code/game/objects/items/explosives/mine.dm
Labels: Github

#5595 Fix greenfire not mixing well with lighting
  icons/effects/fire.dmi
Labels: Sprites

#5623 Tweak flare incend fire stacks/damage
  code/datums/ammo/misc.dm
Labels: Balance, Balance Approved

#5647 Revert damage changes in "MP QoL: part 1"
  code/datums/ammo/energy.dm
  code/game/objects/items/weapons/stunbaton.dm
Labels: Balance, Balance Approved

#5622 Moves a table, adds a photocopier to brig.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5624 Fixes the CL Bomber Jackets/Vests/Jackets sprites eing HJONK
  code/modules/clothing/suits/marine_coat.dm
Labels: Fix

#5614 doubles size of flarepouch
  code/game/objects/items/storage/pouch.dm
Labels: Balance, Balance Approved

#5508 Faxpansion - Adds TWE/UPP/CLF Channels to Fax Life
  code/_globalvars/global_lists.dm
  code/game/machinery/fax_machine.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  icons/obj/items/paper.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#5600 Helmet HUDs skip over HUDs that are already in effect on the player
  code/modules/clothing/head/helmet.dm
Labels: Quality of Life

#5637 Fix for Ceiling().
  code/__HELPERS/#maths.dm
Labels: Fix, Testmerge Candidate

#5626 Revert "refactor : turn some "# and use the proper define from colour.dm for 21 files."
  code/__HELPERS/icons.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/human.dm
  code/datums/_atmos_setup.dm
  code/datums/custom_hud.dm
  code/datums/entities/clans.dm
  code/datums/entities/player_times.dm
  code/datums/langchat/langchat.dm
  code/game/objects/effects/decals/cleanable/blood/xeno.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/asset_cache/assets/vending.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/maptext_alerts/text_blurbs.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/projectiles/magazines/shotguns.dm
Labels: Fix, Refactor

#5517 increases recovery node healing from 2 per sec to 8 per sec
  code/modules/cm_aliens/structures/special/recovery_node.dm
Labels: Balance, Balance Approved

#5648 Removes the two gauss sentry guns someone accidently boxxed into ice 3 over a year ago that has somehow survived multiple bugfixes and a rework of the map
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Mapping, Mapping Approved

#5635 Intel chestrig update
  icons/mob/humans/onmob/back.dmi
Labels: Sprites, Sprites Approved

#5660 Add null conditional operators to helmet code
  code/modules/clothing/head/helmet.dm
Labels: Fix, Testmerge Candidate

#5640 Mouth and Eyes Surgical Incisions Show on Scanner & Open Surgical Incisions Alone Show Up On Scanner - A Fix To Issue #5639
  code/modules/mob/living/living_healthscan.dm
  tgui/packages/tgui/interfaces/HealthScan.jsx
Labels: Fix

#5641 Fixes Defenders staying Fortified while being in critical state
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix

#5615 Adds a "Healed amount" to warden and makes the ability organization less messy
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/mutators/strains/praetorian/warden.dm
Labels: Feature

#5642 Added two new trucker hats, new latex glove sprites, new shoe sprites and new medical scrub sprites.
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_marines/Donator_Items.dm
  code/modules/gear_presets/uscm_medical.dm
  icons/mob/humans/onmob/feet.dmi
  icons/mob/humans/onmob/hands.dmi
  icons/mob/humans/onmob/head_0.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/ties.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/obj/items/clothing/hats.dmi
  icons/obj/items/clothing/shoes.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/ties.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Sprites Approved

#5620 USCM Chestrig
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/storage/backpack.dm
  icons/mob/humans/onmob/back.dmi
  icons/obj/items/clothing/backpacks.dmi
Labels: Feature, Sprites, Sprites Approved

#5539 scout ammo and economy nerf
  code/datums/supply_packs/spec_ammo.dm
Labels: Balance, Balance Approved

#5675 Makes bone-gel bottles slightly transparent
  code/game/objects/items/tools/surgery_tools.dm
  icons/obj/items/surgery_tools.dmi
Labels: Sprites

#5674 I change LV624 T-comms and engineering areas
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#5605 added squads marine ability to buy more sidearm magazines and moved/changed some section in vendors around.
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance, Quality of Life, Balance Approved

#5669 Fix PB Burst Oversight
  code/modules/projectiles/gun.dm
Labels: Fix

#5658 Admin logs for 3rd Party Victory events
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Admin

#5664 Fixes trash carts not working with fultons
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cm_marines/dropship_equipment.dm
Labels: Fix

#5682 WY Research Consultant gets reagent scanner goggles
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#5662 Pizza ERT readded, fixes(?) UPP spawn chance
  code/datums/emergency_calls/pizza.dm
  code/datums/emergency_calls/upp.dm
Labels: Feature, Fix

#5686 Fix fruit counting and refactor out delete_fruit
  code/modules/cm_aliens/structures/fruit.dm
Labels: Fix

#5689 Fixes Warden Praetorians being able to move around the ovipositored Queen
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#5629 removes dead tor code
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/ToRban.dm
  code/modules/admin/admin_verbs.dm
  colonialmarines.dme
  config/example/config.txt
Labels: Server

#5573 Adds One ACCESSORY ONLY Slot for Helmets
  code/modules/clothing/head/helmet.dm
Labels: Feature, Stale

#5596 Refactor the file watercloset.dm leaving toilet code in it and moving the rest in their own files.
  code/game/objects/items/toys/toys.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/sink.dm
  code/game/objects/structures/urinal.dm
  code/game/objects/structures/watercloset.dm
  colonialmarines.dme
Labels: Refactor, Stale

#5695 Thour tiny tutorial tweaks (and a unit test)
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/_tutorial_menu.dm
  code/datums/tutorial/xenomorph/_xenomorph.dm
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/tutorials.dm
Labels: Code Improvement, UI, Unit Tests

#5688 Revive Lesser Drone and Facehugger temporary communication restrictions
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/datums/components/temporary_mute.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/lesser_drone.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/mob_verbs.dm
  colonialmarines.dme
Labels: Balance, Balance Approved

#5673 Fixes crates layering under the fulton recovery system
  code/modules/dropships/attach_points/attach_point.dm
Labels: Fix, Refactor

#5706 fixes drop pouch not being given to vendors and makes it scale the same as base webbing
  code/game/machinery/vending/cm_vending.dm
Labels: Balance, Balance Approved

#5708 Changelog icon size fix (tgfont updates port)
  .vscode/tasks.json
  bin/tgfont.cmd
  tgui/packages/tgfont/config.cjs
  tgui/packages/tgfont/icons/image-minus.svg
  tgui/packages/tgfont/icons/image-plus.svg
  tgui/packages/tgfont/icons/sound-minus.svg
  tgui/packages/tgfont/icons/sound-plus.svg
  tgui/packages/tgfont/static/tgfont.css
  tgui/packages/tgfont/static/tgfont.eot
  tgui/packages/tgfont/static/tgfont.woff2
  tools/build/build.js
Labels: Fix, UI

#5638 Bipod now gives you an option to switch to full auto when deploying
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/gun_helpers.dm
  icons/mob/hud/actions.dmi
Labels: Quality of Life, Sprites, Sprites Approved

#5694 Changes LV-624 tfort's landing floodlights to colony floodlights
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#5628 handle permanent and sticky bans in database
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/stickyban.dm
  code/datums/entities/player.dm
  code/datums/entities/player_sticky_ban.dm
  code/defines/procs/admin.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/autoreplace.dm
  code/modules/clans/client.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/tgui_panel/telemetry.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/PlayerPanel.jsx
  tgui/packages/tgui/styles/components/Button.scss
  tgui/public/tgui-panel.bundle.css
Labels: UI, Admin

#5718 [s] Fix Tutorials
  code/datums/tutorial/_tutorial_menu.dm
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Fix

#5717 [s] Fix Sleeper Chemicals
  code/game/machinery/medical_pod/sleeper.dm
Labels: Fix

#5552 reduces effects of impact ammo with range, proof of concept numbers can be adjusted
  code/datums/ammo/bullet/rifle.dm
Labels: Balance, Stale Exempt, Testmerge Candidate, Balance Approved, Needs Testing

#5720 Fixes "Unbound" keybind slots sometimes not being removed
  code/modules/client/tgui_macro.dm
Labels: Fix

#5586 XM4 Armor Integral Motion Detector
  code/game/objects/items/devices/motion_detector.dm
  code/modules/clothing/suits/marine_armor.dm
  code/modules/gear_presets/uscm.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Feature, Balance, Balance Approved

#5684 Increases RMCs/TWE's Rifles ROF
  code/modules/projectiles/guns/rifles.dm
Labels: Balance, Stale, Balance Approved

#5651 Fix bug with RestrictedInput TGUI component
  code/modules/tgui/tgui_number_input.dm
  tgui/packages/tgui/components/RestrictedInput.jsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: Code Improvement, Stale, UI

#5678 Update to some ultra ancient sprites
  icons/obj/items/drinks.dmi
  icons/obj/items/storage.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  icons/obj/structures/machinery/airlock_machines.dmi
  icons/obj/structures/machinery/atmos.dmi
  icons/obj/structures/machinery/biogenerator.dmi
  icons/obj/structures/machinery/computer3.dmi
  icons/obj/structures/machinery/drone_fab.dmi
  icons/obj/structures/machinery/meter.dmi
  icons/obj/structures/machinery/power.dmi
  icons/obj/structures/machinery/robotics.dmi
  icons/obj/structures/machinery/virology.dmi
  icons/turf/ground_map.dmi
  icons/turf/shuttle.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
  maps/map_files/LV624/hydro/30.destroyed.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#5657 Reactor changes
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/hijack.dm
  code/game/gamemodes/events/power_failure.dm
  code/game/machinery/colony_floodlights.dm
  code/game/machinery/fuelcell_recycler.dm
  code/game/machinery/fusion_engine.dm
  code/game/objects/structures/props.dm
  code/modules/admin/tabs/event_tab.dm
  colonialmarines.dme
  icons/obj/structures/machinery/fusion_eng.dmi
  icons/obj/structures/machinery/geothermal.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/15.reactor_meltdown.dmm
  maps/map_files/BigRed/sprinkles/25.chapel_cult.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/purpleriver/newbridge.dmm
  maps/map_files/DesertDam/sprinkles/15.shipgone_northlz.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v2/Ice_Colony_v2.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/templates/Chinook.dmm
  maps/templates/baseone.dmm
Labels: Balance, Sprites, Code Improvement, Testmerge Candidate, Mapping, Balance Approved, Sprites Approved, Mapping Approved, Needs Testing

#5701 adding the ability for SG to buy the VP78 and the SU6
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
Labels: Balance, Stale, Balance Approved

#5734 Add inrange check to removing vehicle parts
  code/modules/vehicles/multitile/multitile_hardpoints.dm
Labels: Fix

#5725 Xeno strains unit test
  code/__HELPERS/text.dm
  code/controllers/subsystem/minimap.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/xeno_strains.dm
  icons/mob/xenos/boiler.dmi
  icons/mob/xenos/crusher.dmi
  icons/mob/xenos/drone.dmi
  icons/mob/xenos/facehugger.dmi
Labels: Sprites, Code Improvement, Unit Tests

#5729 Update Guns Lineart and Autowiki Handling of Base Types
  code/modules/asset_cache/asset_list_items.dm
  code/modules/autowiki/pages/guns.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/unit_tests/spritesheets.dm
  icons/obj/items/weapons/guns/guns_by_faction/uscm.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Labels: Sprites, Code Improvement, Unit Tests

#5748 Temporary mute now also prevents hive death messages
  code/__DEFINES/traits.dm
  code/datums/components/temporary_mute.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Removal

#5713 Adds tooltips to changelog icons
  tgui/packages/tgui/interfaces/Changelog.jsx
Labels: UI

#5722 Fixes ammo magazine checking with helmet if the mag is exactly half full
  code/modules/clothing/head/helmet.dm
Labels: Fix

#5645 Adds Flank Route & Choke Point West of Eastern Lab Trijent Dam
  maps/map_files/DesertDam/Desert_Dam.dmm
Labels: Mapping, Mapping Approved

#5752 Fix broken Almayer access edits
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping

#5753 Correct Vampire Lurker Strain Damage Modifications
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Labels: Balance, Balance Approved

#5584 Jumping out of a dropship heading towards an LZ now throws your body at the ground, instead of deleting it.
  code/__DEFINES/traits.dm
  code/controllers/subsystem/shuttles.dm
  code/game/turfs/transit.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature

#5719 Adds holo-targetting Vulture rounds
  code/datums/ammo/bullet/rifle.dm
  code/datums/ammo/bullet/sniper.dm
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/ammo/shrapnel.dm
  code/datums/components/bonus_damage_stack.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/guns/boltaction.dm
  code/modules/projectiles/magazines/rifles.dm
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  sound/weapons/gun_vulture_mark.ogg
Labels: Feature, Sound, Sprites, Sprites Approved

#5670 Removes VAIMS backpack burn line, adds extra mag.
  code/modules/gear_presets/contractor.dm
Labels: Balance, Removal

#5693 Forsaken/Feral Xenos can use hive status.
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
Labels: Fix, Grammar and Formatting

#5758 Fix Select Equipment Presets
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/upp.dm
Labels: Fix

#5757 Distress beacon response messages now have a chance of being static
  code/datums/emergency_calls/emergency_call.dm
Labels: Feature

#5762 Reword facehugger temporary mute end message
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Grammar and Formatting

#5735 autolathes printing times are now significantly faster
  code/game/machinery/autolathe.dm
Labels: Quality of Life

#5433 Makes it possible to view helmet cams of SOs/XOs/COs
  code/game/jobs/job/command/cic/staffofficer.dm
  code/game/machinery/computer/groundside_operations.dm
Labels: Feature

#5721 Makes drone castes be able to destroy special resin buildings faster; enables destruction from roundstart
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Quality of Life

#5751 Makes observers able to see the UI of Xeno players (and also action buttons)
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  strings/metatips.txt
Labels: Feature

#5764 Fix broken admin medals panel
  tgui/packages/tgui/interfaces/MedalsPanel.jsx
Labels: UI

#5609 refactor barricades files to hopfully have a more constant interaction when trying to fix them with welder.
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/plasteel.dm
Labels: Fix, Refactor

#5755 Fix CMB ERT & Path Based ERT Calling
  code/datums/emergency_calls/emergency_call.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/objects/items/handheld_distress_beacon.dm
  code/game/supplyshuttle.dm
  code/modules/cm_tech/techs/marine/tier3/cryo_spec.dm
  code/modules/cm_tech/techs/marine/tier3/cryorine.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
Labels: Fix, Code Improvement

#5750 Gun action (and equip) buttons refactor
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
Labels: Refactor

#5432 Abomination rework and predator plasma rifle buff.
  code/__DEFINES/xeno.dm
  code/datums/ammo/energy.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  colonialmarines.dme
Labels: Feature, Balance, Grammar and Formatting, Testmerge Candidate, Balance Approved, Removal, Needs Testing

#5773 Fixes xeno tacklestrength
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#5775 TGUI input list search fix
  tgui/packages/tgui/interfaces/ListInput.jsx
Labels: Fix, Quality of Life, UI

#5772 Increase repeated weed expansion delay for the same tile
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
Labels: Balance, Balance Approved

#5699 Seperating every port and starboard hallway areas into three areas each (fore midship aft)
  code/game/area/almayer.dm
  code/modules/shuttle/dropship_hijack.dm
  code/modules/shuttle/shuttles/ert.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#5165 Ports Mapping Backend updates
  code/__DEFINES/__game.dm
  code/__DEFINES/_math.dm
  code/__DEFINES/dcs/signals/atom/signals_atom.dm
  code/__DEFINES/dcs/signals/atom/signals_turf.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/objects.dm
  code/__DEFINES/shuttles.dm
  code/__DEFINES/turf_flags.dm
  code/__DEFINES/turfs.dm
  code/__DEFINES/typecheck/generic_types.dm
  code/__HELPERS/lighting.dm
  code/__HELPERS/lists.dm
  code/__HELPERS/logging.dm
  code/__HELPERS/string_lists.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/global_lists.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/interior.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttles.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/revolver.dm
  code/datums/ammo/bullet/rifle.dm
  code/datums/ammo/bullet/smg.dm
  code/datums/shuttles.dm
  code/datums/tutorial/_tutorial.dm
  code/game/atoms.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/fulton.dm
  code/game/turfs/closed.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
  code/game/world.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/load_event_level.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/tgui_macro.dm
  code/modules/lighting/lighting_static/static_lighting_turf.dm
  code/modules/logging/global_logs.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/preloader.dm
  code/modules/mapping/reader.dm
  code/modules/mapping/space_management/space_level.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mapping/space_management/zlevel_manager.dm
  code/modules/nightmare/nmtasks/mapload.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttles/trijent_elevator.dm
  code/modules/vehicles/interior/interior.dm
  colonialmarines.dme
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
Labels: Code Improvement, Testmerge Candidate

#5778 Fix burrower lifeboat tunneling
  code/game/area/shuttles.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix

#5704 Reagent tanks can now be dragged faster
  code/game/objects/structures/reagent_dispensers.dm
Labels: Quality of Life, Stale

#5782 MOPP Desc tism
  code/modules/clothing/under/marine_uniform.dm
Labels: Removal

#5785 Fixes the 88 Mod 4's holster sprite
  code/modules/projectiles/guns/pistols.dm
  icons/mob/humans/onmob/items_lefthand_1.dmi
  icons/mob/humans/onmob/items_righthand_1.dmi
  icons/obj/items/clothing/belts.dmi
Labels: Fix, Sprites

#5787 Fix for wound overlays.
  code/modules/organs/limbs.dm
Labels: Fix

#5652 Adds a new Nightmare Insert on LV-624
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  colonialmarines.dme
  maps/Nightmare/maps/LV624/nightmare.json
  maps/Nightmare/maps/LV624/scenario.json
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/corporatedome.dmm
Labels: Feature, Mapping, Mapping Approved

#5793 Opens up 1x1 hellscape on kutjevo, removes ledges in combat zone
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Mapping, Mapping Approved

#5794 Details LV624 secure storage blast area
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#5790 Changes to LV522 southwest dorms
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#5777 Relay Ping Browser
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/entries/general.dm
  code/modules/tgui_panel/ping_relay.dm
  code/modules/tgui_panel/tgui_panel.dm
  colonialmarines.dme
  config/example/config.txt
  config/example/relays.txt
  tgui/docs/component-reference.md
  tgui/packages/common/ping.js
  tgui/packages/tgui-panel/ping/PingIndicator.js
  tgui/packages/tgui/components/Button.jsx
  tgui/packages/tgui/interfaces/PingRelaysPanel.jsx
Labels: UI, Config

#5740 Refactor marine_armor.dm and split it into multiples files.
  code/modules/clothing/suits/marine_armor.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/suits/marine_armor/ghillie.dm
  code/modules/clothing/suits/marine_armor/intel.dm
  code/modules/clothing/suits/marine_armor/smartgunner.dm
  code/modules/clothing/suits/marine_armor/spec_fire.dm
  colonialmarines.dme
Labels: Refactor

#5795 Barricades Multi-Weld Revert & Refactoring
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/barricade/deployable.dm
  code/game/objects/structures/barricade/metal.dm
  code/game/objects/structures/barricade/misc.dm
  code/game/objects/structures/barricade/plasteel.dm
Labels: Feature, Balance, Refactor, Balance Approved

#5788 Small auto-observe fixes
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/dcs/signals/signals_client.dm
  code/__DEFINES/dcs/signals/signals_global.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/client_procs.dm
  code/modules/escape_menu/escape_menu.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_defines.dm
  code/modules/vehicles/van/van.dm
Labels: Fix, Quality of Life

#5792 Changes to south yard Sci-annex
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
Labels: Mapping, Mapping Approved

#5809 Changes some event verb permissions around.
  code/controllers/subsystem/vote.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
Labels: Admin

#5779 makes marking more effective for admins
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Admin

#5709 Reverts flare buff from #4229
  code/game/objects/items/devices/flashlight.dm
Labels: Balance, Stale, Balance Approved

#5681 Another good Sprite PR
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/gimmick.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/Donator_Items.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  icons/mob/humans/onmob/hands.dmi
  icons/mob/humans/onmob/head_1.dmi
  icons/mob/humans/onmob/suit_0.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/mob/humans/onmob/uniform_1.dmi
  icons/obj/items/clothing/cm_hats.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/suits.dmi
  icons/obj/items/clothing/uniforms.dmi
Labels: Feature, Sprites, Sprites Approved

#5800 Shiva's Panic Room Nightmare Insert
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  colonialmarines.dme
  maps/Nightmare/maps/Ice_Colony_v3/nightmare.json
  maps/Nightmare/maps/Ice_Colony_v3/scenario.json
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/standalone/panic_room_hold.dmm
Labels: Mapping, Mapping Approved

#5804 (Slightly) Less confusing failure message for built-in visors
  code/modules/clothing/head/helmet.dm
Labels: Quality of Life

#5738 Reduces automatic research chemical contents property string
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
Labels: Balance, Balance Approved

#5749 adding vendors for maintenance technician
  code/game/machinery/vending/vendor_types/crew/engineering.dm
  code/modules/gear_presets/uscm_ship.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Code Improvement, Mapping, Mapping Approved

#5811 Fix runtime since HAS_TRAIT doesn't null test
  code/game/objects/structures/barricade/barricade.dm
Labels: Fix

#5723 Brig Area Update/Refactor
  code/game/area/almayer.dm
  code/modules/shuttle/dropship_hijack.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Grammar and Formatting, Mapping, Mapping Approved

#5808 Pried dropship's hatches cannot be locked again
  code/__DEFINES/dropships.dm
  code/game/machinery/doors/multi_tile.dm
  code/modules/shuttle/computers/escape_pod_computer.dm
  code/modules/shuttle/helpers.dm
  code/modules/shuttle/shuttles/dropship.dm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: Feature, UI

#5827 Admin Verbs - Hide now hides Control Mob verb
  code/modules/admin/admin_verbs.dm
Labels: Fix, Admin

#5824 Fix cas ammo consumption logic
  tgui/packages/tgui/interfaces/MfdPanels/FiremissionPanel.tsx
Labels: Fix, UI

#5837 TWE on Who.
  code/game/verbs/who.dm
Labels: Admin

#5836 Fix for fisticuffs causedata.
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#5831 Names for nodes and traps.
  code/modules/cm_aliens/structures/trap.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
  icons/mob/hud/actions_xeno.dmi
Labels: Sprites, Grammar and Formatting

#5832 Fixes the M707 spotting scope teleporting its user and M707 attachment camo
  code/game/objects/structures/vulture_spotter.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#5828 Fix for survivor hostility message.
  code/game/jobs/job/civilians/other/survivors.dm
Labels: Fix

#5812 Fixes Trading Card Descriptions
  code/game/objects/items/toys/trading_cards.dm
  icons/obj/items/playing_cards.dmi
Labels: Sprites, Grammar and Formatting

#5830 Moves current UPP/CLF combat synths into a support role
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/upp.dm
Labels: Feature, Balance, Balance Approved

#5834 Reverts Removal of M4 Armor From FTL
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
Labels: Balance, Balance Approved

#5823 Fix dropship equipment infinite loop
  code/modules/cm_marines/dropship_equipment.dm
Labels: Code Improvement

#5841 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/topic.dm
Labels: Tools

#5840 AUTODOC.md updates
  .github/guides/AUTODOC.md
Labels: Github

#5702 Dynamic price for omnisentryguns round 3
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  tgui/packages/tgui/interfaces/PartFabricator.jsx
Labels: Balance, UI, Balance Approved

#5816 Adds UA 45-F, UA 60-FP, M2C, M56D ammo to req
  code/datums/supply_packs/ammo.dm
Labels: Feature, Balance, Balance Approved

#5822 adds stun to exiting maintenance stations
  code/game/machinery/rechargestation.dm
Labels: Feature

#5819 Adds both the surv CLs and the USCM CL to the WY Faction
  code/__DEFINES/mode.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature
