Repository cmss13-devs/cmss13, pull requests merged in 2024-11, with the labels that each got.

#7423 Night vision optic buff
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/objects/items/devices/helmet_visors.dm
Labels: Balance, Balance Approved

#7433 Forecon SMG ammo is moved to their belt
  code/game/objects/items/storage/belt.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/uscm_forecon.dm
Labels: Balance, Balance Approved

#7436 Predator actions get properly removed
  code/modules/cm_preds/yaut_actions.dm
Labels: Missing Changelog

#7451 Fix hivecore restriction
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
Labels: Fix, Testmerge Candidate

#7428 sg nerf
  code/datums/ammo/bullet/special_ammo.dm
Labels: Balance, Balance Approved

#7438 Tacmap Polish
  code/__DEFINES/minimap.dm
  code/controllers/subsystem/minimap.dm
  icons/ui_icons/minimap.dmi
  tgui/packages/tgui/interfaces/CanvasLayer.jsx
  tgui/packages/tgui/interfaces/DrawnMap.jsx
  tgui/packages/tgui/interfaces/TacticalMap.tsx
  tgui/packages/tgui/styles/interfaces/TacticalMap.scss
Labels: Fix, Refactor, Sprites, UI, Testmerge Candidate, Sprites Approved

#7453 fix squadless marines
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/game/jobs/job/marine/squads.dm
Labels: Testmerge Candidate, Needs Testing, Missing Changelog

#7460 Fixes being able to use smartpack abilities while dead
  code/game/objects/items/storage/smartpack.dm
Labels: Fix

#7376 Remote building nerfs
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#7470 Fixes HTML Entity Codes In bug reports
  code/datums/bug_report.dm
Labels: Fix, Testmerge Candidate, Needs Testing

#7336 known alts
  code/datums/entities/player_sticky_ban.dm
  code/modules/admin/admin_verbs.dm
  code/modules/tgui_panel/telemetry.dm
Labels: Admin

#7472 Fix underbarrel flamethrower refilling
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#7473 Buff to Smartgunner AP ammo
  code/datums/ammo/bullet/special_ammo.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#7474 Fix button.confirm not displaying anything if it has no confirm content
  tgui/packages/tgui/components/Button.tsx
Labels: UI

#7463 Adds check status and stethoscope usage to examining
  code/modules/clothing/under/ties.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#7475 tgui body color/type/size picker
  code/modules/client/color_picker.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/skin_color.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/BodyPicker.tsx
  tgui/packages/tgui/styles/interfaces/BodyPicker.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/crt.scss
Labels: Feature, UI

#7471 Fix sentry additional shots and sentry flamer cause_data
  code/modules/defenses/sentry.dm
  code/modules/defenses/sentry_flamer.dm
Labels: Fix, Testmerge Candidate

#7482 More OD pragmas: Pointless positional argument, ambiguous in order, and proc argument global
  code/__pragmas.dm
  code/controllers/subsystem/objectives_controller.dm
  code/datums/global_variables.dm
  code/game/gamemodes/cm_process.dm
  code/game/machinery/robot_fabricator.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/mob/mob.dm
Labels: Code Improvement

#7477 Clears invalid loadout gear/restricts to actual point value.
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences_savefile.dm
Labels: Code Improvement

#7353 Lore Emails 2
  code/datums/fluff_emails.dm
Labels: Feature

#7483 Makes Sentinel's Scatter Spit a bit more consistent
  code/datums/ammo/xeno.dm
Labels: Balance, Balance Approved

#7424 Gives USCM Flag Officers TSL Language, plus some QOL for MARSOC
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
Labels: Feature, Quality of Life

#7427 CL Containment Chamber De-Metagamifyer
  code/game/area/almayer.dm
  code/game/machinery/doors/poddoor/almayer.dm
  icons/obj/structures/doors/blastdoors_shutters.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Sprites, Mapping, Sprites Approved, Mapping Approved

#7487 CC Ovi Fix
  code/game/area/LV522_Chances_Claim.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Balance, Mapping, Balance Approved, Mapping Approved

#7490 Double Facehugger Generation If Queen Is Ovi
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#7489 fixes squad transfers of riflemen
  code/game/jobs/role_authority.dm
Labels: Fix, Testmerge Candidate

#7491 XO arrival is announced just like CO/SEA
  code/game/jobs/job/command/cic/captain.dm
  code/game/jobs/job/command/cic/executive.dm
Labels: Feature

#7495 prevents the sebb grenades from perma-ing synths via degroining
  code/modules/organs/limbs.dm
Labels: Fix

#7488 Soro Shivas area fixes and tweaks
  code/game/area/shiva.dm
  code/game/area/strata.dm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Fix, Balance, Mapping, Balance Approved, Mapping Approved

#7504 Pred bones can now go on armor
  code/__DEFINES/equipment.dm
  code/modules/cm_preds/yaut_items.dm
Labels: Feature

#7507 Fix Auto Oviable Areas
  code/game/area/DesertDam.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/area/kutjevo.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/shiva.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/objects/effects/landmarks/landmarks.dm
Labels: Fix, Balance, Testmerge Candidate, Balance Approved

#7506 Fixes memorial ghosts not facing the right direction
  code/modules/almayer/ship_memorial.dm
Labels: Fix

#7498 Real Names for LOOC and SDing preds
  code/game/verbs/ooc.dm
  code/modules/cm_preds/yaut_bracers.dm
Labels: Code Improvement

#7500 Remove `ability_name` var from xeno_actions
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Code Improvement

#7499 Nukes Le'pro
  code/_globalvars/lists/names.dm
  code/modules/gear_presets/yautja.dm
Labels: Feature

#7389 Raise Corpsespawner Limit
  code/controllers/subsystem/objectives_controller.dm
  code/modules/objectives/mob_objectives.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/10.prison_breakout.dmm
  maps/map_files/BigRed/sprinkles/40.dorms_party.dmm
  maps/map_files/BigRed/standalone/medbay-v3.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Balance, Code Improvement, Testmerge Candidate, Mapping, Balance Approved, Mapping Approved

#7515 reduces binocular zoom for HvH
  code/game/objects/items/devices/binoculars.dm
Labels: Balance, Balance Approved

#7502 Adds a preference for queen auto shove
  code/__DEFINES/client_prefs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
Labels: Feature

#7493 hair/facial hair character setup picker
  code/modules/client/hair_picker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/new_player/sprite_accessories/hair.dm
  code/modules/tgui_input/color.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/duplicate_sprite_accessories.dm
  colonialmarines.dme
  tgui/packages/common/color.ts
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/components/Pointer.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/interfaces/HairPicker.tsx
  tgui/packages/tgui/styles/interfaces/ColorPicker.scss
  tgui/packages/tgui/styles/interfaces/HairPicker.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/crt.scss
  tgui/packages/tgui/styles/themes/crt/crt-blue.scss
Labels: Code Improvement, UI

#7494 Predator mask attachments!!!
  code/__DEFINES/equipment.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_mask.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/onmob/hunter/pred_mask_accessories.dmi
  icons/obj/items/hunter/pred_mask_accessories.dmi
Labels: Feature, Fix, Sprites, Code Improvement, UI, Sprites Approved

#7513 fixes duplicate apc on shivas
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Fix, Mapping, Mapping Approved

#7520 Reduces OT simulation cooldown from 2 minutes to 1 minute
  code/game/sim_manager/datums/simulator.dm
Labels: Quality of Life

#6966 Human vs human more automated gamemode and UPP changes
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/controllers/subsystem/minimap.dm
  code/datums/factions/upp.dm
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_sorted.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/fulton.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/gear_presets/upp.dm
  code/modules/mob/new_player/new_player.dm
  colonialmarines.dme
  html/changelogs/AutoChangeLog-pr-1.yml
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/styles/themes/crt/crt-upp.scss
Labels: Feature, Fix, Balance, UI, Balance Approved, Removal

#6652 autoclimbable handrails on harm intent
  code/game/objects/structures.dm
  code/game/objects/structures/barricade/handrail.dm
Labels: Balance, Quality of Life, Testmerge Candidate, Balance Approved

#7096 Collapsible Platform Edges.
  code/game/objects/structures/platforms.dm
  icons/obj/structures/props/platforms.dmi
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/sprinkles/40.admin_pmc.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/greenriver/newbridge.dmm
  maps/map_files/DesertDam/purpleriver/newbridge.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/10.podholder.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/20.poolparty.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/30.repairpanelslz.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/unused/20.medicalhold.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/riot_in_progress.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/sprinkles/unused/35.south-spidercave_cleared.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
  maps/predship/huntership.dmm
  maps/templates/Chinook.dmm
  maps/templates/lazy_templates/clf_ert_station.dmm
  maps/templates/lazy_templates/pizza_ert_station.dmm
  maps/templates/lazy_templates/twe_ert_station.dmm
  maps/templates/lazy_templates/upp_ert_station.dmm
  maps/templates/lazy_templates/uscm_ert_station.dmm
  maps/templates/lazy_templates/weyland_ert_station.dmm
  sound/effects/rock_creaking.ogg
  tools/UpdatePaths/6656-no-more-open-turf-edits.txt
  tools/UpdatePaths/Scripts/7096-platforms-paths.txt
Labels: Sound, Sprites, Code Improvement, Testmerge Candidate, Mapping, Sprites Approved, Mapping Approved

#7524 implements a new loadout picker tgui menu
  code/modules/client/loadout_picker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_gear.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/LoadoutPicker.tsx
  tgui/packages/tgui/styles/interfaces/LoadoutPicker.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/crt.scss
Labels: UI

#7539 Updates spawn message for preds
  code/game/jobs/job/antag/other/pred.dm
Labels: Grammar and Formatting

#7526 implements a picker for character traits
  code/modules/client/preferences.dm
  code/modules/client/traits_picker.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/TraitsPicker.tsx
  tgui/packages/tgui/styles/themes/crt.scss
Labels: UI

#7551 UPP ERT hotfix
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/upp_commando.dm
  code/game/objects/effects/landmarks/freed_mob_spawner.dm
Labels: Fix

#7538 UPP CO fix perhaps?
  code/modules/gear_presets/upp.dm
Labels: Fix

#7535 Linked LZ Adjustments and Remote Queen Boosted Building Restrictions
  code/game/area/BigRed.dm
  code/game/area/DesertDam.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/area/LV624.dm
  code/game/area/kutjevo.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/shiva.dm
  code/game/area/strata.dm
  code/game/area/varadero.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Balance, Testmerge Candidate, Mapping, Balance Approved, Mapping Approved

#7541 Medicomp heals full on finish
  code/modules/surgery/mcomp_tendwounds.dm
Labels: Balance, Balance Approved

#7464 Fixes G2 Synthetic Cosmetic
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Fix

#7549 pred weapons: staff and longaxe
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Sprites Approved

#7562 Fix Werror handling in build script
  code/datums/factions/upp.dm
  tools/build/lib/byond.js
Labels: UI, Github, Missing Changelog

#7566 Larva Queue Time of Death Sanity
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
Labels: Code Improvement

#7565 Fix floating Aerodome APC on Shivas
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Mapping, Mapping Approved

#7552 Makes Working Joe's eyes glow in a dark + tweaks wj eye colors
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/organs/limbs.dm
Labels: Feature

#7554 Egg orphans and fragile egg fixes
  code/modules/cm_aliens/structures/egg.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Fix, Balance, Testmerge Candidate, Balance Approved

#7540 Fixing UPP loudout oversights
  code/game/machinery/vending/vendor_types/antag/antag_gear.dm
  code/game/machinery/vending/vendor_types/antag/antag_guns_snowflake.dm
  code/modules/gear_presets/upp.dm
Labels: Fix

#7537 UPP synth HvH job addition
  code/__DEFINES/job.dm
  code/modules/gear_presets/upp.dm
Labels: Fix

#7556 Make LZ smoke admin only
  code/__DEFINES/mode.dm
  code/_globalvars/bitfields.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/admin_tab.dm
Labels: Balance, Testmerge Candidate, Balance Approved, Admin, Needs Testing

#7466 UPP Dropship Morana & Devana | USCM DS3 Saipan Fix
  code/__DEFINES/camera.dm
  code/__DEFINES/shuttles.dm
  code/controllers/subsystem/communications.dm
  code/game/area/Sulaco.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/turfs/closed.dm
  code/game/turfs/transit.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/dropships/attach_points/templates.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/dropship.dm
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/shuttle_console.dm
  icons/obj/structures/doors/dropship_upp_cargo.dmi
  icons/obj/structures/doors/dropship_upp_pilot.dmi
  icons/obj/structures/doors/dropship_upp_side2.dmi
  icons/obj/structures/machinery/shuttle-parts.dmi
  icons/turf/upp_dropship.dmi
  maps/shuttles/dropship_devana.dmm
  maps/shuttles/dropship_morana.dmm
  maps/shuttles/dropship_saipan.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#7534 Yautja necklace
  icons/mob/humans/onmob/hunter/pred_gear.dmi
Labels: Sprites, Sprites Approved

#7306 Changes to Donator Kits and custom_items.txt
  code/controllers/subsystem/ticker.dm
  code/modules/cm_marines/Donator_Kits.dm
  code/modules/cm_marines/custom_items.dm
  code/modules/customitems/item_spawning.dm
  code/modules/mob/new_player/new_player.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Feature, Stale Exempt, Mapping, Config, Mapping Approved

#7599 Allow donators with more than 1 kit to retrieve additional kits from the personal gear vendor
  code/modules/cm_marines/custom_items.dm
Labels: Feature

#7595 Map conversion checks and mapmerge2 fixup rework
  .github/workflows/ci_suite.yml
  .github/workflows/generate_documentation.yml
  tools/maplint/source/dmm.py
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm_test.py
  tools/mapmerge2/fixup.py
  tools/mapmerge2/mapmerge.py
Labels: Code Improvement, Github

#7590 you can search in the emote menus now
  code/modules/cm_preds/yaut_actions.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/interfaces/Emotes.tsx
  tgui/packages/tgui/interfaces/YautjaEmotes.tsx
Labels: UI

#7571 Wristblades and Scimitars now cut fences
  code/game/objects/structures/fence.dm
Labels: Balance

#7567 Rewrites burrower tremor code
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
Labels: Code Improvement

#7592 Clarity for nuke messaging
  code/game/machinery/nuclearbomb.dm
Labels: Quality of Life

#7605 emp act on human fix
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/limbs.dm
Labels: Fix

#7593 ABR-40 minor grammar fix
  code/modules/projectiles/guns/rifles.dm
Labels: Removal

#7608 g2 electroshock balance
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix, Balance

#7613 Fix box cramming under platforms
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
Labels: Fix

#7606 Code for Strata tilesets missing and restructure
  code/game/turfs/strata.dm
Labels: Code Improvement

#7609 Makes you unable to pixelshift structures (barricades/sentries/others)
  code/datums/keybinding/human.dm
Labels: Feature

#7589 UPP skill changes for HvH and WL fix
  code/modules/gear_presets/upp.dm
Labels: Fix, Balance

#7612 Update donator example config & Refactoring
  code/modules/cm_marines/custom_items.dm
  config/example/custom_items.txt
Labels: Code Improvement, Config

#7611 Lift more weed restrictions
  code/game/area/BigRed.dm
  code/game/area/Corsat.dm
  code/game/area/IceColony.dm
  code/game/area/LV522_Chances_Claim.dm
  code/game/area/LV624.dm
  code/game/area/Prison_Station_FOP.dm
  code/game/area/Sulaco.dm
  code/game/area/areas.dm
  code/game/area/kutjevo.dm
  code/game/area/prison_v3_fiorina.dm
  code/game/area/shiva.dm
  code/game/area/space_station_13_areas.dm
  code/game/area/strata.dm
  code/game/area/varadero.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Fix, Balance, Code Improvement, Testmerge Candidate, Mapping, Balance Approved

#7444 Sensor tower gets tacmap icon
  code/modules/desert_dam/motion_sensor/sensortower.dm
  icons/ui_icons/map_blips.dmi
Labels: Sprites, Sprites Approved

#7164 Fax Responders
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__DEFINES/urls.dm
  code/datums/emergency_calls/ert_stations.dm
  code/datums/skills/civilian.dm
  code/game/area/admin_level.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost/equipping.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/civilians/civilian.dm
  code/game/jobs/job/special/responders.dm
  code/game/jobs/whitelist.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/fax_machine.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/admin/topic/topic.dm
  code/modules/client/preferences.dm
  code/modules/cm_phone/phone.dm
  code/modules/gear_presets/fax_responders.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/paper.dm
  colonialmarines.dme
  maps/templates/lazy_templates/fax_responder_base.dmm
  tgui/packages/tgui/interfaces/FaxMachine.jsx
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Code Improvement, UI, Mapping, Mapping Approved

#7239 adds blinking laser to mortar impact on UPP vs USCM gamemode
  code/__DEFINES/mode.dm
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Balance

#7448 makes launchbay useable on transport
  code/modules/cm_marines/dropship_equipment.dm
Labels: Balance, Balance Approved

#7617 Fix corrupted not getting English/Common
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Fix

#7397 Add new patches to custom loadout
  code/modules/client/preferences_gear.dm
Labels: Code Improvement

#7625 Revert "Add new patches to custom loadout"
  code/modules/client/preferences_gear.dm
  html/changelogs/AutoChangeLog-pr-7397.yml
Labels: Missing Changelog

#7619 Xenos no longer have capped damage
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix, Testmerge Candidate

#7108 Big Red PMC crash nightmare changes + assorted fluff
  code/datums/skills/civilian.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/projectiles/guns/smgs.dm
  maps/Nightmare/maps/BigRed/nightmare.json
  maps/Nightmare/maps/BigRed/scenario.json
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
Labels: Feature, Balance, Mapping, Mapping Approved

#7621 Description tweaks for first-aid pouches
  code/game/objects/items/storage/pouch.dm
Labels: Fix, Grammar and Formatting

#7544 UPP squad colors
  code/datums/factions/upp.dm
  icons/mob/hud/marine_hud.dmi
Labels: Feature, Sprites

#7620 Adds temporary missing icon_state for gauss sentry holders
  icons/obj/structures/props/dropship_equipment.dmi
Labels: Sprites, Testmerge Candidate, Sprites Approved

#7624 pulse optimisation
  code/__DEFINES/objects.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life/handle_pulse.dm
  code/modules/mob/living/living_healthscan.dm
  colonialmarines.dme
Labels: Code Improvement

#7357 Pill bottle emptying bugfix
  code/__DEFINES/equipment.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/storage.dm
Labels: Fix

#7637 Fixes staff access to Fax Responder
  code/modules/client/client_procs.dm
Labels: Fix

#7632 Readds the short fog to LV522 LZ1
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#7635 Xeno ammo no longer pushes items
  code/modules/projectiles/projectile.dm
Labels: Balance, Balance Approved

#7631 Bump orphan egg time from 5 mins to 6 mins
  code/modules/cm_aliens/structures/egg.dm
Labels: Balance, Balance Approved

#7636 More monkey logic for containers and chimpering sounds
  code/modules/mob/living/carbon/human/species/monkey.dm
Labels: Feature, Sound

#7633 Add de-evolve cooldown per caste & De-evolve fixes
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/xeno.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/deevolve_cooldown.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/castes/Runner.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  colonialmarines.dme
Labels: Feature, Fix, Removal

#7654 Reaction fixes, refactoring, and flash powder retune
  code/game/objects/items/devices/flashlight.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reactions.dm
  code/modules/reagents/chemistry_reactions/other.dm
Labels: Balance, Refactor, Balance Approved

#7655 No more trapped Larva in Lambda Solaris
  maps/map_files/BigRed/BigRed.dmm
Labels: Mapping, Mapping Approved

#7643 reinforces the pipes in evac, again
  code/game/objects/structures/pipes/standard/manifolds.dm
  code/game/objects/structures/pipes/standard/simple.dm
  code/game/objects/structures/pipes/standard/standard_misc.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#7478 Fix Chief Engineers not being able to get all of their essential kit
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Fix

#7676 navbeacon be gone
  code/game/machinery/navbeacon.dm
  colonialmarines.dme
Labels: Removal

#7647 UPP squad selection
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
Labels: Quality of Life

#7674 fixes holograms triggering ares sensors
  code/__DEFINES/typecheck/mobs_generic.dm
  code/game/machinery/ARES/ARES_step_triggers.dm
Labels: Fix

#7679 Hugging respawn delay and join as xeno refactoring
  code/__DEFINES/xeno.dm
  code/__HELPERS/game.dm
  code/_onclick/observer.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Fix, Balance, Refactor, Grammar and Formatting, Balance Approved

#7685 Legacy Pred Armor Sprite Fix
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Labels: Fix

#7686 Removal of legacy permissions for predator
  code/__DEFINES/mode.dm
Labels: Removal

#7689 Add multivar support to hook installer/uninstaller
  tools/hooks/install.py
Labels: Code Improvement

#7642 Fix Missing Null UPP Synth Vendor
  code/game/machinery/vending/vendor_types/antag/antag_clothing.dm
Labels: Fix

#7675 HvH roundstart AI announcments
  code/game/gamemodes/extended/cm_vs_upp.dm
Labels: Quality of Life

#7626 UPP Commanding Officer Vendor Addition
  code/game/machinery/vending/vending_types.dm
  code/game/machinery/vending/vendor_types/antag/antag_upp_commanding_officer.dm
  colonialmarines.dme
Labels: Feature

#7557 UPP Vendor Addition | Surplus, Attachment, Weapons and Ammo
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/uniform_upp.dm
  colonialmarines.dme
  icons/obj/structures/machinery/vending.dmi
Labels: Feature, Sprites, Sprites Approved

#7662 Some changes to broadcasting
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/vending/vendor_types/crew/combat_correspondent.dm
  code/modules/paperwork/photography.dm
Labels: Feature
