Repository cmss13-devs/cmss13, pull requests merged in 2024-05, with the labels that each got.

#6094 Deconstructing walls without repairing them
  code/game/turfs/walls/walls.dm
Labels: Quality of Life, Stale

#6155 Corrupted Queen can set up personal alliances with humans
  code/__DEFINES/mobs.dm
  code/datums/mob_hud.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  icons/mob/hud/hud.dmi
Labels: Feature, Sprites, Stale, Testmerge Candidate, Sprites Approved

#6196 TGUI: Replaces babel & terser
  tgui/.swcrc
  tgui/babel.config.js
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/tgui/components/Button.jsx
  tgui/packages/tgui/components/Chart.jsx
  tgui/packages/tgui/components/ColorBox.jsx
  tgui/packages/tgui/components/DraggableControl.jsx
  tgui/packages/tgui/components/Grid.jsx
  tgui/packages/tgui/components/Icon.jsx
  tgui/packages/tgui/components/NoticeBox.jsx
  tgui/packages/tgui/components/Table.jsx
  tgui/public/tgui-panel.bundle.css
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: UI, Missing Changelog

#6192 Command announcements for survivors
  code/defines/procs/announcement.dm
Labels: Feature

#6173 Project ARES: Lockdown System
  code/__DEFINES/dcs/signals/signals_global.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/machinery/aicore_lockdown.dm
  code/game/machinery/biohazard_lockdown.dm
  code/game/turfs/floor_types.dm
  code/modules/admin/admin_verbs.dm
  code/modules/paperwork/desk_bell.dm
  colonialmarines.dme
  icons/obj/structures/doors/blastdoors_shutters.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/AresInterface.jsx
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Feature, Sprites, Code Improvement, UI, Mapping

#6097 Fm timeing changes
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/cas_manager/datums/cas_fire_mission.dm
  code/game/machinery/computer/dropship_weapons.dm
Labels: Balance, Balance Approved

#6148 Lurker invis toggling
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/mob_grab.dm
Labels: Feature, Fix, Balance, Testmerge Candidate, Balance Approved, Removal

#6174 Almayer Fix some pipes going bellow windows and their surrounding.
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#6180 Adds medlinks to WO and ground maps
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/FOP_v2_Cellblocks/Prison_Station_FOP.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Balance, Stale Exempt, Mapping, Balance Approved, Mapping Approved

#6216 Mapping LV624 updated apc to the new standart where they autoname and pixel themself to the wall.
  code/modules/power/apc.dm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/armory/10.cheese.dmm
  maps/map_files/LV624/armory/10.extra.dmm
  maps/map_files/LV624/armory/10.looted.dmm
  maps/map_files/LV624/gym/20.pool.dmm
  maps/map_files/LV624/gym/30.alternate.dmm
  maps/map_files/LV624/medbay/10.destroyed.dmm
  maps/map_files/LV624/medbay/30.larvasurgery.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/map_files/LV624/science/40.fullylocked.dmm
  maps/map_files/LV624/standalone/clfship.dmm
Labels: Mapping, Mapping Approved

#6030 Project ARES: Announcement Signatures
  code/defines/procs/announcement.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/game/machinery/ARES/ARES_interface_admin.dm
  code/game/machinery/ARES/ARES_interface_apollo.dm
  code/game/machinery/ARES/ARES_procs.dm
  code/game/machinery/ARES/apollo_pda.dm
  code/game/machinery/aicore_lockdown.dm
  code/game/machinery/biohazard_lockdown.dm
  code/game/machinery/computer/almayer_control.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/cictablet.dm
Labels: Feature

#6204 Un-cavemans some strain buy information, and changes every strain flavor text from 40k/doom references
  code/modules/mob/living/carbon/xenomorph/strains/castes/boiler/trapper.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/crusher/charger.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/defender/steel_crest.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/warden.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/hedgehog.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
Labels: Grammar and Formatting

#6222 Fixes microwave food duplication
  code/game/machinery/kitchen/microwave.dm
Labels: Fix

#6224 Fixes cloaked scout being decapable when wearing a helmet
  code/modules/organs/limbs.dm
Labels: Fix

#6197 Fix synths being affected by boiler neurotoxin
  code/datums/effects/neurotoxin.dm
Labels: Fix

#6223 Fixes sentry targeting xenos inside of vents
  code/modules/defenses/sentry.dm
Labels: Fix

#6218 nerfs Kutjevo ledges
  code/game/objects/structures/platforms.dm
Labels: Balance, Balance Approved

#6209 metal sheet exploit fix
  code/game/objects/items/frames/table_rack.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#6226 Fixes huggers not dying when caught by predator
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#6221 sea vendor additions (and CPR dummy removal)
  code/game/machinery/vending/vendor_types/crew/sea.dm
Labels: Feature, Good First PR, Removal

#6214 WY Security Skills & Engineer
  code/__DEFINES/job.dm
  code/datums/skills/wygoons.dm
  code/modules/gear_presets/wy_goons.dm
  colonialmarines.dme
Labels: Feature

#6213 Bookcases can now be deconstructed by slashing or wrenching
  code/game/objects/structures/bookcase.dm
Labels: Quality of Life

#6207 pointing at an item in your hands shows it off
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#6227 Fix weeded corpses on shuttles
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/datums/components/weed_food.dm
  code/game/objects/objs.dm
Labels: Fix

#6212 Fixes Whitelist Notes
  code/__DEFINES/admin.dm
  code/datums/entities/player.dm
  code/game/jobs/whitelist.dm
  code/game/verbs/records.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
Labels: Feature, Fix

#6231 Fixes burrower being able to tunnel across the map
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
Labels: Fix

#6228 Adds Type 80 UPP bayonets to CLF who lack knives
  code/modules/gear_presets/clf.dm
Labels: Feature, Good First PR

#6234 SADAR backblast now takes xeno explosion resistance into accout
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
Labels: Balance, Balance Approved

#6237 Watcher nerf
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/facehugger/watcher.dm
Labels: Balance, Balance Approved

#6172 Adds a bunch of material to the pred ship and slightly adjusts layout to compensate.
  maps/predship/huntership.dmm
Labels: Feature, Mapping, Mapping Approved

#5401 M540-B Armored Recon Carrier
  code/__DEFINES/dcs/signals/atom/signals_obj.dm
  code/__DEFINES/vehicle.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/ticker.dm
  code/datums/ammo/bullet/arc.dm
  code/datums/components/disk_reader.dm
  code/datums/elements/bullet_trait/iff.dm
  code/datums/skills/uscm.dm
  code/datums/supply_packs/vehicle_ammo.dm
  code/datums/supply_packs/vehicle_equipment.dm
  code/datums/vehicles.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/supplyshuttle.dm
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_tech/techs/marine/tier1/arc.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/objectives/data_retrieval.dm
  code/modules/objectives/objective_memory_storage.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/arc/verbs.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/arc_sentry_ammo.dm
  code/modules/vehicles/hardpoints/primary/arc_sentry.dm
  code/modules/vehicles/hardpoints/support/antenna.dm
  code/modules/vehicles/hardpoints/wheels/arc_wheels.dm
  code/modules/vehicles/interior/areas.dm
  code/modules/vehicles/interior/interior_landmarks.dm
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/multitile/multitile_hardpoints.dm
  code/modules/vehicles/vehicle.dm
  colonialmarines.dme
  icons/obj/vehicles/arc.dmi
  icons/obj/vehicles/hardpoints/arc.dmi
  icons/turf/areas_interiors.dmi
  icons/ui_icons/map_blips_large.dmi
  maps/interiors/arc.dmm
  strings/xenotips.txt
Labels: Feature, Balance, Sprites, Stale Exempt, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#6146 Smoke Flamer
  code/game/machinery/autolathe_datums.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/magazines/flamer.dm
Labels: Feature, Balance, Testmerge Candidate, Balance Approved, Needs Testing

#6178 fences can be shot through
  code/game/objects/structures/fence.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#6263 floor(x) conversion for 515
  code/__DEFINES/_math.dm
  code/__HELPERS/#maths.dm
  code/__HELPERS/_time.dm
  code/__HELPERS/lists.dm
  code/controllers/subsystem/minimap.dm
  code/datums/entities/player_times.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/computer/research.dm
  code/game/objects/items/fulton.dm
  code/game/objects/items/toys/cards.dm
  code/modules/buildmode/buildmode.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/guns/flamer/flameshape.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  code/modules/vehicles/interior/interior.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  code/modules/vehicles/multitile/multitile_movement.dm
Labels: Code Improvement, Missing Changelog

#6194 Data detector tweaks
  code/game/objects/items/devices/data_detector.dm
Labels: Fix, Quality of Life, Good First PR

#6150 Falling Falcons: Paratroopers Edition
  code/__DEFINES/equipment.dm
  code/datums/supply_packs/gear.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/objects/items/misc.dm
  code/game/turfs/transit.dm
  code/modules/clothing/suits/marine_armor/smartgunner.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/shuttle/shuttles/dropship.dm
  icons/mob/humans/onmob/back.dmi
  icons/mob/humans/onmob/items_lefthand_0.dmi
  icons/mob/humans/onmob/items_righthand_0.dmi
  icons/obj/items/clothing/backpacks.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
  tgui/packages/tgui/interfaces/MfdPanels/ParadropPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SupportPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/types.ts
Labels: Feature, Balance, Sprites, Stale Exempt, UI, Testmerge Candidate, Mapping, Balance Approved, Removal, Sprites Approved, Mapping Approved

#6254 Infection icon now has lower alpha if the human is dead
  code/datums/mob_hud.dm
Labels: Feature

#6271 ARES reception bell unique description and longer cooldown
  code/modules/paperwork/desk_bell.dm
Labels: Quality of Life

#6265 block() syntax refactor for 515
  code/__DEFINES/turfs.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/interior.dm
  code/controllers/subsystem/mapping.dm
  code/datums/components/overlay_lighting.dm
  code/datums/shuttles.dm
  code/datums/tutorial/_tutorial.dm
  code/game/world.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/cm_tech/techtree.dm
  code/modules/holidays/halloween/decorators.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/reader.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/nightmare/nmtasks/mapload.dm
  code/modules/nightmare/nmtasks/mapscheduler.dm
  code/modules/shuttle/shuttle.dm
  code/modules/tents/folded_tents.dm
  code/modules/unit_tests/unit_test.dm
  code/modules/vehicles/interior/interior.dm
  code/modules/vehicles/multitile/multitile_movement.dm
Labels: Code Improvement, Testmerge Candidate, Missing Changelog

#6241 Xenos cannot pylon working comms anymore
  code/game/machinery/telecomms/presets.dm
Labels: Balance, Balance Approved

#6240 Instant delimb nerf
  code/modules/organs/limbs.dm
Labels: Balance, Balance Approved

#6261 Handheld distress beacons now require a reason input.
  code/game/objects/items/handheld_distress_beacon.dm
Labels: Feature

#6252 Restraints now show up on examine.
  code/modules/mob/living/carbon/human/examine.dm
Labels: Feature

#6205 Adds rolled sleeves to IO uniforms
  icons/mob/humans/onmob/uniform_0.dmi
Labels: Sprites, Sprites Approved

#6273 Fixes potential bugs with #6254
  code/datums/mob_hud.dm
Labels: Fix

#6264 modulo conversion for 515
  code/__DEFINES/_math.dm
  code/__HELPERS/_time.dm
  code/modules/shuttle/docking.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
Labels: Missing Changelog

#6262 ceil(x) conversion for 515
  code/__DEFINES/_math.dm
  code/__HELPERS/#maths.dm
  code/__HELPERS/_time.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/timer.dm
  code/datums/beam.dm
  code/datums/components/overlay_lighting.dm
  code/datums/diseases/advance/advance.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/reagent_containers/food/sandwich.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/clans/client.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  code/modules/cm_tech/techtree.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/lighting/lighting_static/static_lighting_source.dm
  code/modules/mapping/reader.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  code/modules/vehicles/multitile/multitile_movement.dm
Labels: Code Improvement, Missing Changelog

#6260 Fixes infinite lifeboat alarm after queen locking
  code/modules/shuttle/computer.dm
Labels: Fix

#6259 lets you dig out shrapnel with the throwing knife (+ screwdriver)
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/items/weapons/blades.dm
Labels: Feature

#6258 added a crowbar to the cryo defense kit.
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Balance, Balance Approved

#6243 mortar shells will now cook off and explode when flamed
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
Labels: Feature

#6276 OT freezer will now play a bell sound when it's done making paraformaldehyde
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
Labels: Quality of Life

#6280 Removes Generic Tailstab for Vamp lurker
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Labels: Balance, Grammar and Formatting, Balance Approved

#6279 Adds 70% chance groundside reagent tanks are anchored.
  code/game/objects/structures/reagent_dispensers.dm
Labels: Balance, Balance Approved

#6278 Synth vendor additions
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature

#6282 Xenos holding on warding don't lose it while on weeds
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Balance, Balance Approved

#6272 Additional Labeler Workflow Triggers
  .github/workflows/labeler.yml
Labels: Github, Missing Changelog

#6270 SDQL2 bugfixes & features
  .github/CODEOWNERS
  code/controllers/subsystem/statpanel.dm
  code/game/objects/effects/effect.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Admin, Github

#6275 Allows maintenance jack to be quick drawn
  code/__DEFINES/equipment.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/objects/items/weapons/blades.dm
  code/game/objects/items/weapons/energy.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weapon.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/revolvers.dm
Labels: Quality of Life, Code Improvement

#6267 VP78 Range + ROF Buff
  code/datums/ammo/bullet/pistol.dm
  code/modules/projectiles/guns/pistols.dm
Labels: Balance, Balance Approved

#6247 Fixes humans unable to use vehicle gunner seat
  code/__DEFINES/traits.dm
  code/game/objects/objs.dm
  code/modules/vehicles/interior/interactable/seats.dm
Labels: Fix

#6285 Fix MRE automatic trashing and nade box trashing
  code/game/objects/items/storage/boxes.dm
Labels: Feature, Fix

#6286 Fixes issuing a null order
  code/modules/mob/living/carbon/human/powers/issue_order.dm
Labels: Fix

#6287 Milkshakes no longer attempt to drive your body temperature to absolute zero, instead it just gets you to frozen
  code/modules/reagents/chemistry_reagents/drink.dm
Labels: Balance, Balance Approved

#6290 Automatic TGS DMAPI Update
  code/modules/tgs/v5/chunking.dm
Labels: Tools, Missing Changelog

#6299 custom rocket description now looks nicer
  code/modules/projectiles/magazines/specialist.dm
Labels: Grammar and Formatting

#6294 Changes advanced medhud eye location
  code/game/objects/items/devices/helmet_visors.dm
Labels: Feature

#6297 New Varadero - Tunnel Touch-Up
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Mapping, Mapping Approved

#6300 Maintenance Jack pry time decreased on unpowered doors
  code/game/objects/items/tools/maintenance_tools.dm
Labels: Balance, Balance Approved

#6302 Makes the Queen's point purple
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Quality of Life

#6303 Restricts contents of custom loadout weapon boxes
  code/game/objects/items/storage/misc.dm
Labels: Fix, Good First PR

#6305 Track targets in interiors
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Quality of Life

#6306 Cats now have the correct name and description when held and in your bag
  code/modules/mob/holder.dm
Labels: Fix

#6307 Ghost health scan usable range increase
  code/modules/mob/dead/observer/observer.dm
Labels: Quality of Life

#6291 Roundstart xenomorph count changes
  code/__DEFINES/mode.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/new_player/new_player.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#6251 Fixes light attachments setting and add pref for ammo counter
  code/__DEFINES/client_prefs.dm
  code/__DEFINES/traits.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
Labels: Fix, Quality of Life

#6320 Return to client macros for tgsay
  code/__DEFINES/tgui.dm
  code/datums/keybinding/communication.dm
  code/modules/client/client_procs.dm
  code/modules/tgui/tgui-say/modal.dm
  tgui/packages/tgui-say/TguiSay.tsx
Labels: UI

#6319 Fix nanoui onclose errors
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/circuitboards/airlock.dm
  code/game/objects/items/devices/dummy_tablet.dm
  code/modules/client/preferences.dm
Labels: Fix

#6309 Adds a sensor tower to Shivas Snowball
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Feature, Mapping, Mapping Approved

#6289 Fix verb to adjust predator slots
  code/game/gamemodes/cm_initialize.dm
  code/modules/admin/tabs/round_tab.dm
Labels: Code Improvement, Stale, Admin

#6322 Fix for admin ares flight logs.
  tgui/packages/tgui/interfaces/AresAdmin.jsx
Labels: Fix, UI

#6318 Adds an access check for CL evac pod.
  code/modules/shuttle/computers/escape_pod_computer.dm
Labels: Feature

#6316 Prevent open crates from being supply dropped
  code/game/supplyshuttle.dm
  code/modules/cm_marines/overwatch.dm
Labels: Quality of Life

#6315 Fixes some improper APC placements on Shivas Snowball
  code/game/area/shiva.dm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/cleared.dmm
  maps/map_files/Ice_Colony_v3/lz2-variations/southeast-gate/closed.dmm
Labels: Fix, Mapping, Mapping Approved

#6311 AMR Anti-Focusing nerfs
  code/datums/ammo/bullet/sniper.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Balance, Balance Approved

#6325 modernises the readme and makes it considerably prettier
  .github/assets/discord-dark.png
  .github/assets/discord-light.png
  .github/assets/docs-dark.png
  .github/assets/docs-light.png
  .github/assets/logo.png
  .github/assets/website-dark.png
  .github/assets/website-light.png
  .github/assets/wiki-dark.png
  .github/assets/wiki-light.png
  LICENSE
  LICENSE-AGPLv3.txt
  LICENSE-CC-BY-NC-SA-3.0.txt
  LICENSE-GPLv3.txt
  README.md
Labels: Github, Missing Changelog

#6277 Synthetic, Compact-Nailgun Holster
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/storage/belt.dm
  icons/obj/items/clothing/belts.dmi
Labels: Feature, Sprites, Sprites Approved

#6245 Vehicle projectile origin adjustment
  code/_onclick/adjacent.dm
  code/datums/ammo/misc.dm
  code/datums/ammo/rocket.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/hardpoints/hardpoint.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/gl_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/tow_ammo.dm
  code/modules/vehicles/hardpoints/holder/tank_turret.dm
  code/modules/vehicles/hardpoints/primary/arc_sentry.dm
  code/modules/vehicles/hardpoints/primary/autocannon.dm
  code/modules/vehicles/hardpoints/primary/dual_cannon.dm
  code/modules/vehicles/hardpoints/primary/flamer.dm
  code/modules/vehicles/hardpoints/primary/ltb.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
  code/modules/vehicles/hardpoints/secondary/flamer.dm
  code/modules/vehicles/hardpoints/secondary/frontal_cannon.dm
  code/modules/vehicles/hardpoints/secondary/grenade_launcher.dm
  code/modules/vehicles/hardpoints/secondary/tow.dm
  code/modules/vehicles/hardpoints/special/firing_port_weapon.dm
  code/modules/vehicles/hardpoints/support/flare.dm
Labels: Quality of Life

#6268 Project ARES: Almayer Sentries
  code/game/machinery/sentry_holder.dm
  code/modules/defenses/sentry.dm
  icons/obj/structures/props/almayer_props.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Balance, Sprites, Mapping, Balance Approved, Sprites Approved, Mapping Approved

#6332 Fixes gibber not killing mobs
  code/game/machinery/kitchen/gibber.dm
Labels: Fix

#6326 Adds UNO cards to the Lifeboat Supply Cabinets
  code/game/machinery/vending/vendor_types/supplies.dm
Labels: Feature

#6225 Research major property rebalance
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/__DEFINES/traits.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/revolver.dm
  code/datums/ammo/bullet/rifle.dm
  code/datums/ammo/bullet/smg.dm
  code/datums/ammo/energy.dm
  code/datums/components/healing_reduction.dm
  code/datums/components/speed_modifier.dm
  code/datums/components/status_effect_component.dm
  code/datums/components/toxin_buildup.dm
  code/datums/components/xeno/hivemind_interference.dm
  code/datums/components/xeno/xeno_daze.dm
  code/game/objects/effects/effect_system/chemsmoke.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/carbon/xenomorph/xeno_verbs.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/magazines/flamer.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/other.dm
  colonialmarines.dme
Labels: Balance, Code Improvement, Testmerge Candidate, Balance Approved

#6345 Reduce chem smoke logging spam
  code/game/objects/effects/effect_system/chemsmoke.dm
Labels: Admin

#6346 Ghost orbit refactor
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: UI

#6163 Heavy Sniper Part 2 - The Heavying
  code/datums/ammo/bullet/sniper.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#6348 Fixes Burrowers being able to use corrosive acid while underground
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
Labels: Fix

#6349 Allows lifeboat surgery
  code/game/turfs/open.dm
Labels: Balance, Balance Approved
