Repository cmss13-devs/cmss13, pull requests merged in 2024-10, with the labels that each got.

#7175 fixes plasma caster onmob
  code/__DEFINES/human.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Fix, Code Improvement

#7126 Yautja Scimitar alternative style.
  code/modules/cm_preds/_yaut_defines.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Sprites Approved

#7260 Make facehugger limit visible to xenos
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
Labels: Quality of Life

#7265 Allows using empty verb on storage box items
  code/__DEFINES/equipment.dm
Labels: Quality of Life

#7257 adds a containment cell to the Wey-Yu ERT station
  maps/templates/lazy_templates/weyland_ert_station.dmm
Labels: Mapping

#7087 Psychic Radiance for humans
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/xenomorph/Abilities.dm
Labels: Feature, Fix

#7258 Ventcrawl notification fix
  code/game/objects/structures/pipes/pipes.dm
Labels: Fix

#7246 cryogenics on ERT stations and yautja ships no longer send gear to the Almayer
  code/game/machinery/cryopod.dm
  maps/map_files/generic/Admin_level.dmm
  maps/predship/huntership.dmm
  maps/templates/Chinook.dmm
  maps/templates/lazy_templates/freelancer_ert_station.dmm
  maps/templates/lazy_templates/twe_ert_station.dmm
  maps/templates/lazy_templates/upp_ert_station.dmm
  maps/templates/lazy_templates/uscm_ert_station.dmm
  maps/templates/lazy_templates/weyland_ert_station.dmm
Labels: Fix, Mapping, Mapping Approved

#7267 IOs now get engineering access
  code/modules/gear_presets/uscm.dm
Labels: Quality of Life

#7153 Squad Prep Weapon Vendors now scale with number of marines
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Balance, Balance Approved

#7247 Adds Scandinavian as a language option in the traits menu
  code/__DEFINES/language.dm
  code/modules/character_traits/languages.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/language/languages.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, Code Improvement, UI

#7270 Corporate Liaison Wardrobe Additions
  code/game/machinery/vending/vendor_types/crew/corporate_liaison.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
Labels: Feature

#7218 Fix's the Inconsistencies with the joining a role message and the Chain of Command
  code/game/jobs/job/civilians/support/doctor.dm
  code/game/jobs/job/civilians/support/researcher.dm
Labels: Feature, Grammar and Formatting

#7249 Fixes neuraline being in research chem recipes
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Fix

#7255 Changes /area/yautja checks to look for a flag
  code/__DEFINES/misc.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_procs.dm
Labels: Code Improvement

#7235 Staff default toggles
  code/__DEFINES/__game.dm
  code/controllers/subsystem/inactivity.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences_savefile.dm
Labels: Code Improvement, Admin, Do Not Тestmerge

#7266 [ided] Predators are alerted on abom evo, not burst.
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
Labels: Balance, Balance Approved

#7177 Slight CBRN Armor Buff
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/marine_uniform.dm
Labels: Balance, Balance Approved

#7228 Revives "Stops Queen from stomping on Xenos with relevant pass flags (Lessers/Huggers/Larva) "
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/living.dm
Labels: Quality of Life

#7256 Fixes grey_multi_tile shadows
  code/game/turfs/strata.dm
  icons/turf/floors/strata_floor.dmi
Labels: Fix, Sprites, Code Improvement

#7179 adds more xenos to the OT demo viewer
  code/__DEFINES/machinery.dm
  code/game/sim_manager/datums/simulator.dm
Labels: Feature

#7125 Yautja emotes and sounds QOL
  code/game/sound.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/living/carbon/human/species/yautja/yautja_sound.dm
  sound/voice/pred_death1.ogg
  sound/voice/pred_death2.ogg
  sound/voice/pred_laugh4.ogg
  sound/voice/pred_laugh5.ogg
  sound/voice/pred_roar6.ogg
  sound/voice/predgrowl.ogg
Labels: Quality of Life, Sound

#7253 Abominations (Predaliens) can no longer be gibbed
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
Labels: Quality of Life

#7275 Fixes Queen being unable to stomp xenos
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#7241 Changes resin whisperer's viewrange ability into a toggle
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_helper_procs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Quality of Life

#7220 Extracts some specific effects properties into an element, adds afterimage effect
  code/__HELPERS/icons.dm
  code/datums/elements/drop_retrieval.dm
  code/datums/elements/effects/copy_appearance.dm
  code/datums/elements/effects/fading.dm
  code/datums/elements/effects/pixel_shifting.dm
  code/datums/elements/effects/temporary.dm
  code/game/objects/effects/afterimage.dm
  code/game/objects/effects/bloodsplatter.dm
  code/game/objects/effects/effect.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/shockwave.dm
  code/game/objects/effects/temporary_visuals.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/mob_helpers.dm
  colonialmarines.dme
Labels: Feature

#7183 Adds the ability for humans to shove xenos
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
Labels: Feature

#7231 fix for pred round chance and the database
  code/datums/entities/predround_chance.dm
  code/game/jobs/role_authority.dm
  colonialmarines.dme
  maps/Nightmare/scenario.json
Labels: Fix, Testmerge Candidate

#7261 Lobby xeno late join queue information
  code/__HELPERS/game.dm
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/new_player/new_player.dm
Labels: Feature, Quality of Life, UI

#7084 Add visual sprite display of ammo count for dropships, add toggle to auto deploy to sentries/MGs on landing, dropship fabricator build queue
  code/game/machinery/computer/dropship_weapons.dm
  code/game/machinery/sentry_holder.dm
  code/game/objects/effects/rappel_rope.dm
  code/game/objects/structures/props.dm
  code/modules/almayer/machinery.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/dropships/attach_points/templates.dm
  code/modules/power/lighting.dm
  code/modules/shuttle/shuttles/dropship.dm
  icons/obj/items/lighting.dmi
  icons/obj/structures/props/almayer_props.dmi
  icons/obj/structures/props/almayer_props64.dmi
  icons/obj/structures/props/dropship_ammo.dmi
  icons/obj/structures/props/dropship_ammo64.dmi
  icons/obj/structures/props/dropship_equipment.dmi
  icons/obj/structures/props/dropship_equipment64.dmi
  maps/shuttles/dropship_alamo.dmm
  maps/shuttles/dropship_normandy.dmm
  maps/shuttles/dropship_resolute.dmm
  tgui/packages/tgui/interfaces/MfdPanels/MGPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/SentryPanel.tsx
  tgui/packages/tgui/interfaces/MfdPanels/types.ts
  tgui/packages/tgui/interfaces/PartFabricator.jsx
Labels: Feature, Balance, Quality of Life, Refactor, Sprites, Code Improvement, UI, Mapping, Mapping Approved

#7281 Spellchecks #7261
  code/modules/mob/new_player/new_player.dm
Labels: Missing Changelog

#7285 fixes some upp vendor prices
  code/datums/factions/upp.dm
Labels: Fix

#7025 Fixes giant lizard code breaking when disarmed, and adds some minor features to the mob
  code/__DEFINES/mode.dm
  code/_globalvars/misc.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/death.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  icons/mob/mob_64.dmi
Labels: Feature, Fix, Sprites

#7272 Fixes Yautja Gear Tracker runtime
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#7294 Halves the time required to suicide via mouth target.
  code/modules/projectiles/gun.dm
Labels: Quality of Life

#7290 Follow Menu Tweaks
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Fix, Code Improvement, UI

#7280 Fix unintended reagent refilling via vendors
  code/game/machinery/vending/vendor_types/medical.dm
Labels: Fix, Balance, Testmerge Candidate, Balance Approved

#7120 Hands-only CPR
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Balance, Balance Approved

#7149 Pred cape and armour stuff
  code/__DEFINES/pred.dm
  code/modules/cm_preds/yaut_items.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Fix, Sprites, Sprites Approved

#7268 [Pred] Adds a no block alternative to combistick
  code/datums/keybinding/yautja.dm
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/modules/cm_preds/_yaut_defines.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_actions.dm
  code/modules/cm_preds/yaut_hudprocs.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/science/10.yautja.dmm
  maps/predship/huntership.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved

#7312 Minor tweaks to tutorials
  code/__DEFINES/tutorial.dm
  code/__HELPERS/game.dm
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/_tutorial_menu.dm
  code/datums/tutorial/marine/basic_marine.dm
  code/datums/tutorial/marine/medical_basic.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/datums/tutorial/ss13/intents.dm
  code/datums/tutorial/xenomorph/abomination.dm
  code/datums/tutorial/xenomorph/xenomorph_basic.dm
  code/modules/client/preferences_savefile.dm
  tgui/packages/tgui/interfaces/TutorialMenu.tsx
Labels: Feature, Code Improvement, UI

#7308 Almayer Squad Hypersleep Changes (removing 1x1s and adding decals)
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#7317 CMB Fix
  code/modules/gear_presets/cmb.dm
Labels: Fix

#7302 Hostile ERT clarity messages
  code/datums/emergency_calls/clf.dm
  code/datums/emergency_calls/deathsquad.dm
  code/datums/emergency_calls/deus_vult.dm
  code/datums/emergency_calls/emergency_call.dm
  code/datums/emergency_calls/hefa_knight.dm
  code/datums/emergency_calls/mercs.dm
  code/datums/emergency_calls/upp.dm
  code/modules/clothing/suits/marine_armor/ert.dm
Labels: Feature

#7303 Increases the amount of mk2/m39 mags in preps
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Balance, Balance Approved

#6490 Event Spawn: Synthetic K9 Rescue Teams
  code/__DEFINES/human.dm
  code/__DEFINES/job.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/paygrade_defs/marines.dm
  code/__DEFINES/typecheck/humanoids.dm
  code/datums/factions/uscm.dm
  code/datums/paygrades/factions/uscm/marine.dm
  code/datums/skills/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/k9_synth.dm
  code/game/objects/items.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/character_traits/skills.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/cm_marines/radar.dm
  code/modules/gear_presets/synth_k9.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/human/species/emote-monkey.dm
  code/modules/mob/living/carbon/human/species/emote-synth_k9.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/synth_k9.dm
  code/modules/mob/living/carbon/human/unarmed_attacks.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/OnFire.dmi
  icons/mob/humans/onmob/uniform_0.dmi
  icons/mob/humans/species/synth_k9/onmob/synth_k9_overlays.dmi
  icons/mob/humans/species/synth_k9/r_k9.dmi
  icons/obj/items/clothing/backpacks.dmi
  icons/obj/items/pamphlets.dmi
  icons/obj/items/storage/kits.dmi
  icons/ui_icons/map_blips.dmi
  sound/voice/barkstrong1.ogg
  sound/voice/barkstrong2.ogg
  sound/voice/barkstrong3.ogg
  sound/voice/growl1.ogg
  sound/voice/growl2.ogg
  sound/voice/growl3.ogg
  sound/voice/growl4.ogg
Labels: Feature, Fix, Sound, Refactor, Sprites, Code Improvement, Stale Exempt, Sprites Approved

#7282 stops pilots breaking the bank
  code/__DEFINES/cooldowns.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
Labels: Fix

#7331 Blood Vendor Medlink Restock
  code/game/machinery/vending/vendor_types/medical.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Quality of Life, Mapping, Balance Approved, Mapping Approved

#7348 Fixes #7220 ( Extracts some specific effects properties into an element, adds afterimage effect )
  code/game/objects/effects/afterimage.dm
  code/game/objects/effects/bloodsplatter.dm
  code/game/objects/effects/shockwave.dm
Labels: Fix

#7354 Working Chinook Shuttle Landmark
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/shuttles/ert.dm
  maps/templates/Chinook.dmm
Labels: Fix, Mapping

#7338 Fix Mod Remote Control
  code/modules/admin/admin_verbs.dm
Labels: Admin

#7297 Declutters and lightly reorganizes the HM vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Quality of Life

#7327 Typos
  code/game/machinery/vending/vending_types.dm
  code/modules/clothing/suits/jobs.dm
Labels: Grammar and Formatting

#7332 Nuclear bomb timer visibility
  code/game/machinery/nuclearbomb.dm
Labels: Quality of Life

#7319 Mil CC gets access to the broadcasting camera
  code/game/machinery/vending/vendor_types/crew/combat_correspondent.dm
Labels: Feature

#7300 Increases the ChemMaster reagent buffer size from 300 to 500
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Quality of Life

#7337 fixes the unbuckled message to other viewers
  code/game/objects/objs.dm
Labels: Fix

#7346 Fix Splint Removal
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#7374 praes one letters begone
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Code Improvement

#7379 Escape Pods can no longer be tunneled or burrowed.
  code/game/area/shuttles.dm
Labels: Balance, Balance Approved

#7369 Synthetic Vendor Update
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature, Removal

#7299 Adds hallucinations to the memorial slab
  code/game/objects/effects/client_image_holder.dm
  code/game/objects/items/cards_ids.dm
  code/modules/almayer/machinery.dm
  code/modules/almayer/ship_memorial.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  colonialmarines.dme
  sound/ATTRIBUTION.txt
  sound/hallucinations/ears_ringing.ogg
  sound/hallucinations/ghost_whisper_01.ogg
  sound/hallucinations/ghost_whisper_02.ogg
  sound/hallucinations/ghost_whisper_03.ogg
  sound/hallucinations/ghost_whisper_04.ogg
  sound/hallucinations/ghost_whisper_05.ogg
  sound/hallucinations/ghost_whisper_06.ogg
  sound/hallucinations/ghost_whisper_07.ogg
  sound/hallucinations/ghost_whisper_08.ogg
  sound/hallucinations/ghost_whisper_09.ogg
  sound/hallucinations/ghost_whisper_10.ogg
  sound/hallucinations/ghost_whisper_11.ogg
  sound/hallucinations/ghost_whisper_12.ogg
  sound/hallucinations/ghost_whisper_13.ogg
  sound/hallucinations/ghost_whisper_female_01.ogg
  sound/hallucinations/ghost_whisper_female_02.ogg
  sound/hallucinations/ghost_whisper_female_03.ogg
  sound/hallucinations/ghost_whisper_female_04.ogg
  sound/hallucinations/ghost_whisper_female_05.ogg
  sound/hallucinations/ghost_whisper_female_06.ogg
  sound/hallucinations/ghost_whisper_female_07.ogg
  sound/hallucinations/ghost_whisper_female_08.ogg
  sound/hallucinations/ghost_whisper_female_09.ogg
  sound/hallucinations/ghost_whisper_female_10.ogg
  sound/hallucinations/ghost_whisper_female_11.ogg
  sound/hallucinations/ghost_whisper_female_12.ogg
  sound/hallucinations/ghost_whisper_female_13.ogg
  sound/hallucinations/ghost_whisper_female_14.ogg
  sound/hallucinations/ghost_whisper_female_15.ogg
Labels: Feature, Sound

#7366 CE APOLLO PDA
  code/game/machinery/ARES/apollo_pda.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  icons/obj/items/synth/wj_pda.dmi
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Feature, Sprites, UI

#6808 Attachments resprite
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  icons/obj/items/weapons/guns/attachments.dmi
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  icons/obj/items/weapons/guns/attachments/rail.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
Labels: Sprites, Sprites Approved

#7325 No more multiple patient surgeries on one tile
  code/modules/surgery/surgery_procedure.dm
Labels: Fix

#7286 Buffs contractor ABR40
  code/modules/gear_presets/contractor.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Feature, Balance, Removal

#7334 Only Show Discord Certify Verb When No Link
  code/datums/entities/player.dm
  code/game/verbs/discord.dm
Labels: Quality of Life

#7359 Fixes Funny Wall Bug
  code/datums/elements/bullet_trait/damage_boost.dm
Labels: Fix

#7304 Adds 4 new hairs
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites, Sprites Approved

#7355 More items count as helmet accessories
  code/game/objects/items/devices/walkman.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/items/tools/flame_tools.dm
  code/game/objects/items/toys/cards.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/ties.dm
Labels: Quality of Life

#7378 new hunter gear cosmetics!
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/map_files/LV624/maintemple/2.flooded.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/predship/huntership.dmm
  maps/templates/lazy_templates/clf_ert_station.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#7344 Removes BiMex Glasses flash protection
  code/modules/clothing/glasses/glasses.dm
Labels: Balance, Balance Approved

#7387 Dropship xeno alarm fix
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Fix

#7384 warrior proper vars
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
Labels: Code Improvement

#7318 Fix smartgun AP bullet unload_chamber issue
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Fix

#6641 New Marine Hairstyles
  code/modules/mob/new_player/sprite_accessories/hair.dm
  icons/mob/humans/human_hair.dmi
Labels: Feature, Sprites, Sprites Approved

#7048 Updates Tank Primary Camo
  code/modules/vehicles/hardpoints/hardpoint_ammo/minigun_ammo.dm
  icons/obj/items/weapons/guns/ammo_by_faction/uscm.dmi
  icons/obj/vehicles/hardpoints/tank.dmi
  icons/obj/vehicles/tank.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#7313 Adds the ability for dual-tube shotguns to rechamber from the other tube
  code/modules/projectiles/guns/shotguns.dm
  icons/mob/hud/actions.dmi
Labels: Feature, Sprites, Sprites Approved

#7356 Gives the Corporate Liaison a map-specific lore-brief about the map.
  code/datums/map_config.dm
  code/modules/paperwork/paper.dm
  maps/desert_dam.json
  maps/kutjevo.json
  maps/map_briefings/cl_brief_kutjevo.html
  maps/map_briefings/cl_brief_placeholder.html
  maps/map_briefings/cl_brief_trijent.html
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Mapping

#7066 New tile replacement for ANCIENT SS13 floor tiles.
  icons/turf/almayer.dmi
  icons/turf/floors/floors.dmi
Labels: Sprites, Sprites Approved

#7305 Kutjevo/Fiorina Liaison Survivors (Plus Minor Additions)
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  maps/fiorina_sciannex.json
  maps/kutjevo.json
Labels: Feature

#7360 stops dead people using their human keybinds
  code/datums/keybinding/human.dm
Labels: Fix

#6907 UPP Rank rework (afghan edition)
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/upp.dm
  code/datums/emergency_calls/upp.dm
  code/datums/emergency_calls/upp_commando.dm
  code/datums/factions/upp.dm
  code/datums/paygrades/factions/upp/upp.dm
  code/modules/gear_presets/upp.dm
Labels: Grammar and Formatting

#7385 Anti ib gamemode flag
  code/__DEFINES/mode.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/modules/organs/limbs.dm
Labels: Feature

#7350 Buff's Hornet shells & Star shells into relevancy
  code/datums/ammo/misc.dm
  code/datums/ammo/shrapnel.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/explosives/grenades/marines.dm
Labels: Balance, Balance Approved

#7237 Indestructible splints for UPP vs USCM gamemode
  code/__DEFINES/mode.dm
  code/game/gamemodes/extended/extended_clash.dm
  code/game/objects/items/stacks/medical.dm
Labels: Balance, Balance Approved

#7394 Fixes one specific hairstyle being overriden
  code/modules/mob/new_player/sprite_accessories/hair.dm
Labels: Fix

#7029 Adds keybinds for pixel shifting items
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
Labels: Feature

#7298 Auto wiki requisitions
  code/modules/autowiki/pages/supply_packs.dm
  colonialmarines.dme
Labels: Quality of Life

#6588 Squad roles positions code QoL
  code/datums/emergency_calls/cryo_marines.dm
  code/datums/emergency_calls/cryo_marines_heavy.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/job/marine/squad/engineer.dm
  code/game/jobs/job/marine/squad/medic.dm
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
  code/modules/mob/new_player/new_player.dm
Labels: Code Improvement, Stale Exempt

#7225 Prevent tackle sound from Queen corpses
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#7216 Adds a proper warning dot to thermobaric missile direct fire
  code/modules/cm_marines/dropship_equipment.dm
Labels: Feature, Balance, Balance Approved

#7386 Surgical case buff
  code/game/objects/items/storage/firstaid.dm
Labels: Balance, Balance Approved

#7391 Reverts bimex nerf and soul removal, inscreases bimex price
  code/modules/client/preferences_gear.dm
  code/modules/clothing/glasses/glasses.dm
Labels: Feature, Balance, Balance Approved, Removal

#7230 Sentinel's Slowing Spit can now drain Medical and Research chems on hit
  code/datums/ammo/xeno.dm
Labels: Balance, Stale, Balance Approved

#7199 I cast: Bullshit rocks BE GONE IN ACID.
  code/game/objects/structures/props.dm
Labels: Code Improvement, Stale

#7395 Sentinel vars
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
Labels: Code Improvement

#7404 Fixes vehicle lights not turning back on after it is fixed
  code/modules/vehicles/multitile/multitile.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
Labels: Fix

#7322 Medic qol: Build Your Own Revival Mix!
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Balance, Mapping, Mapping Approved

#6791 Minimap/orbit icons resprite and remake
  code/__DEFINES/minimap.dm
  code/game/jobs/job/marine/squads.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/colonist.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Sprites, Code Improvement, UI, Sprites Approved

#7148 Grants the ASO the senior command headset (Same as XO)
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Stale

#7254 Lever Action (XM88 and R4T) bullets now have an effective range max of 7
  code/datums/ammo/bullet/lever_action.dm
Labels: Balance, Stale

#7402 SMES units made explosion proof
  code/modules/power/smes.dm
Labels: Fix

#7371 Synthetic Generation Choice Matters (Support/Industrial Selection)
  code/datums/skills/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Fix, Balance

#7399 Hugger prevents you from seeing and talking, blinding fixes
  code/__DEFINES/equipment.dm
  code/datums/emotes.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Feature, Fix

#7403 Squad Marines
  code/game/jobs/job/marine/squads.dm
  code/game/jobs/role_authority.dm
Labels: Fix

#7400 Instant delimb nerf (for real this time)
  code/modules/organs/limbs.dm
Labels: Balance, Balance Approved

#7370 faction console and landing zones
  code/modules/shuttle/computers/dropship_computer.dm
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature

#7409 QOL for Corpsman and ComTech vendors
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
Labels: Quality of Life

#7406 Fixes additional projectiles
  code/datums/ammo/ammo.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#7326 Xeno grabs now block crawling
  code/modules/mob/living/living_verbs.dm
  code/modules/mob/mob_movement.dm
Labels: Balance, Balance Approved

#7398 Adds and expands on the descriptions of tank hardpoints & magazins
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/modules/vehicles/hardpoints/armor/snowplow.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/autocannon_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/cupola_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/gl_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/minigun_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/primary_flamer_ammo.dm
  code/modules/vehicles/hardpoints/hardpoint_ammo/secondary_flamer_ammo.dm
  code/modules/vehicles/hardpoints/primary/autocannon.dm
  code/modules/vehicles/hardpoints/primary/minigun.dm
  code/modules/vehicles/hardpoints/secondary/cupola.dm
  code/modules/vehicles/hardpoints/secondary/grenade_launcher.dm
  code/modules/vehicles/hardpoints/secondary/tow.dm
  code/modules/vehicles/hardpoints/wheels/treads.dm
Labels: Feature

#7032 makes containers more destructible
  code/game/objects/structures/cargo_container.dm
Labels: Balance, Stale, Balance Approved

#6824 Human bursting sounds + sprite, new hugging sounds
  code/__DEFINES/flags.dm
  code/datums/emotes.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  icons/mob/xenos/effects.dmi
  sound/voice/human_female_facehugged1.ogg
  sound/voice/human_female_facehugged2.ogg
  sound/voice/human_female_preburst1.ogg
  sound/voice/human_female_preburst2.ogg
  sound/voice/human_female_preburst3.ogg
  sound/voice/human_female_preburst4.ogg
  sound/voice/human_female_preburst5.ogg
  sound/voice/human_female_preburst6.ogg
  sound/voice/human_female_preburst7.ogg
  sound/voice/human_male_facehugged1.ogg
  sound/voice/human_male_facehugged2.ogg
  sound/voice/human_male_facehugged3.ogg
  sound/voice/human_male_preburst1.ogg
  sound/voice/human_male_preburst2.ogg
  sound/voice/human_male_preburst3.ogg
  sound/voice/human_male_preburst4.ogg
  sound/voice/human_male_preburst5.ogg
  sound/voice/human_male_preburst6.ogg
  sound/voice/human_male_preburst7.ogg
  sound/voice/human_male_preburst8.ogg
  sound/voice/human_male_preburst9.ogg
Labels: Fix, Sound, Sprites, Sprites Approved

#7361 Pred gear rack and bracer attachments
  code/__DEFINES/access.dm
  code/__DEFINES/keybinding.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/vendors.dm
  code/datums/keybinding/yautja.dm
  code/game/machinery/doors/runed_sandstone.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_actions.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  colonialmarines.dme
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_vendor.dmi
  maps/predship/huntership.dmm
  sound/weapons/Scims_alt_off.ogg
  sound/weapons/Scims_alt_on.ogg
  sound/weapons/Scims_off.ogg
  sound/weapons/Scims_on.ogg
  sound/weapons/pred_attach.ogg
  sound/weapons/wristblades_off.ogg
  sound/weapons/wristblades_on.ogg
  tgui/packages/tgui/interfaces/VendingSorted.tsx
Labels: Feature, Fix, Balance, Sound, Refactor, Sprites, UI, Mapping, Balance Approved, Removal, Mapping Approved

#7112 Increases shotgun slug accuracy
  code/datums/ammo/bullet/shotgun.dm
Labels: Balance, Balance Approved

#7412 Allows non yaujta mobs to use hotkeys on yautja equipment
  code/modules/cm_preds/yaut_actions.dm
Labels: Fix

#7226 Egg morphers now generate facehuggers on their own [CODE BOUNTY]
  code/datums/components/weed_food.dm
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Balance, Quality of Life, Balance Approved

#7422 Makes the pred vendor vend clan armour instead of ancient alien armour
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Labels: Fix, Code Improvement

#7429 Bracer Attachment Fixes
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#7418 fixes cancelling items from the parts fabricator queue
  code/modules/cm_marines/vehicle_part_fabricator.dm
Labels: Fix

#7420 Makes toy mechs small so they can fit into storage
  code/game/objects/items/toys/toys.dm
Labels: Quality of Life

#7419 Even more minimap icons, minimap fixes
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wy.dm
  icons/ui_icons/map_blips.dmi
Labels: Feature, Fix, Sprites

#7434 Almayer Mapping: Psychiatric Care Unit
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#7441 Prevents headsets from accepting duplicate keys
  code/game/objects/items/devices/radio/headset.dm
Labels: Fix

#7413 Fixes nostore cryopods still storing stuff
  code/game/machinery/cryopod.dm
Labels: Fix

#7437 Yautja bracers properly update owner
  code/modules/cm_preds/yaut_bracers.dm
Labels: Fix

#7443 Fixes working joe not being able to use ai lockdown/nerve gas in pda
  tgui/packages/tgui/interfaces/WorkingJoe.jsx
Labels: Fix, UI

#7447 Update Codeowners
  .github/CODEOWNERS
Labels: Github, Missing Changelog

#7445 Animated revival icons on minimap, new minimap icons for revival stages
  code/datums/mob_hud.dm
  code/game/objects/items/devices/radio/headset.dm
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites

#7330 new chem master
  code/game/objects/items/storage/firstaid.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/icon_ref_map.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/tgui/tgui.dm
  colonialmarines.dme
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/styles/interfaces/ChemMaster.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, UI

#7450 Gibbed ghosts appear as their character instead of a brain
  code/modules/mob/living/carbon/human/death.dm
Labels: Feature

#7368 add cobalt tools media provider, refactor providers to be more OOP
  code/controllers/configuration/entries/general.dm
  code/datums/internet_media.dm
  code/modules/admin/verbs/playsound.dm
  colonialmarines.dme
  config/example/config.txt
Labels: Server

#7217 Rebalances OT casings
  code/datums/ammo/rocket.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/grenades/chem_grenade.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/explosives/warhead.dm
Labels: Balance, Balance Approved

#7373 base rav slight buff
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
Labels: Balance, Balance Approved

#7137 Fire stops Xeno regen (Berserker)
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
Labels: Feature, Balance, Balance Approved

#7341 Pre-weeds some areas of Shivas Snowball
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
Labels: Stale, Mapping, Mapping Approved
