Repository cmss13-devs/cmss13, pull requests merged in 2025-01, with the labels that each got.

#7963 Makes fax responder listening bugs shut up
  code/__DEFINES/radio.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/listening_bugs.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Feature

#7970 Loader Pamphlet Endurance Limit
  code/modules/character_traits/skills.dm
Labels: Balance, Balance Approved

#7957 Loader hud icon + spotter and loader minimap icons
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/pamphlets.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/upp.dm
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Labels: Feature, Fix, Sprites

#7943 Show all channels a headset has on examining it.
  code/game/objects/items/devices/radio/headset.dm
Labels: Quality of Life

#7882 Scaling basic resin construction cost
  code/game/area/areas.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/mob/living/carbon/xenomorph/Powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Balance, Refactor, Testmerge Candidate, Balance Approved, Admin, Needs Testing

#7861 Fix lots of random throwing and explosion runtimes
  code/game/machinery/vending/cm_vending.dm
  code/game/objects/effects/decals/cleanable/blood/blood.dm
  code/game/objects/items/shards.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open.dm
  code/game/turfs/transit.dm
  code/modules/cm_preds/smartdisc.dm
  code/modules/fishing/props/fishing_pole.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/crusher/charger.dm
  code/modules/mob/living/living_defense.dm
  code/modules/movement/launching/launching.dm
  code/modules/organs/limbs.dm
Labels: Fix, Testmerge Candidate, Needs Testing

#7930 Adds some more professional accessories and suits to the synthetic cosmetics vendor
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Feature

#7980 Revert unintentional folder resprite
  icons/obj/items/paper.dmi
Labels: Sprites

#7521 Human Resprites & Tweaks - Marines looking awesome
  code/modules/client/body_picker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/body.dm
  code/modules/mob/new_player/skin_color.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/organs/limb_objects.dm
  code/modules/organs/limbs.dm
  colonialmarines.dme
  icons/mob/humans/species/r_human.dmi
  tgui/packages/tgui/interfaces/BodyPicker.tsx
Labels: Sprites, Stale Exempt, UI, Sprites Approved

#7985 Berets object resprite and standartization
  icons/mob/humans/onmob/clothing/head/hats_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/urban.dmi
  icons/obj/items/clothing/hats/berets.dmi
  icons/obj/items/clothing/hats/hats_by_faction/TWE.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UA.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UPP.dmi
  icons/obj/items/clothing/hats/hats_by_faction/WY.dmi
  icons/obj/items/clothing/hats/hats_by_map/classic.dmi
  icons/obj/items/clothing/hats/hats_by_map/desert.dmi
  icons/obj/items/clothing/hats/hats_by_map/jungle.dmi
  icons/obj/items/clothing/hats/hats_by_map/snow.dmi
  icons/obj/items/clothing/hats/hats_by_map/urban.dmi
  icons/obj/items/clothing/hats/misc_ert_colony.dmi
Labels: Sprites, Sprites Approved

#7973 Fixes corpse's broken paygrades, and a couple others
  code/modules/gear_presets/cia.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/other.dm
Labels: Fix

#7995 CAS no longer has infinite NVGs roundstart
  code/game/machinery/computer/dropship_weapons.dm
Labels: Fix

#7965 Fixes many equipment presets spawning in without a proper rank. Leading up to them showing up on the radio as ???.
  code/modules/gear_presets/other.dm
Labels: Fix

#7955 TGUI Crew Manifest
  code/__DEFINES/mode.dm
  code/datums/crew_manifest.dm
  code/datums/datacore.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/new_player/new_player.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/CardMod.jsx
  tgui/packages/tgui/interfaces/CrewManifest.tsx
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Testmerge Candidate

#8013 New synthetic reset keys
  code/game/objects/items/devices/defibrillator.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  icons/obj/items/synth/synth_reset_key.dmi
  sound/items/synth_reset_key/seegson_revive.ogg
Labels: Feature, Sound, Sprites, Sprites Approved

#7841 Xeno strain resetting
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Labels: Feature, Sound, Sprites, UI, Mapping

#6988 Upp req console, tank and cas printers
  code/_globalvars/lists/mapping_globals.dm
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/ticker.dm
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/upp_ammo.dm
  code/datums/supply_packs/upp_attachments.dm
  code/datums/supply_packs/upp_clothing.dm
  code/datums/supply_packs/upp_crates.dm
  code/datums/supply_packs/upp_engineering.dm
  code/datums/supply_packs/upp_explosives.dm
  code/datums/supply_packs/upp_food.dm
  code/datums/supply_packs/upp_gear.dm
  code/datums/supply_packs/upp_medical.dm
  code/datums/supply_packs/upp_mortar.dm
  code/datums/supply_packs/upp_weapons.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/objects/items/circuitboards/computer.dm
  code/game/supplyshuttle.dm
  code/game/supplyshuttle_upp.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic_events.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/shuttles/shuttle_supply.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
Labels: Feature, Mapping, Mapping Approved

#7581 Standard Shrapnell Buff + Shrapnel rocket now shoots directional shrapnell
  code/datums/ammo/rocket.dm
  code/datums/ammo/shrapnel.dm
  code/game/objects/items/explosives/warhead.dm
Labels: Balance

#8009 Misc titles icons are now shown in ooc, ooc icons for asay and mentorsay, adding missing icons
  code/game/verbs/ooc.dm
  code/modules/admin/tabs/admin_tab.dm
  icons/ooc.dmi
  tgui/packages/tgui-panel/styles/components/Chat.scss
Labels: Feature, Fix, Sprites, UI, Sprites Approved

#8023 changes formatting of auto pistol name
  code/modules/projectiles/guns/pistols.dm
Labels: Grammar and Formatting

#8012 Neuraline no longer generates/is required for chem
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Fix

#8057 fix od linter
  .github/workflows/ci_suite.yml
Labels: Github, Missing Changelog

#8054 Fix CIC Dropship Console
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix

#8059 Adds messaging for situation where larva and host both survive surgery
  code/modules/surgery/chestburster.dm
Labels: Quality of Life

#8050 filter for portable crew monitor
  tgui/packages/tgui/interfaces/Radar.tsx
Labels: UI

#7716 updates statbrowser stuff
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/sevastopol.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_marines/specialist.dm
  code/modules/mob/new_player/login.dm
  colonialmarines.dme
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
  interface/interface.dm
  interface/skin.dmf
  tgui/packages/chakrapetch/ATTRIBUTION.txt
  tgui/packages/chakrapetch/LICENSE-OFL-1.1.txt
  tgui/packages/chakrapetch/chakrapetch-bold.ttf
  tgui/packages/chakrapetch/chakrapetch-bold.woff2
  tgui/packages/chakrapetch/chakrapetch-regular.ttf
  tgui/packages/chakrapetch/chakrapetch-regular.woff2
  tgui/packages/chakrapetch/chakrapetch.css
  tgui/packages/sevastopol/ATTRIBUTION.txt
  tgui/packages/sevastopol/sevastopol.css
  tgui/packages/sevastopol/sevastopol_interface.ttf
  tgui/packages/sevastopol/sevastopol_interface.woff2
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/themes.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
  tgui/packages/tgui/styles/interfaces/LobbyMenu.scss
  tgui/packages/tgui/styles/themes/crt.scss
  tgui/packages/tgui/styles/themes/crt/crt-lobby-red.scss
  tgui/packages/tgui/styles/themes/crt/crt-lobby.scss
Labels: Feature, UI

#7946 Resprite of xeno spits and abom action icons
  code/datums/ammo/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  icons/mob/hud/actions_xeno.dmi
  icons/obj/items/weapons/projectiles.dmi
Labels: Feature, Sprites, Sprites Approved

#8025 Adds another combat technician helmet option
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/modules/clothing/head/helmet.dm
Labels: Feature

#8074 mc link broken by 516
  html/statbrowser.js
Labels: Fix, UI

#8065 restore old confirmation message when joining as xeno
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  tgui/packages/tgui/interfaces/LobbyMenu.tsx
Labels: Fix, UI

#7996 adds a search to the hair/facial hair pickers, colorizes on 516
  tgui/packages/tgui/interfaces/HairPicker.tsx
  tgui/packages/tgui/styles/interfaces/HairPicker.scss
Labels: UI

#8060 hides ugly finger prints behind the Forensic Spray:tm:
  code/game/machinery/vending/vending_types.dm
  code/game/objects/effects/decals/prints.dm
  code/game/objects/items/reagent_containers/spray.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Feature

#8073 Add black market items to TGUI req
  code/game/supplyshuttle.dm
Labels: Fix

#7909 Fixes maintainer access to the profiler and clears profiler access whenever admins are loaded.
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: Fix, Missing Changelog

#8034 reverts #6375
  code/datums/ammo/bullet/lever_action.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Balance, Testmerge Candidate, Balance Approved

#8041 fixes check status namecalling
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#8029 Bug where we forget to unregister signal
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Code Improvement, Missing Changelog

#8063 Allow dropship autopilot changes during refuel
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
Labels: Quality of Life, UI

#8076 Moves the sensor tower on Solaris Ridge
  code/game/turfs/floor_types.dm
  maps/map_files/BigRed/BigRed.dmm
Labels: Mapping, Mapping Approved

#8017 Minor Fixes
  code/game/machinery/door_display/door_display.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
Labels: Fix

#8032 minitank fix
  code/game/objects/items/reagent_containers/glass.dm
Labels: Fix

#8022 Fixes GL launcher not respecting help safety prefs
  code/modules/projectiles/gun.dm
Labels: Fix

#8027 Fixes squad engineers being able to commit alchemy by turning metal into plasteel
  code/game/objects/structures/barricade/non_folding.dm
Labels: Fix

#7979 Fixes phosphorus smoke bypassing reaction limits
  code/game/objects/effects/effect_system/smoke.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Fix

#7496 Addition of tons of new tile styles, design imported from PVE. Introduction of unused tiles (black, white and purple)
  code/game/turfs/floor_types.dm
  icons/effects/warning_stripes.dmi
  icons/turf/almayer.dmi
Labels: Sprites, Code Improvement, Stale, Sprites Approved

#8031 kutjevo goons
  code/game/objects/effects/landmarks/corpsespawner.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  icons/mob/humans/onmob/clothing/head/hats_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_faction/WY.dmi
  icons/obj/items/clothing/hats/hats_by_faction/WY.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_faction/WY.dmi
  maps/kutjevo.json
  maps/map_files/Kutjevo/Kutjevo.dmm
Labels: Sprites, Mapping, Sprites Approved

#8085 Adds vend-able challenge coins in the CO vendor
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
Labels: Feature

#7926 Fix bandana hiding facial hair forever + coif tweaks
  code/modules/clothing/masks/breath.dm
Labels: Fix

#8092 synthetics can no longer spray with clf3 bottles
  code/__DEFINES/chemistry.dm
  code/game/objects/items/reagent_containers/spray.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Balance, Balance Approved

#8095 516 byondstorage can fail to appear for a bit for some reason
  tgui/packages/common/storage.js
Labels: Fix, UI

#8014 New CO armor, vendor additions
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/clothing/gloves/marine_gloves.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  icons/mob/humans/onmob/clothing/hands.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/urban.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_map/urban.dmi
  icons/obj/items/clothing/gloves.dmi
  icons/obj/items/clothing/hats/hats_by_faction/UA.dmi
  icons/obj/items/clothing/hats/hats_by_map/classic.dmi
  icons/obj/items/clothing/hats/hats_by_map/desert.dmi
  icons/obj/items/clothing/hats/hats_by_map/jungle.dmi
  icons/obj/items/clothing/hats/hats_by_map/snow.dmi
  icons/obj/items/clothing/hats/hats_by_map/urban.dmi
  icons/obj/items/clothing/suits/suits_by_faction/UA.dmi
  icons/obj/items/clothing/suits/suits_by_map/classic.dmi
  icons/obj/items/clothing/suits/suits_by_map/desert.dmi
  icons/obj/items/clothing/suits/suits_by_map/jungle.dmi
  icons/obj/items/clothing/suits/suits_by_map/snow.dmi
  icons/obj/items/clothing/suits/suits_by_map/urban.dmi
Labels: Feature, Fix, Sprites, Removal, Sprites Approved

#8106 some more missed 516 compat hrefs
  html/statbrowser.js
Labels: Fix, UI

#8110 decal burning fix for negative offsets
  code/game/objects/effects/decals/decal.dm
Labels: Fix

#8109 M46C NERF (makes it mk1 equal)
  code/modules/projectiles/guns/rifles.dm
Labels: Balance, Balance Approved

#8087 Simple fix of the Xeno trap sprites - effects.dmi
  icons/mob/xenos/effects.dmi
Labels: Sprites, Sprites Approved

#8090 Chief Medical Officer's Labcoat
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/modules/clothing/suits/labcoat.dm
  icons/mob/humans/onmob/clothing/suits/coats_robes.dmi
  icons/obj/items/clothing/suits/coats_robes.dmi
Labels: Feature, Sprites, Sprites Approved

#7823 Queen ovi building buff
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
Labels: Balance, Balance Approved

#7765 Removes Dancer Praetorian acid and readds miss cooldown
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
Labels: Balance, Balance Approved

#8089 WY research consultant refurbished
  code/modules/clothing/suits/labcoat.dm
  code/modules/gear_presets/wy_goons.dm
  icons/mob/humans/onmob/clothing/suits/hazard.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/WY.dmi
  icons/obj/items/clothing/suits/hazard.dmi
  icons/obj/items/clothing/suits/suits_by_faction/WY.dmi
Labels: Feature, Fix, Sprites, Sprites Approved

#8116 Synthetic smart-pack ability removal.
  code/game/objects/items/storage/smartpack.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/power/apc.dm
Labels: Balance, Grammar and Formatting, Balance Approved

#8117 Revert "Ship Operations Synthetic (#7743)"
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/game/jobs/job/civilians/support/synthetic.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/client/preferences.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/new_player/preferences_setup.dm
  html/browser/common.css
Labels: Balance, Balance Approved, Removal

#8118 Nerfs synthetic stun resistance.
  code/modules/mob/living/carbon/human/species/synthetic.dm
Labels: Balance, Balance Approved

#8088 WY actual hud
  code/__DEFINES/job.dm
  code/__DEFINES/minimap.dm
  code/controllers/subsystem/minimap.dm
  code/datums/factions/pmc.dm
  code/datums/factions/wy.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/objects/items/devices/cictablet.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/almayer/machinery.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/mob/hud/sec_hud.dmi
  icons/ui_icons/map_blips.dmi
Labels: Feature, Fix, Sprites, Sprites Approved

#8103 Adds scrolling to Overwatch(OW) Consoles
  code/modules/admin/verbs/debug.dm
  tgui/package.json
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Fix, Quality of Life, UI

#8104 pred mask + horn
  code/__DEFINES/pred.dm
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/mob/humans/onmob/hunter/pred_mask_accessories.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/hunter/pred_mask_accessories.dmi
  tgui/packages/tgui/interfaces/PredPicker.tsx
Labels: Sprites, UI, Sprites Approved

#8011 Post fixes to "in_hands" update and addons
  icons/mob/humans/onmob/inhands/equipment/devices_lefthand.dmi
  icons/mob/humans/onmob/inhands/equipment/devices_righthand.dmi
  icons/mob/humans/onmob/inhands/equipment/janitor_lefthand.dmi
  icons/mob/humans/onmob/inhands/equipment/janitor_righthand.dmi
  icons/mob/humans/onmob/inhands/equipment/tools_lefthand.dmi
  icons/mob/humans/onmob/inhands/equipment/tools_righthand.dmi
  icons/mob/humans/onmob/inhands/items/material_stacks_lefthand.dmi
  icons/mob/humans/onmob/inhands/items/material_stacks_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/revolvers_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/revolvers_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/shields_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
Labels: Fix, Sprites, Sprites Approved

#8072 Special Shrapnel fixes, Flaming shrapnel AP nerf.
  code/datums/ammo/shrapnel.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Fix, Balance, Balance Approved

#8129 makes synthetics unable to grab large xenomorphs
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
Labels: Balance, Balance Approved

#8133 Updates xeno wounds on updatehealth
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/carbon/xenomorph/update_icons.dm
Labels: Code Improvement

#8134 Fixes synth wl check on UPP synth
  code/modules/gear_presets/upp.dm
Labels: Fix

#8127 Removes reset key unintended medical skill lock, engi skill clarity message
  code/game/objects/items/devices/defibrillator.dm
Labels: Feature, Balance

#8099 upp squad chat color
  code/datums/factions/upp.dm
Labels: Fix

#8146 Synth Rank
  code/modules/gear_presets/synths.dm
Labels: Feature

#8143 Searchable ancient html
  code/datums/browser.dm
  code/datums/global_variables.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/verbs/records.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/view_variables/view_variables.dm
  html/search.js
Labels: UI

#8122 ravager charge bypasses intent
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
Labels: Quality of Life

#8138 new co sprites for formal uniform(s), the falcon jacket and a non-council one. and the uscm formal uniform
  code/modules/clothing/suits/marine_coat.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/wo.dm
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_map/urban.dmi
  icons/obj/items/clothing/suits/suits_by_faction/UA.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_faction/UA.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/classic.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/desert.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/jungle.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/snow.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_map/urban.dmi
Labels: Feature, Sprites, Sprites Approved

#8180 Fixes an exploit that allows you to infinitely stack damage multipliers
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#8172 Fix lesser banishment
  code/game/gamemodes/cm_initialize.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Fix, Grammar and Formatting

#8096 Multi faction hud support for headsets
  code/game/machinery/vending/vendor_types/crew/sea.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Fix

#8124 VP78 Attachment Sprite Fix
  code/modules/projectiles/guns/pistols.dm
Labels: Fix

#8147 Fixed the red pixel on the HOS beret
  icons/mob/humans/onmob/clothing/head/berets.dmi
Labels: Fix, Sprites, Sprites Approved

#8091 You can no longer half understand random stuff xenos say
  code/modules/mob/language/languages.dm
Labels: Fix

#8155 another pred mask attachie
  code/__DEFINES/pred.dm
  icons/mob/humans/onmob/hunter/pred_mask_accessories.dmi
  icons/obj/items/hunter/pred_mask_accessories.dmi
  tgui/packages/tgui/interfaces/PredPicker.tsx
Labels: Sprites, UI, Sprites Approved

#7693 UPP access
  code/modules/gear_presets/upp.dm
Labels: Quality of Life

#8193 Mentor AutoReplies
  code/modules/admin/autoreply.dm
  code/modules/mentor/mentorhelp.dm
Labels: Admin

#8207 Fix 3 ways to launder money
  code/modules/economy/cash.dm
Labels: Fix

#8188 Fixes Lag Loop from Corpse Objective
  code/modules/objectives/mob_objectives.dm
Labels: Fix

#8183 Fixes vendor name for some dresses
  code/game/machinery/vending/vendor_types/dress.dm
Labels: Fix, Code Improvement

#8192 disables OB on HvH
  code/game/gamemodes/extended/cm_vs_upp.dm
Labels: Feature

#8178 adds a minimal ui mode to medscanners
  code/__DEFINES/tgui.dm
  code/modules/mob/living/living_healthscan.dm
  tgui/packages/tgui/interfaces/HealthScan.jsx
Labels: Feature, UI

#8203 Changes Xenos Strain Alert() to tgui_alert()
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Labels: Code Improvement

#8170 Fix sniper abuse of aimed shot
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Fix

#8157 All TGUI input is now search type to offer clearing
  tgui/packages/tgui/components/Input.tsx
Labels: UI

#8201 The weeds... they crave for more....
  code/modules/cm_aliens/weeds.dm
Labels: Feature, Code Improvement

#8151 JIMA changes
  code/modules/defenses/planted_flag.dm
Labels: Balance, Balance Approved

#8167 Fix warrior decap of infected
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Fix

#8173 Sent and Queen Stim Drain buff
  code/datums/ammo/xeno.dm
Labels: Feature, Balance, Balance Approved

#8098 Human deathcheck
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
Labels: Code Improvement

#8169 Boiler neuro purges stim, buffs neuro tailstab duration, reduce dizziness
  code/datums/effects/neurotoxin.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
Labels: Feature, Balance, Quality of Life

#8163 M56C Pamphlet (co smartgun)
  code/datums/skills/uscm.dm
  code/game/objects/items/pamphlets.dm
  code/modules/character_traits/skills.dm
  code/modules/cm_marines/equipment/weapons.dm
Labels: Feature, Balance, Balance Approved

#8195 Nutrition cleanup & Shivering cost reduction
  code/__DEFINES/chemistry.dm
  code/modules/mob/living/carbon/human/life/handle_chemicals_in_body.dm
  code/modules/mob/living/carbon/human/life/life_helpers.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Balance, Code Improvement, Balance Approved

#8205 CIA Tranq Gun Buff
  code/datums/agents/tools.dm
  code/datums/ammo/bullet/pistol.dm
Labels: Feature, Balance

#8198 Corrects HvH upp engi cryo gear
  code/modules/gear_presets/upp.dm
Labels: Fix

#7335 gamemode value adjustmands, anti off screen and AP spam hvh
  code/datums/ammo/ammo.dm
  code/datums/ammo/bullet/pistol.dm
  code/datums/ammo/bullet/rifle.dm
  code/datums/ammo/bullet/shotgun.dm
  code/datums/ammo/bullet/special_ammo.dm
  code/datums/ammo/bullet/tank.dm
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/round_modifiers.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/limbs.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/projectile.dm
Labels: Feature, Balance, Stale

#8153 Fixes Inconsistent Synth Maintenance Stations Icons
  code/game/machinery/rechargestation.dm
  icons/obj/objects.dmi
Labels: Fix, Sprites, Code Improvement

#8219 Fix typo in Robotech Deluxe
  code/game/machinery/vending/vendor_types/engineering.dm
Labels: Missing Changelog

#8214 Xenomorphs now retain lisps if the body they bursted from had that trait
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Feature

#7543 Adds universal NV color preferences
  code/__DEFINES/mode.dm
  code/_globalvars/global_lists.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/game/machinery/computer/dropship_weapons.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/game/objects/items/props/helmetgarb.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Balance, Quality of Life, Removal

#8243 roundstart xenomorph burst bodies ensoulification
  code/game/jobs/job/antag/xeno/xenomorph.dm
Labels: Feature

#8121 updates & adds some synthvivor presets
  code/datums/map_config.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/gear_presets/synths.dm
Labels: Feature

#8230 Ports UPP/CANC/USCM Cargo Containers From PvE
  code/game/objects/structures/cargo_container.dm
  icons/obj/structures/props/containers/contain.dmi
Labels: Feature, Sprites, Sprites Approved

#8166 Don't delete queen by gibber
  code/game/machinery/kitchen/gibber.dm
Labels: Fix

#8100 Moved some turf vars to turf flags
  code/__DEFINES/turf_flags.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/mapping.dm
  code/datums/elements/bullet_trait/penetrating/heavy.dm
  code/datums/elements/bullet_trait/penetrating/penetrating.dm
  code/datums/elements/bullet_trait/penetrating/weak.dm
  code/game/area/areas.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/game/turfs/floor.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/hybrisa.dm
  code/game/turfs/light.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/r_wall.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
  code/modules/cm_tech/implements/railgun.dm
  code/modules/desert_dam/filtration/floodgates.dm
  code/modules/events/destructible_terrain.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/recycling/disposal.dm
  code/modules/shuttle/shuttles/crashable/crashable.dm
  code/modules/unit_tests/missing_icons.dm
  code/modules/vehicles/multitile/multitile_bump.dm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/predship/huntership.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Labels: Code Improvement, Mapping, Mapping Approved

#8194 Temperature Standardization and Fixes
  code/__DEFINES/atmospherics.dm
  code/datums/diseases/advance/symptoms/fever.dm
  code/datums/diseases/advance/symptoms/shivering.dm
  code/datums/effects/bleeding.dm
  code/game/machinery/cryo.dm
  code/game/objects/structures/shower.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/drink.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/sorokyne/sorokyne_cold_water.dm
Labels: Fix, Balance, Code Improvement, Balance Approved

#8078 Stacks inserted into storages will now try to fill other stacks first
  code/game/objects/items/storage/storage.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Quality of Life, Testmerge Candidate

#8251 JIMA name fix
  code/modules/defenses/planted_flag.dm
Labels: Fix

#8232 Fix xeno gib remains
  code/game/objects/effects/decals/remains.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Fix

#8255 mask attachie preference saves
  code/modules/client/preferences_savefile.dm
Labels: Fix

#8229 Fixes wounds updating on dead xenos
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix

#8228 prevents electropack shocking dead people and moving them
  code/game/objects/items/devices/radio/electropack.dm
Labels: Fix

#8231 Synthkey Description Fix
  code/game/objects/items/devices/defibrillator.dm
Labels: Fix

#8200 When 2 Chargers Collide, they cause a tremor
  code/modules/mob/living/carbon/xenomorph/strains/castes/crusher/charger.dm
Labels: Feature, Balance

#8244 Adds Heavy Clan Armor to Yautja Gear Rack
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Labels: Feature

#8197 Colors some lights
  code/__DEFINES/colours.dm
  code/game/machinery/hybrisa_lights.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/power/lighting.dm
Labels: Feature, Testmerge Candidate

#8177 stims healing nerf
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Balance

#8128 Turing Bug fix, Ethanol and Oxycodone Dispensing
  code/modules/reagents/chemistry_reagents/alcohol.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Feature, Fix

#8261 Xeno caste picks are now tracked in the DB
  code/datums/statistics/entities/round_caste_picks.dm
  code/datums/statistics/entities/round_stats.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  colonialmarines.dme
Labels: Missing Changelog

#8268 Fixes absurdly high item weight in arcade machines
  code/game/machinery/computer/arcade.dm
Labels: Fix

#8257 Xeno deaths are now tracked in the DB
  code/datums/statistics/entities/round_stats.dm
  code/datums/statistics/entities/xeno_death.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  colonialmarines.dme
Labels: Admin

#8262 Adds three quarters nvg for ghosts and xenos
  code/__DEFINES/lighting.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/xeno.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/diseases/black_goo.dm
  code/game/camera_manager/camera_manager.dm
  code/game/cas_manager/datums/cas_fire_envelope.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/glasses/meson.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/cm_tech/implements/implants.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/camera/imaginary_friend.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/powers/human_powers.dm
  code/modules/mob/living/carbon/human/species/synthetic.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  icons/mob/hud/alien_standard.dmi
Labels: Feature, Sprites, Code Improvement, Sprites Approved

#8274 Replaces placeholder rats with real rats
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/templates/lazy_templates/fax_responder_base.dmm
Labels: Fix, Grammar and Formatting, Mapping

#7193 (READY) Solar Devils (PVE ERT) Changes
  code/datums/skills/uscm.dm
  code/game/objects/items/storage/toolkit.dm
  code/game/objects/items/tools/maintenance_tools.dm
  code/modules/gear_presets/uscm.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/projectiles/magazines/rifles.dm
Labels: Feature, Fix, Balance, Sound, Code Improvement

#8202 Smartpack resprite by iamtheguy
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/objects/items/storage/smartpack.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/synths.dm
  icons/mob/humans/onmob/clothing/back/smartpack.dmi
  icons/obj/items/clothing/backpack/smartpack.dmi
Labels: Sprites, Sprites Approved

#8051 HPR mags can no longer be used for portable bullets
  code/modules/projectiles/ammunition.dm
Labels: Balance, Stale

#8115 Cas rockets FF Logs fix
  code/modules/cm_marines/dropship_ammo.dm
Labels: Fix

#8039 Clarifies VAIPO interaction with Weyland-Yutani
  code/datums/emergency_calls/contractor.dm
Labels: Fix

#8278 Makes egg-sac eggs not support playable huggers
  code/modules/cm_aliens/structures/egg.dm
Labels: Feature, Balance, Balance Approved

#8267 Fix Stat Browser not restoring font size
  code/controllers/subsystem/statpanel.dm
  html/statbrowser.js
Labels: Fix, UI

#8282 Makes it easier to answer to high-five/fist bump/rps challenge/headbutt/tail swipe
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
Labels: Quality of Life

#8280 Hunting Ground ERT Prefs Save and QM Bioscan Fix
  code/__DEFINES/__game.dm
  code/game/bioscans.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#8283 Removes psychic attacks from the game
  code/modules/paperwork/paper.dm
Labels: Fix

#8281 Stat logging improvements
  code/__DEFINES/gamemode.dm
  code/datums/statistics/entities/round_caste_picks.dm
  code/datums/statistics/entities/round_stats.dm
  code/datums/statistics/entities/xeno_death.dm
  code/game/gamemodes/cm_process.dm
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  colonialmarines.dme
Labels: Missing Changelog
