Repository cmss13-devs/cmss13, pull requests merged in 2025-09, with the labels that each got.

#8570 Sexier Sprites & The Soulening of Spitting
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
  icons/mob/xenos/castes/tier_1/sentinel.dmi
  icons/mob/xenos/castes/tier_2/spitter.dmi
  icons/mob/xenos/castes/tier_3/boiler.dmi
  icons/mob/xenos/castes/tier_3/praetorian.dmi
Labels: Feature, Fix, Sprites, Stale Exempt, Sprites Approved, size/M

#10384 Fixes queen transparency issues and keybinds it
  code/__DEFINES/keybinding.dm
  code/__DEFINES/xeno.dm
  code/datums/keybinding/xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/ability_macro_framework.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix, size/S

#10597 Shocked airlock bugfixes
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
Labels: Fix, size/XS

#10513 Prevents throwing people upwards
  code/modules/mob/living/living.dm
Labels: Removal, size/XS

#10612 Disables hugger cross z level hug & misc pounce/look up fixes
  code/modules/cm_tech/hologram.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/living.dm
  code/modules/movement/launching/launching.dm
Labels: Fix, Balance, Balance Approved, size/S

#10618 Brute multiz fix
  code/datums/ammo/rocket.dm
  code/game/turfs/turf.dm
Labels: Fix, size/XS

#10617 Fix runtimes caused by facehuggers gibbing after deleted
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Fix, size/XS

#10638 Updates the messages sent for the hunting ground and youngblood ERTs
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
Labels: Feature, size/XS

#10630 Fixes `the the` in digital clock examine.
  code/game/objects/items/misc.dm
Labels: Fix, size/XS

#10645 Lessens general quarters spam
  code/modules/cm_marines/overwatch.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix, Quality of Life, Admin, size/XS

#10662 Adds time remaining to hivemind collapse warning.
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Quality of Life, size/XS

#10613 Modifies brig vendor slogan
  code/game/machinery/vending/vending_types.dm
Labels: Removal, size/XS

#10263 UPP Ship Vendor Sprites + Minor Map Change
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/objects/structures/tables_racks.dm
  code/game/supplyshuttle_upp.dm
  code/game/turfs/walls/wall_types.dm
  icons/obj/structures/machinery/vending.dmi
  icons/obj/structures/tables.dmi
  maps/templates/ssv_rostock.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved, size/L

#10130 All 'tan' undershirts are camo-conforming; adds more black undergarments
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/new_player/sprite_accessories/undershirt.dm
  code/modules/mob/new_player/sprite_accessories/underwear.dm
  icons/mob/humans/undershirt.dmi
  icons/mob/humans/underwear.dmi
Labels: Sprites, Removal, Sprites Approved, size/M

#10653 Removes access to unintended camera networks.
  code/__DEFINES/camera.dm
  code/__DEFINES/objects.dm
Labels: Fix, size/XS

#10644 Fixes a candle runtime
  code/game/objects/items/tools/flame_tools.dm
Labels: Fix, size/XS

#10635 Fix more missing html headers needed for webview in browse
  code/__DEFINES/html_assistant.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/robot_fabricator.dm
  code/game/objects/items/implants/implantpad.dm
  code/game/objects/items/storage/secure.dm
  code/modules/admin/tag.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/client/client_procs.dm
  code/modules/mapping/verify.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/power/port_gen.dm
  code/modules/recycling/sortingmachinery.dm
  colonialmarines.dme
Labels: Fix, size/S

#10629 Add lint for range/hearers optimization
  code/modules/mob/mob.dm
  tools/ci/check_grep.sh
Labels: Code Improvement, size/XS

#10626 Fixes medical laptop returning a null entry when weakref doesn't resolve
  code/game/machinery/computer/medical.dm
Labels: Fix, size/XS

#10587 Adds Messages so Informing Marines APS Trait is Working and Will Not Work in Stasis Bags
  code/modules/mob/living/carbon/human/life/handle_stasis_bag.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Code Improvement, size/XS

#10393 Kutjevo & Sorokyne inserts - map & minor loot changes.
  code/game/area/kutjevo.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/structures/props.dm
  code/game/turfs/kutjevo.dm
  icons/obj/structures/props/64x64_bodybag_pile.dmi
  maps/Nightmare/maps/Kutjevo/nightmare.json
  maps/Nightmare/maps/Sorokyne_Strata/nightmare.json
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Kutjevo/sprinkles/lz1alternative.dmm
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Sorokyne_Strata/sprinkles/flamer_bodypile.dmm
  maps/map_files/Sorokyne_Strata/standalone/sof_insert_supplyship.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved, size/XXL

#10483 Radio Alert Motion Sensors
  code/game/objects/items/devices/radio/motion_sensor.dm
  code/game/objects/structures/crates_lockers/closets/secure/cm_closets.dm
  colonialmarines.dme
  icons/obj/items/new_assemblies.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved, size/L

#9211 Set all groundside xenos to forsaken after hijack crash
  code/__DEFINES/hijack.dm
  code/controllers/subsystem/hijack.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix, UI, Github, size/S

#9906 Chat highlighting keywords
  code/datums/highlight_keywords_payload.dm
  code/datums/mind.dm
  code/game/jobs/role_authority.dm
  code/modules/tgui_panel/tgui_panel.dm
  colonialmarines.dme
  tgui/packages/tgui-panel/Panel.tsx
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/settings/SettingTabs/TextHighlight.tsx
  tgui/packages/tgui-panel/settings/actions.ts
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-panel/settings/selectors.ts
Labels: Feature, Stale Exempt, UI, size/L

#9877 Prevent Fruits balloon alert spam for every not related Destroy() proc call.
  code/datums/effects/_effects.dm
  code/datums/effects/heal_over_time.dm
  code/datums/effects/plasma_over_time.dm
  code/datums/effects/xeno_strains/gain_xeno_cooldown_reduction_on_slash.dm
  code/datums/effects/xeno_strains/xeno_speed.dm
  code/modules/cm_aliens/structures/fruit.dm
Labels: Fix, size/S

#10349 Fencetopia - New fence replacement sprites, new variants, fence doors & more.
  code/game/area/strata.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mineral_doors.dm
  icons/obj/structures/props/fences/dark_fence.dmi
  icons/obj/structures/props/fences/dark_fence_alt.dmi
  icons/obj/structures/props/fences/dark_fence_alt_door.dmi
  icons/obj/structures/props/fences/electric_fence.dmi
  icons/obj/structures/props/fences/electric_fence_alt.dmi
  icons/obj/structures/props/fences/electric_fence_alt_door.dmi
  icons/obj/structures/props/fences/fence.dmi
  icons/obj/structures/props/fences/fence_alt.dmi
  icons/obj/structures/props/fences/fence_alt_door.dmi
  icons/obj/structures/props/fences/fence_ew.dmi
  icons/obj/structures/props/fences/fence_ns.dmi
  icons/obj/structures/props/fences/overgrown_dark_fence.dmi
  icons/obj/structures/props/fences/overgrown_electric_fence.dmi
  icons/obj/structures/props/fences/overgrown_fence.dmi
  icons/obj/structures/props/fences/perspective_fences.dmi
  icons/obj/structures/props/fences/upp_fence.dmi
  icons/obj/structures/props/fences/upp_fence_door.dmi
  maps/map_files/LV624/LV624.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcamp.dmm
  maps/map_files/Sorokyne_Strata/standalone/landingzone_sorokyne_uscm_lz1.dmm
  sound/effects/fencehit.ogg
  sound/effects/fenceopen.ogg
Labels: Feature, Sound, Sprites, Mapping, Sprites Approved, Mapping Approved, size/XXL

#10698 Fixes incorrect fence connection
  code/game/objects/structures/fence.dm
Labels: Fix, size/XS

#10689 Fix forsaken handling
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Fix, Code Improvement, Grammar and Formatting, Testmerge Candidate, size/S

#10688 Rename Larva Queue as Larva Pool + Tweaks
  code/__DEFINES/client_prefs.dm
  code/__DEFINES/job.dm
  code/__HELPERS/cmp.dm
  code/__HELPERS/game.dm
  code/_globalvars/misc.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/cryopod.dm
  code/modules/admin/banjob.dm
  code/modules/client/player_details.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/shuttle/shuttle.dm
Labels: Quality of Life, Code Improvement, UI, Admin, Removal, size/L

#10659 multiz smoke
  code/game/objects/effects/effect_system/smoke.dm
Labels: Feature, size/S

#10628 Rigged crate fixes and balancing
  code/game/machinery/OpTable.dm
  code/game/machinery/medical_pod/medical_pod.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/crittercrate.dm
  code/game/objects/structures/crates_lockers/closets/fireaxe.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cm_marines/equipment/gear.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/living_verbs.dm
  code/modules/paperwork/paper.dm
Labels: Fix, Balance, Code Improvement, Testmerge Candidate, Balance Approved, size/M

#10678 QOL: simplified balloon messages
  code/datums/beam.dm
  code/datums/effects/heal_over_time.dm
  code/datums/effects/plasma_over_time.dm
  code/datums/effects/xeno_strains/xeno_speed.dm
  code/datums/supply_packs/black_market.dm
  code/datums/tutorial/marine/hospital_corpsman_sandbox.dm
  code/game/machinery/bots/cprbot.dm
  code/game/machinery/fuelcell_recycler.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/devices/vulture_spotter.dm
  code/game/objects/items/tools/misc_tools.dm
  code/modules/cm_aliens/structures/fruit.dm
  code/modules/cm_marines/vehicle_part_fabricator.dm
  code/modules/mob/dead/observer/actions.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
  code/modules/projectiles/guns/specialist/sharp.dm
Labels: Quality of Life, size/M

#9992 Little rework of construction UI
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/asset_cache/assets/stack_receipts.dm
  colonialmarines.dme
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/components/NumberInput.tsx
  tgui/packages/tgui/interfaces/StackReceipts.tsx
  tgui/packages/tgui/styles/interfaces/StackReceipts.scss
  tgui/packages/tgui/styles/main.scss
Labels: Quality of Life, UI, size/XL

#10712 Qdel instanced new_comp if COMPONENT_DUPE_UNIQUE_PASSARGS
  code/datums/components/_component.dm
Labels: Code Improvement, size/XS

#10710 Implement rollover for duration2text and timezone tweak
  code/__HELPERS/_time.dm
  code/game/world.dm
Labels: Fix, Code Improvement, Testmerge Candidate, size/S

#10035 Xenomorph Banned Allies
  code/__DEFINES/mode.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Code Improvement, size/M

#10726 Add repath script for power generators
  tools/UpdatePaths/Scripts/10342-reactor-repath.txt
Labels: Missing Changelog, size/XS

#10733 fix clf survs not spawning with bayonet in mouth
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
Labels: Fix, size/XS

#10701 Adds IFF to P9 SHARP
  code/modules/projectiles/guns/specialist/sharp.dm
Labels: Balance, Balance Approved, size/XS

#10738 Fix ctrl click on xeno take over messaging
  code/_onclick/observer.dm
Labels: Fix, Admin, size/XS
