Repository cmss13-devs/cmss13, pull requests merged in 2025-03, with the labels that each got.

#8506 Fixes removing non-existant hardpoints
  code/modules/cm_marines/dropship_equipment.dm
  code/modules/vehicles/multitile/multitile_hardpoints.dm
Labels: Fix

#8632 Adds missing OOC icon
  icons/ooc.dmi
Labels: Sprites

#8291 Almayer Renovation
  code/game/area/almayer.dm
  code/modules/clothing/glasses/hud.dm
  icons/obj/structures/closet.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Code Improvement, Mapping, Removal, Sprites Approved, Mapping Approved

#8639 logging for shuttle manip
  code/modules/admin/verbs/shuttlepanel.dm
Labels: Admin

#8617 Gives Burrower Tier-2 Tacmap Blip
  icons/ui_icons/map_blips.dmi
Labels: Fix, Sprites

#8629 Fixes some food having an incorrect reagent
  code/game/objects/items/reagent_containers/food/canned_food.dm
  code/game/objects/items/reagent_containers/food/mre_food/twe.dm
  code/game/objects/items/reagent_containers/food/mre_food/uscm.dm
Labels: Fix

#8647 Adds xeno cooldown timer on abilities
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
Labels: Quality of Life

#8605 Fixes huggers being able to fake evolve
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Labels: Fix

#8601 Add check for GLOBAL_SUBTYPE_PATH_INDEXED trampling
  code/__DEFINES/_globals.dm
  code/datums/supply_packs/_supply_packs.dm
  code/datums/supply_packs/black_market.dm
  code/datums/supply_packs/upp_ammo.dm
  code/datums/supply_packs/upp_attachments.dm
  code/datums/supply_packs/upp_clothing.dm
  code/datums/supply_packs/upp_crates.dm
  code/datums/supply_packs/upp_engineering.dm
  code/datums/supply_packs/upp_explosives.dm
  code/datums/supply_packs/upp_food.dm
  code/datums/supply_packs/upp_gear.dm
  code/datums/supply_packs/upp_medical.dm
  code/datums/supply_packs/upp_mortar.dm
  code/datums/supply_packs/upp_weapons.dm
Labels: Fix, Code Improvement

#8621 Trapper's empower overlay fix
  code/modules/mob/living/carbon/xenomorph/strains/castes/boiler/trapper.dm
Labels: Fix, Quality of Life

#8616 Fixes yautja seeing security levels in statpanel
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#8602 Fixes girders not being deconstructable/wallable post repair
  code/game/objects/structures/girders.dm
Labels: Fix

#8599 Youngbloods and Hunting ground prey now resets its timer if theres no eligable people
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/modules/cm_preds/yaut_items.dm
Labels: Feature, Fix

#8582 Create-Xenos range defaults to 0, instead of 1
  html/create_xenos.html
Labels: Admin

#8581 Remove unused variables for dancer behavior delegate
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
Labels: Code Improvement

#8556 teeny tiny turret typo fixie
  code/modules/defenses/sentry.dm
Labels: Grammar and Formatting

#8509 Light Replacer Improvements
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending/vendor_types/engineering.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/power/lighting.dm
Labels: Feature

#8613 Reverts shrapnel damage changes from #7581
  code/datums/ammo/shrapnel.dm
Labels: Balance

#8496 Moves crusher powers into its own files and removes one letter vars
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/crusher/charger.dm
  colonialmarines.dme
Labels: Code Improvement

#8681 [s] Adds a wrapper for icon_states for debugging
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Admin, Missing Changelog

#8181 Nerfs playable huggers
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/facehugger/facehugger_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/facehugger/watcher.dm
Labels: Balance, Stale Exempt, Testmerge Candidate, Balance Approved

#8674 fixes the sticky keys
  tgui/packages/tgui/layouts/Window.tsx
Labels: Fix, UI

#8606 refactors audio player (by adding a 516 version with nicer code)
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/audio/player.ts
Labels: UI, Admin

#8669 Folding Barricades now display the correct message for closed/opened
  code/game/objects/structures/barricade/folding.dm
Labels: Fix

#8625 Squad Gear Racks now autoequip armors, belts etc.
  code/game/machinery/vending/cm_vending.dm
Labels: Quality of Life

#8626 Halves the untrained pointing cooldown
  code/modules/mob/mob.dm
Labels: Quality of Life

#8334 Make Resin Doors Ignore DEAD mobs.
  code/modules/cm_aliens/XenoStructures.dm
Labels: Balance, Quality of Life

#8697 Handfulls of ammos inserted into storages will now try to fill other handfulls of ammos first
  code/game/objects/items/storage/storage.dm
  code/modules/projectiles/ammunition.dm
Labels: Quality of Life

#8476 Remaps and Adds a Fax Machine to Whiskey Outpost CIC.
  maps/map_files/Whiskey_Outpost_v2/Whiskey_Outpost_v2.dmm
Labels: Mapping, Mapping Approved

#8515 Fixes the non-existence of the fax responder listening bugs again
  code/game/objects/items/devices/radio/listening_bugs.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#8670 Paperwork touch-ups
  code/game/jobs/job/civilians/other/liaison.dm
  code/modules/paperwork/prefab_papers.dm
  code/modules/paperwork/prefab_papers/provost/military_police/appeal_form.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/liability.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_long.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_short.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/ops_report.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/preserve_intent.dm
Labels: Feature, Fix

#8685 Resets revive grace period to initial on revive
  code/modules/mob/living/carbon/human/life/life_helpers.dm
Labels: Fix

#8638 Bigger xenos open doors faster
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Balance

#8677 Refactor urange
  code/__HELPERS/unsorted.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_marines/dropship_ammo.dm
  code/modules/cm_marines/orbital_cannon.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/defenses/defenses.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Refactor

#8712 covers a few more stickykey cases
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/hotkeys.ts
Labels: Fix, UI

#7983 Adjusts minimum ages for many roles.
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Stale

#7819 Pounce/Lunge/etc impact fix
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/predalien/predalien_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/living.dm
  code/modules/movement/launching/launching.dm
Labels: Fix, Balance, Balance Approved

#8687 Changes Field Doctor Timelock
  code/__DEFINES/job.dm
  code/game/jobs/job/civilians/support/field_doctor.dm
Labels: Balance, Balance Approved

#8723 dpi touchups
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/drag.ts
Labels: Feature, Fix, UI

#8608 Some early returns for admin stuff
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/tabs/event_tab.dm
Labels: Code Improvement

#8690 K9 Tracker Bug Fix
  icons/obj/items/devices.dmi
Labels: Fix, Sprites

#8607 optimization to chat saving via indexeddb improvements
  tgui/packages/common/storage.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/public/iframe.html
Labels: Code Improvement, UI, Testmerge Candidate, Needs Testing

#8730 Fix field doctor timelock change
  code/__DEFINES/job.dm
  code/game/jobs/job/civilians/civilian.dm
Labels: Fix

#8743 Fixed prop gun wield message showing incorrect name
  code/game/objects/items/weapons/twohanded.dm
Labels: Fix, Good First PR

#8735 small valk bugfix
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
Labels: Fix

#8758 Typescript React Files Only
  tools/ci/check_grep.sh
Labels: Feature

#8734 yet more dpi shenanigans
  code/datums/browser.dm
  code/datums/global_variables.dm
  code/datums/matrix_editor.dm
  code/game/atoms.dm
  code/game/machinery/computer/area_air_control.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/emails.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/computer/skills.dm
  code/game/machinery/door_display/door_display.dm
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/books/book.dm
  code/game/objects/items/devices/dummy_tablet.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/safe.dm
  code/game/supplyshuttle.dm
  code/game/verbs/records.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin.dm
  code/modules/admin/banjob.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/tabs/admin_tab.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/admin/verbs/custom_paper.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/cm_marines/equipment/maps.dm
  code/modules/economy/ATM.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/paperwork/prefab_papers.dm
  code/modules/power/power_monitor.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/tgui/tgui-say/modal.dm
  code/modules/tgui/tgui.dm
  code/modules/vehicles/arc/verbs.dm
  code/modules/vehicles/multitile/multitile_verbs.dm
  interface/skin.dmf
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui/interfaces/SquadInfo.tsx
  tgui/packages/tgui/styles/interfaces/SquadInfo.scss
Labels: Quality of Life, UI

#8727 Adds a "Play as" option to the create xeno/human procs
  code/modules/admin/topic/topic_events.dm
  html/create_humans.html
  html/create_xenos.html
Labels: Admin

#8750 Cryopods can now get shipside announcements
  code/defines/procs/announcement.dm
Labels: Fix

#8759 516: Fix TGUI Asset Loading
  tgui/public/tgui.html
Labels: Fix, UI

#8742 Fixes girders not taking account to being destroyed
  code/game/objects/structures/girders.dm
Labels: Fix, Code Improvement

#8761 Fix Supply Drop Console like OW Console for zero.
  code/game/supplyshuttle.dm
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/SupplyDropConsole.tsx
Labels: Fix, UI

#8764 Cleanup browser.dm
  code/datums/browser.dm
Labels: Fix, UI

#8508 Vehicle Keybinds
  code/__DEFINES/keybinding.dm
  code/__DEFINES/vehicle.dm
  code/datums/keybinding/vehicles.dm
  code/modules/vehicles/apc/apc.dm
  code/modules/vehicles/apc/apc_command.dm
  code/modules/vehicles/apc/apc_medical.dm
  code/modules/vehicles/multitile/multitile_verbs.dm
  code/modules/vehicles/tank/tank.dm
  colonialmarines.dme
Labels: Feature, Code Improvement

#8579 Ports PVE Wall Leaning
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/traits.dm
  code/_onclick/human.dm
  code/game/turfs/walls/walls.dm
  code/modules/animations/animation_library.dm
  code/modules/mob/mob.dm
  icons/effects/effects.dmi
Labels: Feature, Sprites, Testmerge Candidate

#8665 "Cooldown Complete" messages for xeno abilities is now a pref
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/xeno_action.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
Labels: Feature, Removal

#8713 Ports PVE IFF Examine system
  code/modules/mob/living/carbon/human/examine.dm
Labels: Feature, Quality of Life

#8728 Nested people are now ignored by dir slash / IFF alt scope
  code/_onclick/xeno.dm
  code/datums/components/iff_fire_prevention.dm
Labels: Fix

#8733 Fixes removing nvg filters from the optic versions of NVG
  code/game/objects/items/devices/helmet_visors.dm
Labels: Fix

#8740 Adds Clear Cache and Cryo and Ghost to Lobby Admin Autoreplies
  code/modules/admin/autoreply.dm
Labels: Admin

#8741 Makes JAS consoles indestructible
  code/game/machinery/computer/sentencing.dm
Labels: Fix

#8756 Shore up possible edge case for last man standing
  code/modules/mob/living/carbon/human/death.dm
Labels: Fix

#8765 Gibs show on weeds
  code/game/objects/effects/decals/cleanable/blood/blood.dm
Labels: Fix

#8407 Adds Extended m4ra mags
  code/datums/supply_packs/ammo.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/modules/gear_presets/uscm_forecon.dm
  code/modules/projectiles/ammo_boxes/magazine_boxes.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist/scout.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Feature, Balance, Grammar and Formatting, Mapping, Balance Approved, Mapping Approved

#8375 Buffs (and renames) the M81 Riot Launcher
  code/datums/emergency_calls/riot.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet/level_blue.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  maps/map_files/FOP_v3_Sciannex/standalone/riot_in_progress.dmm
Labels: Balance, Mapping, Mapping Approved

#8176 Heavy-duty roller bed
  code/game/objects/objs.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  icons/obj/structures/rollerbed.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#8543 Inverts multi pill bottle filling to opt in + Fixes
  code/modules/reagents/chemistry_machinery/chem_master.dm
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Labels: Fix, Quality of Life, UI, Testmerge Candidate

#8791 Fixes bread's description
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Fix

#8786 Chairs dont stun xenos
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: Fix

#8737 Fixes King trampling things forever through cades
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
Labels: Fix

#8785 reduces the sound of queen announce
  sound/voice/alien_queen_command.ogg
  sound/voice/alien_queen_command2.ogg
  sound/voice/alien_queen_command3.ogg
Labels: Sound

#8787 Fixes Survivor Synth not being in faction follow menu
  code/__DEFINES/typecheck/humanoids.dm
Labels: Fix

#8780 Fixes ravs and lurkers empowered state slashes
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
Labels: Fix

#8686 Increases Mortar Belt and Mortar Backpack Storage
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
Labels: Balance

#8574 Hellhound emotes (and bug fixes)
  code/modules/mob/living/carbon/xenomorph/abilities/hellhound/hellhound_abilities.dm
  code/modules/mob/living/carbon/xenomorph/emote.dm
Labels: Fix

#8494 modernize vanguard shield code
  code/datums/xeno_shields/shield_types/vanguard_shield.dm
  code/datums/xeno_shields/xeno_shield.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
Labels: Code Improvement

#8671 Fixes lizard recursive check and infinite knockout
  code/_globalvars/misc.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#8808 Fixes M4RA Magazine Box being under wrong category
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Fix

#8809 Fixes phonebox "realiable" into "reliable"
  code/game/objects/structures/crates_lockers/closets/phonebox.dm
  code/game/objects/structures/hybrisa_props.dm
Labels: Grammar and Formatting

#8263 Increases nuke timer to 3 minutes and makes it uncancelable, nuke autotriggers after decryption is finished.
  code/game/machinery/nuclearbomb.dm
  tgui/packages/tgui/interfaces/NuclearBomb.tsx
Labels: Balance, UI, Testmerge Candidate, Balance Approved, Needs Testing

#8784 Xeno Trap Restrictions
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix, Balance, Balance Approved

#8816 Fixes no nvg nvg bug
  code/modules/clothing/glasses/glasses.dm
Labels: Fix

#8815 Fixes indestructible vendors
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#8819 Fixes text through cameras again
  tgui/packages/tgui/components/ByondUi.tsx
Labels: UI, Missing Changelog

#8818 Fixes weapon accidental discharges on disarm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#8825 fixes clocks being thrown super slowly
  code/game/objects/items/misc.dm
Labels: Fix

#8830 Minor Grammer Fixes - Queen
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Grammar and Formatting

#8773 Vanguard shield minimal damage
  code/datums/xeno_shields/shield_types/vanguard_shield.dm
  code/game/turfs/open_space.dm
  code/game/turfs/turf.dm
Labels: Balance

#8762 db rebalance + shotgun delay cleanup
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/guns/shotguns.dm
Labels: Balance, Code Improvement

#8772 Fixes Nuke being able to nuke before decryption mentioned in #8769
  code/game/machinery/nuclearbomb.dm
Labels: Fix, UI

#8755 synth vendor changes
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Balance, Removal

#8757 fix clf surv synth IFF and radio
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
Labels: Fix

#8709 Makes neuro hallucination playsounds not be loud as hell
  code/datums/effects/neurotoxin.dm
  code/game/sound.dm
Labels: Fix, Code Improvement

#8631 Tacmap Icons for Xenomorph Egg Morphers & Recovery Nodes
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/cm_aliens/structures/special/recovery_node.dm
  icons/ui_icons/map_blips.dmi
Labels: Sprites, Sprites Approved

#8797 UBS nerf
  code/datums/ammo/bullet/shotgun.dm
Labels: Balance

#8788 Yautja can eat nonstop
  code/game/objects/items/reagent_containers/food/snacks.dm
  code/game/objects/items/tools/kitchen_tools.dm
Labels: Fix, Quality of Life

#8838 fixes shaking bypassing pill skill locks
  code/game/objects/items/storage/storage.dm
Labels: Fix

#8699 Frostoil Cryox Quick Clot interaction restored, and Hemostatic cures bleed
  code/datums/effects/bleeding.dm
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Labels: Feature

#8683 squad armband
  code/modules/client/preferences_gear.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/clothing/accessory/armbands.dmi
  icons/obj/items/clothing/accessory/armbands.dmi
  icons/obj/items/clothing/accessory/inventory_overlays/armbands.dmi
Labels: Feature, Sprites, Sprites Approved

#8849 Fixes unclosed html; Replaces bold html tags with SPAN_BOLD. Adds extra words for multi-limb bleeding.
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix, Code Improvement, Grammar and Formatting

#8843 Fix flyby triggering first drop
  code/modules/shuttle/shuttles/dropship.dm
  code/modules/shuttles/marine_ferry.dm
Labels: Fix

#8820 Fixes light fixtuers blocking eggs
  code/modules/mob/living/carbon/xenomorph/egg_item.dm
Labels: Fix

#8855 Fixes skill lock bypass
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/storage.dm
  code/modules/recycling/disposal.dm
Labels: Fix

#8831 Fixes facepaint staying on post mortem beheading
  code/modules/organs/limbs.dm
Labels: Fix

#8875 stops any weird audio player crashes
  tgui/packages/tgui-panel/audio/player.ts
Labels: Fix, UI

#8850 sets the minimum compile version to 516
  .github/alternate_byond_versions.txt
  code/_byond_version_compat.dm
  code/_onclick/hud/rendering/render_plate.dm
  dependencies.sh
Labels: Github, Missing Changelog

#8874 ignore mouse 4/5
  code/__DEFINES/_click.dm
  code/_onclick/click.dm
Labels: Fix

#8627 Removes RMC rifle from hunting grounds, replaces it with AUG
  code/modules/gear_presets/royal_marines.dm
Labels: Balance

#8836 Refactors unleash_flame procs
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Feature, Fix, Refactor

#8351 Updated book contents and sprites, fixed wiki links, new addons (fluffs the nuke)
  code/datums/supply_packs/operations.dm
  code/game/machinery/nuclearbomb.dm
  code/game/objects/items/books/book.dm
  code/game/objects/items/books/manuals.dm
  code/game/objects/items/storage/bible.dm
  code/game/objects/prop.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  code/modules/objectives/documents.dm
  icons/mob/humans/onmob/inhands/equipment/paperwork_lefthand.dmi
  icons/mob/humans/onmob/inhands/equipment/paperwork_righthand.dmi
  icons/mob/humans/onmob/inhands/items/books_lefthand.dmi
  icons/mob/humans/onmob/inhands/items/books_righthand.dmi
  icons/obj/items/books.dmi
  icons/obj/items/paper.dmi
Labels: Fix, Sprites, Code Improvement, Sprites Approved

#8920 Correct typo in munition prep vendor
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
Labels: Fix

#8915 Fix non-weapon weapons: They don't get fire mission offsets
  tgui/packages/tgui/interfaces/MfdPanels/FiremissionPanel.tsx
Labels: Fix, UI

#8916 Tweak Ping Browser Gauges
  tgui/packages/tgui/interfaces/PingRelaysPanel.tsx
Labels: UI

#8893 Fixes an item not existing for CO's
  code/modules/clothing/suits/marine_coat.dm
  code/modules/gear_presets/uscm_co.dm
Labels: Fix

#8907 Makes the green beret in SO vendors actually green
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
Labels: Fix

#8892 cades now play sound when shot at
  code/game/objects/structures/barricade/barricade.dm
Labels: Quality of Life

#8868 Universal speak works now.
  code/modules/mob/say.dm
Labels: Fix

#8827 Antiparasitic buff
  code/__DEFINES/chemistry.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Balance

#8917 Tgui update follow up
  code/modules/paperwork/photography.dm
  html/statbrowser.css
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/components/Image.tsx
  tgui/packages/tgui/styles/interfaces/StripMenu.scss
Labels: Fix, UI, Testmerge Candidate
