Repository cmss13-devs/cmss13, pull requests merged in 2025-07, with the labels that each got.

#9821 interference fix
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Fix

#9841 Tiny fix for RMC ERT helmet slot.
  code/modules/gear_presets/royal_marines.dm
Labels: Fix

#9809 fixes for CO survivor on solaris ridge
  code/modules/gear_presets/survivors/solaris/preset_solaris.dm
Labels: Fix

#9812 General pouches can no longer hold toolkits
  code/game/objects/items/storage/pouch.dm
Labels: Fix, Balance

#9863 Fixes all praetorian strains having acid spit
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
Labels: Fix

#9793 CLF Sentry fix on Soro insert
  code/modules/defenses/sentry.dm
  maps/map_files/BigRed/standalone/clfmining.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
  maps/map_files/Ice_Colony_v3/standalone/clfraid.dmm
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV759_Hybrisa_Prospera/standalone/clfspaceport.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcamp.dmm
Labels: Fix, Mapping, Mapping Approved

#9813 Increases BE log visibility and clarifies it slightly.
  code/datums/ammo/bullet/bullet.dm
Labels: Stale, Admin

#9831 UI: Sentry Computer Section scrolling over Content scrolling, some scalability
  code/modules/defenses/sentry_computer.dm
  tgui/packages/tgui/interfaces/SentryGunUI.tsx
  tgui/packages/tgui/styles/interfaces/SentryUi.scss
Labels: Stale, UI

#9851 Adds new jackets for Combat Correspondent
  code/game/machinery/vending/vendor_types/crew/combat_correspondent.dm
  code/modules/clothing/suits/marine_coat.dm
  icons/mob/humans/onmob/clothing/suits/jackets.dmi
  icons/obj/items/clothing/suits/jackets.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_faction/TWE.dmi
Labels: Feature, Fix, Sprites, Sprites Approved

#9901 Fixes brute visible_message
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
Labels: Fix

#9905 Quality of Life, Spotters get to cloak and spot separately now
  code/game/objects/items/devices/binoculars.dm
Labels: Quality of Life, Good First PR

#9785 CC's Portable Fax identification fix and animation fix
  code/game/machinery/fax_machine.dm
  icons/obj/structures/machinery/library.dmi
Labels: Fix, Quality of Life, Sprites, Sprites Approved

#9585 mess tent
  code/modules/tents/deployed_tents.dm
  code/modules/tents/equipment.dm
  code/modules/tents/folded_tents.dm
  code/modules/tents/templates.dm
  icons/obj/structures/tents_deployed_classic.dmi
  icons/obj/structures/tents_deployed_desert.dmi
  icons/obj/structures/tents_deployed_jungle.dmi
  icons/obj/structures/tents_deployed_snow.dmi
  icons/obj/structures/tents_deployed_urban.dmi
  icons/obj/structures/tents_folded.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/tents/tent_mess.dmm
Labels: Feature, Sprites, Mapping, Good First PR, Sprites Approved, Mapping Approved

#9825 Infected Follow Menu subtyping
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, UI

#9942 Allows Field Doctor Time to Count for CMO
  code/__DEFINES/job.dm
Labels: Fix

#9383 adds hud icons for sharp operator
  code/game/jobs/job/marine/squad_info.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cm_marines/specialist.dm
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Labels: Sprites, Sprites Approved

#9921 more radials for ladders
  code/_onclick/observer.dm
  code/game/objects/structures/ladders.dm
Labels: Feature

#9910 Adds dexplus and oxycodone to the pressurized chem dispenser
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
Labels: Balance, Stale, Balance Approved

#9909 Hand labeler crate fixes
  code/game/objects/items/tools/misc_tools.dm
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix, Quality of Life, Stale

#9848 multiz/slightly expanded runtime station
  code/game/area/areas_event.dm
  code/game/objects/structures/barricade/handrail.dm
  maps/map_files/USS_Runtime/USS_Runtime.dmm
  maps/runtime.json
Labels: Mapping

#9847 fixes brute rockets runtiming and deleting
  code/datums/ammo/rocket.dm
Labels: Fix

#9873 Fix: .match crashing TGUI with some Regex Chars
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.tsx
  tgui/packages/tgui/interfaces/KeyBinds.tsx
  tgui/packages/tgui/interfaces/OverwatchConsole.tsx
  tgui/packages/tgui/interfaces/PhoneMenu.tsx
  tgui/packages/tgui/interfaces/STUI.tsx
  tgui/packages/tgui/interfaces/VoxPanel.tsx
  tgui/packages/tgui/interfaces/helpers.tsx
Labels: Fix, UI

#9886 Improvements for Healer Drone "Sacrifice" Ability
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/healer.dm
Labels: Balance, Stale, Balance Approved

#9911 XO role can only be unlocked through SO hours and not ASO and SO hours
  code/game/jobs/job/command/cic/executive.dm
Labels: Balance, Stale, Balance Approved

#9924 Fixes Whiskey Outpost ASB for Pyro and Scout specs.
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
Labels: Fix, Stale

#9925 Cryocells' autoeject should check for Toxin damage as well
  code/game/machinery/cryo.dm
Labels: Quality of Life, Stale

#9923 Fixes a bug where dog tags couldn't be retrieved in some cases
  code/modules/mob/living/carbon/human/human_stripping.dm
Labels: Fix, Stale

#9932 Added shipside and groundside filter options for the orbit menu
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Quality of Life, Stale, UI

#9775 CLF Flags & Sentries
  code/game/objects/items/stacks/flags.dm
  code/modules/defenses/handheld.dm
  code/modules/defenses/planted_flag.dm
  code/modules/defenses/sentry.dm
  icons/mob/humans/onmob/inhands/items/items_lefthand_64.dmi
  icons/mob/humans/onmob/inhands/items/items_righthand_64.dmi
  icons/obj/structures/machinery/defenses/clf_defenses.dmi
  icons/obj/structures/plantable_flag.dmi
  maps/map_files/BigRed/standalone/clfmining.dmm
  maps/map_files/DesertDam/standalone/clfpods.dmm
  maps/map_files/FOP_v3_Sciannex/standalone/rocinante.dmm
  maps/map_files/Ice_Colony_v3/standalone/clfraid.dmm
  maps/map_files/Kutjevo/standalone/clfsmugglers.dmm
  maps/map_files/LV624/standalone/clfship.dmm
  maps/map_files/LV759_Hybrisa_Prospera/standalone/clfspaceport.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
  maps/map_files/Sorokyne_Strata/standalone/clfcamp.dmm
  sound/effects/flag_warcry_clf.ogg
  sound/effects/flag_warcry_clf_extra.ogg
Labels: Sound, Sprites, Mapping, Sprites Approved, Mapping Approved

#9421 Tgui rspack fixes and misc tgui fixes
  tgui/.yarnrc.yml
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/common/redux.ts
  tgui/packages/tgui/debug/KitchenSink.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Tabs.stories.tsx
  tgui/packages/tgui/stories/Themes.stories.tsx
  tgui/rspack.config-dev.cjs
  tgui/rspack.config.cjs
  tgui/yarn.lock
  tools/build/build.js
Labels: Fix, Code Improvement, Stale Exempt, UI

#9578 Dropship Lock now takes 5 seconds
  code/modules/shuttle/computers/dropship_computer.dm
Labels: Balance

#9935 UI: Radio gets some extra formatting, Sentry Computer gets a better looking '%', Fix TSL constant being misnamed
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui/interfaces/Radio.tsx
  tgui/packages/tgui/interfaces/SentryGunUI.tsx
  tgui/packages/tgui/styles/interfaces/SentryUi.scss
Labels: Fix, Stale, UI

#9989 adds a leg pouch as a webbing alternative and a few other additions that should've been done a long time ago
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/game/machinery/vending/vendor_types/crew/engineering.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/mp.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/staff_officer.dm
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_medic.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_rifleman.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_smartgunner.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/game/machinery/vending/vendor_types/squad_prep/tutorial.dm
  code/modules/clothing/under/ties.dm
  icons/mob/humans/onmob/clothing/accessory/legpouch.dmi
  icons/mob/humans/onmob/clothing/accessory/webbings.dmi
  icons/obj/items/clothing/accessory/inventory_overlays/legpouch.dmi
  icons/obj/items/clothing/accessory/legpouch.dmi
  icons/obj/items/clothing/accessory/webbings.dmi
Labels: Feature, Sprites, Sprites Approved

#9987 Temporary maturity for early game queens
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
Labels: Balance, Code Improvement, Balance Approved

#10014 Fix playtime mob type sometimes being the game mode type
  code/game/gamemodes/game_mode.dm
Labels: Fix

#9999 Fixes being able to WI-FI tac reload
  code/modules/projectiles/gun_helpers.dm
Labels: Fix

#10000 Fixes putting things on conveyor belts when not on harm intent and steals the 10k pr
  code/modules/recycling/conveyor2.dm
Labels: Fix

#10022 Flash eye fixes
  code/game/objects/items/explosives/grenades/flashbang.dm
  code/game/objects/items/implants/implantneurostim.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#9897 Filteriffic & Particle editor fixes and VV icon QoL
  code/__DEFINES/generators.dm
  code/__DEFINES/matrices.dm
  code/__HELPERS/filters.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/matrices.dm
  code/datums/global_variables.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/admin/view_variables/filterrific.dm
  code/modules/admin/view_variables/get_variables.dm
  code/modules/admin/view_variables/particle_editor.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/Filteriffic.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/EntriesBasic.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/data.ts
  tgui/packages/tgui/interfaces/ParticleEdit/helpers.ts
Labels: Feature, Fix, Quality of Life, Code Improvement, Stale Exempt, UI

#9898 Add faction and role filtering to fun facts
  code/datums/statistics/random_facts/christmas_fact.dm
  code/datums/statistics/random_facts/kills_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
Labels: Feature, Stale Exempt

#9899 Fixes a runtime namely with lessers who can die during Life
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix, Stale Exempt

#9966 Flavor variable inserts
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#9947 Fixes a bug where you couldnt fire the underbarrel extuingisher on flamers
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix, Stale

#10015 Death stats are no longer deattached & deleted
  code/datums/statistics/entities/death_stats.dm
Labels: Code Improvement

#10027 Bump size label thresholds
  .github/workflows/labeler.yml
Labels: Github, Missing Changelog, size/S

#9883 CMB SWAT rolled sleeves
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_faction/CMB.dmi
Labels: Sprites, Sprites Approved

#9916 Synth radio fix for SOF insert
  code/modules/gear_presets/survivors/lv_759/iasf_survivor_insert.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/sorokyne_strata/crashlanding_insert_soro.dm
  code/modules/gear_presets/survivors/sorokyne_strata/preset_sorokyne_strata.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
Labels: Fix

#9998 Survivor Origin Hotfix and new Origins
  code/__DEFINES/origins.dm
  code/datums/origin/cmb.dm
  code/datums/origin/twe.dm
  code/datums/origin/wy.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/lv_759/iasf_survivor_insert.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_goons.dm
  colonialmarines.dme
Labels: Feature, Fix

#9954 Fixes lizards attacking xenos who are in tunnels
  code/modules/mob/living/simple_animal/hostile/retaliate/giant_lizard.dm
Labels: Fix, Stale

#9946 More xenomorph z level fixes(?)
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Fix, Stale

#9986 Destroying The Old Holdout Pistol
  code/game/objects/items/storage/misc.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/client/preferences_gear.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/marine_shoes.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/magazines/pistols.dm
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/pistols_righthand.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/colony/pistols.dmi
  icons/obj/items/weapons/guns/guns_by_faction/colony/pistols.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  sound/weapons/gun_pistol_380acp.ogg
Labels: Feature, Sound, Sprites, Removal, Sprites Approved, size/M

#10048 add alt click to sinks and hydro trays
  code/game/objects/structures/sink.dm
  code/modules/hydroponics/hydro_tray.dm
Labels: Feature, size/M

#10042 makes look up a toggle again
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/mob_verbs.dm
  code/modules/shuttle/on_move.dm
Labels: Fix, size/XS

#10016 Fixes being able to paradrop to space
  code/game/turfs/transit.dm
Labels: Fix

#9977 Adds Yautja Autodoc (and upgrades their sleeper)
  code/game/machinery/medical_pod/autodoc.dm
  code/game/machinery/medical_pod/sleeper.dm
  maps/predship/huntership.dmm
Labels: Feature, Stale Exempt, Mapping, Mapping Approved

#10052 ladder improvements
  code/game/objects/structures/ladders.dm
Labels: Quality of Life, size/S

#9929 BUGFIX: Throwing Guns breaks sprite
  code/modules/projectiles/gun.dm
Labels: Fix

#9931 Fixes duplicate infected follow
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#10019 Sausages can be made with raw meat and cutlets
  code/datums/recipe.dm
Labels: Quality of Life, Good First PR, size/XS

#10231 Removes S*ssy from the namepool
  strings/first.txt
  strings/first_female.txt
Labels: Removal, size/XS

#10040 allows the pistol toolbelt to hold everything the regular toolbelt can
  code/game/objects/items/storage/belt.dm
Labels: Balance, size/XS

#9939 Adds an MP Riot Visor
  code/game/machinery/vending/vending_types.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/clothing/helmet_garb/visors.dmi
  icons/obj/items/clothing/helmet_garb.dmi
Labels: Feature, Sprites, Sprites Approved, size/XS
