Repository cmss13-devs/cmss13, pull requests merged in 2025-06, with the labels that each got.

#9384 Gibs player huggers on ghost
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Balance, Balance Approved

#9390 fix clf surv skills
  code/datums/skills/civilian.dm
Labels: Fix

#9411 Fixes a typo in synth maint station
  code/game/machinery/rechargestation.dm
Labels: Grammar and Formatting

#9243 Allows Yautja to Flay Prey with the Ceremonial Dagger Instead of Butcher Verb
  code/modules/cm_preds/yaut_weapons.dm
Labels: Quality of Life, Stale

#9407 Fixes message when autodoc powers down
  code/game/machinery/medical_pod/autodoc.dm
Labels: Fix

#9418 Nuke messaging clarity (again)
  code/game/machinery/nuclearbomb.dm
Labels: Quality of Life

#9269 New sound usage, for vanguard, dancer, punches, shrapnel embed, pred weapon, and empowered spit lines
  code/game/objects/effects/aliens.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
  code/modules/projectiles/projectile.dm
Labels: Quality of Life

#9395 Fix king jump
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
Labels: Fix

#9260 adds some new clothing items to synth selection
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/marine_uniform.dm
Labels: Feature

#9393 Fixes the area checks for the hunting grounds
  code/game/area/hunting_preserve.dm
Labels: Fix

#9330 Adds Minimap Icons and Plasma Column to Hive Status
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/mob/living/carbon/xenomorph/hive_status_ui.dm
  tgui/packages/tgui/interfaces/HiveStatus.tsx
Labels: Quality of Life, UI

#9426 One retry on relay browser
  tgui/packages/common/ping.js
  tgui/packages/tgui/interfaces/PingRelaysPanel.tsx
Labels: UI

#9420 MRE grammar and typo fixes, adds some fluff to the descriptions.
  code/game/objects/items/reagent_containers/food/mre_food/uscm.dm
Labels: Grammar and Formatting

#9319 All mobs should call parent Life()
  code/modules/mob/living/carbon/xenomorph/life.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: Fix, Refactor, Stale Exempt

#9439 Fixes an attachment exploit
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#9438 Fix hauling pull responses and monkey wandering
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: Fix

#9342 Youngblood Hour changes.
  code/__DEFINES/clans.dm
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/game/jobs/job/antag/other/pred.dm
  code/game/objects/items/stacks/predator.dm
  code/modules/cm_preds/yaut_items.dm
Labels: Feature

#9448 Prevents C4 and breaching charges from sticking to dense fog.
  code/game/objects/structures/blocker.dm
Labels: Fix

#9391 light/med armor bomb armor changes (Light armor no longer protects you from bombs better than med armor)
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/suits/marine_armor/smartgunner.dm
Labels: Fix, Balance, Stale

#9381 Fixes typos & rewrites most of magazines .dms
  code/modules/projectiles/magazines/flamer.dm
  code/modules/projectiles/magazines/lever_action.dm
  code/modules/projectiles/magazines/misc.dm
  code/modules/projectiles/magazines/pistols.dm
  code/modules/projectiles/magazines/revolvers.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/smgs.dm
  code/modules/projectiles/magazines/specialist.dm
Labels: Feature, Grammar and Formatting

#9412 Capturing Rebalance
  code/__DEFINES/chemistry.dm
  code/_onclick/item_attack.dm
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/tools/kitchen_tools.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/Embryo.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/medical.dm
Labels: Balance, Config, Balance Approved, Admin

#9555 fix: make portable vendor scrollable
  tgui/packages/tgui/interfaces/PortableVendor.tsx
Labels: Feature, Fix, UI

#9445 fixes the intel sl tracker
  icons/mob/hud/human_bronze.dmi
  icons/mob/hud/human_dark.dmi
  icons/mob/hud/human_glass.dmi
  icons/mob/hud/human_green.dmi
  icons/mob/hud/human_grey.dmi
  icons/mob/hud/human_holo.dmi
  icons/mob/hud/human_midnight.dmi
  icons/mob/hud/human_old.dmi
  icons/mob/hud/human_orange.dmi
  icons/mob/hud/human_red.dmi
  icons/mob/hud/human_white.dmi
Labels: Fix, Sprites, Sprites Approved

#9256 acid now moves with acided things, you can no longer pickup acided items
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/reagent_containers/glass.dm
  code/game/objects/items/reagent_containers/glass/bottle.dm
  code/game/objects/items/reagent_containers/syringes.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/inventory.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Feature, Balance, Balance Approved

#9545 tweak: Xeno can be fed with more types of food
  code/game/objects/items/reagent_containers/food/cans.dm
  code/game/objects/items/reagent_containers/food/condiment.dm
  code/game/objects/items/reagent_containers/food/drinks.dm
Labels: Feature

#9544 Mentors can De-Admin
  code/modules/admin/admin_verbs.dm
Labels: Admin

#9581 Fix tunnel hauling exploit
  code/modules/cm_aliens/structures/tunnel.dm
Labels: Fix, Testmerge Candidate

#9196 new yautja weapon "chain gauntlets"
  code/__DEFINES/keybinding.dm
  code/datums/ammo/xeno.dm
  code/datums/keybinding/yautja.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Sprites Approved

#9443 Equipment Preset and Manifest interaction backend changes
  code/datums/datacore.dm
  code/modules/gear_presets/_select_equipment.dm
  code/modules/gear_presets/agents.dm
  code/modules/gear_presets/cbrn.dm
  code/modules/gear_presets/cia.dm
  code/modules/gear_presets/clf.dm
  code/modules/gear_presets/cmb.dm
  code/modules/gear_presets/colonist.dm
  code/modules/gear_presets/contractor.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/dust_raider.dm
  code/modules/gear_presets/dutch.dm
  code/modules/gear_presets/fax_responders.dm
  code/modules/gear_presets/fun.dm
  code/modules/gear_presets/other.dm
  code/modules/gear_presets/pmc.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/survivors/corsat/preset_corsat.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/preset_fiorina_sciannex.dm
  code/modules/gear_presets/survivors/fiorina_sciannex/riot_in_progress_insert_fiorina_nightmare.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/survivors/lv_624/preset_lv.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/survivors.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
  code/modules/gear_presets/synth_k9.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/upp.dm
  code/modules/gear_presets/uscm.dm
  code/modules/gear_presets/uscm_co.dm
  code/modules/gear_presets/uscm_dress.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/uscm_forecon.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/gear_presets/uscm_police.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/gear_presets/wo.dm
  code/modules/gear_presets/wy.dm
  code/modules/gear_presets/wy_commandos.dm
  code/modules/gear_presets/wy_goons.dm
  code/modules/gear_presets/yautja.dm
Labels: Code Improvement

#9424 ammo rack can carry filled sandbags
  code/game/objects/items/storage/backpack.dm
Labels: Balance, Stale

#9592 Rename `var/mob/usr` to `var/mob/user`
  code/game/machinery/pipe/pipe_dispenser.dm
  code/modules/admin/player_notes.dm
Labels: Missing Changelog

#9589 clarify accidental discharge admin logging
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Admin, Missing Changelog

#9751 Add Antag Skill to CIA Agent + Amend a variable for their portable vendor
  code/datums/skills/uscm.dm
  code/game/objects/items/devices/portable_vendor.dm
Labels: Fix

#9750 config for maintainer ooc color
  code/controllers/configuration/entries/general.dm
  code/game/verbs/ooc.dm
Labels: Config

#9446 Allows the honorable yautja to wear accessories
  code/modules/cm_preds/yaut_items.dm
Labels: Feature, Fix

#9498 Changes SADAR loader pamphlet
  code/modules/character_traits/skills.dm
Labels: Balance

#9753 Fixed "unskilled" autodocs requiring a skill.
  code/game/machinery/medical_pod/autodoc.dm
Labels: Fix, Good First PR

#9765 fixes normal survivors spawning as synth paramedics
  maps/bigredv2.json
  maps/desert_dam.json
  maps/lv624.json
Labels: Fix

#9773 No larva queue estimation for the first 15 seconds from lobby
  code/game/gamemodes/cm_initialize.dm
Labels: Quality of Life

#9723 Reconnaissance Major now spawns with their selected sidearm (standard desert eagle or standard mateba)
  code/modules/gear_presets/survivors/lv_522/forcon_survivors.dm
Labels: Balance, Balance Approved

#9771 changes "pooled larva" announcement to "burrowed"
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Grammar and Formatting

#9549 Tweaks the mortars ranges
  code/modules/cm_marines/equipment/mortar/mortars.dm
Labels: Balance, Testmerge Candidate, Needs Testing

#9416 Adds holocards to stasis bags
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/datums/mob_hud.dm
  code/game/objects/items/bodybag.dm
  icons/obj/bodybag.dmi
Labels: Feature, Sprites

#9588 [Re] Add Larva & Facehugger Roar emote cooldown.
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
  code/modules/mob/living/carbon/xenomorph/castes/Larva.dm
Labels: Quality of Life

#9810 swaps the bodyguard beacon commandos off the deathsquad version
  code/datums/emergency_calls/bodyguard.dm
Labels: Admin

#9782 Typo/grammar fixes, minor code improvements and blood spatters for Xeno Dissection
  code/modules/surgery/xeno.dm
Labels: Feature, Code Improvement, Grammar and Formatting

#9816 Spore Fruit Description Fix
  code/modules/cm_aliens/structures/fruit.dm
Labels: Fix

#9546 Average-sized Pile of Fixes Regarding On_mobs, Addition Of New Briefcases
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/toys/toy_weapons.dm
  icons/mob/humans/onmob/clothing/accessory/misc.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_lefthand.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_righthand.dmi
  icons/mob/humans/onmob/inhands/equipment/briefcases_lefthand.dmi
  icons/mob/humans/onmob/inhands/equipment/briefcases_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/energy_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/energy_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_righthand.dmi
  icons/obj/items/storage/briefcases.dmi
  icons/obj/items/weapons/melee/energy.dmi
Labels: Fix, Sprites, Code Improvement, Sprites Approved

#9764 Fix a few ignored spacemandmm directives
  code/datums/elements/_element.dm
  code/modules/projectiles/guns/lever_action.dm
Labels: Missing Changelog

#9757 Xeno tacmap is accessable off ovi during hijack ending + other xeno tacmap changes
  code/__DEFINES/dcs/signals/atom/mob/living/signals_xeno.dm
  code/controllers/subsystem/minimap.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Balance, Balance Approved

#9310 M6H-BRUTE
  code/datums/ASRS.dm
  code/datums/ammo/rocket.dm
  code/datums/ammo/shrapnel.dm
  code/datums/supply_packs/ammo.dm
  code/datums/supply_packs/explosives.dm
  code/datums/supply_packs/weapons.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/items/storage/large_holster.dm
  code/game/turfs/walls/walls.dm
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/effects/Targeted.dmi
  icons/effects/beam.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/UA.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/rocket_launchers_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/rocket_launchers_righthand.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/UA.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  icons/obj/items/weapons/projectiles.dmi
Labels: Feature, Balance, Sprites, Removal, Sprites Approved

#9763 Adds sterile mask to character set up menu
  code/modules/client/preferences_gear.dm
Labels: Feature, Stale

#9804 Language prefix to '!', Minor ReOrg of related lists, Provost to '#l', pass prefixes as lowercase, Remove uppercase instances. + Misc.
  code/_globalvars/global_lists.dm
  code/modules/client/preferences.dm
  code/modules/mob/language/language_handling.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/xenomorph/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/login.dm
  code/modules/mob/say.dm
  code/modules/tgui/tgui-say/modal.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
Labels: Feature, Quality of Life, Code Improvement, UI

#9761 Pylon-Layer-Changes
  code/modules/cm_aliens/structures/special/pylon_core.dm
Labels: Balance, Balance Approved

#9494 Makes Xeno Spit abilities actually use defined Cooldown vars
  code/datums/ammo/xeno.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
Labels: Code Improvement, Stale, Removal

#9794 Random fun facts
  code/datums/statistics/random_facts/christmas_fact.dm
  code/datums/statistics/random_facts/random_fact.dm
  code/game/gamemodes/cm_process.dm
  code/modules/client/client_procs.dm
Labels: Feature
