Repository cmss13-devs/cmss13, pull requests merged in 2025-05, with the labels that each got.

#9199 Fixes multiple elder overseer messages being sent for a weather event.
  code/datums/weather/weather_map_holder.dm
Labels: Fix

#9208 Fixed gun suit storage icon being missing in some cases
  code/modules/projectiles/gun.dm
Labels: Fix

#9213 adds cooldown to makeup application
  code/game/objects/items/cosmetics.dm
Labels: Fix

#9198 removes commando ERT from random ERT selection
  code/datums/emergency_calls/wy_commando.dm
Labels: Balance, Balance Approved

#9191 Allow 3 character sprite labels for pill bottles and autoinjectors.
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
Labels: Quality of Life, UI

#9197 Fixes Oppressor Praetorian being able to pull from outside of view range.
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
Labels: Fix

#9189 Bugfix: Vanguard explosive armor goes to minus infinity
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
Labels: Fix

#9143 [QOL] add laser designator to mortar kit
  code/modules/cm_marines/equipment/kit_boxes.dm
Labels: Quality of Life, Stale

#9162 Makes research machinery a bit tankier
  code/__DEFINES/structure.dm
  code/game/objects/structures.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_machinery/reagent_analyzer.dm
  code/modules/reagents/chemistry_machinery/xenomorph_analyzer.dm
  colonialmarines.dme
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Quality of Life, Mapping, Mapping Approved

#9192 Lighting Fixture QOLs and bugfixes
  code/modules/power/lighting.dm
Labels: Fix, Quality of Life

#9222 Yautja Council/Senator QoL
  code/__DEFINES/radio.dm
  code/controllers/subsystem/communications.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/telecomms/presets.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/say.dm
Labels: Feature

#9227 Moves the acid ball code from dancer to base prae
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/dancer.dm
Labels: Code Improvement

#9182 weedability refactor
  code/game/turfs/auto_turf.dm
  code/game/turfs/closed.dm
  code/game/turfs/floor_types.dm
  code/game/turfs/floors/desert.dm
  code/game/turfs/hunter_turf.dm
  code/game/turfs/hybrisa.dm
  code/game/turfs/open.dm
  code/game/turfs/open_space.dm
  code/game/turfs/shale.dm
  code/game/turfs/snow.dm
  code/game/turfs/space.dm
  code/game/turfs/strata.dm
  code/game/turfs/turf.dm
  code/game/turfs/walls/wall_types.dm
  code/game/turfs/walls/walls.dm
  code/modules/cm_aliens/hivebuffs/hivebuff.dm
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/resin_constructions.dm
Labels: Refactor

#9179 Fix: Auto verbing for '!' and '? '
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/languages.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Fix

#8161 Joe related fixes and tweaks
  code/datums/skills/synthetic.dm
  code/modules/gear_presets/survivors/lv_624/clfship_insert_lv624.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  code/modules/gear_presets/survivors/trijent/crashlanding_upp_bar_insert_trijent.dm
  code/modules/gear_presets/synths.dm
  code/modules/mob/living/carbon/human/species/working_joe/_species.dm
  code/modules/mob/living/carbon/human/species/working_joe/task_update.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Stale Exempt, Mapping, Removal, Mapping Approved

#8894 Accessory fixes & Tactical masks can be worn as accessories
  code/__DEFINES/equipment.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/marine_armor/ghillie.dm
  code/modules/clothing/under/rank_pins.dm
  code/modules/clothing/under/ties.dm
  code/modules/clothing/under/under.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/cm_tech/implements/armor.dm
Labels: Feature, Fix, Stale Exempt

#9030 Gun Jamming additions
  code/__DEFINES/weapon_stats.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/flare_gun.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/specialist/launcher/grenade_launcher.dm
  strings/marinetips.txt
  strings/xenotips.txt
Labels: Feature, Fix, Balance, Quality of Life

#9164 small refactor to hpc code and balance
  code/datums/ammo/energy.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Balance, Refactor, Code Improvement

#9181 lungemines now gib the user
  code/game/objects/items/weapons/twohanded.dm
Labels: Balance, Balance Approved

#9265 User agents for byond downloads and windows build caching
  .github/workflows/ci_suite.yml
  Dockerfile
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Labels: Github, Missing Changelog

#9250 guards now return to weyland ERT station, single letter var cleanup
  code/datums/emergency_calls/bodyguard.dm
Labels: Feature

#8962 Portable Hellhound Camera Console
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera_console.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  icons/obj/items/hunter/pred_gear.dmi
  maps/predship/huntership.dmm
Labels: Feature, Sprites, Stale Exempt, Mapping, Mapping Approved

#9171 fixes a say_understand runtime
  code/modules/mob/say.dm
Labels: Fix, Stale

#9248 hpc fix
  code/datums/ammo/energy.dm
Labels: Fix

#9215 Fixes HighCom fax machines not allowing duplicates.
  code/game/gamemodes/cm_initialize.dm
  code/game/machinery/fax_machine.dm
Labels: Fix, Stale

#9225 prevents fluffing growing unremovable facial hair on female characters
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Labels: Fix, Stale

#8569 SHARP Rifle Re-Revival: Triple R edition
  code/__DEFINES/conflict.dm
  code/__DEFINES/weapon_stats.dm
  code/datums/supply_packs/spec_ammo.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/effects/effect_system/smoke.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/shards.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/specialist.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/specialist/sharp.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  colonialmarines.dme
  icons/obj/items/weapons/grenade.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/grenade_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/grenade_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/handful.dmi
  icons/obj/items/weapons/guns/lineart.dmi
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/gun_sharp.ogg
  sound/weapons/gun_sharp_explode.ogg
Labels: Feature, Balance, Sound, Sprites, Balance Approved, Sprites Approved

#9257 Shotguns can no longer mount the underbarrel flamer.
  code/modules/projectiles/guns/shotguns.dm
Labels: Balance, Balance Approved

#9244 fixes being unable to wear ties, patches, etc.
  code/modules/clothing/under/under.dm
Labels: Fix

#9249 fixes combat android leader preset on the CL beacon
  code/datums/emergency_calls/bodyguard.dm
Labels: Fix

#8876 make mag harnesses always prefer the slot it usually snaps to, ports sticky slots from tgmc
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/equipment.dm
  code/datums/elements/drop_retrieval.dm
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/guns/shotguns.dm
Labels: Quality of Life

#9276 Fix: Edit-Hotkey's Search no longer cares about case
  tgui/packages/tgui/interfaces/KeyBinds.tsx
Labels: Fix, UI

#9230 barcardine now has bicaridine
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Feature, Balance

#9263 Fix: you can put FixOVein into a first-aid kit
  code/game/objects/items/storage/firstaid.dm
Labels: Fix

#9040 New In_hands and On_mobs (IDs, Backpacks, Belts, Swords and Knives)
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/large_holster.dm
  code/modules/projectiles/gun_attachables.dm
  icons/mob/humans/onmob/clothing/accessory/misc.dmi
  icons/mob/humans/onmob/clothing/back/backpacks.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/UA.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_map/urban.dmi
  icons/mob/humans/onmob/clothing/back/holster.dmi
  icons/mob/humans/onmob/clothing/back/misc.dmi
  icons/mob/humans/onmob/clothing/back/smartpack.dmi
  icons/mob/humans/onmob/clothing/belts/belts.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_faction/TWE.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_faction/UPP.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/belts/belts_by_map/urban.dmi
  icons/mob/humans/onmob/clothing/belts/scabbards.dmi
  icons/mob/humans/onmob/clothing/belts/tools.dmi
  icons/mob/humans/onmob/ids.dmi
  icons/mob/humans/onmob/inhands/items/ids_lefthand.dmi
  icons/mob/humans/onmob/inhands/items/ids_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_righthand.dmi
Labels: Sprites, Code Improvement, Sprites Approved

#9297 very minor typo fix in helmet description
  code/modules/clothing/head/WY/pmc.dm
Labels: Grammar and Formatting

#9301 Add missing label to CMO timelocks
  code/game/jobs/job/civilians/civilian.dm
Labels: Fix

#8068 Adds Yautja Cleanser Vials
  code/__DEFINES/traits.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/game/objects/items/storage/storage.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/obj/items/hunter/pred_gear.dmi
Labels: Feature, Sprites, Sprites Approved

#9157 Updates USCM and PMC Sniper's HUD and Map icons
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Labels: Sprites, Stale, Sprites Approved

#9275 Fixes a minor spelling mistake when attempting to tweak access requirements on a vending machine
  code/game/machinery/vending/cm_vending.dm
Labels: Grammar and Formatting, Stale

#9343 The great cache update and byond mirror fallback
  .github/actions/restore_or_install_byond/action.yml
  .github/actions/setup_node/action.yml
  .github/alternate_byond_versions.txt
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/run_unit_tests.yml
  tools/ci/build.ps1
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
  tools/ci/install_node.sh
Labels: Code Improvement, Github

#9351 Makes xeno resin doors unacidable
  code/modules/cm_aliens/XenoStructures.dm
Labels: Fix

#9355 Health scanners can no longer scan xenos
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/living_healthscan.dm
Labels: Fix

#9295 Adds a special sprite to locked flight controls
  code/modules/shuttle/computers/dropship_computer.dm
  icons/obj/structures/machinery/shuttle-parts.dmi
Labels: Sprites, Sprites Approved

#9124 RMC ert changes
  code/__DEFINES/weapon_stats.dm
  code/datums/ammo/bullet/rifle.dm
  code/datums/emergency_calls/royal_marines.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Balance

#9185 Re-adds the (rebalanced) double barrel shotgun to the voteable maps it was removed from.
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/DesertDam/Desert_Dam.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/New_Varadero/New_Varadero.dmm
Labels: Feature, Stale Exempt, Mapping, Mapping Approved

#9298 Dogtags on crosses will always appear at end of round, even if cross is later destroyed
  code/game/objects/structures/props.dm
Labels: Feature

#9277 adds a new io satchel to ios
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/objects/items/storage/backpack.dm
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/UA.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/UA.dmi
Labels: Feature, Sprites, Sprites Approved

#9359 Fixes minor spelling mistake in the description of meatbread
  code/game/objects/items/reagent_containers/food/snacks.dm
Labels: Grammar and Formatting

#9323 prevents mar-50 from attaching a bipod
  code/modules/projectiles/guns/rifles.dm
Labels: Fix, Balance, Balance Approved

#9369 include testmerge info in world api
  code/datums/world_topic.dm
Labels: Server

#9361 Disables Queen auto-shove when unconcious/lying down.
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Quality of Life
