Repository cmss13-devs/cmss13, pull requests merged in 2025-02, with the labels that each got.

#8294 Marine Death Tracking
  code/datums/statistics/entities/marine_death.dm
  code/datums/statistics/entities/round_stats.dm
  code/datums/statistics/entities/xeno_death.dm
  code/modules/mob/living/carbon/human/death.dm
  colonialmarines.dme
Labels: Missing Changelog

#8307 Fixes Rock Paper Scissors emotes
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
Labels: Missing Changelog

#8305 Marine Spec Tracking
  code/datums/statistics/entities/initial_spec_picks.dm
  code/datums/statistics/entities/round_stats.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  colonialmarines.dme
Labels: Missing Changelog

#8309 Fixes aghosted hellhounds being offered up
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#8310 Fixes xenos being blocked by fire man carrying
  code/modules/mob/living/living.dm
Labels: Fix, Code Improvement

#8311 Fixes non humans being given psychic whisper.
  code/modules/reagents/chemistry_properties/prop_neutral.dm
Labels: Fix, Code Improvement

#8315 De-freakifies and removes one letter vars from regurgitate code
  code/modules/admin/autoreply.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_abilities.dm
  code/modules/mob/mob_grab.dm
Labels: Code Improvement, Grammar and Formatting

#8316 Fixes queen being unable to gib hosted marines
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix, Balance, Balance Approved

#8313 Fixes evolutio button being taken away if you reset your strain while at full evo
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Labels: Fix

#8297 Returns click delay to pred melee weapons
  code/__DEFINES/equipment.dm
  code/_globalvars/bitfields.dm
  code/_onclick/click.dm
  code/modules/cm_preds/yaut_weapons.dm
Labels: Balance

#8325 Fixes being able to use telekinesis to make paper appear in your hand
  code/modules/paperwork/paperbin.dm
Labels: Fix

#8328 Fixes mutated hive having no hugger icons
  icons/mob/xenonids/castes/tier_0/xenonid_crab.dmi
Labels: Fix, Sprites

#8331 Fixes praetorian acid ball using plasma if you cancelled the do_after, again
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
Labels: Fix

#8332 Fixes smartpack light not turning off on death and removes some one letter vars
  code/game/objects/items/storage/smartpack.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix, Code Improvement

#8321 Fixes dead huggers being useable
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
Labels: Fix

#8342 Fixes boiler speed being stuck if you buy a strain while zoomed in
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
Labels: Fix

#8312 Queen no longer stomps resting and dead xenos
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix

#8338 Suit Fix
  code/modules/clothing/under/under.dm
Labels: Fix

#8275 fix OT rocket explosions only going in one direction
  code/datums/ammo/rocket.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/explosives/mine.dm
  code/game/objects/items/explosives/plastic.dm
  code/game/objects/items/explosives/warhead.dm
  code/game/objects/shrapnel.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Fix

#8286 Replaces a Security Cabinet on LV624
  maps/map_files/LV624/LV624.dmm
Labels: Mapping, Mapping Approved

#8324 Fixes airlock assemblies being unslashable
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix

#8322 Fixes perma holocards being appliable to non-perma
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#8344 fixes ASO jacket vendor icon showing up as a bloodbag
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Fix

#8253 Commanding Officer Career paths [rp fluff]
  code/game/jobs/job/command/cic/captain.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/gear_presets/uscm_co.dm
  code/modules/gear_presets/uscm_ship.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
Labels: Feature

#8264 Ports "Adds a Chat Reliability Layer" 2: The Reliabaling
  code/__DEFINES/chat.dm
  code/controllers/subsystem/chat.dm
  code/datums/chat_payload.dm
  code/modules/tgchat/to_chat.dm
  code/modules/tgui/tgui_window.dm
  colonialmarines.dme
  tgui/packages/tgui-panel/chat/middleware.js
Labels: Feature, Code Improvement, UI

#8333 Fixes heal nodes infinietly adding the aura/heal to resting dead xenomorphs
  code/modules/cm_aliens/structures/special/recovery_node.dm
Labels: Fix

#8301 Makes dropship medevac equipment screen able to see stasis bags
  code/modules/cm_marines/dropship_equipment.dm
Labels: Fix

#8323 Fixes queens being able to leader dead xenos
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Fix, Code Improvement

#8224 multifaction crew monitor
  code/datums/crew_manifest.dm
  code/game/gamemodes/cm_process.dm
  code/modules/cm_marines/marines_consoles.dm
Labels: Feature, Fix

#8185 Fax Responder Languages Fix
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/fax_responders.dm
  code/modules/paperwork/prefab_papers/provost/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/provost/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/provost/high_command/dao_response.dm
  code/modules/paperwork/prefab_papers/provost/high_command/standard.dm
  code/modules/paperwork/prefab_papers/provost/military_police/appeal_form.dm
  code/modules/paperwork/prefab_papers/provost/military_police/dao_request.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/standard.dm
Labels: Feature, Fix

#8330 Fixes synthetic limbs being named wrong
  code/game/machinery/bioprinter.dm
  code/game/objects/items/reagent_containers/robot_parts.dm
Labels: Fix

#8237 fixes dragging sometimes being offset weirdly
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/drag.ts
Labels: Fix, UI

#8348 Fixes a few cases of round() being floor()
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/computer/hybrisa_slotmachine.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/modules/projectiles/gun.dm
Labels: Missing Changelog

#8353 Fixes accidental border dragging
  interface/skin.dmf
Labels: Quality of Life

#8352 Opening a stasis bag now displays a message
  code/game/objects/items/bodybag.dm
Labels: Quality of Life

#8354 Adds distant evo screeches
  code/__DEFINES/__game.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  sound/voice/alien_echoroar_1.ogg
  sound/voice/alien_echoroar_2.ogg
  sound/voice/alien_echoroar_3.ogg
Labels: Feature, Sound

#8186 CMB Fax Responders start as a Deputy now
  code/modules/gear_presets/fax_responders.dm
Labels: Feature

#8299 you can no longer devolve from drone as the last xeno alive or if theres no other canditates.
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
Labels: Feature

#8191 feat: migrate security records console to tgui
  code/datums/datacore.dm
  code/defines/procs/records.dm
  code/game/machinery/computer/security.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/SecurityRecords.jsx
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/interfaces/SecurityRecords.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, Fix, Quality of Life, Refactor, Code Improvement, UI

#8363 Revert "Only Show Discord Certify Verb When No Link"
  code/datums/entities/player.dm
  code/game/verbs/discord.dm
Labels: Missing Changelog

#8371 Mitigates bug with opened locked lockers
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
Labels: Fix

#8349 Makes the vendor inflation announcements silent
  code/defines/procs/announcement.dm
  code/modules/events/inflation.dm
Labels: Sound

#7905 Yautja falcon tracker and Mark through walls
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_hudprocs.dm
Labels: Feature

#8302 Fixes infinite attachements
  code/game/machinery/vending/cm_vending.dm
Labels: Fix

#8383 fixes small announcements bug
  code/defines/procs/announcement.dm
Labels: Fix

#8374 Adds a few items to SecTech and fixes ads/slogans.
  code/game/machinery/vending/vending_types.dm
Labels: Fix, Quality of Life

#7893 Corporate Dome Nightmare Insert Expansion
  code/__DEFINES/job.dm
  code/datums/factions/wy.dm
  code/datums/skills/civilian.dm
  code/datums/skills/wygoons.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/clothing/under/marine_uniform.dm
  code/modules/gear_presets/survivors/lv_624/corporate_dome_insert_lv624.dm
  code/modules/gear_presets/survivors/misc.dm
  code/modules/gear_presets/wy_goons.dm
  icons/mob/humans/onmob/clothing/head/hats_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/helmet_garb/huds.dmi
  icons/mob/humans/onmob/clothing/suits/suits_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/uniforms/uniforms_by_faction/WY.dmi
  icons/obj/items/clothing/hats/hats_by_faction/WY.dmi
  icons/obj/items/clothing/suits/suits_by_faction/WY.dmi
  icons/obj/items/clothing/uniforms/uniforms_by_faction/WY.dmi
  icons/ui_icons/map_blips.dmi
  maps/map_files/LV624/standalone/corporatedome.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#8385 Door floating pixel fix
  icons/obj/structures/doors/2x1medidoor_solid.dmi
Labels: Fix, Sprites, Sprites Approved

#7607 Warden Praetorian rework (tm)
  code/__DEFINES/traits.dm
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_macros.dm
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Praetorian.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/warden.dm
  colonialmarines.dme
Labels: Feature, Balance, Stale, Testmerge Candidate, Needs Testing

#8390 Adds a Forensic Refiller Tank
  code/game/objects/structures/reagent_dispensers.dm
  icons/obj/structures/wall_dispensers.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Quality of Life, Sprites, Mapping, Sprites Approved, Mapping Approved

#8393 Ignore out of rotation maps in CI
  .github/alternate_byond_versions.txt
  .github/maps_to_ignore.txt
  .github/workflows/ci_suite.yml
Labels: Github, Missing Changelog

#8391 Adds surv tracking metrics
  code/datums/_ndatabase/code/entity/entity.dm
  code/datums/_ndatabase/code/entity/entity_meta.dm
  code/datums/statistics/entities/survivor_survival.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
  colonialmarines.dme
Labels: Missing Changelog

#8139 M5 Camera Gear
  code/__DEFINES/dcs/signals/atom/signals_item.dm
  code/datums/components/overwatch_console_control.dm
  code/game/camera_manager/camera_manager.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/groundside_operations.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/equipment/gear.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/mob/living/carbon/xenomorph/Facehuggers.dm
  colonialmarines.dme
  icons/mob/humans/onmob/clothing/ears.dmi
  icons/obj/items/clothing/glasses/misc.dmi
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Feature, Sprites, UI, Sprites Approved

#7880 Thrall Overhaul
  code/__DEFINES/typecheck/humanoids.dm
  code/modules/cm_aliens/structures/trap.dm
  code/modules/cm_preds/thrall_items.dm
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/projectiles/gun.dm
Labels: Feature, Balance

#8359 removes chatsaving chug on 516
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/tgui.dm
  tgui/global.d.ts
  tgui/packages/common/storage.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/public/iframe.html
  tgui/public/tgui.html
Labels: Fix, UI

#8377 WY Deputy Director
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/factions/wy.dm
  code/datums/paygrades/factions/wy/wy.dm
  code/game/jobs/job/special/weyland_yutani.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/misc.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/uscm_co.dm
  code/modules/gear_presets/wy.dm
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites, Sprites Approved

#8015 Mortar Changes
  code/datums/ASRS.dm
  code/datums/ammo/ammo.dm
  code/datums/ammo/shrapnel.dm
  code/datums/supply_packs/mortar.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/objects/items/pamphlets.dm
  code/modules/character_traits/skills.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_marines/equipment/mortar/mortar_shells.dm
  code/modules/cm_marines/equipment/mortar/mortars.dm
  code/modules/projectiles/projectile.dm
  icons/mob/hud/marine_hud.dmi
  icons/obj/items/pamphlets.dmi
  icons/obj/items/storage/kits.dmi
  icons/ui_icons/map_blips.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Sprites, Testmerge Candidate, Mapping, Sprites Approved, Mapping Approved

#8361 adds a reloader to prevent chat from bugging out
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
Labels: Fix, UI

#8401 Fixes valkyrie healing/rejuing enemy hives
  code/modules/mob/living/carbon/xenomorph/abilities/praetorian/praetorian_powers.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
Labels: Fix, Grammar and Formatting

#8400 Fixes lessers being able to weed using enemy hive nodes
  code/modules/mob/living/carbon/xenomorph/abilities/lesser_drone/lesser_drone_powers.dm
Labels: Fix

#7903 Allows full size tool webbing to hold metal rods
  code/modules/clothing/under/ties.dm
Labels: Fix, Balance, Stale, Balance Approved

#8417 Minor Security Records computer fix.
  code/game/machinery/computer/security.dm
Labels: Fix, Quality of Life

#8412 Nuclear bomb will now kill anyone inside a vehicle on the same z-level
  code/game/machinery/nuclearbomb.dm
Labels: Feature

#8421 Fixes accessory duplication on quick equip
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#8413 Weapon Stats now list "single fire" as "fire rate"
  tgui/packages/tgui/interfaces/WeaponStats.jsx
Labels: Quality of Life, UI

#8415 Stricter DMM Test [MDB IGNORE]
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm_test.py
  tools/mapmerge2/merge_driver.py
Labels: Mapping, Github, Missing Changelog

#8409 Removes unused hud indicator from xeno hud
  code/_onclick/hud/alien.dm
Labels: Removal

#8425 Removes pixel shifting
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/human.dm
Labels: Removal

#8384 fix: security records set default sorting, prevent sort reset, sort indicator swap
  tgui/packages/tgui/interfaces/SecurityRecords.jsx
Labels: Fix, Quality of Life, UI

#8366 Fixes Hunted Solar Devils Appearing on OW Consoles
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/datums/emergency_calls/solar_devils.dm
  code/modules/gear_presets/royal_marines.dm
  code/modules/gear_presets/uscm.dm
Labels: Fix

#8428 Moves all warrior_powers into warrior.dm
  code/modules/mob/living/carbon/xenomorph/abilities/warrior/warrior_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  colonialmarines.dme
Labels: Code Improvement

#8431 Moves all boiler_power into their own strain codefiles
  code/modules/mob/living/carbon/xenomorph/abilities/boiler/boiler_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/boiler/trapper.dm
  colonialmarines.dme
Labels: Code Improvement

#8432 moves all spitter_powers into its own file
  code/modules/mob/living/carbon/xenomorph/abilities/spitter/spitter_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Spitter.dm
  colonialmarines.dme
Labels: Code Improvement

#8433 moves all defender_power into its own file
  code/modules/mob/living/carbon/xenomorph/abilities/defender/defender_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Defender.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/defender/steel_crest.dm
  colonialmarines.dme
Labels: Code Improvement

#8434 moves all sentinel_powers to its own file
  code/modules/mob/living/carbon/xenomorph/abilities/sentinel/sentinel_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Sentinel.dm
  colonialmarines.dme
Labels: Code Improvement

#8435 Moves all burrower code into its own file, removes one letter vars
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  colonialmarines.dme
Labels: Code Improvement

#8436 moves all hivelord powers to its own file
  code/modules/mob/living/carbon/xenomorph/abilities/hivelord/hivelord_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  colonialmarines.dme
Labels: Code Improvement, Grammar and Formatting

#8437 Moves all king_powers to its own file
  code/modules/mob/living/carbon/xenomorph/abilities/king/king_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
  colonialmarines.dme
Labels: Code Improvement

#8438 moves all lurker_powers and carrier_powers into its own file
  code/modules/mob/living/carbon/xenomorph/abilities/carrier/carrier_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/lurker/lurker_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
  code/modules/mob/living/carbon/xenomorph/castes/Lurker.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/carrier/eggsac.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
  colonialmarines.dme
Labels: Code Improvement

#8439 Moves all ravager_powers into its own filee
  code/modules/mob/living/carbon/xenomorph/abilities/ravager/ravager_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/hedgehog.dm
  colonialmarines.dme
Labels: Code Improvement

#8427 Fixes forecon marksman being hit by bullets while invisible
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#8376 Matches defib noise (close) to user's speed.
  code/game/objects/items/devices/defibrillator.dm
  sound/items/defib_charge_skill3.ogg
  sound/items/defib_charge_skill4.ogg
Labels: Sound

#8441 Fixes new players being teleported into ground z level
  code/game/turfs/space.dm
Labels: Fix

#7925 Project Youngblood (Testing Needed)
  code/__DEFINES/clans.dm
  code/__DEFINES/mode.dm
  code/_globalvars/lists/mapping_globals.dm
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/game/area/hunting_preserve.dm
  code/game/jobs/job/antag/other/pred.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/effects/step_triggers.dm
  code/modules/admin/banjob.dm
  code/modules/clans/client.dm
  code/modules/client/pred_picker.dm
  code/modules/client/preferences.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/gear_presets/yautja.dm
  code/modules/power/lighting.dm
  maps/predship/huntership.dmm
  maps/templates/lazy_templates/pred/jungle_moon.dmm
Labels: Feature, Code Improvement, Testmerge Candidate, Mapping, Admin, Mapping Approved

#8408 Crusher code adjust, remove one letter vars
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
Labels: Code Improvement

#8406 Fix surv tracking
  code/__DEFINES/job.dm
  code/datums/statistics/entities/survivor_survival.dm
  code/game/jobs/job/civilians/other/survivors.dm
  code/modules/mob/living/carbon/xenomorph/death.dm
Labels: Missing Changelog

#7881 fishing fixes and additions
  code/game/objects/items/ore.dm
  code/game/objects/items/reagent_containers/food/fish_snacks.dm
  code/game/objects/items/reagent_containers/food/snacks/meat.dm
  code/game/turfs/open.dm
  code/game/turfs/turf.dm
  code/modules/fishing/bait/generic.dm
  code/modules/fishing/datums/generic.dm
  code/modules/fishing/poles/generic.dm
  code/modules/fishing/props/fishing_pole.dm
  icons/obj/items/fishing_atoms.dmi
  icons/obj/items/food/fish.dmi
  sound/misc/bobber_water_splash.ogg
  sound/misc/fishing_Line.ogg
  sound/misc/fishing_fail_splash.ogg
  sound/misc/fishing_set_hook.ogg
Labels: Feature, Fix, Sound, Sprites, Code Improvement, Good First PR, Sprites Approved

#8277 Adds a shotgun choke for the M37A2
  code/datums/ammo/ammo.dm
  code/datums/elements/bullet_trait/knockback_disabled.dm
  code/datums/supply_packs/attachments.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/projectile.dm
  colonialmarines.dme
  icons/obj/items/weapons/guns/attachments/barrel.dmi
  sound/weapons/gun_shotgun_choke.ogg
  tgui/packages/tgui/interfaces/WeaponStats.jsx
Labels: Feature, Sound, Sprites, Stale, UI, Testmerge Candidate

#8447 Updates turf descriptions with medevac in mind.
  code/game/turfs/turf.dm
Labels: Quality of Life

#8389 Ammo box explosion caps at 3k bullets
  code/modules/projectiles/ammo_boxes/ammo_boxes.dm
Labels: Balance, Balance Approved

#8453 Fixes black holocards
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#8450 restores carrier abilities
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Fix

#7922 Shivas Panic Room Insert Changes
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/modules/gear_presets/survivors/shivas_snowball/panic_room_insert_shivas.dm
  maps/map_files/Ice_Colony_v3/standalone/panic_room_hold.dmm
Labels: Stale, Mapping, Mapping Approved

#8455 Removes one letter vars and updates some ticks to seconds
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/oppressor.dm
Labels: Code Improvement

#8357 ERT: Vai spawn chance nerf, pizza spawn prob doubled
  code/datums/emergency_calls/contractor.dm
  code/datums/emergency_calls/pizza.dm
Labels: Balance

#8457 Prevents all-clear marine major before 10 minutes of gametime.
  code/game/gamemodes/colonialmarines/colonialmarines.dm
Labels: Fix

#8416 Fixes the `rounds` DB table
  code/datums/statistics/entities/round_stats.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/gamemodes/colonialmarines/huntergames.dm
  code/game/gamemodes/colonialmarines/whiskey_outpost.dm
  code/game/gamemodes/colonialmarines/xenovsxeno.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/extended/infection.dm
Labels: Missing Changelog

#7989 Adds French
  code/__DEFINES/language.dm
  code/modules/character_traits/languages.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/language/languages.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, UI

#8368 Boiler strain retaining neuro-tail bugfix + some sanity for spit types
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/boiler/trapper.dm
Labels: Fix, Refactor

#8006 Community Award Icons
  code/game/verbs/ooc.dm
  code/modules/client/client_procs.dm
Labels: Feature, Stale

#8424 Lifeboat launch now checks for held ID
  code/modules/shuttle/computer.dm
Labels: Quality of Life

#8358 Solar Devils SG Frontline Mode, RFN metal nerf
  code/modules/gear_presets/uscm.dm
  code/modules/projectiles/guns/smartgun.dm
Labels: Balance

#8420 Adds (likely) missed burst fire-delay for IFF M46C
  code/modules/projectiles/guns/rifles.dm
Labels: Balance

#7938 Allows ghosts to read faxes.
  code/game/machinery/fax_machine.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#8327 Painkilling/Electrogenetic Value and EGN triggers on defibrillating
  code/__DEFINES/pain.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_reagents/medical.dm
  code/modules/reagents/chemistry_reagents/other.dm
  code/modules/reagents/chemistry_reagents/toxin.dm
Labels: Feature, Balance

#7661 USCM HvH spec rework
  code/game/gamemodes/extended/cm_vs_upp.dm
  code/game/gamemodes/round_modifiers.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/cm_marines/specialist.dm
Labels: Balance

#8148 minor research fixes for real this time
  code/__DEFINES/chemistry.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
  code/modules/reagents/Chemistry-Generator.dm
  code/modules/reagents/chemistry_machinery/autodispenser.dm
  code/modules/reagents/chemistry_machinery/chem_master.dm
  code/modules/reagents/chemistry_machinery/chem_simulator.dm
  code/modules/reagents/chemistry_properties/chem_property.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
  code/modules/reagents/chemistry_properties/prop_special.dm
  code/modules/reagents/chemistry_reagents/other.dm
Labels: Fix, Balance

#8472 UI: Job entry text restyle and new boxed css styles
  code/__DEFINES/chat.dm
  code/game/atoms.dm
  code/game/jobs/job/job.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: UI

#8469 Fixes fire not stopping vamp healing
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
Labels: Balance, Balance Approved

#8481 Fixes OOC Icons
  icons/ooc.dmi
Labels: Sprites, Missing Changelog

#8477 Fixes WO CO not being able to use the SG pamphlet
  code/game/objects/items/pamphlets.dm
Labels: Fix

#8479 stop economy inflation announcements during red/delta alert
  code/modules/events/inflation.dm
Labels: Quality of Life

#8478 Removed duplicate nightmare insert on big red
  maps/map_files/BigRed/BigRed.dmm
Labels: Mapping

#8463 Makes aoe abilities ignore nested people, removes some one letter vars
  code/modules/mob/living/carbon/xenomorph/castes/Crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/Ravager.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/lurker/vampire.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/vanguard.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
Labels: Quality of Life, Code Improvement

#8467 Fixes unpowered doors with proximity doors crushing xenos / people
  code/game/machinery/doors/airlock.dm
Labels: Fix

#8471 lore book framework
  code/game/objects/items/books/book.dm
  code/modules/asset_cache/asset_list_items.dm
  html/book_assets/test.png
  tgui/global.d.ts
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/interfaces/Book.tsx
  tgui/packages/tgui/styles/interfaces/Book.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Missing Changelog

#8483 fixes being able to put marks down at hyperspace
  code/modules/mob/living/carbon/xenomorph/Powers.dm
Labels: Fix

#8445 hybrisa light stumps
  code/game/machinery/hybrisa_lights.dm
  code/game/objects/structures/hybrisa_props.dm
  icons/obj/structures/props/streetlights.dmi
Labels: Feature, Balance, Sprites, Balance Approved

#8489 Fixes rags having lids
  code/game/objects/items/reagent_containers/glass.dm
  code/modules/cm_preds/yaut_items.dm
Labels: Fix

#8499 Fixes a few bugs with fire ob admin proc
  code/modules/admin/tabs/event_tab.dm
Labels: Code Improvement

#8490 Banishment now does damage per tick
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Feature

#8497 Fixes some inconsistency with caste desc examines
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Fix, Grammar and Formatting

#7857 Field Doctor
  code/__DEFINES/job.dm
  code/__DEFINES/mode.dm
  code/__HELPERS/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/civilians/support/field_doctor.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_medical.dm
  code/modules/mob/new_player/preferences_setup.dm
  colonialmarines.dme
  icons/landmarks.dmi
  icons/mob/hud/marine_hud.dmi
  icons/ui_icons/map_blips.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Testmerge Candidate, Mapping, Sprites Approved, Mapping Approved, Needs Testing

#8500 Floors underbarrel extinguishers
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#8488 Attemps to fix queens being able to spread strong weeds while it should just be defaulting to normal
  code/modules/cm_aliens/weeds.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
Labels: Fix, Code Improvement

#8498 Fixes being able to buckle yourself to rollerbeds/evacbeds while in a stasis bed
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix

#8491 Valkyrie Damage Mitigation Statistic
  code/modules/mob/living/carbon/xenomorph/damage_procs.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/praetorian/valkyrie.dm
  code/modules/projectiles/projectile.dm
Labels: Feature

#8369 de-laggies the unban panel
  code/modules/admin/NewBan.dm
  code/modules/admin/topic/topic.dm
  tgui/packages/tgui/interfaces/UnbanPanel.tsx
Labels: UI

#8510 Prevents C4 being placed on explosion proof atoms.
  code/game/objects/items/explosives/plastic.dm
Labels: Fix

#8516 Fixes carriers being able to put eggs into a morpher from infinite distances
  code/modules/mob/living/carbon/xenomorph/castes/Carrier.dm
Labels: Fix

#7850 Acid Runner: Acid gen cap
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
  code/modules/mob/living/carbon/xenomorph/strains/xeno_strain.dm
  icons/mob/hud/hud.dmi
  icons/mob/xenos/castes/tier_1/runner_strain_overlays.dmi
  tgui/packages/tgui/interfaces/AlertModal.tsx
Labels: Feature, Balance, Sprites, Code Improvement, Grammar and Formatting, Stale Exempt, UI, Testmerge Candidate, Balance Approved, Sprites Approved

#8136 UPP Vendor Update | Squad Gun Rack + UPP Shotgun Shell Box
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
  code/modules/projectiles/ammo_boxes/handful_boxes.dm
  code/modules/projectiles/magazines/shotguns.dm
  icons/obj/items/weapons/guns/ammo_by_faction/UPP/shotguns.dmi
Labels: Feature, Sprites, Stale, Sprites Approved

#8533 Missing and in acider strain message
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
Labels: Grammar and Formatting

#8523 Survivor DB Tracking Improvements
  code/datums/statistics/entities/survivor_survival.dm
Labels: Missing Changelog

#8526 Total var/lol death
  code/modules/mob/living/carbon/xenomorph/abilities/crusher/crusher_abilities.dm
  code/modules/organs/limbs.dm
Labels: Code Improvement

#8522 Thrall fixes
  code/modules/cm_preds/thrall_procs.dm
  code/modules/cm_preds/yaut_hudprocs.dm
Labels: Fix, Code Improvement

#8511 Fixes unslashable immortal oreboxes
  code/game/objects/structures/misc.dm
Labels: Fix

#8530 Fixes being unable to fire OB and launch supply drops when height is 0
  code/modules/cm_marines/overwatch.dm
Labels: Fix

#8544 Fixes a crash with overwatch console
  tgui/packages/tgui/interfaces/OverwatchConsole.jsx
Labels: Fix, UI

#8501 Adds MC_TICK_CHECK to SSInactivity
  code/controllers/subsystem/inactivity.dm
Labels: Missing Changelog

#8502 More follow tabs.
  code/modules/gear_presets/whiteout.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/index.tsx
Labels: Feature, Fix, UI

#8273 Smartscope now uses alt IFF.
  code/__DEFINES/dcs/signals/atom/signals_gun.dm
  code/datums/components/autofire/autofire.dm
  code/datums/components/iff_fire_prevention.dm
  code/datums/emergency_calls/supplies.dm
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/objects/effects/spawners/random.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/revolvers.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Balance

#8537 Fix youngblood job ban check, objectives, and end game note
  code/datums/emergency_calls/pred_hunt/hunting_calls.dm
  code/modules/admin/banjob.dm
Labels: Fix, Code Improvement

#8540 Tier 1 Queen Evolution and Evolution Fixes
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, Fix, Code Improvement

#8532 Fixes window smash message being sent to you no matter how far away you are
  code/game/objects/structures/window.dm
Labels: Fix

#8512 Fixes immortal girders
  code/game/objects/structures/girders.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
Labels: Fix, Balance, Balance Approved

#8562 Xeno overwatch QOL
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/xenomorph/XenoOverwatch.dm
Labels: Quality of Life

#8558 Lets COs (or XOs if they're brave) fire their protag sidearms into the air
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
Labels: Feature

#8557 Kutjevo Synth Survivors
  code/modules/clothing/suits/marine_armor/ert.dm
  code/modules/gear_presets/survivors/kutjevo/preset_kutjevo.dm
  maps/kutjevo.json
Labels: Feature

#8365 Hellhound rework and re-sprite
  code/modules/cm_aliens/weeds.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/mob/living/carbon/xenomorph/abilities/hellhound/hellhound_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Hellhound.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
  colonialmarines.dme
  icons/mob/humans/onmob/hunter/hellhound.dmi
  icons/mob/humans/onmob/hunter/hellhound_wounds.dmi
  icons/mob/xenos/wounds.dmi
Labels: Feature, Fix, Balance, Sprites, Grammar and Formatting, Stale Exempt, Sprites Approved
