Repository cmss13-devs/cmss13, pull requests merged in 2025-10, with the labels that each got.

#10752 Fixes spec manifest updating
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
Labels: Fix, size/XS

#10743 Pred traps now check for TRAIT_YAUTJA_TECH
  code/modules/cm_preds/yaut_items.dm
Labels: Balance, Balance Approved, size/XS

#10769 Adds Purple Option for OW Console UI #SAVECHARLIE
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/styles/themes/crt/crt-purple.scss
Labels: Quality of Life, UI, size/S

#10814 M1911C Tweaks 2
  code/datums/ammo/bullet/pistol.dm
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/projectiles/guns/pistols.dm
Labels: Feature, Fix, Balance, Balance Approved, size/XS
