Repository cmss13-devs/cmss13, pull requests merged in 2025-04, with the labels that each got.

#8910 colony boozeomats no longer spawn full
  code/game/machinery/vending/vendor_types/food.dm
Labels: Balance, Balance Approved

#8866 Fixes CO pistols being melted or exploded
  code/modules/projectiles/guns/pistols.dm
  code/modules/projectiles/guns/revolvers.dm
Labels: Fix, Balance, Balance Approved

#8919 More Mouse4/5 Blocks and Macroify All Click Modifiers
  code/__DEFINES/_click.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/click.dm
  code/_onclick/click_hold.dm
  code/_onclick/double_click.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/_onclick/other_mobs.dm
  code/_onclick/ventcrawl.dm
  code/_onclick/xeno.dm
  code/datums/agents/tools/tracker.dm
  code/datums/keybinding/client.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/motion_detector.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/explosives/explosive.dm
  code/game/objects/items/reagent_containers/hypospray.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/internal.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/barricade/barricade.dm
  code/game/objects/structures/hunter_props.dm
  code/game/objects/structures/reagent_dispensers.dm
  code/game/objects/structures/surface.dm
  code/game/objects/structures/vulture_spotter.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/ties.dm
  code/modules/cm_aliens/structures/egg.dm
  code/modules/cm_aliens/structures/tunnel.dm
  code/modules/cm_marines/altitude_control_console.dm
  code/modules/cm_marines/m2c.dm
  code/modules/cm_marines/overwatch.dm
  code/modules/cm_marines/smartgun_mount.dm
  code/modules/cm_tech/implements/armor.dm
  code/modules/droppod/droppod_ui.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/drone/gardener.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/hivelord/resin_whisperer.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_helpers.dm
  code/modules/projectiles/guns/misc.dm
  code/modules/projectiles/guns/smartgun.dm
  code/modules/reagents/chemistry_machinery/chem_dispenser.dm
  code/modules/vehicles/arc/arc.dm
  code/modules/vehicles/interior/interactable/seats.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  code/modules/vehicles/multitile/multitile_interaction.dm
  code/modules/vehicles/van/box_van.dm
  code/modules/vehicles/van/clf_van.dm
  code/modules/vehicles/van/van.dm
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/interfaces/VendingSorted.tsx
Labels: Fix, Code Improvement, UI

#8517 fixes gutting message and infinite gutting glitch
  code/game/objects/items/reagent_containers/food/fish_snacks.dm
Labels: Fix

#8763 [Code bounty] Yautja Hunting Bow 2
  code/datums/ammo/misc.dm
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
  code/modules/cm_preds/yaut_weapons.dm
  code/modules/mob/mob.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/hunter/pred_gear.dmi
  icons/obj/items/clothing/belts/holstered_guns.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/weapons/projectiles.dmi
  sound/weapons/bow_shot.ogg
Labels: Feature, Balance, Sound, Sprites, Sprites Approved

#8706 Adds a new fluff lore book to the pilot bunks
  code/game/objects/items/books/book.dm
  icons/obj/items/books.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved, Mapping Approved

#8940 fix: fix concurrent map reading of same map files
  code/modules/mapping/reader.dm
Labels: Fix

#8654 Multiz stairs improvements
  code/game/objects/structures/misc.dm
Labels: Balance, Quality of Life

#8889 Fixes more document cabinet telekinesis
  code/modules/paperwork/prefab_papers.dm
Labels: Fix

#8847 fix spec icons not showing up correctly on orbit panel and squad panel
  code/game/jobs/job/marine/squad_info.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix, Stale

#8872 CE changes (Access, Vendor, Headset Tracking)
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/gear_presets/uscm_ship.dm
Labels: Feature, Fix, Quality of Life

#8951 Fixes chair buckling xenos
  code/game/objects/objs.dm
Labels: Fix

#8956 Adds Smooth marine armor to Surplus Uniform Vendor + Grammar Tweak
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Feature, Grammar and Formatting

#8948 Prefab Paper default fonts
  code/modules/paperwork/prefab_papers.dm
  code/modules/paperwork/prefab_papers/provost/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/provost/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/provost/high_command/dao_response.dm
  code/modules/paperwork/prefab_papers/provost/high_command/standard.dm
  code/modules/paperwork/prefab_papers/provost/military_police/apology_notice.dm
  code/modules/paperwork/prefab_papers/provost/military_police/appeal_form.dm
  code/modules/paperwork/prefab_papers/provost/military_police/confiscation_receipt.dm
  code/modules/paperwork/prefab_papers/provost/military_police/dao_request.dm
  code/modules/paperwork/prefab_papers/provost/military_police/ops_report.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/arrest_warrant.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/custody_transfer.dm
  code/modules/paperwork/prefab_papers/uscm/high_command/standard.dm
  code/modules/paperwork/prefab_papers/uscm/ops_report.dm
  code/modules/paperwork/prefab_papers/wey_yu/high_command/standard.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/liability.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_long.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/nda_short.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/ops_report.dm
  code/modules/paperwork/prefab_papers/wey_yu/liaison/preserve_intent.dm
Labels: Feature

#8952 Fixes hellhound callers being useable by everyone
  code/modules/cm_preds/yaut_items.dm
Labels: Fix

#8931 fixes nuke spawning
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
Labels: Fix

#8897 Ports new PVE Armat and WY containers
  code/game/objects/structures/cargo_container.dm
  icons/obj/structures/props/containers/contain.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Mapping, Sprites Approved

#8927 Clown facepaint (event item)
  code/game/objects/items/cosmetics.dm
  icons/mob/humans/onmob/human_face.dmi
  icons/obj/items/paint.dmi
Labels: Feature, Sprites, Sprites Approved

#8922 Xeno suit resprite, adding new ones
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/xeno_hats.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/xeno_suits.dm
  code/modules/gear_presets/synths.dm
  colonialmarines.dme
  icons/mob/humans/onmob/clothing/head/xeno_hats.dmi
  icons/mob/humans/onmob/clothing/suits/misc_ert.dmi
  icons/mob/humans/onmob/clothing/suits/xeno_suits.dmi
  icons/obj/items/clothing/hats/hats.dmi
  icons/obj/items/clothing/hats/xeno_hats.dmi
  icons/obj/items/clothing/suits/misc_ert.dmi
  icons/obj/items/clothing/suits/xeno_suits.dmi
Labels: Feature, Sprites, Sprites Approved

#8926 buying a normal webbing no longer locks synths out of experimental webbings
  code/game/machinery/vending/vendor_types/crew/synthetic.dm
Labels: Fix

#8909 Autodoctor TGUI + minor changes
  code/datums/datacore.dm
  code/defines/procs/records.dm
  code/game/machinery/medical_pod/autodoc.dm
  tgui/packages/tgui/interfaces/Autodoc.tsx
Labels: Code Improvement, UI

#8918 Gives nurse role fireman carry skill
  code/datums/skills/uscm.dm
Labels: Feature

#8848 JAS Law Updates
  code/controllers/subsystem/init/law.dm
  code/game/machinery/computer/sentencing.dm
  code/modules/law/law.dm
  code/modules/law/laws/capital_crime.dm
  code/modules/law/laws/civil_crime.dm
  code/modules/law/laws/major_crime.dm
  code/modules/law/laws/minor_crime.dm
  code/modules/law/laws/optional.dm
  code/modules/law/laws/precautionary_charge.dm
  colonialmarines.dme
  tgui/packages/tgui/interfaces/Sentencing.tsx
Labels: Feature, UI

#8908 removes pump sentry guns
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Balance, Mapping, Removal

#8906 [CONFIG] Block nuclear device invocation until marines still alive.
  code/controllers/configuration/entries/game_options.dm
  code/game/machinery/ARES/ARES_interface.dm
  code/modules/cm_tech/techs/marine/tier4/nuke.dm
  config/example/game_options.txt
Labels: Config

#8936 radio voices fix
  code/game/machinery/telecomms/broadcaster.dm
Labels: Fix

#8978 Fixes king ability not being selected
  code/modules/mob/living/carbon/xenomorph/abilities/king/king_abilities.dm
Labels: Fix

#8900 Adds logging for joining as facehugger or lesser
  code/game/gamemodes/cm_initialize.dm
Labels: Stale, Admin

#8965 Fixes a small error in bone-mending description
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Grammar and Formatting

#8840 Allows Drones to evolve into any T2 before first drop
  code/modules/mob/living/carbon/xenomorph/Evolution.dm
  code/modules/mob/living/carbon/xenomorph/castes/Drone.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
Labels: Balance

#8983 Corrects painkilling OD effects
  code/__DEFINES/chemistry.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix

#8988 UI: Changes how scrollbar color is made.
  tgui/packages/tgui/styles/layouts/Layout.scss
  tgui/packages/tgui/styles/themes/crt/crt-red.scss
Labels: UI

#9006 Flashlights, lamps, candles no longer rotate on throw
  code/game/objects/items/devices/flashlight.dm
Labels: Quality of Life

#8997 Fixes nailgun having no inhands, makes nailgun belt slot carriable
  code/modules/projectiles/guns/smgs.dm
Labels: Feature, Fix

#8996 Makes all mateba ammo subtypes be capable of BE
  code/datums/ammo/bullet/revolver.dm
Labels: Feature

#8718 Project Sugarwater P1: HM Challenge Tutorial
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/dcs/signals/atom/mob/living/signals_living.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/datums/mob_hud.dm
  code/datums/tutorial/_tutorial.dm
  code/datums/tutorial/marine/hospital_corpsman_sandbox.dm
  code/game/area/admin_level.dm
  code/game/machinery/vending/vendor_types/squad_prep/tutorial.dm
  code/game/objects/items/devices/defibrillator.dm
  code/game/objects/items/reagent_containers/pill.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/living/carbon/human/human_dummy.dm
  code/modules/mob/living/living_healthscan.dm
  code/modules/organs/limbs.dm
  code/modules/surgery/surgery_steps.dm
  colonialmarines.dme
  icons/misc/tutorial.dmi
  maps/tutorial/tutorial_15x10_hm.dmm
Labels: Feature, Fix, Refactor, Sprites, Mapping, Sprites Approved

#9010 Update TGUI Readme and Docs
  code/modules/admin/verbs/debug.dm
  tgui/README.md
  tgui/docs/chat-embedded-components.md
  tgui/docs/component-reference.md
  tgui/docs/converting-old-tgui-interfaces.md
  tgui/docs/tutorial-and-examples.md
Labels: Missing Changelog

#9017 Crew Manifest bugfixes
  code/datums/crew_manifest.dm
  code/datums/datacore.dm
Labels: Fix, UI

#9011 Fix zip cuffs size
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#8891 This PR fixes broken buttons on LV522 and provides more equipment to the area between dorms and sec
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
Labels: Mapping, Mapping Approved

#8879 Small non-underground area in the LV lake house
  code/game/area/LV624.dm
  maps/map_files/LV624/LV624.dmm
Labels: Feature, Stale Exempt, Mapping, Mapping Approved

#8947 Fixes Intercom and APC in the Memorial Garden Area
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Fix, Mapping, Mapping Approved

#8007 Frozen's Rat Competition Reward
  code/__DEFINES/mobs.dm
  code/modules/client/preferences_gear.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  icons/mob/humans/onmob/clothing/critters_shoulder.dmi
Labels: Feature, Sprites, Stale Exempt, Sprites Approved

#8957 Removes explosive implant case from new varadero
  maps/map_files/New_Varadero/New_Varadero.dmm
  maps/map_files/New_Varadero/standalone/clfraid.dmm
Labels: Mapping, Removal, Mapping Approved

#9007 Fixes Yautja Bow Not Taking a Secondary Slot in Vendor
  code/game/machinery/vending/vendor_types/antag/antag_predator.dm
Labels: Fix

#8270 The Mutiny System
  code/__DEFINES/job.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/datums/mob_hud.dm
  code/modules/admin/player_panel/actions/antag.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/topic/topic.dm
  code/modules/gear_presets/mutiny.dm
  code/modules/gear_presets/other.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human_abilities.dm
  code/modules/projectiles/guns/flamer/flamer.dm
  code/modules/projectiles/projectile.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Feature, Sprites, UI, Testmerge Candidate

#9009 AMR Charge Nerf
  code/datums/ammo/bullet/sniper.dm
  code/modules/projectiles/guns/specialist/sniper.dm
Labels: Balance, Balance Approved

#8779 Replaces the pred AI announcement with an Elder Overseer
  code/__DEFINES/mode.dm
  code/datums/entities/player.dm
  code/datums/weather/weather_map_holder.dm
  code/defines/procs/announcement.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/jobs/whitelist.dm
  code/game/machinery/nuclearbomb.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/cm_aliens/XenoStructures.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_procs.dm
  code/modules/gear_presets/yautja.dm
  code/modules/maptext_alerts/screen_alerts.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/xenomorph/castes/Predalien.dm
  sound/voice/pred_elder_overseer_1.ogg
  sound/voice/pred_elder_overseer_2.ogg
  sound/voice/pred_elder_overseer_3.ogg
  sound/voice/pred_elder_overseer_4.ogg
Labels: Feature, Fix, Sound, Code Improvement, Removal

#8859 Revives Leadership order phrases, 2025 edition
  code/__DEFINES/client_prefs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/living/carbon/human/powers/issue_order.dm
Labels: Feature, Do Not Тestmerge

#9037 Fixes lesser/facehugger logging, adds sensor tower logging
  code/game/gamemodes/cm_initialize.dm
  code/modules/cm_aliens/structures/special/pylon_core.dm
  code/modules/desert_dam/motion_sensor/sensortower.dm
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Admin

#9016 Moves pred duelling weapons into yautja files + gives them click delay
  code/game/objects/items/weapons/blades.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/cm_preds/yaut_items.dm
  code/modules/cm_preds/yaut_weapons.dm
  icons/mob/humans/onmob/hunter/items_lefthand.dmi
  icons/mob/humans/onmob/hunter/items_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/axes_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/axes_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/knives_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/non_lethal_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/non_lethal_righthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/melee/swords_righthand.dmi
  icons/obj/items/hunter/pred_gear.dmi
  icons/obj/items/weapons/melee/axes.dmi
  icons/obj/items/weapons/melee/knives.dmi
  icons/obj/items/weapons/melee/non_lethal.dmi
  icons/obj/items/weapons/melee/swords.dmi
  maps/map_files/DesertDam/sprinkles/10.damtemple_intact.dmm
  maps/map_files/FOP_v3_Sciannex/Fiorina_SciAnnex.dmm
  maps/map_files/FOP_v3_Sciannex/sprinkles/15.wardenofficedecorated.dmm
  maps/map_files/Ice_Colony_v3/Shivas_Snowball.dmm
  maps/map_files/LV624/LV624.dmm
  maps/map_files/LV624/standalone/sandtemple-jungle.dmm
  maps/predship/huntership.dmm
Labels: Balance, Refactor, Sprites, Code Improvement, Mapping, Sprites Approved, Mapping Approved

#9019 Fixes the PP character name change
  code/modules/admin/player_panel/actions/general.dm
Labels: Fix

#8986 Fixed objects on Solaris whose sprites were broken #8985
  maps/map_files/BigRed/BigRed.dmm
Labels: Fix, Mapping, Mapping Approved

#9033 DMI merge driver now anchors icons for new additions
  tools/dmi/merge_driver.py
Labels: Code Improvement

#9068 prevents harmful spray on ceasefire
  code/game/objects/items/reagent_containers/spray.dm
Labels: Fix

#9055 Huggers now convert on ghostize/dc rather than idle for afk
  code/__DEFINES/xeno.dm
  code/modules/mob/living/carbon/xenomorph/castes/Facehugger.dm
Labels: Balance, Balance Approved

#9039 Hunting Ground Evac Shutters are now properly indestructable.
  code/game/machinery/doors/poddoor/shutters/shutters.dm
Labels: Mapping

#9073 Adds Repair Oil/Kits to UPP Vendors
  code/game/machinery/vending/vendor_types/prep_upp/requisitions_upp.dm
  code/game/machinery/vending/vendor_types/prep_upp/squad_prep_upp.dm
Labels: Feature

#9059 Order Phrases Tweaks
  code/modules/mob/living/carbon/human/powers/issue_order.dm
Labels: Grammar and Formatting, Removal

#8977 Fixes skill check discharges and flamer discharges
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: Fix

#9061 Add pens to Fax Responder Loadout.
  code/modules/gear_presets/fax_responders.dm
Labels: Feature

#9081 [s] Fixes some security issues
  code/datums/datumvars.dm
  code/modules/admin/holder2.dm
Labels: Missing Changelog

#8811 Nerfs warrior lungecapping
  code/modules/mob/living/carbon/xenomorph/castes/Warrior.dm
Labels: Balance, Code Improvement, Stale

#9036 Small-ish Burrower Rebalance
  code/modules/mob/living/carbon/xenomorph/abilities/burrower/burrower_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/castes/caste_datum.dm
Labels: Balance, Balance Approved, Removal

#9078 Autowiki Tweaks. Skips/Armour damage table 0s/Xeno strain comparison
  code/game/objects/items/explosives/grenades/marines.dm
  code/modules/autowiki/pages/guns.dm
  code/modules/autowiki/pages/xeno_stats.dm
  code/modules/projectiles/gun_attachables.dm
Labels: Quality of Life

#9032 UI: Supply Console Scalability
  tgui/packages/tgui/interfaces/SupplyComputer.tsx
Labels: UI

#9084 Cleanup istype(src) usage in wall leaning
  code/__DEFINES/dcs/signals/atom/mob/living/signals_human.dm
  code/__DEFINES/dcs/signals/atom/mob/signals_mob.dm
  code/game/turfs/walls/walls.dm
  code/modules/animations/animation_library.dm
  code/modules/mob/mob.dm
Labels: Code Improvement

#9047 fixes poddoor bug in tdome and almayer
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  maps/map_files/generic/Admin_level.dmm
Labels: Fix, Mapping

#9038 Removes some large magazine pouches on Hybrisia.
  code/modules/gear_presets/corpses.dm
  code/modules/gear_presets/survivors/lv_759/preset_hybrisa.dm
Labels: Balance, Stale

#9041 Underbarrel Extinguisher Expansion
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/projectiles/guns/smgs.dm
  code/modules/projectiles/guns/specialist/scout.dm
Labels: Balance, Quality of Life

#9046 fixes CO council not getting their jackets
  code/modules/gear_presets/uscm_co.dm
Labels: Fix

#9085 [FIX] propelled chair when not wheeled chair
  code/game/objects/items/tools/extinguisher.dm
Labels: Fix

#8807 Give nurses FC:1|Add Doctor & Researcher playtime to CMO requirement.
  code/__DEFINES/job.dm
  code/datums/skills/uscm.dm
  code/game/jobs/job/civilians/civilian.dm
  code/game/jobs/job/civilians/support/cmo.dm
Labels: Feature, Balance

#9091 Autowiki: Gun templates now omit unwielded stats for two handers
  code/modules/autowiki/pages/guns.dm
  code/modules/autowiki/pages/xeno_stats.dm
Labels: Code Improvement

#9086 Updates & Refactors pitchblende description
  code/game/objects/items/ore.dm
  maps/map_files/BigRed/BigRed.dmm
  maps/map_files/BigRed/standalone/clfmining.dmm
Labels: Feature, Refactor, Grammar and Formatting, Mapping

#8745 New pred invis sound pref + new pred laugh sound
  code/__DEFINES/pred.dm
  code/game/objects/items/reagent_containers/autoinjectors.dm
  code/game/sound.dm
  code/modules/client/pred_picker.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_preds/yaut_actions.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/cm_preds/yaut_mask.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/yautja/fake_voice.dm
  code/modules/mob/living/carbon/human/species/yautja/yautja_sound.dm
  sound/effects/pred_cloakoff_modern.ogg
  sound/effects/pred_cloakon_modern.ogg
  sound/effects/pred_zoom_off.ogg
  sound/effects/pred_zoom_on.ogg
  sound/items/pred_crystal_inject.ogg
  sound/voice/pred_laugh6.ogg
  sound/voice/pred_voice/burn_you.ogg
  sound/voice/pred_voice/forward_marine.ogg
  sound/voice/pred_voice/just_do_it_rookie.ogg
  sound/voice/pred_voice/just_you.ogg
  sound/voice/pred_voice/lucky_you.ogg
  sound/voice/pred_voice/pred_anytime.ogg
  sound/voice/pred_voice/pred_come_on_out.ogg
  sound/voice/pred_voice/pred_helpme.ogg
  sound/voice/pred_voice/pred_itsatrap.ogg
  sound/voice/pred_voice/pred_over_there.ogg
  sound/voice/pred_voice/pred_overhere.ogg
  sound/voice/pred_voice/pred_turnaround.ogg
  sound/voice/pred_voice/pred_ugly_freak.ogg
  sound/voice/pred_voice/tell_me.ogg
  tgui/packages/tgui/interfaces/PredPicker.tsx
Labels: Feature, Balance, Sound, UI, Balance Approved

#8774 weather cleans up floor cleanables
  code/controllers/subsystem/weather.dm
  code/datums/elements/bloody_feet.dm
  code/datums/weather/weather_event.dm
  code/datums/weather/weather_events/big_red.dm
  code/game/objects/effects/decals/cleanable/cleanable.dm
Labels: Feature, Stale Exempt

#9128 adds extended m4ra extended magazine crate for req to buyyyyy
  code/datums/supply_packs/ammo.dm
Labels: Feature

#9103 Adds USCM Black Insulated Gloves to vendors
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_engineer.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_leader.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_tl.dm
  code/modules/clothing/gloves/marine_gloves.dm
Labels: Feature, Fix

#9116 M30 Tactical Helmet Tweaks
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/modules/clothing/head/helmet.dm
Labels: Feature, Grammar and Formatting

#9108 allows crafting m4ra extended boxes with cardboard
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix

#9111 Drop pouch for medbay staff
  code/game/machinery/vending/vendor_types/crew/medical.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
Labels: Feature

#9107 fixes mateba and type 47 storage flags
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/suits/marine_armor/_marine_armor.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Fix

#9119 Adds multiple accessory items to REQ's Surplus Uniform vendor, lets POs choose one holster belt and one storage belt
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
Labels: Feature, Quality of Life, Refactor

#9101 incend mag removal for CO
  code/game/machinery/vending/vendor_types/crew/commanding_officer.dm
  code/modules/projectiles/guns/rifles.dm
Labels: Balance, Balance Approved

#9066 Obliterates thermal glasses from in-rotation maps and goggle spawners.
  code/game/objects/effects/spawners/random.dm
  maps/map_files/Kutjevo/Kutjevo.dmm
  maps/map_files/Sorokyne_Strata/Sorokyne_Strata.dmm
Labels: Balance, Mapping

#8882 added ares automatic command promotion for lack of command staff
  code/__DEFINES/job.dm
  code/game/gamemodes/colonialmarines/colonialmarines.dm
  code/game/jobs/job/civilians/support/cmo.dm
  code/game/jobs/job/command/auxiliary/auxiliary_support_officer.dm
  code/game/jobs/job/command/auxiliary/cas_pilot.dm
  code/game/jobs/job/command/auxiliary/dropship_pilot.dm
  code/game/jobs/job/command/police/chief_police.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/logistics/engi/chief_engineer.dm
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Fix, Mapping

#9136 Fix: Roller beds deploy where you click, and not under you.
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: Fix

#9134 Fixes for medal recomendation modal
  tgui/packages/tgui/components/TextArea.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/styles/components/TextArea.scss
Labels: Fix, UI

#9133 Fixes a flamer bug
  code/modules/projectiles/guns/flamer/flamer.dm
Labels: Fix

#9123 Fix: prevent tank movement if no treads are installed
  code/modules/vehicles/tank/tank.dm
Labels: Fix

#9131 Fix: Runtime when replacing/detaching whilst gun has nothing in the chamber.
  code/modules/projectiles/gun_attachables.dm
Labels: Fix

#9126 fixes defib not having skill checks for use
  code/game/objects/items/devices/defibrillator.dm
Labels: Fix

#9145 deletes bugged preset
  code/modules/gear_presets/other.dm
Labels: Removal

#9070 Fix Tackle Counter resetting when not forcibly floored
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Fix, Stale

#9029 UI: Dropship Flight Control touch up.
  tgui/packages/tgui/interfaces/DropshipFlightControl.tsx
  tgui/packages/tgui/interfaces/NavigationShuttle.tsx
Labels: UI

#9114 Portable Cades Can Be Melted
  code/game/objects/structures/barricade/deployable.dm
Labels: Balance, Balance Approved

#9167 makes throw_carbon a living proc instead of xeno
  code/modules/mob/living/carbon/xenomorph/XenoProcs.dm
Labels: Code Improvement

#9012 When Dropship is on auto. It tells where they are from
  code/modules/shuttle/shuttles/dropship.dm
Labels: Feature, Quality of Life

#8841 Chem property fixes
  code/modules/reagents/chemistry_properties/prop_negative.dm
  code/modules/reagents/chemistry_properties/prop_positive.dm
Labels: Fix, Stale

#9159 Fixes airlocks deleting if no type
  code/game/objects/structures/airlock_assembly.dm
Labels: Fix

#9168 Preds craft more things with sandstone
  code/game/machinery/doors/runed_sandstone.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/barricade/handrail.dm
  code/game/turfs/floor.dm
Labels: Feature

#9158 Fixes sandbags not having damage states (examine)
  code/game/objects/structures/barricade/sandbags.dm
Labels: Fix

#9140 removes duplicate rank pins off USCM recruiter survivor (for #7011)
  code/modules/gear_presets/survivors/survivors.dm
Labels: Removal

#9169 removes the tdome from the admin level, adds verbs for summoning/dispelling tdomes, adds a different tdome option
  code/__HELPERS/level_traits.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/thunderdome.dm
  code/game/area/space_station_13_areas.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/tabs/event_tab.dm
  code/modules/admin/tabs/thunderdome_tab.dm
  colonialmarines.dme
  maps/map_files/generic/Admin_level.dmm
  maps/templates/lazy_templates/thunderdome/generic.dmm
  maps/templates/lazy_templates/thunderdome/snakey.dmm
  maps/templates/thunderdome.dmm
Labels: Mapping, Admin

#9153 Fixes Trijent security not having WY accesses.
  code/modules/gear_presets/survivors/trijent/preset_trijent.dm
Labels: Fix

#9177 Fix race condition for mob logout on connect_mob_behalf
  code/datums/components/connect_mob_behalf.dm
Labels: Fix

#9176 Banished can now alt click to exit a tunnel
  code/modules/cm_aliens/structures/tunnel.dm
Labels: Quality of Life

#9173 Xenos now always bleedout even if they are inside an atom
  code/modules/mob/living/carbon/xenomorph/life.dm
Labels: Fix
