Repository cmss13-devs/cmss13, pull requests merged in 2025-08, with the labels that each got.

#10240 alt iff cares about zlevels now
  code/datums/components/iff_fire_prevention.dm
Labels: Fix, size/XS

#10131 fixes unreloadable sadars being reloadable
  code/modules/projectiles/guns/specialist/launcher/launcher.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/magazines/specialist.dm
Labels: Fix, size/XS

#10237 Add speedloader to MP belt whitelist
  code/game/objects/items/storage/belt.dm
Labels: Feature, size/XS

#10029 M37 Shotgun Stock, Renames the M37A1 to the M37A2
  code/datums/supply_packs/attachments.dm
  code/datums/tutorial/marine/reqs_line.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/machinery/vending/vendor_types/crew/senior_officers.dm
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
  code/game/machinery/vending/vendor_types/intelligence_officer.dm
  code/game/machinery/vending/vendor_types/requisitions.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_prep.dm
  code/game/machinery/vending/vendor_types/wo_vendors.dm
  code/game/objects/structures/crates_lockers/largecrate_supplies.dm
  code/modules/cm_marines/equipment/guncases.dm
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/shotguns.dm
  code/modules/vehicles/interior/interactable/vendors.dm
  icons/obj/items/weapons/guns/attachments/stock.dmi
Labels: Feature, Sprites, Removal, Sprites Approved, size/M

#9968 The ID modification console doesn't allow editing by users other than the original
  code/modules/cm_marines/marines_consoles.dm
Labels: Fix, Good First PR, size/S

#9762 Minor Fix: No longer Click drag items whilst Hauled, Linter fix for SHOULD_CALL_PARENT in attack_self
  code/_onclick/click_hold.dm
  code/_onclick/drag_drop.dm
  code/_onclick/item_attack.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/internal.dm
  code/game/objects/items/storage/storage.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/ties.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living.dm
Labels: Fix, Stale Exempt, size/S

#9893 Scout now has a built in radio telephone in its helmet
  code/modules/clothing/head/helmet.dm
  code/modules/cm_marines/equipment/kit_boxes.dm
  code/modules/cm_phone/phone.dm
  icons/mob/humans/onmob/clothing/head/hats_by_map/classic.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/desert.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/jungle.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/snow.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_map/urban.dmi
  icons/obj/items/clothing/hats/hats_by_map/classic.dmi
  icons/obj/items/clothing/hats/hats_by_map/desert.dmi
  icons/obj/items/clothing/hats/hats_by_map/jungle.dmi
  icons/obj/items/clothing/hats/hats_by_map/snow.dmi
  icons/obj/items/clothing/hats/hats_by_map/urban.dmi
  icons/obj/items/clothing/hats/overlays.dmi
  icons/obj/structures/phone.dmi
  maps/map_files/LV522_Chances_Claim/LV522_Chances_Claim.dmm
  sound/machines/telephone/scout_hang_up.ogg
  sound/machines/telephone/scout_pick_up.ogg
  sound/machines/telephone/scout_remote_hangup.ogg
  sound/machines/telephone/scout_ring.ogg
  sound/machines/telephone/scout_ring_outgoing.ogg
Labels: Feature, Balance, Sound, Sprites, Stale Exempt, Mapping, Balance Approved, Sprites Approved, Mapping Approved, size/M

#9427 external authentication system
  code/__DEFINES/client.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/global_lists.dm
  code/_globalvars/lists/client.dm
  code/_onclick/click.dm
  code/_onclick/hud/map_popups.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/processing/authentication.dm
  code/controllers/subsystem/vote.dm
  code/controllers/subsystem/who.dm
  code/datums/browser.dm
  code/datums/helper_datums/getrev.dm
  code/datums/soundOutput.dm
  code/game/gamemodes/cm_initialize.dm
  code/game/verbs/discord.dm
  code/game/verbs/ooc.dm
  code/game/verbs/preferences.dm
  code/game/verbs/records.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/admin/verbs/pray.dm
  code/modules/clans/client.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences_toggles.dm
  code/modules/escape_menu/escape_menu.dm
  code/modules/escape_menu/home_page.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/mob/living/carbon/human/species/yautja/_species.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/unauthenticated/entity.dm
  code/modules/mob/unauthenticated/unauthenticated.dm
  code/modules/nano/nanoexternal.dm
  code/modules/tgui/external.dm
  code/modules/tgui/tgui-say/typing.dm
  code/modules/tgui_panel/external.dm
  colonialmarines.dme
  interface/interface.dm
  interface/skin.dmf
  tgui/global.d.ts
  tgui/packages/tgui/interfaces/UnauthenticatedMenu.tsx
Labels: Server, UI, size/L

#10312 Gives GP Medical Access
  code/modules/gear_presets/uscm_ship.dm
Labels: Fix, size/XS

#10311 Gives CBRN Rifleman skillless toxin pill bottles
  code/game/objects/items/storage/pouch.dm
  code/modules/gear_presets/cbrn.dm
Labels: Fix, size/XS

#10018 Adds an empty Field Doctor personal crate, adds a Field Doctor replacement supplies crate
  code/datums/supply_packs/medical.dm
  code/game/objects/structures/crates_lockers/secure_crates.dm
  icons/obj/structures/crates.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Feature, Sprites, Code Improvement, Grammar and Formatting, Mapping, Sprites Approved, Mapping Approved, size/S

#9930 MK30 Pilot Visor - New flippable visors for PO's
  code/__DEFINES/vendors.dm
  code/game/machinery/vending/vendor_types/crew/pilot_officer.dm
  code/game/objects/items/devices/helmet_visors.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/humans/onmob/clothing/helmet_garb/huds.dmi
  icons/obj/items/clothing/helmet_visors.dmi
  maps/map_files/USS_Almayer/USS_Almayer.dmm
  sound/handling/helmet_close.ogg
  sound/handling/helmet_open.ogg
Labels: Feature, Sound, Sprites, Mapping, Sprites Approved, Mapping Approved

#10323 fixes a runtime when checking main cursor prefs
  code/modules/mob/unauthenticated/unauthenticated.dm
Labels: Fix, size/XS

#10295 almayer multiz ledges no longer break
  code/game/objects/structures/platforms.dm
Labels: Fix, size/XS

#10341 Adds an antiZed autoinjector
  code/game/objects/items/reagent_containers/autoinjectors.dm
  icons/obj/items/syringe.dmi
Labels: Feature, Sprites, Sprites Approved, size/XS

#10305 Fix Type-19 attachments offsets
  code/modules/projectiles/guns/smgs.dm
Labels: Fix, size/XS

#10348 UACQS Presets
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/civilian.dm
  code/datums/factions/uscm.dm
  code/datums/paygrades/factions/other/civilian.dm
  code/datums/skills/uscm.dm
  code/game/machinery/vending/vendor_types/crew/cia_agents.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/signs.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/cia.dm
  code/modules/paperwork/prefab_papers.dm
  code/modules/paperwork/prefab_papers/uacqs.dm
  colonialmarines.dme
  icons/mob/hud/marine_hud.dmi
  icons/obj/items/clothing/backpack/backpacks.dmi
  icons/ui_icons/map_blips.dmi
Labels: Feature, Sprites, size/L

#10259 Seethrough for queen
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_abilities.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
  code/modules/mob/living/carbon/xenomorph/seethrough.dm
  colonialmarines.dme
Labels: Code Improvement, Testmerge Candidate, size/M

#10363 Queen gets a TACMAP on hijack end
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_abilities.dm
  code/modules/mob/living/carbon/xenomorph/abilities/queen/queen_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Feature, size/XS

#10362 Gives King a tacmap
  code/modules/mob/living/carbon/xenomorph/castes/King.dm
Labels: Feature, size/XS

#10021 Spec priority preference for initial spawn
  code/__HELPERS/sanitize_values.dm
  code/controllers/subsystem/ticker.dm
  code/datums/emergency_calls/whiskey_outpost.dm
  code/game/jobs/job/job.dm
  code/game/jobs/role_authority.dm
  code/game/machinery/vending/cm_vending.dm
  code/game/machinery/vending/vendor_types/squad_prep/squad_specialist.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/cm_marines/specialist.dm
  code/modules/tgui_input/checkboxes.dm
Labels: Feature, Code Improvement, size/M

#10371 Fixes King corpse not giving intel
  code/modules/objectives/mob_objectives.dm
Labels: Fix, size/XS

#10250 Acider Runner Trap Filling
  code/modules/cm_aliens/structures/trap.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/abilities/runner/runner_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
  code/modules/mob/living/carbon/xenomorph/castes/Burrower.dm
  code/modules/mob/living/carbon/xenomorph/strains/castes/runner/acid.dm
Labels: Fix, Balance, Refactor, Balance Approved, size/L

#10286 Sticky keys pt 2: Release on blur
  tgui/packages/tgui/events.ts
  tgui/packages/tgui/hotkeys.ts
Labels: Fix, UI, size/M

#10370 Fixes kill feed removing the first letter of the weapon
  code/datums/statistics/entities/panel_stats.dm
Labels: Fix, size/XS

#10247 Queens can rest again
  code/modules/mob/living/carbon/xenomorph/castes/Queen.dm
Labels: Balance, size/XS

#10359 Makes unhauling trigger eggmorphers + egg_triggers () + egg morphers only try to hug non-xenos
  code/modules/cm_aliens/structures/special/egg_morpher.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, size/XS

#10413 Removes Duplicate Flashlight Grip entries in M37 and M37A2 attachment list
  code/modules/projectiles/guns/shotguns.dm
Labels: Fix, size/XS

#10242 Changes hivelord minimum evolve time from 3 minutes to 4 minutes
  code/modules/mob/living/carbon/xenomorph/castes/Hivelord.dm
Labels: Quality of Life, size/XS

#10410 Berserker Rav Description Fix
  code/modules/mob/living/carbon/xenomorph/strains/castes/ravager/berserker.dm
Labels: Feature, Grammar and Formatting, Removal

#10421 fixes light fixture deconstruction getting stuck on removing the light fitting
  code/modules/power/lighting.dm
Labels: Feature, Fix, Good First PR

#10429 fixes some vehicle vend code
  code/game/machinery/vending/vendor_types/crew/vehicle_crew.dm
Labels: Fix, size/XS

#10398 CO surv bugfixes bugfixes
  code/game/objects/effects/landmarks/survivor_spawner.dm
Labels: Fix, size/XS

#8959 Speech bubble update
  code/datums/langchat/langchat.dm
  code/modules/cm_preds/yaut_bracers.dm
  code/modules/gear_presets/synths.dm
  code/modules/gear_presets/uscm_event.dm
  code/modules/gear_presets/yautja.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/tgui/tgui-say/typing.dm
  icons/mob/effects/talk.dmi
Labels: Feature, Fix, Sprites, Stale Exempt, Sprites Approved, size/M

#10455 Fixes CL briefcase typo
  code/game/objects/items/devices/portable_vendor.dm
Labels: Grammar and Formatting, size/XS

#10447 Forsaken ERT no longer says that an emergency beacon has been activated
  code/datums/emergency_calls/forsaken_xenos.dm
Labels: Quality of Life, size/XS

#10482 Strips \improper formatting from fulton object names
  code/modules/cm_marines/dropship_equipment.dm
Labels: Fix, size/XS

#10459 Fixes ASRS console not closing when broken
  code/game/supplyshuttle.dm
Labels: Fix, size/XS

#10458 Sentries now correctly process mobs inside inventories
  code/modules/defenses/sentry.dm
Labels: Fix, size/S

#10478 forecon crew monitor
  code/__DEFINES/job.dm
  code/datums/factions/uscm.dm
  code/game/jobs/job/special/uscm.dm
  code/modules/cm_marines/marines_consoles.dm
  code/modules/gear_presets/uscm_forecon.dm
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CrewConsole.tsx
Labels: Feature, UI, size/S

#10451 C4 and subtypes require adjacency to plant
  code/game/objects/items/explosives/plastic.dm
Labels: Fix, size/XS

#10463 Fixes Central overwatch not showing correct rank for Lt.Col+
  code/modules/cm_marines/overwatch.dm
  tgui/packages/tgui/interfaces/CentralOverwatchConsole.tsx
Labels: Fix, UI, size/S

#10490 Fixed Typo from Dapening to Dampening
  code/modules/cm_marines/equipment/gear.dm
Labels: Grammar and Formatting, size/XS

#10425 HPR and RPG resprite
  code/modules/projectiles/gun_attachables.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/projectiles/guns/specialist/launcher/rocket_launcher.dm
  code/modules/projectiles/magazines/rifles.dm
  code/modules/projectiles/magazines/specialist.dm
  icons/mob/humans/onmob/clothing/back/guns_by_type/machineguns.dmi
  icons/mob/humans/onmob/clothing/suit_storage/guns_by_type/machineguns.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/machineguns_lefthand.dmi
  icons/mob/humans/onmob/inhands/weapons/guns/machineguns_righthand.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/machineguns.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/ammo_by_faction/WY/machineguns.dmi
  icons/obj/items/weapons/guns/attachments/stock.dmi
  icons/obj/items/weapons/guns/attachments/under.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/machineguns.dmi
  icons/obj/items/weapons/guns/guns_by_faction/USCM/rocket_launchers.dmi
  icons/obj/items/weapons/guns/guns_by_faction/WY/machineguns.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/classic/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/desert/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/jungle/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/snow/suit_slot.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/back.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_lefthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_obj.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/guns_righthand.dmi
  icons/obj/items/weapons/guns/guns_by_map/urban/suit_slot.dmi
  icons/obj/items/weapons/guns/lineart.dmi
Labels: Feature, Fix, Balance, Sprites, Sprites Approved, size/M

#10355 stops people attempting to view the cameras of gibbed marines, preventing a runtime and fixing CMSS13-8Z
  code/modules/cm_marines/overwatch.dm
Labels: Fix, size/XS

#10314 Adds a button to secure storage from the inside
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved, size/XS

#9543 Functional Xeno Restraints
  code/__DEFINES/typecheck/xenos.dm
  code/_onclick/human.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/legcuffs.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/mob/living/carbon/xenomorph/XenoAttacks.dm
  code/modules/mob/living/carbon/xenomorph/Xenomorph.dm
  code/modules/mob/living/carbon/xenomorph/attack_alien.dm
  icons/obj/items/security.dmi
  maps/map_files/BigRed/standalone/crashlanding-eva.dmm
  maps/map_files/BigRed/standalone/crashlanding-offices.dmm
  maps/map_files/CORSAT/Corsat.dmm
  maps/map_files/LV624/maintemple/1.intact.dmm
  maps/predship/huntership.dmm
Labels: Feature, Fix, Sprites, Stale Exempt, Mapping, Mapping Approved, size/M

#9958 Solaris PMC Nightmare CO Variant.
  code/__DEFINES/job.dm
  code/__DEFINES/paygrade_defs/weyland.dm
  code/datums/factions/pmc.dm
  code/datums/paygrades/factions/wy/pmc.dm
  code/datums/skills/civilian.dm
  code/game/objects/effects/landmarks/survivor_spawner.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/head/WY/pmc.dm
  code/modules/gear_presets/survivors/solaris/crashlanding-offices_insert_bigred.dm
  icons/mob/hud/marine_hud.dmi
  icons/mob/humans/onmob/clothing/back/backpacks_by_faction/WY.dmi
  icons/mob/humans/onmob/clothing/head/hats_by_faction/WY.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_lefthand.dmi
  icons/mob/humans/onmob/inhands/clothing/backpacks_righthand.dmi
  icons/obj/items/clothing/backpack/backpacks_by_faction/WY.dmi
  icons/obj/items/clothing/hats/hats_by_faction/WY.dmi
Labels: Feature, Sprites, UI, Sprites Approved, size/M

#10475 Tweak acid fill
  code/modules/cm_aliens/structures/trap.dm
  code/modules/mob/living/carbon/xenomorph/abilities/general_powers.dm
  code/modules/mob/living/carbon/xenomorph/castes/Boiler.dm
Labels: Fix, size/XS

#10480 OT Lab changes
  maps/map_files/USS_Almayer/USS_Almayer.dmm
Labels: Mapping, Mapping Approved

#10502 Survivor lighting tweak
  code/game/objects/items/storage/pouch.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Balance, Balance Approved, size/XS

#10313 Fixes Inability to do surgery on lifeboat catwalk
  code/game/turfs/open.dm
  maps/shuttles/lifeboat-port.dmm
  maps/shuttles/lifeboat-starboard.dmm
Labels: Fix, Mapping, Mapping Approved, size/XS

#10525 Rephrases Renegade defection message and adds an announcement for marines when Renegades appear
  code/modules/mob/living/carbon/xenomorph/hive_status.dm
Labels: Feature, size/XS
